[2016-03-23 08:30] manishgs commented on #772
Here is the regenerated csv file as you requested.
[export2016-03-23.csv.zip](https://github.com/NRGI/resourcecontracts.org/files/185554/export2016-03-23.csv.zip)

Can you please explain how researcher are doing harmonization of annotations? Are they doing from admin system itself or on[ spreadsheet](https://docs.google.com/spreadsheets/d/1j95EpG0Wyc699aR7QK6-X-UfT6MsI2sz8MNo0soEsEc/edit#gid=67537

[2016-03-23 11:02] hello-deepak commented on #809
Resource field is free text in admin part . So user can also type text and submit rather than selecting from  resource drop down .
![resource contracts](https://cloud.githubusercontent.com/assets/7577697/13983217/6cb160a6-f116-11e5-9341-a9a9c46308af.png) .

We do not have "Other minerals" in resource drop down. So please confirm about changing 'Other', 'other', 'Other minerals' and 'other minerals

[2016-03-23 11:42] hello-deepak commented on #835
For aggregating contract based on language :

`{
   "size": 0,
   "aggregations": {
      "language_summary": {
         "terms": {
            "field": "metadata.language"
         }
      }
   }
}`

I found the correct data.
Similarly for "signature_year".

For aggregating resource you can use "resource_raw" of type metadata. Cause the data type of resource in master is analyzed . We have mapped

[2016-03-23 13:15] SamCCSI commented on #772
Thanks @manishgs

Our researcher has been making changes in the backend (editing or deleting annotations).

He will check this revised spreadsheet now, and I will get back to you.

Can you confirm that you will not auto-harmonize annotations on contracts from the Philippines? cc @anderspeders @charlesyoung

[2016-03-23 13:52] JesseCCSI commented on #836
Just to note that OLC is now displaying 74 contracts in the tally

[2016-03-23 13:55] JesseCCSI opened #839 "Removed annotation categories re-appearing in dropdown"
Some previously removed annotation categories have re-appeared in the category dropdown on the advanced search page -- Please see screenshot below

![screen shot 2016-03-23 at 09 54 21](https://cloud.githubusercontent.com/assets/14910764/13987309/57392a12-f0dd-11e5-9f8d-d59e4574d7f2.png)

[2016-03-23 16:16] anderspeders commented on #821
@hello-deepak Could please confirm this by updating the API documentation?

[2016-03-23 17:26] SamCCSI opened #840 "MT Error when clicking "Send to RC""
This contract has had all of its pages approved from the MT transcriptions but when I click the green button to Send to RC, there is an error message.
http://resourcecontracts.elasticbeanstalk.com/mturk/1044

[2016-03-23 19:40] JesseCCSI commented on #806
Thanks @manishgs -- I'll try this out next week and confirm that it works before we close the ticket.

[2016-03-24 04:43] manishgs commented on #830
If we allow multiple countries for a contract then following changes need to be considered.
1. update OCID
2. list government entities
3. ES index - metadata and master type
4. update all APIs
5. Subsite - search, detail, view page
6. create command to update current contract metadata

Questions:
1. How do we update OCID?
2. Can user allow to add as many countries as they want? or there will be li

[2016-03-24 09:11] charlesyoung commented on #645
Two different error messages for the same issue. The text/PDF of below contract has not yet been published.

![image](https://cloud.githubusercontent.com/assets/13888372/14012752/8f8e4b9e-f1b0-11e5-8645-dc386c8f4903.png)

![image](https://cloud.githubusercontent.com/assets/13888372/14012761/a1ccc7f4-f1b0-11e5-95a0-70ec3d169f58.png)

http://www.resourcecontracts.org/contract/ocds-591adf-LR947253873

[2016-03-24 11:27] hello-deepak commented on #839
I found  two contracts containing these categories "4. Environmental provisions//4. Dispositions environnementales "  and "3. Developers financial obligations//3. Obligations financières du détenteur du titre" .

http://admin.resourcecontracts.org/contract/1134
http://admin.resourcecontracts.org/contract/1133

Please edit and replace the annotation categories with correct category and publish it.

[2016-03-24 18:11] SamCCSI commented on #839
Thanks, these should not have been published at all -- all of those
annotations have now been removed.

On Thu, Mar 24, 2016 at 7:27 AM, Deepak <notifications@github.com> wrote:

--

*SAM SZOKE-BURKE*
*Legal Researcher**Columbia Center on Sustainable Investment*
Columbia Law School | The Earth Institute, Columbia University
435 W116th St. New York, NY 10027
| (+1)(212) 854-2635 <+1212-854-2635> |

[2016-03-24 20:20] JesseCCSI commented on #836
Looks like @SamCCSI may have resolved this -- please do not close the ticket until we confirm, but no need to look into this at this point. Thanks.

[2016-03-25 04:22] #839 closed

[2016-03-25 04:27] #822 closed

[2016-03-25 04:28] #818 closed

[2016-03-25 04:31] #804 closed

[2016-03-25 15:29] SamCCSI commented on #709
Not sure what the status is for this ticket — the front-end doesn't seem to reflect the mock-up yet?

[2016-03-25 15:37] manishgs commented on #709
We haven't deployed sprint 14 tasks yet. We are waiting reply from @anderspeders for deployment.

[2016-03-25 15:38] SamCCSI opened #841 "Error - PDF file is encrypted"
http://resourcecontracts.elasticbeanstalk.com/contract/1212

How to resolve?

Here's what it looks like on the front-end: http://www.resourcecontracts.org/contract/ocds-591adf-TL0008220745RC/view

[2016-03-25 15:41] SamCCSI opened #842 "404 error for published contract"
Contract is published and appears on search results
http://resourcecontracts.elasticbeanstalk.com/contract/1339

But when you click on the result to take you to the contract page you receive a 404 error: http://www.resourcecontracts.org/contract/ocds-591adf-CN7577314666RC/view

![image](https://cloud.githubusercontent.com/assets/12913915/14047498/7f2d389a-f27e-11e5-8fd9-50a36dd2a8fa.png)
![image](

[2016-03-25 17:38] SamCCSI commented on #842
Another example: http://www.resourcecontracts.org/contract/-1051/view

The advanced search page erroneously inserts "-" infront of the contract number, which makes the link not work.

[2016-03-25 17:40] SamCCSI opened #843 "Error loading contract"
"We're sorry, there is a problem loading the contract. Please contact info-resourcecontracts@resourcegovernance.org to let us know, or check back later."
Contract has been published on backend.
http://www.resourcecontracts.org/contract/1051/view

[2016-03-28 10:18] manishgs commented on #830
We need answer of above questions to work on this issue.
@anderspeders

[2016-03-28 11:04] hello-deepak commented on #843
Its fixed .

[2016-03-28 11:04] #843 closed

[2016-03-28 11:16] upasna01 commented on #828
This issue is resolved. Please review it.

[2016-03-28 11:16] #828 closed

[2016-03-28 11:17] upasna01 commented on #810
The issue is resolved. Please review the change

[2016-03-28 11:17] #810 closed

[2016-03-28 11:18] upasna01 commented on #807
The issue have been fixed. Please change the review.

[2016-03-28 11:18] #807 closed

[2016-03-28 11:19] manishgs commented on #838
Its fixed for "Zambales Diversified Metals..." contract when I publish it. Now showing "Platinum Group Metals" on frontend.

For contract  "YPFB Pluspetrol ..." there is an error while indexing in Elastic search due to invalid date format. Please update signature date 2006-10-00 to valid one and publish it.

[2016-03-28 11:21] #838 closed

[2016-03-28 11:24] #813 closed

[2016-03-28 11:41] upasna01 commented on #834
Validation before deleting a user in admin have implemented

[2016-03-28 11:41] #834 closed

[2016-03-28 11:47] hello-deepak commented on #812
We have found these annotations category which is not available in our list in following contracts.

Audit
http://admin.resourcecontracts.org/contract/176
http://admin.resourcecontracts.org/contract/175
http://admin.resourcecontracts.org/contract/18
http://admin.resourcecontracts.org/contract/1185
http://admin.resourcecontracts.org/contract/173

General Information
http://admin.resourcecontracts.o

[2016-03-28 11:51] manishgs commented on #820
Done.

[2016-03-28 11:51] #820 closed

[2016-03-28 11:52] manishgs commented on #840
fixed.

[2016-03-28 11:52] #840 closed

[2016-03-28 11:55] #833 closed

[2016-03-28 11:55] manishgs commented on #782
Please reopen if you encounter this issue again.

[2016-03-28 11:55] #782 closed

[2016-03-28 12:16] upasna01 commented on #691
Browser spell-check is enabled, as other spell-check plugins were not available free of cost. Please review the change
![font](https://cloud.githubusercontent.com/assets/11477899/14077779/04c85646-f50f-11e5-8bdc-7663168a3b58.png)

[2016-03-28 12:16] #691 closed

[2016-03-28 12:17] upasna01 commented on #692
The issue have been fixed. Please review the change.
![font](https://cloud.githubusercontent.com/assets/11477899/14077791/35097682-f50f-11e5-83ef-a26211fa735e.png)

[2016-03-28 14:59] anderspeders commented on #830
I will check with Perrine and @samCCSI regarding the use case, as this seems to be a complicated case to handle for a very limited amount of contracts.

[2016-03-28 15:11] anderspeders commented on #772
Thanks @SamCCSI,

The deployment of the finalized annotation module is pending on the completion of your review. Please confirm when you will have this completed - would Wednesday COB this week be possible?

With regards to the second question; I am unsure what the implications will be for the Philippines site.

[2016-03-28 15:24] anderspeders commented on #821
I am missing the field [Jurisdiction of incorporation] in the API.

[2016-03-28 15:27] anderspeders commented on #821
Participation share is a statement about the relationship between the entities company and contract, not an attribute of the company.

[2016-03-28 16:57] jpmckinney commented on #821
Participation share is a statement about the relationship between the entities company and contract, not an attribute of the company.

The share is not a property of the company in the API.

[2016-03-28 16:59] jpmckinney commented on #821
This should be the `name` of the `creator` of the company's `identifier` (i.e. the name of the company register).

[2016-03-28 17:50] SamCCSI commented on #812
Done.

On Mon, Mar 28, 2016 at 7:47 AM, Deepak <notifications@github.com> wrote:

--

*SAM SZOKE-BURKE*
*Legal Researcher**Columbia Center on Sustainable Investment*
Columbia Law School | The Earth Institute, Columbia University
435 W116th St. New York, NY 10027
| (+1)(212) 854-2635 <+1212-854-2635> | (+1)(646) 630-4123 <+1646-630-4123>
| s.burke@columbia.edu
| www.ccsi.columbia.edu | @CCSI_Columb

[2016-03-29 04:38] sadhakbj commented on #784
-

[2016-03-29 04:38] #784 closed

[2016-03-29 05:37] manishgs opened #844 "Scoping for User Permissions"
There are some confusions for user role and permissions. To clarify the confusion i 've listed current  permissions and proposed user role and permissions. Please review the permissions and let us know your comments.

**Current system have following user role and permissions**

Role | Permissions for Contract | Permissions for User Management | Activity Logs | Mechanical Turk
-------|-------|-----

[2016-03-29 05:55] manishgs commented on #841
There are free online tool available to unlock encrypted pdf file.  You can[ this site] (http://www.pdfunlock.com/) to remove restrictions and re-upload the file.

[2016-03-29 10:22] hello-deepak commented on #842
These two contracts are the parent contracts of each other .

http://admin.resourcecontracts.org/contract/1339
http://admin.resourcecontracts.org/contract/1338

which violate the rules of associated contracts .

So please edit the contract (parent contract)  and publish the metadata.

[2016-03-29 10:25] hello-deepak commented on #811
Fixed.
![resourcecontracts org search contracts](https://cloud.githubusercontent.com/assets/7577697/14105032/c3fc1ade-f5c8-11e5-8a8f-446028332274.png)

[2016-03-29 10:25] #811 closed

[2016-03-29 10:29] hello-deepak commented on #709
Language and document type is part of filter.
![1](https://cloud.githubusercontent.com/assets/7577697/14105087/0d1b537e-f5c9-11e5-94bb-3b804d8ee1d1.png)

[2016-03-29 10:29] #709 closed

[2016-03-29 11:17] manishgs commented on #795
done.

[2016-03-29 11:21] manishgs commented on #763
Both paragraphing feature and color changes of comment box have be done.

[2016-03-29 11:21] #763 closed

[2016-03-29 11:29] manishgs commented on #580
done https://github.com/NRGI/resourcecontracts.org/issues/709

[2016-03-29 14:39] KaitlinCCSI commented on #580
Thanks, but this doesn't seem to capture docs correctly? I just checked on OLC, and only 4 contracts came up when selecting "French," even though at the very least all of the DRCongo contracts are in French, and there are 14 of them. Re-opening to investigate this.

[2016-03-29 17:21] charlesyoung commented on #772
@manishgs will it be possible to pull a spreadsheet only focusing on the Philippines?

[2016-03-29 17:50] SamCCSI commented on #763
@manishgs this will be very helpful. Thank you.

[2016-03-29 17:57] SamCCSI commented on #795
@manishgs this contract still does not have a 'reset all' button: http://resourcecontracts.elasticbeanstalk.com/mturk/683

(or does the button only appear when hits 'expire'?)

[2016-03-29 17:58] KaitlinCCSI commented on #795
re-opening for Sam's comment above

[2016-03-30 03:38] manishgs commented on #795
As you requested we have implemented auto-reset featured. The Mturk reset command is running everyday and priority set to less number of contract to be reset first.

[2016-03-30 03:40] #835 closed

[2016-03-30 03:48] manishgs commented on #826
will address in this issue  https://github.com/NRGI/resourcecontracts.org/issues/844

[2016-03-30 03:48] #826 closed

[2016-03-30 04:05] upasna01 commented on #580
@KaitlinCCSI  Only four contracts metadata are published with the category of Open Land Contracts, unpublished contracts are not displayed, so not all contracts are shown in search page.

[2016-03-30 06:08] charlesyoung commented on #844
Looks good. We need a country user that has no rights to publish contracts which above addresses.

[2016-03-30 11:59] charlesyoung commented on #832
@anjesh can you please remove ‘Stabilization Agreement’ from the document type drop down list as its a contract type.

[2016-03-30 12:40] charlesyoung opened #845 "Adding an Associated Document"
The document type is currently pulled from the main contract when adding an associated document. The document type needs to remain required but should be blank because the associated documents document type could be different form the main contracts document type.

A question; the type of contract is currently also pulled from the main contract when adding an associated document. Will an associate

[2016-03-30 13:55] SamCCSI commented on #845
@charlesyoung Associated documents can be contracts (in which case they will have a contract type).

[2016-03-30 14:00] charlesyoung commented on #845
OK thanks @SamCCSI.

Do we then pull the main contracts contract type when adding an associated document or leave it blank?

[2016-03-30 15:26] KaitlinCCSI commented on #580
The DRC contracts are published. See screenshots: 14 contracts from the DRC (all are in French), but only 4 appear when searching French-language contracts. @upasna01 - do you mean that only 4 contracts have French language selected on the back end?
![screen shot 2016-03-30 at 10 24 07 am](https://cloud.githubusercontent.com/assets/14825437/14147575/ae8e54d4-f661-11e5-997c-da0b1566672d.png)
![scre

[2016-03-30 15:57] SamCCSI commented on #845
@charlesyoung  I would leave it blank - more often than not contract type will be different for the main and associated document.

Eg. The main contract might be a concession agreement, and the associated document might be a MOU. For both, Doc type = Contract, but the contract type will vary.

[2016-03-30 16:22] KaitlinCCSI commented on #580
@upasna01 Sorry, it seems like they were incorrectly tagged on the backend. Closing ticket for now; will re-open if there are other problems. Thanks.

[2016-03-30 16:22] #580 closed

[2016-03-31 04:05] hello-deepak commented on #821
Here is mapping of form in admin site and api data .

[code]

[2016-03-31 06:16] upasna01 commented on #772
[Here](https://docs.google.com/spreadsheets/d/1j95EpG0Wyc699aR7QK6-X-UfT6MsI2sz8MNo0soEsEc/edit#gid=1643753439) is the annotations for Philippines.

[2016-03-31 07:48] charlesyoung commented on #845
When adding associated documents the following needs to change.

1. Document type should be left **blank **and remain mandatory
2. Contract type should be left **blank **and remain non mandatory

[2016-03-31 10:30] charlesyoung commented on #190
Is adding contract status to the metadata likely to happen?

[2016-03-31 11:54] charlesyoung opened #846 "External notifications"
I've been asked a couple of times if RC allows for notifications based on users selection criteria. As an example; send me an email when new contracts or supporting documents are published for the DRC.

Not a priority so labeled as blue sky.

[2016-03-31 11:55] anderspeders commented on #190
The data that we capture in RC.org is based on the time of the contract signature. Thus the information is not meant to be correct and updated at all times.

Therefore contract status should in my opinion not be included.

For extractives projects - which has a related contract - we will be capturing this type of information in resourceprojects.

[2016-03-31 12:12] anderspeders commented on #772
Ok, @upasna01 @manishgs @anjesh,

We have not done any edits to the Pilippines annotations.

We are ready to go on the implementation here. Please address if you have any questions.

[2016-03-31 12:15] anderspeders commented on #836
Can we close this?

[2016-03-31 13:59] KaitlinCCSI commented on #190
@anderspeders Given that the advisory group raised this years ago, shouldn't we consider this further? Not all info on the summary page necessarily comes from the time of the contract sig. There are other pieces of info that have been added to this new platform that are pulled from other places and not strictly from the contract -- for example, OpenCorporates ID. Also, if we have the ability (even

[2016-03-31 14:11] JesseCCSI commented on #836
Thanks @anderspeders we're still looking in to this - can we leave open until we confirm whether it's a bug or contracts published in error?

cc @KaitlinCCSI @SamCCSI

[2016-03-31 16:36] SamCCSI commented on #772
@anderspeders what does 'implementation' mean here? Is there a risk that the auto-harmonization will alter the Philippines annotations? If so, this should be avoided. cc @charlesyoung

[2016-04-01 05:12] upasna01 commented on #555
The issue have already been resolved, so I think this issue can be closed for now.

[2016-04-01 05:12] #555 closed

[2016-04-01 09:09] upasna01 commented on #812
The issue seems to be resolved. I think this can be closed now.

[2016-04-01 09:09] #812 closed

[2016-04-02 00:51] KaitlinCCSI commented on #186
@anderspeders @jedm @charlesyoung Do we need a quick call next week to finalize decisions on this?

[2016-04-04 12:36] SamCCSI opened #847 "Error: "looks like something went wrong""
From our annotator:

I have been annotating this contract the past two days- http://resourcecontracts.elasticbeanstalk.com/contract/790.

I am now unable to access it. Everytime I now try to open the page, it says something went wrong.

![image](https://cloud.githubusercontent.com/assets/12913915/14248032/4c439950-fa40-11e5-940b-a81827948c13.png)

[2016-04-04 14:19] anderspeders commented on #847
@anjesh @manishgs Could you follow up here?

[2016-04-05 03:51] upasna01 commented on #847
The issue is fixed now.

[2016-04-05 03:51] #847 closed

[2016-04-11 00:36] jedm commented on #789
Per #22 , suggestions for hovers added to Google doc linked below. Hovers in mockups from @manishgs above are numbers in vertical order for reference in Google doc.

[2016-04-11 00:40] jedm commented on #789
For mockup attached above:

- Add "learn more" link or (?) (or standard Help link for RC/OLC) and link that to full explanation of Clips function
- Change name of function from "Clip" to "Clips"

[2016-04-11 00:50] jedm commented on #789
For [last mockup](https://cloud.githubusercontent.com/assets/3942999/13741902/f829104c-ea00-11e5-84de-79c0f2901807.png) attached above:

- Not sure how share functions and options would work - need clarification from YI
- Design, icons and UX for share, download, print, should match share tools in rest of site
- Would this layout look same as standard Search results display as spec-ed or different

[2016-04-11 01:10] jedm commented on #186
_Unrelated to decisions requested by @anjhero _:

- Buttons noted below should say "View All," not "View All [xxxxx]" (because it is documents that user will get, technically, not a list of the resources or countries)
- An alternative would be to say "View by Resource" or "View by Country"
- Capitalization is inconsistent currently - what is site standard for capitalizing second word in a button?

[2016-04-11 01:29] jedm commented on #785
Regarding Annotations download available from Search results page, some elements spec-ed with Anders still not available:

- need unique URL of contract
- need boilerplate text noting original of this information (1-line explanation of RC/OLC and repeat of Contract unique URL)

Also, regarding the Download menu, recommend changing to:

PDF
MS WORD
MS EXCEL (Annotations Only)

@anderspeders @charle

[2016-04-11 01:33] jedm commented on #552
Some elements from [February recommendations](https://github.com/NRGI/resourcecontracts.org/issues/552#issuecomment-178641254) still needed in download template.

[2016-04-11 02:02] jedm commented on #638
Possible to make "Learn more" link an anchor to FAQ item 11 instead of just to FAQ? May confuse people.

[2016-04-11 03:13] jedm commented on #22
@anjesh - @anderspeders created an inventory document and I have contributed the first round of content and questions here:

**https://docs.google.com/spreadsheets/d/1Mn9hlhvqObC6MFOylkqRuN9gYpNfCCTGYnRgiEkWUws/edit?usp=sharing**

As the site and sub-sites get refined, the hovers document will likely need to be a living document for a 1 or 2 sprints. Thanks very much!

Jed

[2016-04-11 12:08] charlesyoung commented on #785
@jedm I agree with your download menu suggestions.

[2016-04-11 12:13] jedm commented on #785
Cool, thanks Charles.

@anjesh, if others agree with the Download menu adjustment, is it possible to put a line-break before "(Annotations only)"? Possible to make italic? (Will look better than with parentheses.)

[2016-04-11 12:37] charlesyoung opened #848 "Associated document not displaying"
An uploaded associated document isn't displayed in the public portal although it is in the admin portal.

Admin portal:
http://resourcecontracts.elasticbeanstalk.com/contract/698

Public portal:
http://www.resourcecontracts.org/contract/ocds-591adf-SL8603124059RC

[2016-04-12 11:17] #848 closed

[2016-04-12 14:57] charlesyoung opened #849 "Associated documents - contract count and display"
Apologies for another post on the contract count and associated documents display but I'm not sure about the final outcome of our discussions.

I uploaded a Sierra Leone EIA and it shows is the contract count as well in the list. It shouldn't show in the contract count but do we show it in the list?

![image](https://cloud.githubusercontent.com/assets/13888372/14463217/7bac6d62-00ca-11e6-8c31-bfd8

[2016-04-12 15:20] jedm commented on #819
Also noted in #70 and #116. Alternative to required login would be limiting duration of saving Clips to only session length.

[2016-04-12 18:20] anderspeders commented on #789
Thanks @jedm,

@manishgs: Can you review please?

[2016-04-13 08:35] charlesyoung commented on #645
Still getting the 'We're sorry, there is a problem loading the contract. Please contact info-resourcecontracts@resourcegovernance.org to let us know, or check back later.' error when the text/pdf has not been published.

http://www.resourcecontracts.org/contract/ocds-591adf-SL0498783225RC-1832/view

![image](https://cloud.githubusercontent.com/assets/13888372/14487530/5d070be4-0163-11e6-97c9-66ad0

[2016-04-14 00:51] jedm commented on #470
@anderspeders and @anjesh Did this make it into one of the last 2 sprints?

[2016-04-14 03:40] manishgs commented on #789
We are not implementing clips f

[2016-04-14 03:52] manishgs commented on #789
Current UI have clip icon to add/remove annotation. It'll make user easier to clip/unclip annotation. I don't think it will make visual clutter in annotation list.

User can share clipped annotation via email. An email will be sent with a link. Shared link will be same excep  page can view the clipped annotation by the

[2016-04-14 04:13] manishgs commented on #789
From user prospective, Clips function on/off feature will add additional step to them so we can skip this feature. If user is viewing annotation they can directly clip/unclip annotation without scrolling to top and on/off the feature. I don't think having clip icon in annotation list will make visual clutter.

User can share clipped annotation via email.  User can share clips to multiple emails.

[2016-04-14 04:16] jedm commented on #789
@manishgs Clipping is an activity that many people will not do, so we should include the On/Off function as spec-ed.

Regarding the other elements, will compile questions for clarification after this week's group check-in. Many thanks for these initial replies!

[2016-04-14 04:22] manishgs commented on #806
Closing this issue. Please open again if you encounter any issue.

[2016-04-14 04:22] #806 closed

[2016-04-14 04:25] manishgs commented on #821
Company data are all present on API so closing this issue.

[2016-04-14 04:25] #821 closed

[2016-04-14 06:02] manishgs commented on #470
added to sprint #15

[2016-04-14 08:02] charlesyoung commented on #849
Link: Add / displaying associated documents without having them appear in contract number tally #603

[2016-04-14 08:02] charlesyoung commented on #603
@anderspeders @SamCCSI @KaitlinCCSI what is the latest re this ticket?

[2016-04-14 11:39] charlesyoung opened #850 "Mechanical Turk"
I wanted to reset the pending Sierra Leone Mechanical Turk pages but received a 'HIT could not be reset' error. The error is because we only have a very low balance in our account. These tasks should have been auto-reset after the 10 days period but couldn't because of the low balance.

cc @anderspeders

[2016-04-14 13:18] SamCCSI commented on #849
Hi Charles,

EIA is a doc type, not a contract type. So it will show up if you just filter all of Sierra Leone's documents. But if you also add to the filter Doc Type = Contract, then the EIA won't appear.

In our proposal on associated documents and contract tallies, we set this out, and also asked for the word "contracts" in the circle to be changed to "documents", to make this more consistent w

[2016-04-14 16:25] anderspeders commented on #819
A) Can you clarify if the clipping feature will require login and why?

B) Which part of the feature could be delivered *without* requiring login?

@anjesh @manishgs

[2016-04-14 17:01] anderspeders opened #851 "Clips - questions re. Annotation view, download"
![image](https://cloud.githubusercontent.com/assets/1101585/14536510/c0dd2274-0240-11e6-8958-013689c11a43.png)

For the annotation clipping we will need to understand if the following options from the spec document submitted can be included:

1) Can **download file,** include a column with the direct URL links to each clipped annotation: for example: http://rc-site-demo.elasticbeanstalk.com/olc/pu

[2016-04-14 17:33] jedm commented on #851
_edited above post to add some details and clarifications_

[2016-04-14 18:18] SamCCSI commented on #603
I think this thread can be closed.
- The original post on this thread has been superseded by our proposal document for contract tallies and associated documents.
- The Doc Type search filter has been added.
- We will only have one circle with one tally, but it should read "Documents," not "Contracts" as mentioned in another thread today.

[2016-04-14 19:32] SamCCSI opened #852 "Changes to annotation module: hovering annotation window"
1. Delete "Related Annotations" from the hovering annotation window.
2. Delete the art. ref directly following the text in the hovering annotation window.
3. Delete the "Page x >>" hyperlink from the the hovering annotation window.
4. ALL article and page references to be included in the bottom line of both the annotation window.
5. Each page hyperlink should only contain the articles that are con

[2016-04-14 19:33] SamCCSI opened #853 "Changes to annotation module: buggy hovering annotation window"
The hovering annotation windows still seem buggy
- sometimes they appear, other times they don’t;
- sometimes they are cut off, other times they are not;
- @charlesyoung also noted on March 2 that they don’t necessarily appear in the right place on the page. We’ve also experienced this a couple of times when testing the new version today (but certainly less than on previous occasions with the curr

[2016-04-14 19:38] SamCCSI opened #854 "Changes to annotation module: annotation column display"
Problem: In the scrolling annotation column, the way things are grouped doesn’t match up with our previous suggestions: at the moment, the page number is listed and then all of the relevant articles are listed (not just the articles on the relevant page), and the whole line is hyperlinked to the page number.

![image](https://cloud.githubusercontent.com/assets/12913915/14541152/8afa3ef6-0256-11e6-

[2016-04-14 19:49] SamCCSI opened #855 "Changes to annotation module: problems when zooming"
The size of the yellow annotation markers stays the same when you zoom in/ out – this will be an issue if an annotation marker is placed over an entire paragraph/ article.

Our annotators are already complaining about it being very difficult to annotate at 100% because the text size is small.

Regular:
![image](https://cloud.githubusercontent.com/assets/12913915/14541527/5ebaa798-0258-11e6-8271-72

[2016-04-14 19:51] SamCCSI opened #856 "Changes to annotation module: problems saving on backend"
We tried making and saving changes to annotations in the PDF view
- Changes to both the text of the annotation and the article reference number sometimes didn’t save at all, and in other cases only saved the second time I tried making them
- Sam had raised this point regarding article references in the relevant github thread on March 21, and Jesse raised it in the same thread https://github.com/NR

[2016-04-14 19:54] SamCCSI opened #857 "Changes to annotation module: Changing the annotation category doesn’t work"
Changing the annotation category doesn’t work (tried changing it from “Legal Enterprise Identifier” to “Company Website”)
- When Jesse tried to change the annotation category a second time, this saved and worked, but this action: (1) got rid of the annotation text; and (2) cleared the other article reference numbers (i.e. behaved as if Jesse was creating a new annotation)
- The PDF also did this (

[2016-04-14 19:56] SamCCSI commented on #857
Also from Jesse:

•	When I tried to make any of the above changes, after I saved, the PDF started to be buggy (either the whole PDF page flipped upside down, or a part of the PDF page did so), e.g.
![image](https://cloud.githubusercontent.com/assets/12913915/14541722/579c550a-0259-11e6-8b59-b1e01599726a.png)

•	We still think there needs to be the ability to change the page number of annotations a

[2016-04-14 21:16] SamCCSI opened #858 ""By topic" annotation button is buggy"
http://www.resourcecontracts.org/contract/ocds-591adf-PH6493643447RC/view

This contract has 25 annotations but when you arrive at the page only two are showing:
![image](https://cloud.githubusercontent.com/assets/12913915/14543877/433c475e-0264-11e6-998a-759ab380a7ef.png)

If you try clicking on a type of topic (eg "Environment" or "Fiscal") there is no change in how annotations are displayed or

[2016-04-14 21:19] SamCCSI commented on #22
Very helpful, thanks @jedm.

I've included some comments and suggested changes, and CCSI can provide
summaries of the six annotation types if needed. Anders to confirm.

*SAM SZOKE-BURKE*
*Legal Researcher**Columbia Center on Sustainable Investment*
Columbia Law School | The Earth Institute, Columbia University
435 W116th St. New York, NY 10027
| (+1)(212) 854-2635 <+1212-854-2635> | (+1)(646) 630

[2016-04-15 05:30] jedm commented on #22
@SamCCSI Agree @anderspeders should confirm but since CCSI created these categories originally I think it'd be fine if you all did first draft of those 6 explanations.

@anjesh The first post in this thread proposes links between tags and the glossary. Has there also been discussion about _auto-detection_ of glossary terms in raw text? or in Annotation text? We discussed these options in the past

[2016-04-15 12:06] manishgs commented on #819
For clipping an annotation, print, downloading and viewing each clipped annotation does not required login so these can be delivered without user login.

For sharing annotation to other user requires user login because we need to store annotation in database and generate unique link for remembering the clipped annotations.

[2016-04-15 12:25] manishgs commented on #851
Yes , we can include annotation link

I've a question for clipping an annotation. An annotation is linked to multiple pages, For example, following annotation is linked in 3 pages. In this case user going to clip only one annotation or clip individual page annotation?

Category - Local development agreement//Convention de développement local
Text - MEGABOIS doit réaliser les infrastructures socio-

[2016-04-15 13:40] SamCCSI commented on #725
@anderspeders can we add this to Sprint 15? It is based on group consensus and has been ready to go for months, and I've just been asked by @jedm to prepare hover explanations for each of the six categories.

cc @KaitlinCCSI

[2016-04-15 18:24] JesseCCSI commented on #692
Thanks @upasna01 - however, in adding the font family function, it now seems that we no longer have the font size option?

We would like to have the ability to change both the font family and the font size.

cc @KaitlinCCSI

[2016-04-15 18:41] anderspeders opened #859 "Hit could not be reset"
![image](https://cloud.githubusercontent.com/assets/1101585/14571598/0c555f5a-0318-11e6-9784-7022b18e9654.png)

I think this issue has been raised before. Would be good to have a status on this?

[2016-04-15 18:43] anderspeders commented on #859
Same issue with multiple contracts: http://resourcecontracts.elasticbeanstalk.com/mturk/1512

[2016-04-15 20:42] KaitlinCCSI commented on #692
re-opening to address Jesse's comment

[2016-04-16 01:31] jedm commented on #819
@manishgs Is it possible to store "each clipped annotation" and the list of user's clipped annotations for a limited time using a session cookie?

Also, can you please explain about "sharing to other users?" I do not think we have requested this. We have requested sharing by email or social tools just the same as sharing search results or an individual page.

[2016-04-16 01:55] jedm commented on #851
@manishgs:

- Great that the download can include a column with direct URL for each annotation!

- Our suggestion provided previously was to include the URL for the FIRST page in a multiple-page annotation (@KaitlinCCSI please confirm that for the download of clippings this is acceptable.)

- The question is not about embedding a PDF _inside_ a CSV. The question is:
a) Can the 1-page image of the

[2016-04-16 02:18] jedm opened #860 "Clips - Feature can be turned on/off"
Per request in PDF provided for specs, Clippings feature can be turned ON and OFF. The value of this includes:

- Clippings will be an important but minority use case and pages cannot be cluttered with the clip icon next to every annotation/item in a list

- Clippings is designed to allow you to add, remove and refine your list of Clips while the feature is ON, then to keep your list after the sel

[2016-04-16 02:32] jedm opened #861 "Clips - Columns requested for comparing annotations clipped"
Per specs provided in PDF, these are the columns that should display for comparing selected Clips. This display should be in same design style as search results pages.

NOTE: Although these are the columns recommended for display/compare, a larger number of columns should be provided in the **download file.** @anderspeders has previously provided specifications for default columns and column order

[2016-04-17 19:14] jedm commented on #823
This was an issue on original site search too - a limitation of how many sources could be searched (text, metadata, annotation text, annotation title). Do we have a similar limitation here?

[2016-04-17 19:52] jedm commented on #610
It is wonderful that so many of the changes here and in https://github.com/NRGI/resourcecontracts.org/issues/493#issuecomment-146489444 have now been implemented. Two adjustments will be very useful for UX and UI:

- When page number is referenced in Search result, it should be easier to identify as _not_ result text. So, change from:
result text result text **searched term** result text pg #
to
r

[2016-04-18 04:53] manishgs commented on #861
@jedm

I've few changes on above UI.

- Delete column for deleting each clipped annotation
- View button removed.
- Annotation column contains multiple pages so when clicking links open new window to show text/pdf of relevant page.

Select | Contract | Country | Year | Resources | Annotation | Delete |
-------- | -------------- | -------------| -------- | -------|--------|-----|
[ ] | DRC, Megaboi

[2016-04-18 04:54] manishgs commented on #860
@hello-deepak  Please implement Clips on/off feature.

[2016-04-18 05:00] manishgs commented on #859
Reset is working fine. I did reset for http://resourcecontracts.elasticbeanstalk.com/mturk/1512 and didn't get any error. It might be due to MTurk balance that you are not able to reset HIT.

[2016-04-18 05:08] manishgs commented on #858
Annotation listing issue will be resolve after deploying new annotation module. http://rc-site-demo.elasticbeanstalk.com/olc/public/contract/ocds-591adf-CD1063510722OL/view#/pdf/page/1/annotation/2861

[2016-04-18 05:13] jedm commented on #861
@manishgs please clarify:

- There is no request involving "deleting each clipped annotation" - where does this suggested column come from?

- The 6th column in the spec at top has the FULL TEXT of the annotation. This is necessary because the Clips feature is supposed to be a tool for **visual comparisons** of annotations.

- Maybe it is a good idea to remove the View column and put the links in

[2016-04-18 05:25] manishgs commented on #819
We are using browser local storage for storing clipped annotation. Session/cookie data will be lost when user close the browser but local storage won't be deleted unless user himself delete them.

"Sharing to other users" means the same as you explained, sharing clipped annotation via email and sharing url on social media.

[2016-04-18 05:31] jedm commented on #819
@manishgs Does "browser local storage" require a user account? If the storage is local on user's browser, then a session cookie can be used instead, yes?

Also is it possible to have the session depend on time limit not on open/close browser?

(Please note these are two separate questions. If answer to second question is No, it still may be better to "transfer the risk" of losing work to the user,

[2016-04-18 11:20] manishgs commented on #819
Local storage doesn't required user account.  Session data  is stored on server side whereas cookie data is stored on the users computer.  PHP session variables last until the user closes the browser.
We can set expiry time on cookie but it only stored limited data so Local storage is better option to store data beside server database.

Session is stored on server side so can't set time limit for

[2016-04-18 11:41] manishgs commented on #861
We thought it will be useful to have remove button so we suggested. if not required then we can remove.

Okay we'll include only full text of annotation on annotation column.

Okay we'll have view button and link to first pdf/text annotation

[2016-04-18 23:11] jedm opened #862 "Decisions needed for changing left bar/"burger" menu"
For NRGI and CCSI teams, as planned in last call with @anderspeders, here are two options for changing the left bar menu that opens when you click the logo/"hamburger." (We've agreed that the superlong list of all Countries and Resources is not desired.)

Full set of questions (including a couple of inside page issues and smaller questions) are in **[this PDF](https://github.com/NRGI/resourcecontr

[2016-04-19 04:11] manishgs commented on #851
Yes, we can create a new window screen having few features for view.

Do you mean each pdf of clip annotations concatenated to one pdf file?

[2016-04-19 04:18] jedm commented on #851
Exactly. 😄 For each annotation marked in "SELECT" column, the PDF showing the annotation is viewable in "few features" popup from "VIEW" column, then ...

**ALL** PDFs of selected annotations are concatenated into one PDF file and concatenated file is bundled with CSV.

**NEW SUGGESTION** Maybe some users will want the PDFs and some will not (due to file size, use case, etc). Therefore, DOWNLOAD o

[2016-04-19 05:07] manishgs commented on #851
For option "CSV plus PDF excerpts" it might take time to bundle pdfs depending on number of pdfs so
Do we need to create zip file on the fly or will do background processing and email it to user?

[2016-04-19 05:18] jedm commented on #851
Email of PDF is maybe better than a zip file. The group will need to give opinions. If we do not request email anywhere else it is probably better never to request.

Most important is that the UX and UI make the options clear so that user:

- can choose CSV only or CSV+PDF originals
- sees a clear, accurate message on screen about what is downloading and what requires more steps to receive

@kaitl

[2016-04-19 08:42] charlesyoung commented on #862
The primary search criteria will surely be on country. @jedm can we therefore not consider the sleeker OC country searching option? Also do you feel that the public will want to run a global search, from the home page, on resources? Should this not rather be done through the advanced searching interface?

![image](https://cloud.githubusercontent.com/assets/13888372/14632125/41e30b16-0617-11e6-952a

[2016-04-19 13:50] jedm commented on #862
@charlesyoung, I do think it's  valuable to include the resources option prominently, yes.

Which is the "sleeker" approach you're referring to, though, and can you please clarify if you're talking about a top navigation or the left bar menu?

[2016-04-19 18:05] anderspeders commented on #859
Ok closing for now.

[2016-04-19 18:05] #859 closed

[2016-04-19 18:13] anderspeders commented on #819
hi @manishgs,

Could you clarify if it is entirely impossible to enable sharing of clipped annotations without saving it as a user?

[2016-04-19 18:18] anderspeders commented on #265
This was marked as working on March 16th - @anjesh @manishgs Could you provide an update?

[2016-04-19 18:22] anderspeders commented on #861
Hi @manishgs, please see below adjusted proposal:

Select (and deselect) | Contract | Country | Year | Resources | Annotation | View |
-------- | -------------- | -------------| -------- | -------|--------|-----|
[ ] | DRC, Megabois, Contrat de concession forestière, 13 dec.. |  Congo  | 2014 | Timber | Clip Size of concession area//Superficie de la concession  <br>[P 1 - Art. 2](http://rc-site-de

[2016-04-19 18:29] anderspeders commented on #851
I do not have a strong preference. For the download option I would think that a zip file would be useful given that this provides instant download (in comparison to email).

[2016-04-19 18:29] anderspeders commented on #861
@anderspeders to provide clarification on the columns which should be available for download.

[2016-04-19 18:36] anderspeders commented on #862
For NRGI the preference would be for proposal 1 in order to ensure simplicity.

[2016-04-19 18:46] jedm commented on #862
Note on left bar - we should also streamline design of left bar for maximum usability, simplicity - in either option!

[2016-04-20 06:17] gmagnai opened #863 "Not saving contract problem.."
Hello., I need some help about project settings

I cloned this repo and successfully migrated the migrations.
I don't filled aws settings params in .env. Because I don't have AWS account.
It's possible to use this project without aws s3?

Then i opened the processContractDocument method in ProcessService.php.

It uses sprintf('python %s/run.py -i %s -o %s', $commandPath, $readFilePath, $writeFolde

[2016-04-20 08:19] manishgs commented on #863
There is no option for storage so you need to update code to use other storage option.

You need to clone this repo https://github.com/anjesh/pdf-processor.
Path will look like this PDF_PROCESSOR_PATH=/var/www/html/nrgi/pdf-processor on your .env file

you can run from your terminal.

Can you explain what types of errors not recorded on log file?

[2016-04-20 12:05] manishgs commented on #265
Work has been done but icons are hidden for now.

[2016-04-21 00:18] gmagnai commented on #863
Thank you for helping me. May be error log is  my thing.
Best regards!

[2016-04-21 05:14] manishgs commented on #819
There could be two options to share clipped annotation without user module.

**Authenticate by unique key **
User's clippings can be authenticate by unique key. Unique key will be generated when user save clips. Anyone can access clips with the key.

**How it works :**
1. The clips will be stored in the local storage until saved manually. If User want to share clips, they need to save clippings.
2

[2016-04-21 05:29] manishgs commented on #819
There could be two options to share clipped annotation without user module.

#####  1. Authenticate by unique key

User's clips can be authenticate by unique key. Unique key will be generated when user save clips. Anyone can access clips with the key.

**How it works :**

1. Clips will be stored in the local storage at first. If User want to share clips, they need to save clips.
2. When user click

[2016-04-21 15:06] JesseCCSI commented on #692
Just checking when the font size option will be added back in (without removing any existing editing options, e.g. the font format option)?

Thanks.

[2016-04-21 15:13] upasna01 commented on #692
The issue is fixed but not deployed yet, will be deployed soon. Thank you for your patience.

[2016-04-21 15:20] JesseCCSI commented on #692
Great thanks @upasna01

[2016-04-21 18:20] JesseCCSI opened #864 "Contracts not loading"
A couple of contracts on OLC are showing the "problem loading the contract" message, e.g.

http://www.openlandcontracts.org/contract/ocds-591adf-CM4228495718OL/view

http://www.openlandcontracts.org/contract/ocds-591adf-SL8106372240OL/view

I can't see any problems on the back end for either of the above. Not sure if this problem is also arising with other contracts on OLC.

[2016-04-21 19:17] SamCCSI commented on #864
@anderspeders @anjesh we solved this by re-clicking "Publish all", but that seems unnecessary, given that all categories were marked in green as published. Is there anything that can be done to avoid this final step, or should we instruct our uploaders and annotators to always click 'publish all' after they edit a contract?

cc @JesseCCSI @KaitlinCCSI

[2016-04-22 11:20] anderspeders commented on #795
@manishgs Can you clarify what this means?

As I see it we still have overdue hits - which have *not* reset after ten days?
![image](https://cloud.githubusercontent.com/assets/1101585/14740115/84e0e524-085a-11e6-8846-5467abb74fe5.png)

[2016-04-22 11:25] charlesyoung commented on #795
I had the same issue yesterday with the Sierra Leone contracts. @anjesh was looking at the issue.

[2016-04-22 23:40] jedm commented on #862
@KaitlinCCSI and @charlesyoung -

Had a good conversation with @anderspeders and we agree that the left bar should be navigation only - as is most traditional.

We also think that navigation should be consistent on the left/via "burger" menu - and never across the top, even on homepage.

Suggested left navigation items - and wording - are repeated below. **Please confirm no final objections to thi

[2016-04-24 02:51] jpmckinney opened #865 "Add field to store the original language document type"
This would be a free-text field in which editors could enter the document type in its original, natural form (e.g. "contrat d'exploitation minière").

/cc @anderspeders

[2016-04-25 12:52] SamCCSI commented on #862
No objections from me, thanks Jed!

*SAM SZOKE-BURKE*
*Legal Researcher**Columbia Center on Sustainable Investment*
Columbia Law School | The Earth Institute, Columbia University
435 W116th St. New York, NY 10027
| (+1)(212) 854-2635 <+1212-854-2635> | (+1)(646) 630-4123 <+1646-630-4123>
| s.burke@columbia.edu
| www.ccsi.columbia.edu | @CCSI_Columbia <https://twitter.com/CCSI_Columbia>
 | @samszok

[2016-04-25 14:47] KaitlinCCSI commented on #862
Fine with me, too, although one small request: can we also include a link
to this "additional resources" page (which I think we had agreed to rename
to something else -- Guides?) --
http://www.resourcecontracts.org/page/resources. I think this is a useful
page for users, and fear it may get lost if buried in footer when other
similar pages are available through that nav button.

On Mon, Apr 25, 20

[2016-04-25 17:52] jedm commented on #862
My own opinion is that Glossary, Guides and FAQ are too similar to make it effective having all three. I would suggest "Glossary & Guides." Also because if people see the 2 separate they will need brain time to wonder which is which.

I do not feel super strongly, though. Any opinions at NRGI? @KaitlinCCSI maybe you can ask Lisa or Perrine?

[2016-04-25 18:36] anderspeders commented on #265
Does this mena it has been deployed to demo?

I do not see it

[2016-04-25 19:07] anderspeders commented on #819
Thanks @jedm for flagging the need for clarificaiton here today in chat,

I have now had a review with @byndcivilization - and option 1) appear to live up fully to the key requirement of the group that there should be *no login required* and that it should be easy to share. Only thing to clarify once in use is for how long we should store the clip URL links (this will depend on the use of the feat

[2016-04-25 19:24] jedm commented on #819
I cannot comment until we have clarification from YI, since there are some contradictions here. If user can generate Clips, view, refine, download and share them without needing a key or an email from the site, then that is the right direction. @byndcivilization do you know?

[2016-04-25 19:39] KaitlinCCSI commented on #862
Just polled colleagues. Majority in favor of having these as distinct, but we can perhaps be persuaded if you could describe where the Glossary & Guides link would take you and what that page would look like. Right now the pages seem pretty distinct to us, and useful to have separated, though we understand where the confusion would come from for users looking at the nav button.

[2016-04-25 19:44] jedm commented on #862
I'm fine with keeping all three unless anyone else objects strongly.

[2016-04-25 20:10] jedm commented on #186
We have decided on NO top navigation on homepage or inside pages. Only left bar navigation (contents being confirmed in #862).

Keep size and location of this space but make following changes:

- make text above the graphic bigger
- change graphic to an image cropped from [this contract](http://www.resourcecontracts.org/contract/ocds-591adf-CD7880128944RC/view#/pdf/page/1/annotation/12933) (sample

[2016-04-25 20:15] jedm commented on #186
Hi, @anjhero - previous comment has replies on 4 outstanding questions from March 15. Please continue with mockups and @anderspeders and CCSI will supply exact language for 2 new text sections.

The order of the homepage sections should be:

TOP  - same as current, with the Search edits and new elements as agreed previously in this thread
COUNTRIES | RESOURCES - same as current, with 2 small chang

[2016-04-25 21:03] SamCCSI commented on #819
Hi all,

Is it possible to delete point 3 from the first option? Or change 30 days to a much longer time period (eg 6 months)?

Also, what's the difference between having a login system (user and password) and a key system (which requires an email address and a unique key code) in practice? Do the same privacy / security concerns for users present themselves? On the plus side, might a key-based sy

[2016-04-26 07:51] manishgs commented on #795
@anderspeders

 HIT auto reset after 31 days from created date not the ten days.

[2016-04-26 07:52] manishgs commented on #856
@SamCCSI
This issue has been fixed. Please review on [demo](resourcecontracts-demo1.elasticbeanstalk.com)

[2016-04-26 08:04] manishgs commented on #857
When changing the annotation category, annotation text will replace with previously saved text of that category. if category is not exist for the contract then text will be empty.

Fixed [link](http://resourcecontracts-demo1.elasticbeanstalk.com/contract/1822/annotate#/pdf/page/1/annotation/7957)

Fixed [link](http://resourcecontracts-demo1.elasticbeanstalk.com/contract/1822/annotate#/pdf/page/1/a

[2016-04-26 08:06] manishgs commented on #854
This is fixed. Please review once. [demo link](http://resourcecontracts-demo1.elasticbeanstalk.com/contract/1822/annotate#/pdf/page/1/annotation/7957)

[2016-04-26 09:24] charlesyoung commented on #795
@manishgs I thought it was 10 days. My feeling is that 31 days is too long.

cc @anderspeders

[2016-04-27 05:54] gmagnai opened #866 "Project front end"
Hello.
I cloned this repo and configured successfully.
But i can't find Front end project. How can i get front end repository?

[2016-04-27 08:29] #863 closed

[2016-04-27 08:30] manishgs commented on #866
you can find the frontend in this repo: https://github.com/younginnovations/resourcecontracts-rc-subsite

[2016-04-27 08:30] #866 closed

[2016-04-27 12:10] manishgs commented on #265
Please review share button.
- [summary page](http://rc-site-demo.elasticbeanstalk.com/rc/public/contract/ocds-591adf-GE3090186372RC)
- [contract view page](http://rc-site-demo.elasticbeanstalk.com/rc/public/contract/ocds-591adf-GE3090186372RC/view)
- [search page](http://rc-site-demo.elasticbeanstalk.com/rc/public/search?q=)

[2016-04-27 14:46] SamCCSI commented on #854
Thanks @manishgs — this is getting there. Some changes that are needed. Let's use the following as an example:

![image](https://cloud.githubusercontent.com/assets/12913915/14856199/21beff3a-0c65-11e6-8192-122ade979db8.png)

- "P 1" should read "Page 1"
- Multiple refs from same page should be linked — It should "Page 1 (Arts. 1, 2)" rather than "Page 1 (Art. 1), Page 1 (Art. 2)"
- All article ref

[2016-04-27 14:51] SamCCSI commented on #856
@manishgs thanks this looks good. Will reopen if we encounter more problems.

[2016-04-27 14:54] SamCCSI commented on #854
References need to be listed in page order, and for multiple refs on same page, in numerical order by article.

Right now they are listed in the order in which they were added.

Eg: I just edited one of the annotation sources on p. 1, and now it appears below the refs on p. 3.
![image](https://cloud.githubusercontent.com/assets/12913915/14856479/31f52d6a-0c66-11e6-8045-a3fc6fb8067c.png)

Correct o

[2016-04-27 14:58] SamCCSI commented on #857
How do we change the page number of an annotation on the contract summary page? It only lets you change text. Clicking on the page number hyperlinks you to that page of the contract:
![image](https://cloud.githubusercontent.com/assets/12913915/14856641/f54fe552-0c66-11e6-9b20-592733337e33.png)

Also, if we change the page number like this, where will the annotation be placed? It will introduce a l

[2016-04-27 15:07] manishgs commented on #857
@SamCCSI
you can change page number by double clicking page number of pdf annotation.
![screenshot from 2016-04-27 20 47 08](https://cloud.githubusercontent.com/assets/3942999/14856813/4b4b7f32-0cb9-11e6-956d-f69827a13f6b.png)

Position of the annotation will be same on updated page.

[2016-04-27 15:11] SamCCSI commented on #857
I see. Thanks!

*SAM SZOKE-BURKE*
*Legal Researcher**Columbia Center on Sustainable Investment*
Columbia Law School | The Earth Institute, Columbia University
435 W116th St. New York, NY 10027
| (+1)(212) 854-2635 <+1212-854-2635> | (+1)(646) 630-4123 <+1646-630-4123>
| s.burke@columbia.edu
| www.ccsi.columbia.edu | @CCSI_Columbia <https://twitter.com/CCSI_Columbia>
 | @samszokeburke <http://twitt

[2016-04-27 15:25] manishgs commented on #854
You grouped annotation by page. In this case annotation link will be on number as shown below :

Page 1 (Arts. [2](http://resourcecontracts-demo1.elasticbeanstalk.com/contract/1822/annotate#/pdf/page/2/annotation/7968), [4](http://resourcecontracts-demo1.elasticbeanstalk.com/contract/1822/annotate#/pdf/page/2/annotation/7968)),

@SamCCSI  Please confirm.

[2016-04-27 15:42] gmagnai commented on #866
@manishgs Thank you very much!

[2016-04-27 15:56] SamCCSI commented on #854
@manishgs that would be great!

Can "Arts." also hyperlink to the first annotation marker on that page?

Eg. Page 1 ([Arts. 2](http://resourcecontracts-demo1.elasticbeanstalk.com/contract/1822/annotate#/pdf/page/2/annotation/7968), [4](http://resourcecontracts-demo1.elasticbeanstalk.com/contract/1822/annotate#/pdf/page/2/annotation/7968)),

[2016-04-28 09:40] charlesyoung commented on #845
@upasna01 I noticed that this ticket has been tagged as done. I however don't see the changes when adding an associated document.

[2016-04-28 09:44] charlesyoung commented on #795
@anderspeders can we agree to set the HIT auto reset after 10 days and not 31 days?

[2016-04-28 10:23] hello-deepak opened #867 "Invalid Signature Date"
These contracts have "00" in day/month field of signature date.

http://admin.resourcecontracts.org/contract/1355
http://admin.resourcecontracts.org/contract/938
http://admin.resourcecontracts.org/contract/897
http://admin.resourcecontracts.org/contract/139
http://admin.resourcecontracts.org/contract/987

Please update with valid date and publish it.

cc @anderspeders @charlesyoung @SamCCSI

[2016-04-28 12:55] SamCCSI commented on #867
I believe these documents are undated, which is why their date is 00.

We would prefer to leave them like that than to create false metadata.

Anders, any thoughts? These contracts were updated by Dave as part of his
retrofitting of metadata.

*SAM SZOKE-BURKE*
*Legal Researcher**Columbia Center on Sustainable Investment*
Columbia Law School | The Earth Institute, Columbia University
435 W116th St

[2016-04-28 19:23] KaitlinCCSI commented on #851
Sorry for slow response on this. Sam will respond soon re the PDF pages. In terms of downloads, I would lean towards NOT requiring email addresses if possible.

[2016-04-28 20:21] SamCCSI commented on #851
Regarding the previous suggestion to include the URL for the FIRST page in a multiple-page annotation: whether this will be effective this hinges on the functionality of the pop up page.

If the PDF page that pops up doesn't have the arrow buttons to allow the user to change page, this might be difficult for the user. Not only for annotations drawing for different parts of the contract, but also f

[2016-04-28 20:27] jedm commented on #851
Based on the notes in #861 we may have other options for how multi-page annotations are listed. For the PDF download I think that the first instance remains acceptable.

But since we are seeking some clarification on several elements of Clipping function, we can revisit this in the context of that forthcoming conversation.

[2016-04-29 04:24] manishgs commented on #694
New Annotation Module has been Implemented. Please review on [admin](http://admin.resourcecontracts.org/contract/1179/annotate) and [subsite](http://www.resourcecontracts.org/contract/ocds-591adf-PY3648285958RC/view).

[2016-04-29 04:24] #694 closed

[2016-04-29 11:09] upasna01 commented on #845
The issue is fixed but not deployed, will be deployed soon. Thank You.

[2016-04-29 11:59] manishgs commented on #819
@anderspeders

[2016-05-02 14:51] manishgs commented on #856
New Annotation module has been deployed to [admin](http://admin.resourcecontracts.org/contract/1002/annotate) and [frontend](http://www.resourcecontracts.org/contract/ocds-591adf-PH6493643447RC/view#/pdf/page/18/annotation/1183). Please review once.

[2016-05-02 14:51] #856 closed

[2016-05-02 15:16] manishgs commented on #854
Its difficult to group article reference like 'Page 2 (Arts. 2, 4)' instead I've shown like this 'Page 2 (Arts. 2,  Art. 4).' Please check on  [Admin](http://admin.resourcecontracts.org/contract/1837/annotate) and [frontend](http://www.resourcecontracts.org/contract/ocds-591adf-TL0077233259RC/view#/pdf/page/27/annotation/3702)

[2016-05-02 15:16] #854 closed

[2016-05-02 15:20] manishgs commented on #857
fixed.

[2016-05-02 15:20] #857 closed

[2016-05-02 15:21] manishgs commented on #852
fixed.

[2016-05-02 15:21] #852 closed

[2016-05-02 15:26] manishgs commented on #801
This issue has been fixed.

[2016-05-02 15:26] #801 closed

[2016-05-02 15:27] manishgs commented on #793
fixed.

[2016-05-02 15:27] #793 closed

[2016-05-02 15:28] manishgs commented on #791
New annotation module has been implemented so closing this issue.

[2016-05-02 15:28] #791 closed

[2016-05-02 15:40] manishgs commented on #116
This issue will address in https://github.com/NRGI/resourcecontracts.org/issues/789

[2016-05-02 15:40] #116 closed

[2016-05-02 15:51] SamCCSI opened #868 "Annotations listings on 'summary' page list "page" wrongly"
Annotations listings on 'summary' page list "page" wrongly. Should say "Page 1" not "P 1".
![image](https://cloud.githubusercontent.com/assets/12913915/14959059/a28c03d4-105b-11e6-8214-284ceff5a1f1.png)

Also: should only list the relvant article appearing on the page

![image](https://cloud.githubusercontent.com/assets/12913915/14959176/1188535a-105c-11e6-8077-3258e53e74d5.png)

cc @anderspeders

[2016-05-02 18:40] KaitlinCCSI opened #869 "download dropdown on contract view page should say "ANNOTATIONS" rather than "ANNOTATION""
![screen shot 2016-05-02 at 1 38 20 pm](https://cloud.githubusercontent.com/assets/14825437/14963881/58780346-106b-11e6-80ab-93446e51c2be.png)

[2016-05-02 20:17] SamCCSI commented on #852
@manishgs this is not fixed. See screenshot:
![image](https://cloud.githubusercontent.com/assets/12913915/14966593/47f787ba-1081-11e6-8a63-eab213fb8ce7.png)

Things in red ovals need to be removed, and all article and page references should be listed once in the bottom row as per this example (mentioned above)
![image](https://cloud.githubusercontent.com/assets/12913915/14966598/4f9d7a38-1081-11e6

[2016-05-03 04:30] jedm commented on #862
To reduce confusion, what about removing FAQ from the burger menu. Instead, final list for this menu would be as follows below. Users could get to FAQ from footer and from About page. Please share any final thoughts.

Home
All Contracts
View by Country
View by Resource
About ResourceContracts
Glossary
Guides

[2016-05-03 06:36] charlesyoung commented on #795
The MTurk available balance is only $0.28 which means no HIT resets (auto or manual) are allowed. How can this problem be sorted out because it seems to be a monthly occurrence?

cc @anderspeders @anjesh

[2016-05-03 17:12] KaitlinCCSI commented on #862
Fine with everyone at CCSI.

[2016-05-03 18:32] jedm commented on #862
Dear @anjesh, we are ready to change the menu from the version that copied old site to the more traditional "burger" menu with the items listed immediately above.

Please note that if the new menu is going to have a logo, it must be the same logo (font, spacing, etc.) as is used on the rest of the site.

Many thanks, all, for the input.

[2016-05-04 12:14] manishgs commented on #869
fixed.

[2016-05-04 12:14] #869 closed

[2016-05-04 12:15] manishgs commented on #868
fixed.

[2016-05-04 13:24] anderspeders commented on #867
As I understand these do have at least signature year - so if we ensure that the "signature year" field is complete we can remove the "signature date" completely.

I just did this for one of the contracts.

[2016-05-04 13:25] anderspeders commented on #837
closing this.

[2016-05-04 13:25] #837 closed

[2016-05-04 13:37] SamCCSI commented on #867
@anderspeders What year did you use?

[2016-05-04 13:41] anderspeders commented on #864
Yes, hitting the "publish" button is always required if you edit content.

[2016-05-04 13:42] anderspeders commented on #864
Can we close this?

[2016-05-04 13:42] anderspeders commented on #842
@samCCSI was this sufficient as answer?

[2016-05-04 14:17] SamCCSI commented on #842
@hello-deepak @anderspeders Thanks, but the system won't let me change the first contract to the main contract, rather than an associated contract. It shows a (X) when I try to select "main contract".

So both contracts are listed as associated documents right now, even though amendment #1 is listed as "(Main)" on the metadata page of amendment #2:
![image](https://cloud.githubusercontent.com/asse

[2016-05-04 14:19] SamCCSI opened #870 "MT error -- page not fully downloading"
Please see email from MT transcriber:

Customer ID: A12WRJ2ZMDW3SU
You previously denied two of my hits saying they were incomplete, and have yet to respond to my message that was sent about them not fully showing up. I am sending you a screen shot of this hit because, like the two HITs you rejected, this one also shows only a couple of lines of the scanned page and then is cut off as though it di

[2016-05-04 14:49] JesseCCSI commented on #864
Thanks @anderspeders. Just to clarify -- will annotators/ uploaders have to click "publish all" (and thus not have the option to publish metadata but not annotations, for example) or do they just need to click "publish" beside the relevant element they'd like to publish, even if it's already marked as published? I just want to make sure we're giving accurate instructions to annotators and uploader

[2016-05-04 21:23] anderspeders opened #871 "Annotations missing from migration to new RC-site"
Two issues regarding migration of annotations:

1) Annotations from this contract:
https://www.documentcloud.org/documents/1385899-kosmos-energy-suriname-block-45-2011.html

was not migrated to:
http://www.resourcecontracts.org/contract/ocds-591adf-SR5930694500RC/view

2) Contract and annotations were not migrated from this contract:
https://www.documentcloud.org/documents/1376099-kosmos-energy-su

[2016-05-05 01:20] SamCCSI opened #872 "Error "Something went wrong with the annotation store""
Our annotator had trouble uploading the contract today, with the system repeatedly presenting error messages and losing all of her metadata entries.

I eventually uploaded the contract but now our annotator has encountered the following error while annotating:  "Something went wrong with the annotation store"
<img width="1280" alt="screen shot 2016-05-04 at 8 40 10 pm" src="https://cloud.githubuse

[2016-05-05 01:35] anderspeders commented on #872
@manishgs can you have a look?

There seems to be two issues here (at least):
- the upload module
- the annotation module

[2016-05-05 07:45] manishgs commented on #872
I checked today, Annotation add/update/delete working fine. Didn't get any error message.
@SamCCSI  can you please try again? and let me know if you encounter this issue again.

[2016-05-05 08:30] anjhero opened #873 "Homepage redesign"
This refers to this [issue#186](https://github.com/NRGI/resourcecontracts.org/issues/186). The discussion in the previous issue has become too long and is quite hard to follow.

Here's the design with suggested changes:

![homepage](https://cloud.githubusercontent.com/assets/528549/15039367/33aa725c-12cc-11e6-8b3a-3c08fd92681a.png)

@jedm You mentioned the countries and resources sections from the

[2016-05-05 08:38] manishgs commented on #870
Here is the link of original pdf : https://rc-stage.s3-us-west-2.amazonaws.com/62/62-opic-resource-corporation-belize.pdf

Please check the 48 and 51 page. They are corrupted.

[2016-05-05 08:39] anjhero commented on #186
Please refer to this issue: https://github.com/NRGI/resourcecontracts.org/issues/873

[2016-05-05 08:42] #186 closed

[2016-05-05 11:33] manishgs commented on #871
https://www.documentcloud.org/documents/1376099-kosmos-energy-suriname-2011.html

The contract file is already present in our system. PDF is linked to [Kosmos Energy - Suriname, Block 45, 2011](http://resourcecontracts.elasticbeanstalk.com/contract/1215)

[2016-05-05 11:49] hello-deepak commented on #860
Please review clipping on [demo](http://rc-site-demo.elasticbeanstalk.com/rc/public).

Clip can be done in
* contracts [detail page](http://rc-site-demo.elasticbeanstalk.com/rc/public/contract/ocds-591adf-PH6493643447RC)
* Contract [view page ](http://rc-site-demo.elasticbeanstalk.com/rc/public/contract/ocds-591adf-PH6493643447RC/view)

Clip View
http://rc-site-demo.elasticbeanstalk.com/rc/public/

[2016-05-05 11:50] hello-deepak commented on #861
Please review clipping on [demo](http://rc-site-demo.elasticbeanstalk.com/rc/public).

Clip can be done in
* contracts [detail page](http://rc-site-demo.elasticbeanstalk.com/rc/public/contract/ocds-591adf-PH6493643447RC)
* Contract [view page ](http://rc-site-demo.elasticbeanstalk.com/rc/public/contract/ocds-591adf-PH6493643447RC/view)

Clip View
http://rc-site-demo.elasticbeanstalk.com/rc/public/

[2016-05-05 12:49] SamCCSI commented on #870
Thanks @manishgs we will try to locate a non-corrupted version.

If we replace the PDF version while MT jobs are pending, will they be lost?

[2016-05-05 15:22] manishgs commented on #870
It'll not affect MT jobs. You can provide us the pdf. we'll replace directly in S3.

[2016-05-05 17:46] anderspeders commented on #873
Thanks @anjhero,

I have previously requested to have the menu located in bottom right corner as horizontal view:
https://github.com/NRGI/resourcecontracts.org/issues/186#issuecomment-193579274

Keen to hear other comments?

[2016-05-05 17:48] anderspeders commented on #868
@SamCCSI Please review if this issue is fully fixed?

[2016-05-05 17:51] anderspeders commented on #864
My understanding is that you can still publish by either hit "Publish all" or by hitting "Publish" for the specific type (eg. metadata).

However *if* there are bugs with publishing flow - this should obviously be addressed.

[2016-05-05 17:52] anderspeders commented on #862
Excellent, thanks for this @jedm @KaitlinCCSI,

@anjesh @manishgs Please go ahead and implement.

[2016-05-05 17:52] SamCCSI commented on #868
Thanks, looks good.

[2016-05-05 17:52] #868 closed

[2016-05-05 19:23] SamCCSI commented on #864
I think the confusing part is that a contract can be marked as green / published, but if you did not click on "publish" or "publish all" after making any changes, it may no longer actually be published, even though it is still labeled as such.

If there was a way to ensure that the contract's status aligns with the label it has on the back-end, that would be very helpful.

[2016-05-05 19:24] anderspeders commented on #864
@manishgs Can you check what options are available here?

[2016-05-05 20:57] KaitlinCCSI commented on #872
I think I also got this error message a few hours ago when checking the
demo of the clipping feature, so seems like something is still off.

On Thu, May 5, 2016 at 2:45 AM, Manish Gopal Singh <notifications@github.com

--

*KAITLIN Y. CORDES*

*Head: Land and Agriculture**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
435 West 116th St. Ne

[2016-05-05 21:16] SamCCSI commented on #861
CCSI Feedback

- received an error message regarding a store when I opened up the contract view page

UX

- working off the contract summary page, I feel like this just takes me in circles. For example, I clipped 5 annotations on summary page. When I then went to look at my clips, I was taken to a clippings page. On that page, when I clicked on a contract name, it just re-opened up the contract su

[2016-05-05 21:18] SamCCSI commented on #870
It appears that this is the only version that can be located.

[2016-05-05 21:18] #870 closed

[2016-05-05 21:24] anderspeders commented on #819
A few notes from a skype text chat this week with @manishgs;

@jedm: To clarify there will *not* be requirements for login. The clipping can be shared in two ways - either a) as a URL (saved for 1 year), b) print, c) download or e) it can be send to an email address.

@SamCCSI: Clips can be stored for 1 year - instead of 30 days.

[2016-05-05 21:25] SamCCSI commented on #873
CCSI feedback:

The page is now very long. Is this necessary / useful / effective?

the page is very busy and pulls your attention in two directions (1 - the search box and 2 - the new pop-out box box with the set of three numbers and contract below).

Will the contract that is shown in that pop-out box be a set contract, or will it change each time a user visits the page? As is, it is not very in

[2016-05-05 21:25] anderspeders commented on #855
@manishgs Do you have an update here?

[2016-05-05 21:26] SamCCSI commented on #819
Thanks.

*SAM SZOKE-BURKE*
*Legal Researcher**Columbia Center on Sustainable Investment*
Columbia Law School | The Earth Institute, Columbia University
435 W116th St. New York, NY 10027
| (+1)(212) 854-2635 <+1212-854-2635> | (+1)(646) 630-4123 <+1646-630-4123>
| s.burke@columbia.edu
| www.ccsi.columbia.edu | @CCSI_Columbia <https://twitter.com/CCSI_Columbia>
 | @samszokeburke <http://twitter.com/

[2016-05-05 21:54] jedm commented on #819
Anders welcome back!

I'm still waiting on the fuller write up on Clippings that you were scheduled to get from YI per our last few chats. Without that, it's not really possible to assess where this feature is at.

Thanks much and talk to you soon.

Jed

[2016-05-05 22:10] jedm commented on #873
@SamCCSI and CCSI team

I think that the "explore" option is offered quite effectively by the numbers and the sample search.

I'm sure we could consider resizing things a bit but I would argue that the different elements now on the page are the right one. If I was going to eliminate any it would be the map.

When we requested the Country Partners section it was requested as a list not as images. S

[2016-05-05 23:26] jedm commented on #861
Suggest we pause this until we have a fuller summary of Clippings in a document from YI.

@anderspeders

[2016-05-06 10:34] upasna01 commented on #871
Not all annotations for the contract matches our code list, here is the list please verify and add the missing categories.
https://docs.google.com/spreadsheets/d/1GRS2MkH7lvzJdD6TBHAdsATRbyesK6ucGV95gbrfnzI/edit#gid=1074364414

[2016-05-06 13:13] SamCCSI commented on #871
1.
@manishgs The document is already in the system, but we had multiple versions of it on the old site because the document contains multiple contracts within it, and the annotations for each are different.

So we are still missing the separate copy of this document for Block 43, and the annotations that come with it that are present on the old platform: https://www.documentcloud.org/documents/137

[2016-05-06 18:30] upasna01 commented on #871
Category for Local company Name is not known. Also please verify the category for the given list.

[2016-05-06 18:33] SamCCSI opened #874 "Text and PDF page numbers aren't linked after text search"
1. Open http://www.openlandcontracts.org/contract/ocds-591adf-CD0800583637OL/view
2. Search for "19bis" in text.
3. Click result, which takes you to page 12 of text version of contract.
4. Click PDF: Page 1 of the PDF shows, but it labels page one as page 12
![image](https://cloud.githubusercontent.com/assets/12913915/15082735/6f332d48-1397-11e6-8a0f-8b2e4964121e.png)

Could you please fix step 4?

[2016-05-09 00:43] anderspeders commented on #874
@manishgs Could you check?

[2016-05-09 00:49] anderspeders commented on #858
What is the status here post the new deployment @SamCCSI - still buggy?

[2016-05-09 11:44] manishgs commented on #871
@SamCCSI

1.  Okay we'll upload the contract.
2. Please confirm/update the category mapping.which is in [google sheet ](https://docs.google.com/spreadsheets/d/1GRS2MkH7lvzJdD6TBHAdsATRbyesK6ucGV95gbrfnzI/edit#gid=1074364414)

[2016-05-09 11:51] manishgs commented on #855
This issue is not fixed yet. We are exploring workaround for zoom, re-size and moving position of annotation,

[2016-05-09 12:17] manishgs commented on #874
This issue is fixed in admin and frontend. Please review once.

[2016-05-09 12:17] #874 closed

[2016-05-09 12:26] manishgs commented on #864
@JesseCCSI  @anderspeders

`Show Pdf Text : No`

Pdf text is set to `No` so these two contracts are not showing on frontend. Update these contract and set `Show Pdf Text` to `Yes` and publish the metadata.

[2016-05-09 12:33] JesseCCSI commented on #864
Thanks @manishgs but I'm not sure this is ready for closing -- the initial problem related to the PDF not loading, and did not relate to the text version. Let me know if I'm mistaken, but I believe that changing the setting you referred to will publish the text?

[2016-05-09 12:37] manishgs commented on #265
closing this issue.

[2016-05-09 12:39] manishgs commented on #858
This issue is fixed and deployed.

[2016-05-09 12:39] #858 closed

[2016-05-09 13:10] SamCCSI commented on #864
Reopening to address Jesse's comment.

[2016-05-09 13:25] SamCCSI commented on #871
Thanks @manishgs .

For "Local company Name" can we please just DELETE the field, but could your team also please provide a separate spreadsheet with all instances of this category, and the contract to which they are attached, so that we can manually include as relevant? I have included this request in the google sheet as well.

[2016-05-09 13:39] SamCCSI commented on #874
Working nicely now. Thanks @manishgs

*SAM SZOKE-BURKE*
*Legal Researcher**Columbia Center on Sustainable Investment*
Columbia Law School | The Earth Institute, Columbia University
435 W116th St. New York, NY 10027
| (+1)(212) 854-2635 <+1212-854-2635> | (+1)(646) 630-4123 <+1646-630-4123>
| s.burke@columbia.edu
| www.ccsi.columbia.edu | @CCSI_Columbia <https://twitter.com/CCSI_Columbia>
 | @samsz

[2016-05-09 13:40] SamCCSI commented on #858
Also working nicely now. Thanks @manishgs and @anderspeders

[2016-05-09 15:06] jedm commented on #265
Suggest this not be considered done. Social icons are using a large amount of real estate and should be consolidated into one menu (similar to download option in search results).

Also, where is email option?

Finally, it would be preferable to move these down lower, where they were in the layout provided for this page last year? Is that possible?

Thanks.

[2016-05-09 15:30] anderspeders opened #875 "Translation: specific requirements on Arabic"
The ministry of Tunisia has expressed interest in RC.org - this would require translation of the front end into Arabic.

Before making any decision on this it would be helpful to understand if Arabic translation can be done for RC.org?

[2016-05-10 04:52] manishgs opened #876 "Bug on Contract Publishing Workflow"
- Contract OCID should not be updated when metadata changes (except country/category/parent document change).
-  Text and Pdf are not showing on frontend when metadata publish.
- Document type is not selected on contract edit form.

@hello-deepak

[2016-05-10 04:58] manishgs commented on #864
There is some issue with publishing workflow. Which will address in this [issue](https://github.com/NRGI/resourcecontracts.org/issues/876)

Currently it is not working but Show Pdf Text is used for show/hide text on frontend.

[2016-05-10 04:58] #864 closed

[2016-05-10 07:33] anjhero commented on #862
Hi all,

I have designed two mockups for this. Please check below:

![navigation-drawer](https://cloud.githubusercontent.com/assets/528549/15138710/60d0ad08-16b1-11e6-9cea-252841660ae3.png)
This is similar to the old one where the main page content is pushed to the right and the menu slides in to the screen from the left.

![navigation - overlay](https://cloud.githubusercontent.com/assets/528549/1

[2016-05-10 12:45] manishgs commented on #871
@SamCCSI

The Spreadsheet is for only missing annotations from migration.

We have generated categories for two JSON  files and its mapping in this[ google spreadsheet.](https://docs.google.com/spreadsheets/d/1GRS2MkH7lvzJdD6TBHAdsATRbyesK6ucGV95gbrfnzI/edit#gid=1074364414). Please go through each category and update where necessary. I've highlighted text to red color which is not mapped you need

[2016-05-10 14:47] jedm commented on #862
It looks great! I prefer the standard menu to the other idea.

Would also remove the icons -- unless they are going to be used consistently throughout the site to represent those locations.

[2016-05-10 15:45] KaitlinCCSI commented on #862
I also prefer the standard menu, and don't think we need the icons.

On Tue, May 10, 2016 at 9:47 AM, Jed Miller <notifications@github.com>
wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and Agriculture**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
435 West 116th St. New York, NY 10027
| +1 (917) 658 5172
| kaitlin.cordes@law.columbia.edu

[2016-05-10 15:47] anderspeders commented on #862
Agree with @jedm @KaitlinCCSI.

Please go ahead with next step.

[2016-05-10 17:13] anderspeders commented on #786
@anjesh @manishgs Could you please pull a list for government entities?

[2016-05-10 21:03] anderspeders opened #877 "Clipping - sharing as URL and email"
@anjesh, @manishgs:

Some follow up questions regarding clipping:
1) How will the user be able to retrieve the clipping as URL?
2) Where will the button be located that will enable the user to send emails?

cc @jedm

[2016-05-10 21:13] jedm commented on #877
Anjesh, if YI can post mocks of the Share Clippings steps, that would be great. (For sharing by email and sharing by social.) Thank you!

[2016-05-10 21:45] SamCCSI opened #878 "Annotation comments disappeared"
I reviewed the annotations for this contract on April 20, leaving detailed feedback for 90% of entries. This took quite some time.
http://resourcecontracts.elasticbeanstalk.com/contract/757

All comments have now disappeared.
1 - is this because of the new module being deployed?
2 - is there a way to recover these comments, which took hours to prepare?

[2016-05-11 03:23] manishgs commented on #878
I can see the annotations. Can you please share the screenshot where comments are disappeared?

![screenshot-resourcecontracts elasticbeanstalk com 2016-05-11 09-03-28](https://cloud.githubusercontent.com/assets/3942999/15169124/a1ca7734-1757-11e6-97c9-04176fb9cc80.png)

[2016-05-11 08:42] hello-deepak commented on #877
Clip listing view contains filters, clipped annotations and buttons such as Share, Download and Print.

![clip](https://cloud.githubusercontent.com/assets/7577697/15173925/bbad68d8-177e-11e6-8239-0849b000b8b5.png)

## Share

When clicking share button it'll display social sharing links facebook, twitter, google plus and share with email. Clip url will be displayed beside the button.

![share](http

[2016-05-11 11:27] upasna01 commented on #871
The missing contract is now uploaded please verify.
http://admin.resourcecontracts.org/contract/1844

[2016-05-11 12:13] hello-deepak commented on #876
There was some issue with OCID update on editing metadata, which is fixed now.
http://www.openlandcontracts.org/contract/1150/view
http://www.openlandcontracts.org/contract/1179/view

Fixed

[2016-05-11 12:13] #876 closed

[2016-05-11 12:35] SamCCSI commented on #878
@manishgs The annotations are there, but the **comments** that I left for the annotator on each entry have disappeared. That is what I am trying to recover. Thanks!

[2016-05-11 15:45] SamCCSI opened #879 "Upside down PDF bug"
This is happening again on the frontend. I clicked the "<" arrow 5 times quickly and then the PDF went upsidedown. @anderspeders I think we need to review this issue closely, as users who cannot scroll up and down will often want to quickly navigate in this way.

http://www.openlandcontracts.org/contract/ocds-591adf-LR0574998871OL/view#/pdf/page/29/annotation/2365

![image](https://cloud.githubuse

[2016-05-11 16:04] KaitlinCCSI commented on #879
I've labeled as priority; request that we fully address this as soon as possible.

[2016-05-11 16:36] jedm commented on #877
This is a good start for helping clarify.

Will the URL (shown above in the tool) be the same as the URL of the page itself (the URL in the browser location bar)?

Will the share tool and buttons be the same in appearance and function as the RC/OLC site share tool or will it be different?

[2016-05-11 18:17] anderspeders opened #880 "Demo of DRC subsite for demonstration"
Complete a demo of a DRC subsite featuring French - English translation.

[2016-05-12 04:53] manishgs commented on #877
Share url will be different. When click on share icon, `http://rc.org/clip/<CODE>` will be shared instead of the page itself.

Design will be the same in appearance.

[2016-05-12 06:08] anjhero commented on #862
Here's the final design of the navigation drawer without the icons:

![navigation-drawer](https://cloud.githubusercontent.com/assets/528549/15205574/26d494ce-1838-11e6-9226-2bb7d77819c5.png)

[2016-05-12 06:18] anjhero commented on #873
Here's the same design but without the Country Partner section:

![homepage](https://cloud.githubusercontent.com/assets/528549/15205717/7712a22c-1839-11e6-8327-4fb5155c50be.png)

If we're good to go with this design, we can start implementing it.

[2016-05-12 07:33] jedm commented on #873
Anjan please stand by for final feedback notes before implementing.

[2016-05-12 12:06] upasna01 commented on #878
The issue is fixed now. Please verify.

[2016-05-12 18:05] jedm commented on #862
Looks good, @anjhero. Please also update the logo in the drawer by using the same exact font sizes and font styles as in the main site logo.

[2016-05-12 21:04] anderspeders commented on #879
@anjesh could you please follow up here?

[2016-05-13 16:26] giorgiacek opened #881 "Bulk download option for text"
Can we please add a feature that let you download all the text (txt format) of all the contracts (the one selected or all of them) in bulk?

[2016-05-16 01:19] jedm commented on #873
@anjhero here is final feedback and questions:

**for Country Partners section**
We like the graphical approach you added. However, before sign off please make the following changes:
- make each partner box 40-50% smaller
- 3 or 4 partner boxes should fit by default (not only 2)
- confirm admin function to add and edit partner boxes
- add "carousel/slideshow" feature (see sample image), so user ca

[2016-05-16 12:45] KaitlinCCSI commented on #873
And since OLC does not yet have country partners, the country partners area should be hidden on the OLC home page until we do have one to feature there. Thanks.

[2016-05-16 14:47] SamCCSI commented on #878
Many thanks @upasna01 this is much appreciated.

[2016-05-16 14:47] #878 closed

[2016-05-17 21:30] SamCCSI commented on #815
Just following up on this request. See screenshot for how we are manually doing this — it looks ok, but is time consuming and will never be uniform.
Thanks.

![image](https://cloud.githubusercontent.com/assets/12913915/15339972/13c5d322-1c55-11e6-923e-a160744333c5.png)

[2016-05-17 21:36] SamCCSI opened #882 "Ability to re-size & move annotation marker"
Inserting this request into a new thread, as the old thread it was on (#694) was closed, but Anjesh mentioned setting aside time to investigate this.

@anderspeders and @anjesh, any thoughts?

**Original request by Jesse**
Kaitlin, Sam and I discussed this today -- it would really help us if you could provide an estimate of the cost and time involved in implementing the following:

1. having the a

[2016-05-18 11:47] manishgs commented on #882
We've replaced annotorious plugin (which is used for pdf annotation) with our custom annotator plugin.  Which will also address #882 and #855 issues. Please check the the resize and drag feature in [demo](http://resourcecontracts-demo1.elasticbeanstalk.com/contract/1033/annotate)  and let us know your feedback and comments.
@SamCCSI  @anderspeders

[2016-05-18 12:32] SamCCSI commented on #882
Thanks @manishgs this is exciting to see.

1. The system froze after I resized one box — I started resizing a second box and then this blue dotted line remained on the page and I couldn't resize anything else. I think it needed time (1 or 2 seconds) to process? If this churn time could be minimized, that would help avoid having to reload the page.

![image](https://cloud.githubusercontent.com/asse

[2016-05-18 16:14] SamCCSI opened #883 "Auto-naming of contracts"
1. Now that the database has been cleaned and the joint-venture issue has been resolved (#790), are we ready to implement the auto-name feature?

2. Can this include an option to re-generate the name when metadata is subsequently altered?

[2016-05-18 16:22] byndcivilization opened #884 "New Relic monitoring"
Can we add a new relic monitor? It  should give us api metrics that GA doesnt give us.

[2016-05-18 18:41] KaitlinCCSI opened #885 "Reset button not working?"
I think reset button is not working. For example: on OLC, I selected French in language box, and saw 22 contracts. I think clicked out of French and hit reset, but my page is still stuck showing the exact same content even though I've clicked on "reset" multiple times.
![screen shot 2016-05-18 at 1 40 30 pm](https://cloud.githubusercontent.com/assets/14825437/15370812/2e86ff52-1cfe-11e6-8189-f4d8e

[2016-05-18 18:44] KaitlinCCSI commented on #885
Also, if I delete a word in the free text search box and hit reset button, nothing happens, though if I delete the word and then hit enter on my keyboard, it refreshes back to full set of contracts.

[2016-05-18 18:48] KaitlinCCSI opened #886 ""Highlight" is not an annotation category and should not be in dropdown box"
See screenshots
![screen shot 2016-05-18 at 1 47 52 pm](https://cloud.githubusercontent.com/assets/14825437/15371033/3a524098-1cff-11e6-8a74-d1d83eaba01d.png)
![screen shot 2016-05-18 at 1 48 09 pm](https://cloud.githubusercontent.com/assets/14825437/15371034/3a5eec94-1cff-11e6-95bc-71b4a349d8cd.png)

[2016-05-18 19:02] SamCCSI commented on #886
I have deleted these annotation entries for the Gambia contract and the Ghana contract is back to draft mode, but is it possible to ensure that this category cannot be re-selected?

![image](https://cloud.githubusercontent.com/assets/12913915/15371464/834c2c96-1d09-11e6-93ff-a395b4a66f74.png)

[2016-05-18 19:19] KaitlinCCSI commented on #689
Opened b/c mobile functionality doesn't seem to be fully working. When I open a contract on my phone, it looks like it is defaulting to the PDF view, but the annotations show up on top and the PDF is stuck below the annotations (Number 1 of screenshots below). When I click on the annotations tab, it looks the same except both the annotations tab and the PDF tab are highlighted (N. 2). When I click

[2016-05-18 20:49] SamCCSI opened #887 "UX Unpredictable display of text/annotation searching results"
If I search for "consent" the results show me one text result and one annotation result containing that term. And I can click on the text which takes me directly to that search result. This works well.

![image](https://cloud.githubusercontent.com/assets/12913915/15374375/0d9521ce-1d18-11e6-937d-aa43ab573904.png)

BUT If I search for "stablization" it shows the contracts containing the term only,

[2016-05-18 20:54] SamCCSI opened #888 "UX: Improve links between search results and contract view page"
When text searching, I should be able to click on the title of each contract and be automatically taken to the contract view page with the search term entered into the contract search window. Right now, clicking on the contract title just takes me to the contract view page and then I have to do the search again.

STEP ONE
![image](https://cloud.githubusercontent.com/assets/12913915/15374551/e1fe84

[2016-05-19 04:37] jedm opened #889 "Matching up/Streamlining Contract View and Summary Pages"
To make two Contract views match better, and to fix clutter and UI on pages, following changes have been agreed for banners and toolbars of the Contract view (PDF, annotations) page and Contract summary (metadata) page.

Both pages should use 3-row structure in current Summary (“Metadata”) page

A) For Contract View page:
1. Add new row to page structure and move document name from top row to seco

[2016-05-19 07:03] jedm opened #890 "Matching/Streamlining Icons - Download, Social Sharing"
**For download button:** Site has at least five (5) different buttons styles for download. Should be changed to only two (2) styles, as shown in attached image.

**For sharing icons:**
1) Change social sharing buttons to function like the download button: One (1) icon with different options appearing in dropdown on click, as shown in attached image.
2) Sharing buttons must have simple instruction

[2016-05-19 07:05] jedm commented on #890
Relates to #889 re. Contract view and summary
Relates to #265 re. sharing buttons

[2016-05-19 11:14] hello-deepak commented on #842
Fixed.

http://www.resourcecontracts.org/contract/ocds-591adf-CN8585698303RC/view
http://www.resourcecontracts.org/contract/ocds-591adf-CN8585698303RC-1338/view

[2016-05-19 11:14] #842 closed

[2016-05-19 11:17] manishgs commented on #882
@SamCCSI

1)  I'll take 2-3 seconds to process so if you resize/drag another annotation immediately then there was an issue. Now i've disable resize/drag until annotation updated on database.

2) this issue is fixed.

Please review once and let me know if there is any issue.

[2016-05-19 11:24] upasna01 commented on #844
I think this issue can be closed for now.

[2016-05-19 11:24] #844 closed

[2016-05-19 11:24] manishgs commented on #886
If category is not selected while creating an annotation default category 'Highlight' is stored in database. Now Category and Annotation Text is set to required field so "Highlight" text will not be appear again.
You can check in demo site. http://resourcecontracts-demo1.elasticbeanstalk.com/contract/1823/annotate#/pdf/page/4/annotation/7979

[2016-05-19 11:29] upasna01 commented on #845
This issue is deployed, I think it can be closed for now. Please do verify..

[2016-05-19 11:31] manishgs commented on #885
@KaitlinCCSI @anderspeders

Reset Button only reset the selected values back to default values in search form,  it will not reset the contract result list.

Do you want to reset contract result when user client on Reset Button?

[2016-05-19 11:33] KaitlinCCSI commented on #885
Yes, resetting the contract results makes sense to me, so I would be in favor of this. @jedm - is that an intuitive use of a reset button?

[2016-05-19 11:53] SamCCSI commented on #886
We have one contract with draft annotations, some of which are currently
"highlight". If you deploy the new model, will it delete these annotations?
If yes, we need to ask our annotator to change those annotations first so
that nothing is lost.

*SAM SZOKE-BURKE*
*Legal Researcher**Columbia Center on Sustainable Investment*
Columbia Law School | The Earth Institute, Columbia University
435 W116th

[2016-05-19 12:01] SamCCSI commented on #882
This looks great, thanks. (2) works well. Is there any way to reduce the 2/3 second processing time?

If not, this is ready to deploy, provided that it won't delete annotation comments on eisting annotations as last time. Can you confirm that won't happen?

[2016-05-19 12:12] hello-deepak commented on #877
Please review clipping in demo [site](http://rc-site-demo.elasticbeanstalk.com/rc/public) .

[2016-05-19 12:12] hello-deepak commented on #861
Please review clipping on demo [site](http://rc-site-demo.elasticbeanstalk.com/rc/public) .

[2016-05-19 12:13] hello-deepak commented on #851
Please review clipping in demo [site](http://rc-site-demo.elasticbeanstalk.com/rc/public) .

[2016-05-19 13:02] charlesyoung commented on #845
Document type needs to be left blank and remain mandatory. The associated document currently still pulls the main contracts document type.

[2016-05-19 13:17] SamCCSI commented on #871
@manishgs I have updated the first spreadsheet.

Regarding the second spreadsheet, I did not understand — what do you need us to add to the second spreadsheet?

[2016-05-19 15:10] manishgs commented on #882
Processing time is the total time taken to update database and reload the annotations so we can't reduce the time.

It will not affect annotation comments. It will update only contract view page.

[2016-05-19 15:12] SamCCSI commented on #882
No problem. And it won't delete annotation comments on existing annotations like what happened last time we deployed the new module?

[2016-05-19 15:14] manishgs commented on #886
Annotation category will not be deleted. You can change the category after deploy as well.

[2016-05-19 15:18] manishgs commented on #882
last time it wasn't deleted. Only hidden from the design.

[2016-05-19 15:19] SamCCSI commented on #882
Ok, then we are happy for this module to be deployed. Thanks!

And if you could make sure that no comments are hidden from the design that would be greatly appreciated.

[2016-05-19 15:22] SamCCSI commented on #886
Ok thanks.

[2016-05-19 17:20] anderspeders opened #891 "Add "annotated" check box on search page"
Add check box to advanced search page: "Annotated documents only"

[2016-05-19 17:23] SamCCSI commented on #823
Fuzzy searching also needs to pick up misspellings as search terms. For example: slight misspelling - “stablization” - produces zero results.

[2016-05-19 17:37] anderspeders commented on #885
Confirming @KaitlinCCSI's suggestion.

[2016-05-19 17:42] anderspeders opened #892 "Refined search language"
Would it be possible to enable basic scripts for specific searches - for example *not* include X country.

Another example could be words located in proximity of each other using ~

[2016-05-19 18:05] jedm commented on #777
@sadhakbj and @anjesh please advise if this is implemented on the Contract view page and where we can see an example so we can finalize formatting. Thanks.

[2016-05-19 19:32] KaitlinCCSI commented on #470
Moving this to sprint 16

[2016-05-19 19:38] KaitlinCCSI commented on #891
@anderspeders: to refine my earlier comment - would it be possible to have this functionality on OLC but to suppress/hide it for now? not relevant and would be confusing in near term, but could potentially become relevant later on. Thanks.

[2016-05-20 12:01] hello-deepak opened #893 "Clip Review"
The clip features that are completed are :
- Clipping On/Off available in contract view page and detail page.
  ![onoff](https://cloud.githubusercontent.com/assets/7577697/15426368/dab4b304-1ead-11e6-8bf6-5ac0ca90d242.png)
- Annotations clipping can be done contract view page and detail page.

![view](https://cloud.githubusercontent.com/assets/7577697/15426537/e1b3c572-1eae-11e6-9833-3ceca43552d8.

[2016-05-20 12:28] jedm commented on #893
I am preparing the next round of the feedback and then CCSI and Anders will add comments.

Thanks, Deepak.

[2016-05-20 13:10] SamCCSI opened #894 "Re-adding space for legislation links on meta-data column"
We seem to have lost the AMLA links on RC; I'm not sure what the reason for this was?

Some contracts still have the link on the metadata/summary page. Eg: http://www.resourcecontracts.org/contract/ocds-591adf-CM3558525264RC

But I can't see where to add it now on the back-end.

Here’s what it used to look like on the right hand column: https://github.com/NRGI/resourcecontracts.org/issues/397

No

[2016-05-20 19:09] jedm opened #895 "Fixing & Streamlining All Search pages"
**For results page of Search on no text OR if user clicks “Advanced Search” from Homepage:**
1. Change page title (for these 2 cases ONLY) to “**All Documents**”
2. Hide existing search box
3. Add global search to top bar (like “Countries,” “Resources” pages)
_see image below_

**If user submits a new text search from any global search box:**
1. Add global search box to top bar (like “Countries,”

[2016-05-23 03:47] hello-deepak commented on #877
Please use #893 issue for any further discussion.

[2016-05-23 03:47] #877 closed

[2016-05-23 03:47] hello-deepak commented on #819
Please use #893 issue for any further discussion.

[2016-05-23 03:47] #819 closed

[2016-05-23 03:48] hello-deepak commented on #851
Please use #893 issue for any further discussion.

[2016-05-23 03:48] #851 closed

[2016-05-23 03:49] hello-deepak commented on #860
Please use #893 issue for any further discussion.

[2016-05-23 03:49] #860 closed

[2016-05-23 03:50] hello-deepak commented on #861
Please use #893 issue for any further discussion.

[2016-05-23 03:50] #861 closed

[2016-05-23 07:58] anjesh commented on #805
Duplicate of https://github.com/NRGI/resourcecontracts.org/issues/879

[2016-05-23 07:58] #805 closed

[2016-05-23 08:02] anjesh commented on #792
Addressed in this issue https://github.com/NRGI/resourcecontracts.org/issues/862

[2016-05-23 08:02] #792 closed

[2016-05-23 08:02] anjesh commented on #772
Fixed long time back.

[2016-05-23 08:02] #772 closed

[2016-05-23 08:03] #692 closed

[2016-05-23 08:05] anjesh commented on #631
Addressed here https://github.com/NRGI/resourcecontracts.org/issues/862

[2016-05-23 08:05] #631 closed

[2016-05-23 08:08] anjesh commented on #486
Should be addressed here https://github.com/NRGI/resourcecontracts.org/issues/862 and https://github.com/NRGI/resourcecontracts.org/issues/873

[2016-05-23 08:08] #486 closed

[2016-05-23 08:21] anjesh commented on #649
Will be addressed here https://github.com/NRGI/resourcecontracts.org/issues/883

[2016-05-23 08:21] #649 closed

[2016-05-23 08:23] anjesh commented on #875
Can we have someone Arabic speaker to guide on this?

[2016-05-23 08:29] anjesh commented on #850
Will be addressed through this issue https://github.com/NRGI/resourcecontracts.org/issues/795

[2016-05-23 08:29] #850 closed

[2016-05-23 08:32] anjesh commented on #836
@JesseCCSI Can you see if this can be closed now?

[2016-05-23 08:40] anjesh commented on #808
Will be addressed in https://github.com/NRGI/resourcecontracts.org/issues/873

[2016-05-23 08:40] #808 closed

[2016-05-23 08:41] anjesh commented on #798
@anderspeders @charlesyoung Could you please have a look and advise on the next step?

[2016-05-23 08:43] anjesh commented on #789
Further discussion on clips here
https://github.com/NRGI/resourcecontracts.org/issues/893

[2016-05-23 08:43] #789 closed

[2016-05-23 08:49] anjesh commented on #742
Should be addressed in new design https://github.com/NRGI/resourcecontracts.org/issues/873. If anything further discussion in that issue

[2016-05-23 08:49] #742 closed

[2016-05-23 09:00] anjesh opened #896 "Fix mobile design as per new updates in the design"
Please look into the issue for detailed comments here https://github.com/NRGI/resourcecontracts.org/issues/689#issuecomment-220130476

[2016-05-23 09:00] anjesh commented on #689
created new issue to handle the issue with mobile view https://github.com/NRGI/resourcecontracts.org/issues/896

[2016-05-23 09:00] #689 closed

[2016-05-23 09:02] anjesh commented on #669
@anderspeders is it something that is addressed by clipping features?

[2016-05-23 09:03] anjesh commented on #660
@anderspeders I also think we are good to remove beta now? what do you say?

[2016-05-23 09:08] anjesh commented on #612
Please reopen for discussion if needed.

[2016-05-23 09:08] #612 closed

[2016-05-23 09:09] anjesh commented on #609
Closing this one as https://github.com/NRGI/resourcecontracts.org/issues/862 addresses the sidebar.

[2016-05-23 09:09] #609 closed

[2016-05-23 09:11] anjesh commented on #565
Please create new issue if you find issues with the annotation categoroes

[2016-05-23 09:11] #565 closed

[2016-05-23 09:13] anjesh commented on #514
Further discussion if any here https://github.com/NRGI/resourcecontracts.org/issues/778 in the publishing workflow.

[2016-05-23 09:13] #514 closed

[2016-05-23 09:14] anjesh commented on #503
Duplicate of https://github.com/NRGI/resourcecontracts.org/issues/47#issuecomment-196803183

[2016-05-23 09:14] #503 closed

[2016-05-23 09:15] anjesh commented on #603
closing.

[2016-05-23 09:15] #603 closed

[2016-05-23 09:18] anjesh commented on #500
@charlesyoung are you still finding similar issue? Please reopen if you think we need further discussion.

[2016-05-23 09:18] #500 closed

[2016-05-23 09:19] anjesh commented on #478
To be addressed in design https://github.com/NRGI/resourcecontracts.org/issues/873 please comment in the issue if any.

[2016-05-23 09:19] #478 closed

[2016-05-23 09:20] #476 closed

[2016-05-23 11:09] JesseCCSI commented on #836
Thanks @anjesh yes this can be closed.

[2016-05-23 11:16] anjesh commented on #836
thanks.

[2016-05-23 11:16] #836 closed

[2016-05-23 11:34] manishgs commented on #886
deployed.

[2016-05-23 11:34] #886 closed

[2016-05-23 11:34] manishgs commented on #882
Deployed.

[2016-05-23 11:34] #882 closed

[2016-05-23 11:35] manishgs commented on #855
fixed.

[2016-05-23 11:35] #855 closed

[2016-05-23 11:35] manishgs commented on #853
fixed.

[2016-05-23 11:35] #853 closed

[2016-05-23 11:50] manishgs commented on #773
fixed.

[2016-05-23 11:59] #773 closed

[2016-05-24 04:04] hello-deepak commented on #809
Resource field is free text in admin part . So, unless this field is filled with proper selection from drop down or free text , this problem can rise again.

Closing this issue for now.

[2016-05-24 04:04] #809 closed

[2016-05-24 04:26] anjesh commented on #406
Do we still want to consider this or shall we close this? @anderspeders

[2016-05-24 04:28] anjesh commented on #376
Please open if you are still having issues with upload.

[2016-05-24 04:28] #376 closed

[2016-05-24 04:32] anjesh commented on #375
We now have link for the annotations, which can be shared. If we are looking for embed feature, lets discuss in new issue.

[2016-05-24 04:32] #375 closed

[2016-05-24 04:33] anjesh commented on #370
Please open a new issue if you are still similar issues.

[2016-05-24 04:33] #370 closed

[2016-05-24 04:35] anjesh commented on #364
Contract view page has links.

[2016-05-24 04:35] #364 closed

[2016-05-24 04:40] anjesh commented on #234
Before closing this, can we say that we can use clipping to get somewhat contract comparison feature?

[2016-05-24 04:41] anjesh commented on #614
Duplicate of https://github.com/NRGI/resourcecontracts.org/issues/201

[2016-05-24 04:41] #614 closed

[2016-05-24 04:42] anjesh commented on #177
Closing this, as we have already setup and deployed multiple country sites.

[2016-05-24 04:42] #177 closed

[2016-05-24 04:43] anjesh commented on #174
Do we still want this? Please open and lets discuss if the current way of accessing ES needs improvement.

[2016-05-24 04:43] #174 closed

[2016-05-24 04:46] anjesh commented on #149
We can see the requestsed features in the current search results.

[2016-05-24 04:46] #149 closed

[2016-05-24 04:48] anjesh commented on #145
We seem to have covered the above use case in the current search functionality.

[2016-05-24 04:48] #145 closed

[2016-05-24 04:50] anjesh commented on #143
We are yet to cover this checkbox

Please confirm if we need this checkbox.

[2016-05-24 04:53] anjesh commented on #846
Duplicate of https://github.com/NRGI/resourcecontracts.org/issues/126

[2016-05-24 04:53] #846 closed

[2016-05-24 04:54] #93 closed

[2016-05-24 10:49] manishgs commented on #894
Currently we are showing legislation link on RC site only and link is hidden on contracts having Hydrocarbons, Oil or Gas resource.

Let us know if we need to update restriction logic to hide the link ? @SamCCSI

[2016-05-24 11:03] manishgs commented on #888
We have added links to Text and annotation paragraph  where search term is found as show in the screenshot. If you click on the text paragraph it will take you to the search page as you explain above.

![screenshot-www resourcecontracts org 2016-05-24 16-41-30](https://cloud.githubusercontent.com/assets/3942999/15501750/ded2969e-21ce-11e6-9020-2ca3c9f6b039.png)

Let us know if it is good to you? @

[2016-05-24 11:11] manishgs commented on #872
I am not able to replicate the issue as mention above and didn't get any error message yet.  Recently we have updated Pdf annotator plugin so I believe this issue have been resolve. Please reopen if you encounter the issue again.

[2016-05-24 11:11] #872 closed

[2016-05-24 11:15] manishgs commented on #817
We can make resource type optional instead of adding new resource type "Not specified". If resource is left empty then we can show text "Not specified"  in resource.

Let me know what do you think ? @SamCCSI  @anderspeders

[2016-05-24 11:16] manishgs commented on #815
We have implemented drag and resize feature for annotation box.

Do you think we still need this feature? @SamCCSI  @anderspeders

[2016-05-24 11:21] charlesyoung commented on #880
@anjesh will it be possible to create a RC DRC country site?

[2016-05-24 11:48] manishgs commented on #577
This issue has been fixed.

[2016-05-24 11:48] #577 closed

[2016-05-24 12:25] SamCCSI commented on #888
Thanks @manishgs . Can we make the title of each contract automatically link to the contract view page with the search term entered into the contract search window? Like this:
![rc screenshot](https://cloud.githubusercontent.com/assets/12913915/15503696/19aba0da-2189-11e6-9343-cd0be5bb7198.png)

[2016-05-24 12:32] SamCCSI commented on #894
Thanks @manishgs . We should keep hiding the AMLA / legislation link for hydrocarbons, etc, because AMLA only provides legislation for mining contracts.

But more generally:
1. CCSI has a preference to have the AMLA link (when visible) display on the right hand metadata column.
2. We also just want to keep open the option of having legislation sources for (i) OLC and (ii) potentially hydrocarbons,

[2016-05-24 12:39] SamCCSI commented on #143
Yes we do. Thanks @anjesh

[2016-05-24 12:41] jedm commented on #234
This will depend on the UI and UX of the "view" features in Clipping list (as described here: https://github.com/NRGI/resourcecontracts.org/issues/861#issuecomment-211205483)

Clips responses coming in the next 48 hrs.

[2016-05-25 01:09] upasna01 commented on #777
Link to associated contract is implemened on the Contract view page, in metadata.
Here is the contract with associated documents. Please do verify.

http://www.resourcecontracts.org/contract/ocds-591adf-CG4710691717RC/view
![links](https://cloud.githubusercontent.com/assets/11477899/15524913/4db64ec2-2245-11e6-9d47-ecd40d64591b.png)

[2016-05-25 04:51] hello-deepak commented on #892
Search support different special character for better filtering of results.

* +   signifies AND operation
* |    signifies OR operation
* -    negates a single token
* "    wraps a number of tokens to signify a phrase for searching
* *    at the end of a term signifies a prefix query
* (    and ) signify precedence
* ~N after a word signifies edit distance (fuzziness)
* ~N after a phrase signifie

[2016-05-25 04:57] jedm commented on #777
Deepak can we see an example with multiple documents, to see how lists look and how to differentiate "Parent" documents from "Sibling" documents?

Also, style of heading should be changed. If it is bold it should be all-caps, to match ANNOTATIONS and METADATA headings. Or if it is Initial Caps then should be gray to match the headings above it.

[2016-05-25 08:39] hello-deepak commented on #881
Is bulk text is needed for once or to add as a feature?

Bulk download of text create extra heavy load on the server and I think it is not relevant for all users .

[2016-05-25 09:54] giorgiacek commented on #881
If it's too heavy on the server then it would be great to have a download
if possible. (need it for text analysis)

On 25 May 2016 at 09:39, Deepak <notifications@github.com> wrote:

[2016-05-25 12:09] charlesyoung commented on #47
French translations Google sheet completed.

https://docs.google.com/spreadsheets/d/11RO8DtlwmICXM2qQ7vY2tFALAYpUnBfSMLssr9FE7pA/edit?usp=sharing

[2016-05-25 12:12] charlesyoung commented on #880
Relates to ticket Internationalization #47

[2016-05-25 15:11] SamCCSI commented on #815
Thanks @manishgs

Given the number of different annotators that the system will have, it is still important to have a standard size annotation box.

[2016-05-25 15:17] anderspeders commented on #815
Thanks, @SamCCSI Could you clarify where on the CCSI priority list this feature?

@manishgs Could you please cost this out with a day estimate.

[2016-05-25 16:04] SamCCSI commented on #308
Today all rejected HITs cannot be reset. Here's one example: http://resourcecontracts.elasticbeanstalk.com/mturk/1506?status=1&approved=2

![screen shot 2016-05-25 at 11 52 48 am](https://cloud.githubusercontent.com/assets/12913915/15546815/6807e5f4-226f-11e6-9308-babc080bb1e7.png)

[2016-05-26 05:15] manishgs commented on #888
What if search query found only on 'Annotation' or 'Metadata' not in Text.

[2016-05-26 08:20] anjesh opened #897 "Enble Localisation for RC administration backend interface"
We have completed the necessary setup in the backend for the localisation as well. We need the translated french translated version. It appears the translated version for french is done instead of the frontend.

https://docs.google.com/spreadsheets/d/14nWO64kuhOPszYVoQegcl_aDhR29zFRnWDavgG2mCLY/edit?copiedFromTrash#gid=180874788

[2016-05-26 08:22] anjesh commented on #880
we need the translation for the subsite in this spreadsheet https://docs.google.com/spreadsheets/d/1aLnUIKyi6uHb0Ai8Zl3S21wn2ekOapciMUguTCjddig/edit#gid=1810864825

linked from https://github.com/NRGI/resourcecontracts.org/issues/47#issuecomment-196803183

[2016-05-26 08:24] anjesh commented on #47
This is the translation for the backend linked in this [issue](https://github.com/NRGI/resourcecontracts.org/issues/897). we need the one for subsite in this spreadsheet https://docs.google.com/spreadsheets/d/1aLnUIKyi6uHb0Ai8Zl3S21wn2ekOapciMUguTCjddig/edit#gid=0

[2016-05-26 10:38] charlesyoung commented on #897
Latest backend translation.

https://docs.google.com/spreadsheets/d/1L2RW29KDPNYRrWDCbsYHZzCsxbxVaJ-NlMQ6zANDsDg/edit?usp=sharing

[2016-05-26 11:33] hello-deepak commented on #892
@anderspeders Please review and provide feedback.

[2016-05-26 20:53] anderspeders commented on #815
@manishgs Could you please scope what the time costs would be required for offering a fixed shape annotation box *while* still allowing users to utilize the current flexible annotation shape?

@SamCCSI please clarify if this lack accuracy?

[2016-05-26 20:56] SamCCSI commented on #815
Thanks, that's right. We hope to have the _option_ of a standard sized box but also will need to set our own size some times.
![screen shot 2016-05-26 at 4 55 14 pm](https://cloud.githubusercontent.com/assets/12913915/15589885/c5a7a9e4-2362-11e6-95a1-29fb5c386d3a.png)

[2016-05-27 01:51] SamCCSI commented on #259
@anjesh @manishgs can you please provide us with an estimate of how long it might take to implement PDF scrolling during Sprint 16? cc @anderspeders

[2016-05-27 01:55] SamCCSI commented on #485
@anjesh and @manishgs, as part of Sprint 16 can you please conduct scoping / research on:
1 - how is RC performing for users with slow internet?
2 - what are the barriers to it working better in low web connectivity environments?
3 - what could be done to improve RC's performance in low web connectivity environments?

[2016-05-27 06:25] anjhero commented on #873
Hi all,

We will send you the design update on Monday, 30th May, 2016.

All the questions/ suggestions will be addressed in the new design. For one of the questions asked by @jedm :
- What is the heat map for? Suggest removing it and simply having 2 colors - 1 for countries with documents, 1 for countries without any documents

[2016-05-27 06:27] anjhero commented on #803
This will be addressed along with in this issue #873.

[2016-05-27 06:32] anjhero commented on #524
Advanced search menu is incorporated in homepage: #873

[2016-05-27 08:42] hello-deepak commented on #895
@jedm Please clarify.

![search](https://cloud.githubusercontent.com/assets/7577697/15602553/a6a97488-2415-11e6-8ca0-7422f7c24dee.png)
1. Global search (Same as "Countries" "Resource" pages)
2. Filter for search .

* Does search page is going to have two drop down of filter ? One from global search and another from filter below .

[2016-05-27 09:07] charlesyoung opened #898 "Annotation box alignment issue"
An issue noted by the Philippines. 'When I move the annotation boxes to align, the  "Save" and "Cancel" buttons get behind the yellow box above, so I cannot click "Save." It just hangs. It happens when the boxes are close to each other. the "Save" button goes behind the other yellow box.'

![image](https://cloud.githubusercontent.com/assets/13888372/15603409/dac97f80-23fa-11e6-8b54-1b16db3b511f.pn

[2016-05-27 09:10] charlesyoung opened #899 "Auto-fill feature issue"
An issue noted by the Philippines. 'Can we disable the auto-fill feature of the "Article Reference" in the Edit box? It causes the editing to hang.'

![image](https://cloud.githubusercontent.com/assets/13888372/15603485/4da3de10-23fb-11e6-8309-8866bedf3636.png)

[2016-05-27 11:50] upasna01 commented on #777
Here is the link contract with multiple associated documents. The parent documents are bold.

Parent Document
http://www.resourcecontracts.org/contract/ocds-591adf-PE1651033763RC/view

Child document
http://www.resourcecontracts.org/contract/ocds-591adf-PE1651033763RC-1553/view

and image for it. Please do verify.
![link](https://cloud.githubusercontent.com/assets/11477899/15607227/f5b7e1ac-2430-1

[2016-05-27 11:55] hello-deepak commented on #786
Currently following steps have taken to pull government entities:

We are using  this   [api](http://joinedupdata.org/PoolParty/api/thesaurus/1DCE5BA4-B07D-0001-17D3-93C6F01F18F4/childconcepts?parent=http://joinedupdata.org/NRGI/4c61a3a0-8c34-4391-976d-4065f9d47340&properties=skos:altLabel,skos:narrower&transitive=true) to extract government entities.

* We have taken the prefLabel as country wher

[2016-05-27 13:54] jedm commented on #895
Dear Deepak,

To make sure I answer your question properly, can you please confirm which of the 5 requests above you are referring to, and also please rephrase your question text?

Thanks very much for helping me to understand.

Jed

[2016-05-30 06:33] anjhero commented on #873
Hi all,

Here's homepage design based on the feedback:
![homepage iii](https://cloud.githubusercontent.com/assets/528549/15641238/33d63a76-265f-11e6-935c-4f32cde79151.png)

I've added a country selection portion in the search section referred by @anderspeders in #803 . Because of the space constraint, I've simply added a globe icon to represent countries. This work as follows:
![homepage-search--c

[2016-05-30 18:27] jedm commented on #873
Dear @anjhero - please post an "annotated version" of the mockup naming font names and font sizes for all fonts visible (except in footer).  More notes to come below. Thanks.

[2016-05-30 18:36] jedm commented on #873
1. Text inside Search box:
- Text should be: “Search [n] documents”
- Text should be Initial caps as it is in live site

2. Remove country drop down function (We decided against this)

3. Change button text to “Search” (one word)

4. Remove pop-up function from Advanced Search link. This link should go to Search page (see also #895)

5. For section with intro text:
- Anders/NRGI to provide intro t

[2016-05-31 01:45] jedm commented on #777
Looks good. A few fixes, please:

- In previous section, ("Disclosure Mode") delete extra hr after link (first X in image below)
- Delete hr separating first set of details from Associated Docs section (second X in image below)
- Move Associated Docs section higher
- Change Heading text ("Associated Documents") to same color gray as other headings in column - important to be consistent

Finally, I

[2016-05-31 04:48] jedm opened #900 "Contract View - Clean Up Toolbar"
To reduce clutter and conserve space in Contract View toolbar:

- Delete word "Zoom" and replace with icon (see example below *)
- New icon must be same height and color match for TEXT and PDF icons
- Move zoom tool to the left
- Resize - / + zoom buttons to same height as the white box that has the current page number (or reduce size of page number box)
- Reduce font size of page number tool to s

[2016-05-31 05:29] upasna01 commented on #867
@anderspeders does it mean the signature date is to be completely removed from metadata.
As for the signature year it is already mandatory.

[2016-05-31 05:31] upasna01 commented on #298
The issue is further discussed on
https://github.com/NRGI/resourcecontracts.org/issues/867

[2016-05-31 05:31] #298 closed

[2016-05-31 06:21] hello-deepak commented on #895
I am referring to

  *  Add global search to top bar (like “Countries,” “Resources” pages)  (no. 3)

If we add "Global search" in top bar then this search [page](http://www.resourcecontracts.org/search) is going to have two filter option for search. one from global search and other from filter option in search page (which is highlighted in earlier comment image).

[2016-05-31 06:32] jedm commented on #895
Thanks for clarifying, @hello-deepak! Actually, there will not be two search options in this scenario because, per the very next bullet in the first request [(#1 of 5)](https://github.com/NRGI/resourcecontracts.org/issues/895#issue-156031201), you should **hide the existing search box** from this screen.

![slide05a](https://cloud.githubusercontent.com/assets/2153664/15665216/80b8787c-26be-11e6-91

[2016-05-31 12:24] SamCCSI commented on #777
I like the idea of a small indentation for "child" documents.

*SAM SZOKE-BURKE*
*Legal Researcher**Columbia Center on Sustainable Investment*
Columbia Law School | The Earth Institute, Columbia University
435 W116th St. New York, NY 10027
| (+1)(212) 854-2635 <+1212-854-2635> | (+1)(646) 630-4123 <+1646-630-4123>
| s.burke@columbia.edu
| www.ccsi.columbia.edu | @CCSI_Columbia <https://twitter.com

[2016-05-31 12:34] upasna01 commented on #897
@charlesyoung Some additional translations are required and  are highlighted in the document. Please provide the translations for following,
[contract](https://docs.google.com/spreadsheets/d/14nWO64kuhOPszYVoQegcl_aDhR29zFRnWDavgG2mCLY/edit?ts=574c101a#gid=180874788)
[annotation](https://docs.google.com/spreadsheets/d/14nWO64kuhOPszYVoQegcl_aDhR29zFRnWDavgG2mCLY/edit?ts=574c101a#gid=1608949283)
[g

[2016-05-31 13:42] hello-deepak commented on #880
Please review demo  [DRC](http://rc-site-demo.elasticbeanstalk.com/drc/public/) subsite with french translation.

[2016-05-31 14:03] charlesyoung commented on #880
Initial comments below.

[DRC french translation comments.docx](https://github.com/NRGI/resourcecontracts.org/files/291260/DRC.french.translation.comments.docx)

[2016-05-31 15:00] KaitlinCCSI commented on #660
Please keep "Beta" on OLC for now. Thanks. Defer to @anderspeders and others on whether to keep for RC.

[2016-05-31 18:38] KaitlinCCSI commented on #777
Agree with small indentation for child docs.

[2016-05-31 18:39] SamCCSI opened #901 "Appearance of associated documents on search page"
As a user, I might want to do a general search that reveals search results that include both contracts and associated documents.

We need to sort out/finalize how associated documents appear on the search results page. E.g. will they appear on the search page with contracts, but be differentiated somehow - eg by a dividing line or icon?

[2016-05-31 18:43] SamCCSI opened #902 "Change "contracts" to "documents" on search results page"
The tally circle should say "Documents," as it includes contracts + associated documents.

![image](https://cloud.githubusercontent.com/assets/12913915/15686376/f6a2bd16-273d-11e6-8f47-d1838cb8a887.png)

The only time it would be correct for it to say contracts is when a user designs a search term that only returns contracts. Eg:
![image](https://cloud.githubusercontent.com/assets/12913915/1568639

[2016-05-31 22:14] KaitlinCCSI commented on #873
I agree with Jed's recommendation of changing to two-color system (has
contracts/has no contracts) and removing heat map.

On Mon, May 30, 2016 at 1:36 PM, Jed Miller <notifications@github.com>
wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and Agriculture**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
435 West 116th St. New York, NY 10027

[2016-06-01 01:54] jedm commented on #901
Instead of adding more dividers or icons in the results, I suggest a checkbox in the Search/Filters above to narrow to "Government contracts" or something like that.

So, as with #891, the user could narrow using those controls:

![search_narrow](https://cloud.githubusercontent.com/assets/2153664/15695965/ff7ba9fc-2760-11e6-821e-030d1a7e9c04.jpg)

[2016-06-01 02:15] KaitlinCCSI commented on #901
We already have a dropdown box for "Document Type" that allows user to select only contracts (see screenshot), so the proposed checkbox for contracts isn't necessary. The main question, I think, is how the search results are organized -- (1) does the site give priority to contracts over other documents, so that the contracts are by default provided at the top of the results list and non-contracts

[2016-06-01 02:18] jedm commented on #901
Kaitlin - To me, it is still preferable not to add additional visual
elements or sort options to the results list. I suggest putting the
checkbox above, so that it is visible there even if people don't use the
dropdowns. What do others think?

On 2016-05-31 19:15, KaitlinCCSI wrote:

Links:
------
[1]
https://cloud.githubusercontent.com/assets/14825437/15696206/df908e10-2773-11e6-9d09-c816e6150f45

[2016-06-01 06:45] charlesyoung commented on #880
Add "Gérer la qualité des données" for the "Contract Quality Issues" link and lets see if it fits the menu.

[2016-06-01 09:34] hello-deepak commented on #893
Any feedback.

[2016-06-01 09:55] jedm commented on #893
Yes. Expect multiple notes shortly.

[2016-06-01 12:09] manishgs commented on #880
@charlesyoung
The issues are fixed. Please review once.

[2016-06-01 12:13] manishgs commented on #899
Could not understand what you mean here.

![screenshot-localhost 8000 2016-06-01 17-56-42](https://cloud.githubusercontent.com/assets/3942999/15709065/53b540ca-2822-11e6-819e-7b32b0782f3e.png)

Did you mean the editing of article reference in editor pop up box?

[2016-06-01 12:31] charlesyoung commented on #880
Thanks @manishgs, the site is looking good. Minor updates below.

1.	Below text boxes in English, when capturing metadata

![image](https://cloud.githubusercontent.com/assets/13888372/15709457/22064d48-2805-11e6-98e6-1ac340d04b91.png)

2.	Select in English, when adding an associated document

![image](https://cloud.githubusercontent.com/assets/13888372/15709463/2acfd4da-2805-11e6-8ca5-e78e747829f0

[2016-06-02 05:36] hello-deepak commented on #883
#### Contract Auto Generating logic

Contract title is generated by compiling certain metadata of contract.

OLC

1. Country name
2. Company name
3. Contract type
4. Contract number
5. Signature year

RC

1. Country
2. Company name 1 | company name 2
3. Block / Deposit Name
4. Contract type
5. Signature year

#### Migration for contract already in the system

OLC
No need for migration of contract.

[2016-06-02 06:57] charlesyoung opened #903 "Guinea country subsite"
Create a Guinea country subsite supporting French and English.

[2016-06-02 06:58] charlesyoung opened #904 "OCR language support"
Does the current OCR process support languages like Arabic, Mongolian and Chinese?

[2016-06-02 11:34] hello-deepak commented on #892
I think we can close this. Please open if you find any issue.

[2016-06-02 12:06] charlesyoung opened #905 "Backend: PDF text label changed"
![image](https://cloud.githubusercontent.com/assets/13888372/15744223/ff6fe14c-28ca-11e6-8719-1b733071e937.png)

[2016-06-03 07:05] charlesyoung commented on #47
Global site translations in below Google sheet.

https://docs.google.com/spreadsheets/d/1wVq4-6SX6W8Pk8Tyo87KuqZDhoxosCHzdtCvQkOWaQc/edit?usp=sharing

[2016-06-03 08:09] anjhero commented on #873
Hi @jedm and all,
1) Text inside Search box:
* Text should be: “Search [n] documents”
* Text should be Initial caps as it is in live site

2) Remove country drop down function (We decided against this)

3) Change button text to “Search” (one word)

4) Remove pop-up function from Advanced Search link. This link should go to Search page (see [#895](https://github.com/NRGI/resourcecontracts.org/issue

[2016-06-03 08:24] upasna01 commented on #470
@KaitlinCCSI  underlined links are link to more country and more resources, please verify and provide your feedback.

Here is the link to contract .
http://www.resourcecontracts.org/contract/ocds-591adf-PH6493643447RC/view#
![more](https://cloud.githubusercontent.com/assets/11477899/15773006/4cd0cbe4-2994-11e6-8974-2606bc9a66f1.png)

[2016-06-03 09:08] manishgs commented on #904
I've uploaded Arabic and Chinese scanned and structured pdf. Below is the result.
 Arabic - Scanned - not supported [link](http://resourcecontracts-demo1.elasticbeanstalk.com/contract/1828)
 Arabic - Structured - not supported [link](http://resourcecontracts-demo1.elasticbeanstalk.com/contract/1827)
 Chinese - Scanned - not supported [link](http://resourcecontracts-demo1.elasticbeanstalk.com/contr

[2016-06-03 10:26] charlesyoung commented on #899
Feedback from the client. 'The "Article Reference" remembers past inputs, so when I type "11" it shows all the past inputs with "11", such as 11, 11.1, 11.2.a, 11.4.c, etc. When the list gets so long, it hangs. I have to refresh the page. So some annotations have no article references, particularly "11" and sub-markings'.

[2016-06-03 10:43] manishgs commented on #905
fixed.

[2016-06-03 10:43] #905 closed

[2016-06-03 11:31] charlesyoung opened #906 "System Arabic translation"
Although the translation focus must be on French below Google sheet has some Arabic translations that can be used to look at the complexity of the translation.

https://docs.google.com/spreadsheets/d/1wVq4-6SX6W8Pk8Tyo87KuqZDhoxosCHzdtCvQkOWaQc/edit?usp=sharing

[2016-06-03 11:44] hello-deepak commented on #903
Here is the demo [link](http://rc-site-demo.elasticbeanstalk.com/gn/public/) for guinea.

[2016-06-03 11:56] charlesyoung commented on #902
This will be great to implement. Tunisia questioned me this week on how we tally and display contracts and associated documents. We will have to ensure that none of the associated documents are recorded as 'Contract'.

[2016-06-03 12:21] manishgs commented on #871
https://www.documentcloud.org/documents/1376099-kosmos-energy-suriname-2011.html

Annotations migrated. Please verify. http://admin.resourcecontracts.org/contract/1844/annotate

[2016-06-03 12:31] SamCCSI commented on #871
@manishgs looks good, thank you.

[2016-06-03 12:35] SamCCSI commented on #899
@manishgs when you type in "Art.", there are some auto fill options. Screenshot:

![image](https://cloud.githubusercontent.com/assets/12913915/15778714/eff6cf82-2965-11e6-95c0-6165cb640163.png)

However, they don't display all past article refs entered, so I'm not sure that the auto-complete is working properly. And if PH EITI are saying that it causes they annotation system to hang, then I agree

[2016-06-03 14:33] SamCCSI commented on #883
@hello-deepak I believe the naming convention is the same for OLC and RC, as follows:

## Naming convention for RC / OLC
### Main and Associated documents
[Companies 1, 2, 3, etc. with - in between], [License Name, or if blank; License Identifier], [Contract type, or if not contract; Document Type], [Signature Year], [number starting from 001]

Additionally the following basic rules will apply:

1

[2016-06-03 23:59] jedm opened #907 "Color of Annotation cluster categories"
The green color in these cluster categories is from OLC. It is the only place green appears in RC and should be changed to the orange color being used as a highlight across RC.

Also please change "By Page" and "By Topic" buttons to the respective site colors for RC and OLC (so, orange for RC, green for OLC).

Request is for consistency and also because of forthcoming color request re. Clips. Than

[2016-06-04 04:43] jedm commented on #893
Below please find changes and fixes for Clips function. Please refer also to #861 and other issues referenced below. Where necessary, you should also refer to original Clips specs sent via PDF in January, 2016 ( @anderspeders  can provide).

_NOTE: This feedback does not include notes from review of Share, Save, Download tools for Clips. Those will come separately._

**I. Clips - Contract View pag

[2016-06-04 04:46] jedm commented on #893
Illustrations of changes:

![slide1](https://cloud.githubusercontent.com/assets/2153664/15797651/94bf6c7c-29d4-11e6-98fd-822b340c51a5.jpg)
![slide2](https://cloud.githubusercontent.com/assets/2153664/15797652/94d15310-29d4-11e6-93fe-13f0e79515c9.jpg)
![slide3](https://cloud.githubusercontent.com/assets/2153664/15797654/94dcfecc-29d4-11e6-8932-e7fcaf57e79b.jpg)
![slide4](https://cloud.githubusercon

[2016-06-04 05:11] jedm commented on #873
@anjhero This design looks really good! A few small final requests:

- Above the map, please change "Explore Contracts" to just "Countries"
- For introduction text, @anderspeders and NRGI to provide description. (Or maybe @jimc33 or Lee can advise).
- Thank you for marking the font sizes. For more visual consistency, please change two of the font sizes slightly:

![fonts](https://cloud.githubuserc

[2016-06-04 09:59] charlesyoung commented on #897
@upasna01 the highlighted text has been translated.

[2016-06-04 21:52] jedm commented on #470
@upasna01 and @anjesh - Apologies if there are any mixed instructions above.

The 2016 comments are regarding appearance of metadata, _not_ hyperlinks within metadata. It was agreed previously (see [here](https://github.com/NRGI/resourcecontracts.org/issues/364#issuecomment-142983675), [here](https://github.com/NRGI/resourcecontracts.org/issues/470#issuecomment-185320844) and [here](https://github

[2016-06-06 11:16] giorgiacek commented on #881
Is it possible to have this download then?

[2016-06-06 13:10] manishgs commented on #815
Icon added to resize the annotation box to standard size (50X50px)

![screenshot-admin resourcecontracts org 2016-06-06 18-49-29](https://cloud.githubusercontent.com/assets/3942999/15822779/93f6d682-2c17-11e6-881d-63186f2871ea.png)

After clicking standard size icon need to click save button to save on database
![screenshot-admin resourcecontracts org 2016-06-06 18-51-05](https://cloud.githubuserc

[2016-06-06 13:11] manishgs commented on #880
Please review the DRC site. French language has been updated.

http://rc-site-demo.elasticbeanstalk.com/drc/public/

[2016-06-06 13:13] manishgs commented on #899
Now autocomplete is turn off. Please review once.

[2016-06-06 13:13] #899 closed

[2016-06-06 13:14] manishgs commented on #898
fixed.

[2016-06-06 13:14] #898 closed

[2016-06-06 13:27] SamCCSI commented on #815
Thanks @manishgs

I just tried annotating but couldn't see this?

[2016-06-06 13:59] anderspeders commented on #881
@hello-deepak We will need a bulk zipped file with txt formatted documents. Please estimate the time needed for this or propose a viable alternative?

cc @manishgs

[2016-06-06 14:30] manishgs commented on #815
You can see the option buttons when you resize or drag the yellow box.

[2016-06-06 14:31] byndcivilization commented on #881
@hello-deepak Can we add bulk download behind oAuth. I remember at some point we talked about auth for elastic search anyways. Where are we on this?

[2016-06-06 14:33] SamCCSI commented on #815
It's not showing. see screenshot:
![image](https://cloud.githubusercontent.com/assets/12913915/15825505/07ea7c60-2bd2-11e6-97e5-f090d443a52b.png)
![image](https://cloud.githubusercontent.com/assets/12913915/15825527/1d719564-2bd2-11e6-8489-bb6eb03e2ed7.png)

[2016-06-06 14:34] charlesyoung commented on #47
Couple updates on the French Global site below.

1. The text is in English and 'More' should be 'Plus'.

![image](https://cloud.githubusercontent.com/assets/13888372/15824747/fdc45f6a-2c00-11e6-9592-8645b5fa1e84.png)

2. Below is still in English

![image](https://cloud.githubusercontent.com/assets/13888372/15824885/ac78c686-2c01-11e6-8cb8-97df38b01cc4.png)

3. Resource should be Ressource and Afr

[2016-06-06 14:42] SamCCSI commented on #892
@hello-deepak thanks for this. I will add something to the FAQ.

@hello-deepak/ @anderspeders Could you help me to understand what the following mean? I'm not quite sure from the description. Thanks.

- ( and ) signify precedence
- ~N after a word signifies edit distance (fuzziness)
- ~N after a phrase signifies slop amount

[2016-06-06 14:50] manishgs commented on #815
We are not clear how to implement fixed size box on creating an annotation so for now It will show the option when you update (drag/resize) the existing annotations.

[2016-06-06 14:53] SamCCSI commented on #815
Thanks.

Can you please change the size to 40 pixels wide by 25 pixels high?

On Mon, Jun 6, 2016 at 10:50 AM, Manish Gopal Singh <
notifications@github.com> wrote:

[2016-06-06 14:54] KaitlinCCSI commented on #470
Confirming @jedm's explanation -- we had agreed to a different approach than what we currently have, per discussion above. However, given other priorities, we are fine just keeping as is.

[2016-06-06 18:01] SamCCSI commented on #893
This all looks great.

Some comments for the final slide — **VI. Clips View - "View" button for PDF popups**:
_Questions_
- Do the annotation ribbons appear on the pop-up window? Are they functional? Does the annotation hover appear? Are they hyperlinked to the full annotation>
- Can the user switch between PDF and text in the pop-up window?
_Comments_
-  PDF should open to the FIRST page referenc

[2016-06-06 18:11] jedm commented on #893
@hello-deepak and @SamCCSI  - my replies and requests below:

No. Popups should contain only PDF, DOC TITLE, SCROLLING and BROWSER FRAME, per above. See below for follow-up re. Annotation title, Category

No.

Yes. Very important.

I do not think this is necessary, but if it is easy to deliver I agree it is useful.

Agree. @hello-deepak please advise if these two attributes can be displayed in the

[2016-06-07 04:19] upasna01 commented on #867
Please confirm the changes @anderspeders

[2016-06-07 04:28] manishgs commented on #888
@SamCCSI  we are waiting for you confirmation.

[2016-06-07 04:43] manishgs commented on #817
@SamCCSI @anderspeders Please let us know what we need to do her

[2016-06-07 06:37] hello-deepak commented on #893
Thank you @jedm and  @SamCCSI . This is very helpful.

According to above discussion. Here is a proposed  mockup for **"View" button for PDF popups**
![clippopup](https://cloud.githubusercontent.com/assets/7577697/15848062/3ceed87e-2caa-11e6-9f54-2ffe00224b98.png)

Please provide feedback.

[2016-06-07 10:24] upasna01 commented on #871
All missing annotations are migrated please verify.
http://admin.resourcecontracts.org/contract/1215/annotate

[2016-06-07 10:49] jedm commented on #893
This looks good. A few comments:

- If user uses the arrows/"go to" tool to view a different part of the PDF:
1) does the category and article reference on left side of banner change dynamically?
2) can there be a small text link (just a link) called "Reset" that returns the PDF view to the original location?

- Will the Annotation boxes appear in the PDF? I suggest no.

- please make sure that fo

[2016-06-07 11:26] hello-deepak commented on #893
No, it only refers to the original annotation on clicking "View" from clip page.

Sure.

No, the annotation boxes does not appear in the PDF.

Thank you @jedm

[2016-06-07 11:28] jedm commented on #893
Thanks, @hello-deepak

On 2016-06-07 07:26, Deepak wrote:

Links:
------
[1] https://github.com/jedm
[2]
https://github.com/NRGI/resourcecontracts.org/issues/893#issuecomment-224252628
[3]
https://github.com/notifications/unsubscribe/ACDcwEetANvXU9wKeb5R1nN7ZSc_vJ7sks5qJVVNgaJpZM4IjIrZ

[2016-06-07 12:06] SamCCSI commented on #817
I think having a resource field of "not specified" that you have to select is more precise than making the field non-mandatory. We need to ensure that uploaders make their best effort to label the resource properly.  @anderspeders / @KaitlinCCSI any thoughts?

[2016-06-07 12:09] SamCCSI commented on #893
Re point 2: rather than a reset button, perhaps the article reference up
top can be hyperlinked as it is in the regular site? That has the same
function as a 'reset' button but is more consistent with how the site
already works.

On Tue, Jun 7, 2016 at 7:28 AM, Jed Miller <notifications@github.com> wrote:

[2016-06-07 12:15] manishgs commented on #815
box size updated.
@SamCCSI  Please review once.

[2016-06-07 12:18] jedm commented on #893
Either is fine with me. The link implies "navigation," which the popups should not really offer, but it also looks more elegant.

Whatever YI thinks best.

[2016-06-07 14:12] SamCCSI commented on #888
Apologies for the delay.

A. If search query is only found in annotation: the title of the contract should link the same way as the annotation text does — i.e. to the page of the contract with the annotation, and the annotation on display and expanded.

B. If search query is only found in metadata: the title of the contract should link the same way as the excerpted metadata text does — i.e. to the

[2016-06-07 14:21] SamCCSI commented on #815
This is exactly what we were hoping for. Many thanks @manishgs !

[2016-06-07 14:25] SamCCSI commented on #815
Apologies — will leave this open until we also have the ability to use standard sized box for new annotations (currently we only have this functionality when updating past annotation markers).

[2016-06-07 15:03] byndcivilization commented on #881
@anjesh does this solution sound right? Also we may want to use this as an opportunity to talk about migration to nrgi servers or a managed compose.io elastic search instance.

[2016-06-07 20:11] anderspeders opened #908 "RSS feed for annotations and contracts"

[2016-06-08 12:33] manishgs commented on #815
@SamCCSI

Standard sized box option also added while creating an annotation.

![screenshot-admin resourcecontracts org 2016-06-08 18-15-44](https://cloud.githubusercontent.com/assets/3942999/15894354/38861d6e-2da5-11e6-905d-4e89189e02f5.png)

[2016-06-08 13:24] charlesyoung commented on #904
@manishgs can you research the requirements needed to OCR Chinese and Arabic contracts?

cc @anderspeders @anjesh

[2016-06-08 14:28] charlesyoung commented on #897
When adding a second company the 'Name of Company' field 'Nom de société' is noted as 'Nom du contrat' which is incorrect.

![image](https://cloud.githubusercontent.com/assets/13888372/15897693/c237c40a-2d95-11e6-9d47-f7d7ea5c8ec6.png)

[2016-06-08 14:42] charlesyoung commented on #47
1. Some of the drop down lists like 'Ressource' are in English

2. The 'download search results' downloads all the contracts and not only for the DRC

3. Why cannot I find below companies, of a newly added contract, on the DRC or Global RC sites?

![image](https://cloud.githubusercontent.com/assets/13888372/15898177/75389eb6-2d97-11e6-9dd3-ad9158417ba9.png)

4. Should the page numbers not be hyper

[2016-06-08 19:11] charlesyoung commented on #897
Sort drop down lists alphabetically.

![image](https://cloud.githubusercontent.com/assets/13888372/15907431/75443ae8-2dbd-11e6-95bd-afe26be95277.png)

[2016-06-09 07:35] hello-deepak commented on #881
Here is [url](http://s3-us-west-2.amazonaws.com/rc-demo/bulktext/allpages.txt.tgz) of bulk text for now.

[2016-06-09 16:28] byndcivilization commented on #881
is this a one time download or do you re archive periodically?

[2016-06-10 07:23] charlesyoung commented on #47
@anjesh is someone looking at these issues?

[2016-06-10 09:19] manishgs commented on #47
If article reference is not given then page number is hyperlinked else page number is link. Please check [here](http://rc-site-demo.elasticbeanstalk.com/drc/public/contract/ocds-591adf-CD6818431592RC)

[2016-06-10 10:07] anjesh commented on #881
@byndcivilization Rather than the php script, we quickly wrote the bash script to prepare the text file dump directly from the database and upload to S3. How often do you need the download. Otherwise we could present a web wrapper in the admin interface, which runs the bash script and shows the link from S3 when prepared. Does this work for you?

[2016-06-10 11:21] byndcivilization commented on #881
I think you can just do a weekly or nightly chron and add a link somewhere.

[2016-06-10 19:43] SamCCSI commented on #871
@upasna01 that contract looks good, thanks.

@manishgs Are there other contracts other than the initial two that were to be migrated?

[2016-06-10 20:34] KaitlinCCSI commented on #817
Agree with Sam and am fine with "Not specified"

On Tue, Jun 7, 2016 at 7:06 AM, SamCCSI <notifications@github.com> wrote:

--

*KAITLIN Y. CORDES*

*Head: Land, Agriculture, and Human Rights**Columbia Center on Sustainable
Investment*
Columbia Law School - The Earth Institute, Columbia University
435 West 116th St. New York, NY 10027
| +1 (917) 658 5172
| kaitlin.cordes@law.columbia.edu
| www.ccs

[2016-06-13 05:44] upasna01 commented on #867
I thin the issue is safe to close for now.

[2016-06-13 08:01] charlesyoung opened #909 "Tunisia public site transaltion"
Implement the French language support for the Tunisia public site.

[2016-06-13 10:35] giorgiacek commented on #881
Thanks for the bulk download!
However, would it be possible to have **the texts still divided into the original documents?**
Like this (merged), the analysis I can do it's kind of limited.

Thanks!

[2016-06-13 12:00] SamCCSI commented on #867
Reopening. @anderspeders could you let us know what year to enter when there is no indication of the signature date?

[2016-06-13 12:22] hello-deepak commented on #909
Here is the demo [link](http://rc-site-demo.elasticbeanstalk.com/tn/public/) for Tunisia public site .

[2016-06-13 13:38] charlesyoung commented on #909
Thanks @hello-deepak. Couple of issues noted.

The resource shows correctly (in French when viewing the site in French) in the admin site but not on the public site.

![image](https://cloud.githubusercontent.com/assets/13888372/16009319/71466822-317c-11e6-827d-ded322d6b138.png)

The date is captured as 2006-01-12 in the admin site but isn't translated in the public site.

![image](https://cloud.gi

[2016-06-13 14:08] charlesyoung commented on #906
Updated Arabic translations Google sheet.

https://docs.google.com/spreadsheets/d/1nDS6PbpvC626mV03O-_c4gYNZ-aKBxoGP6FCbnXyHjs/edit?usp=sharing

[2016-06-13 14:08] charlesyoung commented on #875
Linked: System Arabic translation #906

[2016-06-13 14:09] #875 closed

[2016-06-13 14:09] SamCCSI opened #910 "Bug: need to refresh page after adding each annotation"
From one of our annotators (who is using Google chrome):

_I have to refresh the contract each time after adding an annotation. I am unable to add annotations one after the other without doing that. Also, some of the annotations get saved but haven't been updated once I refresh. So I have to keep redoing the same annotations a few times before they get saved._

Here is the contract she was working

[2016-06-14 09:12] upasna01 commented on #867
@SamCCSI In case of no indication of the signature date, signature date can be left blank, only signature year is a mandatory field as shown below:
![date](https://cloud.githubusercontent.com/assets/11477899/16037450/426b5e30-3240-11e6-938f-d1e54cea9b8a.png)

[2016-06-14 12:05] SamCCSI commented on #867
If we don't know the year, what year should we include as metadata?

On Jun 14, 2016, at 5:13 AM, upasna01 <notifications@github.com> wrote:

@SamCCSI <https://github.com/SamCCSI> In case of no indication of the
signature date, signature date can be left blank, only signature year is a
mandatory field as shown below:
[image: date]
<https://cloud.githubusercontent.com/assets/11477899/16037450/426b5

[2016-06-15 02:26] magnaibayar opened #911 "Save annotation"
Hello?
I'm trying to make the application to production mode. And I'm using Apache server and access my site by my-project/public url, annotation is not saving problem. "Sorry we could not connect to the annotations store"

But when use php artisan serve command, and browse localhost:8000, annotation is saved. Without any problem.

Is there any difference?

[2016-06-15 03:54] upasna01 commented on #867
I think we will need @anderspeders opinion on this one.

[2016-06-15 19:23] charlesyoung opened #912 "Word File Download"
Two issues.

1. The Word Download is now for some reason named Global_Word_File.
2. I get a '404! The page you’re looking for doesn't exist' error when clicking on the Global_Word_File because the PDF text hasn't yet been published so it shouldn't and isn't available for download.

![image](https://cloud.githubusercontent.com/assets/13888372/16094095/e02dffa2-333e-11e6-888c-a85ca7e4a828.png)

[2016-06-15 19:47] SamCCSI commented on #892
@hello-deepak can I have some feedback on the above query? I am updating the FAQ to explain this functionality to users. Thanks!

[2016-06-16 01:54] KaitlinCCSI opened #913 "Multiple repeated annotations categories in dropdown box"
Multiple annotations categories on both RC and OLC repeat in the dropdown box on the advanced search page - they are provided first in English and then in English/French. See screenshots for a few examples from OLC. Is this is a bug? Or an error introduced by either the internationalization process or by annotators? Let's please address this soon.

![screen shot 2016-06-15 at 8 48 09 pm](https://c

[2016-06-16 06:10] upasna01 commented on #906
Some documents are added and require translations, also there are some additions in older documents which also requires translation, please update them.
https://docs.google.com/spreadsheets/d/1nDS6PbpvC626mV03O-_c4gYNZ-aKBxoGP6FCbnXyHjs/edit?ts=576220a8#gid=1829526709

[2016-06-16 11:04] hello-deepak commented on #892
* (  )   signify precedence

("Gas law"  +  "contracts") | regional
 -> Here "Gas law" and "contracts" have high precedence over "regional".

* ~N after a word signifies edit distance (fuzziness)

ie. stabilisation~2
Here 2 is fuzziness.It searches for both "stabilisation", "stabilization" and other terms by interchanging max two character .
Please go through this [link](https://www.elastic.co/gui

[2016-06-16 11:28] upasna01 commented on #912
The issue is fixed now, please do verify.

![word-file](https://cloud.githubusercontent.com/assets/11477899/16115227/76fb1f04-33e5-11e6-81fe-c0dd0028dfe9.png)

http://www.resourcecontracts.org/contract/ocds-591adf-PH6493643447RC

[2016-06-16 11:28] #912 closed

[2016-06-16 11:31] upasna01 commented on #900
The issue is fixed now, please do verify.
![900](https://cloud.githubusercontent.com/assets/11477899/16115333/12dc8d0e-33e6-11e6-9ae1-4f7327bdef66.png)

http://www.resourcecontracts.org/contract/ocds-591adf-PE0065433224RC/view#/pdf

[2016-06-16 11:35] upasna01 commented on #890
The issue is foxed now. Please do verify.
![890](https://cloud.githubusercontent.com/assets/11477899/16115374/50c17df0-33e6-11e6-9d96-0b0fcf7cd80b.png)
http://www.resourcecontracts.org

![890](https://cloud.githubusercontent.com/assets/11477899/16115401/6ff136fc-33e6-11e6-82a2-0a3aa0af4558.png)

http://www.resourcecontracts.org/contract/ocds-591adf-PE0065433224RC/view#

[2016-06-16 11:38] upasna01 commented on #902
The issue is fixed please do verify.

http://www.resourcecontracts.org/search?q=

![902](https://cloud.githubusercontent.com/assets/11477899/16115477/f1c71214-33e6-11e6-9f95-2f152b320c1c.png)

[2016-06-16 11:38] #902 closed

[2016-06-16 11:40] upasna01 commented on #907
The issue is fixed now, please do verify.

http://www.resourcecontracts.org/contract/ocds-591adf-BO5403171133RC/view
![907](https://cloud.githubusercontent.com/assets/11477899/16115525/3f467fe8-33e7-11e6-9033-78d94d21a666.png)

[2016-06-16 11:40] #907 closed

[2016-06-16 11:44] charlesyoung commented on #47
English text in the public French interface.

![image](https://cloud.githubusercontent.com/assets/13888372/16115598/5baf3356-33c8-11e6-844b-3f24909caf5f.png)

[2016-06-16 11:52] upasna01 commented on #889
The is fixed, please do verify.
http://rc-site-demo.elasticbeanstalk.com/rc/public/search?q=

http://rc-site-demo.elasticbeanstalk.com/rc/public/contract/ocds-591adf-PH6493643447RC/view
![889](https://cloud.githubusercontent.com/assets/11477899/16115753/ce0c1d04-33e8-11e6-8d8b-4ad5f3da7ba8.png)

[2016-06-16 11:53] charlesyoung commented on #47
As above image the resource is correct (French) but in the metadata summary as below its wrong.

![image](https://cloud.githubusercontent.com/assets/13888372/16115786/98ea4cb4-33c9-11e6-98fe-33d8d82eb4ff.png)

[2016-06-16 11:56] upasna01 commented on #895
The issue is fixed now please do verify.

http://rc-site-demo.elasticbeanstalk.com/rc/public/search?q=
![895](https://cloud.githubusercontent.com/assets/11477899/16115894/807b8420-33e9-11e6-894b-18456c636157.png)

[2016-06-16 12:05] upasna01 commented on #885
The issue is fixed now, Please do verify
http://www.resourcecontracts.org/search?q=

[2016-06-16 12:09] upasna01 commented on #832
The issue is fixed now, please do verify.
http://admin.resourcecontracts.org/contract/create?parent=101
![832](https://cloud.githubusercontent.com/assets/11477899/16116210/48ba14c8-33eb-11e6-8b23-2023ce633e50.png)

[2016-06-16 12:14] upasna01 commented on #888
The issue is fixed now, please do verify.
http://www.resourcecontracts.org/search?q=and

In Main search page

![888](https://cloud.githubusercontent.com/assets/11477899/16116302/ce1b4718-33eb-11e6-8450-94073376087c.png)

ContractTitle leads to

![888](https://cloud.githubusercontent.com/assets/11477899/16116341/087b810c-33ec-11e6-8638-e2e23f247070.png)

[2016-06-16 12:18] upasna01 commented on #845
The issue is fixed now, please do verify.

http://admin.resourcecontracts.org/contract/create?parent=101
![832](https://cloud.githubusercontent.com/assets/11477899/16116420/9983842e-33ec-11e6-8e3a-a2db17fec4de.png)

[2016-06-16 12:18] #845 closed

[2016-06-16 12:19] upasna01 commented on #832
The issue is fixed please do verify.

[2016-06-16 12:19] #832 closed

[2016-06-16 13:33] SamCCSI commented on #888
Thanks @upasna01.

One other issue: when you click on the title or the text result, you are taken to page one of the text, and have to click on the text icon next to the result in the left column to be taken to the correct page.

Is it possible to make it so that this step is not needed? Can we make it so that the user just clicks on the title, and it takes user directly to page 10 when the search

[2016-06-16 13:33] SamCCSI commented on #888
See screenshot for my above comment. THis is what the text search takes you to when you click on the title.

![image](https://cloud.githubusercontent.com/assets/12913915/16118505/5faa83ac-33a5-11e6-93ae-d175b6a7de3a.png)

[2016-06-16 13:40] SamCCSI commented on #885
Working nicely for me. Many thanks!

On Thu, Jun 16, 2016 at 8:05 AM, upasna01 <notifications@github.com> wrote:

[2016-06-16 13:44] SamCCSI commented on #892
Very helpful, thanks. I will update the FAQs.

On Thu, Jun 16, 2016 at 7:04 AM, Deepak <notifications@github.com> wrote:

[2016-06-16 14:19] #892 closed

[2016-06-16 17:11] jedm commented on #889
About 6 of the 12 requested changes have not been made **(in bold below)** - please fix:

A) For Contract View page:
**1. Add new row to page structure and move document name from top row to second row**
2. Move viewing tools (TEXT/PDF, page/scroll, zoom) to third row
**3. Include global search in top right corner.** Change text to “Search all documents”
**4. Add “View Summary” button (same style

[2016-06-17 00:28] jedm commented on #890
Buttons have not been standardized. They look different and text is different in several places. Full instructions in the images below.

![slide1](https://cloud.githubusercontent.com/assets/2153664/16137386/a7212884-33e7-11e6-9312-0fbbb176321d.jpg)
![slide2](https://cloud.githubusercontent.com/assets/2153664/16137387/a7218fc2-33e7-11e6-8ab3-4024f9c60110.jpg)
![slide3](https://cloud.githubuserconte

[2016-06-17 06:38] charlesyoung opened #914 "Social media link"
The social media links, only on the country sites and not on the generic site, are permanently displayed and cannot be 'switched off'.

![image](https://cloud.githubusercontent.com/assets/13888372/16142317/8dcfb878-3464-11e6-942a-6f5582bc88be.png)

[2016-06-17 12:01] SamCCSI opened #915 "View all annotations error"
From a civil society user:

I was going through your very helpful database and spotted a potential technical glitch concerning the “view all annotation” link.

For instance, if I go on that link http://www.openlandcontracts.org/countries/sl and try to click on  the “view all annotations” link I get an error message (namely: "404! The page you’re looking for doesn't exist  If you’re looking for con

[2016-06-17 23:56] jedm commented on #900
Looks very nice. A few last fixes:

- New Zoom icon should be a few pixels lower and a few pixels to the right, in order to match other doc icons and be centered between -/+ signs

- Box containing minus sign is a few pixels smaller than box containing plus sign - please fix

- As noted in https://github.com/NRGI/resourcecontracts.org/issues/889#issuecomment-226550865 on Social Sharing, move downl

[2016-06-18 13:36] charlesyoung opened #916 "PDF document not showing"
Get a 'We're sorry, there is a problem loading the contract. Please contact info-resourcecontracts@resourcegovernance.org to let us know, or check back later.' error which is only resolved with the PDF text has been published. This happens even if the show PDF text is marked yes.

[2016-06-19 02:15] jedm commented on #895
About 6 of the 15 requested changes have not been made (in bold below) - please fix:

For results page of Search on no text OR if user clicks “Advanced Search” from Homepage:
1. Change page title (for these 2 cases ONLY) to “All Documents”
2. Hide existing search box
**3. Add global search to top bar (like “Countries,” “Resources” pages) - per mockup provided, this should be TOP bar (to the right

[2016-06-20 10:04] hello-deepak commented on #786
@anderspeders @lisssek . Any update?

[2016-06-20 10:22] manishgs commented on #916
This issue is related to publishing workflow so it'll address in #778.  Closing for now.

[2016-06-20 10:22] #916 closed

[2016-06-20 10:24] manishgs commented on #645
This bug is related to publishing workflow so It'll be fixed in issue #778

[2016-06-20 10:24] #645 closed

[2016-06-20 10:36] manishgs commented on #911
I have not  run the project with direct url like you are accessing  (http://localhost/my-project/public).
Regarding annotation is not saving. i think its due to annotation store api endpoint.

In file "project-path/public/scripts/contract.view.custom/annotation/rc.annotator.js" find the prefix of store api.
`prefix: '/api',`

In your case update prefix to `'/my-project/public/api'`

@magnaibayar

[2016-06-20 10:36] #911 closed

[2016-06-20 11:49] hello-deepak commented on #915
Fixed.
http://www.resourcecontracts.org/countries/ao

![annotation](https://cloud.githubusercontent.com/assets/7577697/16193123/055ae50c-370d-11e6-8b71-da0d6c1b01e1.png)

[2016-06-20 12:06] upasna01 commented on #914
Please specify where did you find the error.

[2016-06-20 15:17] jedm commented on #915
Deepak and Sam,

The functionality here is inconsistent with the site in several ways (title is not bold, icon is a link here even though it is not in main search tool, link included in hover - which we decided against as a policy).

Easiest fix is to:
- make doc name bold as in main search pages
- remove second sentence and link from hover on annotation icon

Thanks.

Jed

[2016-06-20 15:19] jedm commented on #915
Please also correct your English in the hover. The word "an" is missing.

[2016-06-20 15:19] SamCCSI commented on #915
CCSI is happy with @jedm 's proposed changes.

[2016-06-21 05:52] charlesyoung commented on #914
http://rc-site-demo.elasticbeanstalk.com/tn/public/contract/ocds-591adf-TN2341011931RC/view

[2016-06-21 08:25] charlesyoung commented on #906
Updated Google sheet below.

https://docs.google.com/spreadsheets/d/1nfBhSK4zA-8d72beDdNQnLTLVorCypDwobKDx0fpDrQ/edit?usp=sharing

[2016-06-21 20:01] JesseCCSI opened #917 "Admin page for editing FAQ/ Resources, etc. pages down"
Hi there,

I've been trying to edit the OLC FAQ, About and Resources pages but am getting an error when I try to do so (screenshot below). Assuming this is a bug?

Thanks,
Jesse

(cc @SamCCSI or @KaitlinCCSI can you label as a bug please? thanks)

![screenshot 2016-06-21 15 57 23](https://cloud.githubusercontent.com/assets/14910764/16244287/47b26a80-37c9-11e6-8d7f-443a8eb801fd.png)

[2016-06-21 21:54] JesseCCSI opened #918 "Metadata column"
When a contract is marked as having annexe(s) missing from the document, this appears in the metadata column above the Land Matrix ID, without being separated as a horizontal line.

It should be separated by a line, as with all other items in the metadata column. Please see [this](http://www.openlandcontracts.org/contract/ocds-591adf-CD8532419488OL/view) contract as an example (and screenshot belo

[2016-06-22 07:31] magnaibayar commented on #911
It worked, Thank you very much!

[2016-06-22 11:05] manishgs commented on #910
Fixed.
@SamCCSI  Please review once.

[2016-06-22 11:05] #910 closed

[2016-06-22 11:10] manishgs commented on #815
We have button placed on popup to resize the annotation box so closing this issue. Please create new issue if you have any issue regarding standard annotation box.

[2016-06-22 11:10] #815 closed

[2016-06-22 11:36] upasna01 commented on #917
The issue is fixed now.

[2016-06-22 11:36] #917 closed

[2016-06-22 12:36] SamCCSI commented on #918
Can we also change this to the US spelling - '*Annex(es)'* rather than '
Annexe(s)'.

On Tue, Jun 21, 2016 at 5:54 PM, JesseCCSI <notifications@github.com> wrote:

[2016-06-22 22:17] JesseCCSI opened #919 "OCIDs and links to contracts on OLC have changed?"
We noticed today that the links and OCIDs for at least 25 contracts on OLC have changed over approximately the past 4 weeks. A list of affected contracts can be found [here](https://docs.google.com/a/columbia.edu/spreadsheets/d/14R5TlnSuLoKgtbMUFVvJ2GcykyAZvrlmkHnarnzwKQI/edit?usp=sharing).

For each of these contracts, it seems that the OCID changed, resulting in the link changing (or vice versa?

[2016-06-23 03:32] manishgs commented on #919
@JesseCCSI i don't have the permission for google file. I've requested please grant the permission.

[2016-06-23 04:08] upasna01 commented on #909
The issue is fixed please do verify.

[2016-06-23 05:22] upasna01 commented on #638
The issue is fixed, please do verify.

[2016-06-23 05:22] #638 closed

[2016-06-23 05:38] jedm commented on #638
Works great on iOS Safari!

[2016-06-23 06:13] charlesyoung commented on #909
Reopening, still translation issues as noted below.

![image](https://cloud.githubusercontent.com/assets/13888372/16293415/01a782e4-391a-11e6-991f-ef01f30956a8.png)

![image](https://cloud.githubusercontent.com/assets/13888372/16293439/26224d66-391a-11e6-8943-571cdeb923c2.png)

[2016-06-23 11:50] upasna01 commented on #906
The [olc](https://docs.google.com/spreadsheets/d/1nfBhSK4zA-8d72beDdNQnLTLVorCypDwobKDx0fpDrQ/edit#gid=902308079) page is not updated yet, please update.

[2016-06-23 13:02] JesseCCSI commented on #919
Thanks @manishgs I have added you now - let me know if you have any trouble accessing.

[2016-06-23 19:15] SamCCSI commented on #888
Now when I click on the title of a contract after searching, it takes me to the **metadata** page. This is wrong. I am copying out my initial github entry from above. Can you please fix?

_When text searching, I should be able to click on the title of each contract and be automatically taken to the contract view page with the search term entered into the contract search window. Right now, clicking

[2016-06-24 14:05] anderspeders opened #920 "Link to work download option broken"
Here's an example:
http://www.resourcecontracts.org/contract/ocds-591adf-AZ3743790345RC/download/word

![image](https://cloud.githubusercontent.com/assets/1101585/16339898/2612d032-39f3-11e6-9737-d1e5ad241301.png)

[2016-06-24 14:10] manishgs commented on #919
@JesseCCSI
OCID will be re-generate whenever country, category or parent contract get updated. OCID of contracts that you listed in google sheet might be changed due to the change in metadata.

Its difficult to say how OCID changed. To identify the cause we'll keep the history change in OCID for a week and will let you the outcome.

[2016-06-24 14:45] SamCCSI commented on #919
@manishgs
1. What does 'category' refer to?
2. We are almost certain that we did not change parent document (OLC doesn't have any associated documents yet) or Country.
3. Given the above, we think there must be another cause. Can you please investigate?

[2016-06-24 18:34] SamCCSI opened #921 "Lost annotations and "you are not allowed to search this" error/bug"
From an annotator:

After almost finalizing the annotations for Syria-Sudan, the last dozen of them has disappeared and I received the notifications "sorry, you are not allowed to search this" (see attached). I disconnected and reconnected to the website and it seems to work alright again, but I wanted to notify it in case it can lead to improvement of the website -- I assume my session was someho

[2016-06-24 19:16] JesseCCSI opened #922 "Adding new resource categories"
We added "field crops" as a new resource for [this](http://www.openlandcontracts.org/contract/ocds-591adf-ET6391091833OL/view) contract. However:

1. The resource does not appear in the metadata column;
2. On the summary page, when you click on "Field Crops", an error appears (screenshot below);

If you could look in to this, that would be very helpful.

![field crops](https://cloud.githubusercont

[2016-06-27 08:46] upasna01 commented on #914
The issue is fixed now, please do verify.

[2016-06-27 08:46] #914 closed

[2016-06-27 08:48] upasna01 commented on #920
The issue is fixed now. The download is working, please do verify.

[2016-06-27 08:48] #920 closed

[2016-06-27 08:50] manishgs commented on #633
@SamCCSI @KaitlinCCSI

The pages or Sitelinks are automatically generated by google. You can only demote page If you don't want a page to appear as a sitelink.

Here is the link for the webmasters tool. https://www.google.com/webmasters/tools/sitelinks?hl=en&authuser=0&siteUrl=http://resourcecontracts.org/

You need to have the permission on webmasters. Let me if you need permission or any help.

[2016-06-27 11:14] hello-deepak commented on #900
@jedm
Since the zoom icon as you have mentioned was not clearly visible in contract view page ,  we have changed the icon .
Please review this issue [here](http://www.openlandcontracts.org/contract/ocds-591adf-SS5768196941OL/view) .

[2016-06-27 11:26] hello-deepak commented on #890
Please review this issue http://www.resourcecontracts.org/ .

[2016-06-27 11:28] hello-deepak commented on #889
Please review this issue [here](http://www.resourcecontracts.org/contract/ocds-591adf-IQ0025841408RC/view) .

[2016-06-27 11:30] hello-deepak commented on #895
Please review this issue [here](http://www.resourcecontracts.org/)

[2016-06-27 11:40] hello-deepak commented on #915
Please review this feature [here](http://www.resourcecontracts.org/countries/al)

[2016-06-27 11:43] SamCCSI commented on #915
Thanks. Can you please change the hover to "This contract has annotations."

On Mon, Jun 27, 2016 at 7:40 AM, Deepak <notifications@github.com> wrote:

[2016-06-27 11:47] hello-deepak commented on #922
This issue is fixed . Please do review.

[2016-06-27 11:51] hello-deepak commented on #891
Fixed.
![resourcecontracts org search contracts](https://cloud.githubusercontent.com/assets/7577697/16378772/8ec5ad42-3c8d-11e6-8c94-e6986c6682b8.png)

[2016-06-27 11:51] #922 closed

[2016-06-27 12:22] manishgs commented on #913
@KaitlinCCSI

Fixed. Please review once.

[2016-06-27 12:36] SamCCSI commented on #888
Thanks @manishgs .

This works perfectly when I search for "consent". http://www.resourcecontracts.org/search?q=consent

But it does not work when I search for "Work commitments". http://www.resourcecontracts.org/search?q=%22work+commitments%22

In this search:
- If the result is only an annotation, then clicking on the title takes me to the correct annotation. This is working well. http://www.res

[2016-06-27 18:27] KaitlinCCSI commented on #913
Thanks, the repetition was fixed, but new errors have now been introduced.

- "Legal Enterprise Identifier" and "Project Title" have both been added, but neither of them are annotation categories and so should be removed. (see screenshots)
- Similarly, "Annexes missing" is not an annotation category, and rather is meant to be shown in the righthand metadata column as discussed in #918 .
- "Pages m

[2016-06-28 00:40] JesseCCSI commented on #919
Thanks @manishgs -- in addition to @SamCCSI 's questions, could you also please confirm what you mean by history change? If this refers to tracking OCIDs for one week in order to see whether any change, we may need to track for longer than a week (as the changes referred to in my original ticket happened over a 4 week period).

[2016-06-28 01:54] SamCCSI commented on #888
Can I ask that this ticket be prioritized? We are conducting presentations and trainings using the site next week and need to make sure the search functionality is working smoothly.

CC @KaitlinCCSI @jesseCCSI @anderspeders

[2016-06-28 04:14] manishgs commented on #919
@SamCCSI

category refer to RC or OLC

@JesseCCSI

Yes i am referring tracking OCID changes. Okay sure, we'll track for longer time.

[2016-06-28 04:41] manishgs commented on #913
@KaitlinCCSI
Following are all annotation categories.  I don't think its an error.  You can check [here](http://admin.resourcecontracts.org/quality)  for no. of contracts that have been annotated with these categories.
- Legal Enterprise Identifier
- Project Title
- Annexes missing
- Pages missing from copy
- Name of field, block, deposit or site.

For removing these annotation categories we need

[2016-06-28 05:07] manishgs commented on #894
@SamCCSI  @anderspeders  @KaitlinCCSI  @jedm
Let us know if we are ready to implement.

[2016-06-28 12:07] JesseCCSI commented on #919
Thanks @manishgs -- given that "category" refers to RC or OLC, I think there must be another reason for the OCID changes. To my knowledge, we have not changed this type of category for any of the contracts.

Are there other possible causes?

[2016-06-28 12:26] SamCCSI commented on #894
@manishgs yes ready, thanks.

To confirm: OLC will not have AMLA links, but we want the possibility of having a link to legislation from a different site.

[2016-06-28 12:59] SamCCSI commented on #913
- Legal Enterprise Identifier — Also a metadata category so the annotation category can be deleted.
- Annexes missing — Also a metadata category so the annotation category can be deleted.
- Pages missing from copy — Also a metadata category so the annotation category can be deleted.
- Name of field, block, deposit or site — Not supposed to show up on OLC

Can you please prohibit users from enterin

[2016-06-28 14:39] SamCCSI opened #923 "Bug: Searching from contract view page"
Relating to changes in this thread https://github.com/NRGI/resourcecontracts.org/issues/895

One bug that needs fixing:

When I am viewing a contract and then click on the search pane, the advanced search features appear.

However, I cannot "click out" of this.

Please change so that if the user makes the search options appear but then clicks back on the contract view page (anywhere but on the sea

[2016-06-28 19:46] SamCCSI commented on #885
Reset button not working here: http://www.openlandcontracts.org/search?q=sgsoc

Pressing the button does not delete the search term or bring back the default collection of contracts.

![image](https://cloud.githubusercontent.com/assets/12913915/16429994/7ee7e524-3d47-11e6-9837-790ce96b8379.png)

[2016-06-30 04:21] jedm commented on #895
Four last fixes. 3 were requested at beginning of thread and not yet made. One is new.

If user submits a new text search from any global search box:

**Search box in top bar should say "Search all documents" - not text string searched**

**This change has not been made yet**

**Please change magnifying glass icon in _lower_ box ("Change or refine...") back to LIGHT gray. (Apologies for reversal.

[2016-06-30 05:33] upasna01 commented on #900
The issue on zoom icon and social sharing button is fixed, I think this issue is safe to close for now.
Please do verify [here](http://www.resourcecontracts.org/contract/ocds-591adf-SL0498783225RC-1832/view)

[2016-06-30 05:33] #900 closed

[2016-06-30 06:01] upasna01 commented on #901
We did add checkbox to search annotated contract, Please verify and do suggest changes required.
Please do verify.

http://www.resourcecontracts.org/search?q=&resource%5B%5D=Base+metals&annotated=1

![901](https://cloud.githubusercontent.com/assets/11477899/16478176/f8316466-3eb7-11e6-866b-43bd0bfa4d28.png)

[2016-06-30 07:47] upasna01 commented on #887
The issue is fixed now, please do verify.

[2016-06-30 08:04] upasna01 commented on #817
The issue is fixed, please do verify.

![871](https://cloud.githubusercontent.com/assets/11477899/16481136/558044f0-3ec9-11e6-82d7-cc22daf57e00.png)

[2016-06-30 08:04] #817 closed

[2016-06-30 08:23] upasna01 commented on #777
The issue is fixed, please do verify.

http://www.resourcecontracts.org/contract/ocds-591adf-PE1651033763RC-1553/view

![777](https://cloud.githubusercontent.com/assets/11477899/16481640/fe474f3c-3ecb-11e6-8e18-3e1e026b5b42.png)

[2016-06-30 08:23] #777 closed

[2016-06-30 12:45] jedm commented on #777
Looks good thanks!

[2016-06-30 13:52] KaitlinCCSI commented on #895
Re last question about advanced search page. I think that's fine to not have it appear on clicking into text search bar BUT is there any way to easily access it for people without having to first do a text search? For example, could there be the text search area and then next to it a smaller hyperlinked "Advanced Search" line or something, and when that line is clicked the advanced search tool app

[2016-06-30 21:46] jedm commented on #895
I do not think it is necessary to have the Advanced Search option before your first results display, but I am happy to be outvoted by @anderspeders or @charlesyoung or @byndcivilization.

[2016-06-30 21:48] jedm commented on #896
For Contract pages in mobile view:

- "Annotation" and "Metadata" icons (balloon and page-with-i) should not appear within toolbar with contract view buttons - too confusing.
- Orange button for switching between View and Summary pages is too big gif, breaks the page.

[2016-07-01 03:20] magnaibayar opened #924 "getting contract/attributes issue"
Hello. Im working with frontend API and I have some problem about getting contract attributes.
I have 2 contract and 2 company. The companies name are : "Epotecmass", "CC Mongolia".
But attributes gives me: "Epotecmass", "CC", "Mongolia"
And contract types same too..

Please, help me..

[2016-07-01 08:21] hello-deepak commented on #895
@jedm

 "Change or refine your search" is placeholder of input field, which disappear when search text string appears.
![1](https://cloud.githubusercontent.com/assets/7577697/16515644/e4df7840-3f92-11e6-98c4-5f69fe2b8186.png)

![2](https://cloud.githubusercontent.com/assets/7577697/16515646/e7201aa6-3f92-11e6-96f5-97d15a83e657.png)

We can remove text string from that appears in input field in ord

[2016-07-01 12:04] manishgs commented on #924
Its related to API. So will answer on API repository.

[2016-07-01 12:04] #924 closed

[2016-07-01 12:28] manishgs commented on #923
There is "Cancel" button on advance search to close search pane .Do you still think we need to add this feature as well, please confirm ? @SamCCSI @jedm @anderspeders

[2016-07-01 12:29] upasna01 commented on #885
The issue is fixed for olc too, please do verify.

[2016-07-01 12:29] #885 closed

[2016-07-01 12:31] manishgs commented on #308
We've shown proper error message when there is an issue while resetting HIT.

[2016-07-01 12:31] #308 closed

[2016-07-01 12:31] SamCCSI commented on #885
Thanks @upasna01 - this works for me now.

[2016-07-01 12:33] upasna01 commented on #880
The issue is fixed, please do verify.

http://admin.resourcecontracts.org/contract/create

![880](https://cloud.githubusercontent.com/assets/11477899/16521677/31398616-3fb8-11e6-9d5a-6620e25f29fc.png)

[2016-07-01 12:33] #880 closed

[2016-07-01 12:41] upasna01 commented on #894
The issue is fixed, please do verify.

http://www.resourcecontracts.org/contract/ocds-591adf-CD1072178188RC/view

![894](https://cloud.githubusercontent.com/assets/11477899/16521833/50f33fe6-3fb9-11e6-893b-7dedfe002249.png)

[2016-07-01 12:55] jedm commented on #923
I think the appearance of advanced search on click is confusing and Sam is correct that it gets in the way and that removing it is difficult.

I suggest changing "Cancel" to "Hide."

I also suggest making the Hide  button look different than the Search and Reset buttons and perhaps moving it to the corner.  Those buttons are for search operations and the Hide button is for the pop up, so it is con

[2016-07-01 13:06] jedm commented on #895
The repetition of the term that is searched (eg, "environment") is redundant, and confusing for the user. That is why this request was made.

You raise a good point, however, that if user wants to "refine" it might be better to have the original term pre-populated.

Would welcome a suggestion or preference from @byndcivilization.

[2016-07-01 13:36] SamCCSI commented on #817
Looks good, thanks.

On Thu, Jun 30, 2016 at 4:05 AM, upasna01 <notifications@github.com> wrote:

[2016-07-01 13:41] SamCCSI commented on #887
This is strange. I'm now getting zero results for search of stabilization http://www.openlandcontracts.org/search?q=stabilization

![image](https://cloud.githubusercontent.com/assets/12913915/16523158/e4b58224-3f6f-11e6-8690-353577377653.png)

[2016-07-01 13:43] SamCCSI commented on #894
@upasna01 I don't see where I add the legislation link on the back end
http://resourcecontracts.elasticbeanstalk.com/contract/create

Has it been hidden?

[2016-07-01 14:18] KaitlinCCSI commented on #894
Also I think there should be a space between country name and legislation, OR legislation should be at the very bottom of the column (which is where Jed had originally put it in mockup, and which is my preference). @jedm what do you think?

[2016-07-01 14:19] KaitlinCCSI commented on #887
Note that we are doing a training using this site next week, so hopefully this can be addressed soon.

[2016-07-01 14:45] KaitlinCCSI commented on #895
Jed re whether Advanced Search should be an option without having to first search in text field -- I see this as very useful aspect of the site, so if there is a way to have it available, I would have a strong preference for that.

[2016-07-01 14:58] SamCCSI commented on #923
@jedm 's proposed changes sound great. Given these, we are happy to park the "click out" request for now.

[2016-07-01 15:16] byndcivilization opened #925 "Migration of ElasticSearch"
ElasticSearch needs to either move a dockerized application (with env variables passed at runtime), to NRGI's AWS account, or to a managed service on Compose.io.

[2016-07-01 15:51] byndcivilization opened #926 "Dockerization of full platform"
All pieces of platform (except for database and maybe elasticsearch) need to be fully dockerized. This means that env variables and configs  should be set at run time letting containers be completely stateless. YI should not need access to NRGIs AWS account to make this happen.

Instead we should move to the existing continuous deployment methodology of NRGI:
- push staging and production code to

[2016-07-01 15:51] byndcivilization opened #927 "S3 Migration"
Migrate all S3 objects and buckets to NRGI AWS stack.

[2016-07-01 20:00] jedm commented on #894
Legislation must be at bottom as spec-ed. Thanks, @KaitlinCCSI!

[2016-07-01 20:03] jedm commented on #895
Would welcome a suggestion or preference from @byndcivilization.

[2016-07-04 05:51] hello-deepak commented on #887
The query of "text string" searches in metadata, pdf text and annotations text .

![admin resource contracts](https://cloud.githubusercontent.com/assets/12913915/15374435/648d18d8-1d18-11e6-8dd0-674514118f11.png)
We got this result, because we have flaws in our search . It was also actually searching in annotation category as well which should not be, so now it is fixed and only searches in annota

[2016-07-04 09:16] hello-deepak commented on #889
I think we can close this issue. Please create new issue if you find any .

[2016-07-04 09:16] #889 closed

[2016-07-04 10:36] hello-deepak commented on #825
View more/less is added in annotation in text-search.
![resourcecontracts org rapu rapu minerals incorporated mpsa no 168 2001 v 2001](https://cloud.githubusercontent.com/assets/7577697/16558102/3d8b1892-4203-11e6-944d-3481ad80d964.png)

[2016-07-04 10:40] hello-deepak commented on #918
Fixed .
![openlandcontracts org drc trans m contrat de concession forestiere n 009 11 secteur lomako 4 aout 2011](https://cloud.githubusercontent.com/assets/7577697/16558236/eadc7aae-4203-11e6-954a-dc480817b666.png)

[2016-07-04 10:40] #918 closed

[2016-07-04 10:47] hello-deepak commented on #894
Fixed.
![legislation](https://cloud.githubusercontent.com/assets/7577697/16558344/ce786412-4204-11e6-882a-162b3ac78d3e.png)

[2016-07-05 03:36] manishgs commented on #633
@SamCCSI
Closing this issue. Please create new issue if you have any issue related to google indexing.

[2016-07-05 03:36] #633 closed

[2016-07-05 05:20] hello-deepak commented on #901
Annotated checkbox has been added to search annotated contrats . Please create new issue if you find any.

[2016-07-05 05:20] #901 closed

[2016-07-05 05:24] upasna01 commented on #890
The issue s fixed, the arrow is removed and  consistency in alignment is maintained.
http://www.resourcecontracts.org/

[2016-07-05 05:24] #890 closed

[2016-07-05 05:39] hello-deepak commented on #915
Fixed.

[2016-07-05 05:39] #915 closed

[2016-07-05 05:53] upasna01 commented on #610
The issue is fixed and further discussion can be linked to issue  [#888](https://github.com/NRGI/resourcecontracts.org/issues/888)

![610](https://cloud.githubusercontent.com/assets/11477899/16575091/0580bc66-42a5-11e6-8730-6587c53382ef.png)

[2016-07-05 05:53] #610 closed

[2016-07-05 06:02] upasna01 commented on #785
The text for download is changed, please verify.

http://www.resourcecontracts.org/search?q=

![785](https://cloud.githubusercontent.com/assets/11477899/16575197/fc3a274a-42a5-11e6-98d0-d7825ca972fc.png)

[2016-07-05 06:13] hello-deepak commented on #668
The contract name with larger title are shown on hovering the title.

http://www.resourcecontracts.org/contract/ocds-591adf-IS1796417971RC

[2016-07-05 06:13] #668 closed

[2016-07-05 07:27] upasna01 commented on #524
I think the issue is safe to close now, as further discussion can be continued [#873](https://github.com/NRGI/resourcecontracts.org/issues/873)

[2016-07-05 07:27] #524 closed

[2016-07-05 07:33] manishgs commented on #867
Closing for now.

[2016-07-05 07:39] manishgs commented on #798
@anderspeders @charlesyoung  any updates?

[2016-07-05 08:15] upasna01 commented on #888
The issue is fixed, now the search results goes to the chosen text, annotation or metadata.

![888](https://cloud.githubusercontent.com/assets/11477899/16578053/30aaeda4-42b8-11e6-8ef6-606481a46b88.png)

[2016-07-05 12:02] upasna01 commented on #909
The issue is fixed for now, please verify.

http://rc-site-demo.elasticbeanstalk.com/tn/public/contract/ocds-591adf-TN3265676379RC?lang=fr

![909](https://cloud.githubusercontent.com/assets/11477899/16583915/6c67759a-42d8-11e6-8e5a-c44a5fd0bc13.png)

[2016-07-05 12:02] #909 closed

[2016-07-05 12:41] SamCCSI opened #928 "Urgent - Annotation hovers don't link to full annotation"
When I hover over an annotation, there is no longer a hyperlink to take me to the full annotation listing on the left hand side. This used to be a hyperlinked ">>".

This means that users can't easily read more than two lines of an annotation when they are browsing the document page by page.

We are teaching using the site this week. If this could be fixed urgently we would greatly appreciate it.

[2016-07-05 12:55] SamCCSI commented on #867
Re-opening. @anderspeders what do you think is the answer to my query above?

[2016-07-05 12:58] SamCCSI commented on #888
Working nicely. Thanks @upasna01 !

[2016-07-05 17:01] SamCCSI opened #929 "Annotation back-end: pages take long time to load"
There seems to be issues with the loading time of the contract pages when adding annotations. Can this be investigated?

From an annotator who is adding annotations that were already drafted by another researcher:

These annotations are taking very long to do—over an hour—due to the time the pages take to load while navigating through the contract.  The actual annotations themselves probably take

[2016-07-05 19:18] JesseCCSI commented on #825
Thanks @hello-deepak this works well, though the "more/ less" buttons are not easily distinguishable from the rest of the text when you hover over the search result (please see screenshots below).

Is it possible to distinguish the "more/ less" buttons, e.g. by making them bold?

Perhaps @jedm has suggestions on how best to distinguish the buttons, while remaining consistent with the rest of the s

[2016-07-05 19:20] SamCCSI commented on #825
Re-opening in line with Jesse's comment.

[2016-07-06 07:04] charlesyoung commented on #798
@manishgs I will get back to you ASAP.

[2016-07-06 07:57] charlesyoung commented on #47
@upasna01 one more issue noted. The disclosure mode is correctly translated on the summary page but not below.

![image](https://cloud.githubusercontent.com/assets/13888372/16611097/9a5ad780-435f-11e6-8cc7-2f4013bd6557.png)

[2016-07-06 09:03] charlesyoung commented on #660
@anjesh we need to remove the 'beta' text from the RC site and start implementing a version numbering system.

[2016-07-06 12:30] charlesyoung commented on #906
Updated Google sheet below.

https://docs.google.com/spreadsheets/d/1AD8jPAlrR7uoHS2Gr7J6u_Uyozw-OA7e6eQa3QeCdmM/edit?usp=sharing

[2016-07-06 14:12] SamCCSI commented on #871
@manishgs @upasna01 @anderspeders there were other contracts identified in May 2016 as not having been migrated. We thought that @anderspeders had allocated them to YI but I cannot find the ticket.

They can be found here: https://docs.google.com/a/columbia.edu/spreadsheets/d/1iwhIIDk7CrIVR2IjtGDIfruA1qRLQ4WfbJxlh2uQNI8/edit?usp=sharing

Column B indicates the problem. Column D indicates the actio

[2016-07-07 11:40] SamCCSI commented on #883
@upasna01 exciting to see the generate contract name button! I guess you are still working on it, but too quick reactions to how it works now:
1. We need to have a space after each comma.
2. We also need to have an auto number [starting at 001] for each contract.

[2016-07-08 12:01] upasna01 commented on #871
The renaming button for contract is updated.

![871](https://cloud.githubusercontent.com/assets/11477899/16686643/4b13f096-4533-11e6-92af-d01e15fdb3e7.png)

Also the after clicking the utility button you will be able to rename multiple contracts at a time. Please review and provide your feedbacks.

![8711](https://cloud.githubusercontent.com/assets/11477899/16686710/bf612608-4533-11e6-8056-58e2c2d

[2016-07-08 12:15] SamCCSI commented on #871
@upasna01 wrong issue — latest comment belongs here: https://github.com/NRGI/resourcecontracts.org/issues/883

[2016-07-08 17:27] jedm commented on #895
Would welcome a suggestion or preference from @byndcivilization.

[2016-07-08 19:15] SamCCSI commented on #915
@hello-deepak not fixed. Hover should say "This contract has annotations." and not have any hyperlinks. On OLC it still has the hyperlink. This needs to be removed.

![image](https://cloud.githubusercontent.com/assets/12913915/16698888/b5eeb21c-451e-11e6-95e6-2a42fa6f25ed.png)

[2016-07-11 03:55] upasna01 commented on #883
The renaming button for contract is updated.

![871](https://cloud.githubusercontent.com/assets/11477899/16686643/4b13f096-4533-11e6-92af-d01e15fdb3e7.png)

Also the after clicking the utility button you will be able to rename multiple contracts at a time. Please review and provide your feedbacks.

![8711](https://cloud.githubusercontent.com/assets/11477899/16686710/bf612608-4533-11e6-8056-58e2c2d

[2016-07-11 07:46] upasna01 commented on #871
The doc is updated, we don't have jason files for all of the contracts, Please view the google sheet and provide json file for marked contracts.

https://docs.google.com/spreadsheets/d/1iwhIIDk7CrIVR2IjtGDIfruA1qRLQ4WfbJxlh2uQNI8/edit#gid=0

[2016-07-11 12:00] hello-deepak commented on #915
Hyperlinks from OLC has removed.

[2016-07-11 12:15] SamCCSI commented on #915
Thanks @hello-deepak

[2016-07-11 12:25] manishgs commented on #928
link added. Please review once.

[2016-07-11 12:25] #928 closed

[2016-07-11 12:39] SamCCSI commented on #883
1- @upasna01 thank you for inserting the space after each comma.

2- Regarding the number at the end of the contract:
- this should NOT be the contract number that RC uses on the back end. It should always start at 1 (or 001).
- It is designed to be used where there are two contracts that would have the exact same name.
- Can you make it so that the number only appears where there are two contract

[2016-07-11 17:46] SamCCSI commented on #928
Looks good, thanks.

[2016-07-11 19:53] SamCCSI commented on #879
This bug still happens when reviewing text on the backend:

![image](https://cloud.githubusercontent.com/assets/12913915/16744544/a21360ae-477f-11e6-8b7c-8795da61feff.png)

[2016-07-12 04:55] #803 closed

[2016-07-13 05:22] manishgs opened #930 "Mechanical Turk Improvements"
- [ ] #795 Currently HIT auto reset time is after 20 days. It should be after HIT expiry date (i.e 10 days).
- [ ] #275 Setup SSL certificate of Mechanical Turk HIT page @anderspeders

[2016-07-13 05:23] manishgs commented on #795
Further discussion on #930

[2016-07-13 05:23] #795 closed

[2016-07-13 05:25] manishgs commented on #275
This will address in issue #930

[2016-07-13 05:25] #275 closed

[2016-07-13 05:41] manishgs commented on #745
As per above discussion.  Following are the to-dos:
- Add new field `is_translation` having radio buttons  `yes` and `no` (default is `no`)  in contract  form.
- Update API
- Run bulk index
- Display the field on contract summary page (subsite).

Do we need contract drop down list to choose main contract if `is_translation` selected? @anderspeders @jpmckinney @SamCCSI

[2016-07-13 06:05] manishgs commented on #913
- We can safely remove 'Annexes missing'  and  'Pages missing from copy' annotation category as they are not in used.

- "Legal Enterprise Identifier" is used in 27 contracts and "Name of field, block, deposit or site"  is used in 156 (including OLC contracts) so provide us the alternative category to replace with the category.

- "I. General information" is used 2 contracts so please update the c

[2016-07-13 06:09] manishgs commented on #871
@SamCCSI  Could you please explain what we need to do for this?

[2016-07-13 09:04] hello-deepak commented on #881
@giorgiacek
Here is the [url](http://rc-demo.s3-us-west-2.amazonaws.com/textdump/dumptext.zip) for all texts divided into original documents.

[2016-07-13 11:55] SamCCSI opened #931 "Error when downloading word doc from backend"
I wanted to download a word version of this unpublished document on NRGI's request: http://resourcecontracts.elasticbeanstalk.com/contract/1962

When I clicked Download / Word, I got this error message

http://resourcecontracts.elasticbeanstalk.com/contract/1962/download
Sorry, the page you are looking for could not be found.

[2016-07-13 12:06] hello-deepak commented on #893
@jedm
Review clip feature in [demo](http://rc-site-demo.elasticbeanstalk.com/rc/public/) . We are working on design part.

[2016-07-13 12:08] hello-deepak commented on #896
Review mobile design . http://www.resourcecontracts.org/

[2016-07-14 06:21] hello-deepak commented on #825
@JesseCCSI
Now more/less anchor is distinguishable from search result on hovering by making dark gray for the search result and site color for more/less anchor.

![openlandcontracts org drc industrie de transformation de bois contrat de concession forestiere n 005 4 aout 2011](https://cloud.githubusercontent.com/assets/7577697/16829796/80f3b756-49ba-11e6-90a2-7f60e670381e.png)

Please review . And

[2016-07-14 06:21] #825 closed

[2016-07-14 07:04] hello-deepak commented on #169
Related to
https://github.com/NRGI/resourcecontracts.org/issues/892

[2016-07-14 07:04] #169 closed

[2016-07-14 08:01] hello-deepak opened #932 "Elasticsearch fuzzy matching in Advanced Search/ Text Search"
Dealing with typos and spelling mistake while searching.

Implement fuzzy matching in
- [x] Advanced Search
- [x] Text Search

[2016-07-14 08:02] hello-deepak commented on #823
We will continue in https://github.com/NRGI/resourcecontracts.org/issues/932 issue for further discussion.

[2016-07-14 08:02] #823 closed

[2016-07-14 08:03] hello-deepak commented on #51
We will be using https://github.com/NRGI/resourcecontracts.org/issues/932 issue for further discussion.

[2016-07-14 08:03] #51 closed

[2016-07-14 11:43] upasna01 commented on #871
Please provide abbreviations for the Type Of Contract.

https://docs.google.com/spreadsheets/d/1iwhIIDk7CrIVR2IjtGDIfruA1qRLQ4WfbJxlh2uQNI8/edit#gid=891628407

[2016-07-14 12:06] JesseCCSI commented on #932
Thanks @hello-deepak  just to also confirm that the following points from Sam's original comment #823 will be addressed:

1. Text search (of annotations) should include the text of annotation **titles** as well.
2. Fuzzy searching should pick up that "expropriate" and "expropriation" are related terms, and return results that include both of those words.

cc @SamCCSI

[2016-07-14 12:51] JesseCCSI commented on #825
Great, thanks @hello-deepak this seems to work well -- will comment and re-open if anything else comes up.

[2016-07-14 20:22] SamCCSI opened #933 "Capitalizing Government Entity"
http://resourcecontracts.elasticbeanstalk.com/contract/1984

Our research associate tried to capitalize each letter of the following government entity, but the identifier disappeared. Is there a way for us to edit such entries in the back-end?

Government Entity: sociedade nacional de combustiveis de angola
Government Identifier: dc2fd95c-cd21-4571-adca-3ab3ab80aae1

[2016-07-15 04:29] manishgs commented on #933
Government Entity and Identifier are pulled from joinedupdata.org API.
Here is the link for the list : http://joinedupdata.org/NRGI/4c61a3a0-8c34-4391-976d-4065f9d47340.html

We need to update on joinedupdata.org. Closing this issue because there is already discussion on this issue #786.

[2016-07-15 04:29] #933 closed

[2016-07-15 04:33] upasna01 commented on #883
https://docs.google.com/spreadsheets/d/1iwhIIDk7CrIVR2IjtGDIfruA1qRLQ4WfbJxlh2uQNI8/edit#gid=891628407

[2016-07-15 05:08] hello-deepak commented on #896
Please, create new issue if you find any bug.

[2016-07-15 05:10] upasna01 commented on #802
Here is the technical documentation on how OCID are assigned, please ensure this is understandable.
https://github.com/NRGI/resourcecontracts.org/wiki/Open-Contracting-Identifier

[2016-07-15 05:10] #802 closed

[2016-07-15 05:10] hello-deepak commented on #887
@SamCCSI @KaitlinCCSI
Any update?

[2016-07-15 08:32] manishgs commented on #883
Logic for generating contract name has been updated. Please review on [demo](http://resourcecontracts-demo1.elasticbeanstalk.com/utility?category=&country=AF)

@s

[2016-07-15 10:31] hello-deepak commented on #931
While creating the contract, the name of text file was not being updated in s3 after completion of extraction process of text from pdf which is fixed now.

[2016-07-15 10:31] #931 closed

[2016-07-15 11:03] manishgs commented on #725
Cluster  "Other"  renamed to "Legal Rules".

[2016-07-15 11:03] #725 closed

[2016-07-15 11:57] hello-deepak commented on #265
Review social media sharing button in [demo](http://rc-site-demo.elasticbeanstalk.com/rc/public/) and provide feedback .

[2016-07-15 13:38] SamCCSI commented on #887
@hello-deepak apologies for the delay. Is it possible to re-include annotation category titles in the searchable text field?

This is important because some users might want to quickly search for terms like stabilization, but may not take the time to learn that they can scroll through annotation categories.

[2016-07-15 14:22] SamCCSI commented on #883
Thanks @manishgs and @upasna01 we have added in abbreviations to that doc.

I am trying to log in to the demo site but it is really slow. About 15 minutes and still loading. Will try again next week if it doesn't work.

One other issue I discovered this week:
When a document has two or more companies, these need to be separated by a space and comma ( ,) not a hyphen (-).

[2016-07-15 14:58] SamCCSI commented on #883
The demo looks good, although I did not have two exact duplicates to check if the auto numbering works for the 2nd contract.

This is ready to deploy once the issue mentioned in previous entry (When a document has two or more companies, these need to be separated by a space and comma ( ,) not a hyphen (-).)

Many thanks!

[2016-07-18 06:04] hello-deepak commented on #740
@anderspeders

Any update?

[2016-07-18 08:18] rprajapatii opened #934 "Restructure Subsite Code Base"
- [x] Breakdown stylesheets to different files which compiles to buid at most two stylesheets
- [x] Remove redundancy of css codes
- [X] Refactor code to easy country site creation
- [x] Refactor Reactjs Code (implement webpack and ES6)

[2016-07-18 09:12] charlesyoung opened #935 "Annotations not published showing on generic RC site"
Contract annotations, like below, have not been published.

http://resourcecontracts.elasticbeanstalk.com/contract/70
http://resourcecontracts.elasticbeanstalk.com/contract/74

But it shows on the generic RC site like below.

http://www.resourcecontracts.org/contract/ocds-591adf-PH8329561979RC/view#/search/Johson%20Gold%20Mining%20Corporation%20-%20MPSA%20No.%20139-99-V%2C%201999
http://www.resour