[2020-08-14 12:59] charlesyoung commented on #1296
Many thanks, I will test and get back.

[2020-08-17 04:21] man-git007 commented on #1307
@SamCCSI @jedm If all good? are good to deploy in the live site?

[2020-08-17 06:04] anjesh commented on #1301
@charlesyoung We has prepared the doc based on the research https://docs.google.com/document/d/1eGLFy7dfJ7K_3GHE5EfBrpCHlcSVhUnLar-qRD4e01c/edit. This upgrade is going to take some significant time and effort as we will need to upgrade php version as well to target latest ES.

[2020-08-17 06:43] charlesyoung commented on #1301
How much time will be required and what will happen if we don't upgrade ES?

cc @candrei @SamCCSI

[2020-08-17 07:04] charlesyoung commented on #1296
@birendragurung

Seems like 'Annotations' is still noted on the summary page.

![image](https://user-images.githubusercontent.com/13888372/90367056-81f8ac80-e068-11ea-8b55-c8202f5a9201.png)

[2020-08-17 07:08] birendragurung commented on #1296
@charlesyoung This is due to the cache issues. Please hard refresh your browser and let me know if this problem still persists.

[2020-08-17 07:11] charlesyoung commented on #1296
This is from an Incognito window. I also tested it in IE which I never use.

[2020-08-17 07:13] charlesyoung commented on #1297
@birendragurung I had an internal meeting last week and we are happy with the current R&A text placement on PC and mobile.

[2020-08-17 07:15] charlesyoung commented on #1305
@man-git007 @nirvanalama what is the latest re the R&A page design?

[2020-08-17 09:23] charlesyoung commented on #1297
@birendragurung

I want to look at adding text for R&A page. Just a question re editing text. I changed below nr 2 to increase the font size but reduced the size.

![image](https://user-images.githubusercontent.com/13888372/90379595-34396f80-e07b-11ea-9529-59479e68e782.png)

[2020-08-17 09:37] jedm commented on #1307
I have been on holiday and will not be able to do any final testing until
Tuesday.

On Mon, Aug 17, 2020 at 12:21 AM Manish Pradhan <notifications@github.com>
wrote:

--
Jed Miller | @jedmiller <http://twitter.com/jedmiller>
m +1.917.584.2349 | s @jedbmiller
www.jedmiller.com

[2020-08-17 11:21] birendragurung commented on #1297
@charlesyoung I couldn't understand what you are explained above.

[2020-08-17 11:37] charlesyoung commented on #1297
I changed the font size for heading 2 to increase but it actually decreased in size.

[2020-08-18 04:05] man-git007 commented on #1305
@charlesyoung There are no updates regarding the design. The changes you had suggested have been implemented in the staging site. If any queries please followup with @birendragurung.

[2020-08-18 05:36] birendragurung commented on #1297
@charlesyoung Are you talking about the research and analysis page here? Or is it related to guides?

[2020-08-18 06:21] charlesyoung commented on #1297
Just general editing of text through the text editor. This will affect the R&A page, etc as well.

[2020-08-18 06:25] charlesyoung commented on #1305
Where on the staging site? Below is not the final design we discussed.

https://staging.resourcecontracts.org/research-and-analysis

[2020-08-18 17:33] iprunache commented on #1305
@charlesyoung we had an issue with the automated deployment to the staging site and the changes Manish is referencing might not have gotten deployed at the time of your comment. Could you please have another look? I just fixed the deploy today.

[2020-08-18 17:42] jedm commented on #1307
Hi @man-git007, per [an earlier message](https://github.com/NRGI/resourcecontracts.org/issues/1307#issuecomment-664091673):

Can you help me gain access for testing purposes?

Thanks very much,

Jed

[2020-08-18 18:01] iprunache commented on #1301
@charlesyoung if we don't upgrade we're at risk of not being able to receive support from the cloud provider in case the Elasticsearch instance fails. The version we are running has reached End Of Life late last year and still runs without incident but the longer we keep it the bigger the chances we won't be able to revive it in case of failure.

Here it is in their words:
[code]

The changes Anje

[2020-08-19 04:07] man-git007 commented on #1307
Hello Jed,

I have created a user login for you at
https://staging.openlandcontracts.org/admin.
The credentials are
email:jedbmiller@gmail.com
password:j3dm1ll3r

On Tue, Aug 18, 2020 at 11:27 PM Jed Miller <notifications@github.com>
wrote:

[2020-08-19 04:32] birendragurung commented on #1296
@charlesyoung The changes have been updated in staging server. Please verify and let us know if we are ready for production.

cc: @man-git007

[2020-08-19 05:33] birendragurung commented on #1297
@charlesyoung
First of all, you might be editing on the new design for guides. If that is the case, please remember that the design is implemented by editing the source code (Tools - Source code) and has custom styles which might have caused the above mentioned problem in your case. The problem won't arise if you edited on other versions of the content. Also, the new guide design is meant for OLC

[2020-08-19 05:41] charlesyoung commented on #1297
This has nothing to do with the guides page. This is just general editing of the text from the backend.

[2020-08-19 06:27] birendragurung commented on #1297
@charlesyoung How can we replicate the scenario on staging server? Can you provide some steps on how you encountered this issue?

[2020-08-19 07:30] birendragurung commented on #1305
@charlesyoung
The implementation has some differences from the final design. Some of the differences are:
**1. Heading text alignments**
The heading is aligned according to the second design of this design. (https://www.figma.com/file/OK1BSOpfKTokEoBZYQCXss/RC__UI_v2?node-id=553%3A49)
**2. Featured box sizing**
The boxes are not squared as in design since the box grows with respect to the internal

[2020-08-19 10:35] man-git007 commented on #1297
@charlesyoung The [issue](https://github.com/NRGI/resourcecontracts.org/issues/1297#issuecomment-674767326) you have mentioned is a special case. The `faq page` has a sidebar link and to maintain the layout, font size, CSS of the sidebar with the content, we had to do this through the code level itself. Therefore, upon changing the font size of the header, it is behaving abnormally. The changes yo

[2020-08-19 11:17] charlesyoung commented on #1296
Thanks, please deploy to Prod.

[2020-08-19 11:20] charlesyoung commented on #1301
Many thanks @iprunache

How much time will it take to do the updates and can the work be split between YI and Vitamin or is that not feasible?

cc @SamCCSI

[2020-08-19 11:32] charlesyoung commented on #1305
Thanks @birendragurung

1. Heading text alignments: Keep the current heading [placement](https://staging.resourcecontracts.org/research-and-analysis)
2. Featured box sizing: Let me check, I will get back to you
3. Links hover effect: Let me check, I will get back to you
4. Pagination links: OK
5. I will also check if we need to note R&A twice
![image](https://user-images.githubusercontent.com/1388

[2020-08-20 08:40] birendragurung commented on #1296
@charlesyoung This has been deployed to production.

[2020-08-20 09:01] charlesyoung commented on #1296
Thanks

[2020-08-20 15:59] charlesyoung commented on #1301
@anjesh @iprunache any update on the time required to do the updates?

cc @SamCCSI

[2020-08-20 21:09] SamCCSI opened #1315 "Guides / resources page (French) has dead links"
All the resources here work: https://www.openlandcontracts.org/guides?lang=en

At the French version of the page they all don't work: https://www.openlandcontracts.org/guides?lang=fr

I'm thinking it relates to changes made to home or guide page?

cc @anjesh @man-git007

![image](https://user-images.githubusercontent.com/12913915/90826143-f3a25600-e307-11ea-9857-dcb0c301ffd1.png)

[2020-08-21 07:21] charlesyoung commented on #1297
Thanks @man-git007

What dev work is required to allow admin users to update the FAQ page?

[2020-08-21 07:27] charlesyoung commented on #1297
@birendragurung please change below to Research & Analysis

![image](https://user-images.githubusercontent.com/13888372/90864165-7d960180-e390-11ea-9abe-702ef96c8534.png)

[2020-08-21 07:55] man-git007 commented on #1315
@SamCCSI The issue is not caused by changes in the home or guide page. As the content of the page is managed in the admin side of OLC itself, the links of the pdf might have updated or the AWS credentials might have changed which is causing this issue.

cc @anjesh

[2020-08-21 07:57] man-git007 commented on #1297
@charlesyoung You can change the content of the `FAQ` page via editor itself but in the case of a change in styling of the page, we need to do it manually in code level.

cc @birendragurung @anjesh

[2020-08-21 08:02] anjesh commented on #1301
As mentioned in the [doc](https://docs.google.com/document/d/1eGLFy7dfJ7K_3GHE5EfBrpCHlcSVhUnLar-qRD4e01c/edit), we think this is going to take 15-20 days of work.

[2020-08-21 08:34] iprunache commented on #1301
@charlesyoung Vitamin can do the infrastructure part as part of our ongoing maintenance and on a short time frame. I can't say for sure about doing part of the development work that Anjesh has outlined in the doc, Catalin will be best to answer this when he gets back on Monday.

What are your constraints in terms of budged and timeline? Might help us come up with the best solution.

[2020-08-21 11:10] iprunache opened #1316 "www.mines-rdc.cd/resourcecontracts/ throws error 500"
## Why
The IMF is in the DRC and contract transparency is key in the government getting a loan and the site is one way of showing this. We need the site up.

## What
- [ ] code that works with the DRC database is deployed to the mines-rdc.cd server

## Notes
The server runs this version of the subsite:
[code]

This is what I found in the `lumen.log` on the server:
[code]

[2020-08-24 07:05] charlesyoung commented on #1305
Relates to above.

3. Links hover effect. The links have red hover effect to maintain consistency with RC's theme.

[2020-08-24 11:59] birendragurung commented on #1305
@charlesyoung
The changes have been deployed to the staging server. Please review the design and functionality and let us know if we can deploy it to production.

cc: @man-git007

[2020-08-24 13:51] SamCCSI commented on #1315
Thanks @man-git007 -- I've copied links from English version.

[2020-08-24 13:51] #1315 closed

[2020-08-24 13:55] SamCCSI commented on #1190
OLC site was down for 30min on weekend.

cc @charlesyoung @iprunache @anjesh

[2020-08-24 17:11] candrei commented on #1190
@SamCCSI We're investigating the stability of all RC subsites (all are affected): https://github.com/nrgi/nrgi-dcos/issues/548

[2020-08-25 04:01] man-git007 commented on #1307
@jedm @SamCCSI If all is OK we can deploy this to the production site.

[2020-08-25 07:16] charlesyoung commented on #1305
Thanks, will check and get back to you. Please note that NRGI is closed this week so I will only get the final comments by next week.

[2020-08-25 08:27] iprunache commented on #1301
@anjesh @man-git007 We did a quick review of our production setup to see where we're at with the PHP versions running the 3 repos and here's what we found:
- `rc-api` and `rc-elasticsearch` already run on `PHP 7.1.22` in production. So it's possible to upgrade the ES client library to 7.x directly;
- `resourcecontracts.org` does run on `PHP 5.5.9` but I can't find any dependency on the ES client l

[2020-08-25 09:31] jedm commented on #1307
Dear Manish,

Before we finalize and deploy, can you please confirm the following
questions? Thank you!

Jed

- YI has created new CSS per our requests, but to edit the Guides page
using the new CSS, admins must edit directly in HTML code.

- Please confirm that font size, headings, hover/a href styles, page
margins and paragraph styles are now the same across all static pages
(Glossary,
About, FA

[2020-08-25 11:36] charlesyoung commented on #1297
@birendragurung re the backend tool for managing research links.

How is the date determined? I added a new link but the date is noted as 10 July 2020.

I will run through the backend tool with NRGI next week and report back.

[2020-08-26 05:18] birendragurung commented on #1297
@charlesyoung The date is the published date i.e. when the link is added in the admin panel. It has been fixed now.

[2020-08-26 06:19] charlesyoung commented on #1305
Thanks.

Lets keep the box shape squared so that it doesn't expand. Is there however a way to 'cut off' the text that extends over the box shape and replace the 'overflow' text with .......?

I will get more feedback next week.

[2020-08-26 10:43] birendragurung commented on #1305
@charlesyoung We can limit the number of characters and replace the exceeding with ellipsis.

cc: @sweta-shrestha

[2020-08-26 11:07] charlesyoung commented on #1305
Thanks. I'm chatting to Nicola on Monday to get the final feedback. We might want to remove the "View' link but will get more clarity next week.

[2020-08-26 11:14] charlesyoung commented on #1305
Sorry one more request. Can you make the box text slightly bigger that the below text links.

[2020-08-27 08:00] charlesyoung commented on #1249
@man-git007 we want to launch the Ivory Coast country site but the Guides link doesn't work. This seems to be a theme with all the country sites although in these cases none of the links work.

[2020-08-27 09:08] man-git007 commented on #1249
@charlesyoung There is no guide page for IvoryCoast in the admin side. We need to add `guides` from admin panel

[2020-08-27 09:17] charlesyoung commented on #1249
Thanks. Can you please also add the missing pages to the country sites as it looks like all have been removed.

[2020-08-27 10:22] man-git007 commented on #1249
@charlesyoung I have added the guides to the Ivory coast site.

[2020-08-27 10:27] charlesyoung commented on #1249
Thanks but why are the pages empty (we use the same text as the RC pages)? Also, why were all the country site pages deleted during the upgrade?

[2020-08-27 10:29] man-git007 commented on #1249
@charlesyoung This might be due to using the same database for staging and production country site.

cc @anjesh

[2020-08-27 10:35] charlesyoung commented on #1249
I don't understand. How can we be using the same database for staging and production?

[2020-08-27 11:46] man-git007 commented on #1307
@jedm

Replying to your questions

1. Yes, the admin has to edit in HTML code.
2. Yes, the font size, headings, hover/a href styles, page margins, and paragraph styles are now the same across all static pages have been maintained. To check please check the pages in the [staging](https://staging.openlandcontracts.org/) site.
3. Since we had to maintain the theme of the guide page on the other page

[2020-08-27 11:54] jedm commented on #1307
Thank you for confirming, Manish.

I will confirm with Sam and Anjesh if we agree to this functionality in its
current condition.

We will also need to update all the text and code in the Guides page before
you deploy.

One final question: If we update the Guides page contents on staging will
it transfer over when you deploy, or will we need to edit the page again
after deployment?

I will confirm

[2020-08-27 12:38] man-git007 commented on #1307
@jedm We need to redo edit the page again in production site.

[2020-08-27 17:00] charlesyoung commented on #1297
@birendragurung can you pls check because all reference to the R&A work has disappeared from the staging site. Below link now also doesn't work.

https://staging.resourcecontracts.org/research-and-analysis

[2020-08-28 06:02] birendragurung commented on #1297
@charlesyoung The staging server is now updated.

[2020-08-28 14:28] iprunache commented on #1316
All is good here, closing.

[2020-08-28 14:28] #1316 closed

[2020-08-31 06:25] charlesyoung commented on #1297
Closing this ticket because I'm getting confused with this one and ticket 1305.

[2020-08-31 06:25] #1297 closed

[2020-09-01 04:22] man-git007 commented on #1249
@charlesyoung Can we close this ticket now?

[2020-09-01 05:49] #1249 closed

[2020-09-02 04:27] man-git007 commented on #1307
@jedm @SamCCSI Are we good to deploy in the live site?

cc @anjesh @sweta-shrestha

[2020-09-02 04:32] birendragurung commented on #1305
@charlesyoung If everything's good, then shall we send this to production?

[2020-09-02 07:31] charlesyoung commented on #1305
Final comments below.

- Remove the 'View' links.
![image](https://user-images.githubusercontent.com/13888372/91944831-fb49fd80-ecfe-11ea-8d62-83ef7e2c4cc8.png)

- Add a 'Publications' heading between the boxes and the rest of the links.
![image](https://user-images.githubusercontent.com/13888372/91944767-e40b1000-ecfe-11ea-990b-1de77123612b.png)

[2020-09-02 09:45] man-git007 commented on #1305
@charlesyoung The changes you have suggested have been implemented. Please check and if all OK we will deploy to live site.

cc @anjesh @birendragurung

[2020-09-02 09:56] charlesyoung commented on #1305
Thanks @man-git007

Can we possibly move the date further down to allow room for more text. Example below.

![image](https://user-images.githubusercontent.com/13888372/91966812-a617e700-ed12-11ea-9e07-8247eed46e4f.png)

[2020-09-02 11:04] man-git007 commented on #1305
@charlesyoung Date is adjusted according to the text in the card. But we have managed the text length. Could you please check?

[2020-09-02 11:09] charlesyoung commented on #1305
Agree, thanks. Will ask Nicola to do a final check today.

I will then populate the page with text that we can move over to Prod.

[2020-09-02 14:26] charlesyoung commented on #1305
While we wait for final feedback from Nicola can you please capitalize analysis on the home page link (top right). Should be 'Research & Analysis'. Only noticed this today. Thanks

![image](https://user-images.githubusercontent.com/13888372/91995886-a3c88380-ed38-11ea-8d3f-fe9c51e97803.png)

[2020-09-03 10:56] #1282 closed

[2020-09-03 10:57] charlesyoung commented on #1309
@SamCCSI has this been resolved?

[2020-09-03 11:05] charlesyoung commented on #1243
@jedm can this ticket be closed?

[2020-09-03 12:55] SamCCSI commented on #1309
no, still waiting for the below to be fixed @charlesyoung @anjesh

[2020-09-03 13:32] SamCCSI opened #1317 "Change French contact page title"
We need to change [this page](https://www.openlandcontracts.org/contact?lang=fr)'s link title (see red circle in image below) to from "Contrat" to "Nous contacter"

I tried to do it myself but couldn't see a place to make this change. Could you please help? cc @anjesh @man-git007

![image](https://user-images.githubusercontent.com/12913915/92121390-37956080-edc8-11ea-8340-59cd8fa66059.png)

[2020-09-03 18:15] charlesyoung commented on #1305
A question from Nicola.

Can we update the dates to the actual publication dates? The dates reflecting when we added it are somewhat misleading because as an example some of the publications are from 2019.

[2020-09-07 12:24] charlesyoung commented on #1305
@man-git007 @birendragurung just checking that you received above. Thus is the last outstanding item for Sprint 26.

[2020-09-07 12:25] birendragurung commented on #1305
@charlesyoung The changes have been deployed to the staging server. Please verify the changes.

[2020-09-07 12:51] charlesyoung commented on #1305
I dont see any publication dates?

[2020-09-07 12:53] birendragurung commented on #1305
The migration for database needs to be run. We'll have to wait till @candrei runs the migration on staging server.

[2020-09-08 05:12] birendragurung commented on #1305
@charlesyoung The migration has been ran on staging server. Please proceed with testing. Also note that the publication dates are empty for all items since the field is added recently (only on staging server, on production this will not be an issue because the publication date field is mandatory). You may set the publication dates from admin panel.

cc: @man-git007

[2020-09-08 07:06] charlesyoung commented on #1305
Many thanks @birendragurung, works well.

Two questions however. Is there a way to allow for the capture of only the year and month for publications, like below, without a day? Also can we arrange the publication list order with the most recent, based on date, first.

https://resourcegovernance.org/sites/default/files/documents/assessing-tunisia-upstream-petroleum-fiscal-regime.pdf

[2020-09-10 07:22] charlesyoung commented on #1305
@birendragurung just wonder if you have managed to look at above 2 comments. I'm  very keen to close out Sprint 26.

[2020-09-10 10:42] charlesyoung opened #1318 "API Error"
@anjesh not sure if this is related to #1308 but I was contacted this morning my a researcher from Verona University in Italy who noted that they get the following error when using the RC API. Do you possibly know what could be causing the error?

"{"error":{"code":400,"message":"The API you are currently looking is not available."}}"

[2020-09-10 12:06] anjesh commented on #1318
Not sure Charles. That issue was fixed then. What is the API end point they are using?

[2020-09-10 13:21] tomazzoli commented on #1318
REQUEST : http://api.resourcecontracts.org/contracts/741
ANSWER:{"error":{"code":400,"message":"The API you are currently looking is not available."}}

REQUEST: http://api.resourcecontracts.org/contracts/741/metadata
ANSWER:{"error":{"code":400,"message":"The API you are currently looking is not available."}}

REQUEST:http://api.resourcecontracts.org/contracts
ANSWER:{ "total": 3306, "per_page": 2

[2020-09-10 13:25] charlesyoung commented on #1318
Thanks @tomazzoli

@anjesh please see above.

[2020-09-10 17:14] candrei commented on #1301
Quick update here: preliminary tests showed that we can upgrade to Elasticsearch 6.8 without much headache. We'll attempt the migration of staging and see how it goes. This should buy us more time until we figure out how difficult would be to have support for Elasticsearch v7.

[2020-09-10 18:19] iprunache commented on #1301
I upgraded the staging Elasticsearch server to 6.8.12. The staging environment now fully runs on ES 6.8.12.

If no issues show up from this on staging by early next week, I'll also proceed to upgrade ES in the production environment.

[2020-09-10 23:57] candrei commented on #1190
@charlesyoung yes, we can close it for now. Site has been operating properly for the past few weeks.

[2020-09-11 08:04] charlesyoung commented on #1301
Thanks @iprunache and @candrei

Should I be running tests on the Staging site?

[2020-09-11 08:30] iprunache commented on #1301
@charlesyoung some tests would be great!

What I did to test was to edit the metadata for some contract on staging admin and then confirm that the changes are visible on a subsite.

[2020-09-11 08:42] charlesyoung commented on #1301
OK, I will also publish new docs to test.

[2020-09-11 19:49] JesseCCSI commented on #1102
Many thanks @charlesyoung yes, I'll close (we'll retain the staging site in the event that future work on this emerges).

[2020-09-11 19:49] #1102 closed

[2020-09-14 08:16] charlesyoung commented on #1305
@birendragurung any feedback? I have an interval NRGI call this week and would like to report back that Sprint 26 has been completed.

cc @anjesh

[2020-09-14 09:31] birendragurung commented on #1305
@charlesyoung The publication dates now are shown with only month and year format(but the publication date will be stored as full date from admin panel). Also the links are ordered with most recent based on date.
Please check the changes as let us know if we are ready to send it to production.

[2020-09-14 11:35] charlesyoung commented on #1305
Thanks @birendragurung

The ordering looks good. 

Sorry but I don’t think I explained it properly. What I meant is that there are some publications without a day but most publications do note the full date. What I would like to have is that the day field isn’t required so that we can publish publications with both options. One showing the full date, if available, and another only showing the mont

[2020-09-14 11:44] charlesyoung commented on #1301
@iprunache and @candrei I ran tests today and all looks good.

How do we proceed moving this to the prod environment?

[2020-09-14 16:57] candrei commented on #1301
@charlesyoung thanks for the QA. I think we can go ahead and perform the upgrade to Elasticsearch 6.9 this week. @iprunache will reach out via email to coordinate on the best time window when the upgrade could take place.

[2020-09-14 23:44] candrei commented on #1318
@tomazzoli it looks like the first couple of URLs are invalid, please notice the correct URLs should read:
- https://api.resourcecontracts.org/contract/741/metadata
or
- https://api.resourcecontracts.org/contract/741/text
ir
- https://api.resourcecontracts.org/contract/741/annotations
etc
(cc @charlesyoung)

[2020-09-15 20:48] candrei commented on #1318
@tomazzoli for reference, here's the wiki page describing the available endpoints: https://github.com/NRGI/resourcecontracts.org/wiki/API

[2020-09-16 06:50] #1318 closed

[2020-09-16 09:36] charlesyoung commented on #1310
@anjesh can you please look at this and let me know how much time will be required.

[2020-09-16 09:37] charlesyoung commented on #1202
@anjesh can you please look at this and let me know how much time will be required.

[2020-09-16 09:38] charlesyoung commented on #1292
@anjesh can you please look at this and let me know how much time will be required.

[2020-09-16 09:41] charlesyoung opened #1319 "Documentation of new updated API"
@anjesh can you please look at this and let me know how much time will be required.

[2020-09-16 10:19] tomazzoli commented on #1318
Thanks so much. It works.

[2020-09-16 10:22] man-git007 commented on #1305
@charlesyoung As you are suggesting to have a feature of published date without day. For this feature, we can add a checkbox that will enable the user to ignore the day value for the selected date. For clarity, I have added some screenshots.
![Screenshot from 2020-09-16 16-04-03](https://user-images.githubusercontent.com/23434972/93325192-a3e77980-f836-11ea-8cc7-a2847da469d2.png)
![Screenshot from

[2020-09-16 10:25] charlesyoung commented on #1305
Perfect, that will work.

Will the user just add a dummy day (like the 1st) that will be ignored in any case when published?

[2020-09-16 19:33] candrei commented on #1301
@charlesyoung RC now makes use of Elasticsearch 6.8.12 which has an end of life 11/20/2020. I believe it's safe to operate with this version for another year, maybe 18months beyond November 2020.

[2020-09-17 08:20] charlesyoung commented on #1301
Great thanks. Can we close this ticket?

[2020-09-17 11:14] candrei commented on #1301
@charlesyoung yes, I was only looking for your email confirmation that RC admin is operating properly too. We're all set now! Closing.

[2020-09-17 11:14] #1301 closed

[2020-09-18 04:59] birendragurung commented on #1305
@charlesyoung The recent updates have been sent to staging server and will be ready to test once @candrei runs database migrations on staging server.

cc: @man-git007

[2020-09-18 10:15] charlesyoung commented on #1305
I get a crash when adding in a new publication.

![image](https://user-images.githubusercontent.com/13888372/93586373-80dcd700-f9a8-11ea-998a-0f0b27efbf5b.png)

[2020-09-21 06:51] charlesyoung commented on #1305
@birendragurung have you had time to look at above crash? I really want to try finish this task and Sprint 26 ASAP.

[2020-09-21 06:54] birendragurung commented on #1305
@charlesyoung Sorry for the inconvenience. We had a problem in migration and have requested @candrei to run migration on the server. We will notify as soon as the migration succeeds.

cc: @man-git007

[2020-09-22 03:46] birendragurung commented on #1305
@charlesyoung The changes have been successfully updated on the staging server. Please verify the changes and let us know if we are ready to go for production.

[2020-09-22 07:19] charlesyoung commented on #1305
Thanks @birendragurung

I will get internal feedback later today. Hope to be able to move this to the Prod site by tomorrow.

[2020-09-23 18:34] charlesyoung commented on #1305
Please move this to the Prod site. Can I ask that you also copy over the publications because I would prefer not to do it again. Thanks

[2020-09-24 08:37] birendragurung commented on #1305
@charlesyoung This has been deployed to the production servers.

[2020-09-24 12:31] charlesyoung commented on #1305
Thanks

[2020-09-27 16:51] jedm commented on #1307
Hi @man-git007 and @anjesh.

The Guide page designs and font styles look good. For maintenance and future edits by CCSI, we still have these questions from prior discussions:

**Image/document uploads:** The OLC tool allows upload of PDFs as part of the core functionality. Can these functions be leveraged for media uploads of images, PDFs, MS Office documents for use in the Guide/About pages? This

[2020-09-29 16:00] charlesyoung commented on #1202
@anjesh can you please look at this and let me know how much time will be required.

[2020-09-30 19:30] iprunache commented on #1300
@charlesyoung we get a lot of these errors daily from search bots trying to index subsites. It makes it difficult to monitor for other errors with greater impact. Would there be some availability from YIPL to look at it?

[2020-10-01 04:07] man-git007 commented on #1307
@jedm

As per your questions, The function for media uploads of images, PDFs, MS Office documents are there on the guide page and can be added via a link to the file source. For clarity, I have added a screenshot.
![Screenshot from 2020-10-01 09-49-56](https://user-images.githubusercontent.com/23434972/94767168-83d5bf80-03cb-11eb-8215-3aa7e2cec055.png)

Regarding **About pages/Left side menu**, No

[2020-10-01 06:55] jedm commented on #1307
Hi Manish, my question was not about where to add the URL to the media
file, it is whether the upload function that works for adding contracts to
the repository can be repurposed to upload media files for the “pages”
section of the site.

On Thu, Oct 1, 2020 at 12:07 AM Manish Pradhan <notifications@github.com>
wrote:

Jed Miller | @jedmiller <http://twitter.com/jedmiller>
m +1.917.584.2349 | s @j

[2020-10-02 12:47] iprunache commented on #1300
It looks like we just need to replace `$contracts->result_total` with `$contracts->total` in `groupDemo.blade.php`.

[2020-10-02 13:07] charlesyoung commented on #1300
Many thanks @iprunache

[2020-10-06 05:38] man-git007 commented on #1307
@jedm If that is the case, then we have to treat this as a new feature for the subsite, as we don't have this in the subsite admin panel. We need to add an upload functionality from where the user can upload files. The files would be uploaded to the AWS server.  We will also need a listing page for those uploaded files which will consists of the URL of that file. The user then will copy that URL a

[2020-10-06 13:36] jedm commented on #1307
Thanks for this explanation, @man-git007. Do you or @anjesh have any estimate of the cost?

I will confirm with CCSI that the two steps (1) deploy now; 2) consider upgrade after) are acceptable and reply shortly.

To prepare for deployment:

- I and CCSI will update the text on staging page so that it will be ready to transfer to live
- We will request a change to the order and naming of the items

[2020-10-07 03:53] anjesh commented on #1307
@jedm This particular change might require 1.5 days of effort (development/testing/deployment)

- add a new "image mgmt" menu in the subsite
- it will list all the images uploaded and will contain a link to upload the image
- the user will click upload button to upload the image to AWS server
- the user will copy the URL of the image from the listing page and paste in the content editor

[2020-10-14 15:58] iprunache commented on #1300
@charlesyoung it took longer that planned but most of this is now fixed. I'm still seeing some isolated errors which must come from a different use case. I'll open another issue if we need to handle those too.

[2020-10-14 15:58] #1300 closed

[2020-10-15 06:30] charlesyoung commented on #1300
Many thanks @iprunache

[2020-10-15 07:00] #1094 closed

[2020-10-15 07:00] #1098 closed

[2020-10-15 07:00] #943 closed

[2020-10-15 07:02] charlesyoung commented on #830
@SamCCSI is this still required?

[2020-10-15 07:07] charlesyoung opened #1320 "Change the menu/navigation bar"
Change the menu/navigation bar, on the left, to align with the links at the bottom of the page. Below outlines the updated menu/navigation bar.

![image](https://user-images.githubusercontent.com/13888372/97183281-4421ae00-17a6-11eb-84b2-9cfa28300024.png)

This only applies to RC and not OLC.

[2020-10-15 07:19] charlesyoung opened #1321 "Change 'Recent Documents' text"
Change the 'Recent Documents' text on the home page and the advanced search toolbar because it makes it seem as if the contracts are recent (new) which is not the case. The new wording should be 'Recently Added'.

This only relates to RC and not OLC.

cc @SamCCSI

[2020-10-15 13:57] SamCCSI commented on #830
Not in the near term, but good to leave this ticket in the background in
case needed in the future.

[2020-10-15 21:51] SamCCSI opened #1322 "Add search by OCID to backend"
@anjesh do you have a sense of how many days it would take YI to add this feature to this page http://admin.resourcecontracts.org/contract ?

[2020-10-16 05:09] anjesh commented on #1322
You mean search by OCID like ocds-591adf-3906951154? Should be around .75 day of work - fix in the code, testing, deployment.

[2020-10-16 19:55] SamCCSI opened #1323 "MT resubmit not possible"
A batch of contract MT jobs were auto approved because no one reviewed them in time.

We want to resubmit them to MT but when we try there is no longer a button to send to MT after rating it as RED.

@anjesh any idea how to get around this? cc @charlesyoung

![image](https://user-images.githubusercontent.com/12913915/96303173-fa77dd00-0fc7-11eb-9824-74efebd5f47f.png)

[2020-10-18 20:48] jedm commented on #1307
Hi @man-git007 and @anjesh,

As we prepare to deploy new Guides page and left-side menu for OLC, a few problems appeared:

1. IN ADMIN EDITOR - WHICH VERSION OF PAGE IS THE LIVE VERSION?
Currently on staging server, Pages editor says that v1 is the "Current version" (see screenshot below). But the version displaying at the live page is actually v4. Please resolve/clarify why version that admin sel

[2020-10-19 08:38] man-git007 commented on #1307
@jedm We have implemented the feedback you have provided and deployed in the [staging](https://staging.openlandcontracts.org/) server. Please check and if all OK we will deploy to the live server.

cc @anjesh @sweta-shrestha

[2020-10-19 13:35] jedm commented on #1307
Hi @man-git007,

I have reviewed the staging server. Items 3 and 4 above are changed. For Item 5 (PREV/NEXT), please remove the PREV button from the About page.

Items 1 and 2 are not resolved. What is the ETA for those fixes/answers?

Thank you!

Jed

cc @anjesh @sweta-shrestha @SamCCSI @charlesyoung

[2020-10-20 14:22] charlesyoung commented on #1202
@anjesh how much time will it take to fix this issue?

I want to group it with #1313

[2020-10-21 03:28] man-git007 commented on #1307
@jedm
The items 1 and 2 are mentioning seem ok.
![Screenshot from 2020-10-21 09-10-23](https://user-images.githubusercontent.com/23434972/96669734-8d749680-137d-11eb-8db6-d7314ac74102.png)
![Screenshot from 2020-10-21 09-10-30](https://user-images.githubusercontent.com/23434972/96669739-906f8700-137d-11eb-8514-90a0ae887966.png)
![Screenshot from 2020-10-21 09-10-39](https://user-images.githubuserc

[2020-10-21 05:32] jedm commented on #1307
Hi @man-git007,

I have done a hard refresh - thank you!

Item 1 is now resolved but item 2 is not resolved.

Thank you for removing the PREV button from the About page. Is it possible to put the NEXT button at bottom right, the more traditional position, instead of bottom left?

Finally, the left side menu does appear to be updated on any inside pages of the site, only on the homepage.  Can you u

[2020-10-21 05:56] man-git007 commented on #1307
@jedm

The new guide page should be this page https://staging.openlandcontracts.org/guides?v=1, right? But currently, the deployed page is https://staging.openlandcontracts.org/guides?v=4.

As for the broken images you are talking about, update the image links
`ccsi.columbia.edu/files/2017/03/Guide-to-Land-Contracts-photo-175x225_forupload.png` to `http://ccsi.columbia.edu/files/2017/03/Guide-to-L

[2020-10-21 06:00] jedm commented on #1307
Hi @man-git007,

I experimented with adding http:// last week and it did not make a difference. Also did not make a difference when I tried just now. The images are broken on the live pages here:

https://staging.openlandcontracts.org/guides?v=4

and here:

https://openlandcontracts.org/guides

Thanks!

Jed

[2020-10-21 06:05] man-git007 commented on #1307
@jedm add the `http://` in 2nd image as well. It's  working.

![Screenshot from 2020-10-21 11-50-02](https://user-images.githubusercontent.com/23434972/96679551-96706280-1393-11eb-9ee2-845e9be63a17.png)

[2020-10-21 06:34] jedm commented on #1307
@man-git007 For me, now, it is working on Safari but not on Chrome.

[2020-10-21 07:31] man-git007 commented on #1307
@jedm This seems to be a browser issue. Chrome is not allowing HTTP images to be loaded in sites. The images should be https just like the background image on the homepage https://resourcecontracts-subsite.s3-us-west-2.amazonaws.com/olc-olc/bg.jpg

[2020-10-21 08:03] jedm commented on #1307
The change to https did not work.

[2020-10-21 08:52] man-git007 commented on #1307
@jedm I was suggesting to upload the image to the https server. Just changing the HTTP to HTTPs doesn't work.

cc @anjesh

[2020-10-21 08:59] jedm commented on #1307
Ok will check with @samccsi

On Wed, Oct 21, 2020 at 4:52 AM Manish Pradhan <notifications@github.com>
wrote:

--
Jed Miller | @jedmiller <http://twitter.com/jedmiller>
m +1.917.584.2349 | s @jedbmiller
www.jedmiller.com

[2020-10-21 09:19] man-git007 commented on #1307
@jedm The `ccsi` server should be converted to https in order to load the image as google chrome has made some changes. You can get the reference about this issue from this link. https://www.searchenginejournal.com/chrome-81-will-not-load-mixed-content/358298/#close

cc @anjesh

[2020-10-21 14:33] SamCCSI commented on #1322
Thanks @anjesh for your recent email. Let's proceed to implement this, then. Should it be included in any specific sprint number?

[2020-10-21 14:36] SamCCSI commented on #1322
@anjesh it's also my hoope that the OCID search field would be included in this section, along with other back-end contract search functionality
![image](https://user-images.githubusercontent.com/12913915/96735192-4db3ac00-1389-11eb-866c-6658da720d47.png)

[2020-10-21 14:39] anjesh commented on #1202
Sorry for the late response @charlesyoung . Around a day work to debug, fix, deploy and testing.

[2020-10-21 14:44] anjesh commented on #1322
Yes @SamCCSI i am thinking to include OCID and title in the same box like shown below. Does that look ok to you?

![image](https://user-images.githubusercontent.com/120488/96736063-f1c64300-13db-11eb-88f7-f22d1c7f3dd9.png)

cc @charlesyoung

[2020-10-21 14:46] SamCCSI commented on #1322
Thanks @anjesh I am happy for it to be combined as you propose or for a separate field for OCID. Both fine, depending on what will work best and be least complicated to implement and maintain in practice.

[2020-10-21 17:50] charlesyoung commented on #1202
Thanks @anjesh

I will budget 8 hours for this activity.

[2020-10-21 17:50] charlesyoung commented on #1313
@anjesh I'm going to budget 8 hours for this activity.

[2020-10-21 18:52] iprunache opened #1324 "Prevent crawlers from crawling search and sort pages on RC subsites"
## Why
Search index crawlers generate a lot of requests to the API by crawling duplicate content on search pages and sorted pages. This puts too much stress on the Elasticsearch server resulting in higher monthly costs.

## What
- [x] a robots.txt file is added for all subsites disallowing crawling of search and sorted pages.

## Notes
This will only work for well-behaved crawlers. We might need a

[2020-10-21 19:36] iprunache commented on #1324
Added a robots.txt file.

[2020-10-21 19:39] charlesyoung commented on #1324
@iprunache thanks for the help.

What type of crawlers do you foresee the robots.txt file will not stop?

Also will this try block crawlers for RC, OLC and all the country RC subsites?

[2020-10-21 19:41] charlesyoung commented on #1324
@iprunache thanks for the help.

What type of crawlers do you foresee the robots.txt file will not stop?

Also will this try block crawlers for RC, OLC and all the country RC subsites?

[2020-10-21 19:49] iprunache commented on #1324
@charlesyoung the robots.txt file will be present on all sites: RC, OLC and country sites.

Mainstream search engine crawlers respect the robots.txt file and we should see traffic from them drop. Most of the crawlers visiting us should fall into this category.

Smaller or shadier organizations are more aggressive with crawling and often don't respect the rules. We'll have to see what's the proport

[2020-10-22 07:49] charlesyoung commented on #1324
Thanks. Will be interesting to see by how much the traffic will be reduced. 

[2020-10-22 17:18] jedm commented on #1324
@iprunache Hi Ionut - Just a curiosity question: Do these crawlers impact server load or overall performance? Or would that degree of impact be unusual/malicious?

cc @charlesyoung

[2020-10-22 21:05] iprunache commented on #1324
Hi @jedm ! At the moment server performance is not impacted because we scaled the Elasticsearch instance to have enough CPU power to handle all these crawlers.

But it's expensive and inefficient considering that we don't get any benefit from bots crawling duplicate content. We'd like to reduce costs but as soon as we downscale the instance it gets overloaded by the constant traffic from the bots.

[2020-10-22 21:12] jedm commented on #1324
@iprunache This is a great and helpful answer! Happy to discuss with you and/or @anjesh what measures we could consider to block the crawlers more aggressively without losing search traffic (perhaps in combo with other SEO measures).

Copying @charlesyoung and @SamCCSI to check what has been considered to date in this regard -- I am probably late to the party.

[2020-10-23 20:47] iprunache commented on #1324
Some updates here, the added robots.txt has a promising effect. At least the well-behaved crawlers like Google and Bing are no longer crawling duplicate content.

Metrics show there's a considerable drop in the number of requests being made to the ES server that translates into about 50% lower CPU usage.

We'll need to review the numbers after one more week though, before proceeding to downscale t

[2020-10-23 20:48] iprunache commented on #1324
I'll be on vacation for the next week but @candrei will be available to help with questions or updates.

[2020-10-26 06:24] charlesyoung commented on #1324
Thanks @iprunache, this looks promising. As you say lets keep reviewing the numbers of the next couple of weeks.

@candrei will it be possible to run another check on the numbers later in the week?

[2020-10-26 07:07] charlesyoung commented on #1321
@anjesh I'm going to budget 4 hours for this activity. Let me know if that is OK.

[2020-10-26 07:09] charlesyoung opened #1325 "Re-route Learn How To Get Started to FAQs"
Open the FAQ page, and not the Guides page when clicking on the 'Learn how to get started' link on the home page.

Only for RC and not OLC.

[2020-10-26 07:39] charlesyoung commented on #1320
@anjesh I'm going to budget 5 hours for this activity. Let me know if that is OK.

[2020-10-27 07:23] charlesyoung commented on #1325
@anjesh I'm going to budget 2 hours for this activity. Let me know if that is OK.

[2020-10-27 12:41] charlesyoung commented on #1310
@iprunache can we close this ticket?

[2020-10-27 12:41] charlesyoung commented on #1309
@SamCCSI can we close this ticket?

[2020-10-27 12:43] #1287 closed

[2020-10-27 12:43] #1200 closed

[2020-10-27 12:45] #1075 closed

[2020-10-27 12:46] #980 closed

[2020-10-27 12:47] charlesyoung commented on #932
@JesseCCSI can I close this ticket?

[2020-10-27 12:48] charlesyoung commented on #894
@SamCCSI can I close this ticket?

[2020-10-27 12:48] #83 closed

[2020-10-27 12:49] #1193 closed

[2020-10-27 12:50] #1104 closed

[2020-10-27 14:23] SamCCSI commented on #1309
@charlesyoung @anjesh the below issue is still outstanding.

[2020-10-27 21:24] SamCCSI commented on #932
@anjesh could your team please take a look at this issue? It's still unresolved. Happy for you to quote how long it should take to resolve. Many thanks.

[2020-10-28 01:50] candrei commented on #1310
@charlesyoung closing, we'll open separate one(s) as needed.

[2020-10-28 01:50] #1310 closed

[2020-10-28 02:38] candrei commented on #1324
@charlesyoung sure, I would run it on Monday once Ionut is back. It will be quicker for him to draw a conclusion + better timing since a full week has passed.

[2020-11-02 10:37] charlesyoung commented on #1307
@man-git007 has any of the above guides work affected the RC Guides page?

The Guides heading for both the Prod and Staging sites has disappeared.

![image](https://user-images.githubusercontent.com/13888372/97858489-e80bdc00-1d07-11eb-94d0-66b09eaf3bbe.png)

[2020-11-03 07:28] man-git007 commented on #1307
@charlesyoung The issue you are mentioning has been fixed and deployed in the live server

[2020-11-03 08:15] charlesyoung commented on #1307
Thanks @man-git007

[2020-11-03 09:47] iprunache commented on #1324
@charlesyoung checked the numbers again and the request count remains low if crawlers behave. But, as can be seen in the screenshot below, not all crawlers respect the `robots.txt` rules completely and we can still expect spikes:

<img width="1367" alt="Screen Shot 2020-11-02 at 23 07 57" src="https://user-images.githubusercontent.com/15313824/97970256-eacf0580-1dc9-11eb-87d5-7105b5c4d1f9.png">

I

[2020-11-03 09:52] charlesyoung commented on #1324
Many thanks @iprunache

Sounds promising.

[2020-11-03 10:09] iprunache opened #1326 "Use JavaScript for sort buttons on all pages listing contracts"
## Why
Web crawlers generate big loads on the Elasticsearch server by crawling duplicate content available through the html links in the sort buttons on contracts pages. This leads to increased infrastructure costs.

## What
- [x] use JavaScript to implement the sort buttons on all contracts and search pages
- [x] build the url for the sort page to open on click to obfuscate it from the crawlers

[2020-11-03 10:12] iprunache commented on #1326
@charlesyoung this will further help us prevent web crawlers from crawling duplicate content and reduce the load on the ES servers.

[2020-11-05 05:17] anjesh commented on #1292
~ 4 hours.

[2020-11-05 05:19] anjesh commented on #1303
~ 4 hours - check the current file upload size, confirm if this is size issue or other issue, show the doc size limit in the upload page, and coordinate with Vitamin to change the upload limit if needed.

[2020-11-05 05:19] anjesh commented on #1071
~ 3 hours

[2020-11-05 05:20] anjesh commented on #1313
Might take a little long than 8 hours - around 1.5 days of work.

[2020-11-05 05:22] anjesh commented on #1293
~ 4-5 hours to see where these errors are coming from, and fix

[2020-11-06 14:08] charlesyoung commented on #1307
@man-git007 there seems to be another issue with the Guides page. While below notes that v1 is the current version what is shown is actually v0. Also can we delete versions?

![image](https://user-images.githubusercontent.com/13888372/98374769-d6993b80-2049-11eb-968e-d51fa0ab7a7b.png)

[2020-11-06 14:52] jedm commented on #1307
@charlesyoung we experienced this previously too on OLC.

[2020-11-06 14:55] charlesyoung commented on #1307
Thanks @jedm

Has this been resolved on OLC?

[2020-11-06 15:01] jedm commented on #1307
Just tested it by reverting to bad version then reverting back. So, yes, on
OLC staging the version listed as "Current version" is current.

On Fri, Nov 6, 2020 at 9:55 AM Charles Young <notifications@github.com>
wrote:

--
Jed Miller | @jedmiller <http://twitter.com/jedmiller>
m +1.917.584.2349 | s @jedbmiller
www.jedmiller.com

[2020-11-06 15:02] charlesyoung commented on #1307
Thanks.

@man-git007 can you look at this on RC?

[2020-11-09 06:52] man-git007 commented on #1307
@charlesyoung The guide page seems OK, might be due to cache. Could please you do a hard refresh?

[2020-11-09 07:00] charlesyoung commented on #1307
Thanks. Why are we having cache issues again? Did you not do some work to resolve the caching issues?

Also can we delete versions?

[2020-11-09 07:01] man-git007 commented on #1307
@charlesyoung Yes you can delete the version

[2020-11-09 07:21] charlesyoung commented on #1307
How? I dont see a delete button.

![image](https://user-images.githubusercontent.com/13888372/98510986-bf866380-226c-11eb-9dbc-e9f9140e6c5d.png)

[2020-11-09 08:27] man-git007 commented on #1322
@SamCCSI We have added the OCID filter to the [admin site](https://admin-staging.resourcecontracts.org/contract). Please verify and if OK we will deploy it on the live server

[2020-11-09 08:53] man-git007 commented on #1307
@charlesyoung Could please check now. The delete button should be visible. Please check by doing a hard reload or in incognito mode.

[2020-11-09 08:58] charlesyoung commented on #1307
Seems to allow version deletes only for single pages (see below) and not if more than 1 version is created. I get the same result in an Incognito window.

![image](https://user-images.githubusercontent.com/13888372/98520149-54438e00-227a-11eb-844a-6406028c43a5.png)

[2020-11-09 13:44] SamCCSI commented on #1322
@man-git007 could you please help me set up a login for that part of the staging site? I can't log in.

[2020-11-09 13:53] charlesyoung commented on #1322
I just did, will email you the log in details.

[2020-11-09 14:05] SamCCSI commented on #1322
@man-git007 confirming that this works nicely. Please deploy.

[2020-11-09 17:54] charlesyoung commented on #1202
@anjesh can you please remind me if the general search and annotations search results xls export includes the same columns. Did we ever have a separate annotations download option?

[2020-11-10 05:32] man-git007 commented on #1307
@charlesyoung The delete button should be visible now. Could you please check?

[2020-11-10 05:53] charlesyoung commented on #1307
Thanks @man-git007

[2020-11-10 07:35] charlesyoung opened #1329 "General inconstant issues"
1. Clipping - For some users the clipping function works but for others (like below) the page just notes 'Loading' but nothing happens.

![image](https://user-images.githubusercontent.com/13888372/98642786-aba73400-2336-11eb-8d52-cec0047f3a83.png)

2. Site generally - For some users the share button is displayed and for others not

![image](https://user-images.githubusercontent.com/13888372/986429

[2020-11-10 08:02] charlesyoung commented on #1313
@anjesh can we have different document xls download formats for RC and OLC?

So for example for RC we would like to remove the 'Category', 'Contract Identifier' and 'Government Identifier' columns as well as move the 'PDF URL' column to after the 'Contract Name' column. We also want to rename the 'PDF URL' column to 'Document Link' and hyperlink the links.

[2020-11-11 06:48] charlesyoung commented on #1296
More annotation text updates.

![image](https://user-images.githubusercontent.com/13888372/98778045-6cdab200-23fa-11eb-9119-269d9d1e969f.png)

![image](https://user-images.githubusercontent.com/13888372/98778142-94ca1580-23fa-11eb-91f4-4e1188cc96c8.png)

[2020-11-11 06:52] anjesh commented on #1202
I don't remember having separate annotation download except in the clips feature.

[2020-11-11 06:53] anjesh commented on #1313
Yes, we could have different downloads for RC and OLC but it will add some more hours.

[2020-11-11 06:54] anjesh commented on #1329
It would be good to get more info on browser version and operating system and we need to see if we could replicate this or not. Without replication, it would be difficult to debug this.

[2020-11-11 07:49] charlesyoung commented on #1296
I have allocated 3 hours for this task.

[2020-11-11 07:49] charlesyoung commented on #1313
Hours updated from 12 to 16.

[2020-11-11 08:09] charlesyoung commented on #1329
My Chrome version is 86.0.4240.193 (Official Build) (64-bit). This relates to the Share button not working.

I will get the same info for Nicola.

I have allocated 3 hours

[2020-11-11 13:24] SamCCSI commented on #1296
Again, Charles's request is for RC only -- OLC text should not be changed.

[2020-11-12 06:21] charlesyoung commented on #1096
@man-git007 a quick question about annotations. Why when you search for annotations in OLC the related annotation is shown in the search result but not in RC?

![image](https://user-images.githubusercontent.com/13888372/98903215-d40e6a00-24bf-11eb-996d-9d6990217195.png)

![image](https://user-images.githubusercontent.com/13888372/98903240-de306880-24bf-11eb-8026-79679c242978.png)

[2020-11-12 22:32] SamCCSI opened #1330 "Annotations showing on English view but not on French view"
This contract has 4 annotations that don't display when the view has selected FR view. But do display when the view has selected EN view.
https://www.openlandcontracts.org/contract/ocds-591adf-2171430573/view?lang=en#/
https://admin.resourcecontracts.org/contract/2876/annotate#/pdf/page/10/annotation/27219

- Infrastructure / L'infrastructure
- Location / Emplacement
- Renewal / Renouvellement
- W

[2020-11-12 22:45] SamCCSI opened #1331 "Update uk aid logo for OLC"
On the footer, can you please replace the old UKaid logo with this one:
https://www.ukaiddirect.org/img/banner-logo.png

@anjesh this can be taken out of YI's standing retainer for OLC work. Thanks!

[2020-11-12 22:46] SamCCSI commented on #1331
![image](https://user-images.githubusercontent.com/12913915/99005531-f8ddfe00-250e-11eb-91c5-a4806590902a.png)

[2020-11-13 09:14] charlesyoung opened #1332 "Tagged search results"
The tagging search option where the clause is highlighted in the results needs to be added back to ResourceContracts because it was inadvertently removed during the last code fork.

This does not apply to OLC.

I have added 1 hour for this task.

cc @anjesh

[2020-11-13 09:52] anjesh commented on #1332
Can you give an example? I see that search query is being highlighted in the result.

![image](https://user-images.githubusercontent.com/120488/99059029-1ae68780-25c6-11eb-9832-9b6867c13eb0.png)

[2020-11-13 09:57] charlesyoung commented on #1332
Above the red line is OLC and below the line in RC

![image](https://user-images.githubusercontent.com/13888372/99059370-2a0a0d00-25a7-11eb-91e9-9a724cdc305e.png)

[2020-11-13 09:57] charlesyoung commented on #1332
Could this be related to #1329

[2020-11-13 10:02] charlesyoung commented on #1332
Your result is from a free text search. Try to run a search from the key clauses dropdown list.

[2020-11-13 10:09] anjesh commented on #1330
@SamCCSI i see that in the admin, there's no annotation text defined under French but available in english. Please have a look. This might have been the case since 2018 when the annotation was last published as can be seen here https://admin.resourcecontracts.org/activities?contract=2876. Do you remember if you have seen those annotations in French before?

![image](https://user-images.githubuserc

[2020-11-13 10:14] anjesh commented on #1332
Understood. The words (tags, annotations, key clauses) got me mixed up :)

[2020-11-13 14:07] SamCCSI commented on #1330
@anjesh no idea.

I suspect the fix is to delete the blank french versions for those four (keeping the english version). can that be done?

[2020-11-16 13:41] charlesyoung opened #1333 "Additional import spreadsheet columns"
Can the following columns be added to the backend import spreadsheet template.

- Source URL
- Matrix Page
- Deal Number

@anjesh how much time will it take to add the new columns?

cc @SamCCSI

[2020-11-16 19:06] SamCCSI commented on #1330
Here is another example https://admin.resourcecontracts.org/contract/4184

@anjesh do you have any ideas about how we can eridcate this issue? I'm happy to have someone manually delete the blank French versions, I just don't know how that is done

[2020-11-17 16:52] anjesh commented on #1330
Unfortunately, there isn't delete feature for the annotation of a particular language only. There hasn't been any need as far as i remember until this case. Now it makes sense to have this feature. Our initial assumption was people would add annotation in english first and then they may add for other language.

We will need to add this feature of listing the annotations in different languages and

[2020-11-17 17:12] SamCCSI commented on #1330
Thanks @anjesh

I actually tried this option 1 yesterday and it didn't seem to work.
I copied the text for assignment/transfer to the french version (cession ou transfert)
https://www.openlandcontracts.org/contract/ocds-591adf-6291757901/view?lang=fr#/
https://admin.resourcecontracts.org/contract/4184

[2020-11-17 17:13] SamCCSI commented on #1330
@charlesyoung are there any examples where you have annotations in 2 separate languages on the same contract?

We have no examples. If it would be easier to just eliminate the annotation language function, so that you just have one version of annotations, I would be open to that too @anjesh

[2020-11-17 17:20] SamCCSI commented on #1330
Scratch that; it looks like option 1 does work; there is just a time lag to it appearing on the live site

[2020-11-18 06:18] charlesyoung commented on #1333
@anjesh ??

[2020-11-18 07:25] anjesh commented on #1333
~ 6 hrs work to add the fields in the template, update template, make necessary validations during import, test, deployment

[2020-11-18 07:59] anjesh commented on #1330
That would make the work easy and straight forward for the annotators and also make the code/system a bit simple. We  invested good amount of time in this feature before. Since Sam raised this issue, maybe it's time to evaluate the feature and downsize the feature if it's not used and instead creates more confusion. But removal of feature is also effort intensive - we need to remove the feature in

[2020-11-18 09:10] anjesh commented on #1330
@SamCCSI we discussed internally and the quicker solution would be to make changes in the subsite such that if fr-annotation is blank then en-annotation will be pulled and shown. That should fix most of these blank annotation issues. @man-git007 will be looking at this particular issue. We will update you when we have more information.

[2020-11-18 09:28] charlesyoung commented on #1333
@SamCCSI can we use 6 hours from the standing OLC retainer for this activity?

[2020-11-18 12:43] man-git007 commented on #1330
@SamCCSI As previously discussed, we have shown the fallback language annotation which is English in staging site, if the contract doesn't have french annotation. For your reference please check this contract on the [admin](https://admin-staging.resourcecontracts.org/contract/2968/annotate) site and in [subsite](https://staging.openlandcontracts.org/contract/ocds-591adf-6747336977/view#/).

If thi

[2020-11-19 09:10] anjesh commented on #1330
I think this is good to deploy. When the french annotation is blank, it pulls the english annotation. Before once you enter the french annotation and delete it from the text box, you will still get blank as the system thinks that annotation is present.
@SamCCSI please confirm before we deploy.

[2020-11-19 14:31] SamCCSI commented on #1330
If it works as described above (including when French is added but then cleared) then that is perfect. Please deploy @anjesh @man-git007

[2020-11-19 14:32] SamCCSI commented on #1330
and thanks for your quick work on this!

[2020-11-19 14:35] SamCCSI commented on #1333
yes. @anjesh can you please update our shared spreadsheet once the 6 hours have been worked, so that we can see how much time we still have in your retainer? Many thanks

[2020-11-20 03:40] anjesh commented on #1331
Sure. Will allocate 2 hours for this. @man-git007

[2020-11-20 05:29] anjesh commented on #1322
Deployed and working in prod.

![image](https://user-images.githubusercontent.com/120488/99762820-76ae9480-2b21-11eb-9e0f-05142d3604a1.png)

[2020-11-20 05:29] #1322 closed

[2020-11-20 09:57] man-git007 commented on #1330
@SamCCSI The changes have been deployed to the live server. Could you please verify?

cc @anjesh

[2020-11-20 15:02] iprunache opened #1334 "Composer install fails for rc-subsite when installing from fresh"
## Why
We should be able to install the rc-subsite project on a fresh environment.

Deployments to production are not affected now because we use previously cached Docker images but if we need to build the Docker image from scratch it will fail.

## What
- [ ] `composer.json` and `composer.lock` are updated so that `composer install` executes without failing

## Notes
This is the error that curren

[2020-11-20 15:04] iprunache commented on #1334
@charlesyoung please prioritize this. It's not affecting production now because we're using cached packages but the project should be in a buildable state in case we lose the cache.

[2020-11-20 15:20] iprunache commented on #1326
Pushed to production: https://github.com/younginnovations/resourcecontracts-rc-subsite/pull/139

[2020-11-20 15:20] #1326 closed

[2020-11-23 07:41] charlesyoung commented on #1334
Thanks. How much time will it take to resolve?

[2020-11-23 17:15] SamCCSI commented on #1330
Working nicely. Thank you!

[2020-11-23 17:15] #1330 closed

[2020-11-23 19:06] iprunache commented on #1334
Charles, I was hoping YI already has a working version of the requirements file since they do active development. I think it would be a matter of hours to fix otherwise.

@man-git007 @birendragurung do you have a more recent version of `composer.json` for `rc-subsite` that composer can install from scratch(no locally cached packages)?

[2020-11-24 07:49] man-git007 commented on #1334
@iprunache We don't have the recent version of `composer.json`. The issue might be related to updating the composer.lock file. The `https://github.com/LynX39/lara-pdf-merger.git` seems to have changed to `https://github.com/DALTCORE/lara-pdf-merger.git`. Updating the URL in `composer.lock` might fix the issue.

[2020-11-24 09:35] man-git007 commented on #1331
@SamCCSI The image has been updated in deployed in the [staging](https://staging.openlandcontracts.org/) server. Please, verify and if OK we will deploy it to the live server

[2020-11-24 11:52] anjesh commented on #1331
@man-git007 the image looked stretched in my browser. Could we show the image in its original proportion?

![image](https://user-images.githubusercontent.com/120488/100090585-798beb00-2e7b-11eb-9b32-a10191d83e2a.png)

[2020-11-24 13:40] SamCCSI commented on #1331
Mine too

On Tue, Nov 24, 2020 at 6:52 AM Anjesh <notifications@github.com> wrote:

[2020-11-24 13:42] charlesyoung commented on #1333
@anjesh just confirming that you are working on this request?

[2020-11-24 15:49] anjesh commented on #1333
Yes. And we are including this under sprint 25 (CCSI).

[2020-11-24 16:30] jedm commented on #1307
Hi @man-git007 and @anjesh,

Thank you for your great patience for finalization of the Guides page. For the Guides page and How-to Steps, here are some notes and requests:

**How-to images**
- We have made new How-to Steps images. Is it possible for your designer to review these images for readability and/or convert them to correct format? (Currently they are TIFFs)
https://drive.google.com/drive/

[2020-11-24 18:43] iprunache commented on #1334
Thanks, @man-git007 . It's not urgent now, we'll update `composer.json` with the correct link for the package when we'll need to rebuild.

I also wanted to make sure there won't be conflicts in case you had a different compose file locally.

[2020-11-25 08:19] man-git007 commented on #1333
@charlesyoung The `Matrix Page` and `Deal Number` attributes are for OLC only. Should this be added to RC as well? If so this might take some time.

[2020-11-25 08:36] charlesyoung commented on #1333
Correct @man-git007

The Matrix Page and Deal Number only relate to OLC so will not be filled in for RC docs. The Source URL however relates to both RC and OLC.

[2020-11-25 08:57] charlesyoung commented on #1333
@man-git007 just a question on capturing 'Other' in the xls template.

How do we record the details for example for 'Other' Contract Type or Disclosure Mode? While 'Other' is imported how do we capture the free-text info in the xls template that is normally captured when manually publishing docs.

[2020-11-25 12:09] SamCCSI commented on #1333
It’s only needed for OLC, not for RC. Thanks!

[2020-11-26 09:36] charlesyoung commented on #1333
@man-git007 just checking on the completion timeframe as we are in the process of importing docs using the xls template.

[2020-12-02 07:13] anjesh opened #1335 "Add contract published date in the subsites"
@charlesyoung Do you think adding the following `Published on: date` is ok? Please suggest if label is to be changed like created on, document published on or ..

Should this be done for RC only or also on OLC?

![image](https://user-images.githubusercontent.com/120488/100840147-92108c80-349d-11eb-83ff-caf084fb4517.png)

cc @SamCCSI

[2020-12-02 08:02] charlesyoung commented on #1335
Thanks @anjesh

Would be good to make it a bit more prominent.

![image](https://user-images.githubusercontent.com/13888372/100845026-481bac80-3485-11eb-8aa7-1bfd2efc31f0.png)

This is an initial solution for now. We will try to add the publication date in the xls export next year using the support budget.

@SamCCSI for some context. I have been asked on numerous occasions to include a doc publica

[2020-12-02 17:18] SamCCSI commented on #1335
@charlesyoung is this date published on RC? or date made public more generally?

[2020-12-02 17:19] SamCCSI commented on #1176
Seeing these bots in our user referrals in google analytics. @charlesyoung is this something that Vitamin is helping to minimize?

![image](https://user-images.githubusercontent.com/12913915/100907692-a4d49280-3498-11eb-852b-43c6d78b447f.png)

[2020-12-02 17:22] charlesyoung commented on #1335
We don’t currently show the doc publish date on RC or OLC. I would like to add this to the RC summary page now and the xls export next year.

[2020-12-02 17:24] SamCCSI commented on #1335
I meant, is this the date the doc was published on RC? or the date the doc was first disclosed more generally?

[2020-12-02 17:26] charlesyoung commented on #1176
Yep, Vitamin has been looking at this.

cc @iprunache @candrei

[2020-12-02 17:28] charlesyoung commented on #1335
It’s the doc RC publish date.

[2020-12-02 18:31] iprunache commented on #1176
We did manage to reduce the load on the sites from such bots which allowed us to cut costs with the infrastructure.

@SamCCSI what is your concern about the bots you mention? Is it infrastructure cost or something else? Just trying to make sure we understand how to help best.

[2020-12-02 19:18] SamCCSI commented on #1176
Thanks @iprunache it's not really my field, i just know that they previously increased demand/costs on infrastructure, like you say, and also that they can mess up the analytics a little.

This one still seems active, but maybe that's not an issue. I'm not really sure. Just wanted to flag, as I was checking analytics for another purpose. Thanks!

![image](https://user-images.githubusercontent.com/

[2020-12-03 06:53] charlesyoung commented on #1335
@SamCCSI just checking if you also want this for OLC.

[2020-12-03 13:49] candrei commented on #1176
@SamCCSI @charlesyoung it's expected to see bots under the "referrals" section of GA. Referrals simply imply that humans have been directed by these search engines (eg: Baidu.com) to access RC pages. Hope this clarifies things.

[2020-12-04 06:22] charlesyoung commented on #1333
@man-git007 just checking when this will be on Staging.

[2020-12-04 07:32] charlesyoung commented on #1335
@SamCCSI will you be able to add your comments on this ticket once received? It will be good to get your input before we implement.

[2020-12-04 09:28] man-git007 commented on #1331
@SamCCSI The image stretch has been fixed. Please verify if its OK?

cc @anjesh

[2020-12-04 11:02] man-git007 commented on #1333
@charlesyoung We have deployed the excel file changes in the staging server. As we don't have a valid pdf file URL, we aren't able to test it. Could please test it?

cc @anjesh @surazneupane

[2020-12-04 11:12] charlesyoung commented on #1333
Seems to work well. Can I however please ask that you update the column headings as follows.

Source URL
Matrix Page
Deal Number

![image](https://user-images.githubusercontent.com/13888372/101157009-1f84e580-3632-11eb-8e05-3e5902388989.png)

cc @SamCCSI

[2020-12-04 11:28] surazneupane commented on #1321
@charlesyoung  this has been done and deployed in the staging (https://staging.resourcecontracts.org) server. Could you please verify it .  if all ok we will deploy in live server.

cc @man-git007

[2020-12-04 11:31] surazneupane commented on #1325
@charlesyoung  this has been done and deployed in the staging (https://staging.resourcecontracts.org) server. Could you please verify it . if all ok we will deploy in live server.

cc @man-git007

[2020-12-04 11:34] charlesyoung commented on #1321
Thanks @surazneupane

Looks good, let me however get approval before moving to the Prod site.

[2020-12-04 11:34] charlesyoung commented on #1325
Thanks @surazneupane

Looks good, let me however get approval before moving to the Prod site.

[2020-12-04 13:22] surazneupane commented on #1333
@charlesyoung we have update the columns heading as mentioned above. can you please test it?

cc @man-git007  @anjesh

[2020-12-04 13:37] SamCCSI commented on #1331
It appears blurry.

Would you mind inserting this version instead? It might be of better
quality.
https://drive.google.com/file/d/15qQXTqHl9wHgTctaCG_NvZNOF3POa8LA/view?usp=sharing

Also, the CCSI logo on staging looks like it has been stretched, and we
want to avoid that on the live site.

Many thanks!

[2020-12-04 13:41] SamCCSI commented on #1335
We are happy for this to be added to OLC as well for now.

We think the wording should be changed to *Date posted on
OpenLandContracts* for
OLC and *Date posted on ResourceContracts* for RC to avoid confusion about
what the date represents.

[2020-12-04 13:48] charlesyoung commented on #1335
Thanks @SamCCSI

@anjesh can you see if you will be able to fit 'Date posted on ResourceContracts: **February 12, 2020**' and 'Date posted on
OpenLandContracts **February 12, 2020** (as examples) in the space noted in above image.

[2020-12-04 13:51] charlesyoung commented on #1333
Looks good. Please move to Prod.

[2020-12-04 14:36] surazneupane commented on #1333
@charlesyoung  we have moved it to production serve. Thanks.
Cc @man-git007  @anjesh

[2020-12-04 14:39] surazneupane commented on #1333
@charlesyoung  can this issue be closed ?

[2020-12-04 14:47] charlesyoung commented on #1325
Please move to the Prod site. Thanks

[2020-12-04 14:47] charlesyoung commented on #1321
Please move to the Prod site. Thanks

[2020-12-04 14:49] #1333 closed

[2020-12-04 15:03] man-git007 commented on #1331
@SamCCSI The logo has been updated and deployed in the staging site. If OK, we will deploy it in live site.

[2020-12-04 15:13] surazneupane commented on #1321
@charlesyoung  we have moved it to  production site .
Can this issue be closed? Thanks

[2020-12-04 15:14] surazneupane commented on #1325
@charlesyoung  we have moved this to production site.thanks! Can this issue be closed?

[2020-12-04 15:18] charlesyoung commented on #1321
Not seeing it yet. Have removed image cache but still not updating. Will try later and close the ticket if all good.

[2020-12-04 15:19] charlesyoung commented on #1325
Not seeing it yet. Have removed image cache but still not updating. Will try later and close the ticket if all good.

[2020-12-04 15:23] surazneupane commented on #1325
@charlesyoung  now you can see the change in production.

[2020-12-04 15:23] surazneupane commented on #1321
@charlesyoung  now you can see change in production.

[2020-12-04 15:24] #1325 closed

[2020-12-04 15:25] #1321 closed

[2020-12-04 15:49] SamCCSI commented on #1331
Thanks @man-git007

Can you make sure the height is exactly the same as the CCSI logo so that it looks apportioned? Right now it looks too small.

Can you please change hyperlink to https://www.gov.uk/government/organisations/foreign-commonwealth-development-office

[2020-12-07 08:33] surazneupane commented on #1320
![Screenshot from 2020-12-07 14-16-40](https://user-images.githubusercontent.com/37624741/101327630-0af55700-3897-11eb-8ee1-7e72ace370bc.png)
![Screenshot from 2020-12-07 14-17-03](https://user-images.githubusercontent.com/37624741/101327642-1052a180-3897-11eb-95f7-d7f24409b9f4.png)

@charlesyoung  can you review it if it is okay? Thanks !

[2020-12-07 10:53] charlesyoung commented on #1320
Thanks. I'm having the same caching issue asl on Friday. Will test later. Can I ask that you make the navbar text the same as want is noted in the footer. So change 'About ResourceContracts' to 'About' and change Frequently Asked Questions' to FAQS".

[2020-12-07 14:29] charlesyoung commented on #1320
@surazneupane I still can't see the updates.

[2020-12-07 14:30] charlesyoung commented on #1335
@anjesh will it be possible to work on this ticket in this week?

[2020-12-07 18:17] charlesyoung commented on #1320
Updates look good. Just please update the 2 changes mentioned. Thanks

[2020-12-08 04:30] surazneupane commented on #1320
@charlesyoung  can you see the change in staging server now?

[2020-12-08 05:47] surazneupane commented on #1335
@charlesyoung  we have deployed it to staging server can you please verify it? thanks!

[2020-12-08 05:52] charlesyoung commented on #1320
Thanks. Can you please deploy to Prod? Can I ask that you rename FAQS to FAQs (in the navbar)?

[2020-12-08 06:00] surazneupane commented on #1296
@charlesyoung  we have deployed it to staging server can you see the change and verify it? Thanks !
cc @man-git007

[2020-12-08 06:11] surazneupane commented on #1320
@charlesyoung  can you verify if all good in staging server before deploying to production? Thanks !

[2020-12-08 06:33] charlesyoung commented on #1320
Good to go to Prod.

[2020-12-08 07:22] charlesyoung commented on #1335
Thanks @surazneupane

- Please update the 'Publication Date' text to 'Date published on ResourceContracts' and 'Date posted on OpenLandContracts'
- Please update the date from November 20 2019 to November 20, 2019 (include the comma to keep to the standard)
- Remove the colon in the 'Open Contracting ID :' text
- Remove the space before 'ocds-591adf-7024761652'

[2020-12-08 07:43] charlesyoung commented on #1296
Thanks.

Please rename to 'This contract has key clauses. View all key clauses'

(change case and remove the fullstop)

[2020-12-08 07:45] charlesyoung commented on #1296
Please also run a check that there is no more reference to annotations in RC.

[2020-12-08 08:57] surazneupane commented on #1320
@charlesyoung  we have updated it to production . Can you see the changes And Can this issue be closed?

[2020-12-08 09:01] #1320 closed

[2020-12-08 10:20] surazneupane commented on #1335
@charlesyoung  can you see the change in staging server? please verify it . Thanks !

[2020-12-08 10:55] charlesyoung commented on #1335
Great, good to move to the RC prod site.

@SamCCSI will need to confirm the OLC site.

https://staging.openlandcontracts.org/contract/ocds-591adf-6858445103

[2020-12-08 12:55] surazneupane commented on #1296
@charlesyoung  can you see the above mentioned change in staging ? please verify it . Thanks !

[2020-12-08 13:15] charlesyoung commented on #1296
Looks good.

[2020-12-08 13:25] SamCCSI commented on #1335
Thanks @surazneupane <https://github.com/surazneupane>

Could you please update the 'Date posted' text to 'Date posted *on
ResourceContracts*' for RC and 'Date posted* on OpenLandContracts*' for OLC?

[2020-12-08 13:28] charlesyoung commented on #1335
OK possibly best to add the RC and OLC bit just to clarify.

Please however keep the RC text as published and not posted.

[2020-12-08 13:50] surazneupane commented on #1335
@charlesyoung  @SamCCSI  i think OLC already have Date posted text .

[2020-12-08 13:53] charlesyoung commented on #1335
Yep, it does but as Sam noted can you please add 'Date published **on ResourceContracts**' and 'Date posted **on OpenLandContracts**'.

[2020-12-08 13:54] charlesyoung commented on #1335
The text shouldn't be bold, just showing what still needs to be added.

[2020-12-08 14:02] surazneupane commented on #1335
![Screenshot from 2020-12-08 19-46-36](https://user-images.githubusercontent.com/37624741/101493410-24c59580-398e-11eb-91c4-19180a008c6d.png)
@charlesyoung  should it look like this?

[2020-12-08 14:05] charlesyoung commented on #1335
Yes, but can you make the 'On' rather 'on'.

Can you also fit 'ResourceContracts' on the same line as 'Date published on...'? There seems to be sufficient space.

[2020-12-08 15:38] surazneupane commented on #1296
@charlesyoung  can this be deployed on production?

[2020-12-09 04:47] surazneupane commented on #1335
![Screenshot from 2020-12-09 10-31-47](https://user-images.githubusercontent.com/37624741/101586320-c938ed80-3a09-11eb-962d-b3eb0f207af6.png)
@charlesyoung  Does This look good?

[2020-12-09 06:50] man-git007 commented on #1331
@SamCCSI The changes have been made and deployed in the [live](https://openlandcontracts.org/) server. Could you please check.

cc @anjesh

[2020-12-09 08:33] charlesyoung commented on #1296
Yes please

[2020-12-09 08:38] charlesyoung commented on #1335
Thanks, can we, however, try to align the box and text with the country? Looks currently out of sync. Can we move the text below the Type of Contract and Resource boxes if the text is too long in the current position?

![image](https://user-images.githubusercontent.com/13888372/101604957-43697200-3a0a-11eb-8d92-8d88d69b3951.png)

[2020-12-09 09:25] surazneupane commented on #1335
![charles](https://user-images.githubusercontent.com/37624741/101610571-8b9b8b00-3a30-11eb-87c7-4f346565b2c5.png)
@charlesyoung  is it okay? please tell if any thing needs to be changed. Thanks!

[2020-12-09 09:28] charlesyoung commented on #1335
Looks good to move to RC Prod.

@SamCCSI needs to approve the OLC site.

[2020-12-09 09:30] surazneupane commented on #1296
@charlesyoung  can you see the change in production site? And can this issue be closed?

[2020-12-09 14:08] SamCCSI commented on #1335
Looks good for OLC; please proceed.

[2020-12-09 14:12] SamCCSI commented on #1331
Thanks @man-git007

[2020-12-09 15:06] SamCCSI commented on #1331
@man-git007 problem - it now appears like this

![image](https://user-images.githubusercontent.com/12913915/101647031-42cedc80-3a06-11eb-8d34-488fbb73b249.png)

[2020-12-09 15:29] surazneupane commented on #1335
@charlesyoung  @SamCCSI  can you see the changes in production site? And can this issue  be closed? Thanks !

[2020-12-09 15:38] man-git007 commented on #1331
@SamCCSI Can you check it again? It's OK at our end.

![Screenshot from 2020-12-09 21-23-16](https://user-images.githubusercontent.com/23434972/101651132-d1724680-3a64-11eb-8261-a9ca5198c275.png)

[2020-12-09 16:01] surazneupane commented on #1335
@charlesyoung  @SamCCSI  Can you see changes in production site? And can this issue be closed? Thanks !

[2020-12-09 16:18] SamCCSI commented on #1331
Working now. Thanks!

[2020-12-09 16:18] #1331 closed

[2020-12-09 16:19] SamCCSI commented on #1335
All looks good on live site. Thanks!!

[2020-12-10 06:11] charlesyoung commented on #1335
Many thanks @surazneupane

[2020-12-10 10:38] charlesyoung opened #1340 "Backend import issues"
1. Import hangs on the last 2 docs
2. How can we import docs from Dropbox
3. Is there an easy way to accommodate importing 'Other' types i.e. Disclosure Mode = 'Other' and 'Online - Observatoire des forêts d’Afrique Centrale'

[OLC Import (CAR) - Final (1 - 22).xlsx](https://github.com/NRGI/resourcecontracts.org/files/5672034/OLC.Import.CAR.-.Final.1.-.22.xlsx)

cc @anjesh @SamCCSI @man-git007

[2020-12-14 10:36] rumus007 commented on #1332
@charlesyoung
Hello, I have deployed changes to the staging site regarding this issue. The key clause is highlighted in the result for the RC site.

![Screenshot from 2020-12-14 16-15-46](https://user-images.githubusercontent.com/51116139/102071018-01846580-3e28-11eb-88ce-e5cf33e8841b.png)

 cc @anjesh @man-git007

[2020-12-14 10:43] charlesyoung commented on #1332
Seems to be a caching issue because I don't see the changes yet.

[2020-12-14 11:08] rumus007 commented on #1332
@charlesyoung
If changes are not seen please hard reload, as your browser may have cached the page.

[2020-12-14 11:44] man-git007 opened #1342 "Country and Resource wise contract grouping"
## What
Need to group the contract by country-wise and resource-wise in subsite

## Notes
Same as free text search of a contract.

[2020-12-14 12:40] surazneupane commented on #1342
Grouping of contract resourse wise and country wise has been deployed in staging server please verify it . Thanks !
cc @man-git007  @anjesh  @SamCCSI @charlesyoung

[2020-12-14 12:51] charlesyoung commented on #1342
Looks good for RC, please move to Prod.

@SamCCSI needs to approve the OLC update.

[2020-12-14 17:49] SamCCSI commented on #1342
Looks good. Only issue is that some have the drop-down arrow without having
any associated docs?

[image: image.png]

[2020-12-14 19:23] charlesyoung commented on #1342
Yep, an example from the Staging site (drop-down arrow without having any associated docs)

![image](https://user-images.githubusercontent.com/13888372/102125420-5a68f380-3e52-11eb-916f-c28879d6b952.png)

Same doc on the Prod site, with an associated doc.

![image](https://user-images.githubusercontent.com/13888372/102125478-6fde1d80-3e52-11eb-9ffe-7f71ad446f6f.png)

Might also just be dirty data

[2020-12-15 04:50] surazneupane commented on #1342
![countries](https://user-images.githubusercontent.com/37624741/102172435-d9951080-3ec0-11eb-93cb-6a4d850bd321.png)
@charlesyoung  @SamCCSI  The associated documents for above contracts are seen to be not published in Staging Server.

[2020-12-15 06:39] charlesyoung commented on #1342
Please deploy to the RC prod site.

[2020-12-15 10:24] rumus007 commented on #1332
@charlesyoung
if this is ok, can we move this to production?

[2020-12-15 10:35] charlesyoung commented on #1332
I ran a search on 'Capital gains tax' with the search result shown below (1 main and 4 supporting docs). The issue is that only 1 of the 5 docs has annotations and that's just for 'Income tax: other' and not 'Capital gains tax'.

![image](https://user-images.githubusercontent.com/13888372/102203445-457f7500-3ed1-11eb-8c12-acc7df4945f5.png)

[2020-12-15 12:43] SamCCSI commented on #1342
And OLC

(But I hope that any associated docs unpublished do not produce the arrow
on the live site)

Many thanks!

On Tue, Dec 15, 2020 at 1:39 AM Charles Young <notifications@github.com>
wrote:

[2020-12-15 12:54] surazneupane commented on #1342
@charlesyoung  @SamCCSI  Can You see the changes in production?
@SamCCSI  Can you see the arrow are not roduced in the production?

[2020-12-15 13:02] charlesyoung commented on #1342
Thanks, I don't see any issues as noted above.

I do however have a question on the alignment of the first associated document as shown below. Can we keep the associated documents aligned?

![image](https://user-images.githubusercontent.com/13888372/102218225-55558400-3ee6-11eb-83af-2a81c1609e43.png)

[2020-12-15 13:31] surazneupane commented on #1342
@charlesyoung  I think these two are not associated contract . I think these are main contract. Can you please check it Thanks !
![s1](https://user-images.githubusercontent.com/37624741/102221175-e8ec7c00-3f09-11eb-939a-4e0ca30ba86a.png)
![s2](https://user-images.githubusercontent.com/37624741/102221184-ebe76c80-3f09-11eb-86c6-ac2fe279f206.png)

[2020-12-15 13:34] charlesyoung commented on #1342
Nope, they are linked as shown below.

![image](https://user-images.githubusercontent.com/13888372/102221564-f5151100-3eea-11eb-9cf5-6d6181119706.png)

[2020-12-15 13:40] surazneupane commented on #1342
@charlesyoung  soory i didn't get it. Did you mean we should align main and associated document?

[2020-12-15 13:44] SamCCSI commented on #1342
Working nicely, thanks!

[2020-12-15 14:02] charlesyoung commented on #1342
Scrape that. Thanks

[2020-12-16 07:25] sweetanzell commented on #1307
@jedm We have worked on the feedbacks that you have mentioned.

**How-to images**

- We have converted all the How-to-steps images (tiff images to jpg images). Please find the attached images here.
[images.zip](https://github.com/NRGI/resourcecontracts.org/files/5700940/images.zip)
- We have added two images as per the attached screenshot for Search for Documents.

**How-to steps**

- Numbers has

[2020-12-16 07:32] surazneupane commented on #1202
@charlesyoung can you verify in staging server if the spreadsheet is not empty and all data are correct in spreadsheet? Thanks !

[2020-12-16 08:42] charlesyoung commented on #1202
Thanks. I notice that the Annotation Category and Annotation Text columns are empty when exporting the data on below search.

https://staging.resourcecontracts.org/search/group?q=&key_clause%5B%5D=Stabilization

Please remember to also look at #1313 while working on this ticket because it includes deleting, moving and renaming column names.

[2020-12-16 08:43] charlesyoung commented on #1202
A reminder that #1313 is only for RC.

[2020-12-16 13:19] charlesyoung commented on #1202
@surazneupane can I ask that you make the top row (column names) bold, please.

[2020-12-16 14:48] surazneupane commented on #1202
@charlesyoung  before that can you please check if the document is not empty and all data are correct in spreadsheet in staging server. Thanks!

[2020-12-16 16:59] charlesyoung commented on #1202
Like mentioned above Annotation Category and Annotation Text columns are empty

[2020-12-16 17:04] surazneupane commented on #1202
![SmartSelect_20201216-224857_Office](https://user-images.githubusercontent.com/37624741/102381102-e9ac0d80-3ff0-11eb-92f8-3c71d7e4fb1f.jpg)
@charlesyoung  are you sure that fields are empty?

[2020-12-16 17:16] charlesyoung commented on #1202
I'm finding it difficult to test on Staging.

When searching on the Stabilisation clause it presents 50 results but actually, some of those docs don't have any annotations. I also cannot test the annotation text column properly. We also had issues testing the country page grouping yesterday on dirty data.

How can we resolve this issue? Can you copy the Prod DB over the Staging DB so that I can ru

[2020-12-16 17:32] iprunache commented on #1202
@charlesyoung we would be able to clone the production data and switch staging to using it if you think that's a workable solution. We would also have to reindex all data to Elasticsearch which takes up to half a day.

Please create an issue for this if you decide on doing it.

[2020-12-16 17:34] iprunache commented on #1202
Just to make it more clear, reindexing involves a long running automated task, not a half a day of effort.

[2020-12-16 17:36] charlesyoung commented on #1202
Understood, thanks @iprunache

Will there be an ES cost when running the reindexing?

Can we take a couple of countries and not the entire DB?

[2020-12-16 17:40] iprunache commented on #1202
@charlesyoung there wouldn't be any extra costs with infrastructure.

Why just a couple of countries? Are you thinking of optimizing costs or time to get it done? The indexing task can run overnight without supervision. It shouldn't be an issue to clone the full data.

[2020-12-16 17:43] charlesyoung commented on #1202
It was to try optimize costs but that doesn't seem an issue. Can you please go ahead and clone, switch and reindex. Thanks

[2020-12-16 19:23] iprunache commented on #1202
@charlesyoung I cloned the production data onto the staging env. In the end I did not reindex the data but just also cloned the Elasticsearch index.

Let me know if it doesn't work well for you. And take care not to confuse it with the prod environment :)

[2020-12-17 04:14] surazneupane commented on #1202
@charlesyoung  Does it looks good in staging server now? can you verify it ? Thanks !

[2020-12-17 04:27] rumus007 commented on #1332
@charlesyoung
This may have occurred due to a data issue in the staging site. It will not affect the tagging of the key clauses.
If there are no other issues regarding the tagging can we move this to production?

[2020-12-17 06:34] charlesyoung commented on #1202
Many thanks @iprunache

[2020-12-17 06:57] charlesyoung commented on #1202
Can you please remove the semi-colons were not needed like shown below. Semi-colons should only be used to separate metadata.

![image](https://user-images.githubusercontent.com/13888372/102452670-64057d80-4043-11eb-8e4e-c62a4ea19159.png)

I'm confused by what is exported. As an example, I ran a search for the annotated tag capital gains tax.

https://staging.resourcecontracts.org/search/group?q=&

[2020-12-17 08:26] charlesyoung commented on #1332
Works now with the Prod DB on Staging.

Please move to RC Prod.

[2020-12-17 11:11] rumus007 commented on #1332
@charlesyoung
This has been deployed to production

[2020-12-17 11:56] #1332 closed

[2020-12-17 13:29] surazneupane commented on #1202
@charlesyoung  Can you verify if all okay at staging server . Thanks !

[2020-12-18 06:34] charlesyoung commented on #1202
Looking good thanks.

I would suggest that you first complete #1313 before moving this to the Prod site.

[2020-12-18 07:31] surazneupane commented on #1313
@charlesyoung  Can you verify if all data are correct in Staging server?

[2020-12-18 07:57] charlesyoung commented on #1313
The list needs to group the docs (main first followed by supporting) as displayed on the site (like below).

![image](https://user-images.githubusercontent.com/13888372/102589191-528da580-4117-11eb-8358-6912b2b20b2c.png)

Can we also populate the Key Clauses and Clause Summary columns when the info is available?

Also, rename Key Clauses to Key Clause.

Many thanks.

[2020-12-18 09:01] iprunache commented on #1342
@charlesyoung @surazneupane  I see a lot of errors in the production logs after the changes to this issue.

For example, URLs like https://resourcecontracts.org/contracts/download/csv?lang=fr&country=mx&resource=&download=1 are not working and throwing the error.

Here's the full error log for troubleshooting.
[code]

[2020-12-18 09:09] charlesyoung commented on #1342
Thanks @iprunache

@surazneupane can you please look at what is causing this issue?

[2020-12-18 10:28] surazneupane commented on #1342
@charlesyoung @iprunache  please verify if the issue is solved in staging server.
@iprunache you may get changes in excel sheet in staging as we are working on other issues . Thanks!

[2020-12-18 11:28] rumus007 commented on #1340
@charlesyoung
Hello

- I have deployed changes regarding the issue in staging site
- For disclosure mode you can directly put 'Online - Observatoire des forêts d’Afrique Centrale' in the disclosure mode column it will be added as 'Others' type with the respective text.
-  For importing from Dropbox a downloadable link needs to be added with can be accessed without signing in into Dropbox.

[2020-12-18 12:47] charlesyoung commented on #1340
I ran a test import in Staging but now I'm getting below error when trying to confirm the import ran as expected.

![image](https://user-images.githubusercontent.com/13888372/102616206-dbb8d280-413f-11eb-9d53-1f39d5983c71.png)

[2020-12-18 14:44] iprunache commented on #1342
@surazneupane it still happens on staging but on a different route: https://staging.resourcecontracts.org/contracts .

I can't see other routes being affected on staging right now but, to make sure, please check all paths that can lead to the point of error.

[2020-12-18 15:51] surazneupane commented on #1342
@iprunache  updated and checked all routes going through error occured path  and solved the currrent issues . Please Check on staging server if any issues still exists thanks!

[2020-12-18 16:59] iprunache commented on #1342
@surazneupane Thanks, I haven't seen any errors on staging after you pushed the changes. I'll let you know if new errors show up in production after merging.

[2020-12-19 16:12] iprunache opened #1345 "Published/unpublished state for contract metadata/text/annotations is not properly determined"
## Why
It should be clear from the admin UI if the state of a contract's metadata/text/annotations is published or not. At the moment the UI is confusing, showing both `Publish` and `Unpublish` active buttons:

<img width="1359" alt="Screen Shot 2020-12-18 at 23 12 32" src="https://user-images.githubusercontent.com/15313824/102693685-13e61100-4225-11eb-9eea-31486d54ca3e.png">

This also affects th

[2020-12-19 17:12] surazneupane commented on #1313
@charlesyoung  can you verify in staging if grouping of documents are fine?
And i am little bit confused on how to populate key clauses .should key clauses be separated by semi-colon? Thanks !

[2020-12-21 05:06] rumus007 commented on #1340
@charlesyoung
hello, 503 is caused when the server is not able the handle the request. Were there any issues while importing the contacts?

[2020-12-21 05:24] rumus007 commented on #1340
@iprunache hello, there seems to have been some issue with the server on Dec 18 may be due to server exhaustion, 503 service temporarily unavailable. Could you look into it?

cc @charlesyoung

[2020-12-21 05:49] charlesyoung commented on #1340
Besides the 503 issues, the test docs did import. Should we deploy to Prod?

[2020-12-21 06:24] charlesyoung commented on #1313
@surazneupane any idea why I got below message via email but why it's not added to this ticket?

@charlesyoung can you verify in staging if grouping of documents are fine?
And i am little bit confused on how to populate key clauses .should key clauses be separated by semi-colon? Thanks !

[2020-12-21 06:35] charlesyoung commented on #1313
The grouping is looking good.

Can you, however, please sort just like we do on the RC site i.e. by date with the most recent main docs published first. Supporting docs also need to be sorted by date with the most recent published first. Take a look at the RC contracts list to see how its displayed.

Good question re the clauses, let me think about it.

[2020-12-21 06:54] rumus007 commented on #1340
@charlesyoung
if there are no further issues with backend import we can move to production

[2020-12-21 06:56] charlesyoung commented on #1340
Yes, please.

Just for interest sake, what was the issue with the import hanging?

[2020-12-21 07:10] rumus007 commented on #1340
Since most of the contract names are in french some special characters such as in the contract "La Société Centrafricaine d'Agriculture et de Déroulage" caused an issue when checking if the contract name already existed. I have updated the query to solve this problem.

[2020-12-21 07:19] surazneupane commented on #1342
@iprunache can you verify if all good at production? And can this issue be closed ? Thanks!

[2020-12-21 07:53] rumus007 commented on #1340
@charlesyoung
This has been deployed to production

[2020-12-21 11:15] iprunache commented on #1342
@surazneupane all errors stopped after your message, thanks! Feel free to close if all was implemented.

[2020-12-21 11:18] iprunache commented on #1340
@rumus007 I'll have a look at the 503 error later today and come up with the resolution.

[2020-12-21 12:36] #1342 closed

[2020-12-21 13:15] charlesyoung commented on #1340
@rumus007 I will run an import early in Jan to test on Prod. Will close this ticket is all works as expected.

[2020-12-21 19:04] iprunache commented on #1340
@rumus007 @charlesyoung the admin server was restarted on the 18th because it got unresponsive during the import of https://admin-staging.resourcecontracts.org/contract/4603 and that caused the `503` error. CPU usage was too high.

I think the import for 4603 did not finish and got interrupted while the 93 pages of the document were being split. It looks like the import never got to do 4604 either

[2020-12-21 19:15] charlesyoung commented on #1340
Thanks @iprunache

I plan to run the same import with another 60 docs so much bigger in the new year.

Can you look at increasing the server resources? Let’s hope that works for bulk uploading.

[2020-12-22 03:59] surazneupane commented on #1313
@charlesyoung  can you please verify the output at staging server. And Please also verify the result of key clauses search excel download , as i am seeing a single document contains same key clause with their corresponding clause summary multiple times, the documents are repeating . Please check if the outputs are okay . Thanks!

[2020-12-24 16:39] iprunache opened #1348 "The RC site crashes when clicking on Popular Searches on the main page"
## Why
Popular searches on the main page should link to valid pages.

It seems that it is the links to key clause(were they named annotation categories in the past?) that crash.

OLC does not seem to be affected.

## What
- [ ] popular searches links on the RC main page load without crashing

## Notes
Here's the error shown in the logs for https://www.resourcecontracts.org/search/group?q=&annotati

[2020-12-25 11:36] nirvanalama commented on #1307
@man-git007 @jedm @anjesh @charlesyoung

Hello. Here is the guide page pdf design.
![image](https://user-images.githubusercontent.com/57661914/103133897-6451e880-46d5-11eb-829c-16994812f928.png)

![image](https://user-images.githubusercontent.com/57661914/103133904-6a47c980-46d5-11eb-85bc-4c45439d1db2.png)

![image](https://user-images.githubusercontent.com/57661914/103133912-6fa51400-46d5-11eb-85

[2021-01-02 12:46] charlesyoung commented on #1348
@iprunache what do you mean by popular searches?

[2021-01-02 13:06] charlesyoung commented on #1340
@iprunache can you please look at increasing the server resources? Thanks

[2021-01-02 17:14] candrei commented on #1340
@charlesyoung will look into it asap, I've created a separate issue for this: https://github.com/NRGI/nrgi-dcos/issues/601

[2021-01-03 01:03] jedm commented on #1307
Merry Christmas, @nirvanalama and Happy New Year also! I hope you are doing all right and your family also.

For this PDF, we will need a few additions because it is not a web page, including:

- A footer message on every page, including attribution and a URL. Final text TBD but please use the following for design purposes:

_OpenLandContracts.org is an initiative of the Columbia Center on Sustain

[2021-01-04 05:41] surazneupane commented on #1313
@charlesyoung  re mentioning if  all is ok at staging. Thanks!

[2021-01-04 09:14] nirvanalama commented on #1307
Hello. Happy Newyear to you too.
1. The footer message has been placed and the pagination.
![image](https://user-images.githubusercontent.com/57661914/103518655-42f2b880-4e9c-11eb-9c5d-417fd9295993.png)

2. About placing the 'download button' at the bottom of the 'How-To section', because the pdf download will be of the whole page, we assumed it would be appropriate to put the download button at t

[2021-01-04 09:24] iprunache commented on #1348
@charlesyoung I mean the `Popular Searches` widget on the middle right of the Home page. The second and third links are crashing now.

Here's a screenshot:
<img width="1612" alt="Screen Shot 2021-01-04 at 11 21 41" src="https://user-images.githubusercontent.com/15313824/103520102-50e61080-4e7f-11eb-95e7-275a622977e8.png">

[2021-01-04 10:00] charlesyoung commented on #1348
Updated. It was a change to the URL (annotations replaced with key clause).

[2021-01-04 10:00] #1348 closed

[2021-01-04 15:28] iprunache commented on #1340
@charlesyoung I increased server resources for the admin site on both staging and production. Go ahead and try the import again. Let us know if it doesn't manage to complete again.

[2021-01-04 16:44] jedm commented on #1307
Hi @nirvanalama,

No, because the PDF is only the "How-To" section of the Guides page, not
the Training Library section.

Reminder that the Training Library section is much longer than the staging
site version (see materials currently live at:
https://openlandcontracts.org/guides).

So a download button between How-To and Training Library sections is best.
Also, the download message should be slig

[2021-01-05 04:53] surazneupane commented on #1313
@charlesyoung  can you verify if all good and can this be moved to production?

[2021-01-05 12:26] charlesyoung commented on #1340
Many thanks @iprunache

Will let you know how the next import runs.

[2021-01-05 12:30] charlesyoung commented on #1313
Please check because I'm getting a blank xls.

![image](https://user-images.githubusercontent.com/13888372/103646566-8d3e6d00-4f62-11eb-9730-4725b6759425.png)

[2021-01-06 10:33] charlesyoung commented on #1340
@iprunache can you please pull stats from the RC server for today. I did a doc import today which took a while.

[2021-01-06 10:34] iprunache commented on #1340
@charlesyoung which server is that, staging or production?

[2021-01-06 10:34] charlesyoung commented on #1313
@surazneupane pls take a look at the above issue.

[2021-01-06 10:35] charlesyoung commented on #1340
Prod

[2021-01-06 10:51] iprunache commented on #1340
Metrics for the admin server look good, CPU and memory consumption are lower than 25% and have been so since this morning.

Looks like the import for https://admin.resourcecontracts.org/contract/4605 took about 40 minutes. From what I can see, it took that long because it has 180 pages and the server is submitting the pages to Abbyy for OCR processing one at a time. I'd say it's expected to take t

[2021-01-06 11:00] charlesyoung commented on #1340
It does seem that 4606 is stuck.

The issue is that this blocks the remaining 16 docs that are in the queue. How can we get the remaining docs processed?

Any idea why ABBYY gets stuck?

[2021-01-06 11:55] iprunache commented on #1340
I only looked briefly at why it gets stuck and it seems that Abbyy does finish the task but the server code is not picking up the result. I can't tell more without going deep into how the code works.

I can kill the current process for 4606 but that will leave the pages that are left unprocessed. The other contracts can then resume but they may also get stuck. I can do the kill in about 2h if you

[2021-01-06 12:00] charlesyoung commented on #1340
Thanks @iprunache

Will the remaining docs OCR processing run automatically after you kill the 4606 process?

[2021-01-06 12:03] iprunache commented on #1340
That’s what I expect but I can double check before stopping the process.

On Wed, 6 Jan 2021 at 14:00, Charles Young <notifications@github.com> wrote:

--
*Ionuț Prunache*
Software Engineer
www.vitaminsoftware.com
[image: Vitamin Software Logo] <https://www.vitaminsoftware.com/>

[2021-01-06 15:25] iprunache commented on #1340
@charlesyoung I killed the process for 4606 since it was not going to get unstuck. Only the first 96 pages out of ~200 were picked up by the importer. I think the contract needs to be deleted and re-imported.

The import resumed with 4607.

[2021-01-06 15:29] charlesyoung commented on #1340
Many thanks @iprunache

I will check in the morning if the remaining docs imported.

Do you know if there is a page limit? I know that there is a doc size limit that needs to be addressed.

[2021-01-06 15:42] iprunache commented on #1340
@charlesyoung there's no page limit.

The issue here is that the code on the admin server fails to communicate properly with the Abbyy API to upload or retrieve the result of an OCR task (which happens on Abbyy servers). It might be caused by network connectivity issues but the code doesn't handle them well. The communication code needs a bit of revamping to use more modern libraries and the lates

[2021-01-06 15:54] iprunache opened #1349 "Improve Abbyy OCR SDK connection handling for pdf-processor"
## Why
OCR processing of uploaded contracts often gets stuck or fails because the pdf-processor service fails to properly communicate with the Abbyy OCR SDK. All pages for uploaded contracts should be properly processed.

## What
- [ ] pdf-processor uses timeouts on HTTP calls to Abbyy OCR SDK so that page processing tasks no longer get stuck
- [ ] pdf-processor retries failed Abbyy OCR SDK calls

[2021-01-06 15:55] iprunache commented on #1340
@charlesyoung I logged https://github.com/NRGI/resourcecontracts.org/issues/1349 for improvements to the pdf-processor.

[2021-01-06 16:03] iprunache commented on #1340
@charlesyoung as a side note, I see some errors on the admin servers which seems to fail to send email notifications. Did you recently stop receiving notifications when contract processing completes? I think they should also be sent when MTurk assignments get completed.

[2021-01-07 03:27] nirvanalama commented on #1307
@jedm Sure. When you say bigger in size do you mean the text inside it or the size of the button? Please suggest us a text for the download button.
Thanks!

[2021-01-07 03:34] nirvanalama commented on #1307
Does this look good? @jedm
![image](https://user-images.githubusercontent.com/57661914/103847962-749c9700-50c9-11eb-9946-1ede290b5962.png)

[2021-01-07 06:46] charlesyoung commented on #1340
Thanks @iprunache

ABBYY processed a couple of documents but then got stuck again at below doc. This is another big document (276 pages).

https://www.opentimberportal.org/uploads/operator_document/attachment/18954/scieb-plan-d-amenagement-2019-02-06.pdf

We have had the notifications issues for a while now. How easy is it to reactivate the notifications?

[2021-01-07 08:26] surazneupane commented on #1313
@charlesyoung  yes i can see the empty xls . but key clauses filter are giving us data in xls . This might be due to upgrade in elastic search. We are working on to solving this issue . @iprunache  can you please email the changes on credentials in staging. Thanks!

[2021-01-07 09:46] iprunache commented on #1313
@surazneupane what email address should I use to send the ES staging credentials?

If there's anything else I can help with regarding the upgrade to ES 7.x, let me know.

[2021-01-07 10:04] iprunache commented on #1340
I interrupted the pdf process again. It resumed with https://admin.resourcecontracts.org/contract/4619. https://admin.resourcecontracts.org/contract/4618 will have to be re-uploaded.

We'll fix the notification issue but most likely starting next week. I think it's just a matter of changing the SMTP server, we are currently using an YI account that is no longer valid.

[2021-01-07 10:34] surazneupane commented on #1313
please send at suraznep@gmail.com @iprunache

[2021-01-07 10:38] iprunache commented on #1313
@surazneupane I've sent the credentials. Please also keep me updated if the issue is related to ES 7.x.

[2021-01-07 10:42] charlesyoung commented on #1340
Many thanks @iprunache

[2021-01-07 16:07] surazneupane commented on #1313
@iprunache
Thank you,I think there is some dirty data at staging server .
**Staging API excel download  URL:**
[api.staging-resource/contracts/search?q=&country_code=ph&corporate_group&company_name&contract_type&document_type&language&year&resource&group=metadata|text|annotations&annotation_category&sort_by&order&per_page=10&from=0&all=0&download=true&annotated&category=rc](url)
**Production API e

[2021-01-07 16:11] surazneupane commented on #1313
Thank you,I think there is some dirty data at staging server .
Staging API excel download  URL:

api-staging.resourcecontracts.org/contracts/search?q=&country_code=ph&corporate_group&company_name&contract_type&document_type&language&year&resource&group=metadata|text|annotations&annotation_category&sort_by&order&per_page=10&from=0&all=0&download=true&annotated&category=rc
Production API excel downl

[2021-01-07 18:25] charlesyoung commented on #1313
There should be no dirty data in the staging DB because it’s basically a replica of the Prod DB.

[2021-01-08 07:54] iprunache commented on #1313
Thanks, @surazneupane , I'll look into that.

Charles, Suraj might be onto something here. When I switched staging to ES 7.x recently, I used a production clone reindexed for 7.x that was a few weeks old. That might be out of sync with the application database if the mentioned document was modified recently.

I'll clone staging again from production to see if it fixes the issue.

[2021-01-08 08:01] charlesyoung commented on #1313
Ok thanks. Don’t think we modified any Philippines documents but it’s worth doing a clone again.

[2021-01-08 09:09] iprunache commented on #1313
@surazneupane I cloned the production ES indices to staging. The new staging index prefix is `rc_staging_1`.

The results for the API requests you linked above are identical for prod and staging but I still get a blank Excel when I try to download all documents. Please have another look.

[2021-01-08 12:43] surazneupane commented on #1313
@iprunache
This issue might be due to staging API pointing to wrong index. Using the staging index you provided which is **rc_staging_3_master** in local there is no issue. Also to verify we uploaded a new testing contract in staging admin side and published the contract but it is not showing in the staging subsite. I think the staging API must be pointing to **rc_staging_1_master.** Could you ple

[2021-01-08 15:16] iprunache commented on #1313
@surazneupane earlier today I recreated the staging environment as a fresh clone from production so I had to create new indices. I mentioned in the previous comment that the new indices prefix is `rc_staging_1`.

Unfortunately, I only updated `rc-api` with the new prefix and forgot about `rc-index`. Sorry for wasting your time with that.

That being said, the API now returns the same content for t

[2021-01-08 16:37] iprunache commented on #1313
Just to reconfirm, both http://api-staging.resourcecontracts.org/ and http://index-staging.resourcecontracts.org/ are using the `rc_staging_1` indices now which are production clones I made today.

The excel download and the Phillipines page are still not working on staging.resourcecontracts.org.

@surazneupane I'd like to delete the `staging` branches for both `rc-subsite` and `rc-api` and recrea

[2021-01-08 16:53] surazneupane commented on #1313
@iprunache  i have checked with staging branch on my local machine as well it is working well there with INDICES_PREFIX **rc_subsite_3** .
We have solved some issues on the index **rc_subsite_3** so it will be great for testing if API INDICES_PREFIC will point to **rc_subsite_3** index . Thanks

[2021-01-08 16:58] iprunache commented on #1313
@surazneupane what issues did you fix? Is it corrupted data or something with the index mapping?

Because those issue must also exist in production since staging is not working with the production clone. And we'll likely have to fix them there.

[2021-01-08 17:04] surazneupane commented on #1313
@iprunache  didnot seen any error on production api-url .
 But there was a small error on supporting contract of Philippines( whose id was found to be 1086) which didnot contained its parent_contracts field .
It will be easy if API-index will point to **rc_admin_3** for testing staging site . Thanks

[2021-01-08 17:09] iprunache commented on #1313
Thanks @surazneupane for pointing to the corrupted contract!

I'll switch to `rc_admin_3` shortly but I need to understand where the data error comes from first. Because I just created a production clone today and it seems that the staging branch doesn't work with it. We'll have the same issue when we deploy to production so I want to figure out what's going on.

[2021-01-08 17:10] iprunache commented on #1313
I'll give you an update once I switch staging back to `rc_admin_3`.

[2021-01-08 17:56] iprunache commented on #1313
@surazneupane I switched staging back to `rc_staging_3`. Thank for looking into this.

Did you also update `1086` in production to fix the data issue?

I realized that even though the data was corrupted in production too, the issue was manifesting just on staging because `DEBUG` is enabled and the error was reported in the API response as a **Notice**.

[2021-01-08 18:05] surazneupane commented on #1313
@iprunache  now we can see the data in xls in staging.
After solving the corrupted data and we havenot  solved any data in production .
Cc @charlesyoung  @man-git007

[2021-01-08 18:29] iprunache commented on #1313
@surazneupane I've seen this activity on production which seems related to the corrupted contract and I thought it was you:
[code]

[2021-01-08 20:24] #1334 closed

[2021-01-09 13:03] surazneupane commented on #1313
@charlesyoung  @iprunache  we may be not getting data on **staging** currently . its because **staging** branch currently is not in clean state .  we will re-create the **staging** branch from **master** then everyting will work fine as i have already checked it on local machine . Thanks !

[2021-01-10 14:11] surazneupane commented on #1313
@charlesyoung  can you verify at staging please . Thanks !

[2021-01-11 06:55] charlesyoung commented on #1313
@surazneupane can you please drop the Key Clause and Clause Summary columns from the general download xls. We will only have these columns when running a search for clauses. (again only for RC)

How does the ordering work? On the page display, the Sabril docs follow directly after the Proton Cuarzos docs but in the xls its not the case.

![image](https://user-images.githubusercontent.com/13888372/

[2021-01-11 13:35] charlesyoung commented on #1340
@iprunache re the notifications. Can you please check because I'm getting duplicate notifications when publishing docs? Thanks

[2021-01-11 13:46] charlesyoung commented on #1202
None of the PDF documents are available on the Staging site.

![image](https://user-images.githubusercontent.com/13888372/104189966-11da3100-5424-11eb-9166-0dd62a60f30b.png)

[2021-01-11 13:52] charlesyoung commented on #1202
@surazneupane is below duplicated because 6 pages have been annotated?

![image](https://user-images.githubusercontent.com/13888372/104190188-641b5200-5424-11eb-9cb6-77d291a46303.png)

![image](https://user-images.githubusercontent.com/13888372/104190539-ed328900-5424-11eb-8d69-6735d71da341.png)

[2021-01-11 17:13] iprunache commented on #1202
@charlesyoung about the missing documents, that's because I did not also clone the AWS production bucket holding the contract pages. There's a lot of data there and I was not sure if it's critical.

I can start a process to clone the bucket to staging early next week if it's not a blocker for you right now. Would that work?

[2021-01-11 17:30] iprunache commented on #1340
@charlesyoung re the notifications. Is that on staging or prod?

On production, emails are sent to the user publishing the doc and also, as `BCC`, to a list of `Notify All` recipients:
[code]

The code makes sure there are no duplicate recipients but I suspect you're part of the `RC-Turk@resourcegovernance.org` email group and that's why you're getting the duplicate email.

There's also a `MTURK_N

[2021-01-12 07:09] charlesyoung commented on #1340
Thanks @iprunache. This relates to Prod.

See below list noting duplicates. The emails are addressed to s.burke@columbia.edu. Yes, I agree with the comments in your last paragraph.

![image](https://user-images.githubusercontent.com/13888372/104280769-1995e600-54b5-11eb-9ebb-bb63d1fd40e0.png)

[2021-01-12 07:11] charlesyoung commented on #1202
Thanks @iprunache, sounds good.

Just checking that there won't be any additional ABBYY, etc costs?

[2021-01-12 08:10] iprunache commented on #1202
@charlesyoung there would be an extra cost of about $4-$6 per month for the S3 storage. No extra cost from Abbyy.

[2021-01-12 08:46] iprunache commented on #1340
@charlesyoung I still think that you receive the duplicates because you're part of the `RC-Turk@resourcegovernance.org` email group. One of the emails should be addressed directly to your `gmail.com` account and the other to the `RC-Turk` group. You can check by searching for `RC-Turk@resourcegovernance.org` in the original messages for both the duplicate entries:

<img width="1383" alt="Screen Sh

[2021-01-12 09:33] charlesyoung commented on #1202
OK thanks

[2021-01-12 09:38] charlesyoung commented on #1340
Thanks. This is what I get for all the notification emails. I actually only want to get a notification when a contract is published and not MTurk related events.

![image](https://user-images.githubusercontent.com/13888372/104296642-92536d00-54ca-11eb-9304-9ebc4655b353.png)

[2021-01-12 09:46] charlesyoung commented on #1202
@surazneupane can you please hold on doing work on this ticket and #1313. I need to discuss this internally but will it be possible not to add the actual summary text but only the relevant clause article/s as a hyperlink (see below example on row 2). The issue is that for RC going forward summaries won't be captured with only the clause article captured. This might also help with the current probl

[2021-01-12 14:37] charlesyoung commented on #1340
@rumus007 I'm getting a 'File could not be downloaded' error when trying to do a backend import.

I copied the docs from Dropbox to my Google Drive like before but it's now giving me an issue. Does it relate to below which I haven't seen before?

![image](https://user-images.githubusercontent.com/13888372/104328141-34d41600-54f4-11eb-8e90-d613890e4a1d.png)

[2021-01-13 03:37] rumus007 commented on #1340
@charlesyoung could you send me the link of the pdf documebt that had this error it maybe due to the document is not publicly accessible

[2021-01-13 05:58] charlesyoung commented on #1340
Thanks. I didn't change anything from yesterday but today the import works.

[2021-01-13 06:00] charlesyoung commented on #1340
Although I get below 2 errors that I have never seen before.

![image](https://user-images.githubusercontent.com/13888372/104412656-65a85f80-5575-11eb-9386-723f80c16a98.png)

[2021-01-13 06:08] rumus007 commented on #1340
This message is shown if the same contract already exists in the system or if the contracts are duplicates inside the excel file itself.
It could be same as this one
https://github.com/NRGI/resourcecontracts.org/issues/1242#issuecomment-623471931
Could you attach the file so that i can verify

[2021-01-13 06:12] charlesyoung commented on #1296
@surazneupane can I please aks that you rename below with just 'View key clauses'. NRGI staff are back from leave and this was a request from one of the primary RC users. No need to do it on Staging, do it straight on Prod. Thanks

![image](https://user-images.githubusercontent.com/13888372/104413292-c2584a00-5576-11eb-86a2-ecf0b8cce072.png)

[2021-01-13 06:41] charlesyoung commented on #1340
I now understand the various error messages.

If the doc is already published - The contract file is already present in our system
If the doc is a duplicate in the xls - Contract could not be saved

[2021-01-13 07:42] charlesyoung commented on #1202
@surazneupane OK I have chatted to the internal NRGI team.

Will it be possible to only include the article reference as a hyperlink in the xls and not show the summary text (RC only)? As mentioned we have stopped adding summary text for RC when annotating.

![image](https://user-images.githubusercontent.com/13888372/104420926-4dd7d800-5583-11eb-817d-05d2f971057b.png)

[2021-01-13 09:10] surazneupane commented on #1296
@charlesyoung  please verify the change in production . Thanks .

[2021-01-13 09:13] charlesyoung commented on #1296
Will do, still seems cached, however.

[2021-01-13 11:17] charlesyoung opened #1351 "Slow page speed"
@anjesh are you aware of any possible code updates that could have slowed down the sites? The sites are slow and the performance test results aren't the best. I'm running a 25 Mbps fibre connection.

![image](https://user-images.githubusercontent.com/13888372/104445037-4de6d080-55a1-11eb-844a-9889ceffb91c.png)

[2021-01-13 12:16] surazneupane commented on #1296
@charlesyoung  can this issue be closed ?

[2021-01-13 12:26] charlesyoung commented on #1296
Sorry, what I meant is to ONLY have 'View key clauses' text.

So no 'This contract has key clauses.'

[2021-01-13 14:04] surazneupane commented on #1296
@charlesyoung  please verify at production .Thanks

[2021-01-13 14:06] charlesyoung commented on #1296
Many thanks @surazneupane

[2021-01-13 21:59] jedm commented on #1296
Reopening this because it looks like this change was made in error on OLC. Per @SamCCSI **[in comment above](https://github.com/NRGI/resourcecontracts.org/issues/1296#issuecomment-662437244)**, "Annotation" terminology and phrasing should have been retained.

Also please note that the left-side menu on OLC is now wrong. See OLC staging for correct menu. Thank you!

[2021-01-14 05:20] charlesyoung commented on #1296
Thanks for picking this up @jedm

@surazneupane please ensure that RC **only** changes are not applied to OLC.

[2021-01-14 08:58] charlesyoung commented on #1202
@surazneupane just wondering if there is any feedback on this ticket?

[2021-01-15 04:52] surazneupane commented on #1296
@jedm  soory dinot noticed the change in **OLC** while working on **RC** . @charlesyoung  @jedm  please verify if all is good for both **OLC** and **RC**.

[2021-01-15 07:44] surazneupane commented on #1202
@charlesyoung  little bit confused about how the links should be added ? should we add the link to the page of the contract for each article_reference ?.
for example : [](https://resourcecontracts.org/contract/ocds-591adf-3429963881/view#/pdf)

[2021-01-15 07:47] charlesyoung commented on #1202
Can we add the article link eg Art. 4.2 in the xls so that a user can click on the hyperlink and be taken to the relevant clause?

[2021-01-15 09:51] surazneupane commented on #1202
@charlesyoung  to add multiple hyperlink in a single cell is technically impossible for article_refrence .
but there are multiple ways we can do to add hyperlinks in xls :
1. adding actual multiple hyperlink in cell . for example (https://resourcecontracts.org/contract/ocds-591adf-1266553396/view#/pdf/page/61/annotation/36562 ,  https://resourcecontracts.org/contract/ocds-591adf-1266553396/view#/p

[2021-01-15 10:21] charlesyoung commented on #1202
Thanks @surazneupane. I thought it might be technically difficult to add multiple hyperlinks in a single cell.

I will need to discuss this internally but will it be possible to mask the URLs in option 1. So for example not show the entire URL in the xls but use the page number text or something else.

[2021-01-15 10:26] surazneupane commented on #1202
@charlesyoung didnot understand.  Can you please provide an example . Thanks !

[2021-01-15 10:39] charlesyoung commented on #1202
So something like below. Don't show the entire URL but have it hyperlink the actual page number or some other text. I'm assuming that it won't be possible but just asking because some clauses could have 5 tags which then makes the column very long with the 5 URLs.

![image](https://user-images.githubusercontent.com/13888372/104714813-56b8dd00-572e-11eb-9fc8-a888c51dc5d3.png)

[2021-01-15 11:14] surazneupane commented on #1202
@charlesyoung  it will be technically impossible  to add multiple hyperlink to multiple text in a single cell .

[2021-01-15 11:29] charlesyoung commented on #1202
OK let me get back to you.

[2021-01-15 12:57] charlesyoung commented on #1296
Are the staging sites down? Cannot seem to run any searches.

I still see below on Prod

![image](https://user-images.githubusercontent.com/13888372/104729944-e3b96180-5741-11eb-876c-87a8114f6fb7.png)

and not this.

![image](https://user-images.githubusercontent.com/13888372/104729986-f3d14100-5741-11eb-9647-843a2e49a219.png)

[2021-01-15 14:32] surazneupane commented on #1296
@charlesyoung  i have created fresh staging . please verify . Thanks !

[2021-01-15 14:39] jedm commented on #1296
@surazneupane The menu on OLC staging is now correct. However, I think that the hover is wrong. Is it possible to recover the OLC hover format from before the RC hovers were added to OLC in error?

cc @SamCCSI @anjesh

[2021-01-16 15:14] charlesyoung commented on #1202
@surazneupane can you open [this ](https://resourcecontracts.org/contract/ocds-591adf-1266553396/view#/pdf/page/76/annotation/36638)link as a hyperlink in Excel. I get below error.

![image](https://user-images.githubusercontent.com/13888372/104815582-19cc1380-581e-11eb-94fd-6bf2cada1187.png)

[2021-01-18 03:45] surazneupane commented on #1202
yes it is working @charlesyoung

[2021-01-18 04:25] surazneupane commented on #1296
@jedm  can you please provide the screenshot of which hover is wrong ? Thanks 1

[2021-01-18 06:04] charlesyoung commented on #1202
Can you please send me an example xls with the link added because I cannot get it to work.

[2021-01-18 07:12] surazneupane commented on #1202
@charlesyoung  please provide your email so that i can send you sample xls files with link added . and also the examples how the links can be added in xls . Thanks

[2021-01-18 07:15] charlesyoung commented on #1202
charlesandersonyoung@gmail.com

[2021-01-18 08:18] charlesyoung commented on #1202
I get an error.

![image](https://user-images.githubusercontent.com/13888372/104889140-6cb8de80-5976-11eb-92be-a6c01762fb89.png)

[2021-01-18 08:31] surazneupane commented on #1202
Can't figure out what is causing the error . But on my machine I am taken
to the requested link in the browser when I click on the link .

On Mon, Jan 18, 2021 at 2:03 PM Charles Young <notifications@github.com>
wrote:

[2021-01-18 08:59] charlesyoung commented on #1202
There does seem to be an issue using the # symbol in Excel hyperlinks. What OS are you using? Can you test on other computers?

[2021-01-18 09:06] charlesyoung commented on #1202
I'm running Windows. I get a 'Cannot locate the Internet server or proxy server' error when trying to open the links on an Apple machine.

[2021-01-18 11:04] iprunache opened #1353 "Speed up loading of contract pages on RC admin"
## Why
Pages for contracts that have lots of pages are slow to load on the admin site.

## What
- [ ] load speed is optimized for contracts with large numbers of pages

## Notes
The backend currently does a database query for each page in the contract to determine the number of pages.

[2021-01-18 11:54] man-git007 commented on #1307
@jedm
The pdf download has been deployed to the [staging](https://staging.openlandcontracts.org/guides) server. Could you please verify?

![Screenshot from 2021-01-18 17-38-53](https://user-images.githubusercontent.com/23434972/104912207-166a9080-59b4-11eb-8f7f-4994519436aa.png)

cc @anjesh @nirvanalama @sweetanzell @SamCCSI

[2021-01-18 15:48] charlesyoung commented on #1340
@iprunache sorry to hassle you again but I ran an import today and the process seems stuck again, on 4668. Can you try to kill the process?

[2021-01-18 16:06] iprunache commented on #1340
@charlesyoung done.

[2021-01-18 16:09] charlesyoung commented on #1340
Many thanks!!

[2021-01-18 16:42] iprunache commented on #1340
@charlesyoung I've interrupted your latest import with a deploy of the production server. I tried to cancel the deploy when I realized you're running an import but it was too late, sorry for that.

Import was interrupted on contract `4675`. Please re-import starting with that document.

[2021-01-18 16:43] iprunache commented on #1340
@charlesyoung you may need to delete `4675` first because it's in limbo so that the importer doesn't see it as a duplicate.

[2021-01-19 06:04] charlesyoung commented on #1340
OK no problem, thanks for letting me know.

[2021-01-19 06:14] charlesyoung commented on #1202
@surazneupane just to let you know that I asked a couple of my friend to open the xls hyperlinks and they all had the same problem. Can you please take a look at this today, if you have time, because we need to wrap up Sprint 27.

[2021-01-19 06:49] surazneupane commented on #1296
@jedm  i think everything is up to date with OLC at staging as we have retained the errors .Please Verify so that we can go on to production . Thanks !

[2021-01-19 07:36] surazneupane commented on #1313
@charlesyoung  please verify the order of documents in xls. Thanks !

[2021-01-19 07:56] charlesyoung commented on #1313
Looks good.

Couple changes before you can move to Prod.
- Bold the first row
- Add hyperlinks to the 2 columns with links

[2021-01-19 08:16] charlesyoung commented on #1340
Imported 3 docs and it's now hanging on 4702.

Do you have any idea what's causing the problem because we never had these import issues before.

@anjesh can your team help identify what is causing the import to hang?

[2021-01-19 08:22] iprunache commented on #1340
My feeling is that it's caused by network connectivity issues when communicating with the Abbyy API: connection latency, lost packages, etc... The tool needs to be made more resilient in this regard.

I've opened this issue where I documented my findings: https://github.com/NRGI/resourcecontracts.org/issues/1349

[2021-01-19 08:27] charlesyoung commented on #1349
Thanks @iprunache

@anjesh what is involved regarding analysing and addressing this issue?

[2021-01-19 08:41] man-git007 commented on #1202
@charlesyoung As you are suggesting to replace the hyperlinks with the **page number or some text**, this cannot be done in excel as multiple links in a cell is not possible, however, we can have the actual links in the cell and this will indeed as you have mentioned could be long. Shall we proceed with the actual links in the cell?.

Also regarding the links which are not opened on your side. Cou

[2021-01-19 08:51] charlesyoung commented on #1202
Thanks @man-git007

I don't want multiple links in a cell but only 1. All I want is an Article i.e. Art. 1.2 hyperlinked in a cell. If there are more than 1 Article for a specific clause then only the first Article should be added to the doc.

There is a known issue with using # in a hyperlink as well as the proxy server issue noted above which a Google search will reveal.

Can I suggest a Skype c

[2021-01-19 09:11] iprunache commented on #1340
I killed the process to get it unstuck.

[2021-01-19 09:53] man-git007 commented on #1202
@charlesyoung OK we will add the first article if there are multiple. As for the **#** hyperlink, the issue in the MS-Excel application only. We can have a skype meeting now if required.

cc @surazneupane

[2021-01-19 09:55] charlesyoung commented on #1202
But all the users will be using Excel to open the links. I have just sent you a Skype request.

[2021-01-19 11:02] surazneupane commented on #1313
@charlesyoung  i have added hyperlinks to all columns with links . please verify at staging .

[2021-01-19 11:42] charlesyoung commented on #1313
Good to go.

We are however having the same issues with the hyperlinks not opening.

This must relate to the GH security or ES updates

cc @iprunache

[2021-01-19 11:53] surazneupane commented on #1313
@charlesyoung  can we move to production?
The links are working perfectly on my machine cant figure out the problems.  Thanks!

[2021-01-19 11:55] charlesyoung commented on #1313
Yes please move over.

The hyperlink issue is well an issue that I just discussed with @man-git007 that relates to our server setup.

[2021-01-20 08:58] man-git007 commented on #1202
@charlesyoung We have deployed this in the [live](https://resourcecontracts.org/) server. Please check once.

Since there is an issue with **hyperlink** we have not added links in the article reference, the cell will have the article reference as a plain text.

For the  **hyperlink** issue in Excel, let's create a separate issue.

cc @anjesh @surazneupane

[2021-01-20 09:21] charlesyoung commented on #1202
Thanks but not sure why you moved it to Prod because it still needs work.

Vitamin is looking at the hyperlink issue but we will need to apply updates to the xls once the links are working.

I thought we will only move #1313 to Prod.

[2021-01-20 09:48] man-git007 commented on #1202
@charlesyoung OK we will remove the key clause feature from the production for now.

cc @surazneupane

[2021-01-21 07:00] surazneupane commented on #1202
@charlesyoung  we have currently removed the key clause feature from production please verify it. Thanks !

[2021-01-21 07:01] surazneupane commented on #1313
@charlesyoung  if everything is good for this ticket . Can this issue be closed ? Thanks !

[2021-01-21 07:58] #1313 closed

[2021-01-21 08:02] charlesyoung commented on #1296
@surazneupane the hover on the OLC site needs to say 'This contract has Annotations' (like the staging site) and not 'This contract has Key Clauses'. Please update the OLC site.

[2021-01-21 09:29] iprunache opened #1354 "Decommission simple search functionality"
## Why
RC sites now generally use grouped search which is continuously maintained and improved.

There are still links on the site though, mostly on contract summaries, that reference the old simple search which is no longer maintained. Those links now fail.

## What
- [ ] all links on the site use the grouped search

## Notes
Contract summaries mainly use the old search but there might be other p

[2021-01-21 09:30] iprunache commented on #1354
@charlesyoung should the old simple search still be in use? If so, I will replace this issue with one to fix the errors generated by it.

[2021-01-21 09:34] iprunache commented on #1354
The second search bar on Countries and Resources views also uses the simple search which crashes:
<img width="1620" alt="Screen Shot 2021-01-21 at 11 33 24" src="https://user-images.githubusercontent.com/15313824/105331821-907d5e00-5bdc-11eb-82d6-802a57880bc0.png">

[2021-01-21 10:56] charlesyoung commented on #1354
Thanks @iprunache

Can you explain the difference between a grouped and simple search?

[2021-01-21 11:17] surazneupane commented on #1296
@charlesyoung  please verify if all good at production . And if all looks good can this issue be closed. Thanks !

[2021-01-21 11:21] charlesyoung commented on #1296
Thanks, looks good.

@SamCCSI / @jedm please confirm that the updates are correct?

[2021-01-21 11:26] charlesyoung commented on #1296
@surazneupane I still notice annotation references that need to be upadtd. See below URL.

https://www.resourcecontracts.org/contract/ocds-591adf-2108050504/view#/pdf/page/19/annotation/5635

Should be

https://www.resourcecontracts.org/contract/ocds-591adf-2108050504/view#/pdf/page/19/**tagged**/5635

[2021-01-21 14:21] iprunache commented on #1354
@charlesyoung As I understand it, you introduced grouped search last year which displays contracts grouped by the parent contract. Previously it just listed all contracts with no grouping.

The grouped search uses the `/search/group` url while the old search functionality is still available at `/search`. Some features on the site still use the old search which is now broken.

Does that make sense?

[2021-01-21 14:24] charlesyoung commented on #1354
Thanks.

Do you have an idea of how much work it is to fix?

cc @SamCCSI

[2021-01-21 14:25] iprunache commented on #1354
@charlesyoung I'm not sure from your comment if you want to also keep the old search and fix it or remove it and replace it with links to the newer grouped search.

[2021-01-21 14:29] charlesyoung commented on #1354
Would it work updating the search result URL.

So from

https://resourcecontracts.org/search?company_name=Guinea+Ecuatorial+de+Petroleos

To

https://resourcecontracts.org/search/group?company_name=Guinea+Ecuatorial+de+Petroleos

[2021-01-21 14:31] iprunache commented on #1354
Yes, if you want to use the grouped search everywhere the urls need to be updated to use the `/search/group` endpoint. That should be enough.

[2021-01-21 14:46] charlesyoung commented on #1354
Can Vitamin update the endpoints? How much time will it take?

[2021-01-22 17:20] candrei commented on #1354
@charlesyoung I've consulted with @iprunache and reviewed the necessary changes; Ionut can update the links on the contracts pages to reduce the number of errors. We think that YI will be more efficient in making the rest of the changes that require more time (not a small change), ie: we've discovered that more work will be needed than updating the references to the `/search/group` endpoint, eg: s

[2021-01-23 23:16] SamCCSI commented on #1190
OLC has been down for substantial chunks (30 mins) on 3 occasions in last 3 days. @candrei @charlesyoung not sure if anything can be done, but i can forward notifications if helpful

[2021-01-25 06:14] charlesyoung commented on #1190
We have increased the Elasticsearch instance to accommodate the current downtime issue. This has impacted OLC, RC and all the RC country sites. We are monitoring the situation.

[2021-01-25 07:31] charlesyoung commented on #1202
@surazneupane please see below an example of the what is required. Let me know if you understand the instructions.

[Clause hyperlink - examples.xlsx](https://github.com/NRGI/resourcecontracts.org/files/5864868/Clause.hyperlink.-.examples.xlsx)

.

[2021-01-25 18:33] iprunache commented on #1190
Sam, thanks for notifying us.

The Elasticsearch servers were timing out during the weekend and that caused the outage. Catalin had to forcefully restart them to get them back working.

This does not seem to be related to our application, it's more likely a bug with Elasticsearch that we're hitting because we've upgraded to the latest version which still has some rough edges to iron out. This issu

[2021-01-25 18:40] SamCCSI commented on #1190
Thank you for the update, Ionut!

[2021-01-26 04:14] man-git007 commented on #1296
@charlesyoung The annotation references have been updated and deployed in the [staging](https://staging.resourcecontracts.org/contract/ocds-591adf-9403334972/view#/pdf/page/8/tagged/37203) server. Please verify

cc @surazneupane

[2021-01-26 05:58] charlesyoung commented on #1296
Not sure if its a caching issue but I still see the annotation reference in the URL.

https://staging.resourcecontracts.org/contract/ocds-591adf-1022255942/view#/pdf/page/17/annotation/15227

[2021-01-26 06:01] man-git007 commented on #1296
@charlesyoung Try incognito mode or do a hard refresh.

[https://staging.resourcecontracts.org/contract/ocds-591adf-9403334972/view#/pdf/page/8/tagged/37203](https://staging.resourcecontracts.org/contract/ocds-591adf-9403334972/view#/pdf/page/8/tagged/37203)

[2021-01-26 06:04] charlesyoung commented on #1296
I have.

![image](https://user-images.githubusercontent.com/13888372/105806693-17e81a00-5fad-11eb-89e4-3d1552cdd66e.png)

[2021-01-26 07:03] man-git007 commented on #1296
@charlesyoung This hasn't been deployed in the [live](https://resourcecontracts.org/) server. Please check in the [staging](https://staging.resourcecontracts.org/) server.

[2021-01-26 07:11] charlesyoung commented on #1296
No change.

https://staging.resourcecontracts.org/contract/ocds-591adf-5648979642/view#/pdf/page/12/annotation/21277

[2021-01-26 07:22] man-git007 commented on #1296
@charlesyoung The link is updated to **tagged**.

[https://staging.resourcecontracts.org/contract/ocds-591adf-5648979642/view#/pdf/page/12/tagged/21277](https://staging.resourcecontracts.org/contract/ocds-591adf-5648979642/view#/pdf/page/12/tagged/21277)

[2021-01-26 07:32] charlesyoung commented on #1296
That's fine but I still get the annotation ref when clicking on the Pg link.

https://staging.resourcecontracts.org/search/group?q=&key_clause%5B%5D=Bonuses

[2021-01-26 08:49] man-git007 commented on #1296
@charlesyoung Are you talking about the [summary](https://staging.resourcecontracts.org/contract/ocds-591adf-1022255942#keyclauses) page? This has been fixed and deployed in the staging server.

[2021-01-26 08:55] charlesyoung commented on #1296
Click on the [Pg xx] links of below. There should be no annotation ref in any of the RC links.

https://staging.resourcecontracts.org/search/group?q=&key_clause%5B%5D=Bonuses

[2021-01-26 10:00] man-git007 commented on #1296
@charlesyoung Thanks for pointing it out. This has been resolved and deployed. Please check.

[2021-01-26 10:42] charlesyoung commented on #1296
Thanks, please push to Prod.

[2021-01-26 12:11] man-git007 commented on #1296
@charlesyoung Moved to Prod. If all OK we can close this ticket

[2021-01-26 12:34] #1296 closed

[2021-01-26 12:38] charlesyoung opened #1355 "Additional doc types and resources"
@man-git007 what is involved in adding doc types and resources?

Time for this will come from the 2021 support agreement.

[2021-01-27 08:37] iprunache opened #1357 "Run scheduled artisan commands as the `www-data` user"
## Why
Scheduled nightly commands, like the MTurk checks, can create log files shared with the application server. If the log files created by commands don't have the right permissions the application server will crash and the admin site becomes unusable.

## What
- [ ] log files created by scheduled artisan commands are owned by `www-data`

## Notes
Apache error log:
[code]

The admin site does a

[2021-01-27 08:38] iprunache commented on #1357
@charlesyoung this caused the admin site to not be available today. It's a rare event but should be addressed.

[2021-01-29 10:24] man-git007 commented on #1202
@charlesyoung The changes have been made to the [staging](https://staging.resourcecontracts.org/search/group?q=&key_clause%5B%5D=Bonuses&key_clause%5B%5D=Confidentiality) server. Please verify it. If any issue please let me know.

[2021-01-29 10:34] iprunache opened #1358 "Increase PHP memory limit to allow larger contract imports"
## Why
The admin site should be able to import contracts from an excel file.

## What
- [ ] PHP memory limit is increased to 512MB

## Notes

[2021-01-29 10:45] charlesyoung commented on #1202
Some points on running a simple search (1 clause).
- The key clause only needs to be noted once, in the 'Key Clause' column, not like 'Confidentiality,Confidentiality' if more than 1 clause has been tagged. Should just be 'Confidentiality'
- When duplicates are present, of the same clause, like 'Confidentiality', then the first tagged paged needs to be hyperlinked. It seems that the last tagged pa

[2021-01-29 11:01] charlesyoung commented on #1202
One more thing.

For the clipping xls hyperlinks the annotation box with the clause details are shown. Can we do the same here because otherwise if more that one clause is tagged on the same page the user won't know which one relates to their search?

[2021-02-01 06:41] charlesyoung commented on #1355
@man-git007 just a follow up on my question. I just want to understand the process.

[2021-02-01 13:52] charlesyoung commented on #1202
@man-git007 just checking that you have the time to look at above comments? We need to try to get this functionality implemented as soon as possible.

[2021-02-02 08:58] man-git007 commented on #1202
@charlesyoung I have made the changes and deployed them in the [staging](https://staging.resourcecontracts.org/search/group?q=&key_clause%5B%5D=Environmental+protections&key_clause%5B%5D=Infrastructure&key_clause%5B%5D=Location) server. Please verify.

[2021-02-02 09:06] charlesyoung commented on #1202
Many thanks, @man-git007

Let me run this past the internal team. I will get back to you by tomorrow.

[2021-02-03 13:01] charlesyoung commented on #1355
@man-git007 ??

[2021-02-04 08:14] man-git007 commented on #1355
@charlesyoung Are you suggesting adding new values to **Document Type** and **Resource** in the contract metadata?.
![Screenshot from 2021-02-04 13-53-10](https://user-images.githubusercontent.com/23434972/106863267-5c339280-66f0-11eb-8977-06b28dd04447.png)
![Screenshot from 2021-02-04 13-53-00](https://user-images.githubusercontent.com/23434972/106863276-5dfd5600-66f0-11eb-9d57-017c86a331ab.png)

[2021-02-04 08:18] charlesyoung commented on #1355
Yes, that's what I'm asking for.

Can you please explain the process of updating code lists? Do you update a xls file?

We have limited support budget for 2021 so I will need to understand how the 4 hrs will be spent.

[2021-02-04 08:25] man-git007 commented on #1355
@charlesyoung We will update the code lists in the code itself as the list is maintained in the code. As this is maintained in three languages, we will need to test which might take time.

[2021-02-04 17:22] charlesyoung commented on #1355
@man-git007 its for OLC so will it be fine just to have the additions in English and French?

[2021-02-08 07:06] charlesyoung commented on #1355
@man-git007 do we need Arabic for OLC?

We are busy adding the missing code lists to below Sheet. Will let you know when you can add.

We also need to think of a more sustainable way to update the code lists. Maintaining it in the code  is far from ideal

https://docs.google.com/spreadsheets/d/1gNZ2C-KhKZlxqsKZIYqFv5Vm_Dt9umpK4tqOptxjyYo/edit#gid=0

[2021-02-08 08:27] charlesyoung commented on #1324
@iprunache seems like we were hit by a bot (trafficbot.live) last week. Can this be blocked?

![image](https://user-images.githubusercontent.com/13888372/107186809-9c935900-69ed-11eb-8b1b-a51cd47e380e.png)

[2021-02-08 09:52] charlesyoung commented on #1202
OK all looking good.

Can I, however, ask that you delete the following fields form the Key Clause xls _(Note: Only for RC and not for the general documents xls download)._

- OCID
- Document Type
- Gov Entity
- Company Address
- Jurisdiction of Incorporation
- Registration Agency
- Company Number
- Corporate Grouping
- Participation Share
- Open Corporates Link
- Incorporation Date
- Operator
- P

[2021-02-09 17:18] iprunache commented on #1324
@charlesyoung I don't see any traffic to that page on our servers access logs.

It seems to be an attack on Google Analytics itself as pointed out by many users on this thread: https://community.cloudflare.com/t/bottraffic-live/240745/38. Basically they get the GA ID from our sites and then just send the requests directly to GA. Not sure what's the purpose.

Since we can't block it from the server

[2021-02-09 17:22] iprunache commented on #1324
Note that the attackers may change the URI string in the future so keep that guide at hand. Sorry that I don't have a better solution for it. Let us know how it works.

[2021-02-10 05:59] charlesyoung commented on #1324
OK thanks.

[2021-02-10 05:59] #1324 closed

[2021-02-10 06:51] man-git007 commented on #1355
@charlesyoung As OLC is in Eng and French only. So, we will not need it in Arabic. As for sustainability, we can have that code list UI on the admin site and this will take time.

cc @anjesh

[2021-02-10 08:29] man-git007 commented on #1202
@charlesyoung The changes you have requested have been done and deployed in the staging server. Please verify

[2021-02-10 08:36] charlesyoung commented on #1202
Thanks. Looks good but will need to confirm with Nicola.

One thing, I get below message which is new.

![image](https://user-images.githubusercontent.com/13888372/107484710-7f948c80-6b8b-11eb-9ea4-a9ee624d5b15.png)

[2021-02-10 08:39] man-git007 commented on #1202
@charlesyoung This might be due to the addition of a link in the View Clause cell.

[2021-02-10 08:41] charlesyoung commented on #1202
Nope, the clause link has been there for a while and I have never seen this before.

This is the first time this has happened and we need to try resolve because users will be concerned to open the xls.

[2021-02-10 10:05] man-git007 commented on #1202
@charlesyoung Please check now.

[2021-02-10 10:06] charlesyoung commented on #1202
Fixed. What was the issue?

[2021-02-10 10:25] man-git007 commented on #1202
The View Clause link was not proper on the hover of the cell.
![Screenshot from 2021-02-10 16-10-09](https://user-images.githubusercontent.com/23434972/107497299-81297900-6bba-11eb-873c-b923ab8fd62c.png)

[2021-02-10 10:45] man-git007 commented on #1202
@charlesyoung If all good, can we send this to production?

[2021-02-10 10:46] charlesyoung commented on #1202
Just need Nicola to confirm later today.

[2021-02-11 03:55] man-git007 commented on #1307
@jedm @SamCCSI Is there anything left in this ticket? If not we can send it to the live server.

cc @anjesh @sweetanzell @nirvanalama

[2021-02-11 11:46] jedm commented on #1307
Hi Manish,

CCSI is still finalizing text (Sam will confirm if this is accurate) and I
will send any final requests for the images and PDF, then we will be ready.
Thank you!

On Wed, Feb 10, 2021 at 10:55 PM Manish Pradhan <notifications@github.com>
wrote:

--
Jed Miller | @jedmiller <http://twitter.com/jedmiller>
m +1.917.584.2349 | s @jedbmiller
www.jedmiller.com

[2021-02-11 12:32] charlesyoung commented on #1243
@jedm can this ticket be closed?

[2021-02-11 13:58] SamCCSI commented on #1307
I have followed up with colleagues about this; apologies for the hold up.

[2021-02-15 06:35] charlesyoung commented on #1202
@man-git007 please move this to the Prod site. Thanks

[2021-02-15 08:00] man-git007 commented on #1202
@charlesyoung The changes have been deployed to the [live](https://resourcecontracts.org/) server. Please check

[2021-02-15 09:56] charlesyoung commented on #1202
Thanks

[2021-02-15 09:56] #1202 closed

[2021-02-15 09:57] charlesyoung commented on #1349
@anjesh what is involved regarding analysing and addressing this issue?

[2021-02-15 10:03] charlesyoung commented on #1340
@iprunache another backend import, another hanging page (a doc with only 12 pages). Can you kill the process or do I need to ask @man-git007?

[2021-02-15 12:06] #1329 closed

[2021-02-15 14:59] iprunache commented on #1340
@charlesyoung I killed the process, sorry for the delay.

[2021-02-15 15:03] charlesyoung commented on #1340
Many thanks!

[2021-02-16 15:35] SamCCSI commented on #1307
Having spoke to CCSI colleagues, CCSI has already provided revisions to Jed on the **Guides page**, so if @jedm is happy with final version for guides page, then we are happy for YI to proceed to publishing.

Text for About us and FAQs is forthcoming from me very shortly.

[2021-02-16 15:39] SamCCSI commented on #1307
We will send through a French version of the guides page in due course as well (it might take a month). @man-git007 what is the process for the French version?

[2021-02-17 04:27] man-git007 commented on #1307
@SamCCSI The process would be the same as the English guide page.

[2021-02-25 14:30] charlesyoung commented on #1355
@man-git007 can you please add the 3 resources and 1 doc type to the code list (above xls). Note that its for OLC so no Arabic translations are required. The 4 hours will be deducted from the 2021 support agreement.

cc @SamCCSI @anjesh

[2021-02-26 22:09] SamCCSI opened #1359 "Typo on French page"
French "reset" button should read "Réinitialiser" not "Rénitialiser".

![image](https://user-images.githubusercontent.com/12913915/109360458-4465af00-7855-11eb-8266-62ca53e3bfd1.png)
![image](https://user-images.githubusercontent.com/12913915/109360546-6b23e580-7855-11eb-8baa-5f876a20b54e.png)

cc @anjesh & @charlesyoung

[2021-03-01 17:14] SamCCSI commented on #1190
They're working for me

[2021-03-01 17:32] jedm commented on #1307
Hi @man-git007 and @nirvanalama. Here are final instructions and updates for the How-To Guides PDF and the update to all static pages (guides, About, Glossary, etc.).

**After you have reviewed these, is it possible to provide an ETA for completion of all steps?** Thank you for that!

**1. For Guides page:**
- All text and links now correct on staging
- Please update images with correct images ([p

[2021-03-02 05:54] man-git007 commented on #1355
@charlesyoung @SamCCSI This has been deployed in the [staging](https://admin-staging.resourcecontracts.org/) server. Could you please verify?

[2021-03-02 05:58] charlesyoung commented on #1355
Looks good thanks. Can you however, in both cases, ensure that the additions are listed in alphabetical order.

[2021-03-02 07:49] man-git007 commented on #1355
@charlesyoung The listing is ordered alphabetically.

[2021-03-02 08:39] charlesyoung commented on #1355
Thanks, please move to Prod.

[2021-03-03 05:03] man-git007 commented on #1307
@jedm We have estimated about **8hrs** for the completion of all these steps.

cc @sweta-shrestha @SamCCSI @anjesh

[2021-03-03 07:46] jedm commented on #1307
Manish, is it possible for you to provide which of these final steps is
time consuming and which is not? I am curious in particular about the PDF
file.

It may be that we can reduce the time required by eliminating some of them.
And if may be that there are some we can do ourselves.

 @SamCCSI <https://github.com/SamCCSI> @anjesh <https://github.com/anjesh>

On Wed, Mar 3, 2021 at 12:03 AM Manish

[2021-03-03 08:22] charlesyoung commented on #1340
@man-git007 any idea why there is a 'File could not be downloaded' error when trying to run a backend import?

This is the link to the second doc that can be opened.

https://www.adb.org/sites/default/files/project-documents/51209/51209-002-eia-en_3.pdf

![image](https://user-images.githubusercontent.com/13888372/109775419-28be2800-7c0a-11eb-825a-b26e3250cd57.png)

cc @SamCCSI

[2021-03-03 11:08] man-git007 commented on #1307
@jedm Regarding the `CCSI LOGO` in **PDF**, is there another color of that logo, as the logo has white bg and the pdf layout is in whites. So the logo may not appear that good in the pdf file.

cc @sweta-shrestha

[2021-03-03 20:44] jedm commented on #1307
Best person to ask is @samCCSI. I expect there is!

On Wed, Mar 3, 2021 at 6:09 AM Manish Pradhan <notifications@github.com>
wrote:

--
Jed Miller | @jedmiller <http://twitter.com/jedmiller>
m +1.917.584.2349 | s @jedbmiller
www.jedmiller.com

[2021-03-03 23:03] SamCCSI commented on #1307
Hi @man-git007 does [this](https://www.dropbox.com/s/5rhh5jygyx17tez/CCSI_logo_tree_icon.eps?dl=0) work?

(Github wont let me upload it as an attachment)

[2021-03-04 05:50] man-git007 commented on #1355
@charlesyoung Moved to production. If all OK we can close this ticket

cc @anjesh

[2021-03-04 05:52] #1355 closed

[2021-03-04 10:39] man-git007 commented on #1307
@SamCCSI We have made the changes and deployed them in the [staging](https://staging.openlandcontracts.org/guides) server. Please verify. Also could you please provide us the SVG images instead of jpg? Regarding the **4 icons** in the clip section, this tends to a little tedious so we have not implemented it. Besides that, we have made all the changes. The pdf that will be downloaded will look lik

[2021-03-04 11:57] charlesyoung commented on #1340
@man-git007 ?

[2021-03-04 13:30] SamCCSI commented on #1307
@jedm to confirm

[2021-03-04 14:28] #1190 closed

[2021-03-04 14:35] #932 closed

[2021-03-04 14:35] #830 closed

[2021-03-04 15:24] jedm commented on #1307
Hi @man-git007 and @sweta-shrestha,

Thanks for your work on these pages and the "How-To Guides" PDF. Corrections are as follows:

1. Per above request, please change download button color to green, not white.
2. Button text should be: **Download How-To Guides**
3. Please note that in all places, the spelling and capitalization is "**How-To Guides**" (plural, with capital T)
4. For PDF, please del

[2021-03-05 06:28] man-git007 commented on #1340
@charlesyoung We just debugged the issue and found out that the file couldn't be downloaded due to 403 forbidden from the server as shown in the log file. This is due to the permission access of the [pdf](https://www.adb.org/sites/default/files/project-document/182503/49241-001-esia-02.pdf) file. For your assistance, I have attached some snapshots.

![Screenshot from 2021-03-05 11-24-40](https://u

[2021-03-05 06:59] charlesyoung commented on #1340
Thanks @man-git007

What I don't understand is that I can click on the link in the xls and download the document. Why does it work individually / manually but not through the backend import?

cc @SamCCSI

[2021-03-05 07:45] man-git007 commented on #1340
@charlesyoung The pdf files for which access permission is not granted wouldn't be open by clicking the ink in the excel file.

[2021-03-05 07:56] charlesyoung commented on #1340
But they are which is what I don't understand. Click on the 2nd and 3rd docs in below xls and it opens while not in the backend import.

[OLC Import - (ADB) 01.31.2021.xlsx](https://github.com/NRGI/resourcecontracts.org/files/6088938/OLC.Import.-.ADB.01.31.2021.xlsx)

[2021-03-05 10:53] man-git007 commented on #1307
@SamCCSI @jedm The changes have been implemented and deployed in the staging server. Please verify, if all good we can send this to the production server.

cc @sweta-shrestha

[2021-03-05 14:59] jedm commented on #1307
@man-git007 and @sweta-shrestha. All of this looks really good! You can deploy all the static pages to production.

In the PDF, there is one typo I saw. On page 3 there is a missing space between "Annotations" and a colon:

_OpenLandContracts features hundreds of contract **Annotations
:** plain-language summaries that help to explain key provisions and to locate certain topics within a contract._

[2021-03-08 13:22] charlesyoung commented on #1340
@man-git007 have you had time to look at this?

[2021-03-08 18:45] jedm commented on #1307
@man-git007 and @sweta-shrestha - please note I made one last change to the Guide page on the staging site. I added a small caption under each "How-To" image. These captions should NOT be used in the PDF. Thanks!

[2021-03-09 04:26] man-git007 commented on #1307
@jedm The Guide page and PDF two are maintained separately. So, the changes in the source code of the guide page won't affect the PDFs. If the staging is all good, shall we move this to the production site?

cc @anjesh @sweta-shrestha @SamCCSI

[2021-03-09 05:24] man-git007 commented on #1340
@charlesyoung Yes, we have looked into this. There seems to be a pdf server issue because sometimes the pdf access or download is forbidden but after a while, the pdf is again accessible. So, we have come up with three options.

1. You could discuss with the pdf hosted server as in this case [https://www.adb.org/](https://www.adb.org), why the pdf access is sometimes showing Forbidden like this in

[2021-03-09 07:06] charlesyoung opened #1363 "Mechanical Turk Qualifications"
Qualifications: Set the approval rate requirements to the mid to high 90 percentile as well as requiring that Workers have 20 or more approved HITs.

Each new HIT will require.
- Workers that have more than 20 approved HITs (through Worker_NumberHITsApproved qualification parameter) under their belt
- An approval rate above a specified threshold (eg: 95%) (using Worker_PercentAssignmentsApproved q

[2021-03-09 07:29] charlesyoung commented on #1340
Thanks, I will chat with ADB.

[2021-03-09 14:05] jedm commented on #1307
@man-git007 When will the small change in the PDF be complete?

[2021-03-10 05:05] sweetanzell commented on #1307
Hello @jedm,
We have fixed the changes that you had mentioned earlier. Please check the pdf attached below to see if the changes is good to go. We will then deploy it to production server.

[guide-page.pdf](https://github.com/NRGI/resourcecontracts.org/files/6113309/guide-page.pdf)

Thank you,
Sweta

cc @man-git007

[2021-03-10 10:38] man-git007 commented on #1307
@jedm Yes, we need to move the guide page manually to the production. Since I am on a leave till next week can we deploy this next week?

cc @sweta-shrestha

[2021-03-10 10:50] jedm commented on #1307
Definitely. Thank you both for confirming.

cc @SamCCSI

On Wed, Mar 10, 2021 at 5:38 AM Manish Pradhan ***@***.***>
wrote:

--
Jed Miller | @jedmiller <http://twitter.com/jedmiller>
m +1.917.584.2349 | s @jedbmiller
www.jedmiller.com

[2021-03-10 13:41] SamCCSI commented on #1243
Issue indefinitely on hold. Removing Sprint 24 label

[2021-03-10 13:42] SamCCSI commented on #1307
Just a note that we will hopefully have French translation in a month's time, which YI will then insert into web page and PDF version. After that, issue to be closed

[2021-03-11 05:54] charlesyoung commented on #1292
Double and irrelevant notifications received.

![image](https://user-images.githubusercontent.com/13888372/110742405-f67e7d00-823e-11eb-93e0-f2dcbbb2e67c.png)

[2021-03-15 14:03] charlesyoung opened #1364 "RC Repositories"
Move all GitHub repositories to NRGI.

[2021-03-17 08:05] charlesyoung commented on #1349
The communication code needs to be revamped to use more modern libraries and the latest Abbyy API.

[2021-03-19 09:26] #1340 closed

[2021-03-22 08:49] man-git007 commented on #1307
@SamCCSI @jedm We have deployed this in the [live](https://openlandcontracts.org/guides) server. Please check.

cc @anjesh @sweta-shrestha

[2021-03-22 13:11] jedm commented on #1307
@man-git007 - thank you for deployment.

All the pages look good - and the PDF too!

On most of pages on live server, the navigation links at bottom of the page have been deleted. Can you please recreate them by referring to the exact footer setup on the staging server? Thank you.

And thank you @nirvanalama, @sweta-shrestha and @anjesh too.

cc @SamCCSI @anjesh @charlesyoung

[2021-03-22 13:47] SamCCSI commented on #1307
Hi all, I will leave the final confirmation too @jedm.

Sending a deep thanks, also, to @man-git007 @nirvanalama @sweta-shrestha and @anjesh for this really great site feature.

[2021-03-22 13:57] jedm commented on #1307
Confirmed good to go!

Please do restore the footer navigation at your convenience, using staging
pages as a guide.

With thanks again!

Jed

On Mon, Mar 22, 2021 at 9:47 AM SamCCSI ***@***.***> wrote:

--
Jed Miller | @jedmiller <http://twitter.com/jedmiller>
m +1.917.584.2349 | s @jedbmiller
www.jedmiller.com

[2021-03-23 07:38] charlesyoung commented on #1364
@man-git007 we need to move all repositories internal. Can you please confirm which repositories YI hosts?

[2021-03-23 07:41] charlesyoung commented on #1309
@SamCCSI is this still an issue? Please send me the query you are running if not yet resolved.

[2021-03-23 13:43] #1309 closed

[2021-03-24 10:14] charlesyoung commented on #1071
For RC only.

The tagging text for country sites needs to change from 'This contract has Annotations' to 'View key clauses'. The annotations page link also needs to ba added.

[2021-03-24 11:04] man-git007 commented on #1307
@jedm What is the final content for other pages in the production site? Can we use same as that of the staging sites for all pages?

cc @sweta-shrestha

[2021-03-24 11:09] jedm commented on #1307
Hi Manish - I apologize but I don’t understand the question.

On Wed, Mar 24, 2021 at 7:04 AM Manish Pradhan ***@***.***>
wrote:

--
Jed Miller | @jedmiller <http://twitter.com/jedmiller>
m +1.917.584.2349 | s @jedbmiller
www.jedmiller.com

[2021-03-24 11:16] man-git007 commented on #1307
@jedm Will contents of [About](https://staging.openlandcontracts.org/about), [Glossary](https://staging.openlandcontracts.org/glossary), [FAQs](https://staging.openlandcontracts.org/faqs), [Country Sites,](https://staging.openlandcontracts.org/country-sites) [Contact](https://staging.openlandcontracts.org/contact) pages of the [staging](https://staging.openlandcontracts.org) site be same that in [

[2021-03-24 11:22] jedm commented on #1307
If you are asking If it is ok to cut and paste the code from each of these
pages again from staging to live, the answer is yes. We have not touched
those pages on staging since they were finalized and provided to you.

On Wed, Mar 24, 2021 at 7:16 AM Manish Pradhan ***@***.***>
wrote:

--
Jed Miller | @jedmiller <http://twitter.com/jedmiller>
m +1.917.584.2349 | s @jedbmiller
www.jedmiller.com

[2021-03-25 07:54] man-git007 commented on #1307
@jedm The changes to all the pages of the [live](https://staging.openlandcontracts.org) site has been implemented. Could you please verify it?

cc @sweta-shrestha

[2021-03-25 08:06] charlesyoung opened #1365 "Clause searching"
@anjesh what is involved to add an AND search for key clauses? The current search uses OR but users might what to only see results that contain the search term i.e Bonuses AND Withholding tax.

[2021-03-25 08:13] charlesyoung commented on #1335
@man-git007 it seems that when you view the OLC doc summary page in French the 'Date posted on OpenLandContracts' text changes to 'Date publiée sur ResourceContracts'.

cc @SamCCSI @anjesh

[2021-03-25 12:11] jedm commented on #1307
Hi Manish,

Please confirm that you overwrote the Guides page too?

That one had more recent changes and I had not thought you were going to
edit it.

On Thu, Mar 25, 2021 at 3:55 AM Manish Pradhan ***@***.***>
wrote:

--
Jed Miller | @jedmiller <http://twitter.com/jedmiller>
m +1.917.584.2349 | s @jedbmiller
www.jedmiller.com

[2021-03-25 12:47] SamCCSI commented on #1335
Change to 'Date publiée sur OpenLandContracts'.

[2021-03-25 15:25] jedm commented on #1307
@man-git007 the footer navigations have not appeared.

[2021-03-26 04:03] man-git007 commented on #1307
@jedm Could you please do a hard refresh because the footer has been added and is showing.

![Screenshot from 2021-03-26 09-47-28](https://user-images.githubusercontent.com/23434972/112575433-6af91480-8e18-11eb-9b76-b16915b64ae9.png)

[2021-03-26 04:21] man-git007 commented on #1335
@charlesyoung @SamCCSI The issue has been fixed and deployed in the [live](https://openlandcontracts.org/contract/ocds-591adf-1281238394?lang=fr) server. Please check once.

![Screenshot from 2021-03-26 10-05-49](https://user-images.githubusercontent.com/23434972/112576696-e8be1f80-8e1a-11eb-9b0c-5d8cb950979c.png)

[2021-03-26 05:57] charlesyoung commented on #1335
Many thanks.

[2021-03-26 05:57] #1335 closed

[2021-03-26 06:16] charlesyoung commented on #1365
@anjesh @man-git007 ?

[2021-03-29 11:00] charlesyoung opened #1366 "Document sorting by year"
Documents are sorted chronologically by year when clicking on the [country ](https://www.resourcecontracts.org/countries/eg)link.

Documents are however not sorted chronologically by year when running a countries [search](https://www.resourcecontracts.org/search/group?q=&country%5B%5D=EG).

[2021-03-30 07:36] charlesyoung commented on #1366
The same issue with recently added.

https://www.resourcecontracts.org/search/group?recent=1

[2021-03-30 08:51] charlesyoung commented on #126
Something to reconsider again?

Below is how ResourceProjects allows for alerts/notifications.

https://resourceprojects.org/subscribe

[2021-03-30 13:58] charlesyoung opened #1367 "Code list updates"
Allow administrators the ability to update the Document Types, Contract Types and Resources.

[2021-03-30 15:56] SamCCSI opened #1368 "Streamlining number of clicks to publish - backend"
The process for publishing text/PDF/annotations involves a lot of clicks. Can any of these be removed?

- For OCR text: once rated green, can "publish button" immediately appear in action column rather than the blue "complete" button?
- For PDF/annotations, can we also just remove the "complete" button step and make the "publish" button appear?

![image](https://user-images.githubusercontent.com/1

[2021-03-31 17:03] charlesyoung commented on #1354
Completed.

Just need to deploy to Prod site.

[2021-03-31 17:04] charlesyoung commented on #1363
Completed.

Just need to deploy to Prod site.

[2021-03-31 17:06] charlesyoung commented on #1303
Completed.

Just need to deploy to Prod site.

[2021-03-31 17:12] charlesyoung commented on #1349
70% completed.

[2021-03-31 17:14] charlesyoung commented on #1292
Completed.

Just need to deploy to Prod site.

[2021-03-31 17:18] charlesyoung commented on #1351
80% completed.

[2021-03-31 17:18] charlesyoung commented on #1176
80% completed.

[2021-03-31 17:20] charlesyoung commented on #1364
Completed by the 05/04.

[2021-03-31 19:31] SamCCSI opened #1369 "Mobile view: collapse listing overlaps with title"
If I try to collapse search results on my phone, it thinks i am clicking on the title, so it simultaneously collapses the results and takes me to the contract view page.

We need to make the > sit apart from the title to avoid this overlap

cc @charlesyoung

![OpenLandContracts org - Search Contracts](https://user-images.githubusercontent.com/12913915/113200212-08e44900-9236-11eb-8d0e-3842b76a8a02

[2021-04-01 15:41] man-git007 commented on #1359
@charlesyoung
Is it both for RC and OLC? Are there any other language mistakes?

cc @SamCCSI

[2021-04-01 15:45] man-git007 commented on #1365
@charlesyoung The default logic is **OR**. But if we need to implement **AND** logic we might need to make some changes in UI as well.For Example, to get the AND results, one would type "coal AND mining" or "coal + mining". I think we need some discussion on this. Also, Is it for annotation keyword only?

[2021-04-01 15:45] man-git007 commented on #1317
@charlesyoung Is it both for RC and OLC?

[2021-04-01 15:51] man-git007 commented on #406
@charlesyoung Are you suggesting like this in the screenshot?

![Screenshot from 2021-04-01 21-34-28](https://user-images.githubusercontent.com/23434972/113320347-24347e80-9332-11eb-9ef4-e939d07e81c8.png)

We might need to add no annotation added yet in the document label something like that. Also, Is it both for RC and OLC?

cc @SamCCSI

[2021-04-01 15:54] man-git007 commented on #1366
@charlesyoung Is it both for RC and OLC? Also, recent contracts are within 3 months gap and ordered in descending order

[2021-04-01 15:54] SamCCSI commented on #1359
Both -- as shown in both images - one from OLC, one from RC

[2021-04-01 15:55] man-git007 commented on #126
@charlesyoung I think we need discussion for this ticket.

cc @jedm

[2021-04-01 15:56] SamCCSI commented on #1366
Both.

Descending order according to what?

[2021-04-01 15:56] man-git007 commented on #1367
@charlesyoung For this we need to make these changes

1. Need UI in admin panel to update code list
2. Will need to migrate code list from file to DB
3. Might need to discuss the UI

This will take time

[2021-04-01 15:57] SamCCSI commented on #1317
OLC only

[2021-04-01 16:04] man-git007 commented on #1368
@charlesyoung Should we remove the **complete** status from the admin side completely. We still need some clarity on this ticket

cc @SamCCSI

[2021-04-02 04:28] man-git007 commented on #1366
@SamCCSI with signature year

[2021-04-06 07:51] charlesyoung commented on #1366
Below is the list of recent docs and it's not sorted by year.

![image](https://user-images.githubusercontent.com/13888372/113677053-6f95b680-96bd-11eb-9578-d67209c2528a.png)

[2021-04-06 07:52] charlesyoung commented on #1367
How much time?

[2021-04-06 09:32] charlesyoung commented on #1359
@man-git007 please include the time estimate.

[2021-04-06 09:34] charlesyoung commented on #1365
@SamCCSI do you also want this update for OLC?

@man-git007 please include the time estimate.

[2021-04-06 09:38] charlesyoung commented on #1317
@man-git007 please include the time estimate.

[2021-04-06 09:46] charlesyoung commented on #406
@man-git007 I will get more info to you on this ticket.

[2021-04-06 09:52] charlesyoung commented on #1366
@man-git007 please include the time estimate.

[2021-04-06 10:06] charlesyoung commented on #1368
@man-git007 please include the time estimate.

[2021-04-06 15:08] SamCCSI commented on #1365
Is this additional functionality or are you changing the existing functionality?

If it's additional (i.e. default is still OR, but users can use a typed word or symbol to use AND functionality), then no harm to add it to OLC.

Having it only for annotation dropdowns seems like NRGI has a very specific use in mind, rather than this being based on a broader user need. So I would want to see how it

[2021-04-07 04:28] man-git007 commented on #1359
@charlesyoung This might take 0.75 hrs

[2021-04-07 04:31] man-git007 commented on #1365
@charlesyoung If it's changing the default logic OR to AND for Clauses / Annotations only then the time estimate would be 5hrs.

[2021-04-07 04:33] man-git007 commented on #1317
@charlesyoung The time estimate would be 0.75hrs

[2021-04-07 04:35] man-git007 commented on #1366
@charlesyoung The time estimate for this ticket would be 4hrs

[2021-04-07 04:37] man-git007 commented on #1367
@charlesyoung The time estimate for this ticket would be 28hrs.

[2021-04-07 04:38] man-git007 commented on #1368
@charlesyoung The time estimate for this ticket might be 18hrs

[2021-04-07 04:51] man-git007 commented on #1369
@charlesyoung The time estimate for this task would be 0.75hrs

cc @sweta-shrestha @SamCCSI

[2021-04-07 07:33] charlesyoung commented on #1365
@SamCCSI do you want to include this option for other dropdowns?

[2021-04-07 13:38] SamCCSI commented on #1323
These three need a new submission to MTurk (they are some of the ones whose time to reject elapsed and bad transcriptions got accepted). We cannot resubmit, however, with our current system.
https://admin.resourcecontracts.org/contract/3817
https://admin.resourcecontracts.org/contract/3829
https://admin.resourcecontracts.org/contract/4118

Can YI please advise

[2021-04-07 13:39] SamCCSI opened #1370 "Failed PDF"
How do we resolve contracts like this, and what causes this to happen? Would help to have the error message actually describe what happened.

![image](https://user-images.githubusercontent.com/12913915/113875825-25780800-9785-11eb-8378-bfc42bb30609.png)

cc @charlesyoung

[2021-04-07 13:41] charlesyoung commented on #1370
@SamCCSI please attached the PDF doc.

[2021-04-07 13:48] SamCCSI commented on #1370
This was identified during a stock-take, so we don't even know what the doc
is or who uploaded it

[2021-04-07 13:51] charlesyoung commented on #1370
Could be a host of issues that can include the PDF being password protected, etc.

I found the doc, see below. Can you get me the PDF doc?

https://admin.resourcecontracts.org/contract/3877

[2021-04-07 14:01] SamCCSI commented on #1370
Thanks Charles. It looks like the uploader subsequently uploaded and
published this doc, so I will simply delete this entry. No further action
needed.

[2021-04-07 14:03] #1370 closed

[2021-04-07 14:05] SamCCSI opened #1371 "Backend drop down filters not working"
I know this has been raised before but couldn't find the ticket.

Country filter not working. I select Congo, yet get results from Egypt, Turkey, etc

![image](https://user-images.githubusercontent.com/12913915/113879710-cb794180-9788-11eb-9e50-6135295edca9.png)

[2021-04-07 14:11] charlesyoung commented on #1371
I do below search and it seems to work. I get a search result of 175 documents. How many docs show in your search result?

![image](https://user-images.githubusercontent.com/13888372/113880322-af42c800-97bb-11eb-8382-dd8c8ccf9b78.png)

[2021-04-07 14:22] SamCCSI commented on #1371
Still not working for me. It might be buggy when text search is also being
used -- e.g. i have "933" typed into text search, as well as using the
dropdowns
https://admin.resourcecontracts.org/contract?year=all&country=CG&category=olc&resource=all&q=933

[2021-04-07 15:20] charlesyoung commented on #1365
Thanks @man-git007

We would want users to have both options. So by default use the OR logic but allow the user to switch to AND.

How would you suggest we do that and how will that be designed?

cc @SamCCSI

[2021-04-08 07:33] charlesyoung commented on #406
@man-git007 how much time will it take to develop an automatic routine to remove below text (including the scroll arows on the right) for all docs that have not yet been annotated. 

![image](https://user-images.githubusercontent.com/13888372/113985640-ad751500-984c-11eb-87be-4d0ac5026262.png)

_Note that this only applies to RC and not OLC._

[2021-04-08 10:28] man-git007 commented on #1365
@charlesyoung We can have a checkbox `Apply AND Logic` just like the `Recently added`

cc @SamCCSI

[2021-04-08 10:29] man-git007 commented on #406
@charlesyoung Are you suggesting to update the text or removing the entire left side section

[2021-04-08 10:30] charlesyoung commented on #1365
Thanks. Can you show us a simple design on how it will be presented? We need to keep the design simple while also making it obvious to the user what they can select.

[2021-04-08 10:31] charlesyoung commented on #406
Just removing the text for non-annotated docs. So keep the panel but just remove the text and scrollbar.

[2021-04-08 14:46] charlesyoung commented on #406
Will it be possible to send through the time required by tomorrow?

[2021-04-09 04:00] man-git007 commented on #406
@charlesyoung The page would look like this
![Screenshot from 2021-04-09 09-43-53](https://user-images.githubusercontent.com/23434972/114126519-4cb30e80-9918-11eb-8119-d09ce087ec8f.png)

If this is the case, it would take about 1hr

cc @sweta-shrestha

[2021-04-09 04:09] man-git007 commented on #1365
@charlesyoung The filter would look like this
<img width="1440" alt="Screen Shot 2021-04-09 at 9 51 32 AM" src="https://user-images.githubusercontent.com/23434972/114127155-8d5f5780-9919-11eb-9998-50ee255ac391.png">

cc @sweta-shrestha @SamCCSI

[2021-04-09 05:51] charlesyoung commented on #406
Thanks @man-git007

So to confirm, it will take 1 hour to implement a routine that will remove all of the text in the left panel for **non-annotated** docs.

[2021-04-09 07:51] man-git007 commented on #406
@charlesyoung Yes, it's a tentative time estimate.

[2021-04-09 09:05] charlesyoung commented on #1365
Thanks @man-git007

Not sure that is going to work because we might want to apply the same logic to other search parameters and then it will get too messy. The wording will also need to be more clear because no one will know what OR or AND means.

How about these 2 options.

1. Add a Search Options link next to the Key Clause text? This takes you to an option to select AND / OR but with a better d

[2021-04-13 06:35] charlesyoung commented on #406
@man-git007 How much time will be required to add the below text to the left panel for all docs that haven't yet been annotated?

![image](https://user-images.githubusercontent.com/13888372/114507204-14bb0c80-9c33-11eb-96f8-b02c5426c416.png)

[2021-04-13 06:41] charlesyoung commented on #1359
@manishgs please work on this ticket. Thanks

[2021-04-13 06:44] charlesyoung commented on #1317
@man-git007 please work on this ticket. Thanks

[2021-04-13 06:45] charlesyoung commented on #1366
@man-git007 please work on this ticket. Thanks

[2021-04-13 06:45] charlesyoung commented on #1369
@man-git007 please work on this ticket. Thanks

[2021-04-13 06:57] charlesyoung opened #1372 "Annotation issue"
@man-git007 I'm getting an error from both the public and admin sites when clicking on the below documents annotations.

https://admin.resourcecontracts.org/contract/1215/annotate#/pdf/page/948/annotation/272

Also can you please update all contact info to resourcecontracts@resourcegovernance.org? Below is from the public and admin sites.

 Please contact info-resourcecontracts@resourcegovernance.

[2021-04-14 04:30] charlesyoung commented on #406
@man-git007 just checking if this will be possible.

[2021-04-14 19:54] jedm commented on #1307
Hi @manishgs. I hope all is going all right with you and the team.

I'm requesting two quick adjustments now that the Guides page and all the About, Glossary pages are complete in the English version:

1) Can YI please fix the line breaks in the [very last section](https://openlandcontracts.org/guides) on the Guides page? (Supplementary Materials). It is a tiny CSS change, I think.

2) Now that th

[2021-04-15 04:28] man-git007 commented on #1307
@jedm The changes would take not more than 0.5 hr.

cc @SamCCSI @sweta-shrestha

[2021-04-15 09:48] charlesyoung commented on #406
@man-git007 ??

[2021-04-15 10:00] man-git007 commented on #406
@charlesyoung Yes, it can be done. We would be needing the text in Eng, Fr, and Ar. Also, I see a  link in that text. Please provide us the link as well.

cc @sweta-shrestha

[2021-04-16 10:43] man-git007 commented on #1307
@jedm The changes have been implemented to the [live](https://openlandcontracts.org/) server. Please check once.

cc @SamCCSI @sweta-shrestha

[2021-04-16 11:41] jedm commented on #1307
Thanks, @man-git007. Changes confirmed. Please keep me and @SamCCSI advised if and when billing is prepared for the 0.5 hr.

[2021-04-19 04:28] man-git007 commented on #1307
Thanks, @jedm. Should we close this ticket now?

[2021-04-19 06:25] adhikari-anish commented on #1369
@SamCCSI The above issue has been fixed and deployed to the [staging site](https://staging.resourcecontracts.org/search/group?q=).
![image](https://user-images.githubusercontent.com/35035442/115190646-1475b200-a108-11eb-97c9-a738e8767bf2.png)
cc @man-git007 @sweta-shrestha

[2021-04-19 06:32] sriza commented on #1359
@charlesyoung
The changes for this issue have been deployed in the staging([RC](https://staging.resourcecontracts.org/search/group), [OLC](https://staging.openlandcontracts.org/search/group)) site. Please verify.

![image](https://user-images.githubusercontent.com/24825118/115190612-07f15980-a108-11eb-9858-3635843ce464.png)

![image](https://user-images.githubusercontent.com/24825118/115191287-f2c

[2021-04-19 07:31] jedm commented on #1307
Manish, or @samccsi what is the status of the French version of Guides page
and other static pages?

On Mon, Apr 19, 2021 at 12:28 AM Manish Pradhan ***@***.***>
wrote:

--
Jed Miller | @jedmiller <http://twitter.com/jedmiller>
m +1.917.584.2349 | s @jedbmiller
www.jedmiller.com

[2021-04-19 08:18] charlesyoung opened #1374 "Countries page URL"
@manishgs is it not possible for this link to work https://resourcecontracts.org/countries/sl compared to https://www.resourcecontracts.org/countries/sl

The Sierra Leone website http://www.nma.gov.sl/ has a RC link but it's the one without www so it doesn't work.

[2021-04-19 08:51] charlesyoung opened #1375 "DRC admin site"
@man-git007 any idea why I cannot log into the DRC admin country page. Is it because it's hosted on their server? How do we get it to work?

![image](https://user-images.githubusercontent.com/13888372/115208552-f9517500-a0fc-11eb-89c3-94d23fb74726.png)

My credentials work for the other country sites.

[2021-04-19 09:04] charlesyoung commented on #1359
Looks good thanks.

@SamCCSI please approve before we move it to the Prod site.

[2021-04-19 09:06] charlesyoung commented on #1369
Looks good thanks.

@SamCCSI please approve before we move it to the Prod site.

[2021-04-19 10:06] charlesyoung commented on #406
Minor update to the etxt. Only add 'This document has not yet been tagged'.

[2021-04-19 13:11] SamCCSI commented on #1307
Hi all, we are still in the process of obtaining the French translations.

I am eager to know if we will be able to easily insert those into the new
page formats, or if YI would need to do more work to enable that.

[2021-04-19 13:13] SamCCSI commented on #1359
approved

[2021-04-19 13:16] SamCCSI commented on #1369
Approved

[2021-04-20 05:03] sweetanzell commented on #1307
@SamCCSI It won't take much time to insert the french translations. However, it might also depend on the content.

[2021-04-20 06:38] sriza commented on #1359
@charlesyoung
The changes are now deployed on the production site.  Please verify and let us know if we can close this issue?

cc @man-git007

[2021-04-20 06:46] #1359 closed

[2021-04-20 06:46] charlesyoung commented on #1359
Thanks @sriza

[2021-04-20 06:56] adhikari-anish commented on #1369
@charlesyoung The changes have been deployed to the [production site](https://www.resourcecontracts.org/search/group?q=). If it's okay, we can close this issue.

cc @man-git007 @sweta-shrestha

[2021-04-20 07:08] charlesyoung commented on #1369
Might be a caching issue but I don't see the changes yet on the Prod site accessed via a mobile device. Will check later today again.

![image](https://user-images.githubusercontent.com/13888372/115352648-e6e84180-a1b7-11eb-9fe1-1c2fac762e00.png)

[2021-04-20 11:13] adhikari-anish commented on #1369
@charlesyoung I think it's because of the browser cache. Can you try it once again clearing the browser cache? I guess you are using Safari on IOS. You can clear a specific site's cache on Safari by following this [guide](https://apple.stackexchange.com/a/73697). Please, let me know if the issue still persists.

[2021-04-20 12:12] sriza commented on #1366
@charlesyoung
The changes for this issue have been deployed to [staging](https://staging.resourcecontracts.org/search/group?q=&country%5B%5D=AR) site. Please verify.

![image](https://user-images.githubusercontent.com/24825118/115393600-9c8bb280-a201-11eb-962a-ac434e368815.png)

cc @man-git007

[2021-04-20 12:15] #1369 closed

[2021-04-20 12:16] #1351 closed

[2021-04-20 12:16] #1354 closed

[2021-04-20 12:16] #1364 closed

[2021-04-20 12:16] #1363 closed

[2021-04-20 12:17] #1293 closed

[2021-04-20 12:17] #1303 closed

[2021-04-20 12:17] #1292 closed

[2021-04-20 12:17] #1176 closed

[2021-04-20 12:32] charlesyoung commented on #1366
Thanks @sriza. Please apply to the OLC and RC Prod sites.

[2021-04-20 12:35] #1372 closed

[2021-04-20 12:40] charlesyoung opened #1376 "Contact information"
@man-git007 please update all contact info to resourcecontracts@resourcegovernance.org.

I see there is an info-resourcecontracts@resourcegovernance.org email address used to notify users when the site crashes which is incorrect.

We are sorry. There is a problem loading the contract. Please contact info-resourcecontracts@resourcegovernance.org to let us know about the issue.

[2021-04-20 12:41] #1319 closed

[2021-04-20 12:44] charlesyoung commented on #114
@SamCCSI can I close this ticket? I cannot see us implementing this feature in the future.

[2021-04-20 12:46] #114 closed

[2021-04-20 16:04] adhikari-anish commented on #406
@charlesyoung The text has been updated to 'This document has not yet been tagged' in all 3 languages, the annotation title, and the scroll bar have been removed for RC site only.
![image](https://user-images.githubusercontent.com/35035442/115428232-e8e6ea80-a221-11eb-9c9e-4ff4e7a2af13.png)
cc @man-git007 @sweta-shrestha

[2021-04-21 03:48] man-git007 commented on #1365
@charlesyoung Has the UI for this ticket finalized?

[2021-04-21 05:36] sriza commented on #1366
@charlesyoung
The changes are now deployed to both RC and OLC production sites. Please verify the changes.

cc @man-git007

[2021-04-21 07:31] charlesyoung commented on #1366
Thanks @sriza

[2021-04-21 07:31] #1366 closed

[2021-04-21 07:46] charlesyoung commented on #1365
@man-git007 please see attached design. Some points to note.

- By default, the OR search should be used
- Add an 'OR | AND' button next to the 'Key Clauses' (RC) and 'Annotation Category' (OLC) text
- Users can select OR as well as AND searches by click on the relevant search link
- Display a popup box when hovering over the button item that notes help text presented in the proposed design
- For

[2021-04-21 08:00] charlesyoung commented on #406
Thanks @adhikari-anish, looks good.

I'm hoping to get the translations to you as soon as possible so that this can be deployed on the Prod site.

[2021-04-21 08:35] charlesyoung commented on #1305
@man-git007 I'm busy applying the Research and Analysis page translations. Some questions.

- How do I translate the Publications heading?
- As you can see from below image the dates (French as an example) do not change when another language is selected.

![image](https://user-images.githubusercontent.com/13888372/115523197-1e74ed80-a28d-11eb-960c-712d2ec818d8.png)

[2021-04-21 10:40] charlesyoung commented on #1374
@man-git007 can you look at this, please.

I was just contacted by the Equatorial Guinea EITI office saying that the RC link that used to work on their site is now broken. This urgently needs to be addressed.

https://eiti-ge.org/datos-estadisticos/

The link, like for Sierra Leone, is without the www (https://resourcecontracts.org/search?q=Guinea+equatorial). It used to work when I checked last y

[2021-04-22 04:13] man-git007 commented on #1305
@charlesyoung The French and Arabic translations can be added from the edit [page](https://staging.resourcecontracts.org/admin/research-and-analysis/10/edit).

![Screenshot from 2021-04-22 09-56-58](https://user-images.githubusercontent.com/23434972/115654623-37df6d80-a351-11eb-8b58-95e55643ff07.png)

![Screenshot from 2021-04-22 09-57-11](https://user-images.githubusercontent.com/23434972/1156546

[2021-04-22 05:57] man-git007 commented on #1376
@charlesyoung Is this for RC or OLC as well?

[2021-04-22 06:02] man-git007 commented on #1374
@charlesyoung The link seems to be working even without `www`.

![Screenshot from 2021-04-22 11-46-56](https://user-images.githubusercontent.com/23434972/115663589-792b4980-a360-11eb-8792-c8baf675e8f8.png)
![Screenshot from 2021-04-22 11-46-38](https://user-images.githubusercontent.com/23434972/115663611-80eaee00-a360-11eb-8f0e-881dbb4315c6.png)

[2021-04-22 06:54] charlesyoung commented on #1305
@man-git007 I understand that is where the title can be translated but where are the date and 'Publication' title text translated.

[2021-04-22 07:02] charlesyoung commented on #1376
This is only for RC.

[2021-04-22 08:18] charlesyoung commented on #1374
Thanks, seemed to be an issue with my hosts site entries.

[2021-04-22 08:18] #1374 closed

[2021-04-22 08:34] man-git007 commented on #1305
@charlesyoung The Publication and date cannot be changed from the admin panel. We need to translate the 'Publication' title from code and regarding the date translation that needs to change from the code also and will take some time

[2021-04-22 08:40] charlesyoung commented on #1305
@man-git007 YI seriously needs to factor these things into the design and development process. It's ridiculous and not sustainable that we need to ask YI to update text from code.

[2021-04-22 09:45] man-git007 commented on #1305
@charlesyoung Sorry for the inconvenience, the publication title, and dates that you have mentioned are normally controlled and translated from the codebase. Such texts are also on the homepage and are being maintained from the code. We both have missed out on the text and date translation during the design, development, and testing phase. The French translation of the `Publication` will be `Les p

[2021-04-22 09:49] charlesyoung commented on #1305
We need to be designing elements of RC /OLC with sustainability in mind so that we dont have to update the code for minor changes.

How much time will it take?

[2021-04-22 09:54] man-git007 commented on #1305
@charlesyoung About 0.5 hr

[2021-04-22 09:56] charlesyoung commented on #1305
OK thanks.

[2021-04-22 10:54] charlesyoung commented on #1375
Cloudelligent will investigate.

[2021-04-22 11:02] man-git007 commented on #1305
@charlesyoung Could you please check the [staging](https://staging.resourcecontracts.org/research-and-analysis) site?

[2021-04-22 11:23] charlesyoung commented on #1305
Looks good. I'm busy getting all the translations.

[2021-04-22 12:28] man-git007 commented on #1305
@charlesyoung Shall I deploy to the live server?

[2021-04-22 13:32] charlesyoung commented on #1305
Let me first get you the translations i.e 'Publications' in Arabic, etc.

[2021-04-26 08:51] man-git007 commented on #1365
@charlesyoung OK we will work on it.

[2021-04-26 15:22] SamCCSI opened #1377 "Sorting search results by year or resource leads to 404 error"
https://www.openlandcontracts.org/search/group?q=&country%5B0%5D=LR&document_type%5B0%5D=Contract&page=2&order=asc&sortby=year

https://www.openlandcontracts.org/search/group?q=&country%5B0%5D=LR&document_type%5B0%5D=Contract&page=2&order=asc&sortby=resource

![image](https://user-images.githubusercontent.com/12913915/116108192-ae49db80-a681-11eb-92c7-bbd81be8e712.png)

[2021-04-29 08:19] charlesyoung commented on #1317
@man-git007 just checking how far you are with this issue? Thanks

[2021-04-29 08:19] charlesyoung commented on #1365
@man-git007 just checking how far you are with this issue? Thanks

[2021-04-29 09:50] man-git007 commented on #1317
@charlesyoung This issue seems to be already resolved on the [live](https://www.openlandcontracts.org/contact?lang=fr) site.

[2021-04-29 09:51] man-git007 commented on #1365
@charlesyoung We are working on this and will inform you as soon we deploy to the staging site.

[2021-04-29 09:51] man-git007 commented on #1305
@charlesyoung Can we deploy this on the live site?

[2021-04-29 10:11] charlesyoung commented on #1317
@SamCCSI can we close this ticket?

[2021-04-29 10:24] charlesyoung commented on #1305
Thanks @man-git007

Please see below Google Sheet link noting the French and Arabic translations for 'Publications'.

https://docs.google.com/spreadsheets/d/1kQg8wJcW1nP6EywMs35PGco9-i0C7xiYlhIZ2ygdZis/edit#gid=0

[2021-04-29 12:51] charlesyoung commented on #1365
@man-git007 I'm busy updating the Google 2021 support sheet.

Is this task still estimated at 5hrs?

[2021-04-29 12:52] #1317 closed

[2021-04-30 04:44] man-git007 commented on #1376
@charlesyoung The email is maintained in the environment variable `CONTACT_MAIL`. So need to contact with `cloudelligent` team.

[2021-04-30 04:50] man-git007 commented on #1305
@charlesyoung The changes have been implemented in the [live](https://resourcecontracts.org/research-and-analysis?lang=ar) site.

[2021-04-30 07:52] adhikari-anish commented on #406
@charlesyoung The translations have been done and are deployed in staging. According to the translation given, "**The document has not yet been tagged.**" translates to "**This document has not been flagged.**" in Arabic. Please verify once.
cc @man-git007

[2021-04-30 08:08] charlesyoung commented on #406
Thanks @adhikari-anish

Just confirming that you took the text from below Google sheet.

https://docs.google.com/spreadsheets/d/1kQg8wJcW1nP6EywMs35PGco9-i0C7xiYlhIZ2ygdZis/edit#gid=0

[2021-04-30 08:13] charlesyoung commented on #1376
Thanks but why if it's maintained in CONTACT_MAIL are there different email addresses?

[2021-04-30 08:16] charlesyoung commented on #1305
Thanks

[2021-04-30 08:16] #1305 closed

[2021-04-30 08:24] adhikari-anish commented on #406
@charlesyoung Yes, I took the text from that spreadsheet for French and Arabian. Also, for English, should I put "This document has not yet been tagged." from the above comment picture or "This document has not been tagged." from the google sheet.

[2021-04-30 08:28] charlesyoung commented on #406
Thanks @adhikari-anish

Sorry, I think we did a change to the English text so please use 'This document has not been tagged.'

You can do the updates on the Prod site.

[2021-04-30 08:45] man-git007 commented on #1376
@charlesyoung Since it's been used across the RC, OLC, and CountrySite. So, if the email changes in the future it won't affect the other sites.

[2021-04-30 12:09] adhikari-anish commented on #406
@charlesyoung The changes are pushed to the production sites [RC](https://www.resourcecontracts.org/contract/ocds-591adf-2716478550/view#/pdf), [OLC](https://openlandcontracts.org/contract/ocds-591adf-1281238394/view#/pdf). Please verify and close the issue if it's okay.
cc @man-git007 @sweta-shrestha

[2021-04-30 12:15] charlesyoung commented on #406
Thanks. Please however note that its only for RC and not OLC.

[2021-04-30 14:26] adhikari-anish commented on #1365
@charlesyoung The UI and logic for AND, OR search for Clauses / Annotations have been deployed to staging sites. Please have a look.

[RC-EN](https://staging.resourcecontracts.org/search/group)
![image](https://user-images.githubusercontent.com/35035442/116707382-55b26f80-a9ee-11eb-9227-c47268118761.png)

[RC-FR](https://staging.resourcecontracts.org/search/group?lang=fr)
![image](https://user-ima

[2021-04-30 14:36] SamCCSI commented on #1365
Could the grey window appear to the right of the annotation field, rather
than to the left?

Could the coloring be way less pronounced?
- Change grey to white background (for And/Or and for text)
- change the orange/green component to light grey

[2021-04-30 14:49] SamCCSI commented on #1307
Thank you, we will keep you posted.

On Tue, Apr 20, 2021 at 1:03 AM sweta shrestha ***@***.***>
wrote:

[2021-05-03 08:06] charlesyoung commented on #1365
Thanks @adhikari-anish

I will get internal feedback for RC and get back to you ASAP.

There are 2 minor updates, please.
- Change the orange 'slider' so that it is in line with the grey box. It seems as if the top orange border is not in line with the box while the bottom one is.
- Center the OR and AND text

[2021-05-04 06:59] charlesyoung commented on #1365
@adhikari-anish internal comments below. Disregard my feedback above.

- Use rounded edges like the other boxes in the advanced search area
- AND I OR should both be visible and separated by a vertical bar
- Half of the box with the selected search option should be slightly shaded (like the search box on the home page)

This only applies to RC.

cc @SamCCSI

[2021-05-04 10:47] adhikari-anish commented on #1365
@SamCCSI Are you suggesting like this?
![image](https://user-images.githubusercontent.com/35035442/116992664-1f2e6a80-acf6-11eb-93d1-7df27366a32f.png)

[2021-05-04 14:52] charlesyoung commented on #1365
@adhikari-anish let's try to keep the OLC and RC designs the same.

Can you take below into account for the design?
- Use rounded edges like the other boxes in the advanced search area
- AND I OR should both be visible and separated by a vertical bar
- Half of the box with the selected search option should be slightly shaded (like the search box on the home page) thereby indicating see which one h

[2021-05-05 03:35] adhikari-anish commented on #1365
@charlesyoung Sure. I'll let you know once it is done.

[2021-05-05 07:28] charlesyoung commented on #406
For RC please update the Prod site to what is shown on the Staging site i.e. 0 KEY CLAUSES should be removed.

[2021-05-06 05:34] adhikari-anish commented on #1365
@charlesyoung Do you mean like this?

![image](https://user-images.githubusercontent.com/35035442/117246718-d47b3280-ae5c-11eb-90e1-738c4e2bb633.png)

[2021-05-06 07:16] charlesyoung commented on #1365
Thanks, will check internally and get back to you.

[2021-05-07 15:19] SamCCSI commented on #1307
Hi @sweetanzell we have some French text!

1. Can you please input the French text for the following two pages?
- [About](https://github.com/NRGI/resourcecontracts.org/files/6442626/OLC.About.FRE.docx)
- [Country sites](https://github.com/NRGI/resourcecontracts.org/files/6442635/OLC.Country.sites.FRE.docx)

2. Can you please change the About page's french title from "À PROPOS DE" to just "À PROPOS

[2021-05-10 06:16] adhikari-anish commented on #1365
@charlesyoung  According to the feedback, the AND/OR and help tooltip UI hasve been done like this. Please have a look and provide feedback if there is any. Thank you.

![image](https://user-images.githubusercontent.com/35035442/117613171-2d610880-b186-11eb-96f1-325d2afafe57.png)
![image](https://user-images.githubusercontent.com/35035442/117613241-4bc70400-b186-11eb-9e82-9581be49ff15.png)
![image