[2018-10-09 05:57] charlesyoung commented on #1137
@adinuca is there any chance that we can rather do the migration on Friday morning?

[2018-10-09 06:16] adinuca commented on #1137
Friday morning is fine as well. Can I start at 8am your time?

[2018-10-10 08:12] charlesyoung commented on #1097
@adinuca received over 100 error emails today. Can you please try investigate if you have time? Is this the same as #1106?

[2018-10-10 08:18] adinuca commented on #1097
Hi @charlesyoung . I only received one email today from `nrgi@yipl.com.np` and this is related to the issue described in #1106.

Could you please forward one of the emails you received to make sure it is the same thing?

[2018-10-10 09:04] adinuca commented on #1129
This has been done on Staging.

[2018-10-10 09:04] #1129 closed

[2018-10-10 09:06] adinuca commented on #1121
This has been done.

[2018-10-10 09:06] #1121 closed

[2018-10-11 07:40] adinuca opened #1144 "Create diagram of how RC stack looks like"
## Why
- Some governments prefer hosting the application on their servers but this means they will not get any updates.
- We want to see which governments are hosting only the front-end on their servers and using the backend from NRGI infrastructure

## What
- [x] diagram for RC stack is created and shared with Charles
## Notes

[2018-10-11 07:43] adinuca commented on #1144
[RC diagram (2).pdf](https://github.com/NRGI/resourcecontracts.org/files/2467823/RC.diagram.2.pdf)

Diagram was created using the data that we have from AWS and Papertrail.

Diagram has been shared with Charles.

[2018-10-11 07:43] #1144 closed

[2018-10-12 01:52] adinuca commented on #1134
This has been done in Staging. It will be updated in production as part of #1137

[2018-10-12 01:52] #1134 closed

[2018-10-12 07:23] adinuca opened #1145 "Investigate error from logs"
## Why
An error occurred in the logs while testing the Elasticsearch migration

## What
- [x] An investigation is made to see if it is related to the migration
- [x] A fix is applied

## Notes
Logs:
[code]

[2018-10-12 07:37] adinuca commented on #1137
All has been done. RC-API and RC-INDEX are now using Elasticsearch 5 in production.

[2018-10-12 07:37] #1137 closed

[2018-10-15 03:33] adinuca commented on #1145
A few new errors appeared during the weekend:
- from the Compose logs: `Deprecated field [exclude] used, expected [excludes] instead`
- from Papertrail:
[code]
caused by the following request: `/contracts?country_code=&year&resource=&per_page=25&from=25&sort_by=resource&order=asc%27&all=0&download=&category=olc`

[2018-10-18 11:31] adinuca commented on #1132
Data for staging has been moved to elastic.co but this has caused changing in the structure.
The string fields have been converted to text fields or keyword fields according to : https://www.elastic.co/blog/strings-are-dead-long-live-strings

The following error has appeared prior to the migration from Compose to elastic.io :
[code]

There probably are additional ones that we will find during test

[2018-10-22 13:07] candrei commented on #1132
@adinuca as agreed in our chat there's a significant amount of effort (ie: code analysis) involved to determine whether `keyword` or `text` field is appropriate for each field. Clearly the ES automated mapping didn't do a proper job.
I propose we preserve the `string` use for now and create a task for YI to migrate the code base to the `keyword`/`text` use as part of their next contract.
For now I

[2018-10-22 15:40] adinuca commented on #1132
Unfortunately we cannot create new mapping with type String in ES 5: https://www.elastic.co/guide/en/elasticsearch/reference/5.5/string.html

[2018-10-23 04:46] adinuca opened #1146 "Investigate RC-API parse exception"
## Why
There is a parse exception that keeps appearing in the logs. We do not know if it is causing issues on the front end.

## What
- [ ] Source of the request that generates the error is identified
- [ ] An issue is raised to prevent the error from happening

## Notes
Request made to RC API:
[code]

Error caused by the request:
[code]

[2018-10-23 05:35] adinuca commented on #1145
The above errors have been fixed and deployed.

[2018-10-23 05:35] #1145 closed

[2018-10-23 17:05] adinuca commented on #1132
It seems to work by changing the index manually for the following fields:
[code]

Will have to test it properly in staging.

[2018-10-25 06:17] adinuca commented on #1132
I've managed to get everything working, except the query to retrieve details about the contract which is used to  retrieve the PDF/text form for preview.

[2018-10-25 15:57] adinuca commented on #1132
[code]

[2018-10-25 16:05] adinuca commented on #1132
[code]
[code]

[2018-10-25 16:19] candrei commented on #1132
@adinuca the definition of the field has changed a bit in ES 5. In order to access the actual value (not full text indexed version of the field) you'd have to issue a query like:
[code]

[2018-10-26 10:40] adinuca commented on #1132
Hi @charlesyoung ,

Staging environment is using Elasticsearch from Elastic, not Compose. I think we solved all the problems, but it would be good if you could take a look and let me know if there is anything else that still doesn't work.

Thank you!

[2018-11-02 06:00] adinuca commented on #1132
This has been done. The code will be merged to Production in #1138 .

[2018-11-02 06:00] #1132 closed

[2018-11-05 05:45] adinuca commented on #1138
- [ ] Set up the Elasticsearch deployment in Elastic.co
   - Elasticsearch 5.6.12
   - AWS US East
   - I/O optimized
   - 2 zones
   - 4 GB
- [ ] Create all existing indexes and analyzers that exist in Compose in Elastic ( with the changes to work with version 5 of Elasticsearch)
- [ ] copy data for all unused indexes from Compose to Elastic
[code]
- [ ] rc-admin is taken down
- [ ] copy data for

[2018-11-05 06:14] adinuca commented on #1138
Hi @charlesyoung ,

Would Wednesday(7th of Nov), between 8 and 12 am be fine for moving the data for production, from Compose to Elastic?
There will be a few things that will happen in the background, I would only need your help for testing, like last time, so probably around 10am-11am.

[2018-11-05 07:17] anjesh commented on #1139
Here are you saying that we show all the contracts except hydrocarbons in https://guinea.resourcecontracts.org/resources?

[2018-11-05 07:17] anjesh commented on #1114
could you please list all the additional data that you would like to include in the template?

[2018-11-05 08:48] adinuca commented on #1130
This is not urgent and it won't be done this year.

[2018-11-05 08:48] #1130 closed

[2018-11-05 08:49] adinuca commented on #1119
Hi @charlesyoung, what is the status on this?

[2018-11-06 08:30] anjesh commented on #1108
I tried in staging and this seems to be working. Am i missing something here? @charlesyoung

https://staging.resourcecontracts.org/contract/ocds-591adf-1806714229

![image](https://user-images.githubusercontent.com/120488/48051846-5a578d80-e1ce-11e8-8e8d-85aeae4f5553.png)

[2018-11-06 11:00] charlesyoung commented on #1108
@anjesh the issue isn't related to capturing license identifiers with a backslash, dash, etc in the admin tool but rather the use of license identifiers with a slash, etc through the API.

[2018-11-07 11:33] adinuca commented on #1138
Index used for production:
[rc_live_6.txt](https://github.com/NRGI/resourcecontracts.org/files/2557178/rc_live_6.txt)

[2018-11-08 12:16] adinuca opened #1147 "Remove Compose deployment"
## Why
Resourcecontracts.org is now using the Elasticsearch deployment from Elastic.co

## What
- [x] `resource-contracts-production` deployment is removed from Compose

## Notes

[2018-11-08 12:17] adinuca commented on #1125
This has been done.

[2018-11-08 12:17] #1125 closed

[2018-11-08 12:17] #1138 closed

[2018-11-09 11:00] adinuca opened #1148 "Disable DEBUG and INFO logs for Elasticsearch"
## Why
Requests to Elasticsearch generate too many logs.

## What
- [x] Elasticsearch logs are set to log with WARN level

## Notes

[2018-11-09 13:12] adinuca opened #1149 "Fix "Trying to get property of non-object" error from the logs"
## Why
The error keeps appearing in the logs and might hide an issue that is seen by the users.

## What
- [ ] "Trying to get property of non-object" error is investigated
- [ ] A fix is implemented for the issue

## Notes
[code]

[2018-11-09 13:17] adinuca commented on #1149
A more complete set of logs:
[code]

[2018-11-09 14:33] adinuca commented on #1148
This has been done in [#27](https://github.com/younginnovations/resourcecontracts-api/pull/27).

[2018-11-09 14:33] #1148 closed

[2018-11-12 04:28] adinuca opened #1150 "Investigate RC outage from 10th of Nov to 12th of Nov"
## Why
RC has been down a few times during the weekend, each downtime lasting for about 2-3 minutes.

## What
- [x] Cause of the downtimes is investigated
- [x] Further issues for preventing this from happening are raised
## Notes

[2018-11-12 04:53] adinuca commented on #1150
RC-subsite has logged the following warning more often than usual:
[code]

[2018-11-12 05:42] adinuca opened #1151 "Increase Hard Limit for RC API"
## Why
RC API containers were killed a few times during the weekend(9-11 Nov) due to Out of Memory exceptions.

## What
- [x] Hard memory limit is increased to 1GB

## Notes
This is a follow up issue from #1150

[2018-11-12 05:48] adinuca opened #1152 "Fix PM warnings"
## Why
In the logs of rc-subsite there are many warnings related to PM processes, especially when the website is scanned by bots.

## What
- [ ] The reason for the warnings is investigated
- [ ] A fix for the warnings is implemented

## Notes

[2018-11-12 05:52] adinuca commented on #1150
RC-API has been killed a few times due to Out Of Memory.

[2018-11-12 05:57] adinuca commented on #1150
RC has been aggressively scanned by bots in the last few days, this triggered lots of concurrent connections which rc-subsite and rc-api could not handle, causing the site to respond slowly or at all.
#1152 Was raised for investigating and finding a fix for how RC Subsite deals with concurrent connections.
#1151 Has been raised to increase the amount of memory used by RC API.

[2018-11-12 05:57] #1150 closed

[2018-11-12 07:29] adinuca commented on #1149
When the API returns an error, RC subsites treat it as a good response and tries to parse the answer. It also caches the response for 5 mins => all requests for the same page in the next 5 minutes will show an error/will log an error.

[2018-11-12 08:31] adinuca commented on #1151
Also consider auto scaling.

[2018-11-12 12:09] adinuca opened #1153 "Investigate if auto-scaling should be configured for rc-api"
## Why
RC-API needs to handle a big number of requests when resourcecontracts.org is being scanned by bots.

## What
- [ ] Investigation is done on the need of auto scaling for RC-API
- [ ] Further issues are raised if it is needed.

## Notes
The amount of memory that RC-API can use has been increased(#1151). If bots scanning the site will still produce downtime, we should consider scaling RC-API

[2018-11-12 12:10] adinuca commented on #1151
#1153 Has been raised to investigate the need for auto scaling.

[2018-11-12 12:10] #1151 closed

[2018-11-12 12:12] adinuca commented on #1149
This has not been fixed but additional logging has been put in place. I will monitor the occurrence of the error this week and will add a fix next week if it will be needed .

[2018-11-12 13:32] adinuca commented on #1147
All data from Compose has been backed up in S3 in `rc-elasticsearch-indexes` bucket.

Deployment has been removed from Compose.

[2018-11-12 13:32] #1147 closed

[2018-11-13 09:17] adinuca commented on #1152
When the application receives lots of requests in a short amount of time, it cannot handle all of them.
Because the application can use more resources than it is currently using, the amount of processes that can be created to handle the requests can be increased.

[2018-11-13 11:54] adinuca commented on #1152
Ran a performance test on staging( configured as production - 2 containers, same memory and CPU) and the server was able to answer 9000 requests in 9 minutes without the containers being restarted because of not responding. Also none of the requests returned an error.

The warnings might still appear when the site will be under heavy load, but it should decrease the chances of resourcecontracts.or

[2018-11-13 12:02] adinuca commented on #1152
Will monitor this for the following days to see how production behaves.

[2018-11-14 06:46] adinuca commented on #1152
Resource contracts subsite handled the load a lot better, but the API didn't. Increased the number of instances for the API to 2 .

[2018-11-15 04:58] adinuca commented on #1152
A second instance of RC API helped, one instance went down but the other one was still alive, keeping RC Subsites up as well.

[2018-11-16 00:07] SamCCSI opened #1154 "OLC down"
OLC has been down on several occasions. @anjesh can your team please look into what might be causing this? Some of these outages have been fairly long. Not sure if RC has also been dropping cc @charlesyoung @anderspeders @jedm @KaitlinCCSI

Pingdom DOWN alert:
NRGI - Production - RC Subsite OpenLandContracts (www.openlandcontracts.org) is down since 16/11/2018  00:43:07.
Reason: Could not find red

[2018-11-16 01:16] candrei commented on #1154
@SamCCSI the site should be back up.
@anjesh looks like ElasticSearch was unable to deal with the amount of queries/load. Any insight into whether there are recent changes that might trigger more queries per page load?

[2018-11-16 05:28] anjesh commented on #1154
No, we haven't done any changes to the code, i can only think of ES upgrade by Vitamin. Has that been done in production? @adinuca @charlesyoung

[2018-11-16 06:18] adinuca commented on #1154
Hi @anjesh , the migration has been done in Production.
There were several factors that lead to this:
- Resource Contracts ( main site, OLC site, country sites) were crawled by bots
- for some of the pages crawled by the bots, there were even 20 requests done to the API ( so traffic for the API was multiplied by 20)
- and the API, for one request does several other requests to Elasticsearch, which

[2018-11-16 06:56] adinuca commented on #1154
Catalin took the IP from which the bots issue requests and blocked them. The IP used by the bots might change in the future.

[2018-11-16 07:00] charlesyoung commented on #1154
Yep bot IP's change dynamically. Do we not have a more automatic way of detecting and blocking bots?

[2018-11-16 07:02] adinuca commented on #1154
Not at the moment.

[2018-11-16 13:54] SamCCSI opened #1156 "OLC/admin password reset"
Hello, a couple of us are struggling to log into openlandcontracts.org/admin - is there a way to reset passwords for myself and Jesse? cc @adinuca @anjesh

[2018-11-16 13:56] charlesyoung commented on #1156
@SamCCSI I can help reset passwords. Pls send me a Skype with the user name and new password.

[2018-11-19 08:30] adinuca opened #1157 "Gather information about the requests to and from RC API"
## Why
To be able to reduce the load of Elasticsearch we need to understand what are the most frequent requests to RC API and Elasticsearch.

## What
- [ ] Data about requests made to RC-API and Elasticsearch is gathered

## Notes
Ideas on how to do this:
- New Relic
- Enable debug logs for RC API in staging

[2018-11-21 20:15] SamCCSI commented on #1156
@adinuca @anjesh Charles doesn't have ability to reset password for openlandcontracts.org/admin -- can you please help?

[2018-11-23 10:59] adinuca commented on #1156
Hi @SamCCSI , I do not have an account at all for openladcontracts.org/admin.

I will be on vacation for the following week, so if @anjesh  cannot help you, please ask @candrei to take a look.

[2018-11-26 05:55] anjesh commented on #1156
Looks like something is not right, need to do some debugging. I see that https://resourcecontracts.org/login is also not working with the correct credentials but working fine with https://staging.resourcecontracts.org/login. i pushed the master changes to staging as these two are in different commits however it worked in staging. So i wonder if this is the server issue, still difficult to point no

[2018-11-26 06:59] charlesyoung commented on #1156
@anjesh can this possibly relate to the Compose to Elastic migration?

[2018-11-26 07:18] anjesh commented on #1156
I don't think elastic migration is the issue here as the authentication is taking place over the API in admin.resourcecontracts.org on the database directly. I hope we might get some ideas from the log.

[2018-11-27 15:42] candrei commented on #1156
@anjesh sorry for the delay. Here are the logs from [Papertrail](https://papertrailapp.com/searches/52703132) for the past few days:
[ResourceContracts - PROD nginx error php fpm and storage logs.txt](https://github.com/NRGI/resourcecontracts.org/files/2620692/ResourceContracts.-.PROD.nginx.error.php.fpm.and.storage.logs.txt)

[2018-11-30 17:07] anderspeders opened #1158 "Scope cost of generating hard coded links from front page map and country pages"
## Why
For 20-30 countries we will not be collecting contracts but would instead like to provide a URL link to a designated country repository.

![image](https://user-images.githubusercontent.com/1101585/49303545-ef7d3780-f497-11e8-8898-92600aff5ec4.png)

As data input we would provide a spreadsheet with 20-30 countries with a corresponding URL link.

## What

Will it be possible to provide a cost

[2018-11-30 19:55] anderspeders opened #1159 "Add circulation on front page"
## Why

Explore the optin of adding a circulation or "wheel" to the front page for example by adding “Explore Company Contracts” to the current option: “Explore Contract Terms”.

![image](https://user-images.githubusercontent.com/1101585/49311664-bea8fc80-f4af-11e8-9955-63225b80cd16.png)

## What

## Notes

[2018-12-06 11:27] anjesh opened #1160 "Remove the required annotation summary"
## Why

Annotation is to be used as tagging. Now text is required to add annotation as shown below.

![image](https://user-images.githubusercontent.com/120488/49581366-c9fd9b80-f979-11e8-86e8-b460a8a32f5a.png)

## What

- [ ] Remove the annotation summary required option to allow for tagging

## Notes

[2018-12-07 07:55] anjesh commented on #1108
Is it problem visible somewhere? Please give some examples of where you have seen in this problem
 - API or the map-app you were showing last time?

[2018-12-07 07:59] anjesh commented on #1114
@charlesyoung Can you list the fields you want to be included in the template? [Current CSV Template](https://github.com/NRGI/resourcecontracts.org/files/2656390/rc-template-sample.xlsx) includes the following field. Ideally if you could upload an updated template with the field-names, that would be great.

Fields
--
Category
Contract Name
Contract Identifier
Language
Country Code
Resource
Contrac

[2018-12-07 08:00] anjesh commented on #1160
@charlesyoung please confirm the above task - we need to make that annotation-text field optional.

[2018-12-07 09:41] charlesyoung commented on #1160
That’s correct @anjesh. Can you please remove the required annotation summary option on the staging site.

[2018-12-07 09:45] charlesyoung commented on #1114
@anjesh please take a look at below updated template link.

https://docs.google.com/spreadsheets/d/1QYgVzAqxyqZX8WCIcSp48iPoh2oRK6vA1jDK3ude_20/edit#gid=526935487

Questions / Comments:
1. Yellow columns are to be added
2. Can we use dropdown lists?
3. Include required fields (marked in red)
4. Auto generate the contract name
5. Contract identifier?
6. Use commas rather than double pipes for multi

[2018-12-07 09:56] #1084 closed

[2018-12-07 10:01] charlesyoung commented on #1108
@anjesh this was our last email correspondence. I will create a staging mapping site for testing.

'We are using Elasticsearch in the backend for the API. It looks like / in the text "SML 44/99" seems to be the issue here. Thanks for noticing. This would require changes in the codebase and probably proper testing if this is going to work or not as per https://stackoverflow.com/questions/31963643/e

[2018-12-07 12:42] charlesyoung commented on #1131
@adinuca can we close this ticket?

[2018-12-07 12:43] charlesyoung commented on #1124
@adinuca can we close this ticket?

[2018-12-07 12:44] charlesyoung commented on #1153
@adinuca what is the status of this ticket?

[2018-12-07 12:45] charlesyoung commented on #1149
@adinuca what is the status of this ticket?

[2018-12-07 12:48] adinuca commented on #1131
We can close it for now, we will open another ticket once Elastic 5.6 reaches End of life.

[2018-12-07 12:48] #1131 closed

[2018-12-07 12:50] adinuca commented on #1124
Hi @charlesyoung , this will not be done this year, but we will still have to handle it at some point. I would leave it open.

[2018-12-07 12:52] adinuca commented on #1153
Hi @charlesyoung, I will close this ticket for now because we need to work on optimising the number of requests sent to Elasticsearch(#1155).

[2018-12-07 12:52] #1153 closed

[2018-12-12 18:59] SamCCSI commented on #1156
@charlesyoung @anjesh any updates on this? We hope to make textual changes to the site soon.

Many thanks!

[2018-12-13 05:57] adinuca commented on #1156
@anjesh  please let us know if you need any assistance from Vitamin.

[2018-12-13 09:44] adinuca commented on #1157
More monitoring from Elastic Cloud can be found here : https://3b83e4a3efda4f5e8c2f8f2ec07c0fc2.us-east-1.aws.found.io:9243/app/monitoring#/elasticsearch/nodes

[2018-12-13 10:05] charlesyoung commented on #1156
@SamCCSI we are looking into the issue. It works on the staging site which is confusing. Will revert ASAP when we have more info.

cc @anjesh

[2018-12-13 10:17] charlesyoung commented on #1099
@anjesh as discussed, below are the details of the Tanzania staging country site.

URL: https://staging.tanzania.resourcecontracts.org/
User name: admin@nrgi.com
Password: password

[2018-12-13 10:22] charlesyoung commented on #1160
@anjesh can you also please remove English being mandatory when capturing annotations. A user should be able to select French without first doing it in English.

![image](https://user-images.githubusercontent.com/13888372/49932324-67545480-fed1-11e8-8a8c-efe5e977e476.png)

[2018-12-13 11:01] charlesyoung commented on #1114
Call notes:

1. Change the template from CSV to XLS
2. Run validations, before the import, to confirm that all the required fields have been populated. Also apply validations to drop down lists like Language, Country Code, Resource, Contract Type and Document Type.
3. Format date fields

cc @anjesh

[2018-12-13 12:07] charlesyoung commented on #1108
@anjesh hold this ticket for now because it seems to work.

Go to http://portals.flexicadastre.com/MalawiStaging
Click continue
Search for SML 44/99 (top right)
Click on the search results link
You will see a popup box with license details and a RC link
Click on the link
There will be a hyperlink displayed on the right, click on the link
The doc will open in RC

[2018-12-13 12:30] adinuca commented on #1157
Today from 1am to 2am (GMT) there was a spike of requests to Elasticsearch(table shows hours using GMT+2 timezone):
<img width="610" alt="screenshot 2018-12-13 at 14 27 50" src="https://user-images.githubusercontent.com/3942821/49938737-73e1a880-fee3-11e8-8e51-251f5da3fad5.png">

Requests from AWS for that time frame have been centralised here: https://docs.google.com/spreadsheets/d/1mhHmy6n9m3PMY

[2018-12-14 07:08] charlesyoung opened #1163 "Text searching"
- [x] text searching in [contract view page](https://resourcecontracts.org/contract/ocds-591adf-3433899670/view#/search/Province) is working

Now you will see that province is present in the text and yet it's not found during search.

![image](https://user-images.githubusercontent.com/120488/68449903-18ae5800-0211-11ea-8d55-833ead41d027.png)

---

Text searching on contracts doesn't work.
Examples

[2018-12-14 07:55] anjesh commented on #1139
@charlesyoung will there will be a situation where the contract may have "Hydrocarbon" along with one or more resources (say Aluminium)? If yes, should we include in the site or not that particular contract with Hydrocarbon and Aluminium? If no, that would be easy, otherwise it gets tricky.

[2018-12-14 08:06] charlesyoung commented on #1139
No there won't be a combination of "Hydrocarbons" with another resource.

[2018-12-14 09:17] man-git007 commented on #1160
@charlesyoung we have removed the annotation text which was required and have deployed to staging server.
Could you please verify the changes? The link is below:
https://admin-staging.resourcecontracts.org/contract/2865/annotate#/text

[2018-12-14 09:41] charlesyoung commented on #1160
@man-git007 it worked for the first annotation but is now noting again that the annotation text is required.

[2018-12-14 10:04] anjesh commented on #1139
Thanks. Good to know.

cc @man-git007

[2018-12-14 10:05] anjesh commented on #1114
@man-git007 lets look into the possibility of using excel instead of csv as that would give us flexibility to add validation in excel as well.

[2018-12-14 14:05] adinuca commented on #1157
Yesterday from 3pm to 4pm there was another spike of requests.
Requests have been centralised here: https://docs.google.com/spreadsheets/d/1mhHmy6n9m3PMY-BLzLhDXz3jFL6FECRJ8sW5oE09S18/edit#gid=1773113440&fvid=1689222157

Elasticsearch request rate for one node:
<img width="618" alt="screenshot 2018-12-14 at 15 40 37" src="https://user-images.githubusercontent.com/3942821/50007552-005e9a80-ffba-11e

[2018-12-14 14:09] adinuca commented on #1157
To obtain the above data, I have downloaded the AWS ALB logs(from S3: `aws s3 cp s3://nrgi-lb-logs/AWSLogs/877912432675/elasticloadbalancing/us-east-1/2018/12/13 . --recursive`) and ran the following script:
[code]

The resulted file was then imported to GDrive.

[2018-12-14 14:39] adinuca commented on #1157
On the 13th, between 1 and 2 am, the following requests have been made:
<img width="1336" alt="screenshot 2018-12-14 at 16 38 45" src="https://user-images.githubusercontent.com/3942821/50009085-c0e67d00-ffbe-11e8-814c-a93c83ea0234.png">

[2018-12-14 14:48] adinuca commented on #1157
On the 13th of December, between 3pm and 4pm, the following requests have been made:
![screenshot 2018-12-14 at 16 47 30](https://user-images.githubusercontent.com/3942821/50009602-0788a700-ffc0-11e8-83f8-844ddec4a8a8.png)

[2018-12-17 06:33] charlesyoung commented on #1160
@man-git007 have you made any progress with this ticket?

cc @anjesh

[2018-12-18 05:47] man-git007 commented on #1160
@charlesyoung Could you please add screenshot of the error. Can you please do hard refresh on the browser as it might be due to cache also.

[2018-12-18 11:15] rawalrajen commented on #1160
@charlesyoung The annotations categories of English and French are exactly the same in staging server.

[2018-12-18 13:20] anjesh commented on #1156
@adinuca can you please check what value is set for ADMIN_API_URL in .env variables in https://resourcecontracts.org and https://staging.resourcecontracts.org/?

[2018-12-18 13:36] anjesh commented on #1156
@adinuca Let me know when you are done. There shouldn't be a problem. http://admin.rc redirects to https://admin.rc but for staging for http and https work separately. So the API auth over http://admin.rc throws error as the code doesn't handle the redirection.

[2018-12-18 14:34] adinuca commented on #1156
Please check now.

[2018-12-18 14:50] anjesh commented on #1156
working now. many thanks @adinuca

cc @SamCCSI @charlesyoung

[2018-12-18 14:50] #1156 closed

[2018-12-19 09:57] charlesyoung commented on #1156
@SamCCSI can you confirm that you can access the OLC admin page.

[2018-12-19 10:43] charlesyoung opened #1164 "Spanish and Portuguese language packs"
Discuss the inclusion of Spanish and Portuguese language packs.

cc @SamCCSI

[2018-12-21 13:32] charlesyoung commented on #1160
@man-git007 can you please deploy on the production site.

cc @anjesh

[2018-12-21 14:00] charlesyoung commented on #1114
@anjesh what is the status of this ticket?

[2018-12-24 07:40] adinuca commented on #1157
On the 23rd of December, between 5pm and 6pm, the following requests have been made:
<img width="1007" alt="screenshot 2018-12-24 at 09 39 38" src="https://user-images.githubusercontent.com/3942821/50393579-db0f2080-075f-11e9-995d-b46258cae7f5.png">
<img width="624" alt="screenshot 2018-12-24 at 09 05 16" src="https://user-images.githubusercontent.com/3942821/50393590-e5c9b580-075f-11e9-9aa7-5f997

[2018-12-24 09:50] charlesyoung commented on #1160
@man-git007 has this been deployed on the production site.

[2018-12-24 09:54] man-git007 commented on #1114
@charlesyoung I have posted a table for the excel import regarding validation and formatting fields.
Could please got through it ?

Columns | Include | New | Remarks
-- | -- | -- | --
Category | yes |   | rc or olc and validation should be done upon import and if any other values besides these list import is aborted
Main / Associated | yes | yes | 1 or 0
Main Document OCID (if already published) |

[2018-12-24 09:55] man-git007 commented on #1160
@charlesyoung this has been deployed to production.

cc @anjesh

[2018-12-24 09:57] man-git007 commented on #1118
@adinuca This issue have been resolved.

cc @anjesh

[2018-12-24 09:59] man-git007 commented on #1099
@charlesyoung This has been deployed to staging server. Could you please verify it.

cc @anjesh

[2018-12-24 10:01] adinuca commented on #1118
You can close this is it has been deployed to production.

[2018-12-24 10:35] #1160 closed

[2018-12-24 10:37] anjesh commented on #1099
@charlesyoung @adinuca could we also have the protected staging for http://staging.tanzania.openlandcontracts.org/ to test this change?

[2018-12-24 10:44] adinuca commented on #1099
Hi @anjesh, what do you mean by protected?

[2018-12-24 10:45] anjesh commented on #1099
i meant password protected like https://staging.tanzania.resourcecontracts.org/

[2018-12-24 10:47] anjesh commented on #1114
Excel based import with changes in template has been setup as per @man-git007

The following fields are yet to be handled and i am suggesting the followings for those fields

* "Contract Name" could be left blank (it is mandatory in the suggested template), in that case it will be auto-generated, otherwise it uses the name mentioned in the excel.
* "Signature year" to be removed as it will be gene

[2018-12-24 10:47] #1118 closed

[2018-12-24 11:07] charlesyoung commented on #1160
Thanks @man-git007

[2018-12-24 11:11] charlesyoung commented on #1118
@adinuca has this been tested on Prod?

[2018-12-24 11:12] charlesyoung commented on #1099
Yep we will need a OLC Tz site to test that its working.

[2018-12-24 11:52] charlesyoung commented on #1114
Thanks @anjesh and @man-git007. Couple points.

1. Although I asked to replace ||  I think we should keep it as the separation method
2. Will the contract and doc types be listed in the xls?
3. Why not have a check against Government Entity to avoid incorrect spellings?
4. Will the date field be a date formatted field?
5. Agree with your points on the contract name, auto-generate if blank otherwis

[2018-12-27 11:40] adinuca opened #1167 "Fix "Undefined index: tag_line_olc" error"
## Why
Production logs are flooded with the error "Undefined index: tag_line_olc" which might mean users see an error.

## What
- [ ] Error is investigated and problem is fixed or message log level is changed if it is not actually an error.

## Notes
[code]

[2018-12-27 11:41] adinuca commented on #1167
Error messages are available in the logs from the 24th of December.

[2018-12-27 11:46] adinuca commented on #1167
Hi @man-git007 , @anjesh, please take a look at this issue.

Thank you!

[2018-12-27 12:20] adinuca commented on #1099
Hi @anjesh , I've set up the domain name. To make the site protected, you just need to change the init.sh file to use the nginx_subsite_protected.template
[code]
`envsubst '$SERVER_NAME $CATEGORY'< `**./nginx_subsite_protected.template**` > /etc/nginx/sites-enabled/country-tz-olc
`

Let me know if you need help with this.

[2018-12-28 05:00] anjesh commented on #1167
@adinuca i see that http://drc.openlandcontracts.org/ isn't working, i wonder how that error is appearing `/var/www/country-drc/` as it's not being hit from the domain listed here https://github.com/younginnovations/resourcecontracts-rc-subsite/blob/master/config/init.sh#L48

Can you check which domain is hitting that folder `/var/www/country-drc/`?

[2018-12-28 05:15] anjesh commented on #1167
Also i notice the some suspicious host in the latest log
[code]

[2018-12-28 07:04] adinuca commented on #1167
From this line `export CATEGORY=country-drc
envsubst '$SERVER_NAME $CATEGORY'< ./nginx_subsite.template > /etc/nginx/sites-enabled/country-drc` I would say that any domain name will be heating this

From the nginx config, it looks like only `drc.openlandcontracts.org *.drc.openlandcontracts.org;` should hit that folder.  Because there is no default_server set, any request for which the host does n

[2018-12-28 07:05] adinuca commented on #1167
This is because the load balancer is handling all requests.

[2018-12-28 07:56] man-git007 commented on #1167
@adinuca we have fixed this undefined index:tag_line_olc and have deployed in staging server.

[2018-12-28 08:48] man-git007 commented on #1114
@charlesyoung we have completed the Contract Import CSV / Excel file and have deployed to staging server. The file should be in .xls format.

Could you please verify the changes?

The changes are:

1. Add new fields
    Main / Associated
    Main Document OCID (if already published)
    Document URL
    Signature Date
    Contract Signed?

2. Remove fields
    Signature Year
    Pdf Url

3. Valida

[2018-12-28 09:03] man-git007 commented on #1139
@charlesyoung The hydrocarbon filter in RC and OLC has been implemented and deployed in staging server. Could you please verify it?

[2019-01-02 04:29] anjesh opened #1168 "Remove Max. Limit on Associated Docs on Contract page"
## Why

## What
- [ ] all Associated documents under the Master Document, not only first 3 Associated documents, are shown

## Notes
e.g.: http://openlandcontracts.org/contract/ocds-591adf-5399370669/view#/pdf shows the example where only 3 contracts are listed are the bottom-right.

![image](https://user-images.githubusercontent.com/120488/50580495-2e2b5680-0e77-11e9-8ca7-5c7ba3eddb93.png)

[2019-01-02 04:33] anjesh opened #1169 "Text updates in country pages"
## What

- [x] On “All Countries” Page http://www.openlandcontracts.org/countries, Change totals to “[X] Documents" instead of “[X] Contracts"
- [x] Change wording in Search boxes/Column headings in country page http://www.openlandcontracts.org/countries/kh
  - [x] Change “Search within [Cambodia] contracts” to just “Search [Cambodia] documents”
  - [x] Change heading “Contracts in [Cambodia]” to

[2019-01-02 10:54] rawalrajen opened #1170 "Enable password protected for olc staging server"
## Why
For unauthorized access test, we need to enable password protected for openlandcontracts staging server.

## What

- [x] Enable password protected for staging server for http://staging.tanzania.openlandcontracts.org/

## Notes

Since issue #1099 has  already been deployed to production, I have reopened the ticket as new issue.

[2019-01-02 11:24] rawalrajen commented on #1114
@charlesyoung and @anjesh  This ticket has still some issue, We are working on it.

[2019-01-02 11:25] man-git007 commented on #1139
@charlesyoung The link to staging server for guinea is :

https://staging.guinea.resourcecontracts.org/resources

https://staging.resourcecontracts.org/countries/gn

cc @anjesh

[2019-01-02 11:34] rawalrajen commented on #1170
This issue has been resolved and I tested it on staging server.
![screenshot_2019-01-02 screenshot from 2019-01-02 17-12-20 png png image 1920 x 1080 pixels - scaled 90](https://user-images.githubusercontent.com/34540506/50590304-7ae05300-0eb2-11e9-848b-3ee9a94884bb.png)

[2019-01-02 11:37] #1099 closed

[2019-01-02 11:38] rawalrajen commented on #1099
Ths issues has been resolved. For further discussion I have opened new ticket on #1170

[2019-01-02 12:36] anjesh commented on #1099
@charlesyoung

Working now

http://staging.tanzania.openlandcontracts.org/
https://staging.tanzania.resourcecontracts.org/

Use the following to access

User name: admin@nrgi.com
Password: password

This is good to deploy to production @rawalrajen

[2019-01-03 05:36] rawalrajen commented on #1114
@charlesyoung and @anjesh the issues have been resolved and I tested it on staging. Please verify the changes
![screenshot_2019-01-03 admin - resource contracts 1](https://user-images.githubusercontent.com/34540506/50624546-8468ca00-0f49-11e9-98e7-5792f68530b6.png)

[2019-01-07 04:52] #1170 closed

[2019-01-07 04:57] rawalrajen commented on #1139
There were issues on fetching resources for https://staging.guinea.resourcecontracts.org/resources, which is now fixed. Now hydrocarbons filter is implemented on guinea coutnry site only.

[2019-01-07 12:02] adinuca commented on #1157
- For every page viewed on the RC subsites, there is a request made to retrieve the list of contracts corresponding to the viewed page, and another 25 requests made to RC API to retrieve the details of each contract. When sorting the documents on the page, the process repeats.
- For each contract viewed, there are 3 requests made to RC API to retrieve data about the contract.
The requests are made

[2019-01-07 12:12] adinuca opened #1172 "Investigate if we can do only one request per search page viewed"
## Why
For every page viewed on the RC subsites, there are 26 requests made to RC API.

## What
- [x] Investigation is made if one or 2 requests made to RC API could return the results needed for RC subsites search page
- [x] Further issues are raised after the investigation for implementing the changes needed.

## Notes
At the moment RC subsites page works in the following way:
- one request is m

[2019-01-07 12:18] adinuca opened #1174 "Investigate the purpose of the 4 requests made by RC API for /metadata"
## Why
Each requests made to RC-API /metadata generates 4 requests to ES.

## What
- [ ] An investigation is done on why 4 requests are made to ES with the purpose of decreasing the number of requests.
- [ ] Follow up issues are raised based on the results of the investigation

## Notes

[2019-01-07 12:22] adinuca opened #1173 "Investigate why we are not using the contract ID consistently"
## Why
We are `using contract_id` to retrieve the annotations for the search page, but we are using `open_contracting_id` for retrieving annotations, metadata and text when viewing a contract.

## What
- [x] Investigation is done on why we are not using the same ID of the contract everywhere
- [x]  Follow up issues are raised to make the behaviour consistent

## Notes

[2019-01-07 12:37] adinuca commented on #1174
Hi @anjesh ,
Do you know why we are using the `contract_id` to retrieve annotations for the search page but we are using `open_contracting_id` to retrieve annotations, metadata and text when viewing a contract?
Eg:
The following request to the API is made when the user accesses https://staging.resourcecontracts.org/contracts : `/contract/84/annotations?lang=fr&category=rc`
But when the user views

[2019-01-08 07:04] charlesyoung commented on #1139
Thanks @rawalrajen. Just to clarify that the hydrocarbon filter has only been applied to the RC Guinea subsite and not to all the RC and OLC subsites. I'm reopening the ticket because the code still needs to be pushed to the Guinea country prod site. https://www.contratsminiersguinee.org

![image](https://user-images.githubusercontent.com/13888372/50815035-61149500-1324-11e9-953c-b70f7f98c432.png)

[2019-01-08 07:11] anjesh commented on #1174
@adinuca that is the legacy issue, but both contract_id and ocid works in all the urls and APIs as far as i remember. The public site now uses ocid to retrieve the data, but contract_id works as well. We started with contract_id and later it was decided to use ocid in public sites and eventually that is reflected in APIs as well. But previous source-codes might not have been updated as it works wi

[2019-01-08 07:13] adinuca commented on #1174
Hi @anjesh ,
Thank you for your answer. I am not looking to deprecate this feature, I was asking because using the same ID everywhere in RC Subsites would reduce the number of calls to the API, because the call for the annotations might be already cached when a user clicks on a contract.

[2019-01-08 07:31] charlesyoung commented on #1114
Thanks @rawalrajen

I will be running test imports this week but have the following questions and input for now.

1. Rename the xls from 'sample' to 'Backend import template'
2. Make the field names in the xls bold to distinguish it from the general text
3. Do we need the Contract Identifier field in the template?
4. Do we need the Government Identifier field in the template?
5. Change the Documen

[2019-01-08 07:35] adinuca commented on #1173
Conversation with Anjesh( it was on the wrong issue) :
[code]

[2019-01-08 07:42] adinuca opened #1175 "Make requests to RC API in a consistent way, using the same contract ID"
## Why
RC subsites make the same requests to RC API using the `contract_id` in some places and the `open_contracting_id` in other places. We should be consistent.

## What
- [ ] `open_contracting_id` is used everywhere where we are requesting data about a contract from RC-API

## Notes

[2019-01-08 07:42] adinuca commented on #1173
#1175 has been raised to deal with inconsistent requests.

[2019-01-08 07:42] #1173 closed

[2019-01-08 07:44] adinuca commented on #1172
Hi @anjesh ,

Do you have any input for this issue?
To handle your concerns about other systems, the plan is to add to the API, not to change or remove endpoints.

Thank you!

[2019-01-08 07:59] anjesh commented on #1172
This might also need refactoring the code-base both on the API and subsite. I understand that these cases might be due to additions of features on top (like showing annotations number in the contracts-list) and we might have used the existing API for that, instead of adding that number in contracts-list-API - urgency vs system thinking. Again suggest to create a new issue under "performance" label

[2019-01-08 09:39] anjesh commented on #1099
Sure, the sites won't be live, but the codebase may be pushed to master-branch (production). Later once the production sites are enabled, this change will take into effect.

[2019-01-08 10:08] charlesyoung commented on #1114
Some more points based on attached xls (I added some erroneous data on purpose to check the validations).

1. Government entity is invalid; Agencia Nacional de Hidrocarburos is captured but notes as invalid
2. Jurisdiction of Incorporation is invalid; this isn't a required field so should pass if left blank
3. Invalid Type of Contract; this isn't a required field so should pass if left blank
4. Do

[2019-01-08 12:13] adinuca opened #1176 "Decrease the number of requests made to API for a RC Subsite search page viewed"
## Why
For each search page viewed in RC subsites we are doing up to 26 requests to RC API(and Elasticsearch). Performance of the websites can be improved by decreasing the number of requests made to RC API and Elasticsearch.

## What
- [ ] Numbers of requests made to RC API(and Elasticsearch) for each search page is decreased from 26 to 1 or 2.

## Notes
This is a follow up issue for #1172 .
Any

[2019-01-08 12:14] adinuca commented on #1172
Thank you @anjesh .

Issue #1176 has been raised for decreasing the number of requests made to RC API.

[2019-01-08 12:14] #1172 closed

[2019-01-14 06:00] charlesyoung commented on #1114
@rawalrajen has there been any progress on this ticket?

cc @anjesh

[2019-01-14 06:11] charlesyoung commented on #1139
@rawalrajen what is the latest re this ticket?

[2019-01-14 13:33] anjesh commented on #1139
Now guinea site doesn't show hydrocarbon contracts https://www.contratsminiersguinee.org/ but resourcecontracts.org shows that. We are good to close this.

[2019-01-14 13:33] #1139 closed

[2019-01-14 16:07] adinuca commented on #1176
Hi @anjesh , any idea when this will be done?
Thank you!

[2019-01-14 16:07] adinuca commented on #1175
Hi @anjesh , any idea when this will be done?
Thank you!

[2019-01-15 09:53] rawalrajen commented on #1114
@charlesyoung We are working on this ticket.

[2019-01-15 11:48] adinuca commented on #1174
The request for metadata is retrieving data about the contract itself, the parent contract(the contract from which the requested contract is translated from) and based on the parent contract it retrieves information about the supporting contracts.
The number of requests to Elasticsearch cannot be decreased.

[2019-01-15 11:48] #1174 closed

[2019-01-15 14:20] charlesyoung opened #1177 "Abbyy account details"
@anjesh what coding updates will be required if we change the Abbyy account details?

cc @anderspeders

[2019-01-16 05:13] anjesh commented on #1114
@rawalrajen please find the confusing points

- Do we need the Contract Identifier field in the template?
lets remove this
- Do we need the Government Identifier field in the template?
lets remove this
- Will adding a new tab to the xls, for notes, impact the import process?
This should not be a problem. Please send us the notes to be included in the new sheet.
- Do we need the Source Url field?
L

[2019-01-16 06:18] anjesh commented on #1177
We will need abbyy appid and password https://github.com/anjesh/pdf-processor/blob/master/settings.config.bak

[2019-01-16 06:20] anjesh commented on #1175
@charlesyoung for your decision on whether to move forward with this or not? Not urgent but helps with the performance.

[2019-01-16 06:20] anjesh commented on #1176
@charlesyoung for your decision on whether to move forward with this or not? Not urgent but helps with the performance.

[2019-01-16 09:30] charlesyoung commented on #1114
@anjesh please don't remove noted fields as they could all be used. We just need to make sure that validations are run with the only fields that should be removed being Source Url (replaced by Document URL) as well as contract identifier and government Identifier (not sure how this can be filled in before the import).

@rawalrajen

.

[2019-01-16 11:54] charlesyoung commented on #1177
@anjesh so its just a config update with no code changes?

@anderspeders

[2019-01-16 11:56] charlesyoung commented on #1176
This is something we need to look at but lets put in on hold for now.

[2019-01-16 11:56] charlesyoung commented on #1175
This is something we need to look at but lets put in on hold for now.

[2019-01-16 21:43] anderspeders commented on #1177
@anjesh So can I take from this that it is an easy fix? If yes, I can go ahead and do this tomorrow (Thursday).

[2019-01-17 03:49] anjesh commented on #1177
Yes, infact @adinuca will need to do that, just update the global config variables - ABBYY_APP_ID
 and ABBYY_PASSWORD
 https://github.com/NRGI/resourcecontracts.org/blob/master/conf/settings.config.template

[2019-01-17 07:05] adinuca commented on #1177
Hi @anderspeders , @charlesyoung ,

I can change the ABBYY credentials. Just let me know which are the new credentials and if they should be changed for both Staging and production.

[2019-01-17 07:10] adinuca commented on #1175
Hi @charlesyoung ,
This issue and #1176 were raised due to the outage caused by the migration of Elasticsearch. @anjesh and his team might be able to them faster than us because they are more familiar with how RC works, but we can also do them if needed.
This fixes should allow us to scale down Elasticsearch.

Let us know what you think.

[2019-01-21 10:02] charlesyoung commented on #1177
Thanks @adinuca. We will need it on both sites, the staging is used for demo's and testing.

[2019-01-21 12:01] rawalrajen commented on #1114
@charlesyoung
I have updated the following changes.

- Updated readme section with noted texts.
- Main / Associated field noted in red
-  Government Identifier and contract identifier fields  removed from excel.
- Signature date and Retrieval date invalid issue fixed

I have tested it against the [backend_import_template.xlsx](https://github.com/NRGI/resourcecontracts.org/files/2767642/backend_imp

[2019-01-21 13:12] charlesyoung commented on #1114
Thanks @rawalrajen. Please let me know when I can run more tests.

[2019-01-23 12:48] charlesyoung commented on #1114
Thanks @rawalrajen, looking really good. Minor comments below.

1. The readme section is blank
2. The Main / Associated field still needs to be noted in red and be required
3. Just checking that the import will handle doc and contract types in the other supported languages (French and Arabia)?
4. Do we check that the Participation Share totals 100% or doesn't exceed 100%? I captured  0.8||0.5 and

[2019-01-24 04:38] rawalrajen commented on #1114
@charlesyoung
Please check the template format from http://admin-staging.resourcecontracts.org/contract/import. I have uploaded the above template for testing purpose only.

[2019-01-24 06:56] charlesyoung commented on #1114
OK. Last question; will the import handle doc and contract types in the other supported languages (French and Arabia)?

[2019-01-25 04:57] rawalrajen commented on #1114
@charlesyoung Currently excel upload only supports English language.

[2019-01-25 05:20] charlesyoung commented on #1169
Thanks @rawalrajen.

cc @SamCCSI @jedm

[2019-01-25 13:01] adinuca commented on #1177
@anderspeders , @charlesyoung , please let me know when you have the new ABBYY account details.

Thank you!

[2019-01-29 13:41] charlesyoung commented on #1169
@jedm are you happy to move to prod?

[2019-01-29 13:42] charlesyoung commented on #1168
@rawalrajen have you had time to work n this ticket?

[2019-01-29 19:36] SamCCSI commented on #1169
@rawalrajen @charlesyoung thank you. This looks great, and OLC is happy for you to move these changes to the live site.

cc @jedm

[2019-01-29 23:52] jedm commented on #1169
Agree it looks great. I join Charles and Sam in approving. Thanks, @anjesh!

[2019-01-30 10:15] rawalrajen commented on #1168
@charlesyoung This issue has been resolved and updated on staging server. https://staging.resourcecontracts.org/contract/ocds-591adf-7211987415/view
![screenshot_2019-01-30 resourcecontracts org - french max asso testing 1](https://user-images.githubusercontent.com/34540506/51974480-1e1f8a80-24a8-11e9-9b39-5930b870caae.png)

cc @anjesh

[2019-01-30 10:34] charlesyoung commented on #1168
Thanks @rawalrajen, I tested it on other docs and it works.

@jedm @SamCCSI please approve the move to the production site.

[2019-01-31 06:52] adinuca commented on #1177
Hi @charlesyoung , the changes have been made. Is there a way to test it?

[2019-02-01 10:17] charlesyoung commented on #1114
@rawalrajen can you please move the code to production? Thanks

cc @anjesh

[2019-02-01 10:20] charlesyoung opened #1184 "Standalone metadata publishing tool"
Develop a standalone tool to publish the metadata once the backend spreadsheet import has been completed.

cc @anjesh

[2019-02-01 10:47] charlesyoung commented on #1114
Please also change the following.

1. Only Excel file format for upload, remove CSV
2. Please make sure that the Excel file follows the following format. Also note that the file contains a Readme tab that outlines standard capturing details.
3. The Readme needs to include details of how multi-values are captured i.e. double pipe

[2019-02-01 12:55] charlesyoung commented on #1177
Tested.

[2019-02-01 12:55] #1177 closed

[2019-02-04 04:53] anjesh opened #1185 "RC down: Possible issue in ES"
## Why

https://resourcecontracts.org/?lang=en works and gets down in subsequent refresh.

## What

http://api.resourcecontracts.org/contracts sometimes works and gives error in next refresh

![image](https://user-images.githubusercontent.com/120488/52190660-753aac00-2868-11e9-961b-a95a3b237ac6.png)

Here it says "requested cluster unavailable". i am assuming some issue in ES
![image](https://user

[2019-02-04 04:55] adinuca commented on #1185
Hi @anjesh , how often does it happen?

[2019-02-04 05:00] adinuca commented on #1185
@anjesh , thank you for reporting it. It looks like Elasticsearch is having some connectivity issues : https://cloud-status.elastic.co/

[2019-02-04 05:01] anjesh commented on #1185
Thanks @adinuca

[2019-02-05 10:08] rawalrajen commented on #1168
@charlesyoung I tested it on staging server and deployed to production site.

[2019-02-05 10:59] rawalrajen commented on #1114
@charlesyoung The following changes have been made and deployed on production.

* Only Excel file format will support on import.

* Contract help text updated with the noted text

* The readme updated for multi values fields

[2019-02-06 15:39] charlesyoung commented on #1168
Thanks @rawalrajen

[2019-02-06 15:39] #1168 closed

[2019-02-06 15:39] charlesyoung commented on #1169
Thanks @rawalrajen

[2019-02-06 15:39] #1169 closed

[2019-02-06 16:44] adinuca commented on #1185
This has been fixed after about 12-14 hours.

[2019-02-06 16:44] #1185 closed

[2019-02-06 16:48] adinuca opened #1188 "Post mortem for Elasticsearch downtime on the 02/04/2019"
## Why

Resource contracts  was unavailable for about 12h on 02/04/2019.

## What
- [x] A proper post mortem is shared with the team

## Notes
#1186 was raised to return an error code when an error page is displayed, for RC subsites.

[2019-02-07 10:42] charlesyoung commented on #1114
Thanks @rawalrajen. Can I confirm that a Main doc is noted as 0 and an Associated doc as 1.

[2019-02-08 09:28] rawalrajen commented on #1114
@charlesyoung Yes, as I have already mentioned it on readme section.

[2019-02-12 12:45] charlesyoung commented on #1184
I get bellow error when running the macro.

![image](https://user-images.githubusercontent.com/13888372/52636229-af452700-2ed4-11e9-9197-68f760193c8b.png)

It seems to be a known issue: https://forum.a9t9.com/t/kantu-is-not-connected-to-a-browser-tab/1407

cc @anjesh @rawalrajen

[2019-02-14 08:22] charlesyoung commented on #1114
We need to name contracts with the same name according to our standard i.e. Hocol S.A., Concession, 2014 (first doc no number), Hocol S.A., Concession, 2014-1 (second doc a number 1, etc).

![image](https://user-images.githubusercontent.com/13888372/52772621-9c9c3080-3041-11e9-8b18-d88dcc377d52.png)

[2019-02-15 12:25] charlesyoung commented on #1184
Tool notes below.

https://gist.github.com/anjesh/e01c68ca59845d6f3ae4d1acf340806d

[2019-02-15 12:25] #1184 closed

[2019-02-21 05:57] anjesh commented on #1163
text searching is not working in both OLC and RC staging and prod. Direct API is not returning the results.
@adinuca could you share the credentials for elastic.co for staging site index so that we can see what's happening.

[2019-02-21 06:32] adinuca commented on #1163
Hi @anjesh, here is the elasticsearch endpoint: https://54e756e310564547a3ad70b2275c5a3c.us-east-1.aws.found.io:9243 and the user is `elastic`. I will send you the password by email.
The index used is rc_demo_3 .

[2019-02-22 09:44] charlesyoung commented on #1163
@anjesh any luck identifying the issue?

[2019-02-26 08:59] #1142 closed

[2019-02-26 09:01] charlesyoung commented on #1114
@anjesh @rawalrajen any luck looking at above issue?

[2019-02-26 10:42] anjesh commented on #1163
We will looking into this - this week.

cc @man-git007

[2019-03-05 12:29] charlesyoung commented on #1163
@anjesh @man-git007 any luck identifying the issue?

[2019-03-05 12:30] charlesyoung commented on #1154
@SamCCSI can we close this ticket?

[2019-03-05 12:30] charlesyoung commented on #1114
@anjesh @rawalrajen any luck looking at above issue?

[2019-03-05 13:43] SamCCSI commented on #1154
Closing now, though we may need to reopen if problem presents itself again

[2019-03-05 13:43] #1154 closed

[2019-03-09 11:45] adinuca commented on #1188
@candrei , please review: https://docs.google.com/document/d/1t7xTJq1qtp9hoD2PTi2pCwAwm86xb5ugKQGiibmQKxU/edit

[2019-03-12 15:16] JesseCCSI opened #1190 "OLC is down"
OLC is currently down (screenshot below). Several people experiencing same issue. Seems that RC not currently down.

@anjesh could your team pls look into why?

Tagging issue #1154 in case related.

![image](https://user-images.githubusercontent.com/14910764/54202765-1f7ca380-44a7-11e9-8016-4d9030e3095b.png)

I don't think we received a notification when the site went down, so also flagging that a

[2019-03-12 15:32] adinuca commented on #1190
Hi @JesseCCSI , I will have a look. It doesn't seem like the same issue as before as RC and RC subsites are working.

[2019-03-12 15:35] SamCCSI commented on #1190
Confirming that no one at CCSI received an email notification that the OLC site was down.

[2019-03-12 15:35] SamCCSI commented on #1190
(and thanks, @adinuca !)

[2019-03-12 15:45] JesseCCSI commented on #1190
Thanks @adinuca !

[2019-03-12 16:08] anjesh commented on #1190
Somehow the A record is different for openlandcontracts.org, shouldn't it be same as rc as both are hosted in the same container.

![image](https://user-images.githubusercontent.com/120488/54215889-c5b0c380-4510-11e9-8567-dd65a77021e0.png)

Also i see that domain looks expired yesterday and renewed today. Maybe something happened during that gap.

https://whois.icann.org/en/lookup?name=openlandcon

[2019-03-12 16:10] adinuca commented on #1190
Normally the application should work as all the other RC sites work fine. There have been no logs since the 10th. I am just testing if the application is running.

Do you have access to the domain registrar?I get this when accessing the site on http, which makes me think it is related to the domain registration:
<img width="1042" alt="Screenshot 2019-03-12 at 18 07 01" src="https://user-images.git

[2019-03-12 16:13] anjesh commented on #1190
yes, so the port 80 is working - which i think the uptime checks at the moment so it didn't trigger any email.

[2019-03-12 16:23] JesseCCSI commented on #1190
Many thanks @adinuca ! We're working on figuring out access to the domain registrar. We'll confirm here once we've resolved the issue and can close the tkt.

[2019-03-12 16:26] anjesh commented on #1190
I found the info in my email - forwarded to 3 of you. For your action.

[2019-03-12 16:26] JesseCCSI commented on #1190
Great, many thanks @anjesh

[2019-03-12 16:43] JesseCCSI commented on #1190
Closing as domain registration issue resolved. Thanks again @adinuca and @anjesh !

[2019-03-12 16:53] anderspeders commented on #1190
Glad to hear!

[2019-03-14 19:34] candrei commented on #1188
@adinuca completed review, left a couple of comments.

[2019-03-15 12:37] adinuca commented on #1188
Thanks @candrei .

@charlesyoung, I have shared the document with you, by email.

[2019-03-15 12:37] #1188 closed

[2019-03-22 10:29] adinuca opened #1191 "Make sure OLC domain is renewed before March 11th 2020"
## Why
openlandcontracts.org domain is not set up to auto renew itself and it expires on March 11th 2020.

## What
- [x] openlandcontracts.org is renewed before March 11th 2020.

## Notes
Not renewing the domain in time will cause downtime for OLC

[2019-04-01 17:25] SamCCSI commented on #1114
@charlesyoung @anjesh is the bulk upload functionality currently working? What is the URL if so. And should I use @rawalrajen 's xls file, above? Thanks.

[2019-04-02 07:09] charlesyoung commented on #1114
@SamCCSI you can download the xls template from http://admin.resourcecontracts.org/contract/import. I have used it to import over 400 docs for Mexico and Colombia. We still need to do some mods like mentioned above wrt duplicate doc names. Please note that this is only an import with no publishing. We have also developed a standalone tool that bulk publishes the metadata that I can explain to you

[2019-04-02 08:01] anjesh commented on #1114
@charlesyoung we haven't yet looked into that duplicate name issue. Will let you know once we sort that out. Thanks.

cc @man-git007

[2019-04-03 21:08] anderspeders commented on #1163
Hi @anjesh, Did you have any luck looking into this?

[2019-04-04 18:22] SamCCSI opened #1192 "Category attribute"
Hi @anjesh, Is the OLC/RC coding the item that’s returned as this attribute in the [documentation](https://github.com/NRGI/resourcecontracts.org/wiki/Search-Contracts)?:

Asking because an external site is pulling contracts from the API but needs to be able to distinguish between RC and OLC contracts

 cc @anderspeders

[2019-04-05 00:20] anjesh commented on #1192
Yes only if you first get the list of contracts using the search API http://api.resourcecontracts.org/contracts/search?q=&country=GN&group=metadata

category is not present when you pull specific contract http://api.resourcecontracts.org/contract/ocds-591adf-3433899670/metadata

[2019-04-11 08:45] charlesyoung opened #1193 "Tanzania RC country portal"
Filter out non-mining docs from the Tanzania country RC portal.

[2019-04-30 14:33] Aikyuichi opened #1194 "RC API - text search return a warning"
Hi
I tried the following resource URI
http://api.resourcecontracts.org/contracts/search?q=oil&group=text
It returns a warning and list all the contracts, ignoring the filter
`Warning: array_push() expects parameter 1 to be array, null given in /var/www/rc-api/app/Services/FulltextSearch.php on line 148`

[2019-05-02 06:18] charlesyoung opened #1195 "Update Mturk API"

[2019-05-06 06:43] charlesyoung opened #1196 "Backend project names import"
- [x] add the following disclosure modes in the dropdown
   - Government
   - Company
   - Security exchange

![image](https://user-images.githubusercontent.com/120488/69231961-29b47d00-0bb2-11ea-8554-d0a959fe5e63.png)

- [ ] update disclosure mode in the excel
   - Company website = company
  - EITI = other
   - Civil society = other
   - Media = other
   - OpenOil = other
   - Found elsewhere =

[2019-05-06 06:50] charlesyoung commented on #1196
https://docs.google.com/spreadsheets/d/1y5OqZtO4kXfa81GooCuUE5Dc79q9BGah-pu95eBb4PY/edit#gid=1457221475

[2019-05-10 06:40] charlesyoung commented on #1114
Picked up a bug.

Error: File does not exist at path /var/www/rc-admin/public/data/3889/stats.json
Source URL: https://drive.google.com/open?id=1LT4zHRoMbZ4GOodHck2iHTUSPZOj79HX

[2019-05-10 07:57] charlesyoung commented on #1114
We need the inclusion of a 'Signature Year' column. When I captured 2016 in the 'Signature Date' column it populated today's date.

![image](https://user-images.githubusercontent.com/13888372/57509129-c349ca80-7303-11e9-81f9-42cd931ecab2.png)

[2019-05-16 05:41] adinuca opened #1197 "Remove basic auth for zambia.resourcecontracts.org"
## Why
Charles has requested that basic auth should be removed to make the site public.

## What
- [x] Basic auth is removed for staging.zambia.resourcecontracts.org and zambia.resourcecontracts.org

## Notes
This line https://github.com/younginnovations/resourcecontracts-rc-subsite/blob/161bc1c51c4f37f70d9a8f970bdae91be639940d/config/init.sh#L113 needs to be changed to use the `nginx_subsite.temp

[2019-05-16 07:24] iosifnicolae2 opened #1198 "Build pipeline has a problem"
## Why
No builds can be deployed in production.

## What
- [ ] the root cause of the problem has been identified
- [ ] the solution for the problem has been implemented
- [ ] a successful build has been deployed into production
## Notes
https://app.shippable.com/github/NRGI/nrgi-dcos/runs/2755/1/console

[2019-05-16 07:24] #1198 closed

[2019-05-16 07:24] adinuca commented on #1198
Issue moved to [NRGI/nrgi-dcos #384](https://github.com/NRGI/nrgi-dcos/issues/384) via [**ZenHub**](https://www.zenhub.com/)

[2019-05-16 08:07] iosifnicolae2 commented on #1197
@charlesyoung Basic auth has been removed for `zambia.resourcecontracts.org` and `staging.zambia.resourcecontracts.org `

[2019-05-16 08:07] #1197 closed

[2019-05-16 08:08] charlesyoung commented on #1197
Many thanks @iosifnicolae2

[2019-05-22 21:47] SamCCSI opened #1199 "Recovering favicon for OLC"
## Why
Favicon image was accidentally replaced for OLC

## What
Is there a way to recover the previous favicon image (A green square with a white O, I believe). If not, does anyone at YI have the original file? @anjesh

## Notes
Many thanks!

[2019-05-28 09:48] adinuca opened #1200 "Error processing document"
## Why
We have received a few emails because documents could not be processed.

## What
- [ ] Cause for `Document processing started At Tue, May 28, 2019 9:42 AM(GMT)
Error: File does not exist at path /var/www/rc-admin/public/data/3913/stats.json` error is determined
## Notes

[2019-05-28 09:49] adinuca commented on #1200
Hi @man-git007,

Do you know what causes the error described in the issue? There have been a few similar emails lately?

Thank you,
Adina Petrean

[2019-05-28 10:06] charlesyoung commented on #1200
It happens when I do a backend import via a xls. Its to do with the doc URL.

[2019-05-28 12:30] adinuca commented on #1200
@charlesyoung is this a user error or is this a known issue that Young Innovations will fix?

[2019-05-28 12:31] charlesyoung commented on #1200
I have flagged it as a bug.

[2019-05-29 11:52] adinuca commented on #1200
Logs related to this issue:
[code]

[2019-06-04 09:11] charlesyoung commented on #1108
Completed

[2019-06-04 09:11] #1108 closed

[2019-06-04 09:15] #1078 closed

[2019-06-04 16:14] jedm commented on #1045
@charlesyoung Some plans are emerging at CCSI to spec out something similar for OLC. Curious if this plan went anywhere in another Issue -- and how the latest "tours" and how-tos have been working for NRGI. cc @SamCCSI

[2019-06-04 16:46] anderspeders opened #1201 "Split document into multiple contracts without deleting annotations?"
## Why
The following document from Kosmos appears to include multiple contracts in a single PDF: https://resourcecontracts.org/contract/ocds-591adf-3691607772/view#/pdf/page/364/annotation/4962

@charlesyoung: Is it possible to split up the document while still maintaining the annotations provided in the file?

## What

## Notes

[2019-06-26 15:05] anderspeders opened #1202 "Key Clause searches Excel download"
## Why
When I try to download a selection of annotated contracts as spreadsheet the download button returns an empty dataset.

Example - I am downloading from this slice: https://resourcecontracts.org/search?q=&annotation_category%5B%5D=Stabilization

Empty spreadsheet returned: ![image](https://user-images.githubusercontent.com/1101585/60191346-2b943300-9802-11e9-97d7-0a96d6bf9980.png)

## What

[2019-07-02 15:52] adinuca opened #1203 "Error logs: Failed to open stream"
@adinuca commented on [Tue Jul 02 2019](https://github.com/NRGI/nrgi-dcos/issues/451)

## Why
RC subsites cannot access files from S3.

## What
- [x] Cause for the errors is determined
    - [x] S3 is checked to see if files exist
- [ ] Follow-up issues are created if needed

## Notes
[code]

---

@adinuca commented on [Tue Jul 02 2019](https://github.com/NRGI/nrgi-dcos/issues/451#issuecomment-507

[2019-07-02 15:54] adinuca commented on #1203
Hi @charlesyoung ,

For this contract: https://www.resourcecontracts.org/contract/ocds-591adf-4251085025/view#/text, the PDF version does not exist. Is it normal for contracts to only have the Text version available?

Thank you,
Adina

[2019-07-08 06:50] charlesyoung commented on #1203
Thanks @adinuca. All agreements should have an associated PDF document so this is strange. I get below message when trying to download the PDF document from the admin site.

![image](https://user-images.githubusercontent.com/13888372/60788512-31243e00-a15d-11e9-9efa-d912fd2c67f1.png)

[2019-07-10 13:44] adinuca commented on #1203
@charlesyoung, you got that error because the documents do not exist, these are the only files that do exist for contracts 1802 and 1803:
<img width="1239" alt="Screenshot 2019-07-10 at 16 36 54" src="https://user-images.githubusercontent.com/3942821/60973898-c24c0e00-a331-11e9-9a7a-055fad683b46.png">
<img width="1196" alt="Screenshot 2019-07-10 at 16 38 54" src="https://user-images.githubusercont

[2019-07-15 03:48] adinuca opened #1204 "RC errors in logs"
## Why
-  Logs are filled with errors when a bot crawls the website.
- An error is displayed to the user when the path parameter `sortBy` is used without `order` path parameter.

## What
- [x] Source of the issue is found
- [x] A fix is implemented

## Notes
[code]

[2019-07-15 03:49] adinuca commented on #1204
This exception is encountered when making a request to `/contracts`, using the path parameter `sortBy` without using the `order` path parameter.

[2019-07-19 11:51] adinuca commented on #1204
This has been deployed.

[2019-07-19 11:51] #1204 closed

[2019-08-14 06:03] adinuca opened #1205 "Handle 404 gracefully"
## Why
 When a page is not found for resourcecontracts.org, logs are generated. This makes debugging for real problems harder.

## What
- [x] No stacktrace is generated when a page is not found

## Notes
Logs generated now:
[code]

[2019-08-14 06:19] adinuca opened #1206 "Investigate error logs from RC"
## Why
Error logs can hide problems with the application.

## What
- [ ] The cause of the logs is determined
- [ ] An issue is raised to fix it if it cannot be fixed in less than 3h.

## Notes
[code]

[2019-08-14 11:35] adinuca commented on #1205
404 is handled correctly, even so, the robots.txt sometimes returns 500
[code]

ELB logs suggest this is resourcecontracts.org

[2019-08-14 11:37] adinuca commented on #1205
Pingdom did not detect any downtime to suggest the application was having issues.

[2019-08-14 11:44] anjesh commented on #1195
@man-git007  made a quick fix to bypass the current error. Production is working now. We have pushed the API changes to staging and it needs testing.

@charlesyoung could you do quick test and see if everything is working? Do you think you need to with the real MTurk before pushing to master?

cc @adinuca

[2019-08-14 11:47] charlesyoung commented on #1195
@anjesh thanks. Should I test the staging admin site?

[2019-08-14 11:52] anjesh commented on #1195
Yes. for the API changes, please do test in staging. It might be using MTurk Sandbox. I think it might also be good to test in real Mturk, @adinuca will be able to help to change the secret-keys in staging and that might incur some costs. We could reset the HIT task once it's working and update the secret-keys to that of Sandbox.

Please confirm if you would like to do the testing with the real Mt

[2019-08-14 11:54] adinuca commented on #1195
@anjesh , sure, let me know exactly what you need.

[2019-08-14 12:10] charlesyoung commented on #1195
Yes lets do a proper test so please change the secret-keys on staging.

@anjesh @adinuca

[2019-08-14 12:18] adinuca commented on #1195
I updated MTurk KEY, SECRET and Sandbox value for staging. The application should be updated in 5 minutes.

[2019-08-14 12:31] charlesyoung commented on #1195
Should I see an available balance amount before testing? cc @anjesh @adinuca

![image](https://user-images.githubusercontent.com/13888372/63021096-1ea9cc80-bea0-11e9-8ee5-6d8f2bb5ba75.png)

[2019-08-14 12:32] adinuca commented on #1195
@anjesh please answer the above, I don't know how it should be.

[2019-08-14 13:33] charlesyoung commented on #1195
@anjesh do I need to select the 'Needs Full Transcription' during the test?

[2019-08-15 06:01] charlesyoung commented on #1195
@adinuca @anjesh can you please take a look at MT. I received below message this morning which seems wrong because we had close to $300 available last week.

![image](https://user-images.githubusercontent.com/13888372/63075667-b7892800-bf32-11e9-8e19-c581cbe3ecfc.png)

[2019-08-15 06:15] adinuca commented on #1195
You are right, there are $340 in the account. I will have a look.

[2019-08-15 07:56] adinuca commented on #1195
Hi @anjesh , I will need your input on this. The things that I have changed for staging is to set {
`MTURK_KEY`, `MTURK_SECRET` and `MTURK_SANDBOX` environment variables to the values used in production, and these changes were deployed. Is there anything else needed?

[2019-08-15 13:05] anjesh commented on #1195
I see the hardcoded sandbox URL in the code. We have a holiday today and will get back tomorrow on this with updates. Apologies.

[2019-08-16 06:14] charlesyoung commented on #1195
Thanks @anjesh. Please let me know when I can test.

cc @adinuca

[2019-08-16 08:28] anjesh commented on #1195
@adinuca Is MTURK_SANDBOX=false in staging? Please confirm.

cc @man-git007

[2019-08-20 06:19] charlesyoung commented on #1195
@anjesh I get below on the prod admin site, it usually showed the available balance which is currently $340.

![image](https://user-images.githubusercontent.com/13888372/63322143-fd733100-c322-11e9-8ae7-f9803566082d.png)

I'm also getting below email.

![image](https://user-images.githubusercontent.com/13888372/63322225-28f61b80-c323-11e9-8a75-b8fbe4c95807.png)

[2019-08-20 06:36] adinuca commented on #1195
Sorry for the late reply. The sandbox was set to false but it got reset when new changes were deployed. I changed it again to false and it won't get reset again.

There are no recent error logs regarding the balance, all I could find was from the 14th of August
[code]

[2019-08-21 09:24] anjesh commented on #1195
@adinuca
we got the 400 error when using production key and secret. The error wasn't descriptive as well.  We are not sure what's happening. Could you please share the access_key and secret for both sandbox and production in email? We tested in our sandbox account and it's working without any issue. Thanks.

[code]

[2019-08-21 09:28] adinuca commented on #1195
@anjesh , I've sent them on email.

[2019-08-21 09:40] adinuca commented on #1205
404 is handled correctly. The issue might be that the application is crawled by bots which overwhelm the app. We will know more after that investigation is completed.

[2019-08-21 09:40] #1205 closed

[2019-08-21 10:21] anjesh commented on #1195
Thanks @adinuca. The staging one (with sandbox=TRUE) worked and the production one (with sandbox = FALSE) didn't work. We are debugging and will update once we identify the issue.

cc @charlesyoung

[2019-08-22 07:00] charlesyoung commented on #1195
@anjesh just checking on the progress. Tx

cc @adinuca

[2019-08-22 08:25] man-git007 commented on #1195
@adinuca  We have deployed the fixes to staging server. It should work now.

Changes to environment variables
AWS_REGION=us-east-1
MTURK_KEY=*****
MTURK_SECRET=*****
MTURK_SANDBOX=false

cc @anjesh

[2019-08-22 08:30] adinuca commented on #1195
Thanks @man-git007 .

@charlesyoung that seems to work but I am surprised the balance is 0. Do we need to add funds?

[2019-08-22 08:32] charlesyoung commented on #1195
Nope, something must be wrong. See available balance below.

![image](https://user-images.githubusercontent.com/13888372/63499406-19fc9e00-c4c8-11e9-8bb2-6438bf2abc13.png)

cc @anjesh @man-git007

[2019-08-22 08:39] man-git007 commented on #1195
@charlesyoung yes the balance $340 is of that of production

 **For staging**
Changes to environment variables

AWS_REGION=us-east-1
MTURK_KEY={staging Mturk key}
MTURK_SECRET={staging Mturk secret}
MTURK_SANDBOX=true

This will give us a balance of $10000.

Upon testing, we can switch to staging credentials.

[2019-08-22 08:40] adinuca commented on #1195
Now, in staging, we have the production configuration for MTurk, so my expectation would be to see the production balance.

[2019-08-22 08:41] man-git007 commented on #1195
@adinuca  Yes.

[2019-08-22 08:43] charlesyoung commented on #1195
@man-git007 is it a caching issue because its $0?

@adinuca

[2019-08-22 08:45] adinuca commented on #1195
Are you all available for a call? I feel we don't all have the same expectations.

[2019-08-22 11:40] charlesyoung commented on #1195
@man-git007 can we arrange a Skype call tomorrow? The MTurk available balance on staging is still $0.

cc @adinuca @anjesh

[2019-08-22 11:41] adinuca commented on #1195
I am available before 2pm(GMT+3). Let me know if that works.

[2019-08-23 04:59] man-git007 commented on #1195
@adinuca I have added a new env variable named MTURK_REGION. Since AWS_REGION is used in other modules, so it would be better to have a new env variable for region

I will mail env variable and its value. Please update them and if any problems lets have a skype call today.

cc @charlesyoung @anjesh

[2019-08-23 05:25] adinuca commented on #1195
Hello, I have updated staging first with the Sandbox credentials and it showed $10000. I updated staging again with the production credentials and I can see the correct value.

@charlesyoung do you still want to do some testing in staging or should I change the variables back to the sandbox ones?

@man-git007 thank you!

[2019-08-23 06:37] charlesyoung commented on #1195
Thanks @man-git007 and @adinuca

This is probably a stupid question but how does one test that it actually works? Is there a shorter way than publishing a doc that will need transcribing and waiting for a Turker to do the work.

[2019-08-23 10:27] man-git007 commented on #1195
@charlesyoung How about creating a request and worker sandbox account and publishing the task and accepting the task by those accounts.

Or we can simply publish a single page pdf as a task and let other workers work on it. Same as in production.

[2019-08-23 10:45] charlesyoung commented on #1195
I've sent a 1 pager for transcribing. Will check if its been processed on Monday.

[2019-08-23 11:44] charlesyoung commented on #1195
@man-git007 the 1 pager has been transcribed.

![image](https://user-images.githubusercontent.com/13888372/63590346-d4190600-c5ab-11e9-846f-a7382a7a5a51.png)

I however cannot see the transcribed text as shown below.

![image](https://user-images.githubusercontent.com/13888372/63590377-ed21b700-c5ab-11e9-936b-ad58c0de85ba.png)

[2019-08-26 05:53] charlesyoung commented on #1195
@man-git007 any ideas on above issue?

cc @anjesh @adinuca

[2019-08-27 06:22] man-git007 commented on #1195
@adinuca Which Mturk credentials are used in staging site? If its production credentials, could you please update with them with staging credentials, so that we could do the testing

cc @anjesh

[2019-08-27 06:44] adinuca commented on #1195
@man-git007 updated staging with the staging credentials. Sandbox is set to true.

[2019-08-27 07:26] man-git007 commented on #1195
@adinuca Could you please mail me MTURK_TASK_URL env value.

[2019-08-27 07:50] adinuca commented on #1195
@man-git007 , this is not sensitive information, I will add it here. For staging it is :
[code]
for production it is :
[code]

[2019-08-27 09:54] man-git007 commented on #1195
@charlesyoung Regarding transcribed text, it has been fixed.

[2019-08-27 11:02] charlesyoung commented on #1195
@man-git007 do I need publish another doc to test because as you can see the transcribed text isn't showing.

![image](https://user-images.githubusercontent.com/13888372/63766147-d2608280-c8ca-11e9-833e-e521866028f1.png)

[2019-08-27 11:30] man-git007 commented on #1195
@charlesyoung Isn't the transcribed text is **AZ6XLXCXOT8BN**

[2019-08-27 11:33] charlesyoung commented on #1195
@man-git007 its the workers ID not the text. We need to arrange a Skype call tomorrow because I'm concerned that you don't understand the details.

cc @anjesh @adinuca

[2019-08-28 07:34] man-git007 commented on #1195
@charlesyoung Yes, it is workers ID and for transcribed text to show, an API call had to be made. I think its working now. I have attached a screenshot. You can test by resetting the HIT or creating a new task.

![Screenshot from 2019-08-28 13-16-43](https://user-images.githubusercontent.com/23434972/63835035-592e6180-c996-11e9-83e7-a89e2408962c.png)

cc @anjesh

[2019-08-28 09:13] charlesyoung commented on #1195
@man-git007 for it to work I need to see the transcribed text in the blank (X) box which I don't see. Do I have to upload a new doc to test?

![image](https://user-images.githubusercontent.com/13888372/63842245-88d46e00-c984-11e9-95ce-db7641075b34.png)

@anjesh

[2019-08-28 09:34] man-git007 commented on #1195
@charlesyoung Yes because previously the transcribed text was not submitted. So Either you can reset the HIT or create a new task.

[2019-08-28 09:37] charlesyoung commented on #1195
It seems that it was submitted and transcribed as below shows but I will create a new task.

![image](https://user-images.githubusercontent.com/13888372/63844232-20878b80-c988-11e9-86f4-d2ea62552a4c.png)

[2019-08-28 09:50] anjesh commented on #1195
@charlesyoung i transcribed the text from Mturk sandbox and it's appearing now in Mturk interface in RC. Please check.

[2019-08-28 09:56] charlesyoung commented on #1195
OK @anjesh, is below expected when the text has been approved?

![image](https://user-images.githubusercontent.com/13888372/63845742-bc19fb80-c98a-11e9-8a1e-d0b8707aa03d.png)

[2019-08-28 09:58] anjesh commented on #1195
Ok. I think that part is missed. This page below is working. There's a lot of change in the response from Mturk API and documentation is scattered. So that will be taken care of now.

![image](https://user-images.githubusercontent.com/120488/63845900-78cf8500-c9aa-11e9-9547-be76dcb7e9d8.png)

[2019-08-28 10:13] #1201 closed

[2019-08-28 10:56] man-git007 commented on #1195
@charlesyoung Send to RC has been fixed. Please test from the start.

cc @anjesh

[2019-08-28 12:22] charlesyoung commented on #1195
Please transcribed below doc text using the Mturk sandbox. @man-git007

![image](https://user-images.githubusercontent.com/13888372/63855210-2a68b900-c99f-11e9-8c46-19c7bbca9633.png)

[2019-08-28 13:34] charlesyoung commented on #1195
@man-git007 can you also please look at below email from a Turker with a Worker ID of A2CS8ESKDX6EBA

![image](https://user-images.githubusercontent.com/13888372/63860052-bc28f400-c9a8-11e9-8e7e-3138df1f2690.png)

[2019-08-29 04:06] man-git007 commented on #1195
@charlesyoung This pdf was uploaded locally using production credential. Please ignore it and sorry for the confusion.

[2019-08-29 06:11] charlesyoung commented on #1195
Thanks @man-git007. Can you please transcribed above doc text using the Mturk sandbox so that I can test the entire process.

[2019-08-29 09:30] charlesyoung commented on #1195
@anjesh can you please transcribed above doc text using the Mturk sandbox so that I can test the entire process. We are pressed for time to get this up and running. Tx

[2019-08-29 09:56] anjesh commented on #1195
Just did that. Please check.

![image](https://user-images.githubusercontent.com/120488/63930637-71c07980-ca73-11e9-919c-e9712e6045c4.png)

[2019-08-29 10:29] charlesyoung commented on #1195
Thanks @anjesh. Looks like its working so will it be possible to update the Prod site so that I can get CCSI to do a final test.

@man-git007 @adinuca

[2019-08-29 11:15] man-git007 commented on #1195
@charlesyoung The changes have been merged to master.
@adinuca Please change the env variables if needed.

cc @anjesh

[2019-08-29 11:15] adinuca commented on #1195
I already added the missing one for production.

[2019-08-29 11:43] charlesyoung commented on #1195
Thanks @adinuca and @man-git007

I will get below error when clicking on the review link (2nd page) for below doc on the Prod site.

![image](https://user-images.githubusercontent.com/13888372/63937455-c0194c80-ca62-11e9-9b4f-c9f667ff3cc4.png)

![image](https://user-images.githubusercontent.com/13888372/63937475-d0c9c280-ca62-11e9-8e2e-e6bcf755206e.png)

[2019-08-29 11:44] adinuca commented on #1195
There is also an error email:
[code]
I can have a deeper look tomorrow.

[2019-08-30 05:52] man-git007 commented on #1195
@charlesyoung The error was due to submit date rendering and has been fixed and also have been merged to master.

cc @anjesh @adinuca

[2019-08-30 07:05] charlesyoung commented on #1195
Thanks @man-git007. However I don't see the PDF doc on the right which is used to review how the text has been captured. See below image.

![image](https://user-images.githubusercontent.com/13888372/64000033-25257e80-cb05-11e9-9add-0bdf94585e30.png)

![image](https://user-images.githubusercontent.com/13888372/63999985-08894680-cb05-11e9-9001-dca40952760b.png)

[2019-08-30 07:13] anjesh commented on #1195
Could you try refreshing again? It's showing at our end.

![image](https://user-images.githubusercontent.com/120488/64000528-b0167100-cb25-11e9-8657-08a817c73f60.png)

[2019-08-30 07:25] charlesyoung commented on #1195
Ahh, OK thanks. I will ask CCSI to do a final test on the Prod site.

Thanks for the help @man-git007

[2019-09-03 22:01] SolinaCCSI opened #1224 "Mechanical Turk 'Assignment could not be reject""
Using Mechanical Turk and one single document cannot be 'rejected.' The submitted document states that it is 'too blurry' to translate, and the original document does not load on the page. Then, when attempting to reject the translation, I receive the error as shown in this photo. Any idea how to fix this? Thank you in advance! @SamCCSI @charlesyoung
![Screen Shot 2019-09-03 at 3 51 20 PM](https:/

[2019-09-05 05:49] charlesyoung commented on #1224
@man-git007 have you had time to look at this issue? I'm keen to close the MTurk ticket.

cc @anjesh @SolinaCCSI

[2019-09-05 06:27] charlesyoung commented on #1114
1. Contract names generated via the import needs to adhere to our standard i.e. Hocol S.A., Concession, 2014 (first doc no number), Hocol S.A., Concession, 2014-1 (second doc a number 1, etc). It’s currently creating duplicate names.
2. Bug as noted above
3. Signature date issue
4. Add additional columns in the xls

[2019-09-05 06:30] charlesyoung opened #1225 "Home page redesign"
- [ ] homepage design is prepared as per [discussion here](https://docs.google.com/document/d/1_Mkx7BRUWFhuKzrh-XWIC9D6S1ZIClQBxMZrO0Dr6bE/edit#heading=h.q0zqq4vwn1rt)

## Initial slide for reference

![image](https://user-images.githubusercontent.com/120488/68452001-1bad4680-0219-11ea-93d6-7bd3102a3fea.png)

[2019-09-05 06:31] charlesyoung opened #1226 "Narrowing: Link free text and drop-down search results/functions"
- [x] when search is performed (whether free-text or dropdown), the free-text and dropdown should be present

![image](https://user-images.githubusercontent.com/120488/68450123-fbc65480-0211-11ea-837c-6d4197a6c577.png)

[2019-09-05 06:34] charlesyoung opened #1227 "Option to hide advanced search bar"
- [x] hide option is enabled in search in document listing

![image](https://user-images.githubusercontent.com/120488/68449762-93c33e80-0210-11ea-86bc-58949e1cff03.png)

That hide search is enabled in document-view page so we need to replicate that feature in listing page

![image](https://user-images.githubusercontent.com/120488/68449803-ba817500-0210-11ea-8c55-e13d06c93ab9.png)

[2019-09-05 10:31] man-git007 commented on #1224
@SolinaCCSI  We have gone through the possible issue and upon testing in staging server the error didn't occur. The assignment of particular HIT could return an error if the HIT had the 'Disposed' state. That may be the case. So, for this, we have enabled error logging of MTurk API.

@charlesyoung If any error during MTurk API call, we will have to look into the log file. So, MTurk ticket should n

[2019-09-05 10:35] charlesyoung commented on #1224
Thanks @man-git007

What should @SolinaCCSI do next?

[2019-09-09 09:34] charlesyoung commented on #1224
@SolinaCCSI has the issue been resolved?

[2019-09-09 09:38] #1159 closed

[2019-09-09 09:39] #1158 closed

[2019-09-09 12:27] man-git007 opened #1230 "Log Files Deleted"
We were expecting some error or info logs but there seems to be deletion of log files in `/storage/logs/` path. Does the log files get deleted after some period of time or gets deleted after deployment?

Since we are logging the MTurk API error logs. If there is periodic deletion of log files we might not be able to debug MTrul API errors.

cc @charlesyoung @adinuca @anjesh

[2019-09-09 12:32] adinuca commented on #1230
Hi @man-git007 , the logs get deleted with each deployment. You can configure the app to send the specific logs to Papertrail and access them from there. Configuration needs to go in https://github.com/NRGI/resourcecontracts.org/blob/master/conf/log_files.yml.template ( if not already there).

I am not sure if you have access to https://papertrailapp.com/groups/3881793/events?q=ecs-rc-admin&focus=

[2019-09-09 15:08] SolinaCCSI commented on #1224
Hi Charles,

Thanks so much for your work on this. New documents have been coming in and
and I have been able to approve them, so all good on that front.

However, the same issue is still happening for that one Feronia document,
where I cannot see what the original document looks like, nor am I able to
reject their submission (Feronia, Plantations Lever Zaire (PLZ), N° 453,
SR. 64 & 65, Boteka, Le

[2019-09-10 05:39] charlesyoung commented on #1224
@SolinaCCSI it seems like an impossible doc to transcribe. The text has been cut off on the sides and its very blurry. Not sure that this doc can be transcribed or frankly should be published.

[2019-09-10 07:31] man-git007 commented on #1230
@adinuca mey email:manish.pradhan@yipl.com.np

[2019-09-10 07:33] adinuca commented on #1230
You should receive an invite.

[2019-09-10 09:18] man-git007 commented on #1230
@adinuca Thank you for giving papertrail access. I have also updated the
[https://github.com/NRGI/resourcecontracts.org/blob/master/conf/log_files.yml.template](https://github.com/NRGI/resourcecontracts.org/blob/master/conf/log_files.yml.template)

[2019-09-12 09:45] charlesyoung opened #1234 "DRC 'View by Resource' bug"
Clicking on 'View by Resource' and 'View all resources' opens the Ministries website and not the resource list in RC.

![image](https://user-images.githubusercontent.com/13888372/64773368-86f8d600-d552-11e9-891a-6e9a315c2f64.png)

https://www.mines-rdc.cd/resourcecontracts/

[2019-09-19 06:59] vishnu337 opened #1235 "Fatal error: Class 'Illuminate\Foundation\Application' not found in /var/www/html/resourcecontracts/bootstrap/app.php on line 14"
## Why
![resourcecontracts dev resourcecontracts public ](https://user-images.githubusercontent.com/55528482/65220752-16653280-dad9-11e9-935a-ccd46b053bde.png)

## What

## Notes

[2019-09-19 07:04] adinuca commented on #1235
Hi @vishnu337 , can you give us more details on how to reproduce this?

[2019-09-19 07:09] vishnu337 commented on #1235
when access http://resourcecontracts.dev /public shows this error. I download the code and perform all commands. php version 7. Os :ubintu 14

[2019-09-20 06:24] vishnu337 opened #1236 "PHP Fatal error: Uncaught Error: Call to undefined method Illuminate\Foundation\Bootstrap\ConfigureLogging::configureCustomHandler() in /var/www/html/resourcecontracts/vendor/laravel/framework/src/Illuminate/Foundation/Bootstrap/ConfigureLogging.php:54"
PHP Fatal error:  Uncaught Error: Call to undefined method Illuminate\Foundation\Bootstrap\ConfigureLogging::configureCustomHandler() in /var/www/html/resourcecontracts/vendor/laravel/framework/src/Illuminate/Foundation/Bootstrap/ConfigureLogging.php:54
Stack trace:
#0 /var/www/html/resourcecontracts/vendor/laravel/framework/src/Illuminate/Foundation/Bootstrap/ConfigureLogging.php(17): Illuminate\

[2019-09-20 08:09] charlesyoung commented on #1236
@vishnu337 can you please identify yourself seeing that you don't work for any of the ResourceContracts system development companies.

[2019-09-23 09:11] #1236 closed

[2019-09-23 09:12] #1235 closed

[2019-10-15 20:13] SolinaCCSI opened #1237 "Cannot 'Send to RC'"
## Why
![Screen Shot 2019-10-15 at 4 11 50 PM](https://user-images.githubusercontent.com/54867922/66866109-a1b1d680-ef66-11e9-8458-2fb8b7532388.png)

## When I press 'Send to RC' I am taken to this error page shown below

## Notes

[2019-10-16 06:37] #1224 closed

[2019-10-16 08:52] charlesyoung commented on #1237
@man-git007 please note that there is an issue when sending a completed MTurk doc to RC. Not sure if its related to the MTurk API update.

cc @SolinaCCSI @anjesh

![image](https://user-images.githubusercontent.com/13888372/66894153-ffd6cc00-efef-11e9-9174-18afb6704f37.png)

Link: https://github.com/NRGI/resourcecontracts.org/issues/1195

[2019-10-21 04:39] adinuca opened #1238 "MTURK - hit does not exist"
## Why
Mturk errors have been logged in RC Admin, for which we don't know the cause.

## What
- [ ] Error is investigated

## Notes
[code]

[2019-10-22 09:35] charlesyoung commented on #1237
@man-git007 have you had time to look at this issue? We currently cannot push any MT updates to RC.

cc @SolinaCCSI @anjesh

[2019-10-22 09:38] charlesyoung commented on #1237
I received attached error (via email).

[MTurk issue.docx](https://github.com/NRGI/resourcecontracts.org/files/3754688/MTurk.issue.docx)

[2019-10-22 14:43] SolinaCCSI commented on #1237
Hi Charles,

Please let me know if there is something I can do to fix this, or more
information I can provide.

Thank you!

On Tue, Oct 22, 2019 at 5:38 AM Charles Young <notifications@github.com>
wrote:

--

*SOLINA KENNEDY**Assistant to the Director – Land and Agriculture,
Extractive Industries*

*Columbia Center on Sustainable Investment*Columbia Law School | The Earth
Institute, Columbia Unive

[2019-10-23 07:43] anjesh commented on #1237
@man-git007 is currently on vacation till Oct 30. Let me see if we could do anything on this particular issue, otherwise we might have to wait till his arrival.

[2019-10-23 22:43] SolinaCCSI opened #1239 "Annotations entered in under "French" do not show up when viewing English version"
![Screen Shot 2019-10-23 at 6 39 23 PM](https://user-images.githubusercontent.com/54867922/67439535-7f523580-f5c4-11e9-9de2-5ecac05d7dcb.png)

![Screen Shot 2019-10-23 at 6 40 21 PM](https://user-images.githubusercontent.com/54867922/67439571-985ae680-f5c4-11e9-804b-4a9acbf1c4f6.png)

![Screen Shot 2019-10-23 at 6 40 46 PM](https://user-images.githubusercontent.com/54867922/67439592-a7da2f80-f5c4-

[2019-10-24 10:27] adinuca opened #1240 "RC Admin errors"
@adinuca commented on [Mon Oct 21 2019](https://github.com/NRGI/nrgi-dcos/issues/514)

## Why

## What

## Notes
[code]

---

@adinuca commented on [Thu Oct 24 2019](https://github.com/NRGI/nrgi-dcos/issues/514#issuecomment-545854284)

Hi @charlesyoung , did you encounter any issues when adding the following contract: http://admin.resourcecontracts.org/contract/4033?
The stacktrace above was gener

[2019-10-24 10:27] adinuca opened #1241 "RC Admin errors"
@adinuca commented on [Mon Oct 21 2019](https://github.com/NRGI/nrgi-dcos/issues/514)

## Why
Errors were generated when processing contract http://admin.resourcecontracts.org/contract/4033

## What
- [ ] Cause of the error is found and fixed.
## Notes
[code]

---

@adinuca commented on [Thu Oct 24 2019](https://github.com/NRGI/nrgi-dcos/issues/514#issuecomment-545854284)

Hi @charlesyoung , did y

[2019-10-24 20:30] SamCCSI commented on #1239
Thanks @SolinaCCSI

Also noting that this bug is a problem because (a) a pro bono annotator has used the "french" option for dozens of contracts and (b) Users on the site who have the site's language set as English will just see the annotation markers, but no annotation text.
![image](https://user-images.githubusercontent.com/12913915/67522879-8c7e2b80-f67b-11e9-9101-e3f57db14df3.png)

[2019-11-08 04:57] anjesh commented on #1196
There's a confusion on the data between License name and Project name and which fields to update in the database.

For ex: Excel file row 2060 says `project Title:  Block 72, Al-Ain Area`. But in the system, that's `Licence Title`

![image](https://user-images.githubusercontent.com/120488/68450451-3f6d8e00-0213-11ea-8f6d-3df4ac8d2447.png)

![image](https://user-images.githubusercontent.com/120488/

[2019-11-08 05:04] anjesh opened #1242 "Fixes in "Contract Import CSV / Excel file""
- [x] Contract names generated via the import needs to adhere to our standard i.e. Hocol S.A., Concession, 2014 (first doc no number), Hocol S.A., Concession, 2014-1 (second doc a number 1, etc). It’s currently creating duplicate names.
- [x] add signature year column but if signature date is present, then signature year column will be ignored and pulled from signature date column.
- [x] update re

[2019-11-08 05:06] anjesh commented on #1114
Closing this. Further issues will be handled in https://github.com/NRGI/resourcecontracts.org/issues/1242

[2019-11-08 05:06] #1114 closed

[2019-11-08 05:06] anjesh commented on #1242
what are the additional columns to be added in excel? @charlesyoung

[2019-11-08 05:12] anjesh commented on #1195
This is good to close. Bug related to this feature will be handled here https://github.com/NRGI/resourcecontracts.org/issues/1237

[2019-11-08 05:12] #1195 closed

[2019-11-08 05:33] anjesh opened #1243 "Hover for tutorials in the homepage"
There will be hover functionality where the user will be able to view the tutorials on how to use the system

Linked with home page design https://github.com/NRGI/resourcecontracts.org/issues/1225

[2019-11-08 05:57] anjesh opened #1244 "Update search API with weightage for different elements"
More details here
[google docs](https://docs.google.com/document/d/1Rqtsm-B-T0yEhm5rAUjYVDQ_2pGiW7B03rR9LLJJHwg/edit#heading=h.9no24l1h6n2h) and https://rpubs.com/anjesh/508203

[2019-11-08 06:33] charlesyoung commented on #1242
1. We need a more elegant way of importing main and associated documents. The current method of first importing the main document and then capturing the OCID for the related associated documents is cumbersome.
2. Take a look at this Google [sheet](https://docs.google.com/spreadsheets/d/1Qn9Z-ILIkuacwNk3CWSz7p9-_sY28tdvyRqrHrYol0o/edit#gid=1642145229). There is an issue uploading the documents note

[2019-11-08 06:36] charlesyoung commented on #1225
cc @SamCCSI @jedm, ticket for further comms on the homepage redesign.

[2019-11-08 06:37] charlesyoung commented on #1243
cc @SamCCSI @jedm, ticket for further comms on the hover for tutorials on the homepage.

[2019-11-08 06:42] charlesyoung commented on #1244
@SamCCSI @jedm, ticket for further comms on the weighting.

[2019-11-12 08:07] anjesh commented on #1242
## Issue with document URL with google-drive

For the Document URL using google-drive, the URL is a html page with download URL. you need to use download url, i have created new column with download-url [here](https://docs.google.com/spreadsheets/d/1Qn9Z-ILIkuacwNk3CWSz7p9-_sY28tdvyRqrHrYol0o/edit#gid=1690570418). Please try. This should work.

## Linking main and associated documents in the same

[2019-11-12 08:08] anjesh commented on #1196
@charlesyoung need more info on this issue?

[2019-11-12 09:14] anjesh opened #1245 "Develop API for "All Contracts and Documents""
- [ ] API should have the following definition `/groupedcontracts` to differentiate from existing [`/contracts`](https://github.com/NRGI/resourcecontracts.org/wiki/Get-All-Contracts)
- [ ] default sort order is the following. [see implementation code](https://rstudio-pubs-static.s3.amazonaws.com/508203_c2022c0bca8c430fa98a2c25b181c95f.html#sorting-by-has_annotations-is_contract-and-id-recent)
  *

[2019-11-12 10:03] anjesh opened #1246 "Develop new free-text Search API"
- [ ]  API should have the following definition `/groupedcontracts/search` to differentiate from existing [/contracts/search](https://github.com/NRGI/resourcecontracts.org/wiki/Search-Contracts)
- [ ] sort order is the weight returned by ES
- [ ] following fields will be searched for free-text search. see [implementation](https://rstudio-pubs-static.s3.amazonaws.com/508203_c2022c0bca8c430fa98a2c25

[2019-11-13 00:28] charlesyoung commented on #1242
Thanks @anjesh Would we ever use the 'missing above keyword' option because all associated documents should have a main document. Or does it just give us another option in case its required for some reason.

[2019-11-13 09:38] man-git007 commented on #1237
@charlesyoung This issue has been resolved. The issue was due to the Old MTurk Api Data format.

The issue has been documented in MTurkService.php file itself. The link to the file is below.

`https://github.com/NRGI/resourcecontracts.org/blob/236acfa09fc50de4c1d788f5d1ce568713f50bf6/app/Nrgi/Mturk/Services/MTurkService.php#L154-L184`

cc @anjesh

[2019-11-13 10:40] anjesh commented on #1237
Thanks @man-git007
I tried "Send to RC" for the above highlighted contract and it worked. Please reopen if there's any issue. @charlesyoung @SolinaCCSI

[2019-11-13 10:40] #1237 closed

[2019-11-13 10:41] rumus007 commented on #1227
- [x] Hide search option is enabled in document view page

[2019-11-13 10:56] bizaybsnt commented on #1163
@charlesyoung
This issue has been fixed and deployed to the master. Please check and verify it.

cc: @anjesh

[2019-11-13 16:46] SolinaCCSI commented on #1237
It works, thank you so much!!

On Wed, Nov 13, 2019 at 5:40 AM Anjesh <notifications@github.com> wrote:

--

*SOLINA KENNEDY**Assistant to the Director – Land and Agriculture,
Extractive Industries*

*Columbia Center on Sustainable Investment*Columbia Law School | The Earth
Institute, Columbia University
435 West 116th St. New York, NY 10027
| (+1)(303)775-6339 <http://3037756339>
| solina.kennedy

[2019-11-14 00:35] charlesyoung commented on #1163
Thanks @bizaybsnt

I will test and get back to you.

[2019-11-14 22:39] #1163 closed

[2019-11-15 01:20] charlesyoung commented on #1240
@adinuca is this the same as ticket #1240?

[2019-11-15 01:28] charlesyoung commented on #1196
Should be the Project Title and not License Name. So for below example 'Patoz Marinza' should be removed from the License Name and 'Patos Marinza' added to the Project Title.

![image](https://user-images.githubusercontent.com/13888372/68909655-bcd75800-0757-11ea-97d9-4ded92934f28.png)

![image](https://user-images.githubusercontent.com/13888372/68909628-a3cea700-0757-11ea-9c82-ea8814630003.png)

[2019-11-15 04:15] rumus007 commented on #1226
- [x]  Free text and advanced search results are now linked.

Text will be now present in the free text search bar and users will be able to continue with the advanced search selecting any of the options.

[2019-11-15 05:30] adinuca commented on #1240
Hi @charlesyoung , it is the same as https://github.com/NRGI/nrgi-dcos/issues/514 . I first added it to the wrong repository.

[2019-11-15 05:33] charlesyoung commented on #1240
Can we close #1241

[2019-11-15 05:34] adinuca commented on #1241
Closing this as duplicate of #1240

[2019-11-15 05:34] #1241 closed

[2019-11-15 08:00] anjesh commented on #1226
@charlesyoung please verify.

[2019-11-15 08:13] anjesh commented on #1242
## Linking main and associated documents in the same CSV

Shall we assume that unless OCID is mentioned, associated is always linked with main (which always appears in row above associated)

![image](https://user-images.githubusercontent.com/120488/68926858-8bd64200-07ae-11ea-91b7-d307ed4c5a6b.png)

And there might be a case where incorrect OCID is types, in that case, we will still import associa

[2019-11-15 08:27] anjesh commented on #1196
Not clear what you are trying to say?

## Examples

### Example 1

https://resourcecontracts.org/contract/ocds-591adf-2547744131

![image](https://user-images.githubusercontent.com/120488/68927754-91cd2280-07b0-11ea-81fd-7dd19750e8fb.png)

![image](https://user-images.githubusercontent.com/120488/68927789-a90c1000-07b0-11ea-9d2d-1234ea7ff8c3.png)

- [ ] Do we delete `Amu Darya Basin EPSC` from Lic

[2019-11-15 08:39] anjesh commented on #1234
@charlesyoung  We need server access to www.mines-rdc.cd. The credentials mentioned [here](https://docs.google.com/spreadsheets/d/1EyHcGzATL0hrNgbREeTvUh47mVbxcLVMOu0bY30rGa8/edit#gid=0) doesn't work.

[2019-11-15 09:11] charlesyoung commented on #1226
Is this deployed on staging?

Can we run it the other way round i.e. user runs advanced search and users will be able to continue with a free text search?

cc @jedm

[2019-11-15 09:31] anjesh commented on #1239
This is not a bug but the system was designed that way. English is the default and fallback language, which means that annotation or any other metadata should be (ideally) mentioned in english first, and then other languages (french or arabic) can override them and if not overridden then english values are shown.

For example, for this [contract](https://resourcecontracts.org/contract/ocds-591adf-

[2019-11-15 09:47] adinuca commented on #1234
Hi @charlesyoung , we don't have access to the document nor the website.

[2019-11-15 11:27] charlesyoung commented on #1239
Thanks @anjesh

Just a note that we don't have much if any budget for this.

cc @SamCCSI

[2019-11-15 12:01] jedm commented on #1226
Agree with Charles. This should function fully in “both directions.”

[2019-11-18 04:25] anjesh commented on #1227
@charlesyoung please verify and close this issue.

[2019-11-18 04:29] rumus007 commented on #1226
@charlesyoung
The search functionality in both directions is implement in staging site.
cc @anjesh

[2019-11-18 05:38] charlesyoung commented on #1227
Works but we need a more obvious way to unhide.

[2019-11-18 05:45] charlesyoung commented on #1226
Thanks, please implement on prod.

[2019-11-18 07:33] charlesyoung commented on #1242
We should add a signature year column because we currently only have a signature date column and there are documents without a signature date.

Also please try import attached xls. I get below error after changing the URL as noted above.

![image](https://user-images.githubusercontent.com/13888372/69032915-5ddb4280-09e6-11ea-8179-0bcd02a4790e.png)

[Zambia test import.xlsx](https://github.com/NRGI

[2019-11-18 10:44] rumus007 commented on #1226
@charlesyoung
The search functionality has been implemented in production. Please do have a look.
cc @anjesh

[2019-11-18 11:41] #1226 closed

[2019-11-19 12:11] charlesyoung commented on #1227
Please hold for now. Getting feedback from some RC users.

[2019-11-19 12:16] charlesyoung commented on #1196
1. No, only delete license names if different from the Google sheet. Ignore and retain all license names if null in the Google sheet.
2. Yes, delete existing license names if different from the Google sheet
3. Seems to be no place to store the project title reference name so ignore

[2019-11-20 08:06] anjesh commented on #1242
Then in that case, we will have new signature year column but signature date will override signature year if both these values are present, to avoid confusion when both are present and have different years.

[2019-11-20 08:43] anjesh commented on #1196
I see that there are still more highlighted columns. Here's my understanding and further confusions on other columns in the [copied sheet](https://docs.google.com/spreadsheets/d/1y5OqZtO4kXfa81GooCuUE5Dc79q9BGah-pu95eBb4PY/edit#gid=1797780160)

* `Project title` is replaced by `corrected project title` if `corrected project title` is present, otherwise we don't delete existing `project title`
* `L

[2019-11-20 09:44] charlesyoung opened #1249 "Create a country RC site - Ivory Coast"
@anjesh I will get back to you with the country once selected.

[2019-11-20 10:04] charlesyoung opened #1250 "Sorting bug"
Some users cannot sort columns like date (shown below)

![image](https://user-images.githubusercontent.com/13888372/69228003-80f32700-0b8b-11ea-9652-879d6aa537ef.png)

Tehtena Mebratu-Tsegaye (tm2675@columbia.edu) noted this issue.

[2019-11-20 10:38] anjesh commented on #1196
## Disclosure mode

For the disclosure mode, we found the following items. Are all of these to be added in the dropdown? @charlesyoung

- Government
- Company
- Security   exchange
- Company   website
- EITI
- Civil   society
- Media
- OpenOil
- Found   elsewhere
- Informal

[2019-11-20 10:53] rumus007 commented on #1242
@charlesyoung
The excel file upload now consists of the following and is implemented in the staging:
- [x] The contract name generation adheres to our standard i.e. if contract name is present in the excel file the same name is stored. If there is no contract name present it will be generated via system. If the contract names are same the number will be appended.

- [x] Signature year column is ad

[2019-11-20 10:53] charlesyoung commented on #1196
- Don’t use ‘Found elsewhere’ and Informal’
- Can we add ‘Security exchange’ to the lookup table?
- ‘Company website’ = ‘Company’
- Can we add ‘EITI’, ‘Civil society‘, ‘Media’ and ‘OpenOil’ as ‘Other’ Rather than adding it to the look up table?

[2019-11-20 12:37] charlesyoung commented on #1227
Below PowerPoint outlines the suggested display. Some points.
- Search text is changed from 'Search all documents' to 'Free text document search' to make it more obvious
- The hide and show bars and displayed permanently
- The newly added hide icon is removed

[RC search hide and display.pptx](https://github.com/NRGI/resourcecontracts.org/files/3869166/RC.search.hide.and.display.pptx)

@jedm do we

[2019-11-20 12:47] charlesyoung commented on #1242
Thanks @rumus007

Can you please add some details re the linking of docs i.e. OCID, etc to the xls readme tab.

I don't understand your comment that the 'document url is not downloadable'. What link format is required from Google Drive, Dropbox, Box, etc?

[2019-11-20 15:31] jedm commented on #1227
@charlesyoung My recommendations:

- Agree about removing Advanced Search from PDF and doc text page
- Agree about conforming the open/close/expand/collapse/hide mechanism so it's the same wherever the Advanced Search appears
- I don't think a term like "free text search" is useful in the prompt. Let's take a minute to finalize what the text should be in the buttons/open-close prompts

[2019-11-20 16:38] SolinaCCSI commented on #1239
Thank you @anjesh and @charlesyoung. Given the limited budget and the time this will take, I think we will hold off activity on this issue for now. Thanks again for your help!

cc @SamCCSI

[2019-11-20 16:38] #1239 closed

[2019-11-21 03:52] rumus007 commented on #1242
@charlesyoung

The link in the first xls file was: https://drive.google.com/file/d/1g2Q0QuqTp5oU7qIcDBwiifXC0PsZUIXS/view?export=download
If you click on the link it will open the document however it will not download the file.

You have to click on the download icon in order to get the download link which
https://drive.google.com/a/yipl.com.np/uc?authuser=0&id=1g2Q0QuqTp5oU7qIcDBwiifXC0PsZUIXS&ex

[2019-11-21 07:45] charlesyoung commented on #1242
I tested the main and supporting documents import and that works.

We will however need to find a better solution re the URL. I cannot expect a user who has copied 100 documents to a Google Drive to get the required download link for each document.

[2019-11-21 07:50] charlesyoung commented on #1227
Thanks @jedm

@anjesh can you please remove the advanced search option from the PDF and text page.

@jedm are you happy with the proposed display noted in the PowerPoint?

Will wait before updating the 'Search all documents' text.

[2019-11-21 08:16] jedm commented on #1227
Could the button that opens/closes simply say “Show Search Tools” and “Hide Search Tools?”

Also, after the new Hide control is in place do we still want the red “Hide” button that’s next to Search and Reset? I don’t think it is necessary, but if people prefer to keep it, would change it to same text, and change colors to same colors as show/hide button above (gray on gray).

[2019-11-21 08:23] charlesyoung commented on #1227
Thanks @jedm, PowerPoint updated with “Show Search Tools” and “Hide Search Tools". Yep I suggest that we remove the newly added "Hide" button.

[RC search hide and display.pptx](https://github.com/NRGI/resourcecontracts.org/files/3873542/RC.search.hide.and.display.pptx)

[2019-11-21 09:41] #1194 closed

[2019-11-21 09:42] #1164 closed

[2019-11-21 09:50] rumus007 commented on #1227
@charlesyoung

- [x] Search bar is removed in the document text and PDF page.

- [x] "Show Search Tools" and "Hide Search Tools" button structure is implemented.

- [x] Previously added hide button is removed

All changes are implemented in staging site.

cc @anjesh

[2019-11-21 10:02] charlesyoung commented on #1227
Thanks.

I don't see the "Hide Search Tools" button.

![image](https://user-images.githubusercontent.com/13888372/69327791-c3ce0100-0c56-11ea-8fb9-0fd0c4f32dd2.png)

[2019-11-21 11:32] nirvanalama commented on #1225
We've designed an initial low fidelity wireframe for the homepage of ResourceContracts according to the discussions and references. Please let us know what you think about it.

![image](https://user-images.githubusercontent.com/57661914/69331807-7749ec00-0c7d-11ea-866c-5f74d9bfd376.png)

We'll be using Invision for further discussion on the designs. Here's the invision [link](https://resourcecontr

[2019-11-21 11:39] rumus007 commented on #1227
It maybe due to cache. Please hard refresh the page.

[2019-11-21 11:42] charlesyoung commented on #1227
Please move to the Prod Site. Thanks

[2019-11-21 11:46] charlesyoung commented on #1225
cc @jedm

[2019-11-22 04:50] adinuca commented on #1240
Hi @charlesyoung ,
This is still happening and it should be looked at.
[code]

[2019-11-22 04:51] adinuca commented on #1240
If this is an expected issue, it should be handled better with a specific message shown to the user and less logs.

[2019-11-22 04:52] adinuca commented on #1206
This happens when the API returns an error. It can be closed.

[2019-11-22 04:52] #1206 closed

[2019-11-22 04:53] adinuca commented on #1124
There are no security alerts for RC Subsite. Closing this.

[2019-11-22 04:53] #1124 closed

[2019-11-22 04:56] adinuca commented on #1146
This is still reproducible.
[code]

[2019-11-22 04:59] adinuca commented on #1149
This happens when the answer from the API is not in the expected format - for example if an error occurs. It is the same as https://github.com/NRGI/resourcecontracts.org/issues/1206#issuecomment-557388107
Fixing it won't have a big impact on the user experience.

[2019-11-22 04:59] #1149 closed

[2019-11-22 05:00] adinuca commented on #1175
@charlesyoung , this should still be done at some point.

[2019-11-22 05:03] adinuca commented on #1176
This still needs to be done. Every time bots crawl one of the subsite, Elasticsearch gets overloaded due to the number of requests made to the API, which in turn queries Elasticsearch.
Our current way of avoiding the site going down when a bot crawls the subsites is to block the bot.

[2019-11-22 05:07] adinuca commented on #1191
This is just a reminder to check if the domain got renewed, I would leave this open.

[2019-11-22 05:10] adinuca commented on #1240
This is the same as #1200

[2019-11-22 05:10] #1240 closed

[2019-11-22 05:10] adinuca commented on #1200
This is still happening, if this is an expected issue, it should be handled better with a specific message shown to the user and less logs.

[2019-11-22 05:12] adinuca commented on #1203
This is still happening:
[code]

[2019-11-22 06:56] charlesyoung commented on #1230
@man-git007 can we close this ticket?

cc @adinuca

[2019-11-22 10:17] man-git007 commented on #1230
@charlesyoung yes we can close this ticket

[2019-11-22 10:19] #1230 closed

[2019-11-22 10:21] charlesyoung commented on #1192
@SamCCSI can I close this ticket?

[2019-11-22 10:22] charlesyoung commented on #1191
cc @SamCCSI

[2019-11-22 10:23] rumus007 commented on #1227
@charlesyoung
Changes are implemented in prod site.
cc @anjesh

[2019-11-22 10:26] charlesyoung commented on #1227
Thanks @rumus007

How can we address the caching issue because I'm concerned that all existing RC users will see the 'hide' but not 'show' button as I have experienced on the Staging and Prod sites?

[2019-11-22 10:46] rumus007 commented on #1227
It is due to browser cache. Quickest way is to hard refresh the page to remove the cache. Chrome or any other browsers tend to refresh cache automatically after certain period of time usually 24 hours.

[2019-11-22 10:57] charlesyoung commented on #1227
I'm going to leave this ticket open for now.

The staging sites cache still hasn't refreshed since yesterday so I'm concerned that RC users will hide the search bar and then have no way of getting it back which is currently the case. I will check again on Monday.

[2019-11-22 11:15] #1192 closed

[2019-11-22 11:34] #1103 closed

[2019-11-22 11:36] charlesyoung commented on #1045
Closing this ticket because its part of the new home page design (#1225)

[2019-11-22 11:36] #1045 closed

[2019-11-22 11:47] anjesh commented on #1242
Does it make sense to give a proper instruction on how to convert the [url](https://drive.google.com/file/d/1g2Q0QuqTp5oU7qIcDBwiifXC0PsZUIXS/view?export=download) to [download url](https://drive.google.com/a/yipl.com.np/uc?authuser=0&id=1g2Q0QuqTp5oU7qIcDBwiifXC0PsZUIXS&export=download) in case of google drive? Can we  expect user to follow such instructions when while preparing the data for impo

[2019-11-22 11:51] charlesyoung commented on #1242
Is there a command / routine that the user could run to convert from url to download url rather than having to do it individually? I monitor and manage all imports so will provide the required instructions to the user.

[2019-11-22 12:50] charlesyoung commented on #1225
Initial thoughts.
- Nr 2 (below) seems to be the best option to start enhancing
- Remove the ‘All documents’ and 'Guides' links from the top navigation bar
- Can options be looked at to put the 'About / Guides’ inside the homepage area itself and not in the footer i.e. make it more prominent while not cluttering the page?

![image](https://user-images.githubusercontent.com/13888372/69426526-21854a

[2019-11-22 13:15] #623 closed

[2019-11-22 14:04] jedm commented on #1225
@charlesyoung @anjesh  My suggestion would not be to change the footer, but to include a short About sentence and a link to the guides with a little bit of design on it as part of the main area of the page.

(No strong opinion about where within the main area ... eg, one of the corners, as proposed in our original sketch, or centered like other elements, but important to improve access to this con

[2019-11-25 05:29] charlesyoung commented on #1227
@rumus007

Same issue persists both on Staging and Prod. Any suggestions to sort this out because users wont know that they need to refresh their cache. Once they hide the search bar they cannot currently get it back.

[2019-11-25 06:22] anjesh commented on #1242
One thing we could do is to update the import process such that if it finds drive.google.com in the URl, it would create the download link and downloads the pdf. But for others hosted files, user will have to make sure that they use proper link.

[2019-11-25 06:40] charlesyoung commented on #1242
That would work. I manage the import process so I will make sure that only Google Drive is used to store the documents.

[2019-11-25 06:43] charlesyoung commented on #1225
Thanks @jedm

@anjesh will you be able to look at where the 'Guides' can be placed on the main area of the page to allow more prominence?

[2019-11-25 07:28] rumus007 commented on #1227
@charlesyoung

I have recently made some changes. Please check for staging site if the problem still persists.

[2019-11-25 07:32] charlesyoung commented on #1227
Great that works. Can you please apply the fix to the Prod site.

What changes did you apply to fix the issue?

[2019-11-25 07:39] rumus007 commented on #1227
The browser did not detect the changes made in the file so it loaded the JavaScript file from cache. Hence i add an optional argument in the script tag so that the browser is forced to re-download the file and cache the new file.

I will apply the changes in the prod site and comment as soon as it is deployed.

[2019-11-25 08:01] bizaybsnt commented on #1096
Hi @charlesyoung,
The grouping of documents has been implemented and deployed in the staging.  [https://staging.resourcecontracts.org/gsearch?q=copper](https://staging.resourcecontracts.org/gsearch?q=copper)

The associated contracts are nested inside the main contracts and their weightage score has been shown alongside (for testing purpose).

The default sorting of the contract documents is based

[2019-11-25 08:31] charlesyoung commented on #1096
Many thanks @bizaybsnt The staging site seems down, below initial comments. Will test when up and running again.

Couple points.
1. Can you send me the list associated documents on the Prod site that don't have a main document.
2. Change '(Associate Contract)' text to '(Associate Document)'.
3. Change the blue text to something much more subtle.

cc @SamCCSI @jedm

[2019-11-25 08:54] charlesyoung commented on #1096
Site seems to be working again. I changed the resource for 1 main contract from hydrocarbon to gold and ran a search for hydrocarbon documents. The main contract is now greyed out so that works well.

![image](https://user-images.githubusercontent.com/13888372/69525820-97c1c100-0f71-11ea-9a9f-881d754b9538.png)

[2019-11-25 09:13] SamCCSI commented on #1096
2. Would “Associated document” be better? That is consistent with our
terminology.

3. Propose that associated doc text colour be the same as main doc. The
indentation seems to me sufficient differentiation, and then it would help
illustrate why zero relevance main docs are greyed out.

[2019-11-25 09:14] charlesyoung commented on #1096
Agree on both points.

[2019-11-25 09:41] rumus007 commented on #1227
@charlesyoung
This has been deployed to prod site
cc @anjesh

[2019-11-25 09:43] charlesyoung commented on #1234
Truing to get the server credentials, haven't had any luck yet.

[2019-11-25 09:55] rumus007 commented on #1242
@charlesyoung
I have recently made changes in the staging site. If the document url's in the excel file are of google drive then it will create a downloadable link but for other hosted files (such as dropbox etc) user will have to provide proper download link.

Please check the changes in staging site.
cc @anjesh

[2019-11-25 10:38] bizaybsnt commented on #1096
@charlesyoung @SamCCSI

- The text  '(Associate Contract)' has been changed to '(Associate Document)'.

- The associated doc text color has been changed same as the main doc.

[2019-11-25 10:56] charlesyoung commented on #1096
Thanks. Can you however please change the text to ‘Associated document’ (with a d).

[2019-11-25 11:02] bizaybsnt commented on #1096
The text is written as (Associated document) in the portal. Apologies for mistyped in the above comment.

[2019-11-25 11:53] charlesyoung commented on #1096
Thanks. Is this working on the entire Staging site or only for your query?

Can you send me the list associated documents on the Prod site that don't have a main document.

[2019-11-25 12:01] charlesyoung commented on #1242
Thanks @rumus007

I ran a test backend import and still get a PDF error as shown below as well as 'Could not process Google drive document' (file below).

[backend_import_template.xlsx](https://github.com/NRGI/resourcecontracts.org/files/3886464/backend_import_template.xlsx)

![image](https://user-images.githubusercontent.com/13888372/69538798-c2207800-0f8b-11ea-977c-4b16cb6e6205.png)

[2019-11-26 01:03] jedm commented on #1227
So glad this is live! Thanks, @anjesh and YI.

If it's possible to reduce the font size of "Show/Hide Search Tools" and make the font color a little bit more gray, I think it would make it look more like a Search control and a little less distracting.

(But this is not an important change.) Thank you!

[2019-11-26 05:05] rumus007 commented on #1242
@charlesyoung
I've recently made some changes in the staging site. Please try to upload the file again.
Here are some instructions on the adding the link in the excel file.
cc @anjesh
![1](https://user-images.githubusercontent.com/51116139/69600778-01a59d80-103a-11ea-8a99-f5bf5547391e.png)

![2](https://user-images.githubusercontent.com/51116139/69600851-43cedf00-103a-11ea-9c6e-7a76d2230300.png)

[2019-11-26 05:05] bizaybsnt commented on #1096
@charlesyoung
This is working for every query in the staging site. Please notice that the URL must include `gsearch` instead of `search` keyword.
Existing search URL: https://staging.resourcecontracts.org/search?q=copper
New grouping search URL: https://staging.resourcecontracts.org/gsearch?q=copper

We will soon send you the list of associated documents on the Prod site that don't have the main d

[2019-11-26 05:24] nirvanalama commented on #1225
By 'guides' we understood a section on the homepage which would open up a pop up with slides showing how the system works. Here is a similar example of Slack.
![Guide_example_optimized1](https://user-images.githubusercontent.com/57661914/69601707-2d765280-103d-11ea-8b7a-a49b97a2c3a3.gif)
Is this what you meant by 'Guides' or do you have other ideas in mind?

[2019-11-26 05:38] charlesyoung commented on #1250
@anjesh please see below.

![image](https://user-images.githubusercontent.com/13888372/69602300-c1392600-101f-11ea-9f80-a0ba1ae8fada.png)

[2019-11-26 07:15] anjesh commented on #1250
it is about font-not-found and doesn't affect the functionality in the page. there should have been other kind of errors related to javascript if there's a problem with the functionality.

[2019-11-26 07:48] charlesyoung commented on #1225
cc @jedm @SamCCSI

[2019-11-26 08:00] charlesyoung commented on #1250
What else can we try. As you can see from below screenshot the dates aren't ordered correctly after a sort.

![image](https://user-images.githubusercontent.com/13888372/69609969-6d383c80-1033-11ea-8506-6ff33e3541f2.png)

[2019-11-26 08:07] anjesh commented on #1250
Could you put us in touch with the user? We will do a quick skype and see if we could figure out something.

[2019-11-26 08:29] charlesyoung commented on #1242
Thanks @rumus007

Seems like your changes made a difference as its now working.

[2019-11-26 08:48] rumus007 commented on #1242
@charlesyoung
Should the changes be implemented in prod site?
And is the read me tab sufficient as mentioned in the sample excel file mentioned in:
https://github.com/NRGI/resourcecontracts.org/issues/1242#issuecomment-556908265

[2019-11-26 08:50] charlesyoung commented on #1242
Good point. Please implement on the Prod site.

The readme seems fine.

[2019-11-26 10:39] bizaybsnt commented on #1096
@charlesyoung
Here is the list of associated documents
[supporting-document-without-main.xlsx](https://github.com/NRGI/resourcecontracts.org/files/3891092/supporting-document-without-main.xlsx)

The parent document for these associated document can be added from the url : http://admin.resourcecontracts.org/contract/3190/edit where 3190 is document id

[2019-11-26 10:44] charlesyoung commented on #1096
Thanks @bizaybsnt

Can you please add a column to the xls noting if its a RC or OLC document.

[2019-11-26 11:06] bizaybsnt commented on #1096
@charlesyoung
Here it is.
[supporting-document-without-main~category.xlsx](https://github.com/NRGI/resourcecontracts.org/files/3891502/supporting-document-without-main.category.xlsx)

[2019-11-26 11:19] charlesyoung commented on #1096
Thanks.

What query did you run to get the results? We can only add a main or associated document and if you select the latter you have to provide the main documents details to move on.

[2019-11-27 04:35] anjesh commented on #1096
i had discussion internally and there are issues with the data. We are not sure how they appear like that. These situations might have been there since the very beginning and we didn't have any problem with that so far because those relations are not followed strictly.

http://admin.resourcecontracts.org/contract/3190/edit is associated and doesn't have main.

This http://admin.resourcecontracts.o

[2019-11-27 05:13] jedm commented on #1096
Dear @anjesh,

I am posting our other questions and comments about the display and grouping today, but one question for now:

Does the new display show ALL ASSOCIATED DOCS THAT MATCH THE SEARCH? Or only the first Associated Doc that matches?

(We are pretty sure the answer is all, but there were many single matches so we were not certain.)

Thank you. Other comments coming soon.

Jed

[2019-11-27 06:48] charlesyoung opened #1255 "ResourceContracts support"
ResourceContracts support of 6 days.

[2019-11-27 06:50] charlesyoung opened #1256 "Associated documents without a main document"

[2019-11-27 06:51] charlesyoung commented on #1096
Created a separate ticket for associated documents without a main document. #1256

[2019-11-27 07:00] charlesyoung commented on #1256
@anjesh I can understand that there might have been a problem between associated and main documents during the import from the 1st version of RC to the current version in 2015 but I'm not sure how that is possible post 2015. As you know you either have to select main or associated, there is no other way of adding a document. Below document that you highlighted was added this year.

http://admin.re

[2019-11-27 07:24] anjesh commented on #1256
Could it have been the issue with CSV import?

[2019-11-27 07:35] charlesyoung commented on #1256
I doubt that because most (94%) of the noted documents have been added by CCSI and from my understanding they have never used the CSV import.

cc @SamCCSI

[2019-11-27 10:49] SamCCSI commented on #1256
Correct I don’t think CCSI has ever used the csv import.

[2019-11-27 12:44] charlesyoung commented on #1242
@rumus007 has this been implemented in Prod? What to close relevant tickets. Thanks

[2019-11-27 12:46] charlesyoung commented on #1227
@rumus007 could you reduce the font size of "Show/Hide Search Tools" and make the font color a little bit more gray as requested. Want to close relevant tickets. Thanks

[2019-11-27 12:54] charlesyoung commented on #1227
Please also hide the search bar on the 'About', 'FAQs', 'Guides', 'Glossary', 'Country Sites' and 'Contact' pages.

[2019-11-27 12:56] charlesyoung commented on #1243
@jedm will we be using existing material for the tutorials?

[2019-11-28 04:12] nirvanalama commented on #1225
We've thought of adding a short description at the bottom, similar to the old landing page followed by the 'guide'. "Learn how to use it here." will help the user understand the function of the website. The link would open up a pop up with slides showing how the system works, similar to 'Slack' as posted in the above comment. Let us know what are your thoughts on this design.

![image](https://use

[2019-11-28 04:25] jedm commented on #1225
@nirvanalama Thank you for these examples and for the different ideas. To help clarify, two different ideas have been under discussion: 1) more interactive instructions and explanations about how to use RC/OLC (like the "pop up with slides" idea, or like bigger "hovers" for key functions) and 2) using the homepage to better "promote" the explanations and guide pages _that already exist_.

I would

[2019-11-28 05:24] jedm commented on #1096
Comments and requests from @charlesyoung @SamCCSI and myself re. new grouping/display:

**GLOBAL CHANGE TO LEFT COLUMN ON LIST/RESULTS PAGES**
1. Remove blue “document” icon in left column (GLOBAL CHANGE, ALL PAGES)

**ADD EXPAND/COLLAPSE FUNCTION TO MASTER/ASSOCIATED DOC GROUPING**
2. When list/result has a Master Doc and any Associated Docs, add arrow icon with “expand/collapse” positions in fir

[2019-11-28 05:40] rumus007 commented on #1227
@charlesyoung
The requested changes are implemented in staging site please verify
@anjesh

[2019-11-28 05:43] rumus007 commented on #1242
@charlesyoung
We are doing few last tests in staging site. I will notify as soon as it is deployed in production.
@anjesh

[2019-11-28 07:06] charlesyoung commented on #1227
Thanks @rumus007

@jedm please let me know if the changes are OK to move to the Prod site.

Old:
![image](https://user-images.githubusercontent.com/13888372/69784331-304c8100-11be-11ea-85ef-6786b152d84e.png)

New:
![image](https://user-images.githubusercontent.com/13888372/69784309-27f44600-11be-11ea-8437-3ea05ba41e36.png)

[2019-11-28 10:53] jedm commented on #1227
Ok to move to Prod!

[2019-11-28 12:07] charlesyoung commented on #1256
@anjesh not sure how to resolve this issue besides checking each document to check if its a main or supporting document.

@SamCCSI I've added a document URL (the first 50 records) to below xls. Will it be possible for someone at CCSI to check if these are main or supporting OLC documents?

[supporting-doc-without-main- doc.xlsx](https://github.com/NRGI/resourcecontracts.org/files/3901531/supportin

[2019-11-29 13:41] charlesyoung commented on #1227
@rumus007 please deploy on the Prod site.

[2019-11-29 13:47] charlesyoung commented on #1225
@jedm do we need to create these guide documents?

[2019-11-29 15:41] jedm commented on #1225
CCSI is in the process of rethinking their guides. And NRGI has Guide and glossary docs in the menu, eg:

https://resourcecontracts.org/guides

[2019-12-02 04:41] rumus007 commented on #1227
@charlesyoung
This has been implemented to prod site
@anjesh

[2019-12-02 17:53] SamCCSI commented on #1256
@charlesyoung what is the issue here, exactly?

All OLC ones were entered in manually. One reason for some of the associated docs is that there is an anticipation of a main doc being added but that hasn't been done yet.

Does having 'orphan' associated documents mess up the tech changes we are implementing?

[2019-12-03 04:10] charlesyoung commented on #1256
@SamCCSI how did you even add these documents seeing that you can only select a main or associated and if associated you have to select which document it relates to.

@anjesh am I right that associated documents without a main document will not be shown in the new grouping display methodology?

[2019-12-03 04:36] anjesh commented on #1256
Yes, the orphan associated documents wouldn't appear in new grouped result.

It looks like these orphan are created after the main document got deleted. There's no error checking at the moment when you delete the document (whether main or associated). One thing we could do is list all the orphan associated documents and you could either update the associated document to include its main or convert

[2019-12-03 07:44] charlesyoung commented on #1256
@anjesh can you please convert the 12 RC documents to main documents. 80% do seem like main documents and I will work on the remaining issue documents.

[2019-12-03 14:40] charlesyoung commented on #1242
@rumus007 has this been implemented in Prod? Want to close relevant tickets. I would like to run a bulk import next week for DRC documents.

[2019-12-03 14:42] charlesyoung commented on #1225
@nirvanalama have you had time to look at @jedm above comments?

[2019-12-03 14:43] charlesyoung commented on #1096
@bizaybsnt @anjesh have you had time to look at @jedm above comments?

[2019-12-04 04:45] anjesh commented on #1256
Do you mean this 12 documents in the xlsx attached?

![image](https://user-images.githubusercontent.com/120488/70113378-080ec780-1681-11ea-9019-6f44857e1936.png)

[2019-12-04 05:22] charlesyoung commented on #1256
Yes

[2019-12-04 07:46] rumus007 commented on #1242
@charlesyoung
This has been implemented in prod site
@anjesh

[2019-12-04 14:26] anjesh commented on #1250
error is found in the listing page when one goes from country page e.g.

https://resourcecontracts.org/countries/ao?order=asc&sortby=year

![image](https://user-images.githubusercontent.com/120488/70150295-e4c03880-16d1-11ea-9d3e-99db47882239.png)

[2019-12-04 21:02] SamCCSI commented on #1256
From memory, we may have uploaded the doc as a main doc, then edited it as an associated but left the doc blank? But that might be a guess. @charlesyoung

[2019-12-05 11:23] nirvanalama commented on #1225
Thank you for your feedback. Here are the options:
### 1) More interactive instructions and explanations about how to use RC/OLC (like the "pop up with slides" idea, or like bigger "hovers" for key functions)

![1 copy 3](https://user-images.githubusercontent.com/57661914/70230754-222fcf00-1781-11ea-97fd-4964cff8f6b8.png)

### **2) Using the homepage to better "promote" the explanations and guide

[2019-12-05 11:24] charlesyoung commented on #1225
cc @jedm

[2019-12-05 12:54] jedm commented on #1225
Hi @nirvanalama and @anjesh.

The layout of page samples under 2) will
be very helpful to improve the Guides pages. But I do not see different proposals for how the homepage can promote these guides better.

How can the homepage promote/advertise the guides area more prominently?

Thank you.

[2019-12-06 09:45] nirvanalama commented on #1225
We can actually have the same thing on the homepage as on the guides page. The guides page could have more detailed information. We also feel 'guides' could be rephrased to 'How it works' / 'How to use'. What do you think about that?
### 1. add screenshots of "how to use" in order to make the section more prominent.
![image](https://user-images.githubusercontent.com/57661914/70312759-5d430880-183c

[2019-12-06 10:49] jedm commented on #1225
﻿
I like the idea of a section of the homepage with some Guides information.

Research by The Engine Room resulted in the recommendation that the home page have a better explanation of the site and a faster more prominent link to Guides information.

Is it possible for you to give an example of how this can work on the first screen (ie, above the scroll with the other homepage elements)?

Thank yo

[2019-12-06 20:04] charlesyoung commented on #1225
While above is still a conceptual design and as @jedm notes making guides more prominent is a good idea we also need to consider not using a substantial space on the home page for these guides.

[2019-12-06 20:23] jedm commented on #1225
@charlesyoung I like the idea of option that scrolls the homepage downward to inlcude some Guides/intros below the scroll, like the way the map is below the scroll.

But the wireframe we provided includes a space to promote the guides on the first screen - and not merely with text. Would like to see a homepage option that provides that so we can consider it.

[2019-12-09 08:46] nirvanalama commented on #1225
@jedm

**Is it possible for you to give an example of how this can work on the first screen (ie, above the scroll with the other homepage elements)?**
-We would not recommend to put up the guides section on the landing page (upper fold of the homepage) as it would take up a lot of space(as the guides would have a lot of content)and it would over crowd the landing page and overwhelm the user. Howev

[2019-12-09 10:36] charlesyoung commented on #1096
@bizaybsnt @anjesh have you had time to look at @jedm above comments?

[2019-12-09 11:20] anjesh commented on #1096
yes, we will get back by Tuesday.

[2019-12-10 05:06] nirvanalama commented on #1225
Here are two example of how we could incorporate the guides on the upper fold. We feel we need to be sure about which section to give more visual prominence the 'search' section or the 'guides' Let us know your thoughts on this.

**Example 1**
![image](https://user-images.githubusercontent.com/57661914/70497324-e6a75300-1b3a-11ea-949f-d426083d8432.png)

**Example 2**
![image](https://user-images.g

[2019-12-10 05:26] jedm commented on #1225
I prefer example 2. @charlesyoung what do you think.

@nirvanalama, for design, we would like to suggest exact language for the Guides block  It would be a combination of more explanatory/intro language (similar to current intro language on live homepage) and a few words/image in larger font that invite people to go to the guides.

[2019-12-10 07:11] charlesyoung commented on #1225
Agree that example 2 is the best.

However while we want the Guides block to be prominent is it not too prominent seeing that its now the biggest section on the home page? Will be good to get an understanding of how the Guides block will be presented.

I would also change 'Search contracts' to 'Search Documents' and 'Recent Docs' to 'Recent Documents'. Also I think 'A directory of Petroleum & Mine

[2019-12-10 08:08] nirvanalama commented on #1225
@charlesyoung If I may ask what is the difference between 'Documents' and 'Contracts'?

[2019-12-10 09:17] charlesyoung commented on #1225
RC not only holds actual contracts but also related documents like environmental impact studies which aren't contracts. We have been discussing the use of 'Documents' and 'Contracts' for awhile now.

@jedm what are your thoughts?

[2019-12-10 09:24] nirvanalama commented on #1225
@jedm Do you have any suggestions for the language on the guide block?
![image](https://user-images.githubusercontent.com/57661914/70516084-74486a00-1b5e-11ea-8b2f-806d7d8dda90.png)

[2019-12-10 10:56] bizaybsnt commented on #1096
@jedm @charlesyoung
The requested features in  https://github.com/NRGI/resourcecontracts.org/issues/1096#issuecomment-559347074 have been deployed in the staging server. Please verify from your side and let us know.

cc: @anjesh

[2019-12-10 11:59] charlesyoung commented on #1096
Starting to look good.

@jedm look at below example.

https://staging.resourcecontracts.org/gsearch?q=&country%5B%5D=TN

[2019-12-11 09:59] charlesyoung commented on #1234
On hold until the Ministry provides server access.

[2019-12-11 17:07] jedm commented on #1096
Hi @bizaybsnt and @charlesyoung. Agree it is starting to look very good! Here are some remaining questions:

Has this change been made on staging? The blue "document" icon appears in some conditions but not in others.

To confirm: **Request it to remove blue document icon globally.**

I reviewed a few pages and it seems like this order is working:
- Master Doc listed by relevance
- followed by Ass

[2019-12-12 12:51] charlesyoung commented on #1242
Get below errors when importing the DRC xls. Signature year is captured and the resources are also correct. @rumus007 @anjesh

[DRC import.xlsx](https://github.com/NRGI/resourcecontracts.org/files/3955755/DRC.import.xlsx)

![image](https://user-images.githubusercontent.com/13888372/70713419-a25cb400-1cee-11ea-94a1-455f06d09a48.png)

[2019-12-12 18:04] charlesyoung commented on #1256
@anjesh have you managed to convert the 12 RC documents to main documents?

[2019-12-12 18:06] charlesyoung commented on #1250
@anjesh have you had time to look at this issue?

[2019-12-12 18:06] charlesyoung commented on #1250
cc @bizaybsnt

[2019-12-12 20:31] SamCCSI commented on #1096
also, small point but would it be more intuitive if the arrow icon to left
of the title pointed to the right, rather than above, when the grouping is
contracted (i.e. not collapsed)?

[2019-12-12 20:41] jedm commented on #1096
Agree with @samccsi suggestion.

[2019-12-13 04:43] anjesh commented on #1096
"blue document icon" appears in https://staging.resourcecontracts.org/search?q=, and this page will be replaced by https://staging.resourcecontracts.org/gsearch?q= (note gsearch). We create new search page so that old search remains as it is. Do you see any other instances where blue icon is seen besides that?

Yes, confirmed.
Note that we are showing score in the result page. That will be removed

[2019-12-13 05:08] rumus007 commented on #1242
@charlesyoung
- The correct signature date format is yyyy-mm-dd the format in the attached excel file is yyyy-dd-mm. That caused the signature year validation error.

- To separate the resources double pipe operator should be used which is ||. In the excel file two capital I alphabet is used. This caused the resource validation error.

I have attached the excel file after the small changes are mad

[2019-12-13 06:15] charlesyoung commented on #1242
Great, this was done by the Ministry staff so I will let them know about the formatting for future imports. It now works well. Thanks

[2019-12-13 06:15] #1242 closed

[2019-12-13 06:36] adinuca opened #1258 "1295 "Unknown font tag" errors in 1 minute"
## Why
Papertrail alert was sent due to 1295 errors found for rc-admin in 1 minute.

## What
- [ ] Cause of the issue is investigated and fixed

## Notes
[code]

[2019-12-13 06:38] charlesyoung commented on #1258
Thanks @adinuca, what was the cause?

[2019-12-13 06:42] adinuca commented on #1258
I don't know, but I think it had something to do with this contract: https://admin.resourcecontracts.org/contract/4063

[2019-12-13 06:46] charlesyoung commented on #1258
Strange, don't see an issue with the doc. I just ran a backend import (not the normal manual way) of 14 docs that includes the one you mentioned.

[2019-12-13 06:48] adinuca commented on #1258
It probably uses a different, unsupported font. Was the document imported correctly?

[2019-12-13 06:53] charlesyoung commented on #1258
Yep, imported without an issue.

[2019-12-13 06:55] adinuca commented on #1258
Because the import worked, I will close the issue and reopen it in case it happens again, and we will investigate then.

[2019-12-13 06:55] #1258 closed

[2019-12-13 09:34] charlesyoung commented on #1256
@SamCCSI, will it be possible to change these docs back to main docs otherwise it won't show on the newly designed grouping configuration.

cc @anjesh

[2019-12-13 09:35] charlesyoung commented on #1096
@jedm is below what you mean (it does show main doc)?

![image](https://user-images.githubusercontent.com/13888372/70788948-b0680e80-1d9a-11ea-8ae0-5c965b9c3532.png)

cc @SamCCSI @anjesh

[2019-12-13 16:05] jedm commented on #1096
Hi @charlesyoung @anjesh

We should confirm that:

1) The Main Contract displays this way on ITS OWN PAGE
2) YI can add an indentation for the Associated Documents — this will be important for teaching the user that the relationship between documents shown in the list/search results (the previous page they were on) is the same relationship shown here.

J.

[2019-12-13 17:26] SamCCSI commented on #1256
Yes, we have someone working on this now. Thanks.

[2019-12-13 20:01] jedm commented on #1225
@nirvanalama I will share an updated suggestion for layout and language next week.

[2019-12-16 07:32] nirvanalama commented on #1225
@jedm Please share the suggestions soon so we can jump into turning the wireframes into designs. Thanks!

[2019-12-16 18:30] charlesyoung commented on #1227
@rumus007 can you please hide the search bar at the same places for the mobile site.

![image](https://user-images.githubusercontent.com/13888372/70932487-8afd2e00-2042-11ea-91dd-f1279a894c84.png)

[2019-12-18 20:40] jedm commented on #1225
@nirvanalama Attached is a suggestion for placement and basic approach to the intro text and Guide promo. **This is specific to OpenLandContracts.**

Final text of these blocks is still to be confirmed with @SamCCSI and team. cc @charlesyoung

[Presentation1.pdf](https://github.com/NRGI/resourcecontracts.org/files/3980435/Presentation1.pdf)

[2019-12-23 17:27] #1090 closed

[2019-12-23 17:29] SamCCSI commented on #1066
Duplicate to #1107 -- Closing.

[2019-12-23 17:29] #1066 closed

[2019-12-24 10:41] nirvanalama commented on #1225
@jedm Thank you for your input.

**4. Do not include outline box**
-We will not include the outline box on the UI, this is just for an understanding that the section will have boundaries (not necessarily outlines, it could have an image or a gradient color fill)

**5."Consider color or other design elements for one of both blocks?"**
-Can you please explain this point. We are not quite clear about

[2019-12-24 14:06] jedm commented on #1225
It was a typo. It should say “Consider color or other design elements for one or both blocks.”

Thanks very much. Will watch for the new mock-up!

[2019-12-26 21:28] SamCCSI commented on #1225
**Alerting user of annotations**

It would be nice if there was a design element on home page that alerted users to the existence of annotations, as this is a key value add of site. In current/old home page, the "explore contract terms" field does that. Not suggesting we use those words here, but we need something.

cc @jedm @KaitlinCCSI

[2019-12-26 21:34] SamCCSI opened #1259 "Problem with long annotation search results"
**Problem:** when an annotation is relevant to a text search: (a) currently there is no part of it bolded (so we don’t know why it’s relevant); and (b) the excerpt is of the entire annotation.
Example of crazily long annotation excerpt and no bolded term, in a search for “consult”:

![pasted image 0](https://user-images.githubusercontent.com/12913915/71491224-71f03c00-27fd-11ea-8607-ddfdcafef3f7.p

[2020-01-06 05:53] nirvanalama commented on #1225
Below are the two versions of the Homepage designs, with reference to the wireframes we talked about in the last discussion. I will be further explaining both the versions.

**Version I**
This version has the guides in a static form, the guides will be screenshots of the search, filter, annotations and summary. The content is a dummy text and could be changed if you provide the suggestion for the

[2020-01-07 08:47] charlesyoung commented on #1096
@anjesh @jedm what is still outstanding on this ticket?

Noticed that if you click on a main doc the associated list of docs are first collapsed before the main doc is opened. Not sure if this is a UX problem.

cc @SamCCSI

[2020-01-07 08:48] charlesyoung commented on #1256
@anjesh have you managed to convert the 12 RC documents to main documents?

[2020-01-07 09:00] charlesyoung commented on #1225
Thanks @nirvanalama

Are the guides shown by default or only when a user clicks on 'Learn how to get started'?

Experienced users wont need guides and it could congest the home page for these users if presented by default.

[2020-01-07 12:41] jedm commented on #1225
@nirvanalama I have a similar questions to a Charles. The design of the guides is a useful suggestion but we have never been requesting guides on the main page. It may be better to install this style of guide in the OLC section called Guides, for example.

[2020-01-07 16:10] jedm commented on #1096
@anjesh What items in this ticket is YI still completing?

@charlesyoung do you agree that we can change the Associated Docs section of Contract Summary page as requested?

[2020-01-08 07:27] charlesyoung commented on #1096
@jedm does that relate to adding the Master Doc name at top of the Associated Documents section?

We currently have the Master Doc name at the top of the list if active on an Associated Document. Do we want to show the Master Doc name at the top of the list even if a user is on the Master Doc? We could add an indentation for the Associated Documents as you suggest.

![image](https://user-images.gi

[2020-01-08 09:38] man-git007 commented on #1196
@charlesyoung we have updated the metadata of the contracts in live server and have added ‘Security exchange’  to the lookup table. Could you please verify?

The update metadata are

- Project title
- License title
- License Identifier
- Source URL
- Disclosure mode

cc @anjesh

[2020-01-08 09:44] charlesyoung commented on #1196
Great thanks.

[2020-01-08 13:22] jedm commented on #1096
Hi Charles - yes, that’s exactly what I would suggest. Adding both the name and the indentation.

[2020-01-09 04:44] nirvanalama commented on #1225
That wouldn't be a problem, I'll quickly share it with you. Apart from that do you have any feedbacks? Can we move forward with the design?

[2020-01-09 07:13] charlesyoung commented on #1225
Minor comments on the text.

@jedm do we use contracts or documents? There is 'Search Contracts' and then 'Recent Documents'.

Also please change the text to 'Search and review petroleum, gas and mining contracts...' Actually @jedm do we even need this text?

Reduce the font size of 'Learn how to...' and move it down slightly on the page.

[2020-01-09 08:03] nirvanalama commented on #1225
Thank you for your feedback. Please suggest suitable texts and we'll replace it immediately. Can we now move forward with the designs and start development? Also, which version do you think would be better for the 'Guides' section?
1. The static screenshots (option I) or,
2. The tabs with videos (option II)

[2020-01-09 09:53] man-git007 commented on #1256
@charlesyoung The contracts have been updated to main documents in live server.

The updated document ids are 837, 2121, 2150, 2151, 2155, 2179, 4026, 4031, 4036, 4041, 4047, 4053

Please verify.

cc @anjesh

[2020-01-09 10:08] charlesyoung commented on #1256
Many thanks @man-git007

I will keep this ticket open as a reminder for @SamCCSI that the noted 170 OLC docs need to be changed back to main documents.

[2020-01-09 10:20] nirvanalama commented on #1225
As our hero text is 'A directory of Petroleum and Mining Contracts' we could use 'Search contracts' and 'Recent Contracts'

The search icon when clicked will open up the search bar and will have the text 'Search and review petroleum, gas and mining contracts...' We will provide the design.

![image](https://user-images.githubusercontent.com/57661914/72059217-b26db080-32f9-11ea-996b-a6ff9c3a7725.pn

[2020-01-09 11:01] man-git007 commented on #1227
@charlesyoung The search bar have been hidden in the mobile view and has been deployed to live server.

cc @anjesh

[2020-01-09 11:11] nirvanalama commented on #1225
In the above designs we haven't included the sidebar on the left. (see below for reference)What are your thoughts on that?
![image](https://user-images.githubusercontent.com/57661914/72062349-c0becb00-32ff-11ea-979d-56eef5ca5bf7.png)
Just so that we're on the same page, I also wanted to talk about Open Land Contracts. This design will be implemented for OLC as well with different color theme right

[2020-01-09 11:15] charlesyoung commented on #1227
Thanks @man-git007

[2020-01-09 11:15] #1227 closed

[2020-01-09 11:22] charlesyoung commented on #1225
My feeling is that we don't include it seeing that a country search option is now added to the home page. Will be good to try keep the design really simple. Thoughts @jedm

Yes the design will also be implemented for OLC but @SamCCSI will need to comment on the color theme, etc.

[2020-01-09 11:23] charlesyoung commented on #1096
@bizaybsnt @anjesh can above be done?

Also what is still outstanding on this ticket?

[2020-01-09 11:24] charlesyoung commented on #1196
Have the project names been imported?

[2020-01-09 11:30] man-git007 commented on #1196
@charlesyoung The project name is Project Title in excel and in the system and has been updated.

[2020-01-09 11:32] #1196 closed

[2020-01-09 11:34] charlesyoung commented on #1250
@anjesh have you had time to look at this issue?

cc @bizaybsnt

[2020-01-09 14:28] charlesyoung commented on #1096
Something has gone wrong on the staging site. See below.

![image](https://user-images.githubusercontent.com/13888372/72075745-06c65f80-32fd-11ea-8ae2-b1016e94153a.png)

[2020-01-10 04:23] nirvanalama commented on #1225
I agree on keeping the designs minimal. Sure, let us know soon.

[2020-01-10 09:44] man-git007 commented on #1096
@charlesyoung We have deployed the display/ grouping in the staging server.
Please check and provide feedback if any.

cc @anjesh

[2020-01-10 09:45] man-git007 commented on #1250
@charlesyoung We are looking into this. The issue is in the api query and might take some time. We will work on it next week.

cc @anjesh

[2020-01-10 09:58] charlesyoung commented on #1096
We have seemed to have lost the grouping unless there is a caching issue.

![image](https://user-images.githubusercontent.com/13888372/72144004-67f33f00-33a0-11ea-814a-0b73a673cec6.png)

[2020-01-10 11:17] anjesh commented on #1096
Are you looking at the right URL https://staging.resourcecontracts.org/gsearch?q=&page=2? The original search page url is not updated yet.

[2020-01-10 11:19] charlesyoung commented on #1096
Yep, seems to be a caching issue. Works in an incognito window.

[2020-01-10 12:32] charlesyoung commented on #1096
Thanks @anjesh, looks good to me. @jedm you happy with what has been implemented?

I should know this but why are we not showing the search results count on the top right of the page? Was it a filtering / technical issue?

@jedm below has also been implemented.

@SamCCSI please note once this is deployed to the OLC prod site the associated docs without a main doc wont be shown.

![image](https://u

[2020-01-10 18:38] jedm commented on #1225
@charlesyoung @nirvanalama - regarding sidebar. If it opens when you click the "hamburger" I would keep it, including for legacy users UX.

For the background design, I think it will look better to keep the photo imagery—but perhaps underneath a color wash/transparency. The OLC image is especially pretty. What do you think of this suggestion? ie, keep the image, but add a gray or a color transpare

[2020-01-13 06:27] charlesyoung commented on #1225
Thanks @jedm

It will be interesting to see how the color wash/transparency image looks like.

Re the sidebar I would suggest that its removed, at least from RC, for the following reasons.
1. The new home page should preferably have a minimalist design avoiding any duplication (countries, search, etc on the home page as well as on the side bar)
2. Below notes the page views covering 2017 - 2019. B

[2020-01-13 09:26] anjesh opened #1262 "Develop API for "Latest contracts""
- [ ] API should have the following definition /recentgroupedcontracts
- [ ] sort order is the last published date and then by ES score if there are multiple documents on the same date
- [ ] following fields will be searched for free-text search but the list will always be sorted by last published date and then by ES score
  * title - high weight
  * country field – high weight
  * resource field

[2020-01-13 09:29] anjesh commented on #1245
This is implemented. Further discussion will continue at https://github.com/NRGI/resourcecontracts.org/issues/1096

[2020-01-13 09:29] #1245 closed

[2020-01-13 09:29] anjesh commented on #1246
This is implemented. Further discussion will continue at #1096

[2020-01-13 09:29] #1246 closed

[2020-01-13 09:30] anjesh commented on #1244
Further discussion will continue at #1096

[2020-01-13 09:30] #1244 closed

[2020-01-13 10:20] nirvanalama commented on #1225
I agree with @charlesyoung on this one.
This is how it looks like with an image overlay and transparency.

![image](https://user-images.githubusercontent.com/57661914/72248028-4acba400-361e-11ea-9594-8ac9c779f213.png)

![image](https://user-images.githubusercontent.com/57661914/72248042-515a1b80-361e-11ea-80b4-6721767b754b.png)

[2020-01-13 10:31] charlesyoung commented on #1225
@nirvanalama can you please do the transparency image overlay with attached pic. Thanks

![Final RC Homepage Image](https://user-images.githubusercontent.com/13888372/72248772-9ff8bd00-3600-11ea-92e8-4a83190be058.jpg)

[2020-01-13 10:42] charlesyoung commented on #1262
Thanks @anjesh

Would initial 'new' documents that move past the 3 month publication period be tagged as something else so that these documents can be removed from the most recent list?

Which aspects are still unclear?

[2020-01-13 10:52] anjesh commented on #1262
I wrote the assumptions list to clarity the confusions. That was extra line - supposed to be deleted.

[From this document](https://docs.google.com/document/d/1_Mkx7BRUWFhuKzrh-XWIC9D6S1ZIClQBxMZrO0Dr6bE/edit#) -- Jed: I think it would be better to show all documents in reverse-chron but to change display to flag/star/change color of documents from last 3 mos. I think this is better than cutting o

[2020-01-13 11:06] charlesyoung commented on #1262
Yes lets use the last modified date as changes to the metadata, etc should be highlighted.

Only noticed the 'change display to flag/star/change color' comment now. Would it not be easier and make more sense to only show the documents published during the past 3 months? The user is specifically looking for that info and not a list of all documents.

[2020-01-13 11:14] anjesh commented on #1262
There might be exception for those recent associated doc whose main doc is not recent. We need to show main inorder to show associated for group result.

- [ ] We need decision on this before we work on the API. cc @jedm

In fact we need ok on all our assumptions above.

[2020-01-13 11:24] charlesyoung commented on #1262
OK, will wait for feedback from @jedm

[2020-01-13 11:42] charlesyoung commented on #1225
Just clarifying that clicking on the 'Search Contracts' tab will open this [page](https://www.resourcecontracts.org/search?q=) while clicking on the 'Countries' tab will open this [page](https://www.resourcecontracts.org/countries).

[2020-01-13 12:59] jedm commented on #1225
Thank you both for continuing to experiment with an image on the homepage. Is it possible to see this option with a higher transparency and with a color overlay that is ONLY the color and does not have the pattern with lines?

We may decide that’s the color+lines with no image is best, but I think it is a big change to remove the RC and OLC images so it will be be very helpful to have the differen

[2020-01-13 13:02] jedm commented on #1262
I would want to confirm with @samccsi before we make that change.

Question: if final decision is to limit this view to show ONLY the recent docs, then what would be the prompt and the path that informs user about getting back to all-docs view?

[2020-01-13 14:14] charlesyoung commented on #1096
@man-git007 I get a crash when running a free text search.

URL: https://staging.resourcecontracts.org/gsearch?q=&country%5B%5D=TN&resource%5B%5D=Hydrocarbons

Free text search: hydrocarbon

cc @jedm

[2020-01-14 06:40] charlesyoung commented on #1096
We need to run a free text searching to test the proposed 'View other documents' link works. Free text search when only some of the associated documents match the search but we still want to indicate that the result is part of a larger set of documents.

![image](https://user-images.githubusercontent.com/13888372/72319893-18b35400-36a9-11ea-9af0-60c9f55e2cc4.png)

[2020-01-14 10:28] man-git007 commented on #1096
@charlesyoung The free text search issue has been resolved

[2020-01-14 10:39] charlesyoung commented on #1096
Thanks @man-git007

@jedm can you please test the free text searching. See below.

![image](https://user-images.githubusercontent.com/13888372/72337223-e0bd0880-36ca-11ea-8a25-19788797ac92.png)

[2020-01-14 13:37] charlesyoung commented on #1096
One last thing.

When you click on an associated document the correct headings (main) and indentation (associated) on the summary page is presented. Its however inconsistent when clicking on a main document summary page as well on the 'View x other document(s)' link.

![image](https://user-images.githubusercontent.com/13888372/72348475-2f769c80-36e3-11ea-8b02-7eca1580148e.png)

[2020-01-15 03:56] anjesh commented on #1262
In this case, the user will go to all-docs view by going to home page (long route), or we could add a button in the search panel to "show all docs".

[2020-01-15 05:56] nirvanalama commented on #1225
Hello. Thank you for providing the image @charlesyoung. This is how the design looks like with the image.

![image](https://user-images.githubusercontent.com/57661914/72408696-b2ebc880-378b-11ea-9335-bb019063df03.png)
![image](https://user-images.githubusercontent.com/57661914/72408705-b67f4f80-378b-11ea-8891-7ce611a424a9.png)

[2020-01-15 06:03] nirvanalama commented on #1225
@jedm
**Is it possible to see this option with a higher transparency and with a color overlay that is ONLY the color and does not have the pattern with lines?**

![image](https://user-images.githubusercontent.com/57661914/72408795-078f4380-378c-11ea-81c1-6f6c0cf8363a.png)

![image](https://user-images.githubusercontent.com/57661914/72409000-9bf9a600-378c-11ea-95ff-282508afb336.png)

This is how th

[2020-01-15 06:31] charlesyoung commented on #1262
The "show all docs" option could be a better.

cc @jedm

[2020-01-15 09:40] charlesyoung commented on #1234
If I don't hear back from the Ministry by the end of Jan this ticket will be closed and the allocated time (1 day) will be moved to monthly RC support.

[2020-01-15 17:18] jedm commented on #1225
My personal (and totally subjective!) view is that the image+shapes is harder to interpret. But I think that for the homepage image question we should wait for @SamCCSI to add an opinion.

[2020-01-15 17:20] jedm commented on #1262
If there is a way to go from recent to all without too many extra clicks, I think that is most logical. But suggest we wait for @SamCCSI on this decision.

[2020-01-16 06:26] charlesyoung commented on #1225
For RC, I will run the 2 designs past the internal NRGI team and revert.

Will wait for @SamCCSI, who is back from leave next week, to decide on the OLC design.

[2020-01-16 07:02] charlesyoung commented on #1262
Sounds like the  "show all docs" button will be 1 click away from showing all the docs. Will wait for @SamCCSI input next week.

[2020-01-16 08:43] nirvanalama commented on #1225
@charlesyoung @jedm Sure. When can we finalize the designs? We need to start developing it as soon as possible. Please help us expedite the process.

[2020-01-16 08:50] nirvanalama commented on #1225
Thanks! :)

[2020-01-16 09:39] adinuca opened #1263 "Upgrade PostgresSql database from v9.4 to v9.5"
## Why
PostgresSql database v 9.4 will no longer be supported by AWS starting February 15th, 2020

## What
- [x] resource-contracts database is upgraded to v9.5

## Notes
Database is used by resourcecontracts.org and admin.resourcecontracts.org

[2020-01-17 04:39] man-git007 commented on #1250
@charlesyoung The sorting bug in the signature year has been fixed and deployed in live server.

cc @anjesh

[2020-01-17 06:56] charlesyoung commented on #1250
Many thanks

[2020-01-17 06:56] #1250 closed

[2020-01-17 07:00] charlesyoung commented on #1256
Ticket closed to remove from the Sprint 24 list but separate ticket created as a reminder.

cc @SamCCSI

[2020-01-17 07:00] #1256 closed

[2020-01-17 07:01] charlesyoung opened #1264 "Main documents"
170 OLC docs need to be changed back to main documents.

cc @SamCCSI

[2020-01-17 10:55] charlesyoung commented on #1096
@man-git007 will it be possible to look at above comment? Should be the last feedback on this ticket.

[2020-01-20 04:47] nirvanalama commented on #1225
@jedm @charlesyoung Hello, have we heard anything from the team?

[2020-01-20 08:18] man-git007 commented on #1096
@charlesyoung In the summary page, related/associated contracts are shown excluding the contract itself. If the summary page is of the main contract then only associated contracts are shown with indentation. Since the main contract is not shown, the UI seems to look inconsistent but indentation is there on the summary page. Correct if anything I am missing or not understanding.

**Main Contract su

[2020-01-20 10:18] jedm commented on #1096
Thank you Manish.

For the Main Contract Summary page, we have requested in the notes above to include the Main Contract (greyed out) in the appropriate position above the Associated Document list. Is this possible?

We believe this will help for both consistency and to better illustrate the Main/Associated relationship.

[2020-01-21 15:18] charlesyoung commented on #1234
Ticket closed, time moved to monthly RC support.

[2020-01-21 15:18] #1234 closed

[2020-01-21 15:18] charlesyoung commented on #1255
+ 1 day from the DRC ticket

Total = 7 days

[2020-01-22 12:28] charlesyoung commented on #1263
Thanks @adinuca

Has this been done or is it still scheduled?

[2020-01-22 12:32] charlesyoung commented on #1096
@man-git007 just checking that you received above message from @jedm

That is only outstanding issue on this ticket.

[2020-01-22 19:26] MichaelCCSI opened #1266 "Mechanical Turk not allowing approvals"
## Why : It is necessary to approve transcription requests in order to publish updated document transcriptions.

## What : In the mechanical turk tab on resource contracts website, "Contracts Sent For Mturk", the option to approve documents does not work. The preview of the original document is also not available. The message giving when attempting approval is "Assignment could not be approve."

#

[2020-01-23 02:00] SamCCSI commented on #1262
Thanks all, and apologies for my delay in replying.
1)
I'm happy for the new documents view to show only docs from last 3 months. Agree that a Show all docs button in that view would also be great.

2)

I actually thought we had discussed this and that we would stick with date initially published. Seems better to me, as I will often have to correct a metadata error, and wouldn't think that this wo

[2020-01-23 02:06] SamCCSI commented on #1225
Hi @nirvanalama @jedm @charlesyoung

For OLC, can we please get mock ups with our home page image?

My initial impression is that the shapes are a nice design feature but I want to make sure it doesn't make the page look too busy.

Also, the Version 1 ([here](https://github.com/NRGI/resourcecontracts.org/issues/1225#issuecomment-571014132)) for the guides jumped out at me when I was scrolling abov

[2020-01-23 02:07] SamCCSI commented on #1225
(edited the above to say it's NOT my area/decision)

[2020-01-23 04:59] SamCCSI commented on #1096
Understood, thanks Charles.

[2020-01-23 05:02] SamCCSI commented on #1096
Confirming I'm on the same page as @jedm for this ticket. Thanks @charlesyoung for flagging.

[2020-01-23 06:00] charlesyoung commented on #1225
Thanks @SamCCSI

NRGI prefers the image without the shape because we don’t have similar background images on our other sites.

[2020-01-23 06:03] charlesyoung commented on #1096
Thanks @SamCCSI

@man-git007 so its just the 1 outstanding issue noted above.

[2020-01-23 09:14] nirvanalama commented on #1225
Thank you for your feedback @SamCCSI
Here is the design for OLC without the shapes.
![image](https://user-images.githubusercontent.com/57661914/72970648-2fb41d80-3df0-11ea-8929-9e82b997addd.png)

![image](https://user-images.githubusercontent.com/57661914/72970661-35116800-3df0-11ea-9448-63b546174578.png)

[2020-01-23 09:20] nirvanalama commented on #1225
@charlesyoung @SamCCSI @jedm Can we also finalize the design for "The guides" so that we can start implementing the design. Here are the options we put forward earlier:

### Guide Version I
![image](https://user-images.githubusercontent.com/57661914/72971221-69d1ef00-3df1-11ea-9aff-e30da0f1496d.png)

### Guide Version II
![image](https://user-images.githubusercontent.com/57661914/72971296-8b32db00

[2020-01-23 09:39] SamCCSI commented on #1225
Thank you! Assuming OLC and RC can go different ways on this issue, is it
possible to see the mock-up WITH shapes?

[2020-01-23 10:05] jedm commented on #1225
@nirvanalama and @SamCCSI - In order to finalize the Guides design, is it possible to get a reply from @anjesh to the email I sent this week regarding the development of the guides and a few other questions. Among these questions is whether the Guides @nirvanalama has designed can be embedded in the current Guides page, and be available for edits by the CCSI team in the future.

[2020-01-23 10:40] nirvanalama commented on #1225
@SamCCSI Sure. Here is the OLC homepage design with shapes.

![image](https://user-images.githubusercontent.com/57661914/72977403-98a19280-3dfc-11ea-8291-8c340c38da37.png)

![image](https://user-images.githubusercontent.com/57661914/72977509-cedf1200-3dfc-11ea-8b06-20b399d370b7.png)

[2020-01-23 10:41] nirvanalama commented on #1225
@jedm Sure, I'll let him know. Thanks!

[2020-01-23 12:20] man-git007 commented on #1266
@MichaelCCSI
1. The document preview issue seems to be of google doc viewer. We will look into this via production simulation.
2. The approve issue seems to be due to assignment 'InvalidAssignmentState' as from log file.

[2020-01-24 05:16] man-git007 commented on #1096
@charlesyoung We have made the changes and deployed in staging server. The main contract summary page will look like this

![Screenshot from 2020-01-24 11-00-41](https://user-images.githubusercontent.com/23434972/73046121-e1a72480-3e98-11ea-9875-1b4d5074e39b.png)

cc @SamCCSI

[2020-01-24 08:57] charlesyoung commented on #1096
Thanks, looks good.

@jedm can you please do 1 last check before we update the prod site. See below, that's on the main docs summary page.

@man-git007 not sure if you have to load a JavaScript file from cache like you did with the hide advance search bar because I have to use an incognito window to view your changes.

![image](https://user-images.githubusercontent.com/13888372/73056085-d94dea00-3

[2020-01-24 11:42] man-git007 commented on #1266
@MichaelCCSI

1. The contract 3884 has been deleted from the live server.
2. The document preview issue seems to be of pdf upload itself because the pdf load should have had _img_ tag but it is displaying _thumb_ . Could you please verify

[2020-01-24 12:59] jedm commented on #1096
Noting 2 small inconsistencies before we push to prod.

1) In Associated Docs, Main Contract is displayed with words "(Main Contract") after:
https://staging.resourcecontracts.org/contract/ocds-591adf-8560734374

In Main Contract, the Main Contract does not have the words "(Main Contract"):
https://staging.resourcecontracts.org/contract/ocds-591adf-3419068261

Should be consistent.

2) In this mai

[2020-01-27 05:29] nirvanalama commented on #1225
@jedm @SamCCSI @charlesyoung Hello. What did you think about the homepage of OLC? Can we move forward with the development of the designs?

[2020-01-27 05:56] charlesyoung commented on #1225
As mentioned NRGI prefers the background image without the shape. So you can move forward with the image for RC.

@jedm @SamCCSI what are your ideas re guide design version 1 or 2?

[2020-01-27 07:43] man-git007 commented on #1096
@jedm
Issue 1 has been resolved and deployed to the staging server.
As for issue 2,  the "View Document" button to be shown, the contracts should have published pdf pages from admin side. Since it has been published now it shows.
[https://staging.resourcecontracts.org/contract/ocds-591adf-3419068261](https://staging.resourcecontracts.org/contract/ocds-591adf-3419068261 )

[2020-01-27 08:28] nirvanalama commented on #1225
@charlesyoung Thank you for your response. What about the OLC homepage? Can an we lock that as well?

[2020-01-27 09:08] charlesyoung commented on #1096
Thanks @man-git007

Looks good, @jedm can we deploy to Prod?

cc @SamCCSI

[2020-01-27 09:09] charlesyoung commented on #1225
I managed the RC site.

@SamCCSI and @jedm will need to comment on the OLC site.

[2020-01-27 09:12] nirvanalama commented on #1225
@charlesyoung Can we move forward with Guide version 1?https://github.com/NRGI/resourcecontracts.org/issues/1225#issuecomment-577595209

[2020-01-27 09:17] charlesyoung commented on #1225
I don't mind which guides option we use. @SamCCSI prefers below option (V1).

@jedm?

https://github.com/NRGI/resourcecontracts.org/issues/1225#issuecomment-571014132

[2020-01-27 12:36] jedm commented on #1225
Because the Guides page is under discussion with @anjesh I would like to wait before implementing Guides. Thank you very much.

[2020-01-27 13:00] SamCCSI commented on #1225
CCSI consensus for OLC home page is to do background image with NO shapes. Thanks you @nirvanalama. Cc @jedm

[2020-01-27 13:33] jedm commented on #1262
Trying to reply to all outstanding questions here. But all will still need to confirm before we sign off:

- Charles and Sam are OK with a view that shows **only** most recent docs, so that user will still need to click on a NEW "Show All Docs" button. If this is agreed, please share demo/sample once more so we can review and approve.

- It seems better to stick with INITIAL PUBLISH DATE to count

[2020-01-27 13:39] jedm commented on #1225
[deleted previous comment]

@nirvanalama For OLC, we imagine the Guides page to be in Guides area, not on homepage or in scroll.

Question for @charlesyoung (and @SamCCSI): Do we agree that Guides is preferred in current Guides area but with newer Design from @nirvanalama? (Ability to administer and update this page with new design is key topic in emails with @anjesh).

Question for @nirvanalama a

[2020-01-27 13:41] jedm commented on #1096
OK to deploy! @man-git007

[2020-01-27 13:46] charlesyoung commented on #1262
I'm happy with above @jedm

cc @SamCCSI @anjesh

[2020-01-27 14:02] charlesyoung commented on #1225
- A question; what is the difference between the guides link (at the bottom of the page) and the new 'learn how to get started' link on the home page? Will we present different info?
- My feeling re the hamburger menu is that it should be removed. Besides 'view by resource' all the other search options (especially country) are now available on the new design. We could have different designs for RC

[2020-01-27 14:11] jedm commented on #1225
For question one: I believe those two links would now be redundant, and I think that is a good thing. Would suggest keeping both.

For question two: yes, CCSI and I think that the different options organized in a traditional navigation is still useful. Charles will give final confirmation, but I recommend that we keep the hamburger menu for OLC.

[2020-01-27 17:25] jedm commented on #1225
@nirvanalama and @anjesh This may require a new GH issue, but CCSI would like to return to the question about a permanent link to the Guides in the site navigation/tools. (As mentioned [here](https://github.com/NRGI/resourcecontracts.org/issues/1225#issuecomment-557044863) and above.)

This could go either in upper left corner (after "hamburger," before site logo?), or with tools (Share, Download,

[2020-01-27 17:40] SamCCSI commented on #1225
Confirming that keeping hamburger suits CCSI.

I defer to @jedm on this, depending on what makes sense from UX perspective. What you propose sounds fine, though I'm not sure what alternative is.

[2020-01-27 17:44] SamCCSI commented on #1262
Thanks @charlesyoung. I am as well @jedm @anjesh

[2020-01-27 17:47] jedm commented on #1225
@SamCCSI - Proposal from YI was new Guides design available in scroll below homescreen (currently only has world map). I think better to have new Guides design as part of Guides pages that are in current location.

All this relates to new work order CCSI is finalizing this week with @anjesh and YI.

[2020-01-27 18:53] jedm commented on #1225
@anjesh and @nirvanalama,

Confirming latest decisions from CCSI:

- We really like the non-video design and layout for Guides by @nirvanalama
- We prefer this layout to be implemented for one of the existing "inside" pages in the Guides section (and not as a new screen under homepage)
- We would like power for text editing and image selection/replacement on new Guides page **(per recent emails wi

[2020-01-28 07:14] charlesyoung commented on #1225
OK confirming that the hamburger should be kept for the RC site. Want to try keep the designs as similar as possible.

[2020-01-28 23:44] jedm commented on #1243
@SamCCSI and I are looking at this now to scope out options and confirm approach with @anjesh and @nirvanalama

[2020-01-29 07:57] charlesyoung commented on #1096
@man-git007 will you be able to deploy to the prod site this week?

[2020-01-30 04:51] nirvanalama commented on #1225
@charlesyoung @jedm
**@nirvanalama For OLC, we imagine the Guides page to be in Guides area, not on homepage or in scroll.**
- We agreed on having the guides for RC as a different page not on the scroll.

**Question for @charlesyoung (and @SamCCSI): Do we agree that Guides is preferred in current Guides area but with newer Design from @nirvanalama? (Ability to administer and update this page with

[2020-01-30 04:53] nirvanalama commented on #1225
@charlesyoung @jedm
**A question; what is the difference between the guides link (at the bottom of the page) and the new 'learn how to get started' link on the home page? Will we present different info?**
- They're the same.

[2020-01-30 04:55] jedm commented on #1225
@nirvanalama

For the question about the hamburger menu, we have agreed to keep it for both RC and OLC, per [last message above](https://github.com/NRGI/resourcecontracts.org/issues/1225#issuecomment-579111941) from @charlesyoung

For Guides links at bottom of page and new one "learn how to get started": Yes, they can go to the same place: https://openlandcontracts.org/guides

[2020-01-30 04:59] nirvanalama commented on #1225
Oh Okay. Thank you. Is the above decisions both for 'RC' and 'OLC'?

[2020-01-30 05:09] jedm commented on #1225
For hamburger? Yes.

For Guides? No. :)

[2020-01-30 05:13] nirvanalama commented on #1225
@jedm What about the guides then? What do you suggest?

[2020-01-30 05:19] jedm commented on #1225
Hi @nirvanalama - My apologies, I do not understand the question.

[2020-01-30 05:25] anjesh commented on #1262
@jedm  This is confusing. Do you mean that most-recent view will switch to all-docs view after user initiates the search? I was assuming that the filter/search will be  applicable to the documents in recent-list only.

cc @charlesyoung

[2020-01-30 05:36] jedm commented on #1262
Hi @anjesh,

Apologies for adding any confusion. The confusion is because I was imagining that the recent-list was like a filter. (I continue to think this is better because it requires no new “back” buttons and no extra clicks.)

Is it possible to see a mock-up or even hand-drawn sketch of the most-recent feature so we can confirm basic UX?

Either way, if you and Charles and Sam are all agreed t

[2020-01-30 05:44] nirvanalama commented on #1225
@jedm I meant what about the guides for OLC? Will it be different from the guides of RC?

[2020-01-30 05:49] jedm commented on #1225
@charlesyoung can confirm this, but it is possible that OLC will add the new Guides links and that RC will not.

[2020-01-30 06:02] man-git007 commented on #1096
@charlesyoung It has been deployed in prod site. For now, we have to manually go through **`/gsearch`** URL since we don't have any UI button for this. Since this feature is to replace our current search feature in **`rc and olc subsites`**.  So, this URL will change after we finish the home page design and implement recent docs.

cc @anjesh @jedm

[2020-01-30 07:18] charlesyoung commented on #1262
Thanks @jedm

I agree that the filter/search will only be applicable to the documents in recent-list.

cc @anjesh

[2020-01-30 07:33] charlesyoung commented on #1225
Thanks all. For now RC won't add any new guides.

[2020-01-30 07:45] charlesyoung commented on #1096
Thanks @man-git007

Confirm that the manual URL update works on the Prod site.

Not sure if this is because of my connection but I found the display speed slow when clicking on below link. @jedm can you possibly test?

https://www.resourcecontracts.org/gsearch?q

I should know this and I know it has been discussed but why don't we show the search total on the top right anymore? Its it due to the f

[2020-01-30 08:20] anjesh commented on #1255
@charlesyoung https://github.com/NRGI/resourcecontracts.org/issues/1250 is not part of TOR. So 1 day of effort (fix/comms/deployment) will be part of this support. Please confirm.

[2020-01-30 08:29] charlesyoung commented on #1255
That's correct.

Support sheet below to track time spent.

https://docs.google.com/spreadsheets/d/1nl92slsiyccaq0wLLfAAfChaudCAxXFWJ0ZmptL2ntA/edit#gid=0

[2020-01-30 15:57] SamCCSI commented on #1262
Nb for @nirvanalama we should be describing this view as recent "**_documents_**", not recent "**_contracts_**"

cc @charlesyoung @jedm @anjesh

[2020-01-31 11:32] jedm commented on #1225
Hi @nirvanalama,

Confirming that — after a call with @anjesh and a check-in with @charlesyoung — the block of italic text on homepage will stay the same as current text for RC.

For OLC, we will instead use the “Guides promo” text that begins “Learn how to get started,” etc.

[2020-01-31 14:58] charlesyoung commented on #714
Sounds good to me.

[2020-01-31 15:30] jedm commented on #22
@anjesh @charlesyoung Do you know if the hovers deployed on live above are still working? @SamCCSI and I did some initial testing as we plan for new hovers on OLC, and we cannot recreate the hover behavior.

[2020-01-31 15:34] jedm commented on #1225
@nirvanalama @charlesyoung Please confirm that we deliberately decided to eliminate the text entry box from this home screen? Previous sketches had a place for user to begin typing. To me, it feels like adding an extra click to remove the Search box. @charlesyoung @SamCCSI what do you think?

[2020-01-31 15:43] SamCCSI commented on #1259
@charlesyoung should this be resolved before closing issue #1096 ? Interested in your thoughts.

[2020-02-02 13:05] charlesyoung commented on #1225
@jedm from my site usage analysis the search button is mainly used for the following.
1. To enter the site with no search text added which isn't the most elegant way of accessing the docs and advanced search
2. Searching for a country (a country search is now added on the home page)

My senses is that all searching should be done through the standard advanced search option. Users don't know what t

[2020-02-02 18:50] jedm commented on #1225
@charlesyoung My recommendation would still be for a text entry box -- maybe inside the first of the 3 boxes, even though small. But I am happy to give you the the final decision.

Either way, trust that we'll change current text to "Search Documents" yes?

cc @SamCCSI @anjesh

[2020-02-03 05:44] nirvanalama commented on #1225
@jedm @charlesyoung
![image](https://user-images.githubusercontent.com/57661914/73628437-61db4000-4678-11ea-80f1-f16106cfa291.png)

**When the user clicks on the search button (see above), they will be taken directly to the advance search page (see below) And yes all the 'Contracts' will be changed to 'Documents'**

![image](https://user-images.githubusercontent.com/57661914/73628404-45d79e80-4678

[2020-02-03 15:59] charlesyoung commented on #1225
Looks good.

[2020-02-05 03:07] candrei commented on #1263
Hi @charlesyoung the upgrade will take place tonight, sorry for the delay.

[2020-02-05 03:33] candrei commented on #1263
The maintenance was completed successfully, we are now running PostgresSQL v9.5.19 for RC.

[2020-02-05 03:33] #1263 closed

[2020-02-05 14:05] charlesyoung commented on #1263
Many thanks

cc @anjesh

[2020-02-06 10:57] charlesyoung commented on #1225
Just checking on the status of this ticket. Do you need anything additional from @jedm or myself?

[2020-02-07 05:23] nirvanalama commented on #1225
@charlesyoung I think we have all the information we need for now. Thank You.

[2020-02-10 01:38] MichaelCCSI commented on #1266
@man-git007 @charlesyoung @SamCCSI

There still exists the issue in mechanical turk where assignments requiring action cannot be approved.

For example, for the following document : https://admin.resourcecontracts.org/mturk/3879 , when attempting to approve transcriptions, the message "Assignment could not be approve." is given.

[2020-02-10 11:08] adinuca commented on #1119
@charlesyoung is this still an issue?

[2020-02-10 13:23] charlesyoung commented on #1119
Yep still an issue. Trying to resolve with the Ministry. Thanks

[2020-02-10 19:36] jedm opened #1270 "DRAFT: Upgrading Guide (text) Pages - design, consistency, versioning"
_Issue still being drafted by Jed/CCSI_

Research on Open Land Contracts suggested users will benefit from simpler, clearer "How-To" instructions and more prominent links to How-To/Guide pages. Current About and Guide pages have several years of content and training "modules" by CCSI. We would like to update the look and feel of the Guides page and all text pages, to make them easier to use, find

[2020-02-11 07:23] charlesyoung commented on #1262
Just checking if you are you waiting for anything from us to complete this ticket?

cc @anjesh

[2020-02-11 08:30] nirvanalama commented on #1225
@charlesyoung @jedm
Do you have a vector file of the logos in the footer. The vector logos could be in .svg, .eps, .ai format. Currently they are in .png format so the quality isn't the best. Thanks!
![image](https://user-images.githubusercontent.com/57661914/74220815-ab5f0700-4cd8-11ea-8a86-5070427ea3d4.png)

[2020-02-11 08:46] charlesyoung commented on #1225
@nirvanalama I only have .png file formats. Can you get the required formats from the relevant websites? @manishgs might have different formats because he worked on the initial logos.

[2020-02-13 22:13] SamCCSI commented on #1270
Re point 7: after internal discussions, @nirvanalama could we please also see a mock up of having the link on the top **right** hand corner of the page? (There is concern that it will look too messy on/under logo on the top left of page).

More generally: Nirvana's mock up really is more of a "how to use the site" and we will then, if i'm not mistaken, also incorporate links to guidance docs under

[2020-02-13 22:14] SamCCSI commented on #1270
(removed ref to @nirvanalama given that:

[2020-02-13 22:15] jedm commented on #1270
@SamCCSI and @nirvanalama

These are good questions. Please advise if YI can proceed with the basic work while CCSI and I discuss more for a final decision.

Placement and wording are more cosmetic questions, so I am hoping we can go ahead with YI building the new Guide/How To pages and functions while we discuss these final display questions.

Please confirm.

Thanks!

[2020-02-14 09:47] charlesyoung commented on #1096
Can we please ensure that the grouping format is replicated on mobile devices. Below shows a main doc with 2 supporting docs. It’s however not obvious because the supporting docs aren’t indented.

![4C3D3608-A05B-4903-A2B9-B5B273466480](https://user-images.githubusercontent.com/13888372/74520030-77c1ee00-4f1f-11ea-9183-ba73ea236c4d.png)

[2020-02-17 14:27] SamCCSI commented on #1270
Fine by me. @nirvanalama / @anjesh are you ok to begin?

[2020-02-25 11:56] man-git007 commented on #1225
@charlesyoung @jedm We have deployed the new page design in the staging server. Since its in the developing stage, we might have some inconsistent data and design. For now, this is for testing and getting feedback. We will work on it further

cc @anjesh

[2020-02-25 13:49] charlesyoung commented on #1225
Thanks @man-git007

Couple of things before i run it past NRGI
- The background image is different to what has been discussed above
- Should there be any hyperlinks for 'Learn how to get started' section
- Can you reduce the size of below boxes?

![image](https://user-images.githubusercontent.com/13888372/75252505-7d53e980-57e5-11ea-918f-c9c5d6cd245e.png)

I'm only seeing this part of the site at

[2020-02-25 13:51] SamCCSI commented on #1096
https://staging.resourcecontracts.org/search/recent
![image](https://user-images.githubusercontent.com/12913915/75253047-d30ba000-57ab-11ea-8cfa-96c339ad693a.png)

Confirming that the reason the other 2 associated documents aren't displayed here is only because they aren't "recent" docs?

(E.g. if I did a search for "Lefa", all 4 docs would appear without the "view [x] other docs..."?)

[2020-02-25 13:56] charlesyoung commented on #1096
@jedm just confirming that the main docs also need to be arranged chronologically.

Not yet sure which order (old to new or new to old) NRGI want to display the docs but just confirming that the main docs should also be listed chronologically like the supporting docs currently do.

cc @anjesh

[2020-02-25 16:06] jedm commented on #1225
Hi @man-git007 and everyone, a few questions to supplement @charlesyoung:

- Will we have a chance to see a staged version of OLC also?
- The proportions between box size, icon size and page size do look a little strange.
- Is it too late to discuss different icons?
- @nirvanalama if you still need resizable vector files for the logos, we can help you find them.

In general this page is better for

[2020-02-25 16:16] jedm commented on #1096
@man-git007 I think there may be conflicts between the display functions for free-text search results and the display functions for recent. These conflicts may include:

- Clustering and "view # more" function
- Sort order of main contracts
- Sort order of associated docs

@charlesyoung: Agree that gsearch is slow but I assume it is because of staging.

We should confirm with YI that the clusterin

[2020-02-26 12:07] man-git007 commented on #1225
@jedm We have updated the site in the staging server. We still have some minor design issues. We will be working on them. Please review the site and provide us the feedback.

cc @charlesyoung @anjesh

[2020-02-27 09:24] nirvanalama commented on #1262
@charlesyoung @jedm
### Hello. This is how the user would be able to switch between recent docs and all docs.
![image](https://user-images.githubusercontent.com/57661914/75429986-c4bbb080-5972-11ea-81c6-4e4891a929e2.png)

### But we think the button "hide search tools" should be placed on the right to not cramp up the content together. (See below for reference)
![image](https://user-images.githubu

[2020-02-27 19:54] jedm commented on #1262
Thanks, @nirvanalama!

@charlesyoung @SamCCSI let's discuss this proposal for tabbed viewing.

[2020-02-28 05:51] charlesyoung commented on #1225
Thanks @man-git007

I think that the box sizes are still out of proportion. Below is what I see at 90% zoom without scrolling down. I don't even see the entire boxes.

![image](https://user-images.githubusercontent.com/13888372/75513273-13159180-59fd-11ea-8ac3-38364ff6719f.png)

Couple points
1. Reduce the size of the boxes
2. Move the 'A Directory of Petroleum and Mining Contracts' text slightly

[2020-02-28 13:14] jedm commented on #1225
@man-git007 and @charlesyoung,

CCSI has some recommendations about the new design too.

Before YI does more tweaks, could we submit group feedback and then ask YI
to do a round of new suggestions after? Sam and I discussed that
possibility with @anjesh a few days ago.

What do you think? Thanks,

Jed

On Fri, Feb 28, 2020 at 12:51 AM Charles Young <notifications@github.com>
wrote:

--
Jed Miller

[2020-03-02 02:37] MichaelCCSI opened #1271 "Searching by annotation state"
## Why : It is necessary that we search for documents which have the "Draft" annotation status. We haven't yet found an apparent way to do this on the website .

## What : How can we sort for contracts according to their annotation status? As stated above, we want to find contracts whose annotation status is marked as "draft".

@man-git007 @charlesyoung

[2020-03-04 08:17] charlesyoung commented on #1225
Notes from yesterday's NRGI / CCSI call. [YI please don't start working on the comments yet, @SamCCSI and @jedm can you please edit /add below than create a new issue. Will be good to provide YI with a succinct list.]

- Reduce the size of the boxes
- Move the 'A Directory of Petroleum and Mining Contracts' text slightly higher
- The background photo doesn't work, we should either totally remove t

[2020-03-06 08:14] adinuca commented on #1191
Domain has been renewed:
[code]

[2020-03-06 08:14] #1191 closed

[2020-03-06 22:02] SamCCSI commented on #1096
Change needed: Searches that only produce main docs don’t currently show “show X docs” link when those main docs have associated docs (that don't correspond to the search). But they need to.

Example: https://staging.resourcecontracts.org/search/group?q=dinguiraye+serem&country%5B%5D=GN&company_name%5B%5D=Nordgold

[2020-03-10 08:00] charlesyoung commented on #1225
@SamCCSI and @jedm will it be possible to add more details to above so that YI can start working on the updates. Thanks

[2020-03-10 12:25] bizaybsnt commented on #1096
@SamCCSI We have fixed this issue. Please check.

@jedm We'd like to confirm that we are using the same logic for the clustering and "# more documents" functions  for recent contract and group search.

For now, the default sorting order for main contracts for group search is based on the weightage of the document and sort order for recent search is based on the published date.

The sorting order f

[2020-03-10 12:27] bizaybsnt commented on #1262
@jedm We have implemented the tabbed viewing for recent and all documents. Please provide us your feedback on the changes.

[2020-03-10 13:17] SamCCSI commented on #1262
@jedm will have comments re tabbed viewing.

One small point - the light grey dividing lines above the "View [x] other docs" sections don't extend all the way. (see red circle)

But rather than making them extend all the way, i suggest removing them ONLY for these "View [x] other docs] entries. I suggest this because right now it looks awkward where none of the associated docs appear in the list -

[2020-03-10 13:19] SamCCSI commented on #1096
My requested change looks good, thanks! See my comment on #1262 re visual design request.

[2020-03-10 13:21] SamCCSI commented on #1225
For OLC, we like the opaque color gradient, though we might request more opacity once we see an OLC mock-up.

[2020-03-10 13:51] charlesyoung commented on #1225
Thanks @SamCCSI

@man-git007 can you look at above comments?

[2020-03-16 22:57] jedm commented on #1262
Hi @nirvanalama - My apologies for a slow response.

To simply the Recent Documents view, and to avoid adding a new style/UI for "toggling," we suggest the attached controller for Recent Documents, matching the style of the "Annotated Contracts Only" controller.

See attached for example.

I agree with @SamCCSI's suggestion about removing the hairline between the previous result and "View # Other

[2020-03-16 23:11] jedm commented on #1225
@man-git007, final comments from me: I suggest the following changes to the text of the 3 boxes:

_Current:_
[icon]
[#] _black, non-bold_
[text, eg "Search Documents"] _smaller, non-bold_

_Change to:_
[#] _site color - eg, orange for RC_, **bold**
[text, eg "Search Documents"] _1-2 pt sizes bigger_, **bold**

Would leave the hover-style for boxes the same.

Please let me know if this makes sense!

[2020-03-17 06:12] nirvanalama commented on #1225
Hello. Here are the changes:
1. The boxes has been made smaller.
2. The text "Search Documents" Bold and 1pt bigger.
3. We wouldn't recommend the text to be orange as the text wouldn't be legible on smaller screens.

![image](https://user-images.githubusercontent.com/57661914/76826979-df809700-6845-11ea-90bf-1b10d2c169d3.png)

[2020-03-17 07:31] charlesyoung commented on #1262
Thanks @jedm, works for me.

Just to confirm that we remove the 'hide search tools' as noted in your diagram but retain it as before, below 'Search all documents'?

[2020-03-17 07:46] charlesyoung commented on #1225
Thanks @nirvanalama

Are above changes applied on the staging site? This is the only way to provide proper feedback.

[2020-03-17 08:40] anjesh opened #1273 "setup staging.openlandcontracts.org"
## Why

we only have staging.resourcecontracts.org during development and testing. But there are changes specific to OLC and couldn't test in RC.

## What

- [x] staging.openlandcontracts.org works

## Notes

Not sure what is needed for staging.olc to work. It looks like the domain is pointed to the same server as RC.

cc @charlesyoung @man-git007

[2020-03-17 08:44] adinuca commented on #1273
Hi @anjesh , I think it is enough to add the domain in `nginx_olx_com` file.

[2020-03-17 08:49] adinuca commented on #1273
You can also try specifying staging.openlandcontracts.org in SERVER_NAME in `init.sh`
[code]