[2021-05-10 06:22] charlesyoung commented on #1365
@adhikari-anish I was just about to give the green light. The mockups look good.

FYI, OLC doesn't need an Arabic page.

Can we not fix the menu for smaller screens? It doesn't look good under the label.

[2021-05-10 06:24] charlesyoung commented on #406
@adhikari-anish can we implement this on the Prod site? Staging is done but not yet Prod.

[2021-05-10 07:43] adhikari-anish commented on #406
@charlesyoung Yes, the changes are only made for RC and not OLC. The changes have already been pushed to production also. Can you please clear the cache and try?

![image](https://user-images.githubusercontent.com/35035442/117623469-91d69480-b193-11eb-82c2-ebbc811f9488.png)
![image](https://user-images.githubusercontent.com/35035442/117623492-98650c00-b193-11eb-913f-27bf9c7db185.png)

cc @SamCCSI

[2021-05-10 07:48] charlesyoung commented on #406
Yep, caching issue.

[2021-05-10 13:15] SamCCSI commented on #1365
The last mock-up works (for smaller screens). But where does the hover
window appear?

For larger screens this one is good.
[image: image.png]
Thanks.

[2021-05-11 04:17] sweetanzell commented on #1307
@SamCCSI We are working on it. We will let you know when we complete it.

[2021-05-11 06:05] charlesyoung commented on #1365
Please implement.

[2021-05-11 08:45] charlesyoung commented on #1367
@man-git007 I've added this task as a new S30 support ticket.

Can we arrange a Skype call this week to discuss the requirements and solution?

[2021-05-13 11:48] charlesyoung commented on #1367
Add 2 hrs to include only super admin access.

Total: 30 hours

[2021-05-13 13:07] charlesyoung opened #1380 "Government Entity"
@man-git007 I cannot seem to add a new Government Entity in the RC Prod site while I can on the Staging Site.

I'm trying to add Société Aurifère du Kivu et du Maniema under DR Congo.

[2021-05-17 15:59] SamCCSI commented on #1307
Hi @sweetanzell are there any updates on About and Country sites pages (french versions)? Thanks!

[2021-05-18 06:55] sweetanzell commented on #1307
@SamCCSI We have updated the french text for **About** and **Country Sites** Page. Please check it on staging server. If it's fine, we will deploy the changes to the production server.

[2021-05-18 20:22] SamCCSI commented on #1307
Thank you @sweetanzell

**A propos / About**

- Apologies, I now see our word file left out bolding and hyperlinks. I just bolded six phrases and added 4 hyperlinks in this word doc. **[OLC About FRE.docx](https://github.com/NRGI/resourcecontracts.org/files/6503999/OLC.About.FRE.docx)** Could you please add those?
- Can you please change the About page's french title from "À PROPOS DE" to just "À

[2021-05-25 03:46] sweetanzell commented on #1307
@SamCCSI We have updated the text in both staging and production server. Please have a look.

Regarding the footer, this will be done next week only.

Thank you

[2021-05-25 09:34] sriza commented on #1367
@charlesyoung
We have started working on the UI for this issue and have decided on the wireframes as following:

[2021-05-25 10:01] sriza commented on #1367
@charlesyoung
It was a blunder on my part that I mistakenly closed the issue. I have opened it again.

We have started working on the UI for this issue and have decided on the wireframes as follows:
- We will be adding a new menu to the sidebar named "Code List" which leads to the listing page for document types, contract types, and resources. They will be present in different tabs. Each tab will

[2021-05-25 10:18] charlesyoung commented on #1367
Many thanks @sriza

Couple points.
- We need to factor in a login page because it will only be able to be accessed by super users
- What happens if you try to delete a document type for instance that is been used?
- I think that English and French should be required
- Just as an FYI, OLC only uses French and English but that won't be a problem if Arabic isn't required

cc @SamCCSI

[2021-05-25 11:36] sriza commented on #1367
@charlesyoung
Thank you for the feedback.

We have planned on adding a new role "super admin editor". Only the user with this role will have access to the code list.

As for clicking the delete button, an alert message will pop up.
- For the document type that has not been previously used the message states " Are you sure you want to delete this document type?"
- In the case of the document type t

[2021-05-25 11:39] charlesyoung commented on #1367
Thanks @sriza

What is the design timeframe?

[2021-05-25 14:35] SamCCSI commented on #1307
Thanks @sweetanzell

About page looks good.

Country page: these two headings need to be changed to (smaller) sub-headings:

- Quels avantages ce projet peut-il apporter à votre pays ?
- Comment fonctionne le processus ?

Once done, please deploy to the live site. Thanks!

[2021-05-26 08:22] sriza commented on #1367
@charlesyoung
We won't be carrying out the extensive design process for this issue. The design will be based on the current theme of the admin site of Resource Contract.

cc @man-git007 @adhikari-anish

[2021-05-28 10:15] adhikari-anish commented on #1365
@charlesyoung The above UI changes have been implemented and deployed to the [RC staging site](https://staging.resourcecontracts.org/search/group?q=), but haven't been deployed to OLC yet. Please check. Thank you.

![image](https://user-images.githubusercontent.com/35035442/119965674-3e08df80-bfca-11eb-9575-1e5ebbd12e7e.png)

![image](https://user-images.githubusercontent.com/35035442/119965539-19

[2021-05-28 10:17] charlesyoung commented on #1365
Many thanks, I will get internal feedback.

[2021-05-31 07:10] charlesyoung commented on #1365
@adhikari-anish something small but can you please 'round' the edges of the box better?

![image](https://user-images.githubusercontent.com/13888372/120154140-d3d18400-c1ef-11eb-809a-3a9eb3dd4a42.png)

[2021-06-01 04:54] man-git007 commented on #1380
@charlesyoung You are talking about the admin side right? Could you please provide some screenshots?

[2021-06-01 06:04] charlesyoung commented on #1380
Thanks @man-git007

Yes, it relates to the admin tool, although it now seems to work which is strange.

Will close this ticket and reopen it when the problem arises again.

[2021-06-01 06:04] #1380 closed

[2021-06-01 06:33] sriza commented on #1367
@charlesyoung
Based on the wireframes, we have developed the UI for the code list as following :
- On clicking the code list
![image](https://user-images.githubusercontent.com/24825118/120275811-947b6400-c2d1-11eb-8641-40c483c6ac16.png)
- Add form
![image](https://user-images.githubusercontent.com/24825118/120275906-b543b980-c2d1-11eb-94a8-e169740e0ef3.png)
- Edit form
![image](https://user-images

[2021-06-01 06:59] charlesyoung commented on #1367
Thanks @sriza

Looking good, some minor edits, please.

- In the menu item rename 'Code List' to 'Code Lists'
- In the tabs rename 'Contract Type' and 'Document Type' to 'Contract Types' and 'Document Types'
- Rename 'Create New Contract Types' to 'Add Contract Type' (this should also apply to doc type and resources)

cc @SamCCSI

[2021-06-01 07:48] sweetanzell commented on #1307
@SamCCSI We have changed the headings of country page mentioned above to sub-headings. This changes has been deployed to staging site as well as production site.

Thank you

[2021-06-01 10:44] charlesyoung commented on #1377
This also occurs on RC.

@man-git007 can you please look at this bug?

[2021-06-01 10:46] charlesyoung commented on #1376
@zaid-azmat will you be able to look at this ticket?

[2021-06-01 10:46] #1375 closed

[2021-06-01 10:52] charlesyoung commented on #1371
@SamCCSI should we still investigate this ticket?

If the full OCID, for example, isn't specified in the free text search box then it finds all docs with the 'shorten' ID and breaks the rest of the search queries like country and category.

[2021-06-01 10:56] charlesyoung commented on #894
@SamCCSI can I close this ticket?

[2021-06-01 12:39] SamCCSI commented on #1307
Hi Sweta, this looks good on the staging site -- please deploy to live
site. Thanks!

I will be back in touch once we have the French translation for the "Using
this site" page, which I think is the last one to input.

Sam

On Tue, Jun 1, 2021 at 3:49 AM sweta shrestha ***@***.***>
wrote:

[2021-06-01 12:42] SamCCSI commented on #1367
Nice.

Have we made clear that only a select few users would be able to add? I
think so, I remember you mentioning 'super users'. Maybe just make it that
only admins can add? That saves YI adding a new type of user. Then you and
I can just change any ppl who shouldnt be admins back to another status?

*SAM SZOKE-BURKE*
*Senior Legal Researcher**Columbia Center on Sustainable Investment*
Columbia L

[2021-06-01 12:49] sweetanzell commented on #1307
@SamCCSI The changes has already been deployed to the live site.

[2021-06-01 12:55] #894 closed

[2021-06-01 12:57] SamCCSI commented on #1371
Yes please, given large number of docs on both RC and OLC, it is important that we can track down docs quickly when edits are needed. And right now the search sill seems buggy as you describe

[2021-06-01 15:22] qakhtar2 commented on #1376
@man-git007 I can see multiple contact email variables, may I know the exact variables, and the just to make sure this should be the contact email ?
resourcecontracts@resourcegovernance.org

[2021-06-01 15:26] zaid-azmat commented on #1376
@man-git007 I can see multiple contact email variables, may I know the exact variables, and the just to make sure this should be the contact email ?
resourcecontracts@resourcegovernance.org

[2021-06-01 17:08] charlesyoung commented on #1376
@zaid-azmat resourcecontracts@resourcegovernance.org is the correct email address.

[2021-06-01 17:19] charlesyoung commented on #1376
Remember the update only needs to happen to RC and not OLC. The OLC email address is info@openlandcontracts.org

[2021-06-01 18:28] qakhtar2 commented on #1376
@charlesyoung i have replaced info-resourcecontracts@resourcegovernance.org with resourcecontracts@resourcegovernance.org

[2021-06-01 18:30] zaid-azmat commented on #1376
@charlesyoung i have replaced info-resourcecontracts@resourcegovernance.org with resourcecontracts@resourcegovernance.org

[2021-06-02 08:46] charlesyoung commented on #1376
Many thanks.

[2021-06-02 08:46] #1376 closed

[2021-06-02 09:10] charlesyoung commented on #1365
@adhikari-anish you can deploy to the OLC and RC Prod sites once the following has been done.

- Box edges sorted out
- French text updated to the Google sheet. As an example, OU and ET should be on the buttons and some of the text isn't correct.

https://docs.google.com/spreadsheets/d/1kQg8wJcW1nP6EywMs35PGco9-i0C7xiYlhIZ2ygdZis/edit#gid=0

[2021-06-03 12:46] charlesyoung commented on #406
@adhikari-anish will it be possible to look at this?

[2021-06-03 12:46] charlesyoung commented on #1365
@adhikari-anish will it be possible to look at this?

[2021-06-04 07:08] adhikari-anish commented on #1365
@charlesyoung Thank you for the feedback and it is possible. I am looking at it. Can you please provide the translated text for OLC website too? For OLC, we have word annotated and for RC, we have word tagged. Right now we have put the google translated text but it's different from the text in the google sheet. So, it would be helpful if you provide for OLC too.

[2021-06-04 07:35] charlesyoung commented on #1365
@SamCCSI can you pls help with the above request?

[2021-06-04 13:12] SamCCSI commented on #1365
My intuition is that the OLC text would be as follows, but I am going to
double check with a native speaker

OU (par défaut) renvoie les documents annotés avec au moins l'un des
critères sélectionnés.
ET renvoie les documents annotés avec tous les critères sélectionnés.

On Fri, Jun 4, 2021 at 3:35 AM Charles Young ***@***.***>
wrote:

[2021-06-04 20:56] SamCCSI commented on #1365
OLC text has been confirmed. Thanks

On Fri, Jun 4, 2021 at 9:12 AM Sam Szoke-Burke ***@***.***> wrote:

[2021-06-07 07:16] charlesyoung opened #1382 "Search results number vs. Excel export number"
@man-git007 there seems to be a bug wrt the number of search results versus the number exported to Excel.

Below search for instance returns 54 documents but only 38 are exported to Excel.

https://resourcecontracts.org/search/group?q=&resource%5B0%5D=Hydrocarbons&year%5B0%5D=2021&year%5B1%5D=2020&year%5B2%5D=2019&year%5B3%5D=2018&year%5B4%5D=2017&year%5B5%5D=2016&language%5B0%5D=en&page=1

[2021-06-08 04:59] adhikari-anish commented on #1365
@charlesyoung
The above changes have been done and are pushed to production sites ([RC](https://www.resourcecontracts.org/search/group?q=&lang=fr), [OLC](https://openlandcontracts.org/search/group?q=&lang=fr)). Please check it. Thank you.

![image](https://user-images.githubusercontent.com/35035442/121125420-407afd00-c846-11eb-9aa4-ee57a81d7615.png)

![image](https://user-images.githubusercontent.

[2021-06-08 05:05] adhikari-anish commented on #406
@charlesyoung
The French text has been updated and is pushed to the production site. Please check it. Thank you.

![image](https://user-images.githubusercontent.com/35035442/121126041-3d344100-c847-11eb-9070-d828b584ff38.png)

@man-git007

[2021-06-08 06:23] charlesyoung commented on #1365
Thanks @adhikari-anish but I get the same search result using OR as well as AND. Using AND doesn't reduce the search results as it should do.

[2021-06-08 06:24] charlesyoung commented on #406
Many thanks @adhikari-anish

[2021-06-08 06:24] #406 closed

[2021-06-08 07:31] adhikari-anish commented on #1365
@charlesyoung
The clause searching branch wasn't merged in the API repo. Now, it's merged and should be working. Please verify. Thank you.

[2021-06-08 07:44] charlesyoung commented on #1365
Thanks.

@SamCCSI please check OLC and let us know if the ticket can be closed.

[2021-06-08 13:36] SamCCSI commented on #1365
On OLC the lay out is all messed up (see bottom right of screenshot) -- can
this be fixed, as a priority?

[image: image.png]

[2021-06-08 13:39] SamCCSI commented on #1365
posting screenshot again

![image](https://user-images.githubusercontent.com/12913915/121195151-5afca880-c83d-11eb-963b-b8d279d8b809.png)

[2021-06-08 13:40] charlesyoung commented on #1365
It's a caching issue, see below.

![image](https://user-images.githubusercontent.com/13888372/121195289-c3647d80-c86f-11eb-9019-581413405792.png)

[2021-06-08 13:41] SamCCSI commented on #1365
OK it was a caching issue. Looks good now, and I confirm that it is working as planned based on a quick test of two categories (OR produced 140+ results, AND produced 4 results)

[2021-06-08 13:42] charlesyoung commented on #1365
@man-git007 is there anything we can do from the backend to resolve caching issues? Users might not realise what this issue is when presented with the image Sam just uploaded.

[2021-06-09 06:55] charlesyoung opened #1384 "HIT could not be reset"
@zaid-azmat will you be able to look at the problem of not being able to reset a HIT. Get a 'HIT could not be reset' message when trying to reset the second last HIT of below document.

https://admin.resourcecontracts.org/mturk/2886

cc @SamCCSI

[2021-06-09 10:53] sriza commented on #1367
@charlesyoung

We have added 'Code List' to the admin site as per the above wireframes and discussions. The changes are yet to be properly deployed and migrated at the staging site due to the build failure.

We realized that the user is able to add new resources in the contract form even when those resources don't currently exist in the system.
![image](https://user-images.githubusercontent.com/24

[2021-06-09 11:14] charlesyoung commented on #1367
Thanks @sriza

I've always worried about users having the ability to add resources but couldn't argue the point without providing an alternative, which we now have. My feeling is that we should remove the ability to add resources directly from the form. @SamCCSI what do you think?

[2021-06-09 12:41] SamCCSI commented on #1367
So this means that the uploader would have to request a new addition to the
admin, and the admin would then add in a separate screen before the new
term was an option?

It seems a bit work intensive, but I agree it is problematic to have
uploaders, who are often new to the database, adding in any resource they
like.

Ok to proceed from OLC's perspective.

---------- Forwarded message ---------
Fro

[2021-06-09 12:46] charlesyoung commented on #1384
@zaid-azmat just to add, I also get below error when rejecting a HITT.

AWS.MechanicalTurk.InvalidAssignmentState

[2021-06-09 21:55] qakhtar2 commented on #1384
Adding @mabuturabcloudelligent @yahyagulshan, Can you please look into it.

[2021-06-09 21:56] zaid-azmat commented on #1384
Adding @mabuturabcloudelligent @yahyagulshan, Can you please look into it.

[2021-06-10 07:21] charlesyoung commented on #1382
@man-git007 have you had time to look at this issue? How much time will be required to fix the issue?

[2021-06-10 07:46] charlesyoung opened #1385 "Additional columns in Excel download file"
Add below fields to the RC and OLC Excel download file.

- Signature Year - We have a signature date but not a year, needs to be added after the signature date field
- ResourceContracts/OpenLandContracts Document URL - We have a PDF URL field but that only opens the actual doc on AWS, we want to add a link that will open the document directly in RC or OLC. Needs to be added before the PDF URL fiel

[2021-06-10 07:48] charlesyoung commented on #1377
@man-git007 how much time is required to resolve this issue?

[2021-06-10 09:55] sriza commented on #1377
@charlesyoung
The fixes for this issue have been deployed to the production site. Please have a look and let us know if the issue persists.
The time required to solve this issue was 0.75 hours.

cc @man-git007

[2021-06-10 10:00] adhikari-anish commented on #1365
@charlesyoung The CSS version is now updated in both production sites. So, there won't be a cache issue as above. Thanks.
cc @SamCCSI @man-git007

[2021-06-10 10:03] charlesyoung commented on #1377
Great thanks, works well.

@SamCCSI please verify and close the ticket if all OK. BTW below doc has a signature year of 1001.

https://openlandcontracts.org/contract/ocds-591adf-6204888114/view#/pdf

[2021-06-10 10:04] charlesyoung commented on #1365
Thanks. Can we do the same for future development tasks to remove the caching issues experienced?

[2021-06-10 10:30] adhikari-anish commented on #1365
@charlesyoung Sure. Actually, I had forgotten to update the CSS version. I will keep it in my mind from now on.

[2021-06-10 13:53] SamCCSI commented on #1377
Working beautifully, thanks.

(Charles, that contract has 1001 for year because it's undated)

[2021-06-10 13:55] charlesyoung commented on #1377
OK thanks.

[2021-06-10 13:55] #1377 closed

[2021-06-10 14:47] qakhtar2 commented on #1384
@charlesyoung were you able to reset other HITS?

[2021-06-10 14:47] zaid-azmat commented on #1384
@charlesyoung were you able to reset other HITS?

[2021-06-11 08:45] charlesyoung commented on #1365
@adhikari-anish I have to apologise but there have been some French text changes. Will it be possible to look at  below Sheet text marked in yellow? Thanks

https://docs.google.com/spreadsheets/d/1kQg8wJcW1nP6EywMs35PGco9-i0C7xiYlhIZ2ygdZis/edit#gid=0

[2021-06-11 09:32] sriza commented on #1385
@charlesyoung
We will be requiring 4 hours to add these two columns to the Excel download file.
Since I will be on leave next week, we will only begin working on this issue the week after the next week.

cc @man-git007

[2021-06-11 10:31] charlesyoung commented on #1385
Great, many thanks @sriza

[2021-06-11 10:37] sriza commented on #1382
@charlesyoung
We found the number of contracts in excel and the ones displayed in the listing page to be equal when counted manually. The issue seems to be with the count shown in the listing page.
This might take quite some time to debug. We have estimated it to be around 4 hours for now.

cc @man-git007

[2021-06-11 10:42] charlesyoung commented on #1382
Thanks @sriza

Let's try to keep it to 4 hours if possible.

[2021-06-14 03:33] man-git007 commented on #1367
@charlesyoung The changes have been deployed to the [staging](https://admin-staging.resourcecontracts.org/codelist/contract_types) server. Please verify and provide us feedback if any. Since Shreeja is on a leave we might able to implement feedbacks next week only.

cc @SamCCSI @sriza @adhikari-anish

[2021-06-14 07:07] charlesyoung commented on #1367
Thanks @man-git007

Couple points.
- Disallow the manual addition of resources
- I get this [crash ](https://admin-staging.resourcecontracts.org/contract/4641)when adding a resource manually
- I removed my cache but I still don't see the new resource (Test Resource) in the list

cc @SamCCSI @sriza @adhikari-anish

[2021-06-14 09:55] charlesyoung commented on #1367
OK so it seems that the resource was added.

Issues.
- Should be added in alphabetical order
- I added Test Resource but that was changed to test_resource_

![image](https://user-images.githubusercontent.com/13888372/121873923-2be7aa80-cd07-11eb-987a-fae80afcb159.png)

[2021-06-15 05:59] charlesyoung commented on #1384
More issues. It looks like once we reject a HIT, it doesn't auto-reset so it just sits there forever unfinished.

[2021-06-15 06:55] adhikari-anish commented on #1365
@charlesyoung The French text has been changed and deployed to the prod site. Please verify [RC](https://www.resourcecontracts.org/search/group?q=&lang=fr).

[2021-06-15 07:02] charlesyoung commented on #1365
Many thanks.

[2021-06-15 07:02] #1365 closed

[2021-06-15 19:05] SamCCSI opened #1387 "Replacing 'contract type' with 'doc type' in search results and doc view - OLC only"
## Why
OLC features a lot of docs that aren't contracts, meaning that the final column in search results is often blank.
![image](https://user-images.githubusercontent.com/12913915/122109080-f6b48880-cdea-11eb-87da-cb4c42ef70d6.png)

## What
Replace 'contract type' with 'doc type' for (1) search result display and (2) right column in doc view mode

[2021-06-16 06:51] charlesyoung commented on #1387
@man-git007 how much time will be required to implement this ticket?

[2021-06-18 12:41] SamCCSI commented on #1384
More examples

https://admin.resourcecontracts.org/mturk/2903
https://admin.resourcecontracts.org/mturk/2901
https://admin.resourcecontracts.org/mturk/2899
https://admin.resourcecontracts.org/mturk/2886

[2021-06-18 14:12] charlesyoung commented on #1384
One more issue. I pushed this contract to MT but it's not showing in the MT list.

https://admin.resourcecontracts.org/contract/3941

cc @SamCCSI

[2021-06-18 15:08] mabuturabcloudelligent commented on #1384
Hi @charlesyoung
We have looked into the reset issue and it looks like Error handling is missing for MTurk HIT reset part

I checked 1 of the HIT in detail and found out that the HIT do not exist on MTurk and MTurk actually returns an error saying HIT Do not exist but because the error is not being handled inside the app, so the code just breaks

I believe there was a re-write of MTurk Service(Ver

[2021-06-18 16:08] charlesyoung commented on #1384
Thanks. Will that also result in the other issues mentioned above like the doc sent to MT not showing in the list, rejecting a HIT that has not been approved issue, etc?

Cc @SamCCSI

[2021-06-18 16:21] mabuturabcloudelligent commented on #1384
In my first impression, it does not seems to have a major link
The contract that you mentioned ( https://admin.resourcecontracts.org/contract/3941 ) has a timestamp of 2019 in Metadata so if it is that old and not published recently, so possibly there could be a link that some other issue removed it from there

Kindly check that new contracts that are not previously  uploaded, are showing up in th

[2021-06-18 16:32] charlesyoung commented on #1384
We need to research all MT issues like the doc not showing up in the list. The metadata might have been published a while ago but as you can see from below the doc was pushed to MT on the 16 June.

https://admin.resourcecontracts.org/mturk/3941

I did push below contract to MT on the 15 June and it worked.

https://admin.resourcecontracts.org/mturk/5164

[2021-06-18 16:33] charlesyoung commented on #1384
BTW when I try to reset a newly pushed doc I get below error.

HIT is in Reviewable state so can not be reset.

[2021-06-18 16:36] mabuturabcloudelligent commented on #1384
Okay @charlesyoung
I would recommend to write a small document with the issue and your observations that whether it is happening with every contract/new contract/old ones
and you can share via email

For internal testing, we may rollback to prev versions on staging site, just for checking that whether these issues were there before or started happening recently

[2021-06-18 19:37] zaid-azmat commented on #1384
Update : Rolled back current staging to old production for reoubleshooting and we are still getting the same errors while reseting and rejecting the hit.

[2021-06-18 20:29] zaid-azmat commented on #1384
Logs for refrence
``2021-06-18 20:21:13] production.INFO: {"response":{"__type":"RequestError","Message":"This operation can be called with a status of: Submitted (1624047673908)","TurkErrorCode":"AWS.MechanicalTurk.InvalidAssignmentState"},"http_code":400,"error":"","headers":"POST \/ HTTP\/1.1
Host: mturk-requester.us-east-1.amazonaws.com
Accept: *\/*
Authorization: AWS4-HMAC-SHA256 Credential=A

[2021-06-18 20:32] mabuturabcloudelligent commented on #1384
Hi @charlesyoung
We checked the reject HIT issue as well and the problem seems to be somewhat common that we are trying to use HITs that do not exist on MTurk

And it may require a bit of handling also inside code part also
The logs that we got while investigating issue are posted above by Zaid and can be used as reference for development/fixing

[2021-06-21 04:32] adhikari-anish commented on #1387
@SamCCSI Do you mean to change this table column title from "Contract Type" to "Document Type"?
![image](https://user-images.githubusercontent.com/35035442/122706959-c3557c00-d278-11eb-9d36-2dad29ff5707.png)

and this "Type of Contract" to "Type of Document" in the document view page?
![image](https://user-images.githubusercontent.com/35035442/122707209-3c54d380-d279-11eb-8a87-a5c79b5b906f.png)

A

[2021-06-21 07:19] sriza commented on #1385
@charlesyoung
Is the ResourceContract/OpenLandContracts Document URL the link to contract [view](https://openlandcontracts.org/contract/ocds-591adf-1281238394/view#/pdf) page?
Also, the OLC Excel download file doesn't seem to contain a PDF URL field. Is it ok if we add the Document URL right after the contract name?

cc @man-git007

[2021-06-21 08:14] charlesyoung commented on #1387
Yes, that's correct but I will ask that @SamCCSI confirms.

How much time will it take to implement?

[2021-06-21 09:55] charlesyoung commented on #1384
I have created a Google doc where we are capturing MT issues.

https://docs.google.com/document/d/16PmebHM7-kU6pGMiOcvF_OlG0Po3xyXMs9TKwu1tT3w/edit

[2021-06-21 10:01] charlesyoung commented on #1384
So the Chad [document ](https://admin.resourcecontracts.org/contract/3941)sent to MT that's not showing up in the list has had 1 [page ](https://admin.resourcecontracts.org/mturk/3941)transcribed. How is that possible?

On the plus side, it seems like the qualifications update that was done has worked because it's one of the first docs in a while that has been transcribed correctly.

[2021-06-21 10:38] charlesyoung commented on #1385
Thanks @sriza

Yes, that is the correct page.

[2021-06-21 11:03] sriza commented on #1367
@charlesyoung
We were only focused on adding the ability to update the resources, document types, and contract types from the admin site with 'Code List'.

Similar to the admin site the public site has its own set of language files to store different resources, document types, contract types, and their translations. They had always been updated manually at the file level as previously done at the

[2021-06-21 11:20] adhikari-anish commented on #1387
@charlesyoung This may take 2.5 hours to implement.

[2021-06-21 12:31] charlesyoung commented on #1387
Thanks. Please go ahead once @SamCCSI agrees to above.

[2021-06-21 12:35] charlesyoung commented on #1367
@sriza I don't understand why the development would only cover the backend work. What is the point of adding new doc types or resources and not have this displayed on the public site? Why were we not told that the time estimate is only for the backend work? This development methododology is totally nonsensical.

cc @SamCCSI @man-git007 @anjesh

[2021-06-21 13:00] SamCCSI commented on #1387
Correct, thanks all.

The french is : Type de document

[2021-06-21 13:01] SamCCSI commented on #1385
Is it possible to make the OLC excel download have the same fields as the
RC one?

(Charles, do you know if there are any RC-specific fields that wouldn't be
applicable?)

[2021-06-21 13:11] charlesyoung commented on #1385
@SamCCSI I think it might be easier to add the 2 columns to the existing RC and OLC spreadsheet formats.

So as an example the RC xls has an additional 'Association' column (defining if a main or supporting doc) and it doesn't have the "Deal Number' column because it's not relevant to RC.

Agree?

[2021-06-21 13:18] SamCCSI commented on #1385
Sounds good, thanks Charles

[2021-06-21 16:52] mabuturabcloudelligent commented on #1384
HI @charlesyoung
Can you let me know about which list are you referring to
I can find it on https://admin.resourcecontracts.org/mturk
![Capture](https://user-images.githubusercontent.com/79276394/122799272-f597c580-d2da-11eb-808f-4548d7f56db0.PNG)

[2021-06-21 17:35] charlesyoung commented on #1384
Thanks, that's the one. Any idea why its not ordered on the date anymore?

[2021-06-21 17:44] charlesyoung opened #1389 "OCR"
@man-git007 will it be possible to create a spreadsheet of documents where the Text Quality has not yet been selected? I can let you know what fields are required once I know we can run the backend query.

[2021-06-21 18:01] mabuturabcloudelligent commented on #1384
@charlesyoung
I looked into the code and it looks like the contract is ordered by created_datetime in descending order
You can verify that by opening contract above and below it and check their creation time

[2021-06-21 18:09] charlesyoung commented on #1384
Thanks but I don't understand. The 'Gécamines, Terra Mining, PE 1079, Annex 3, 2021 - Congo, the Democratic Republic of the' was pushed to MT on the 15 June and it immediately showed at the top of the list. Why would that not be the same for the contract I pushed to MT on the 16 June?

[2021-06-21 18:34] mabuturabcloudelligent commented on #1384
@charlesyoung
If you open the contract, then you would be able to see the creation time of that
https://admin.resourcecontracts.org/contract/3941
Under View all comments button, there is a section
There you would find  (Created By:)
For new contracts, the created time is the latest time on which its being created
While modifying an existing contract, the contract creation time remains the same as

[2021-06-21 18:37] charlesyoung commented on #1384
OK got it, thanks.

Can I suggest a call this week so that we are all on the same page wrt the issues and possible fixes?

[2021-06-21 18:41] mabuturabcloudelligent commented on #1384
@charlesyoung
I would recommend you to send email to Hassan Zulfiqar for this
I will also slack him, to reply your email as early as possible

[2021-06-22 04:36] man-git007 commented on #1367
@charlesyoung During our discussion we were focused on the admin side only hence the subsite part was overlooked. We will work on this.

cc @anjesh @SamCCSI @sriza

[2021-06-22 07:35] adhikari-anish commented on #1387
@charlesyoung In see summary page, after the above change, these two fields conflicted in their name.

![image](https://user-images.githubusercontent.com/35035442/122882847-50bdcc80-d35c-11eb-9d7b-1e58486cdd93.png)

Also, in French translation, both "Document Type" and "Type of document" translates to "Type de document".

![image](https://user-images.githubusercontent.com/35035442/122883060-89f63c

[2021-06-22 09:13] sriza commented on #1385
@charlesyoung
I found that the links in the RC excel file were underlined, colored in blue, and had hyperlinks which was not the case with OLC excel files.
- RC Excel File
![image](https://user-images.githubusercontent.com/24825118/122896617-f5dea200-d368-11eb-8f9f-304a6607b1ce.png)
- OLC Excel File
![image](https://user-images.githubusercontent.com/24825118/122897898-22df8480-d36a-11eb-91a2-04bee

[2021-06-22 11:03] charlesyoung commented on #1385
Yes thanks, will be good to hyperlink all URLs.

[2021-06-22 12:51] SamCCSI commented on #1387
@adhikari-anish this is a mistake at our end -- those are indeed the same fields, so we should not duplicate.

In this contract summary page, could you please revert to the contract type field that was there before? Effectively, no changes should be made to this page.

The changes to search results and left column of contract view page are still valid though.

[2021-06-23 15:05] charlesyoung commented on #1384
Thanks for the call Abu. The Google docs MT list is below for reference @SamCCSI

https://docs.google.com/document/d/16PmebHM7-kU6pGMiOcvF_OlG0Po3xyXMs9TKwu1tT3w/edit

[2021-06-24 06:13] charlesyoung opened #1390 "Missing annexes and pages"
@man-git007 how much time will be needed to update below to 'This document has missing annexes' and 'This document has missing pages'? So replace all the current text with the above.

![image](https://user-images.githubusercontent.com/13888372/123211462-c8f2d200-d4c3-11eb-9e29-e6a208529456.png)

cc @SamCCSI

[2021-06-24 07:10] charlesyoung commented on #1382
@sriza just checking on the status of this ticket.

[2021-06-24 07:10] charlesyoung commented on #1385
@sriza just checking on the status of this ticket.

[2021-06-25 03:19] adhikari-anish commented on #1387
@SamCCSI The changes have been made and deployed to staging sites. Please verify. Thank you. [RC](https://staging.resourcecontracts.org/search/group?q=&lang=en), [OLC](https://staging.openlandcontracts.org/search/group?q=&lang=en)

![image](https://user-images.githubusercontent.com/35035442/123364351-f5761f00-d593-11eb-93c6-54537b3568a2.png)

![image](https://user-images.githubusercontent.com/3503

[2021-06-25 03:25] sriza commented on #1385
@charlesyoung
The changes for this issue have been deployed to the staging sites.
- OLC
![image](https://user-images.githubusercontent.com/24825118/123364513-3ec66e80-d594-11eb-801c-27a5aad6f12b.png)
![image](https://user-images.githubusercontent.com/24825118/123364536-4e45b780-d594-11eb-8ff0-fd0e1e80328f.png)
- RC
![image](https://user-images.githubusercontent.com/24825118/123364782-c8763c00-d594

[2021-06-25 04:17] sriza commented on #1382
@charlesyoung
We have been looking into this issue but couldn't give it quite enough time as we are also working with tickets related to additional columns and the code list. We will continue working on this ticket next week and will inform you once it's done.
Thank you

cc @man-git007

[2021-06-25 06:14] charlesyoung commented on #1382
Thanks @sriza

[2021-06-25 06:16] charlesyoung commented on #1387
@adhikari-anish please note that this ticket only relates to OLC and not RC.

[2021-06-25 06:21] charlesyoung commented on #1385
Thanks @sriza.

Will it be possible to make the year a number and not a text field?

![image](https://user-images.githubusercontent.com/13888372/123379257-26535580-d58e-11eb-8e35-cd617dcbce87.png)

[2021-06-25 06:23] adhikari-anish commented on #1387
@charlesyoung I just put RC image and link to verify that the changes aren't reflected in RC site.

[2021-06-25 11:00] sriza commented on #1385
@charlesyoung
The column 'Signature Year' has been converted to a number field. The changes are deployed to the staging sites. Could you please have a look and let us know if it is ok?
Thank you

cc @man-git007

[2021-06-25 11:16] charlesyoung commented on #1385
Thanks, will get internal approval by Monday.

[2021-06-25 14:53] charlesyoung commented on #1385
Looks good except the “Document URL” should be "ResourceContracts/OpenLandContracts Document URL”. Seeing that the xls downloads are slightly different I think we should have “ResourceContracts Document URL” for RC and "OpenLandContracts Document URL” for OLC.

@SamCCSI what do you think?

[2021-06-28 04:06] adhikari-anish commented on #1387
@charlesyoung Are the changes okay?

[2021-06-28 05:24] charlesyoung commented on #1387
@SamCCSI needs to approve this ticket.

[2021-06-28 10:41] adhikari-anish commented on #1390
@charlesyoung Do you mean like this?

![image](https://user-images.githubusercontent.com/35035442/123623655-71d75f00-d82d-11eb-9c05-9eae7c9f90b2.png)

Also, do you want this change in the admin site?
![image](https://user-images.githubusercontent.com/35035442/123623727-8582c580-d82d-11eb-8d93-2916dfef004f.png)

![image](https://user-images.githubusercontent.com/35035442/123623833-9fbca380-d82d-11e

[2021-06-28 12:51] charlesyoung commented on #1390
Hi. It should only show the new text without the 'Yes'.

It's fine from the admin side.

[2021-06-29 03:05] adhikari-anish commented on #1390
@charlesyoung This will take 1.5 hrs. Do you want this change on both sites (RC and OLC)? Also, can you please provide me the above text in French and Arabic?

[2021-06-29 06:16] charlesyoung commented on #1390
Thanks @adhikari-anish

Yes, it's both for RC and OLC.

Arabic:
Annex: هذه الوثيقة بها ملاحق مفقودة
Pages: هذا المستند يحتوي على صفحات مفقودة

@SamCCSI can you please help with the French transaltions?

[2021-06-29 12:56] #1389 closed

[2021-06-29 12:57] charlesyoung commented on #1387
FYI, @SamCCSI is on leave until the 12 July.

[2021-06-30 10:08] adhikari-anish commented on #1387
@charlesyoung Thank you for the info.

[2021-07-01 15:41] KimathiCCSI opened #1392 "Method to sort contracts ONLY in chronological order of upload in MT"
## Why - seeking to audit the accuracy of current contracts on openlandcontracts.org compared to logs in appropriate tracking spreadsheets

## What - I'm wondering if there is a sorting function or ability in MT that would allow me to (a) list contracts only (omitting associated documents) and (b) sort them chronologically by date uploaded to MT and/or sent to RC. Any help would be much appreciate

[2021-07-02 09:08] charlesyoung commented on #1392
@KimathiCCSI trust you are well. Will you be able to chat about your queries next week? Can I ask that you don't push any documents to MT until we can chat. Please email me at charlesandersonyoung@gmail.com

cc @SamCCSI

[2021-07-02 11:44] charlesyoung commented on #1367
@man-git007 just checking what the latest is with this ticket.

[2021-07-02 11:45] charlesyoung commented on #1390
@adhikari-anish just checking what the latest is with this ticket.

[2021-07-02 11:45] charlesyoung commented on #1385
@sriza please add “ResourceContracts Document URL” for RC and "OpenLandContracts Document URL” for OLC.

[2021-07-02 11:46] charlesyoung commented on #1382
@sriza just checking what the latest is with this ticket.

[2021-07-05 10:42] adhikari-anish commented on #1390
@charlesyoung I'm working on this. Will push the changes tomorrow.

[2021-07-05 11:41] sriza commented on #1367
@charlesyoung
We are currently working on integrating API with subsite.
The resources and document type metadata seems to have additional data than initially present in the language files. Missing resources, document type or contract type in seeder could later cause error in subsite when codelist is deployed.  We have listed the data we have added to the seeder in the [spreadsheet](https://docs.go

[2021-07-05 12:42] charlesyoung commented on #1367
Thanks @sriza

I don't fully understand what you are asking. Do you want me to update the Arabic translations?

[2021-07-06 03:43] sriza commented on #1367
@charlesyoung
Not the translations but the resources, document type, and contract type that we might have missed but are associated with contracts in OLC or RC.
Could you please review the spreadsheet and add the resources, document type, or contract type that we have missed?
Please let me know if it still sounds unclear.
Thank you

cc @man-git007

[2021-07-06 06:30] charlesyoung commented on #1367
Thanks but I still don't understand. Can you not just pull all the resources, document and contract types from the database? Will be better if I try to do it manually.

[2021-07-06 11:24] sriza commented on #1367
@charlesyoung
We will certainly pull the resources, document types, and contract types from the database but it would still be wonderful to get your confirmation on the data that we have collected so far. This would help us be assured on the fact that we have not missed any of the data.
Also I will be on leave for the next three days of this week. So we will resume working on this issue on the nex

[2021-07-06 11:26] sriza commented on #1382
@charlesyoung
It seems like we might require some more time to work on this issue. We will get back to you once it's done.

cc @man-git007

[2021-07-08 06:13] #1392 closed

[2021-07-08 08:41] adhikari-anish commented on #1390
@charlesyoung The changes have been deployed to both staging sites [rc](https://staging.resourcecontracts.org/contract/ocds-591adf-7028481710/view#/pdf), [olc](https://staging.openlandcontracts.org/contract/ocds-591adf-2106604888/view#/pdf). Please verify.

![image](https://user-images.githubusercontent.com/35035442/124890971-45270280-dff8-11eb-9da2-d9510a9c7733.png)

![image](https://user-images.

[2021-07-08 09:34] charlesyoung commented on #1390
Thanks @adhikari-anish

I will get internal feedback and get back to you.

[2021-07-08 18:03] charlesyoung commented on #1390
@adhikari-anish please implement on the Prod site. Thanks

[2021-07-12 13:37] SamCCSI commented on #1387
Thanks @adhikari-anish

The heading looks good.

However, the field shown for each doc under the heading is still contract type (e.g. Concession Agreement). It should be document type (e.g. Contract, or Environmental and Social Document).

Can you please make that change or let us know if it will take a lot of work so that we can reassess?

[2021-07-12 20:18] SamCCSI commented on #1307
Hi @sweetanzell, we have received the French translation of the Guides page!

Will you be able to input it? And is this PDF okay or do you prefer another format?

Many thanks,
Sam
[guide 5 pages pour traduction en français FINAL.pdf](https://github.com/NRGI/resourcecontracts.org/files/6804168/guide.5.pages.pour.traduction.en.francais.FINAL.pdf)

[2021-07-12 20:21] SamCCSI commented on #1307
By the way:
- This is for the "Introduction" and "How to Guides" sections.
- The Additional Resources section should just use what we currently have on the current French guides page -- https://www.openlandcontracts.org/guides?lang=fr

[2021-07-13 06:11] sriza commented on #1385
@charlesyoung
The column title "Document URL" has been replaced by "ResourceContracts Document URL" for RC and "OpenLandContracts Document URL" for OLC.
- RC
![image](https://user-images.githubusercontent.com/24825118/125400105-357d3480-e3d1-11eb-8c36-51bc2a918665.png)

- OLC
![image](https://user-images.githubusercontent.com/24825118/125398604-3f059d00-e3cf-11eb-92b7-916ee9a47fd2.png)

Please hav

[2021-07-14 11:16] adhikari-anish commented on #1390
@charlesyoung The changes have been implemented on Prod sites [olc](https://openlandcontracts.org/contract/ocds-591adf-6204888114/view#/pdf). Please verify. Thanks.

![image](https://user-images.githubusercontent.com/35035442/125613086-dd3635e2-a67c-49e4-a438-b590348e2f14.png)

cc @man-git007

[2021-07-14 11:40] charlesyoung commented on #1390
OLC Prod site only or also the RC Prod site?

[2021-07-15 04:00] adhikari-anish commented on #1390
@charlesyoung Also RC prod site.

[2021-07-15 09:59] man-git007 commented on #1382
@charlesyoung We are not able to give time to this ticket. We will work on it by next week.

cc @sriza

[2021-07-15 10:51] sweetanzell commented on #1307
Hello @SamCCSI,

We have updated the french text of guides page  for "Introduction" and "How to Guides" sections. The changes is deployed to the staging server. Please check: https://staging.openlandcontracts.org/guides

Regarding "Additional Resources" section, do you mean this text?
<img width="1057" alt="Screen Shot 2021-07-15 at 4 32 16 PM" src="https://user-images.githubusercontent.com/226434

[2021-07-15 14:25] SamCCSI commented on #1307
Thanks Sweta @sweetanzell

1. We need to add in hyperlinks / anchor links from the English.

- Introduction: "visitez le site openlandcontracts.org" hyperlinks to https://www.openlandcontracts.org/about
- Guide d'utilization: "par pays" --> https://www.openlandcontracts.org/countries
"par ressource" --> https://www.openlandcontracts.org/resources

2. "additional resources" refers to the ones on th

[2021-07-15 14:26] SamCCSI commented on #1307
Thanks Sweta @sweetanzell

1. We need to add in hyperlinks / anchor links from the English.
- Introduction: "visitez le site openlandcontracts.org" hyperlinks to https://www.openlandcontracts.org/about
- Guide d'utilization: "par pays" --> https://www.openlandcontracts.org/countries
"par ressource" --> https://www.openlandcontracts.org/resources
- Chercher tous les documents: " la section consacre

[2021-07-15 14:29] SamCCSI commented on #1307
(I just edited the above comment to add and amend info -- please check on github)

[2021-07-15 14:33] charlesyoung commented on #1385
Please implement for RC.

@SamCCSI you happy to implement for OLC?

[2021-07-15 14:35] SamCCSI commented on #1385
Please implement for OLC

[2021-07-15 14:40] charlesyoung commented on #1390
@SamCCSI you happy for us to close this ticket?

[2021-07-15 14:49] SamCCSI commented on #1390
English version looks good on [this example](https://www.openlandcontracts.org/contract/ocds-591adf-6994465275/view?lang=en#/).

Is the French language just from google translate? If so I will check with a native speaker.

[2021-07-15 15:46] SamCCSI commented on #1390
Have confirmed that the French should be:

**Ce document n'inclut pas les annexes**

Can this language be used on RC and OLC?

[2021-07-16 05:44] adhikari-anish commented on #1390
@SamCCSI Yes, it can be used. I'm changing it. Is the french text okay for "This document has missing pages"?

[2021-07-16 07:43] sriza commented on #1367
@charlesyoung
We have completed the development of open API and have integrated it with subsite. These changes are now deployed to the staging sites.
Could you please have a look and let us know if they are ok or if any changes are to be made?
Thank you

cc @man-git007

[2021-07-16 07:55] adhikari-anish commented on #1387
@SamCCSI The fields under the heading have been changed to document type as well. Please verify. [olc](https://staging.openlandcontracts.org/search/group?q=)

![image](https://user-images.githubusercontent.com/35035442/125912016-6036c346-3036-40e9-a8b8-62844d7dcdeb.png)
![image](https://user-images.githubusercontent.com/35035442/125912538-0c7fe7a4-c951-4a1d-bdf5-00a771f56125.png)

cc @man-git007 @

[2021-07-16 15:20] SamCCSI commented on #1387
Looks good to me. Please proceed.

[2021-07-16 15:37] SamCCSI commented on #1390
"This document has missing pages" should be "Ce document ne contient pas
toutes les pages"

[2021-07-19 04:16] sriza commented on #1385
@charlesyoung
These changes have been implemented to both RC and OLC production sites.
- RC
![image](https://user-images.githubusercontent.com/24825118/126101525-4b98d10e-454f-4552-af66-043b06acfbab.png)
![image](https://user-images.githubusercontent.com/24825118/126101553-3478913e-9943-4178-a768-1fc068f14ee7.png)

- OLC
![image](https://user-images.githubusercontent.com/24825118/126101703-7aba6de

[2021-07-19 06:52] charlesyoung commented on #1385
Many thanks.

[2021-07-19 06:52] #1385 closed

[2021-07-19 07:00] charlesyoung commented on #1382
@man-git007 can we try to finish this ticket by Friday?

[2021-07-19 07:02] charlesyoung commented on #1390
@adhikari-anish can we try to finish this ticket.

[2021-07-19 07:34] charlesyoung commented on #1367
Thanks @sriza. I did some tests and it works as expected.

Something small but can I ask that you remove the 'Whoops' text and update the text for the existing types to 'This entry already exists in the database' or something to that effect.

![image](https://user-images.githubusercontent.com/13888372/126120038-521979ce-614f-47e1-97c3-5f373dda203d.png)

[2021-07-19 08:09] adhikari-anish commented on #1387
@SamCCSI Thanks. This will be moved to production together with the code list updates issue. Once it is moved, I'll inform you.

[2021-07-19 09:04] man-git007 commented on #1382
@charlesyoung OK we will try to finish this ticket by this Friday.

[2021-07-19 09:18] adhikari-anish commented on #1390
@charlesyoung The changes of french text have been deployed to prod sites. Please verify.

[2021-07-19 09:46] charlesyoung commented on #1390
Thanks. @SamCCSI are you happy to close this ticket?

[2021-07-19 10:42] sweetanzell commented on #1307
@SamCCSI We have updated the french content for additional sources and also added the hyperlinks. Please check http://staging.openlandcontracts.org/guides

If its all good, we will update it to the production site and start working on the "Download How-To Guides" for french language

cc @man-git007

[2021-07-19 10:45] sriza commented on #1367
@charlesyoung
We can surely remove the 'Whoops' text.
About the update on the error message for the existing types, each field is being individually tested for uniqueness, and the error message is similarly generated for the clarity of the user. Do you want us to place a single error message related to the existing entry instead of multiple error messages for each field?
![image](https://user-imag

[2021-07-19 11:23] charlesyoung commented on #1367
That's a good point. Can we change the text to show below if the new type exists individually (so just the one shown if already exist) or globally (if more than one entry already exists)?

The English entry already exists in the database
The French entry already exists in the database
The Arabic entry already exists in the database

[2021-07-19 12:23] sriza commented on #1367
@charlesyoung
These changes have been made and deployed to the staging site.
![image](https://user-images.githubusercontent.com/24825118/126158226-ed20467b-d7c3-4619-a0aa-bdbe69030cc0.png)

Also, the dropdown list of resource select field in subsite has been ordered alphabetically.

Please have a look and let us know if anymore changes are to be made.
Thank you

cc @man-git007

[2021-07-19 12:50] SamCCSI commented on #1390
Yes, thanks

[2021-07-19 12:50] #1390 closed

[2021-07-19 12:59] SamCCSI commented on #1307
Thanks @sweetanzell -- some final points:

1. Change text of green button "Download How-To Guides" to "Télécharger le guide d'utilisation"

2. Will there be a PDF version of the page auto-generated into French?

3. We actually need the 5 PDF guides includes at the top of the old version of the page to be inserted under the green button -- https://github.com/NRGI/resourcecontracts.org/files/6823819

[2021-07-19 14:27] charlesyoung commented on #1367
Thanks. Just a small request, please. Capitalise all references to English French and Arabic. You can then move it to the Prod site.

![image](https://user-images.githubusercontent.com/13888372/126175956-c0946822-3a4c-44f7-ae47-1ba0cddce808.png)

[2021-07-20 13:28] SamCCSI commented on #1384
Any updates on this issue? I'm still getting "HIT could not be reset" on old MT items, eg:
https://admin.resourcecontracts.org/mturk/2886
https://admin.resourcecontracts.org/mturk/2899
https://admin.resourcecontracts.org/mturk/2901
https://admin.resourcecontracts.org/mturk/2904

But on this newer one it did reset the rejected hit: https://admin.resourcecontracts.org/mturk/3167

[2021-07-21 06:57] sweetanzell commented on #1307
@SamCCSI We have worked on all the comments sent by you except number 3.

Can you make this point more clear?

Rest of the changes has been deployed to the staging site. Please have a look.
We are facing some issues in the downloaded pdf of french version so we are working on it currently.

cc @man-git007

[2021-07-21 12:00] sweetanzell commented on #1307
@SamCCSI The download of  pdf for french language has also been done. Please do check in the staging site.

cc @man-git007

[2021-07-21 13:23] SamCCSI commented on #1307
Thanks @sweetanzell

Point 3 -- please add the resources in this document [Guides fr.docx](https://github.com/NRGI/resourcecontracts.org/files/6856029/Guides.fr.docx) under a heading named "Ressources supplémentaires" -- this should be inserted just after the green download/telecharger button. Then the "Les modules d'autoformation" section (which is already inputted into the page) comes after that

[2021-07-21 13:24] SamCCSI commented on #1307
@sweetanzell the PDF doesn't contain the hyperlinks in the text. Can these be added?

[2021-07-22 08:22] sweetanzell commented on #1307
@SamCCSI We have added the section "Ressources supplémentaires" and also added hyperlinks on the pdf. Please have a look. If its fine, we will deploy it to production site.

[2021-07-22 13:25] SamCCSI commented on #1307
Perfect, thank you. Please deploy to live site.

[2021-07-23 03:57] man-git007 commented on #1367
@charlesyoung The changes are deployed on the [live](https://admin.resourcecontracts.org/) site. Please verify.

cc @sriza @anjesh @adhikari-anish

[2021-07-23 03:57] adhikari-anish commented on #1387
@charlesyoung This issue and code list updates issue both have been pushed to production. Please verify.
cc @SamCCSI @man-git007

[2021-07-23 04:38] man-git007 commented on #1382
@charlesyoung We have worked on this ticket and have deployed it in the [staging](https://staging.resourcecontracts.org/search/group?q=&resource%5B0%5D=Hydrocarbons&year%5B0%5D=2021&year%5B1%5D=2020&year%5B2%5D=2019&year%5B3%5D=2018&year%5B4%5D=2017&year%5B5%5D=2016&language%5B0%5D=en&page=1) server. Could you please verify. If all is OK we will deploy this to the [live](https://resourcecontracts.

[2021-07-23 07:59] charlesyoung commented on #1387
Thanks @adhikari-anish

@SamCCSI can you please confirm that you are happy to close this ticket.

[2021-07-23 08:12] sweetanzell commented on #1307
@SamCCSI We have deployed the changes to the live site. Please check the live site once and if its fine now you can close the ticket.

Thank you

cc @anjesh @man-git007

[2021-07-23 08:41] charlesyoung commented on #1382
Many thanks @man-git007

I will get confirmation internally and revert back on Monday.

[2021-07-23 09:04] charlesyoung commented on #1367
OK thanks. I've added a new resource in the backend and it works but don't have a contract to link to the new resource.

@SamCCSI do you have any new code lists that can be linked to a document?

If not then I suggest we close this ticket.

[2021-07-23 13:23] SamCCSI commented on #1387
Perfect

[2021-07-23 13:23] #1387 closed

[2021-07-23 13:28] SamCCSI commented on #1307
All looks good except for one broken thumbnail:
![image](https://user-images.githubusercontent.com/12913915/126788441-33d285ee-4fe1-4d6d-94a8-610a817a27e4.png)

If you don't have thumbnail file, you could use this one https://www.dropbox.com/s/4z537wkvigxaruv/Screen%20Shot%202021-07-23%20at%209.28.13%20AM.png?dl=0

@sweetanzell

[2021-07-23 15:49] SamCCSI commented on #1367
Let's close and reopen if we encounter issues when we need this?

[2021-07-23 15:49] #1367 closed

[2021-07-23 15:52] sweetanzell commented on #1307
@SamCCSI  I added the dropbox link but it didn't worked. It might be an access issue.

Can you please upload this image to amazon aws and send me the link?

For example, we are using this link from aws in our homepage hero section:
https://resourcecontracts-subsite-prod.s3.amazonaws.com/olc-olc/bg.jpg

cc @man-git007

[2021-07-23 16:01] SamCCSI commented on #1307
Does this work?
http://www.cedcameroun.org/wp-content/uploads/2018/09/Contrat-modele-pour-les-concessions-fonci%C3%A8res-FR-212x300.png

On Fri, Jul 23, 2021 at 11:52 AM sweta shrestha ***@***.***>
wrote:

[2021-07-26 04:18] sweetanzell commented on #1307
@SamCCSI The link you provided didn't worked since its not secure. The link should have been https instead of http.

For eg - The second image has this link:
https://www.iisd.org/sites/default/files/styles/featured_box_portrait_mobile/public/publication/iisd-guide-negotiating-investment-contracts-framland-water.jpg?h=c13a0aa3&itok=DLoT9_BQ

Can you please provide us the secure link?

cc @man-git00

[2021-07-26 08:10] charlesyoung commented on #1382
@man-git007 please deploy to Prod. Thanks

[2021-07-26 13:40] SamCCSI commented on #1307
https://ccsi.columbia.edu/sites/default/files/content/pics/Contrat-modele-pour-les-concessions-foncie%CC%80res-FR-212x300.png

[2021-07-26 13:54] charlesyoung opened #1399 "ABBYY Documents Rerun"
@man-git007 there seem to be old documents that never underwent an OCR process due to not having enough credits. Is there a quick way to rerun the OCR process rather than for me to delete the document with metadata and recapture the information?

https://admin.resourcecontracts.org/contract/2599/review
https://admin.resourcecontracts.org/contract/2601/review
https://admin.resourcecontracts.org/con

[2021-07-26 17:35] sweetanzell commented on #1307
@SamCCSI Thank you for the link and now the image is visible. Please check the live site.

[2021-07-27 03:37] sweetanzell commented on #1307
g

[2021-07-28 11:12] man-git007 commented on #1382
@charlesyoung Has been deployed to the live server. If all is OK please close this ticket.

cc @anjesh @sriza

[2021-07-28 11:14] charlesyoung commented on #1382
Thanks.

[2021-07-28 11:14] #1382 closed

[2021-07-30 11:02] charlesyoung commented on #1399
@man-git007 any ideas?

[2021-08-02 08:58] man-git007 commented on #1399
@charlesyoung For contracts to redo the OCR process we need to run a PHP command in the server itself and would be needing the assistance of cloudelligent. Also, it would be helpful if we could test this in the staging server first before implementing it in the production server.

[2021-08-02 10:55] charlesyoung commented on #1399
Thanks @man-git007

Will you be able to run a query to identify the documents where no OCR process was run? Also, can the PHP command be run on a list of documents rather than the entire set?

[2021-08-04 10:38] man-git007 commented on #1399
@charlesyoung I have listed the contracts in the [google sheet](https://docs.google.com/spreadsheets/d/1R3kHumTtGnmPN0OKzwAw62UlmOYFBmAHQC_0Ez1UbJ8/edit#gid=0). Please look into this.

The OCR command cannot be run for a specific page and will be run for the whole document pages.

cc @anjesh

[2021-08-04 10:51] charlesyoung commented on #1399
Thanks @man-git007

So you can run be run on the 12 noted documents?

[2021-08-06 03:44] man-git007 commented on #1399
@charlesyoung We need server access to run the command on these documents. For this cloudelligent should run a PHP command in the production server. I could mail them the command.

[2021-08-06 06:15] charlesyoung commented on #1399
Thanks @man-git007 but can I confirm that you can run the script for only those 12 documents? It will create a mess if it's run on already OCR'ed documents.

[2021-08-09 06:21] charlesyoung opened #1400 "Mechanical Turk Workflow"
Once the transcribed document is sent back to RC / OLC

![image](https://user-images.githubusercontent.com/13888372/128666343-8937fe3c-edcb-43cf-92b0-75d145df8ccf.png)

The text status changes from 'Needs Transcription' to 'Acceptable'.

![image](https://user-images.githubusercontent.com/13888372/128666512-48597db0-e60a-42fa-9a9e-1ed6dd893f9e.png)

![image](https://user-images.githubusercontent.co

[2021-08-09 07:07] man-git007 commented on #1399
@charlesyoung Yes the command would be run for those 12 documents only, but note that the command would be run for all the pages of those documents.

[2021-08-09 07:09] charlesyoung commented on #1399
OK thanks. How much time will you need (want to add it to the support Google sheet)? Can you contact cloudelligent?

[2021-08-09 07:21] man-git007 commented on #1399
@charlesyoung This won't take that much time as it's just a command but for doing some preliminary research for this ticket it took about 4hrs. The command execution time for all the 12 documents might take 0.5hr at the cloudelligent end.

[2021-08-10 08:37] charlesyoung commented on #1400
@man-git007 how much time will this task take?

[2021-08-11 09:09] man-git007 commented on #1400
@charlesyoung Are you suggesting publishing the pdf text directly after `Acceptable` is clicked in the text quality section?

cc @sriza

[2021-08-11 10:24] charlesyoung commented on #1400
@man-git007
1. Publish the text automatically after 'Acceptable' is selected in the text quality section
2. Publish the text automatically once the 'Send to RC' button is selected in Mechanical Turk.

[2021-08-11 14:16] #704 closed

[2021-08-11 14:18] #259 closed

[2021-08-11 14:26] charlesyoung commented on #1368
@man-git007 how much time will be required to do below?

PDF/annotations, remove the "complete" button step and make the "publish" button appear

[2021-08-11 14:27] charlesyoung commented on #1371
@man-git007 how much time will it take to address this issue?

[2021-08-12 11:32] #142 closed

[2021-08-16 07:02] charlesyoung commented on #1399
@man-git007 Zaid ran the commands but I now get below error on those specific documents.

Sorry, the page you are looking for could not be found.

[2021-08-16 07:02] charlesyoung commented on #1371
@man-git007 will it be possible to get a time estimation?

[2021-08-16 07:02] charlesyoung commented on #1368
@man-git007 will it be possible to get a time estimation?

[2021-08-16 07:03] charlesyoung commented on #1400
@man-git007 will it be possible to get a time estimation?

[2021-08-16 07:45] man-git007 commented on #1399
@charlesyoung The three documents seem to have the OCR process failed. We could rerun the OCR process for those three documents. If that doesn't work we might need to re-upload those three documents.

[2021-08-16 11:47] man-git007 commented on #1371
@charlesyoung The time estimation for this would be 0.5 hr.

[2021-08-16 11:50] man-git007 commented on #1368
@charlesyoung The time estimation is already mentioned in the [excel file ](https://docs.google.com/spreadsheets/d/1CbNtEy8wTdyRNBzUFiWRbaPJmWq2h4Y0AjIOh2ao35U/edit#gid=0&range=9:9)that I have shared. Since [Mturk](https://github.com/NRGI/resourcecontracts.org/issues/1400) issue is also related to this so an additional of 4 hrs might add up. Also, should we also do this for annotation publish as w

[2021-08-16 11:54] charlesyoung commented on #1371
OK thanks @man-git007, please work on this task when you have time.

cc @SamCCSI

[2021-08-16 12:01] charlesyoung commented on #1368
Thanks, what xls file.

[2021-08-16 12:08] man-git007 commented on #1368
@charlesyoung Sorry meant to say [google sheet](https://docs.google.com/spreadsheets/d/1CbNtEy8wTdyRNBzUFiWRbaPJmWq2h4Y0AjIOh2ao35U/edit#gid=0&range=9:9).

[2021-08-17 05:17] sriza commented on #1371
@charlesyoung
The issue related to the backend filter has been resolved and is now deployed to the [staging](https://admin-staging.resourcecontracts.org/contract?year=all&country=CD&category=all&resource=Zinc&q=united+resource) site. Please have a look and verify if it is functioning properly.

Thank you

cc @man-git007

[2021-08-17 05:30] sriza commented on #1368
@charlesyoung
Since this issue is now moved to sprint 30, when do you suggest we start working on this issue?

cc @man-git007

[2021-08-17 07:03] charlesyoung commented on #1371
Thanks @sriza

@SamCCSI will you be able to run some test searches on the Staging admin site to confirm that the filtering has been fixed?

[2021-08-17 08:20] charlesyoung commented on #1400
@man-git007 please confirm that this task will take 4 hours.

[2021-08-17 08:20] charlesyoung commented on #1368
@man-git007 please confirm that this task will take 16 hours.

[2021-08-17 14:05] SamCCSI commented on #1371
Seems to be working. Please deploy; thanks!

[2021-08-18 04:55] man-git007 commented on #1368
@charlesyoung This task can be completed within 16 hours.

cc @sriza

[2021-08-18 04:57] man-git007 commented on #1400
@charlesyoung Since this ticket is related to [https://github.com/NRGI/resourcecontracts.org/issues/1368](https://github.com/NRGI/resourcecontracts.org/issues/1368) ticket we have estimated 4hrs for this ticket if have to work only on this ticket there might be the addition of 2hrs.

cc @sriza

[2021-08-18 05:55] sriza commented on #1371
@charlesyoung
The fixes for the backend filter have been deployed to the [production](https://admin.resourcecontracts.org) site as well. Please verify the changes.

Thank you

cc @man-git007

[2021-08-18 07:09] #1371 closed

[2021-08-18 07:27] charlesyoung commented on #1368
@man-git007 please proceed.

cc @sriza @SamCCSI

[2021-08-18 07:27] charlesyoung commented on #1400
@man-git007 please proceed.

cc @sriza @SamCCSI

[2021-08-18 08:04] #1399 closed

[2021-08-20 10:56] sriza commented on #1368
@charlesyoung
We have prepared a [google sheet](https://docs.google.com/spreadsheets/d/1peVci7Q7E-lCQ4rjXuy8qFZ035fojGJ7y37c6lUMjgk/edit#gid=0) with the list of contracts having the status `completed`.
- The first sheet contains the list of contracts whose PDF status is set completed. Could you please publish those contracts?
- The second sheet contains all the contracts that have either the metad

[2021-08-20 11:43] charlesyoung commented on #1368
Not sure that we can do this automatically. See below examples.

1. https://admin.resourcecontracts.org/contract/3622 - Actually needs to be transcribed so cannot be published.
2. https://admin.resourcecontracts.org/contract/2719 - The document still needs to be published

Can you add a column to the xls noting and sorting if its a RC or OLC document.

[2021-08-20 13:12] sriza commented on #1368
@charlesyoung
I have added a column to the first and second sheets to categorize contracts based on OLC and RC. Please have a look.

cc @man-git007

[2021-08-20 13:46] charlesyoung commented on #1368
Thanks, I will look at the RC docs on Monday.

@SamCCSI will you be able to look at the OLC docs?

[2021-08-20 15:15] SamCCSI commented on #1368
Do we need to publish all docs with completed status in order for YI to proceed with the streamlining?

I ask because it may takes us some time to work through all of the docs. Many thanks

[2021-08-24 05:43] charlesyoung commented on #1368
@sriza the RC docs are done.

@SamCCSI it shouldn't take too much time because most of the OLC docs relate to annotations not being published like the below doc.

https://admin.resourcecontracts.org/contract/2910/annotate

[2021-08-26 23:27] SamCCSI opened #1407 "Add new filters to backend contract search"
Request from longtime administrator to help save time locating dos on the backend.

Can YI please provide a quote for this work?

Add the following two dropdown filters on the below search page:
- Filter for document type
- Filter for contract type
- Filter for language
- Filter for company name

All should be ordered in the same way as on the front-end search page.

![image](https://user-images.g

[2021-08-26 23:30] SamCCSI opened #1408 "Add additional published labels on backend search results"
**The problem**
On backend, in the search results, a "Published" label shows for metadata published, but it does not show if text is published and annotations are published.

**The request**
Change the one published label to 3 different ones - one for metadata, one for text, and one for annotations. Each needs to be labeled so that it is clear.

![image](https://user-images.githubusercontent.com/1

[2021-08-30 12:52] SamCCSI opened #1409 "Problems accessing two listed docs on the backend"
There two documents that I am not able to access for some reason. Whenever I try to open [UPC Renewable, Social Impact Assessment (FR), 2015 ](https://admin.resourcecontracts.org/contract/5107)or [UPC Renewable, Environmental and Social Action Plan (FR), 2015](https://admin.resourcecontracts.org/contract/5107), I get a screen saying “Whoops, looks like something went wrong.”

Could YI please check

[2021-08-30 12:59] charlesyoung commented on #1409
Just a further note that the public site also crashes on those 2 docs when clicking on the links.

![image](https://user-images.githubusercontent.com/13888372/131342555-de418e08-0df2-49ba-b38b-cd80b9727c4a.png)

[2021-08-30 13:24] charlesyoung commented on #1409
Received errors for docs 5104 and 5107 which relate to those 2 docs.

![image](https://user-images.githubusercontent.com/13888372/131345944-379d9bd8-6659-4e63-87c4-50b8480150dc.png)

[2021-08-31 03:51] sriza commented on #1368
@charlesyoung
Shall we proceed with changes regarding the [removal of unpublish window](https://github.com/NRGI/resourcecontracts.org/issues/1368#issuecomment-906469263) ?
Please let us know if you suggest any other changes to be done.

Thank you

cc @man-git007 @SamCCSI

[2021-08-31 07:06] charlesyoung commented on #1368
@sriza please proceed with @SamCCSI suggestion.

'Eliminate this step and make it re-publish automatically when we click save on metadata.'

[2021-08-31 14:22] sriza commented on #1368
@SamCCSI
I had few questions regarding the automatic republish.
- Should we automatically publish metadata that has the current status of `published` only or metadata with current status `draft`, `unpublished` and `rejected` should also get automatically published on save?
- Is automatic republish applicable to annotations as well?

It would be really helpful to proceed further if the above confus

[2021-08-31 15:07] SamCCSI commented on #1368
**Sam: Yes, auto-publish only when metadata has the current status of published and is then edited and saved.**

**Sam: Yes.**

The staging site is working really nicely.

Can you please change the "Submit" button in metadata editing mode to "Save changes" ? This will make it clearer to users.

[2021-08-31 15:10] SamCCSI commented on #1368
New request -- can we have the same rule for published text?

Currently: when I edit a text page that is already published, then go back to contract page, it lists text as "Draft". Please change it so that it auto-saves the text changes that I make (when the text is already published.)

cc @charlesyoung

[2021-08-31 15:10] SamCCSI commented on #1368
![image](https://user-images.githubusercontent.com/12913915/131528386-17c6c3a6-657c-400f-85c3-4b74e368de2c.png)

[2021-09-06 11:59] sriza commented on #1368
@SamCCSI
The changes related to re-publishing the text and annotations along with replacing 'submit' with 'save changes' in metadata edit form are now deployed to the staging site. Please have a look and let us know if it is functioning as it should.

Thank you

cc @man-git007 @charlesyoung

[2021-09-07 21:29] SamCCSI commented on #1368
all working nicely

i believe we have removed all docs with 'completed' status on the live back end. Could you please check this?

Ready to move to live site from my perspective.

Thank you!

[2021-09-07 21:29] SamCCSI commented on #1368
@sriza

[2021-09-07 22:18] mabuturabcloudelligent commented on #1384
@charlesyoung
During validation that RC reset HIT issue is no more coming up, one of the HIT is going to be actually created in the actual MTurk system

[2021-09-08 07:03] charlesyoung commented on #1384
@mabuturabcloudelligent yes I think that sounds right. @SamCCSI can you please confirm?

[2021-09-08 12:24] mabuturab1 commented on #1384
@charlesyoung
Can you provide a contract link that is safe to reject for testing purpose, on Production website

[2021-09-08 12:27] charlesyoung commented on #1384
https://admin.resourcecontracts.org/mturk/4179

[2021-09-08 12:31] SamCCSI commented on #1384
I still have trouble resetting some of them - "HIT could not be reset". E.g.
https://admin.resourcecontracts.org/mturk/4313
https://www.dropbox.com/s/9ojbuuonovvqt6n/Screen%20Shot%202021-09-08%20at%208.30.19%20AM.png?dl=0

[2021-09-08 12:33] mabuturab1 commented on #1384
@charlesyoung
Thanks
I will use the provided contract first
In general,
The HITS created, around a year ago should be no more available on MTurk, so in case, If I need to test with another contract, I will note down the contract ID and will let you know about that
Let me know if above mentioned way works for you?

[2021-09-08 12:35] mabuturabcloudelligent commented on #1384
@SamCCSI
The changes are not live on any platform

[2021-09-08 12:37] mabuturabcloudelligent commented on #1384
@charlesyoung
Thanks
I will use the provided contract first
In general,
The HITS created, around a year ago should be no more available on MTurk, so in case, If I need to test with another contract, I will note down the contract ID and will let you know about that
Let me know if above mentioned way works for you?

[2021-09-08 12:41] SamCCSI commented on #1384
Ok. I agree that every time a hit is rejected, it would be great if it did an auto-reset and was resubmitted to MT as a job. Otherwise we have another one or two clicks, and some times those don't get done. @mabuturabcloudelligent

[2021-09-08 12:45] mabuturabcloudelligent commented on #1384
@SamCCSI
The HITS will be auto created only when you try to reject a HIT that is non existent on MTurk
Actually, HITS have a lifetime after which MTurk dispose them automatically so if you try to reset a HIT that is very old and disposed off by MTurk so trying to reject it, will cause MTurk to returns error that HIT does not exist
So only in that case, when HIT does not exist, the HITS will be res

[2021-09-09 06:56] charlesyoung commented on #1384
@mabuturabcloudelligent just to confirm that when we reject a hit it will be resubmitted automatically. We should be able to reset a HIT anytime.

cc @SamCCSI

[2021-09-09 12:44] mabuturabcloudelligent commented on #1384
@charlesyoung
When you try to reject a HIT that is non-existent on MTurk, it will be automatically re-created. After re-creation, it would be just like you have reset the HIT. So whatever, you was able to do after resetting a HIT, you should be able to do in this case also

[2021-09-14 06:05] charlesyoung commented on #1368
@sriza can you please confirm that all docs with a 'completed' status have been removed.

cc @SamCCSI

[2021-09-14 06:06] charlesyoung commented on #1400
@man-git007 just checking on the progress of this ticket.

cc @sriza @SamCCSI

[2021-09-14 11:16] sriza commented on #1400
@charlesyoung
The changes related to this issue are deployed in the staging site. Please have a look and let us know if the changes are functioning as required.

Thank you

cc @man-git007

[2021-09-14 12:08] charlesyoung commented on #1400
@sriza there arent any documents in such a state on the staging site so we might have to deploy to the production site and test when documents have been fully transcribed.

cc @SamCCSI

[2021-09-15 14:46] charlesyoung commented on #1409
Please only focus on the backend because these documents cannot even be opened on the backend which is causing the frontend error.

https://admin.resourcecontracts.org/contract/5104
https://admin.resourcecontracts.org/contract/5107

[2021-09-16 21:37] mabuturabcloudelligent commented on #1409
Hi @charlesyoung
We looked into database values of above contracts(5104, 5107) and it looks like that some of the fields are corrupted(looks like document type has invalid values).
As a resolution that you are expecting against this ticket, would you be fine that

1. we manually interfere with database to get those values corrected for these 2 contracts and get these 2 contracts up and running
2.

[2021-09-16 22:43] mabuturabcloudelligent commented on #1409
I found out that the issue may possibly be with all these contracts
863
2586
2757
2759
2761
2764
2772
2777
2779
2781
2797
3500
4823
4824
4825
4826
4830
4831
4832
4833
4834
4835
4836
4837
4838
4839
4840
4841
4842
4843
4844
4845
4846
4847
4848
4849
4850
4851
4852
4853
4854
4855
4856
4857
4858
4859
4860
4861
4862
4863
4864
4865
4866
4867
4868
4869
4870
4871
4872
4873
4874
4876
4877
4878
4879
4880
488

[2021-09-16 22:46] mabuturabcloudelligent commented on #1409
I believe the same issue is occurring with all these contracts

863,2586,2757,2759,2761,2764,2772,2777,2779,2781,2797,3500,4823,4824,4825,4826,4830,4831,4832,4833,4834,4835,4836,4837,4838,4839,4840,4841,4842,4843,4844,4845,4846,4847,4848,4849,4850,4851,4852,4853,4854,4855,4856,4857,4858,4859,4860,4861,4862,4863,4864,4865,4866,4867,4868,4869,4870,4871,4872,4873,4874,4876,4877,4878,4879,4880,4881,48

[2021-09-17 06:19] charlesyoung commented on #1409
Thanks @mabuturabcloudelligent. I didn't realise that so many documents were impacted. Do all these documents relate to invalid document types? I wonder why the document types are invalid because it can only be added from a dropdown menu.

Can I ask that you get back to us with the time and budget expectations to resolve the noted GitHub tickets and the site crashing issue we discussed on Wednesda

[2021-09-20 12:45] sriza commented on #1368
@SamCCSI @charlesyoung
We checked the contracts present in the live database and found that the completed status seems to have been removed from all the RC contracts whereas there were few OLC contracts having annotation status completed. These contracts are listed in a sheet named '20th Sept, OLC with completed status' on the [spreadsheet](https://docs.google.com/spreadsheets/d/1peVci7Q7E-lCQ4rjX

[2021-09-20 12:53] SamCCSI commented on #1368
An intern has just been assigned these 11 docs. I will report back once they are processed -- apologies for the hold up.

[2021-09-24 12:42] SamCCSI commented on #1368
@sriza all now changed to published.

[2021-09-24 12:43] SamCCSI commented on #1409
Our intern reports "whoops, something went wrong" errors when trying to access the following docs, too. @charlesyoung has anyone been allocated to look into this issue? Many thanks!

https://admin.resourcecontracts.org/contract/4930

https://admin.resourcecontracts.org/contract/5016

https://admin.resourcecontracts.org/contract/5065

https://admin.resourcecontracts.org/contract/5066

https://admin

[2021-09-27 09:08] charlesyoung commented on #1409
@SamCCSI this is one of the tasks we have to address but first need to sort out the development contract, etc.

[2021-09-27 12:50] SamCCSI commented on #1409
Thanks Charles.

The reverse also seems to be happening: This
<https://admin.resourcecontracts.org/contract/4806> doc (among many others)
is accessible on the backend, but not on the frontend.

[2021-09-27 13:37] charlesyoung commented on #1409
This is strange.

When I unpublish the PDF text it works and when I published the PDF text again it doesn't.

cc @mabuturabcloudelligent

[2021-09-28 08:50] sriza commented on #1368
@SamCCSI @charlesyoung
We have checked the live database again and the contracts were found to be devoid of completed status. Thus, the changes related to `'Streamlining the number of clicks to publish'` and #1400 `'Mechanical Turk Workflow'` are now deployed to the production site.

Please have a look and let us know if they are functioning well.

Thank you

@man-git007

[2021-09-28 12:43] SamCCSI commented on #1368
Wonderful! I just tested one live contract and it appeared to work very
nicely. Many thanks for your work on this Shreeja!

[2021-09-29 10:04] #1368 closed

[2021-09-29 10:06] charlesyoung commented on #1400
@sriza can you deploy this to the production site? As mentioned there are no documents on the staging site that this can be tested on so we will need to do this on the production site.

[2021-09-30 06:36] charlesyoung commented on #1400
OK, will do. Thanks

[2021-10-13 00:45] man-git007 commented on #22
@charlesyoung Will it be OK if we get back to you on 18th Oct? As we are on a festival holiday.

[2021-10-14 12:01] charlesyoung opened #1430 "Duplicate document names"
Do we not have a restriction on having 2 or more documents with the same name? Just noticed that a user in the DRC uploaded 2 different documents with exactly the same name.

[2021-10-14 13:49] charlesyoung commented on #1430
Yes, that's correct. I realised it happened because the user never click on the generate name link but added it in manually.

[2021-10-14 13:49] #1430 closed

[2021-10-20 09:24] man-git007 opened #1431 "RC admin upgrade"
## Many dependencies and libraries of PHP and Laravel is deprecated

## Upgrading the PHP and Laravel version of RC admin

## Notes
1. upgrade PHP 5.6 to 7.4
2. upgrade Laravel 5.2 to 6
3. upgrade dependencies
4. upgrade to 7

[2021-10-20 11:33] charlesyoung opened #1432 "Document URL path"
@sriza @rumus007

We had this problem before but I cannot remember how it was fixed. I want to run a backend xls import and have captured the below URL in the URL column. The URL however doesn't point directly to the PDF but prompts to save the document. Can I add anything to the URL to point directly to the PDF and not ask for it to be saved so that the backend import will work?

https://dataogau

[2021-10-21 11:40] charlesyoung commented on #22
@SamCCSI are you happy that we look at the hovers. Doesn't seem to work on the prod site anymore. 10 hours are required from YI.

[2021-11-01 09:34] sriza commented on #1432
@charlesyoung
The issue with UK docs not being seen on the map has been solved and is currently deployed to the staging site. Could you please have a look and let us know if the changes can be deployed to the production server?

Thank you

cc @rumus007

[2021-11-01 09:49] charlesyoung commented on #1432
Looks good, please deploy to the Prod site. Thanks

[2021-11-03 06:34] sriza commented on #1432
@charlesyoung
The changes are now deployed to the production site. Please verify.

cc @rumus007

[2021-11-03 06:37] charlesyoung commented on #1432
Many thanks.

[2021-11-03 06:37] #1432 closed

[2021-11-03 06:43] sriza commented on #1400
@charlesyoung
Are the changes related to this ticket working well at the production site? If everything is working fine, can this ticket be closed?

cc @man-git007

[2021-11-03 06:46] charlesyoung commented on #1400
I still haven't managed to test this on the prod site without documents that need to be sent to RC. Let's keep this ticket open for now. Thanks

[2021-11-03 06:51] charlesyoung commented on #22
@sriza can you work on this issue?

[2021-11-03 07:08] sriza commented on #22
@charlesyoung
We are currently working on this issue. We will inform you soon once the tasks related to this issue are completed.

Thank you

cc @rumus007

[2021-11-12 14:06] sriza commented on #22
@charlesyoung
The changes related to this issue are deployed to the staging site. Please have a look and let us know if they are ok.

Thank you

cc @man-git007

[2021-11-15 12:51] charlesyoung commented on #22
Is below the table where the text is pulled from? Is it a dynamic update or is it done manually when text needs to change?

https://docs.google.com/spreadsheets/d/1Mn9hlhvqObC6MFOylkqRuN9gYpNfCCTGYnRgiEkWUws/edit#gid=868617927

[2021-11-16 04:07] sriza commented on #22
@charlesyoung
The texts in the hover are taken from the [spreadsheet](https://docs.google.com/spreadsheets/d/1Mn9hlhvqObC6MFOylkqRuN9gYpNfCCTGYnRgiEkWUws/edit#gid=868617927). They aren't updated dynamically but are changed manually in the system.

cc @man-git007

[2021-11-16 10:27] charlesyoung commented on #22
Couple points.

1. Just checking that where relevant this is also applied to OLC?
2. I did text updates in the xls so please update where required
3. I don't see some of the hover text, like for clipping, in the xls on the site
4. The box size should fit the text
![image](https://user-images.githubusercontent.com/13888372/141967031-ac2dd0fb-57f2-4e64-90c1-5a3e39d10c7b.png)
5. Some of the text is c

[2021-11-18 10:17] charlesyoung opened #1437 "Admin profile page"
There seems to be a problem with the admin profile page. Please see the attached error. Can you please investigate?

cc @man-git007 @sweta-shrestha

[Profile page.docx](https://github.com/NRGI/resourcecontracts.org/files/7561943/Profile.page.docx)

[2021-11-18 10:19] charlesyoung commented on #22
@sweta-shrestha just confirming that you are looking at this issue?

[2021-11-22 07:07] charlesyoung commented on #22
@sweta-shrestha just confirming that you are looking at this issue?

[2021-11-22 07:08] charlesyoung commented on #1437
@man-git007 @sweta-shrestha will you be able to look at this issue?

[2021-11-29 04:42] sriza commented on #22
@charlesyoung
We have updated the hover text as per the excel sheet and the changes are also applied to the OLC site. These changes are now deployed at the RC and OLC staging sites. Please have a look and let us know if they are ok.

Thank you

cc @man-git007

[2021-11-29 06:16] sriza commented on #1400
@charlesyoung
Are the changes related to this ticket tested on the production site? Please let us know if they are functioning well.

Thank you

cc @man-git007

[2021-11-29 06:23] charlesyoung commented on #22
Thanks, please move to Prod.

[2021-11-29 06:23] charlesyoung commented on #1400
Will do, I still need to publish a transcribed contract in full.

[2021-11-30 05:33] charlesyoung commented on #1437
@man-git007 Can you look at this issue please.

[2021-12-01 09:11] charlesyoung commented on #1437
@man-git007 Can you look at this issue, please. We are constantly getting this error. Thanks

[2021-12-01 09:53] charlesyoung commented on #1407
@SamCCSI just a heads-up that we won't include a filter for company names because of the various company name spellings.

[2021-12-01 09:57] sriza commented on #22
@charlesyoung
The changes related to this issue have been deployed to the production site. Please verify.

Thank you

cc @man-git007

[2021-12-01 09:59] charlesyoung commented on #22
Thanks

[2021-12-01 10:10] charlesyoung opened #1438 "Develop technical documentation"
1. List current versions of DB, all 4 repos libraries and packages
2. List out and manage the installation guide for all 4 repositories
3. Document how to use Admin (includes contract upload, publish, contract upload, MTurk workflow, pdf annotations, associated documents)
4. Abby documentation, MTurk API documentation and Elastic Search API documentation
5. List out libraries and packages that can

[2021-12-01 13:54] SamCCSI commented on #22
I'm still not seeing hovers on OLC -- should they be live now? I tried in an incognito window in case it was a caching issue.

[2021-12-01 13:55] SamCCSI commented on #22
Update; they are visible now. Many thanks

[2021-12-01 13:55] #22 closed

[2021-12-01 13:56] SamCCSI commented on #1407
@charlesyoung  Is it much extra work? My staff saw value in it, even if there is some variation

[2021-12-01 14:30] charlesyoung commented on #1407
It's more about dirty data (duplicate company names) like shown below.

<img width="960" alt="image" src="https://user-images.githubusercontent.com/13888372/144252209-79117aa0-9712-475b-92a3-a54a74811790.png">

[2021-12-01 14:46] SamCCSI commented on #1407
Understood. We can clean this up.

[2021-12-03 07:46] charlesyoung commented on #1437
@man-git007 can I please ask that you also look at the below issues that relate to the admin site.

- I get an error when trying to access https://admin.resourcecontracts.org/contract/5104
- I get the attached annotations error

[Annotations.docx](https://github.com/NRGI/resourcecontracts.org/files/7647640/Annotations.docx)

[2021-12-03 11:14] man-git007 commented on #1437
Sure Charles we will look into it on Monday. It might take an hour.

On Fri, Dec 3, 2021 at 1:31 PM Charles Young ***@***.***>
wrote:

[2021-12-10 08:37] charlesyoung commented on #1407
@mabuturab1 tested and approved on Staging.

[2021-12-10 08:37] charlesyoung commented on #1408
@mabuturab1 tested and approved on Staging.

[2021-12-13 10:02] sriza commented on #1437
@charlesyoung
The issue has been solved and deployed to the staging server. Please have a look and verify.

Thank you

cc @man-git007

[2021-12-13 10:08] charlesyoung commented on #1437
Thanks. How do I test this?

[2021-12-13 10:26] sriza commented on #1437
Please try editing your profile at staging site.

[2021-12-16 12:05] charlesyoung commented on #1408
Tested on Prod and its working.

[2021-12-16 12:05] #1408 closed

[2021-12-16 12:07] charlesyoung commented on #1409
@SamCCSI please confirm that this is now working on the prod site.

[2021-12-16 14:13] SamCCSI commented on #1409
Confirmed

[2021-12-16 14:18] #1409 closed

[2021-12-21 09:00] #1407 closed

[2021-12-21 11:59] charlesyoung commented on #676
@man-git007 what is the latest with this ticket? I'm on leave from tomorrow.

[2021-12-21 11:59] charlesyoung commented on #1438
@man-git007 what is the latest with this ticket? I'm on leave from tomorrow.

[2021-12-21 11:59] charlesyoung commented on #1323
@man-git007 what is the latest with this ticket? I'm on leave from tomorrow.

[2021-12-21 12:20] man-git007 commented on #1438
@charlesyoung We are working on the documentation part. It is in the draft phase. We will share it with you by tomorrow.

cc @sriza

[2021-12-21 12:20] man-git007 commented on #1437
@charlesyoung Should we send this to live site?

cc @sriza

[2021-12-21 12:21] man-git007 commented on #676
@charlesyoung We will start working on this from tomorrow

cc @sriza

[2021-12-21 12:22] man-git007 commented on #1323
@charlesyoung We will work on this ticket after [this ticket](https://github.com/NRGI/resourcecontracts.org/issues/676).

cc @sriza

[2021-12-21 12:25] charlesyoung commented on #1437
Yes please

[2021-12-21 12:25] charlesyoung commented on #1438
OK, I'm on leave from tomorrow so will review in the new year.

[2021-12-27 09:08] sriza commented on #1323
@SamCCSI
Currently, the auto-approval of MTurk assignment occurs in 30 days.
The assignment once approved cannot be rejected. However, we can add `Reset` button for the reset of `Approved` HIT in the MTurk view page of the contract as shown in image below.
![image](https://user-images.githubusercontent.com/24825118/147455309-aa154b82-53a6-4ae5-9dc1-2f51acc957a2.png)

cc @man-git007 @anjesh

[2021-12-30 03:55] sriza commented on #1437
@charlesyoung
The changes related to this issue have been deployed to the live site.

Thank you

cc @man-git007

[2021-12-31 09:01] sriza commented on #676
@charlesyoung
The fixes to the 504 Gateway Time-out error on the download of the contract have been deployed to the staging site. Please have a look and let us know if it is functioning correctly.

Thank you

cc @man-git007

[2022-01-03 05:24] sriza commented on #676
@charlesyoung
Are the changes related to this issue tested on the staging site?
Please let us know if they can be deployed to the production site.

Thank you

cc @man-git007

[2022-01-03 05:29] sriza commented on #1323
@charlesyoung @SamCCSI
Should we go ahead with the implementation of the `Reset` button for `Approved` HIT?

cc @man-git007 @anjesh

[2022-01-03 05:33] sriza commented on #1437
@charlesyoung
Are the changes related to this issue tested on the production site? Please let us know if this issue can be closed.

cc @man-git007

[2022-01-10 07:43] charlesyoung commented on #676
Thanks. Please move to Prod but change the button text to 'Export Metadata'.

[2022-01-10 07:46] charlesyoung commented on #1437
Please move to Prod.

[2022-01-10 08:29] charlesyoung commented on #1438
@man-git007 what is the latest with this ticket?

[2022-01-10 08:53] man-git007 commented on #1438
@charlesyoung We have worked on it. This is the [link to the documentation](https://docs.google.com/document/d/1rg_WneKU3VFXgr3NZfqjwdub5Y5FXKb8JwcNHbeGokY/edit#heading=h.kyw4eykrrpvl). Small changes are remaining regarding `abby API` on which we are working. We might need some help from cloudEnlight team as well regarding the server deployment and configuration

[2022-01-10 09:48] charlesyoung commented on #1323
Thaks @sriza

I don't follow your suggestion of adding a reset button since we already have a reset option. Can you please explain in more detail? Thanks

[2022-01-11 07:32] sriza commented on #1437
@charlesyoung
The changes related to this issue have already been moved to the production site. Please verify the changes.

Thank you

cc @man-git007

[2022-01-11 07:48] #1437 closed

[2022-01-11 10:00] sriza commented on #1323
@charlesyoung
Currently, the reset option is only available to HITs that are in a pending state or are rejected, and there is no provision for resetting the HIT that has been approved.
![image](https://user-images.githubusercontent.com/24825118/148915617-dd43ba83-56f8-41fd-8a38-89867de7f758.png)
![image](https://user-images.githubusercontent.com/24825118/148916953-cf440d2e-35e2-4a44-9e61-5bc2b8c4e

[2022-01-11 10:10] sriza commented on #676
@charlesyoung
The changes are now deployed on the production site. Please verify.

Thank you

cc @man-git007

[2022-01-11 10:17] charlesyoung commented on #676
Thanks. I however get a '504 Gateway Time-out' error.

Also, I don't see the 'Text Download' option on the Prod site.

[2022-01-11 10:33] charlesyoung commented on #1323
Thanks. A question, however, if I understand it correctly.

How do we know if the HIT was approved manually by an Admin user or by MTurk using auto-approvals (past 30 days)? It currently just notes 'Approved'.

[2022-01-13 03:54] sriza commented on #1323
Currently, we can't distinguish between the HIT approved manually by the user and auto-approved by MTurk. Both the manual approval and auto-approval are seen with the status 'Approved'.

[2022-01-13 07:36] charlesyoung commented on #1323
That seems to be a problem because we won't know how it was approved. This is bigger than initially discussed so can we, for now, just flag if the HIT was manually (M-Approved) or automatically (A-Approved) approved?

[2022-01-13 11:34] sriza commented on #1323
@charlesyoung
We had further discussion on this issue today and have come up with a solution.

We have decided on adding a flag to differentiate between auto-approved and manually-approved assignments. The reset button will now only be present for the HIT whose assignments were auto-approved by the MTurk.
Please follow [Google docs](https://docs.google.com/document/d/13nrphjwi4deAwxa6Kf2216-D5QP7q

[2022-01-13 12:29] charlesyoung commented on #1323
Thanks.

@man-git007 please confirm that we still have remaining support hours.

We initially had 48 hours left  [https://docs.google.com/spreadsheets/d/1Uh7srC3mSa0SUviFBf1qdutcWC2TfXGDUlcg4a5NGlk/edit#gid=0](url)

And the additional work was 43 hours [https://docs.google.com/spreadsheets/d/121JKg3VYmQxUT-QaudvBNzijBRIFjWku5COkmtIRigA/edit#gid=0](url)

[2022-01-14 12:29] sriza commented on #676
@charlesyoung
We have further optimized the CSV download and deployed it to the production server. Please have a look and let us know if you are still facing the '504 Gateway Time-out' issue.

Regarding the text download option on the production site, the issue is caused by scheduled commands not running on the production server. One of these scheduled commands is responsible for sending the PDF o

[2022-01-14 12:37] charlesyoung commented on #676
Thanks

[2022-01-14 12:37] #676 closed

[2022-01-14 12:39] charlesyoung commented on #1323
@man-git007 do we still have 5 hours left to spend on this task? As you are aware we don't currently have any budget for RC / OLC support in 2022.

[2022-01-14 12:40] charlesyoung commented on #1438
@man-git007 will you be able to finish the document early next week?

[2022-01-18 06:42] sriza commented on #1438
@charlesyoung @SamCCSI
@zaid-azmat @mabuturabcloudelligent @yahyagulshancloudelligent

We have developed the final draft for the technical [documentation](https://docs.google.com/document/d/1rg_WneKU3VFXgr3NZfqjwdub5Y5FXKb8JwcNHbeGokY/edit?usp=sharing). The [documentation](https://docs.google.com/document/d/1rg_WneKU3VFXgr3NZfqjwdub5Y5FXKb8JwcNHbeGokY/edit?usp=sharing) contains the details about t

[2022-01-18 06:48] charlesyoung commented on #1438
Many thanks

[2022-01-18 06:48] #1438 closed

[2022-01-19 05:02] man-git007 commented on #1323
@charlesyoung We have [48hrs](https://docs.google.com/spreadsheets/d/1Uh7srC3mSa0SUviFBf1qdutcWC2TfXGDUlcg4a5NGlk/edit#gid=0) in total out of which [43hrs](https://docs.google.com/spreadsheets/d/121JKg3VYmQxUT-QaudvBNzijBRIFjWku5COkmtIRigA/edit#gid=0) have been exhausted. So we can use the remaining 5hrs for this ticket.

[2022-01-19 06:45] charlesyoung commented on #1323
Thanks @man-git007

So there is enough time to implement above solution.

[2022-01-19 07:17] man-git007 commented on #1323
@charlesyoung We have started working on it.

[2022-01-25 05:56] charlesyoung commented on #1323
@man-git007 @sriza just following up on the status of this ticket.

[2022-01-25 08:26] sriza commented on #1323
@charlesyoung
The solution is implemented and is currently deployed to the staging site.
For the test purpose, we have set the auto-approval delay to 60 seconds, i.e. once the worker submits the assignment, it automatically gets approved after a minute.

Please have a look and let us know if it is working correctly and if any changes are to be done.

Thank you
cc @man-git007

[2022-01-25 08:46] charlesyoung commented on #1323
Thanks. I can see that when manually approving a HIT 'M-Approved' is added to the 'Approved' column which is good. Can you however point me to any 'A-Approved' HITs?

[2022-01-25 08:55] sriza commented on #1323
Please follow this link to see auto-approved HIT:
https://admin-staging.resourcecontracts.org/mturk/4660

[2022-01-27 10:26] charlesyoung commented on #1323
@SamCCSI have you had time to do a final test before we move the code to Prod?

[2022-01-27 14:56] SamCCSI commented on #1323
Looks good.

Is there a way to have a text explainer at top of page so that future users
know what M-approved and A-Approved mean?

[2022-01-31 06:05] sriza commented on #1323
@SamCCSI @charlesyoung
Regarding the text explainer for M-approved and A-approved, please have a look at the following approaches :
- I
![image](https://user-images.githubusercontent.com/24825118/151745718-daa09943-dcfa-45bd-8975-f2dcd3069087.png)
- II
![image](https://user-images.githubusercontent.com/24825118/151746397-5cc86810-1a08-4fb6-84fe-4a40d3efa338.png)

Please let us know which one do yo

[2022-01-31 06:33] charlesyoung commented on #1323
Thanks. @SamCCSI what are your thoughts on the 2 options.

Can we also remove the '?' in the 'Approved' heading?

[2022-01-31 14:36] SamCCSI commented on #1323
I like the second one. Could you please copy the text into github, so that
I can offer some minor text edits. Many thanks!

[2022-01-31 14:43] sriza commented on #1323
@SamCCSI
The text used in the second image is as follows:

Thank you

[2022-01-31 15:13] charlesyoung commented on #1323
Looks good to me!

[2022-02-01 05:27] sriza commented on #1323
@charlesyoung @SamCCSI
We have added the text explainer and removed the '?' after the 'Approved' heading.
The changes are now deployed to the staging site. Please confirm the changes.

Thank you

cc @man-git007

[2022-02-01 06:46] charlesyoung commented on #1323
The text is too small to read.

<img width="751" alt="image" src="https://user-images.githubusercontent.com/13888372/151924069-0fe3bd37-9d37-4427-b08c-42e21dc949c0.png">

[2022-02-01 07:16] sriza commented on #1323
I have fixed the issue with the text. Could you please have a look at it again?

[2022-02-01 07:17] charlesyoung commented on #1323
@SamCCSI you happy to move this to the Prod site?

[2022-02-01 13:57] SamCCSI commented on #1323
Yes, please move to prod site

[2022-02-10 06:43] sriza commented on #1323
@charlesyoung
The changes related to this issue are deployed to the production site. Please confirm the changes.

Thank you

cc @man-git007 @anjesh

[2022-02-25 03:38] sriza commented on #1323
@charlesyoung @SamCCSI
Are the changes related to this issue tested in the production site?
Please let us know if the changes are working correctly and if this issue can be closed.

Thank you

cc @man-git007

[2022-02-25 10:00] #1323 closed

[2022-07-19 06:37] #1400 closed

[2022-07-19 06:38] #1110 closed

[2022-08-26 17:09] GraceCCSI opened #1527 "Formatting of the guide section"
## Front-end OLC organization issue @SamCCSI @man-git007 @anjesh @charlesyoung

## The formatting of the guide section on the “[Using This Site](https://openlandcontracts.org/guides)” page (English) is slightly out of order since Kimathi added the ESIA guide

## Kimathi believes it to be an HTML source code issue, as the page editing box in the site administrator view does not show the same proble

[2022-08-26 20:36] jedm commented on #1527
Hi @GraceCCSI @SamCCSI et al

Please excuse my jumping in to the thread. Since I worked with Sam and YI on the formatting of these pages I thought I could help. I _looks_ like there are a few div tags missing in the source code that could fix the problem.

The **yellow** highlights in the attached are the code to try inserting.

(You will also see the P tags highlighted in the ESIA text - in blue.

[2022-08-29 15:24] GraceCCSI commented on #1527
Hi @jedm

Thanks so much for your help. I made the suggested changes and there still seem to be some issues. The ESIA and other guides remain in a column format, rather than a horizontal row format as the "Guides to Land Contacts" is in. Also, the video tutorials are overlapping. How can I make it so everything is in a horizontal row format, and the tutorials no longer overlap? Thanks again!

Grac

[2022-08-29 15:43] jedm commented on #1527
I will try to take a look again today.

On Mon, Aug 29, 2022 at 11:24 AM GraceCCSI ***@***.***> wrote:

--
Jed Miller | @jedmiller <http://twitter.com/jedmiller>
m +1.917.584.2349 | s @jedbmiller
www.jedmiller.com

[2022-08-30 15:42] GraceCCSI commented on #1527
Thanks! Looking forward to hearing from you. Let me know if there's anything else I can do in the meantime.

Grace

[2022-08-30 15:54] jedm commented on #1527
I made a little progress but it all has to do with the </div> tags I
expect. If you know HTML, I would go through with a fine-toothed comb and
see if any are left open.

Or if you know *some *HTML, you could also try inserting <br clear=all>
tags in the logical places between the sections/resources.

I can look again later this week and will ping if so!

Jed

[2022-08-30 16:01] GraceCCSI commented on #1527
I have very basic HTML knowledge so I will check out the </div> tags - what exactly do they look like when they are left open?

Also, what would be the logical place to insert <br clear=all> ? wherever I need a space between sections?

[2022-08-30 18:24] GraceCCSI commented on #1527
Sorry it looks like some of the test disappeared - probably because of the commands. Where should I close the div tags and where should I insert the br clear text?

[2022-08-30 19:58] jedm commented on #1527
Hi @GraceCCSI,

I fixed what I was able to fix. There still could be some DIV and SPAN tags
that you do not need, and the font sizes are still not totally consistent
(any chance you are cutting and pasting the code from another tool?). But
the sections are now running vertically in sequence, not bunching up at the
bottom.

Definitely worth a further look by one of the designers at CCSI/Earth Inst,

[2022-08-31 16:23] GraceCCSI commented on #1527
Hi again @jedm ,

After much html trial and error while relying heavily on your advise, I managed to get fix the formatting. It is not perfect but it is readable and fairly consistent. Thanks so much for your help again. I really appreciate it.

Have a great rest of your week,

Grace

[2022-08-31 16:59] jedm commented on #1527
Nice work, Grace! It looks good to me.

I see you have the extra indentation and I agree with what (I assume) you decided, that everything else looks so good it is not worth touching it more and risk changing it!

If you decide to look at it further, I suspect there are just some close DIVs missing where I've marked in the attached. But I commend your choice to stop. Code is tricky enough and styl

[2022-08-31 17:22] GraceCCSI commented on #1527
Hi @jedm ,

That was exactly my thinking in deciding to sop working on the website code. I'm sure you also understand how finicky html can be. Thanks so much for that last piece of advice - that is a much simpler fix that I had anticipated! I'll try closing some divs.

Thanks again,
Grace

[2022-08-31 17:25] GraceCCSI commented on #1527
Hi again @jedm ,

Sorry to flood you with messages but I closed two divs and the website is perfect now! Thanks SO much. Success with html feels unbelievably rewarding.

All the best,
Grace

[2022-08-31 22:00] #1527 closed

[2022-09-16 10:52] #1431 closed