[2020-03-17 08:52] adinuca commented on #1273
@anjesh , I removed my previous 2 comments. The load balancer was not set up for this subdomain. It should be working now.

[2020-03-17 12:08] nirvanalama commented on #1225
Actually the design needs to be finalized first. Here is the final changes made according to the list.
![image](https://user-images.githubusercontent.com/57661914/76854879-01930d00-6878-11ea-9591-7f4b2e493488.png)

![image](https://user-images.githubusercontent.com/57661914/76854890-0657c100-6878-11ea-849a-783f8037b4e8.png)

[2020-03-17 12:12] man-git007 commented on #1225
@charlesyoung @jedm @SamCCSI
We will implement the changes which are also in the above two images.
The changes are as per YI understanding are:

1. Reduce the size of the boxes
2. Move the 'A Directory of Petroleum and Mining Contracts' text slightly higher
3. The background would be transparent.
4. The text "Search Documents" Bold and 1pt bigger.
5. Relating to RC
* Remove ‘Guides’ on the top rig

[2020-03-17 12:16] charlesyoung commented on #1225
Many thanks @man-git007 and @nirvanalama

[2020-03-17 15:06] anjesh commented on #1273
Thanks @adinuca. It's working.

[2020-03-17 15:06] #1273 closed

[2020-03-17 20:42] SamCCSI commented on #1225
@man-git007 note that this one is also only for RC for now:

For OLC, we're still interested in seeing what it looks like with different % of gradient/opacity layer.

[2020-03-17 20:44] SamCCSI commented on #1225
Also, @nirvanalama will it be possible to see the OLC version posted at https://staging.openlandcontracts.org/ now that that site is up and running? The version right now is full opacity with no background image.

[2020-03-18 05:49] bizaybsnt commented on #1262
Hello everyone, Hope you all are doing well.
We have implemented the toggling of recent contract as per @jedm suggestion. Please check it.
![image](https://user-images.githubusercontent.com/25411368/76928685-61d28f00-690a-11ea-8404-d0b11908cd10.png)

We have also changed the style for "View # Other Documents." with the slight background on it.
![image](https://user-images.githubusercontent.com/254

[2020-03-18 12:37] SamCCSI commented on #1262
Thanks @bizaybsnt -- could the "View # Other Documents." please be indented to be in line with the associated document listed?

[2020-03-19 10:37] bizaybsnt commented on #1262
@SamCCSI we have updated the indentation.. please check it.(May require hard refresh)

[2020-03-19 11:08] nirvanalama commented on #1225
@jedm @SamCCSI @charlesyoung We are not clear on what to do with the OLC Designs. This is the current design we have. There is a blue gradient overlay on the top. Do we implement the design same as RC. As it would make more sense to have the same designs for both RC & OLC, we had earlier used the color "green" for RC and "blue" for OLC.
![image](https://user-images.githubusercontent.com/57661914/7

[2020-03-19 11:16] man-git007 commented on #1225
@jedm @SamCCSI @charlesyoung
We have implemented the changes in RC and OLC staging sites. For now, the donors for OLC is not shown. We will implement this asap.

cc @sweta-shrestha @nirvanalama @anjesh

[2020-03-19 11:19] charlesyoung commented on #1225
Many thanks @man-git007 and @nirvanalama

[2020-03-19 13:01] SamCCSI commented on #1225
thanks @nirvanalama and @man-git007 . I think there will be a more general discussion about home page design soon, so I wont offer too many comments. But one thing I would like to see is for the opaque color layer to ba a gradiant from one color to another, as you did from RC. I defer to you on the choice of the two colors, but please make it work with the underlying image.

Once that is done, cou

[2020-03-19 13:06] SamCCSI commented on #1262
Thanks @bizaybsnt.

CC @jedm -- Jed do you think the color background should also be indented, so that it only starts where the first word appears, rather than extending all the way to the left as it does now? Here's an example

![image](https://user-images.githubusercontent.com/12913915/77070597-e253c700-69c0-11ea-933f-27eabf5e2856.png)
(Search term to get this example is https://staging.resource

[2020-03-20 04:23] nirvanalama commented on #1225
Hello! Here is the new design for OLC. If we decrease the opacity any lower, the text below "Learn how to get started" will not be legible.
![image](https://user-images.githubusercontent.com/57661914/77134919-4ba30b00-6a91-11ea-9a11-66255a8b5222.png)

[2020-03-20 06:05] man-git007 commented on #1225
@jedm @SamCCSI We have added donor in the footer for the OLC site.

@sweta-shrestha @nirvanalama

[2020-03-20 08:11] charlesyoung opened #1274 "Adding resources"
Is there a simple way to add missing resources.

I'm doing a DRC import and 'coltan' is missing from the list.

cc @anjesh

[2020-03-24 03:41] man-git007 commented on #1055
@SamCCSI @charlesyoung We have fixed the annotation bug issue and deployed it in the staging server. Could you please verify it.

**cc** @anjesh @bizaybsnt

[2020-03-24 03:47] man-git007 commented on #1096
@SamCCSI @charlesyoung We have implemented the grouping and recent contract listing in the live server. This feature is related to the #1225 Homepage redesign. It wont be reflected in subsite for now. But the functionality has been implemented.

I suggest this issue be closed.

cc @anjesh @bizaybsnt

[2020-03-24 07:28] charlesyoung commented on #1096
Thanks @man-git007

I however cannot see the updates after doing a hard Chrome refresh and testing it through an incognito window.

Let's please leave this ticket open until the subsites are also done.

[2020-03-24 12:13] SamCCSI commented on #1055
thanks @man-git007 this change affects the back-end. Is there a staging for the back-end that i should test it on? I tried http://admin.staging.resourcecontracts.org/ but that didn't work. Thanks

[2020-03-24 12:16] SamCCSI commented on #1096
I'm also not seeing the changes on the openlandcontracts.org live site

[2020-03-24 12:46] bizaybsnt commented on #1055
please check http://admin-staging.resourcecontracts.org/
Thanks.

[2020-03-24 14:34] SamCCSI commented on #1055
thanks @bizaybsnt -- i'm trying to load this annotated contract to experiment but it's not loading. any tips? http://admin-staging.resourcecontracts.org/contract/2738/annotate#/pdf/page/9/annotation/24988

[2020-03-25 05:06] man-git007 commented on #1270
@SamCCSI @jedm Should we consider [Nirvana's recent mockup](https://user-images.githubusercontent.com/57661914/71797213-2cd9ce80-3075-11ea-8a1c-de63842caa17.png) final? As @jedm has mentioned the placement and wording can be changed in the future. Also, this guide page is related to the #1225 issue and we will be needing further discussion in that 1225 issue.

So, for now, I need confirmation on w

[2020-03-25 06:07] bizaybsnt commented on #1055
Hi @SamCCSI,
This is staging site. All the pdf of contracts are not properly updated/uploaded in the system properly. Please test for the contract with pdf file or you can upload the new pdf for particular contract.

[2020-03-25 12:09] charlesyoung commented on #1096
@man-git007 just checking if this has been deployed on the RC and OLC prod sites.

[2020-03-25 13:27] SamCCSI commented on #1266
Hi @man-git007 and @anjesh will it be possible to resolve this issue? We now have a backlog of pages to approve and wish to be able to do so so that Turkers can be paid promptly.

@anjesh does this need to be included in a sprint or can YI take care of it anyway? Do you need a budget to do so, and if so can you please email me with an estimate? Many thanks!

cc @charlesyoung @MichaelCCSI

[2020-03-25 13:30] SamCCSI commented on #1055
Hi @bizaybsnt we need to see how the annotation module works in staging in order to let you know if the problem is resolved. So accessing the PDF won't be enough. Any ideas for how we can do this?

[2020-03-25 20:08] jedm commented on #1270
@man-git007,  I will provide an updated wireframe for the main guide page (to replace this page) by Friday. It will be based on the final 3 rows of Nirvana's recent mockup. Thank you very much.

[2020-03-26 09:00] bizaybsnt commented on #1055
Hi @SamCCSI,
Here is the working mechanism for annotation module.

The annotations are added in the staging site via admin panel http://admin-staging.resourcecontracts.org/.
![image](https://user-images.githubusercontent.com/25411368/77617596-adb1b380-6f5c-11ea-9dc5-8290a1c16473.png)

 Once the annotation are added and saved, this needs to be complete and publish.
![Screenshot from 2020-03-26 12-5

[2020-03-26 12:22] man-git007 commented on #1096
@charlesyoung @SamCCSI Since the recent and grouping was associated with #1225, it was not showing in the live server. We have fixed the issue and deployed it in the staging site of both rc and old. Could you please verify. The links are below:

https://staging.resourcecontracts.org/search/recent
https://staging.resourcecontracts.org/search/group
https://staging.openlandcontracts.org/search/recent

[2020-03-26 13:21] SamCCSI commented on #1096
Thanks!

[2020-03-26 13:29] SamCCSI commented on #1055
Thanks, it seems to work now.

Please note: this annotation module is still very buggy. I believe this is the issue that YI will be doing research into (# 1.a. "Problem saving annotations, incorrect category listings - background research" in our spreadsheet for sprint 25.)

Example. I tried to change annotation 1's article ref to be "Art. 1". Clicked save. and no changes save. This is the exact p

[2020-03-27 04:08] man-git007 commented on #1096
@charlesyoung @SamCCSI If all good. We will deploy it to live server

cc @bizaybsnt

[2020-03-27 06:34] bizaybsnt commented on #1055
@SamCCSI Did you receive any error message while saving the annotation? I tried editing the same annotation and able to successfully edit.
![image](https://user-images.githubusercontent.com/25411368/77728139-fb452380-7023-11ea-857c-b7d91b1c7b67.png)
Could you please elaborate the issue? Also please check console if there is any javascript error.
![image](https://user-images.githubusercontent.com/2

[2020-03-27 07:31] charlesyoung commented on #1096
@man-git007 the staging site has lost the grouping again, can you please look at this. NRGI might want to change the chronological ordering which unfortunately this will result in a code branch.

[2020-03-27 08:54] man-git007 commented on #1096
@charlesyoung There are not any links to recent and group contracts on the site for now. Since the links are in #1225 issue. For now, we have to manually hit the link in the URL. Is there something I am missing?

cc @bizaybsnt

[2020-03-27 08:58] charlesyoung commented on #1096
NRGI is trying to decide which chronological ordering to follow and they have asked so see a site to where its presented.

[2020-03-27 09:09] man-git007 commented on #1096
@charlesyoung Are these the link you are suggesting?

`RC recent contracts` https://staging.resourcecontracts.org/search/group?q=&recent=1
`RC group contracts` https://staging.resourcecontracts.org/search/group
`OLC recent contracts` https://staging.openlandcontracts.org/search/group?q=&recent=1
`OLC group contracts` https://staging.openlandcontracts.org/search/group

[2020-03-27 15:55] SamCCSI commented on #1055
@bizaybsnt just tried again and the editing function is working without bugs.

Delete function also still working smoothly.

[2020-03-30 04:01] man-git007 commented on #1055
@SamCCSI Are we good to go on the live server?

[2020-03-30 04:03] man-git007 commented on #1096
@charlesyoung @SamCCSI  Are we all clear to deploy this in live server.

[2020-03-30 06:26] charlesyoung commented on #1096
Nope, as noted above NRGI is trying to decide which chronological ordering to follow

[2020-03-30 12:31] SamCCSI commented on #1055
@man-git007 yes, thanks. I will check it once it's live as well, to make sure no new issues. Please let me know.

[2020-03-31 10:05] man-git007 commented on #1259
@SamCCSI The long annotation text has been fixed and have set the character limit. It has been deployed on the staging site. Could you verify the changes?

[2020-03-31 10:06] man-git007 commented on #1055
@SamCCSI The issue fix has been deployed to the production site. We can close this issue and #1106 as well.

cc @anjesh @bizaybsnt

[2020-03-31 12:40] SamCCSI commented on #1055
Confirming we can close this and #1106. I just checked on a live contract and the annotation edit and delete functions are working really nicely. Thank you @man-git007 and all!

[2020-03-31 12:48] SamCCSI commented on #1199
Just noting that this appears to have already be done on the staging site (Left tab), so all that's needed is to also use that favicon for the openlandcontracts.org main site (Right tab). Thanks!

![image](https://user-images.githubusercontent.com/12913915/78028008-516bdc80-732c-11ea-8ffe-8af5ba48a6da.png)

[2020-03-31 12:53] SamCCSI commented on #1259
Thanks @man-git007 this looks great.

@charlesyoung note that the text field shows the text search result in bold but the annotation field result does not bold the result (circled in yellow). I think it would help users if the annotation search result term (here, "consult" or similar) were bolded. Would you agree for RC? If so, we can likely cover that as part of this Sprint 25.

@jedm -- does tha

[2020-03-31 13:24] charlesyoung commented on #1259
Looks very useful. Will be good if this could be rolled out to RC in S25. Thanks @SamCCSI

[2020-03-31 14:11] SamCCSI commented on #1259
Thanks @charlesyoung

@anjesh will adding this change to bold the term in the annotation search results have any budget implications?

[2020-03-31 19:23] SolinaCCSI commented on #1266
Today, two documents were able to be approved (newly submitted documents). However the rest of the documents that have been awaiting review are still unable to be approved or rejected.

cc @charlesyoung @MichaelCCSI @SamCCSI @man-git007 @anjesh

[2020-04-01 03:42] man-git007 commented on #1106
This issue is the same as #1055. So it is now being closed

[2020-04-01 03:42] #1106 closed

[2020-04-01 06:37] charlesyoung commented on #1266
Not sure if this is related but I received below error message.

![image](https://user-images.githubusercontent.com/13888372/78106612-0917f180-73f4-11ea-8e55-8036b2bad80d.png)

[2020-04-01 06:42] man-git007 commented on #1107
@jedm @SamCCSI The annotation category search issue has been resolved and has been deployed in the staging server. Could you all please verify.

cc @bizaybsnt

[2020-04-01 09:07] anjesh commented on #1266
@charlesyoung these could be related. @SamCCSI this needs to be investigated and could put in sprint 24 (under remaining support). We think this might be around 1 day of work.

[2020-04-01 09:11] anjesh commented on #1259
@SamCCSI making bold is not much of a big issue. @man-git007 will take care of that.

[2020-04-01 12:41] SamCCSI commented on #1266
Thanks @anjesh -- can you please allocate this to Sprint 25 (not 24) for budgeting purposes? I'll update our spreadsheet. But the sooner it can be resolved, the better. Many thanks. cc @charlesyoung

[2020-04-01 12:46] SamCCSI commented on #1107
Thanks @man-git007 the "community consultation" category now is producing search results in the staging site. So I guess it can be deployed to live site?

[2020-04-01 12:47] SamCCSI commented on #1259
Thanks @anjesh i can check once bold change made and then we'll be ready to deploy on live site

[2020-04-02 08:01] charlesyoung commented on #1096
@anjesh a question from NRGI re the supporting documents chronological ordering.

'Not sure how technically feasible this would be, but couldn’t we have it both ways? If we develop a button that users could use to change the sort order from newest first to oldest first then the user can choose how they view the contracts.'

cc @SamCCSI @jedm

[2020-04-02 08:03] man-git007 commented on #1259
@SamCCSI The keyword found in the annotation text has been made bold in the staging server. Verify it and if all OK we will deploy it in live server.

[2020-04-02 12:16] SamCCSI commented on #1259
working nicely. please deploy on live sites @man-git007 !

[2020-04-03 05:02] man-git007 commented on #1259
@SamCCSI @charlesyoung  Deployed on live site and this issue is closed

cc @anjesh @bizaybsnt

[2020-04-03 08:37] man-git007 commented on #1107
@SamCCSI @jedm It has been deployed to live server This issue is now closed

cc @anjesh @bizaybsnt

[2020-04-03 08:37] #1107 closed

[2020-04-03 09:40] man-git007 commented on #1266
@SamCCSI The issue has been fixed and deployed in the staging server. Upon approval of the task, it has been approved but didn't reflect on the admin side. So upon again approving the task/HIT we are getting that `AWS.MechanicalTurk.InvalidAssignmentState` message. This might be due to an update in the MTurk API. Therefore, we have maintained a log for MTurk APIs and will use that log for future r

[2020-04-03 13:15] SamCCSI commented on #1266
thanks @man-git007 what is the staging url for approving MT jobs? I tried this but it didn't work http://staging.admin.resourcecontracts.org/

@SolinaCCSI once we have the URL can you please test out by approving a couple of MT jobs in the staging server and then let us know if it works? Many thanks.

[2020-04-03 20:34] SamCCSI opened #1279 "Bugs editing size and shape of existing annotation markers"
## Why
Annotators sometimes enter in annotation markers in sizes and shapes that are messy and obscure text. We need to be able to easily resize them. Right now we can't: if you try to resize an existing marker, it reverts back to original size.

## What
Fix the above

## Notes
There is a work around: draw a second annotation marker in the correct shape and then choose same annotation category, th

[2020-04-04 08:34] charlesyoung commented on #1096
Ignore above.

If @SamCCSI and @jedm are happy please deploy to the production sites.

[2020-04-06 05:43] man-git007 commented on #1266
@SamCCSI The URL is [http://admin-staging.resourcecontracts.org/](http://admin-staging.resourcecontracts.org/).

[2020-04-06 05:46] man-git007 commented on #1096
@SamCCSI  and @jedm Are we good to go?

[2020-04-06 06:09] man-git007 commented on #1270
@jedm If you have the wireframe, we are ready to work on it. Also, I didn't get you on this `final 3 rows of Nirvana's recent mockup`.

[2020-04-06 12:49] SamCCSI commented on #1262
@jedm can you respond to the prev comment?

[2020-04-06 12:50] SamCCSI commented on #1096
Waiting on Jed for response to this comment: https://github.com/NRGI/resourcecontracts.org/issues/1262#issuecomment-609773580

Once @jedm  weighs in it will be ready to deploy. Thanks @man-git007

[2020-04-06 12:54] SamCCSI commented on #1266
[This one](http://admin-staging.resourcecontracts.org/mturk/2844/29471) didn't work, likely because it is old and maybe has already been approved?
![image](https://user-images.githubusercontent.com/12913915/78560312-f0d51780-77e3-11ea-8942-3b17a69d5a63.png)

There aren't any new ones or test documents whose pages I can approve to check. Can you please create a new one with pages that need to be ap

[2020-04-07 00:22] SolinaCCSI commented on #1266
Hi Sam,

Thank you for doing that. What username did you use? None of my emails or
the ccsi email worked. If given the info I can take over handling this.
THanks so much

On Mon, Apr 6, 2020 at 5:54 AM SamCCSI <notifications@github.com> wrote:

--

*SOLINA KENNEDY**Assistant to the Director – Land and Agriculture,
Extractive Industries*

*Columbia Center on Sustainable Investment*Columbia Law Scho

[2020-04-07 05:20] man-git007 commented on #1266
@SamCCSI Yes, the [task](http://admin-staging.resourcecontracts.org/mturk/2844/29471) could not be approved. This is because the assignment for that task doesn't exist. So for testing, I have added a few dummy contracts.
[http://admin-staging.resourcecontracts.org/mturk/2941](http://admin-staging.resourcecontracts.org/mturk/2941)
[http://admin-staging.resourcecontracts.org/mturk/2942](http://admin

[2020-04-07 09:52] anjesh commented on #1279
after our discussion in team, we think this might take around a day work to investigate the issue in details and fix this?

[2020-04-07 12:40] SamCCSI commented on #1279
Many thanks Anjesh. Let's put this on hold for now and see how days worked
on other task matches up to the quote/estimate.

[2020-04-07 17:55] SolinaCCSI commented on #1266
@man-git007 @SamCCSI I have tested the two documents and they were able to be approved/ rejected!

[2020-04-07 18:01] SamCCSI commented on #1266
Thanks @SolinaCCSI !

@man-git007 ready to deploy

[2020-04-08 05:16] man-git007 commented on #1266
@SamCCSI @charlesyoung The fix has been deployed to the live server.

cc @anjesh

[2020-04-08 07:49] man-git007 commented on #714
@SamCCSI We have updated the annotation category code list and deployed it in the staging server.

[2020-04-08 07:52] charlesyoung commented on #1096
@jedm can you please comment on above question. Thanks

[2020-04-08 13:40] SamCCSI commented on #714
Hi @man-git007 the below was the requested change. I don't think it has been added to the staging, as "Size of concession area" annotation category still appears under "Legal rules" and not under "General". See this example https://staging.openlandcontracts.org/contract/ocds-591adf-1515482442/view#/pdf This might be because that codelist doc hasn't been updated to include this change?

[2020-04-08 13:45] jedm commented on #1262
No, I think it will be more busy if the color background does not begin at the left margin (that would create an extra "stripe").

So I would recommend keeping it the way it is in the screenshot above.

[2020-04-08 13:47] jedm commented on #1096
Hello @man-git007. Thank you for your patience with our last decisions! I have responded to the comment in #1262 and Charles has confirmed today with @anjesh that the order of Associated Documents is ok. cc @charlesyoung @SamCCSI

[2020-04-08 13:48] SamCCSI commented on #1262
Thanks @jedm

@bizaybsnt I think this is all resolved now. Thanks!

[2020-04-09 12:10] man-git007 commented on #714
@SamCCSI The code list has been updated in the RC admin side but in the subsite, the category, and cluster is fetched from the elastic search server. So we need to update/ reindex the data in the elastic search as we. This might take some time and we will start working on it and will inform you asap.

[2020-04-09 21:05] SolinaCCSI commented on #1266
@man-git007 @SamCCSI @anjesh @MichaelCCSI Documents are now able to be approved, but NOT able to be rejected.
![Screen Shot 2020-04-09 at 1 27 31 PM](https://user-images.githubusercontent.com/54867922/78940698-23447600-7a6b-11ea-9db3-43b9f92cad95.png)

[2020-04-10 07:39] man-git007 commented on #1266
@SolinaCCSI The assignment `3EFVCAY5L4XXHJTR3H15K5HD9P2J8R` has already been approved from viewing the log.
![Screenshot from 2020-04-10 13-18-18](https://user-images.githubusercontent.com/23434972/78972729-23f21080-7b2e-11ea-995a-275e3378c3c6.png)
Since it was not approved in the database of RC admin due to MTurk API changes. So, this assignment cannot be rejected.  There might occur issues while

[2020-04-10 20:19] SolinaCCSI commented on #1266
@anjesh @SamCCSI @MichaelCCSI @man-git007
There are no pending documents (test or otherwise) to be rejected on the staging site. And for the one document highlighted yellow there, when I tried to reject this message came up
![Screen Shot 2020-04-10 at 1 04 32 PM](https://user-images.githubusercontent.com/54867922/79020509-dbd2ee00-7b2d-11ea-9bec-64eae862115b.png)
![Screen Shot 2020-04-10 at 1 03 4

[2020-04-14 04:43] man-git007 commented on #1266
@SolinaCCSI I have added some HITs for testing in the following link
`http://admin-staging.resourcecontracts.org/mturk/2942`
You can test it from here

[2020-04-14 08:34] charlesyoung commented on #1096
@man-git007 can you push this to the Prod site when you have time. Thanks

[2020-04-14 09:35] anjesh commented on #1096
@jedm @charlesyoung i forgot to mention last time that this will also push recent documents checkbox to the production. And we will update the RC/OLC current search box to grouped documents list and including recent document checkbox. Please confirm. @man-git007 will then push it.

![Screenshot from 2020-04-09 17-56-07](https://user-images.githubusercontent.com/120488/79209363-07721300-7e63-11ea-8

[2020-04-14 09:37] anjesh opened #1282 "home page redesign - v2"
current issue https://github.com/NRGI/resourcecontracts.org/issues/1225 has lots of discussions, making the page slow to load. Since we will be working on new design, we are creating new issue for followup. @nirvanalama will add the design here tomorrow.

[2020-04-14 09:38] anjesh commented on #1225
Closing this issue. Created a new issue to track/discuss on the new design https://github.com/NRGI/resourcecontracts.org/issues/1282

[2020-04-14 09:38] #1225 closed

[2020-04-14 09:48] charlesyoung commented on #1282
Thanks @anjesh

Have you got an idea of how much time will be required for the 1) redesign and 2) allowing image updates through the admin site?

[2020-04-14 09:51] charlesyoung commented on #1096
Sounds good. @jedm?

cc @SamCCSI

[2020-04-14 14:33] jedm commented on #1096
This is good news. Sounds good to me.

On Tue, Apr 14, 2020 at 5:52 AM Charles Young <notifications@github.com>
wrote:

--
Jed Miller | @jedmiller <http://twitter.com/jedmiller>
m +1.917.584.2349 | s @jedbmiller
www.jedmiller.com

[2020-04-14 18:51] SolinaCCSI commented on #1266
@man-git007 The test rejections/approvals worked!
@SamCCSI @MichaelCCSI @charlesyoung

[2020-04-15 08:27] charlesyoung commented on #1274
@anjesh how do we add missing resources?

[2020-04-15 09:11] anjesh commented on #1274
@man-git007 could you have a look here?

[2020-04-15 10:05] charlesyoung commented on #1096
Thanks @jedm

@anjesh @man-git007 can this be deployed?

[2020-04-15 10:20] charlesyoung opened #1284 "Website speed"
@anjesh something has changed the past month because the site has become very slow. So as an example I've got a fast fibre connection at home but most times for instance it displays the doc text version rather than the PDF because of slow bandwidth. Can you run a Pagespeed test your side to see if you get similar results?

[Pagespeed ](https://developers.google.com/speed/pagespeed/insights/?url=ht

[2020-04-15 10:34] nirvanalama commented on #1282
Hello. We have prepared a keynote presentation to help you understand the process and concept of the new design. Attached below is the video of the presentation.

[RC_presentation.zip](https://github.com/NRGI/resourcecontracts.org/files/4480593/RC_presentation.zip)

Figma is the design tool we used for the designs. You can comment on specific sections directly on Figma for your feedbacks. Here is

[2020-04-15 10:40] man-git007 commented on #1096
@charlesyoung It has been deployed in live server. Will also close the [`recent API issue`](https://github.com/NRGI/resourcecontracts.org/issues/1262).

cc @jedm @SamCCSI @anjesh

[2020-04-15 10:40] #1262 closed

[2020-04-15 10:42] man-git007 commented on #1266
@charlesyoung This has been deployed in live server.

cc @SolinaCCSI @SamCCSI @anjesh

[2020-04-15 10:46] charlesyoung commented on #1096
Thanks. I'm going to leave this open until I can see it working. Tried to refresh Chrome and use an incognito window and it doesn't show the grouping.

[2020-04-15 10:48] charlesyoung commented on #1282
Thanks @nirvanalama

I will leave it to Jed to comment on the new design but I just want to note that for RC I still want the countries and most recent searches, as we had on the first design, included. From what I can see this has been removed in the new design.

[2020-04-15 12:51] SamCCSI commented on #1096
i'm also not seeing grouping or recent docs field on OLC or RC

[2020-04-15 18:41] SolinaCCSI commented on #1266
@charlesyoung @SamCCSI @anjesh @man-git007

Now, when I reject documents that need to be rejected, this is the message that comes up:
![Screen Shot 2020-04-15 at 11 40 48 AM](https://user-images.githubusercontent.com/54867922/79375816-18c42980-7f0e-11ea-9f0c-fdbd3a9e3bd7.png)

[2020-04-15 19:33] SolinaCCSI commented on #1266
@charlesyoung @MichaelCCSI @SamCCSI @man-git007
Here is another message that pops up when trying to reject:
![Screen Shot 2020-04-15 at 12 32 10 PM](https://user-images.githubusercontent.com/54867922/79380395-43fe4700-7f15-11ea-9eb9-26a95e951f8a.png)

[2020-04-16 05:29] anjesh commented on #1284
@man-git007 @sweta-shrestha Could you please see if there are any obvious issues that are causing the slow in the site?

[2020-04-16 05:50] bizaybsnt commented on #1279
@SamCCSI
We have fixed the bug while resizing the annotation markers shape. Please check it on the staging site (https://admin-staging.resourcecontracts.org/ ).
We will deploy it on the production once it is confirmed.

cc: @anjesh @man-git007

[2020-04-16 06:17] bizaybsnt commented on #1096
We have updated the grouping feature enabled from the home page and header search bar.

@charlesyoung @SamCCSI Please let us know if anything is missing from our side.

Thanks.

[2020-04-16 07:05] nirvanalama commented on #1282
@jedm @charlesyoung @SamCCSI
Hello. I've made few changes on the designs with the feedbacks of Anjesh and Charles.
 Here is the Figma[ link](https://www.figma.com/file/OK1BSOpfKTokEoBZYQCXss/RC__UI_v2?node-id=0%3A1). You can comment on specific sections directly on Figma for your feedbacks.
I also hope you went through the presentation, few things have changed but the core concept is the same. [RC

[2020-04-16 09:58] man-git007 commented on #1266
@SolinaCCSI
We have tested these tasks/assignment/HITs and found conclusion that, those have been auto approved as per AWS Mturk API Guidelines. The guideline states that upon the submission of HITs from worker if not acted upon within 30 days, it will auto approve. For reference I have attached a screenshot and ink to the [guideline](https://docs.aws.amazon.com/AWSMechTurk/latest/AWSMechanicalTur

[2020-04-16 10:12] charlesyoung commented on #1282
Thanks @nirvanalama

Some points
- Re the contract terms explained box, do we need to have separate terms or just 1 overall text that will show all the terms?
- Re the 3 blocks ordering I would suggest 1) Documents 2) Countries 3) Resources
- Re the 3 blocks backgrounds I would suggest transparency (like the documents) for all without the world, document, etc images
- Should be 'Explore documents

[2020-04-16 12:44] SamCCSI commented on #1279
Confirming this works nicely now. Ready to deploy, thank you!

[2020-04-16 12:48] SamCCSI commented on #1096
Working very nicely now on OLC. Thanks!

On Thu, Apr 16, 2020 at 2:17 AM Bijay Basnet <notifications@github.com>
wrote:

[2020-04-16 13:56] jedm commented on #1282
Hi @nirvanalama - Thank you for the Figma link and the explanatory video. Before I make comments, one question: You had proposed sending 3 sample designs for the new homepage. Can you please point out any key design differences  between the 3 images in Figma? I see that the content of the right-side box is different in each example, but are there design differences we should be aware of? Many than

[2020-04-17 06:26] man-git007 commented on #714
@SamCCSI The code list has been updated in elastic search as well and has deployed it in the staging server. Please verify.

[2020-04-17 06:44] man-git007 commented on #1279
@SamCCSI The bug has been fixed and deployed in the live server

cc @anjesh @bizaybsnt

[2020-04-17 11:03] nirvanalama commented on #1282
Hello @jedm The three designs side by side are the dynamic changing "annotations" as I had mentioned in the video. We did not want you to keep waiting for the designs so sent you the first design as soon as possible. More design options will take more time. Apologies for not mentioning that earlier. While we are working on the other designs, I wanted you to take a look into the first design option

[2020-04-17 11:13] charlesyoung commented on #1282
@nirvanalama can I ask that you don't work on the other designs until @jedm gives his feedback on these designs. Thanks

[2020-04-17 12:28] SamCCSI commented on #714
Thanks @man-git007 looks great - happy for this to be deployed

[2020-04-17 12:31] SamCCSI commented on #1279
Works great on live site thanks @man-git007

[2020-04-18 11:15] charlesyoung commented on #1284
@man-git007  @sweta-shrestha can you please take a look at this? I have now had 3 RC users contact me and complain about the slow access speed. Pagespeed still shows a very low performance score.

[2020-04-20 03:20] nirvanalama commented on #1282
@charlesyoung Sure. Let us know.

[2020-04-20 04:38] jedm commented on #1282
Nirvana,

Thank you for the first example design. The idea of a rotating “annotation
topic” is interesting.

It would be preferable to understand the other design concepts you are
considering before adding more comments on this concept. But can you advise
the timing for the additional concepts? If it is a longer time I can
provide a few notes now (but they would only be applicable to this first
co

[2020-04-20 08:11] man-git007 commented on #714
@SamCCSI This has been deployed in production.

cc @anjesh

[2020-04-20 08:11] #714 closed

[2020-04-20 14:07] SamCCSI commented on #1259
text search terms that return results in annotation field are still not being bolded on live site. (text search terms that return results in text field are bolded, though). Example: https://www.openlandcontracts.org/search/group?q=consent
![image](https://user-images.githubusercontent.com/12913915/79760838-9f9e4b00-82ee-11ea-8078-a555dd847761.png)

@man-git007 can you please address? cc @anjesh Th

[2020-04-20 15:58] charlesyoung commented on #1096
@man-git007 @bizaybsnt thanks the grouping looks good. Just 2 points.
- Please remove the 'Associated document' text

![image](https://user-images.githubusercontent.com/13888372/79772296-350dff00-8330-11ea-9504-01b588989804.png)

- Has this functionality impacted the sites [speed](https://github.com/NRGI/resourcecontracts.org/issues/1284)? Two users contacted me over the weekend noting that the si

[2020-04-20 23:53] jedm commented on #1096
Regarding the below note from @charlesyoung, this relates to the view when no search term has been entered, and the All Documents view.

[2020-04-21 05:24] nirvanalama commented on #1282
Thanks @jedm We'll be able to share the option 2 by tomorrow (Wednesday, 22 April 2020)

[2020-04-21 11:20] sweta-shrestha commented on #1284
@charlesyoung Regarding the performance, we have optimized the images in staging server and also maintained css and images which has increased the performance score. This change in score might get better in production server.

Also, we are working on other possibilities to speedup the site.

[2020-04-21 11:25] charlesyoung commented on #1284
Thanks @sweta-shrestha

Improving the sites performance will be important.

[2020-04-22 07:46] charlesyoung commented on #1243
@jedm any updates on this ticket?

cc @anjesh @SamCCSI

[2020-04-22 12:28] charlesyoung commented on #1282
Something small but can you please change the RC contact email address on the home page from nrgi@resourcegovernance.org to resourcecontracts@resourcegovernance.org when the site is implemented.

[2020-04-22 14:35] nirvanalama commented on #1282
Hello, here is the option 2 for the homepage. @jedm @charlesyoung https://www.figma.com/file/OK1BSOpfKTokEoBZYQCXss/RC__UI_v2?node-id=54%3A2 Use the left side bar to navigate the pages on Figma. Press C to comment on the designs.

This design includes the similar carousel view as on the previous design but on the full width hero section. The carousel changes every few seconds to open a door for mo

[2020-04-23 07:27] charlesyoung commented on #1282
Thanks @nirvanalama

cc @SamCCSI @jedm

[2020-04-23 14:52] nirvanalama commented on #1282
@jedm @charlesyoung The third homepage design option is up on figma. Here is the link https://www.figma.com/file/OK1BSOpfKTokEoBZYQCXss/RC__UI_v2?node-id=74%3A949

Use the left side bar to navigate the pages on Figma. Press C to comment on the designs.
Thank you. Let us know what you think. Thanks!

[2020-04-23 19:09] jedm commented on #1282
Thanks very much @Nirvana Lama <nirvana.lama@yipl.com.np>. We will consult
internally (and quickly) and send any follow up questions and, hopefully a
clear preference.

These are very good looking options with a lot to choose from!

Regards,

Jed

On Thu, Apr 23, 2020 at 10:52 AM Nirvana Lama <notifications@github.com>
wrote:

--
Jed Miller | @jedmiller <http://twitter.com/jedmiller>
m +1.917.584.

[2020-04-23 23:53] SolinaCCSI commented on #1266
[MTurk.Assignment.xlsx](https://github.com/NRGI/resourcecontracts.org/files/4525890/MTurk.Assignment.xlsx)
@man-git007 @anjesh @charlesyoung @SamCCSI @MichaelCCSI

Here is the list of docs that need to have the HIT reset (all but 2). Thank you!

[2020-04-24 11:51] adinuca opened #1287 "ResourceContract Admin site has error - https://admin.resourcecontracts.org/mturk/4117/31865"
@adinuca commented on [Fri Apr 24 2020](https://github.com/NRGI/nrgi-dcos/issues/527)

## Why
This error has started occurring recently.

## What
- [ ] The error no longer appears

## Notes
[code]

[2020-04-24 11:51] adinuca commented on #1287
@charlesyoung , this is a recent issue. Can YIPL have a look?
Thank you.

[2020-04-24 12:04] charlesyoung commented on #1287
Thanks @adinuca

@man-git007 is this possibly related to [#1266?]([url](https://github.com/NRGI/resourcecontracts.org/issues/1266))

[2020-04-24 12:59] charlesyoung commented on #1096
@man-git007 @bizaybsnt will it be possible to apply above minor changes so that we can close this ticket. Thanks

[2020-04-24 13:00] charlesyoung commented on #1284
@sweta-shrestha any further feedback on the performance issues?

[2020-04-27 06:08] sweta-shrestha commented on #1284
@charlesyoung We have optimised the images on the production site as well as worked on the critical css which has increased the performance score.

Also, certain factors on server can also help to speed up the website. I would suggest you to enable compression on the server side.

[2020-04-27 06:26] man-git007 commented on #1096
@charlesyoung I have made the changes and deployed them in the staging server. Could you please check the changes.

cc @anjesh

[2020-04-27 08:00] charlesyoung commented on #1284
Thanks. The performance seems to have improved.

How, where do I enable compression on the server side?

cc @adinuca

[2020-04-27 08:07] charlesyoung commented on #1096
Thanks.

A question for @jedm re the ordering. Do we only order the main docs in  reverse chronological order? Below Perupetro grouping looks weird.

![image](https://user-images.githubusercontent.com/13888372/80348884-bb659c00-886e-11ea-90f3-debd2dd50f6d.png)

[2020-04-27 12:28] Umuterdim commented on #1266
# @SolinaCCSI `@SolinaCCSI []()```
_`**`011110111101111011101`**`_
``````no name//```
- 62+1!?
[code]

[2020-04-27 12:50] SamCCSI commented on #1096
@man-git007 what is the ordering for a filter search. Example if I choose country filter for D. R. Congo?

Given that all results will be equally weighted (they all come from that country), this should also be reverse chronological by main document. Right now it isn't.

Example: https://staging.resourcecontracts.org/search/group?q=&country%5B%5D=CD
![image](https://user-images.githubusercontent.co

[2020-04-27 14:03] SamCCSI commented on #1096
@man-git007 I have conferred with Charles and Jed, and we confirm our request that Document order for (a) no search term and (b) recent documents and (c) filter search term only should all be reverse chronological by main doc.

Reiterating previous points of agreement:
- Associated docs within main doc groupings are also ordered reverse chronologically
- Main doc is always NOT indented, and associ

[2020-04-28 09:07] charlesyoung commented on #1242
@rumus007 trust all is well.

I'm trying to upload docs from Dropbox but get a 'Status: Failed (Pdf file is )' error. Below is an example link.

https://www.dropbox.com/preview/Rep%20Congo%20(Brazza)/PSCs%20for%20Resourcecontracts/Congo%20PSCs%20Gazette%20versions/CPP%20Marine%20III_2006_scan.pdf?role=personal

You mentioned previously that for other hosted files (such as dropbox etc) users will h

[2020-04-28 10:01] rumus007 commented on #1242
@charlesyoung

The link that you have provided doesn't seem to be publicly accessible. I am not able to view or download the pdf file when I click the link. In order to import the pdf, the link should be publicly accessible.

cc @anjesh

[2020-04-29 03:08] jedm commented on #1282
Hi @nirvanalama,

We like all these directions very much. @charlesyoung and @SamCCSI and I consulted and we have a request for final version:

- **We would like the top section of v1 and the bottom section (blue map) of v2**

- For the middle section, we prefer four items to three. **So we suggest using the middle section (icons) from v3.** If you recommend we use the colored boxes in v1 (and not

[2020-04-29 06:31] man-git007 commented on #1287
@charlesyoung The worker has submitted the hit `3VI0PC2ZAY8YBBN21000JGJ7CP0OXV` with no answer. Therefore it's causing the error in the admin side. I suggest the hit to be rejected and then reset it. For your assistance, I have attached a screenshot of the log.
![Screenshot from 2020-04-29 12-14-33](https://user-images.githubusercontent.com/23434972/80566693-48495a80-8a13-11ea-993d-e8e26951f94d.pn

[2020-04-29 06:59] man-git007 commented on #1266
@SolinaCCSI @charlesyoung @SamCCSI @MichaelCCSI

[MTurk.Assignment.xlsx](https://github.com/NRGI/resourcecontracts.org/files/4550145/MTurk.Assignment.xlsx)
As per the excel, we have updated the hits on the admin side. Please reset those HITs.

![Screenshot from 2020-04-29 12-43-58](https://user-images.githubusercontent.com/23434972/80568649-2520aa00-8a17-11ea-9140-c3eab77e070d.png)

**cc** @anjesh

[2020-04-29 10:30] charlesyoung commented on #1284
@sweta-shrestha the site still seems sluggish and I don't think its an image problem because none of the images have changed and the performance was find a couple of months ago. It has to be related to the new code that has been added.

[2020-04-29 12:18] charlesyoung commented on #1096
@man-git007 have you had time to look at above comments?

Please note that we will also need to update the RC country sites with the grouping functionality once all is done on the RC Prod site.

[2020-04-29 12:18] charlesyoung commented on #1282
@nirvanalama please note that we will also need to update the RC country site home pages once the RC home page has been updated.

[2020-04-29 18:01] SolinaCCSI commented on #1266
Thank you @man-git007 Most of the pending documents have been successfully approved/rejected. There are still two documents that need to be reset as shown below. Once those are cleared I think we are all set!

@anjesh @SamCCSI @MichaelCCSI
![Screen Shot 2020-04-29 at 10 57 40 AM](https://user-images.githubusercontent.com/54867922/80630201-b5a3be00-8a08-11ea-9707-355cfee03354.png)
![Screen Shot 202

[2020-04-30 04:27] man-git007 commented on #1266
@SolinaCCSI The two HITs also have been updated. Please reset them.

![Screenshot from 2020-04-30 10-09-04](https://user-images.githubusercontent.com/23434972/80671935-fe23b000-8aca-11ea-80fc-7155e42493ac.png)
![Screenshot from 2020-04-30 10-08-55](https://user-images.githubusercontent.com/23434972/80671951-054abe00-8acb-11ea-9343-1fdbc09f5a9b.png)

[2020-04-30 07:35] man-git007 commented on #1284
@charlesyoung We have enabled gzip in server and speed rating has significantly increased. The site should now perform smoothly.
![Screenshot from 2020-04-30 13-19-17](https://user-images.githubusercontent.com/23434972/80684335-3e902780-8ae5-11ea-8acf-03177d243a42.png)

**cc** @sweta-shrestha

[2020-04-30 08:07] charlesyoung commented on #1284
Great, many thanks!!

[2020-04-30 08:57] anjesh commented on #1255
1 day of work for https://github.com/NRGI/resourcecontracts.org/issues/1284

[2020-04-30 11:13] anjesh opened #1289 "Highlight and zoom the annotation in the clip's document view page"
## Why

Currently when you clip the annotation and go to clips page and view the document containing that clipped annotation, the document doesn't show the annotated box, confusing the user where to look for that annotations. The series of screenshots show the problem.

![image](https://user-images.githubusercontent.com/120488/80699311-786c2880-8afb-11ea-9278-6bfb27c3a71a.png)

![image](https://us

[2020-04-30 11:33] anjesh opened #1290 "Add a new URL column in the clips download file"
- [x] "annotation page" link is added as a new column in the clips download page. Note the highlighted column is to be added in the XLS file

![image](https://user-images.githubusercontent.com/120488/80705446-2e3c7480-8b06-11ea-9bea-546f0b1f9e7f.png)

The download is available in the clips page after adding clips as shown below.

![image](https://user-images.githubusercontent.com/120488/80705250-d

[2020-05-01 11:36] nirvanalama commented on #1282
@jedm @charlesyoung
Thank you so much for your valuable feedback. We've worked on the designs Here is the link to Figma https://www.figma.com/file/OK1BSOpfKTokEoBZYQCXss/RC__UI_v2?node-id=102%3A2

- [ ] Top section of v1 and the bottom section (blue map) of v2 on the homepage

- [ ] Icons on the middle section

- [ ] Please see attached image for other requests about top section of homepage.

- [

[2020-05-01 11:51] jedm commented on #1282
@nirvanalama thank you for this speedy work!

@samccsi let me and Charles know what you think.

On Fri, May 1, 2020 at 7:36 AM Nirvana Lama <notifications@github.com>
wrote:

--
Jed Miller | @jedmiller <http://twitter.com/jedmiller>
m +1.917.584.2349 | s @jedbmiller
www.jedmiller.com

[2020-05-01 12:35] charlesyoung commented on #1282
Some comments.

1. Box ordering
2. View recent documents
3. Explore contracts by country (text and case change), and center on page
4. 'Partners' can move slightly down
5. 'Donors' overlaps a logo

![image](https://user-images.githubusercontent.com/13888372/80805413-42d94500-8bb8-11ea-8437-6a0c76680db7.png)

[2020-05-01 12:42] SamCCSI commented on #1282
1. Move "search and review..." text very slightly closer to larger text.

2. Move search bar slightly downward to give it more space.

3. Resources icon needs to change to look like some sort of commodity, preferably to something that works for both mining and agriculture. eg a collection of commodities that could be rocks (mining) or grains (agriculture).

4. **Question for group**: right now the

[2020-05-01 13:27] jedm commented on #1282
A bigger question: Do we all still prefer the cute icons to the colored
boxes in @nirvana’s design #1? I confess that for me the icon-boxes do not
match the style of the design as well as the colored boxes do.

But:

a) others may not agree
b) I do not know if 4 colored boxes will fit
c) we should maybe keep rolling forward in any case

Curious what @nirvanalama thinks too.

On Fri, May 1, 2020 at

[2020-05-01 15:24] SamCCSI commented on #1282
I'm open to seeing what works visually

[2020-05-01 18:05] jedm commented on #1282
@nirvanalama and @charlesyoung, it would be wonderful if each of you could comment here in the thread whether you like or do not like the idea of trying the colored boxes (with no icons) from original example 1 instead of the icons in white boxes.

[2020-05-01 18:32] charlesyoung commented on #1282
We can look at it but not sure 4 boxes will fit. We do also need to move things forward and agree on the design sooner rather than later. Something like below? Isn't it a bit bland?

![image](https://user-images.githubusercontent.com/13888372/80831271-c6ac2500-8bea-11ea-8a56-7b098732d804.png)

[2020-05-01 18:48] jedm commented on #1282
No more like this

![Option 1](https://user-images.githubusercontent.com/2153664/80832530-d449b680-8bba-11ea-8fba-d87f73936a47.jpg)

[2020-05-01 18:57] charlesyoung commented on #1282
I don't mind. I would however move docs first and just use the transparent image background than the world map, etc. Could the box width be reduced slightly? What color would you use for the most recent docs (4th) box?

[2020-05-01 18:58] jedm commented on #1282
Good questions, but would propose we decide if this concept is preferred
first, then proceed with any questions of order, width, etc.
cc @nirvanalama @samccsi

On Fri, May 1, 2020 at 2:57 PM Charles Young <notifications@github.com>
wrote:

--
Jed Miller | @jedmiller <http://twitter.com/jedmiller>
m +1.917.584.2349 | s @jedbmiller
www.jedmiller.com

[2020-05-01 19:02] SamCCSI commented on #1282
Jed's concept looks nice

[2020-05-02 14:49] charlesyoung commented on #1282
@SamCCSI and @jedm can we first agree 100% on below before passing it on to @nirvanalama

1. Change the boxes to version 1 design as shown below
2. Box ordering, documents, countries, resources, recent documents
3. Need to decide on the width of the boxes (2 examples below)
4. Use the transparent background image (like for documents) than the world map, etc.
5. What colour do we use for the countr

[2020-05-02 18:18] charlesyoung commented on #1290
We want to add a column in the xls export that notes the relevant page annotation URL for reference and sharing.

[2020-05-02 18:20] charlesyoung commented on #1274
@man-git007 any feedback?

[2020-05-02 18:21] charlesyoung commented on #1279
@SamCCSI can we close this ticket?

[2020-05-02 18:24] charlesyoung commented on #1271
@MichaelCCSI is this what you are looking for from the backend?

![image](https://user-images.githubusercontent.com/13888372/80872531-c37c6c00-8cb2-11ea-88bf-22a8b528ec35.png)

[2020-05-02 18:27] charlesyoung commented on #1264
@SamCCSI just a reminder now that the grouping functionality has been deployed.

[2020-05-02 18:29] charlesyoung commented on #1146
@adinuca is this still reproducible?

[2020-05-02 18:30] #1119 closed

[2020-05-04 12:52] #1279 closed

[2020-05-04 13:42] charlesyoung commented on #1242
@rumus007 any idea why I'm getting below import error? The xls, see below, seems fine.

![image](https://user-images.githubusercontent.com/13888372/80971917-b9c34780-8e1d-11ea-8ba3-a5c9180f6569.png)

[R4D - Congo template import v2.xlsx](https://github.com/NRGI/resourcecontracts.org/files/4574980/R4D.-.Congo.template.import.v2.xlsx)

[2020-05-05 07:10] charlesyoung commented on #1096
@man-git007 can we please try complete the outstanding issues on this ticket as soon as possible?

cc @anjesh

[2020-05-05 07:47] rumus007 commented on #1242
@charlesyoung
The PDF file link for the first three contracts is the same, hence the hash produced will be the same. That's why the "contract could not be saved" remark appears for 2nd and 3rd contracts.
The Document URL should be unique.
cc @anjesh

[2020-05-05 07:52] charlesyoung commented on #1242
Thanks @rumus007

I should have noticed the duplication's.

[2020-05-05 09:49] man-git007 commented on #1266
@charlesyoung @SolinaCCSI Are we ok to close this issue?

[2020-05-05 09:53] man-git007 commented on #1259
@SamCCSI

The search highlight seems working. This could be due to the browser. Could you please provide us the browser info you are using.

![Screenshot from 2020-05-05 15-37-13](https://user-images.githubusercontent.com/23434972/81054416-84cef780-8ee6-11ea-8b90-f8b5f16500b3.png)

[2020-05-05 10:02] man-git007 commented on #1199
@SamCCSI The favicon has been restored. Could you verify it?

[2020-05-05 12:27] SamCCSI commented on #1199
@man-git007 i'm still getting the old one on safari and chrome, include in private/incognito mode

![Screenshot 2020-05-05 08 27 06](https://user-images.githubusercontent.com/12913915/81065838-3a2f8a00-8eaa-11ea-869f-8942b9c561ba.png)
![Screenshot 2020-05-05 08 26 49](https://user-images.githubusercontent.com/12913915/81065842-3ac82080-8eaa-11ea-932a-fb818c44a292.png)

[2020-05-05 12:30] SamCCSI commented on #1259
@man-git007 <https://github.com/man-git007> It works on Safari.

It does not show on Google chrome Version 81.0.4044.129 (Official Build)
(64-bit)

[2020-05-05 12:32] charlesyoung commented on #1199
Works for me.

![image](https://user-images.githubusercontent.com/13888372/81066354-46810a80-8edd-11ea-9e5e-947a85491505.png)

[2020-05-05 13:59] SamCCSI commented on #1282
I've edited charles's 10 points above.

@jedm can you please make further edits and then indicate when it is ready for Nirvana to review and incorporate?

[2020-05-05 20:57] jedm commented on #1282
@nirvanalama below are our final requests for changes to homepage design. Please 1) confirm  that you agree with these choices and 2) send any questions for final clarification. Thanks so much.

1. Change the boxes to the version 1 look and feel (instead of the icons in white boxes)
2. Box order: All documents, Countries, Resources, Recent documents
3. Need YI to confirm exact color and width of t

[2020-05-05 21:01] SamCCSI commented on #1282
And note for 3 and 4, color scheme will differ for the OLC home page.

[2020-05-05 22:18] SolinaCCSI commented on #1266
Yes @man-git007 @charlesyoung @SamCCSI

[2020-05-06 03:33] #1266 closed

[2020-05-06 04:17] bizaybsnt commented on #1096
Hi all,
The default sort order has been set to descending order of year by main doc. Please check in the staging site.

[2020-05-06 07:08] charlesyoung commented on #1096
Thanks @bizaybsnt

@SamCCSI @jedm please confirm all is in order before we deploy on the prod site.

[2020-05-06 07:50] nirvanalama commented on #1282
@jedm @SamCCSI @charlesyoung Thank you for compiling your feedbacks into one list. That was be really helpful. Is there anything else you need to add on the list? We'll send you the designs by today.

[2020-05-06 08:36] charlesyoung commented on #1282
Nope that's the final list. Thanks

[2020-05-06 09:20] charlesyoung commented on #1105
@anjesh will below be possible to implement?

Changes to the resources search box: Can we have a search for “minerals” generally? Right now you would have to select each and every mineral from quite a long list. While it’s obviously useful to be able to search and compare for specific minerals, often for search we  just want to see terms across minerals contracts or hydrocarbons contracts. So I ac

[2020-05-06 10:29] nirvanalama commented on #1282
Here is the link to the design https://www.figma.com/file/OK1BSOpfKTokEoBZYQCXss/RC__UI_v2?node-id=132%3A0

[2020-05-06 10:29] nirvanalama commented on #1282
Here is the link to the design https://www.figma.com/file/OK1BSOpfKTokEoBZYQCXss/RC__UI_v2?node-id=132%3A0

[2020-05-06 10:34] nirvanalama commented on #1282
@jedm @charlesyoung @SamCCSI
Here is the link to the design https://www.figma.com/file/OK1BSOpfKTokEoBZYQCXss/RC__UI_v2?node-id=132%3A0

List of few things I've changed apart from the above list
1. I have changed the color of the card 'Recent documents' I would not recommend using the same 'orange' hue
2. The background of the map has been slightly changed because 'list of countries' was blending

[2020-05-06 12:49] SamCCSI commented on #1096
I tried in private mode in both safari and chrome.

Text search now appears in reverse chron order:
![image](https://user-images.githubusercontent.com/12913915/81178534-5862bc00-8f76-11ea-9908-e461fd97f1c1.png)

But:

Filter searches (country, resource, etc) are not in date order (but need to be):
https://staging.resourcecontracts.org/countries/au
![image](https://user-images.githubusercontent.com

[2020-05-06 12:52] SamCCSI commented on #1096
(staging site now temporarily unavailable)

[2020-05-06 12:54] charlesyoung commented on #1096
@SamCCSI I can still access the staging site.

[2020-05-06 13:05] SamCCSI commented on #1282
Thanks @nirvanalama, looks good!

My feedback:
- wording of buttons should change. For Docs: change "List of total" to just "Total"; For countries  change to "Documents from"; For resources: "Documents related to"; For recent "View recent document**s**" (not S on end of documents) and change little button to "View **recent** documents"
- for OLC it would be great if the resources icon could be a c

[2020-05-06 13:12] charlesyoung commented on #1282
Thanks @SamCCSI I do have a question about the color scheme. @jedm?

Only other question I have is if we are happy with the box (4) sizes. Seems possibly too big but again will rely on @jedm for input.

[2020-05-06 13:22] jedm commented on #1282
@nirvanalama We will send final instructions, wording, and requests for
colors shortly. Thank you for your patience!

On Wed, May 6, 2020 at 9:12 AM Charles Young <notifications@github.com>
wrote:

--
Jed Miller | @jedmiller <http://twitter.com/jedmiller>
m +1.917.584.2349 | s @jedbmiller
www.jedmiller.com

[2020-05-06 18:51] SolinaCCSI commented on #1264
@charlesyoung Hi Charles, I was under the impression these documents got associated /or changed to main doc a few weeks ago. I will work on this now. Can you please clarify where I can find the list of 170 documents that need to be reviewed?

[2020-05-07 04:05] nirvanalama commented on #1282
Thank you so much @SamCCSI @charlesyoung  @jedm Yeah a compiled feedback would be great.

[2020-05-07 07:09] charlesyoung commented on #1264
Hi @SolinaCCSI it could have been done, I was just checking that it was done because these docs wont show in the new grouping feature. See the xls below. I had started to create the doc URLs to make it easier to find but haven't done it for all. Its just adding the OCID (3190) to the RC admin URL (admin.resourcecontracts.org/contract/3190).

[supporting-doc-without-main-.doc.xlsx](https://github.c

[2020-05-07 09:49] charlesyoung commented on #1289
@man-git007 no stress but just checking if you have started working on this ticket.

[2020-05-07 09:49] charlesyoung commented on #1290
@anjesh no stress but just checking if you have started working on this ticket.

[2020-05-07 09:49] charlesyoung commented on #1274
@man-git007 any feedback?

[2020-05-07 09:51] charlesyoung commented on #1105
@anjesh just checking if you can give me a yes this is possible or not for now.

[2020-05-07 12:07] man-git007 commented on #1274
@charlesyoung Sorry for the late reply. I think we need to update the code list on the admin side itself. Let me check and get to you by tomorrow

[2020-05-07 12:10] charlesyoung commented on #1274
Thanks @man-git007

Does it not just pull from the Google sheet code list?

https://docs.google.com/spreadsheets/d/1tRRcib0VNynipkk83m4Be1vRaSslCKHzoIxmmC1oPLQ/edit#gid=215354368

[2020-05-07 18:27] SolinaCCSI commented on #1264
Got it, thank you @charlesyoung. @michaelCCSI and I are working on this and will let you know when the 170 are updated. Thanks so much!

@SamCCSI

[2020-05-08 08:58] charlesyoung commented on #1096
@bizaybsnt just checking that saw above comments.

[2020-05-08 10:35] man-git007 commented on #1274
@charlesyoung I have updated the code list in the admin site. The resource 'coltan' has been added to the resource field of contract form. This is deployed in the staging server.

[2020-05-08 11:00] charlesyoung commented on #1274
Thanks @man-git007

Please note that its Coltan an not Colton as added to the staging server.

![image](https://user-images.githubusercontent.com/13888372/81399656-aa990e00-912b-11ea-9bf7-6e419b1b6ac1.png)

Isn't there a more sustainable way of adding new resources like updating the Google sheet?

[2020-05-08 11:09] man-git007 commented on #1259
@SamCCSI I have made changes and deployed in the staging server. Could you please check.

[2020-05-08 11:38] man-git007 commented on #1274
@charlesyoung Noted and done.

[2020-05-08 11:42] charlesyoung commented on #1274
Thanks, please move to Prod.

[2020-05-08 12:00] man-git007 commented on #1274
@charlesyoung Moved to production

cc @anjesh

[2020-05-08 12:03] #1274 closed

[2020-05-08 12:46] SamCCSI commented on #1259
@man-git007 it works on staging

[2020-05-10 22:41] jedm commented on #1282
Hi @nirvanalama, here are our final requests for the homepage(s).

Please note that, for final approval, we would like to see the RC and OLC versions.

Many thanks for your patience and please send any further questions!

Jed

1. Colors: @nirvanalama, is it possible for you to suggest a revised set of colors for the homepage? We did not love the "fourth" color (off-white/tan) and we prefer a diffe

[2020-05-11 08:49] man-git007 commented on #1259
@SamCCSI It has been deployed in live server. Please check.

[2020-05-11 10:21] man-git007 commented on #1096
@charlesyoung @SamCCSI I have implemented the changes and deployed in the staging server. Please check

[2020-05-11 10:38] charlesyoung commented on #1096
Thanks @man-git007. Some comments.

- Please remove the (Associated document) text from all supporting documents
- The 'Resource' search results order seems correct but do we not group the main and supporting documents in this search
- The 'Country' search results order seems correct but do we not group the main and supporting documents in this search

cc @SamCCSI

[2020-05-11 12:15] SamCCSI commented on #1096
@man-git007 @charlesyoung

Confirming that the reverse chron order is working for all filter searches.

@charlesyoung I think it is retaining the "grouping" structure in these searches. See, e.g.,
https://staging.resourcecontracts.org/search/group?q=&country%5B%5D=GH

If that is correct, then this is good to be deployed on the live RC and OLC sites. Thanks!

![image](https://user-images.githubuser

[2020-05-11 12:16] anjesh commented on #1096
@charlesyoung our discussion on grouping has been focused around main search and recent docs only and hence missed  the resources/countries page list. It looks like this will require further changes in API for country and resource page to adjust for the weighting and grouping, this might still require a day of work to fix this with testing and all. Do you think it's ok to close this issue and depl

[2020-05-11 12:17] SamCCSI commented on #1259
@man-git007 it works on live site. thank you!

[2020-05-11 12:17] anjesh commented on #1096
@SamCCSI My understanding is Charles is referring to https://staging.resourcecontracts.org/countries/af and please note there's some CSS issue. We will fix that as well.

[2020-05-11 12:19] SamCCSI commented on #1096
I see.

I would think we definitely want the site to work consistently through different search types / pages. Happy to discuss this further cc @charlesyoung @jedm @anjesh

[2020-05-11 12:20] charlesyoung commented on #1096
Thanks @anjesh

Yes that will be fine. We will need the same grouping for the resource and countries page lists.

[2020-05-11 12:22] anjesh commented on #1096
Thanks you. Reconfirming that we will close this issue, deploy the grouping to production and create a new issue to work on resource/country page list grouping.

cc @man-git007

[2020-05-11 12:23] charlesyoung commented on #1096
Thanks @anjesh

[2020-05-11 12:54] charlesyoung commented on #1096
Please however remove the (Associated document) text from all supporting documents before deploying on the Prod site.

[2020-05-12 10:35] charlesyoung commented on #1282
@nirvanalama just checking if you have had time to look at Jed's comments.

[2020-05-13 06:29] nirvanalama commented on #1282
@charlesyoung Hello. Yeah I'm working on it, will send today.

[2020-05-13 07:15] charlesyoung commented on #1096
@man-git007 can this please be deployed to Prod today? As noted above please remove the (Associated document) text.

cc @anjesh

[2020-05-13 07:30] man-git007 commented on #1096
@charlesyoung The (Associated document) text has been removed and deployed in staging. COuld you please check, after that, I will deploy in production

[2020-05-13 07:38] charlesyoung commented on #1096
Thanks @man-git007

Please deploy to Prod.

[2020-05-13 09:33] man-git007 commented on #1096
@charlesyoung Deployed to the production server.

cc @anjesh

[2020-05-13 09:40] charlesyoung commented on #1096
Thanks @man-git007

I did some hard refreshes and also viewed it in incognito but sill not showing. Will try again later and report back.

[2020-05-13 11:03] nirvanalama commented on #1282
@jedm @charlesyoung @SamCCSI

Here is the design for RC and OLC. I've made all the changes you asked for.

https://www.figma.com/file/OK1BSOpfKTokEoBZYQCXss/RC__UI_v2?node-id=159%3A2

Here are few points:
**1. Colors of the Cards**
I would recommend to stick with the color pallete as those colors contrast well with the RC's primary color [Bright Orange] and also with OLC's primary color [Bright Gr

[2020-05-13 12:10] charlesyoung commented on #1096
Still not, please check from your side.

[2020-05-13 12:41] SamCCSI commented on #1096
When i click on advanced search ( https://www.openlandcontracts.org/search/group ) the documents currently listed are not listed in reverse chron order. for some reason they are all from DRC and not all are shown. See below. My understanding is that this view, without search terms, should show ALL docs, ordered reverse chronologically by main doc (associated docs listed under their main doc). cc @

[2020-05-13 12:45] jedm commented on #1282
@nirvanalama thank you for the timely work.

For the OLC colors, is it correct that you have suggested this new palette
using the background image as the basis?

Is it possible instead for you to EITHER:

- use the CURRENT live site background image from OLC and base the updated
palette on that?

OR

- suggest a final updated palette starting from the current live site
palette, then afterwards we

[2020-05-13 13:59] jedm commented on #1096
@SamCCSI is correct, both about the sort order specified and the display of
all documents in the no-search-term/all-documents condition.

Can YI please investigate? (Feel free to share a grid of display rules for
different states if it is helpful to ensure we have provided the necessary
and correct specifications in each case.)

Thank you very much.

On Wed, May 13, 2020 at 8:42 AM SamCCSI <notifi

[2020-05-14 04:11] nirvanalama commented on #1282
@jedm @charlesyoung @SamCCSI

**For the OLC colors, is it correct that you have suggested this new palette
using the background image as the basis?**
- No, the background image does not determine the color palette. The colors have been taken from RC and the primary color has been replaced. As I said "the color pallete colors contrasts well both with the primary color of RC and OLC"

**use the CURR

[2020-05-14 04:39] jedm commented on #1282
Hi @nirvanalama. No, it is not necessary for there to be “color agreement“
between OLC and RC.

On Thu, May 14, 2020 at 12:11 AM Nirvana Lama <notifications@github.com>
wrote:

--
Jed Miller | @jedmiller <http://twitter.com/jedmiller>
m +1.917.584.2349 | s @jedbmiller
www.jedmiller.com

[2020-05-14 05:25] man-git007 commented on #1096
@charlesyoung @SamCCSI @jedm The problem was API hadn't been deployed in production, therefore not showing the changes. It has been deployed

Just to be clear about this sorting issue, these are the information about the sorting

1. The sorting is done via `year` and in `descending` order
2. The sorting in [`RC group`](https://resourcecontracts.org/search/group?q=) and [`OLC group`](https://www.op

[2020-05-14 07:42] charlesyoung commented on #1096
Thanks @man-git007

Can you please check if the updates have had a negative effect on the page speed.

It now takes on average 30 seconds to move from 1 to another search results page on RC which is very slow. OLC doesn't seem affected.

[2020-05-14 11:07] man-git007 commented on #1096
@charlesyoung Yes, this feature has affected the page speed. We need to work on it. I suggest creating a new issue for it.

cc @anjesh

[2020-05-14 11:27] charlesyoung commented on #1096
We already have a page speed ticket, that was closed, but will need to be reopened. We cannot expect the user to wait 30 sec to move to the next page.

https://github.com/NRGI/resourcecontracts.org/issues/1284

[2020-05-14 12:38] SamCCSI commented on #1096
@man-git007 confirming that the search display works really nicely now (on OLC).

[2020-05-14 14:50] SamCCSI commented on #1096
Just had a 504 Gateway Time-out on OLC

[2020-05-15 10:00] nirvanalama commented on #1282
@jedm @charlesyoung @SamCCSI  Here is the final design with revised color palette.
https://www.figma.com/file/OK1BSOpfKTokEoBZYQCXss/RC__UI_v2?node-id=159%3A2

[2020-05-15 13:04] jedm commented on #1282
Thanks, @nirvanalama. We will send the final "thumbs-up" by Monday. Hope
you have a nice weekend.

On Fri, May 15, 2020 at 6:00 AM Nirvana Lama <notifications@github.com>
wrote:

--
Jed Miller | @jedmiller <http://twitter.com/jedmiller>
m +1.917.584.2349 | s @jedbmiller
www.jedmiller.com

[2020-05-15 22:34] SamCCSI commented on #1055
I just edited the text of the arbritation annotation for this contract in the contract annotation view. It said it saved, but the changes didn't appear. Included after I hit refresh. @man-git007 could you please take a look?
![image](https://user-images.githubusercontent.com/12913915/82101521-b4e27b80-96da-11ea-9eca-928711efe2f9.png)

[2020-05-19 04:21] nirvanalama commented on #1282
Thank you @jedm Looking forward to it.

[2020-05-19 06:44] charlesyoung commented on #1271
@MichaelCCSI can we close this ticket?

[2020-05-19 09:33] charlesyoung commented on #1096
@man-git007 have you had time to look at the page speed issue?

cc @anjesh

[2020-05-19 09:36] charlesyoung commented on #1289
@anjesh just checking if you have started working on this ticket. If not then when will you start with the development?

[2020-05-19 16:44] MichaelCCSI commented on #1271
@charlesyoung Yes, the ticket can be closed. Thank you.

[2020-05-19 16:46] #1271 closed

[2020-05-20 08:05] charlesyoung commented on #1096
Gents we noted the speed issue a week ago and have had no feedback on this ticket. We need to improve communication.

@anjesh @man-git007

[2020-05-20 08:06] charlesyoung commented on #1282
@jedm are you happy with the proposed designs?

[2020-05-20 08:07] charlesyoung commented on #1249
@anjesh please create a country site for the Ivory Coast. We will need a reusable background image like below.

![Ivory Coast home page image](https://user-images.githubusercontent.com/13888372/82421165-ee233e80-9a80-11ea-96d0-945d29a33f6b.jpg)

https://www.levinsources.com/knowledge-centre/insights/lsm-approaches-to-managing-artisanal-and-small-scale-mining-time-for-proactive-engagement

[2020-05-20 12:34] charlesyoung commented on #1199
@SamCCSI can we close this ticket. Works from my side.

BTW the favicon can be updated from the OLC admin site.

![image](https://user-images.githubusercontent.com/13888372/82446413-e5ddfa00-9aa6-11ea-9a0e-55923c9a351f.png)

[2020-05-20 12:35] SamCCSI commented on #1199
working, thanks

[2020-05-20 12:35] #1199 closed

[2020-05-20 12:40] #1095 closed

[2020-05-20 12:41] #1022 closed

[2020-05-20 12:41] #1074 closed

[2020-05-20 12:41] #1072 closed

[2020-05-20 12:42] #1065 closed

[2020-05-20 12:42] charlesyoung commented on #1067
@SamCCSI can this ticket be closed?

[2020-05-20 13:32] jedm commented on #1282
@nirvanalama, for OLC, **we choose #2!**

Here are some last questions as you prepare for implementation on staging.

1. I posted a comment in Figma about the correct OLC "primary color." I believe it is #336633 and not #339933. This darker color (336633) is better for the homepage boxes (even if you have to make a last change to the other green color). (See attached)

2. Please remove the second

[2020-05-20 13:41] #1067 closed

[2020-05-21 07:22] anjesh commented on #1096
Apologies @charlesyoung yes we have been looking into this. The code still needs more refactoring, we have communicated before that there will be some lag but we didn't know about the lag until full implementation. In OLC, the lag doesn't feel much unlike RC. We are looking for ways to improve the data processing part rather than the ES - which will get more complicated. We chose the simple way, t

[2020-05-21 12:20] charlesyoung opened #1292 "Notifications"
@anjesh for some reason the email notifications I used to received reminding me that I can publish uploaded docs, after ABBYY was run, has stopped working.

[2020-05-22 07:30] adinuca opened #1293 "New Papertrail error - 'array_key_exists(): The first argument should be either a string or an integer'"
## Why
New error in the logs.

## What
- [ ] Cause of the error logs is found
- [ ] The issue is fixed
## Notes
[code]

[2020-05-22 07:32] adinuca commented on #1293
Hi @charlesyoung, this error started occurring on the 19th. Could YIPL have a look?

[2020-05-22 08:42] nirvanalama commented on #1282
@jedm I have updated the design https://www.figma.com/file/OK1BSOpfKTokEoBZYQCXss/RC__UI_v2?node-id=224%3A0
See (artboard 3 )on figma.
Here are few points:
1. The primary color [#336633]  in the old OLC design doesn't stand out, so earlier we made vibrant.

2. Can you see the bright orange of RC and how it contrasts and stands out from the other colors? That was the reason behind changing the prim

[2020-05-22 11:53] charlesyoung commented on #1096
@anjesh please remember that the grouping functionality will need to be rolled out to all the RC country sites when ready.

[2020-05-22 11:55] jedm commented on #1282
Dear @nirvanalama,

Thank you for these. Personally I do not like having two greens in the four
boxes, but I will see if it is ok for CCSI.

Also, CCSI seeks to include their logo somewhere in the top of homepage.
Can you think of a logical place for this (my apologies that I forgot this
request in the previous list!).

We are eager to move forward too so thank you again for your patience.

Jed

O

[2020-05-22 16:52] charlesyoung commented on #1096
I noticed an issue today.

Take a look at this [contract](https://www.resourcecontracts.org/search/group?q=IMD+-+Convention+Annulee%2C+International+Mining+Development%2C+Lissa+Mining%2C+Concession%2C+2010). It notes that 'View 1 other document(s) associated with ...' but from what I can see this contract is the same as the main document.

![image](https://user-images.githubusercontent.com/1388837

[2020-05-22 17:08] SamCCSI commented on #1096
Agree - looks like a bug, as there is no associated doc.

On Fri, May 22, 2020 at 12:53 PM Charles Young <notifications@github.com>
wrote:

[2020-05-25 09:37] charlesyoung commented on #1282
@jedm can we start developing the RC home page while we finialize the OLC design? I'm keen to get this done as soon as possible.

cc @SamCCSI @anjesh @nirvanalama

[2020-05-26 05:43] nirvanalama commented on #1282
@jedm We have proposed another color palette as well. Also, can you explain more on not approving of the option so that we can come up with a better solution?

https://www.figma.com/file/OK1BSOpfKTokEoBZYQCXss/RC__UI_v2?node-id=224%3A0

**CCSI logo**
We can put the logo at the top but I wanted to know the purpose of including the logo at the top. Is it for both RC and OLC?

@charlesyoung I agree w

[2020-05-26 07:26] charlesyoung commented on #1282
Thanks @nirvanalama

Please start developing the RC home page.

[2020-05-26 11:37] jedm commented on #1282
@nirvanalama Are you referring to the option with the green, blue, black,
gold? That is the only other one I see. I prefer that one and I am waiting
for a last “OK” from CCSI.

The logo would be the logo of CCSI and it would only be for OLC.

On Tue, May 26, 2020 at 1:43 AM Nirvana Lama <notifications@github.com>
wrote:

--
Jed Miller | @jedmiller <http://twitter.com/jedmiller>
m +1.917.584.2349 |

[2020-05-26 15:55] SamCCSI commented on #1282
@jedm @nirvanalama some feedback from a friend who is a designer:
- the contrast ratio of text-background is nowhere near accessible WCAG standards. For the 4 boxes as well as the subtitles and search box. I would be bumping the font weight up of all the really thin text. Its hard to read thin light text on dark background, and it’s even harder on older / cheaper computers/screens (that I imagine

[2020-05-26 15:57] SamCCSI commented on #1282
@nirvanalama

This is for OLC only.

[2020-05-28 04:09] nirvanalama commented on #1282
@SamCCSI Thank you. The feedback was very helpful, working on it. We use adobe colors and also https://coolors.co/ for generating the color palettes.

@charlesyoung We've talked with the team, the development team will follow up on that. Thanks!

[2020-05-28 08:02] bizaybsnt commented on #1055
Hi @SamCCSI,
We have fixed the issue and deployed it in the staging. Would you please check if it is working on the staging site?
Thanks.
cc: @man-git007 @anjesh

[2020-05-28 13:23] SamCCSI commented on #1055
working, thanks @bizaybsnt. Please deploy

[2020-05-29 10:01] charlesyoung commented on #1096
Another bug. There are no documents for this search criteria although its shows 1.

![image](https://user-images.githubusercontent.com/13888372/83247495-e744ac00-a1a3-11ea-9c2d-f21057bd6c5e.png)

[2020-05-29 10:08] charlesyoung commented on #1096
@anjesh can you please provide an update on the outstanding tasks of the doc grouping functionality.

[2020-05-29 10:09] charlesyoung commented on #1249
@anjesh can you pls give me a timeframe on completing this ticket.

[2020-05-29 10:14] man-git007 commented on #1096
@charlesyoung We are working on this issue. The performance issue is still buggy. Since the elastic search should also be reindexed. We need to be sure it won't create a problem in the elastic search server of production. So this might take some time. We will update you on next week Wednesday.

cc @anjesh @bizaybsnt

[2020-06-01 06:14] nirvanalama commented on #1282
@SamCCSI
Here are the OLC design with few other color palettes. https://www.figma.com/file/OK1BSOpfKTokEoBZYQCXss/RC__UI_v2?node-id=271%3A0I

understand the background image needs to complement the colors in the homepage but the background picture could change in the future so we need to select a picture according to the brand colors and not the other way. I have worked on the contrast and the fon

[2020-06-01 12:14] SamCCSI commented on #1282
Thanks @nirvanalama -- I can only see one RC mock up -- is there a different link for OLC?

[2020-06-01 12:56] jedm commented on #1282
@nirvanalama I am having the same problem. It is working on my phone, but
on laptop I can only see one mockup for RC.

On Mon, Jun 1, 2020 at 8:14 AM SamCCSI <notifications@github.com> wrote:

--
Jed Miller | @jedmiller <http://twitter.com/jedmiller>
m +1.917.584.2349 | s @jedbmiller
www.jedmiller.com

[2020-06-02 06:26] nirvanalama commented on #1282
@SamCCSI @jedm Apologies. I'm not sure what happened. https://www.figma.com/file/OK1BSOpfKTokEoBZYQCXss/RC__UI_v2?node-id=271%3A0 This should work, do you see the pages list on the left side, it is under (Version 8)

[2020-06-02 08:49] jedm commented on #1282
@nirvanalama I do not see the pages list on left side (this is one of the weird things about Figma - it shows each user something different based on role/access - I think!).

But I see these 4 samples. Are these the newest?

@SamCCSI I like 2 or 3 the best. (I would also prefer if the background image was less dark/more transparent, but CCSI should make the final decision - I do not think Nirvana'

[2020-06-02 08:51] jedm commented on #1282
@nirvanalama please can you also confirm the answers to these previous questions? (My apologies if these are repeats!)

[2020-06-02 09:20] nirvanalama commented on #1282
@jedm
1. Which of these text blocks can we edit ourselves later?
**- Are you talking about the four text boxes? I need to ask the development team about that.**

2. Is it possible to make the CONTRACT TERMS EXPLAINED box 10 or 20% transparent?
**- 10-20% is very little opacity. It would look like this**
<img width="452" alt="Screen Shot 2020-06-02 at 15 01 46" src="https://user-images.githubuserco

[2020-06-02 12:05] jedm commented on #1282
@nirvanalama thank you for the quick answers. See below:

team about that.*

No I am asking about all of the text areas above the four boxes. Which of
these “blocks” can be edited by CCSI? (And would be good to know about the
four boxes too! ;)

*> 10-20% is very little opacity. It would look like this*

I understand. I was asking about 10-20% transparency - or 80-90% opacity.

Thanks also for the

[2020-06-02 12:43] SamCCSI commented on #1282
Thanks @nirvanalama

For numbers 2 and 3, Could you please remove (or substantially lessen) the dark filter on the background image, so that it becomes as bright as it was before? (I get why you made it darker - to help make the text more readable - but we prefer it to be bright.)

[2020-06-03 05:13] nirvanalama commented on #1282
- Box transparency
@jedm The box has been made transparent by 80%

- Landing page overlay transparency
@SamCCSI Because the background image is very light and has lots of clouds, the text will have very low contrast as you pointed out on the previous comments, "the contrast ratio of text-background is nowhere near accessible"

For the text to contrast we can use a different background image, do yo

[2020-06-03 06:02] charlesyoung commented on #1096
@man-git007 any update?

cc @anjesh @bizaybsnt

[2020-06-03 06:57] jedm commented on #1282
Hi @nirvanalama:

Do you mean 80% opaque?

Jed

[2020-06-03 12:36] man-git007 commented on #1096
@charlesyoung We are working on it. We will deploy the changes in staging by tomorrow.

cc @anjesh @bizaybsnt

[2020-06-03 12:37] bizaybsnt commented on #1055
Deployed in production. Thanks :)

[2020-06-03 13:15] SamCCSI commented on #1055
Working nicely. Thanks @bizaybsnt

[2020-06-03 13:15] #1055 closed

[2020-06-03 19:55] SamCCSI commented on #1282
Thank you @nirvanalama

No 2 WITHOUT overlay looks great to me. (The text font is now heavier, so I'm happier with the overall accessibility. I also remember the same issue arising in 2015 and back then we also decided to remove the overlay.)

Also, "repository of" should be part of the previous line of text, so that it reads:

AN ONLINE REPOSITORY OF
**Open Land Contracts**

@jedm to confirm any

[2020-06-04 11:05] nirvanalama commented on #1282
@SamCCSI Thank you for your feedback. Can we confirm the designs for RC and OLC and start developing?

[2020-06-04 14:08] man-git007 commented on #1096
@charlesyoung We have deployed the changes in staging server. The staging elastic server(ES) also have been reindexed. We need to test it before sending it to the production server. There might be some issues as we have updated the ES index.

cc @anjesh @bizaybsnt

[2020-06-05 10:46] charlesyoung commented on #1096
Thanks @man-git007

What issues are you referring to?

How much time does it take to update the ES index? Will be great to copy the prod DB to staging to allow me to do a proper comparison.

[2020-06-05 11:08] jedm commented on #1282
@nirvanalama it is confirmed you can start to develop but please confirm an answer to the prior question:

* Of ALL THE TEXT on the homepage, which of these areas can be edited by CCSI? I think you were checking on this with the devs

@SamCCSI Is CCSI comfortable with the logo placement Nirvana has proposed?

[2020-06-05 13:43] man-git007 commented on #1096
@charlesyoung We have reindexed in [production](https://resourcecontracts.org/search/group?page=6) server as well and have deployed it. Could you please verify it. Regarding the reindexing, I think it has been properly indexed in production. If any indexing missing we can re-index that document.

cc @anjesh @bizaybsnt

[2020-06-05 13:47] charlesyoung commented on #1096
Thanks. What does 'If any indexing missing we can re-index that document' mean?

[2020-06-05 13:50] man-git007 commented on #1096
@charlesyoung We can reindex from the [admin](http://admin.resourcecontracts.org/home) side. But all contracts have been re-indexed.

[2020-06-05 14:43] SamCCSI commented on #1282
Given the time pressure, we're happy to proceed with the logo choice and placement where it is in the mock-up. If we decide to revisit it in the future we understand there could be additional costs associated.

[2020-06-05 14:45] jedm commented on #1282
Thanks @samccsi. So @nirvana the final request is to know about editability
of text elements.

On Fri, Jun 5, 2020 at 10:43 AM SamCCSI <notifications@github.com> wrote:

--
Jed Miller | @jedmiller <http://twitter.com/jedmiller>
m +1.917.584.2349 | s @jedbmiller
www.jedmiller.com

[2020-06-08 03:56] #1259 closed

[2020-06-08 04:10] nirvanalama commented on #1282
@jedm @SamCCSI Thank you so much. I will ask somebody from the development team to comment about "Editing text elements" Have a great day!

[2020-06-08 08:01] charlesyoung commented on #1096
Thanks @man-git007, seems much faster. @SamCCSI can you please check OLC.

Can you look at below issue that was noted before.

Take a look at this [contract](https://www.resourcecontracts.org/search/group?q=IMD+-+Convention+Annulee%2C+International+Mining+Development%2C+Lissa+Mining%2C+Concession%2C+2010). It notes that 'View 1 other document(s) associated with ...' but from what I can see this co

[2020-06-08 08:28] man-git007 commented on #1282
@jedm and @SamCCSI
In the current [staging homepage](https://staging.resourcecontracts.org/) we can edit these components in the below images:

![Screenshot from 2020-06-08 14-05-17](https://user-images.githubusercontent.com/23434972/84008807-115f5080-a992-11ea-979b-425c76e852c8.png)
![Screenshot from 2020-06-08 14-05-07](https://user-images.githubusercontent.com/23434972/84008813-13291400-a992-11

[2020-06-08 08:42] man-git007 commented on #1290
@charlesyoung We have started working on this ticket

[2020-06-08 09:13] jedm commented on #1282
Manish, is it possible to add edit function for the 2 text blocks under the
site title?

So, in addition to edit function for the “contract terms” box, add edit
function for:

“LEARN HOW GO GET STARTED...”
and
“Search and review ...” etc.

Thanks very much.

cc @anjesh

On Mon, Jun 8, 2020 at 4:28 AM Manish Pradhan <notifications@github.com>
wrote:

--
Jed Miller | @jedmiller <http://twitter.com/j

[2020-06-08 12:12] SamCCSI commented on #1096
Search and filter functionality, and even loading of home page, does seem much faster.

[2020-06-08 12:13] SamCCSI commented on #1096
@man-git007 please note that for OLC as page loads it starts with the red color scheme of RC for a split second then reverts to the green color scheme of OLC. It only started doing this this year. Can we avoid this happening for new home page? See screenshot

![image](https://user-images.githubusercontent.com/12913915/84029155-f1af3480-a95f-11ea-9097-b5618e37f8ec.png)

![image](https://user-images

[2020-06-09 05:44] man-git007 commented on #1290
@charlesyoung We have deployed this in [staging](https://staging.resourcecontracts.org/clip) server. Please verify it and if all OK we will deploy to live server.

[2020-06-09 05:55] man-git007 commented on #1289
@charlesyoung We are working on this ticket

[2020-06-09 06:40] charlesyoung commented on #1290
Thanks @man-git007

Couple points.
1. Please hyperlink the URL in the xls
![image](https://user-images.githubusercontent.com/13888372/84114216-43bd8c00-aa2c-11ea-9077-ef6e488252f0.png)
2. Not a crisis but can you make the xls column names bold
3. This is linked to #1289 I hope but will the annotation box be shown when opening a link in the URL?

[2020-06-09 06:45] charlesyoung commented on #1289
Thanks @man-git007

@anjesh can we however please first look at #1249 first?

[2020-06-09 06:46] charlesyoung opened #1296 "Change the “Annotation Category” search field name (RC only)"

[2020-06-09 06:47] charlesyoung opened #1297 "Create a Research and Analysis page"

[2020-06-09 08:17] charlesyoung commented on #1096
Another bug.

Clicking to move to the next page brings up the same page again (page 1) and not page 2.

https://www.resourcecontracts.org/search/group?q=&country%5B0%5D=CD&resource%5B0%5D=Hydrocarbons&page=1

[2020-06-09 11:58] man-git007 commented on #1290
@charlesyoung We have made the changes you suggested. Please verify. If all OK we will deploy it to production

[2020-06-09 12:04] man-git007 commented on #1096
@charlesyoung acknowledged the issues `View 1 other document(s) associated with ...` and `Clicking to move to the next page brings up the same page again (page 1) and not page 2.`. Working on it.

[2020-06-09 12:26] charlesyoung commented on #1290
Thanks. Just a small update please. Can you make the annotation text URL blue so that the user sees it as a standard hyperlink.

Also will #1289 deal will the annotation box shown when clicking on the annotation text URL?

[2020-06-09 12:47] SamCCSI commented on #1297
For RC only -- not for OLC.

[2020-06-10 03:38] man-git007 commented on #1290
@charlesyoung The update you provided have been implemented in staging. We are working on [#1289](https://github.com/NRGI/resourcecontracts.org/issues/1289) issue. For now, it will just link to the page.

[2020-06-10 05:25] man-git007 commented on #1105
@charlesyoung Could you please provide us the resources that fall under the mineral category.

[2020-06-10 06:14] man-git007 commented on #1096
@charlesyoung Both the bugs have been fixed and deployed in the staging server. Could you please verify it.

[2020-06-10 06:33] charlesyoung commented on #1096
Thanks @man-git007

Can I ask that you deploy straight on the Prod server. Its easier to retest the exact issues I noted on Prod.

[2020-06-10 07:01] charlesyoung commented on #1105
Thanks. Please note that this obviously only applies to RC and not OLC. Do we have separate resource lists for RC and OLC to allow for the separation?

So its basically all minerals in 1 group and then hydrocarbons in another group. I did however noticed that there are also gas contracts so I need to find out if that will be a separate group or included in the hydrocarbons group.

What will be the

[2020-06-10 07:02] charlesyoung commented on #1290
Thanks, looks good.

Lets keep this on staging until #1289 has also been completed so that I can test the whole process.

[2020-06-10 07:04] man-git007 commented on #1290
@charlesyoung Seems logical. We will update you as soon as we have completed the #1289 issue

cc @anjesh

[2020-06-10 07:06] man-git007 commented on #1096
@charlesyoung Deployed in the production server.

[2020-06-10 07:30] adinuca opened #1298 "Configure ivorycoast subsite"
## Why
RC will have a new subsite available - ivorycoast.

## What
- [x] New environment variables are set
- [x] Certificate for the new subsite exists and it is in use by the load balancer
- [x] Migrations are ran
## Notes

[2020-06-10 07:41] charlesyoung commented on #1096
Before I test can you please look at the sort order because its not ordering by date anymore.

The first contract shown for the DRC is for 2012 while there are many main contracts after 2012.

https://www.resourcecontracts.org/search/group?q=&country%5B0%5D=CD&page=1

[2020-06-10 07:44] man-git007 commented on #1105
@charlesyoung The resource list is the same for both RC and OLC. We can show the categorized resources in RC and not in OLC. As for the resource list, I have attached the excel file. For the addition of new resources, we need to update it in the codebase itself.

[Resource List.xlsx](https://github.com/NRGI/resourcecontracts.org/files/4756942/Resource.List.xlsx)

[2020-06-10 09:04] charlesyoung commented on #1105
Thanks. Do I need to add a column to the xls noting if relevant or not and if then the grouping?

[2020-06-10 09:06] man-git007 commented on #1096
@charlesyoung The sorting issue has been resolved.

[2020-06-10 09:35] man-git007 commented on #1105
@charlesyoung Yes, could you please categorize these resources.

[2020-06-10 09:47] man-git007 commented on #1270
@jedm Have implemented the versioning of the pages in the [staging site](https://staging.resourcecontracts.org/admin). Please go through it.

cc @anjesh @charlesyoung

[2020-06-10 10:22] charlesyoung commented on #1096
Thanks @man-git007

Can the grouping functionality be implemented on the RC country subsites? We can use some of the remaining support time for this if required.

@adinuca do you still have the DRC server login details?

[2020-06-10 10:34] charlesyoung commented on #1105
OK. Just so that we agree is the following envisaged.

The resource list will lead with “Hydrocarbons” and  “Minerals”. This will be followed by a break line that will then list all the resources in alphabetical order.

[2020-06-10 11:00] adinuca commented on #1096
@charlesyoung , I can login to https://www.mines-rdc.cd/resourcecontracts/admin with my own user ( the one for resourcecontracts.org).
![Screenshot 2020-06-10 at 13 59 39](https://user-images.githubusercontent.com/3942821/84260399-a5f8b880-ab22-11ea-8f29-d8626559c0e2.png)

[2020-06-11 07:22] man-git007 commented on #1096
@charlesyoung `View 1 other document(s) associated with...` is a feature in which the if the search criteria do not fulfill the child contracts, then its shown right? Correct me if I am wrong or am I missing something.
Here in this [search](https://www.resourcecontracts.org/search/group?q=&country%5B%5D=CD&company_name%5B%5D=Highwind+Properties+Limited&company_name%5B%5D=Highwind+Properties+Ltd.)

[2020-06-11 07:42] charlesyoung commented on #1096
But these 2 docs are the same. Should we not rather be opening the Kingamyambo Highwind Properties, JVA, [2010](https://www.resourcecontracts.org/contract/ocds-591adf-3414770385/view#/) document when clicking on '1 other doc' than the main contract? This is of course an issue if there are more than 1 docs. I just don't think its intuitive enough for the user to realize what we are trying to show.

[2020-06-11 10:52] anjesh commented on #1096
@charlesyoung i suggest to create new issue to deal with the country sites (design as well document grouping). We might still need some fixes in the API to make this work with the country-sites. Since our initial discussion were mostly revolved around RC and OLC, we didn't take country sites into consideration in our effort. Lets roll out and finalize this issue for RC and OLC, country sites to be

[2020-06-11 10:54] anjesh opened #1299 "Updates to country sites as per new design/document grouping structure"
- [ ] finalize the country site design
- [ ] fix the document grouping API for country sites
- [ ] recent documents API is updated for country sites
- [ ] deploy the changes

[2020-06-11 10:56] anjesh commented on #1249
I think we should treat "Recent Documents" and doc grouping feature in a separate issue as mentioned https://github.com/NRGI/resourcecontracts.org/issues/1096#issuecomment-642568233. We will need these changes in other country sites as well. We might need to do some thinking/minor updates on country sites design as well.

[2020-06-11 12:31] SamCCSI commented on #1096
From my review, they aren't the same document @charlesyoung . Here are the two document URLs. So the "View 1 more doc" link is appropriate here?

https://www.resourcecontracts.org/contract/ocds-591adf-2695341953/view#/
https://www.resourcecontracts.org/contract/ocds-591adf-3414770385/view#/

[2020-06-11 12:34] charlesyoung commented on #1096
You are right the docs aren't the same but do you think its intuitive enough for the user. The 'View 1 other doc...' link opens the same doc and lists the additional doc as an associated doc. Just checking.

[2020-06-11 12:56] charlesyoung commented on #1096
@man-git007 scrap above 'View 1 other document(s) associated with...' comment. You are correct in the way you describe the feature.

@SamCCSI @jedm can we close this ticket?

[2020-06-11 13:02] charlesyoung commented on #1096
After 169 comments this ticket is closed.

[2020-06-11 15:10] anjesh commented on #1282
@jedm it's possible but we will need to make changes in the database, sub-site backend and frontend templates and would be around 0.75 day of extra effort.

[2020-06-11 15:47] jedm commented on #1282
Thanks, @anjesh. If we decline to add this function, do you mind providing
an estimate for the time to make futuer text changes "manually" with a
GitHub request?

Thank you very much.

Jed

On Thu, Jun 11, 2020 at 11:10 AM Anjesh <notifications@github.com> wrote:

--
Jed Miller | @jedmiller <http://twitter.com/jedmiller>
m +1.917.584.2349 | s @jedbmiller
www.jedmiller.com

[2020-06-12 04:28] anjesh commented on #1282
Hi @jedm if the text are finalized before we start the work, then not a problem. But if we are to do changes after the deployment, then that would be around 2-3 hours for communication, making changes, deployment and testing.

[2020-06-12 04:50] jedm commented on #1282
Understood. I think it is better to spend the money for those few hours
later and if necessary, in that case, rather than to invest in more hours
now for new edit powers. @SamCCSI do you agree?

On Fri, Jun 12, 2020 at 12:28 AM Anjesh <notifications@github.com> wrote:

--
Jed Miller | @jedmiller <http://twitter.com/jedmiller>
m +1.917.584.2349 | s @jedbmiller
www.jedmiller.com

[2020-06-12 09:00] charlesyoung commented on #1249
Thanks @man-git007

I've added the French language support? Which favicon should be used?

[2020-06-12 09:17] charlesyoung commented on #1243
@jedm any updates on this ticket?

cc @anjesh @SamCCSI

[2020-06-12 11:14] adinuca commented on #1298
This has been done for staging, for production we will have to raise another issue.

[2020-06-12 11:14] #1298 closed

[2020-06-12 11:20] charlesyoung commented on #1105
@man-git007 please see list attached.

Couple of points.
- Can you please run a query and check that all the currently recorded resources in RC are noted in the xls. I noticed that 'Methane' and 'Other Minerals' were missing but we need to confirm that there aren't more.
- Both OLC and RC uses 'Not Specified'. What do we do in this case?

[Resource grouping list.xlsx](https://github.com/NRGI/resou

[2020-06-12 15:14] jedm commented on #1243
Update coming early next week. Thank you everyone for your patience with
this.

On Fri, Jun 12, 2020 at 5:17 AM Charles Young <notifications@github.com>
wrote:

--
Jed Miller | @jedmiller <http://twitter.com/jedmiller>
m +1.917.584.2349 | s @jedbmiller
www.jedmiller.com

[2020-06-15 03:36] jedm commented on #1282
Dear @anjesh and @man-git007,

- I confirm that we will send final homepage text by end of Tuesday.

- Can YI please confirm the cost (or informed estimate) to add admin
editing to ALL text elements of homepage (ie, not just “TERMS EXPLAINED”
box)?

- Also, if we request this new editing control for homepage text elements,
will it slow down the work now beginning on homepage?

Thank you very much,

[2020-06-15 07:09] man-git007 commented on #1105
@charlesyoung I have crossed checked with the database. There are no other missing resources for RC besides Methane and Other Minerals.
As for the `Not Specified` I Suggest it be listed as separate in the resource list option at last.

Do we need to cross-check for OLC as well?

[2020-06-15 07:13] charlesyoung commented on #1105
Thanks @man-git007

I don't follow, what do you mean by listing Not Specified as separate in the resource list?

Yes please cross-check OLC because there seemed many missing resources from the list.

[2020-06-15 07:17] man-git007 commented on #1105
@charlesyoung I meant not grouped in the list like mineral.

[2020-06-15 07:29] charlesyoung commented on #1105
No it needs to be included in the minerals list.

Can we not run a query where if Resource = Not Specified and Category = ResourceContracts then add to the minerals group?

[2020-06-15 09:14] anjesh commented on #1282
Hi Jed,

When you say all TEXT, are these highlights sufficient? This might take around 2 days of work. Now we need to handle the text (if it gets long) so as not to affect the design. These need to be properly tested as well.

We could start with the current design with static text and get the home page deployed and later start working on the edit features, so that this doesn't hamper the deploym

[2020-06-15 10:09] jedm commented on #1282
Hi @anjesh can you clarify the difference in effort and time between the
.75 days you mentioned above and the 2 days you describe here? CCSI will
need to consult to confirm the expense.

Would also be good to know if NRGI likes the option to edit homepage text
and would be interested in sharing cost, @charlesyoung.

Even if we go ahead with this change in functionality, agree we should
deploy curr

[2020-06-15 15:13] anjesh commented on #1282
Hi Jed, sorry about the confusion. Later we realise that we need to ensure that design is kept intact despite the change (mostly increase) in text length. This will require further testing in responsive web (desktop and mobile). I would like to revise previous number to 1.25 days instead of 2, to be more inline with earlier 0.75 days. Again these are just estimates, we normally spend more time tha

[2020-06-16 07:48] man-git007 commented on #1096
@charlesyoung Is there a possibility of `parent contract` to be `unpublished` and its `associated contracts` to be `published`? If that's the case how should we show on the listing page?

[2020-06-16 12:49] charlesyoung commented on #1249
Please move to Prod. Only change is to add the IC favicon. Thanks

[2020-06-16 12:57] charlesyoung commented on #1096
Yes this could be the case but I think I resolved these issues for RC. @SamCCSI have these been addressed for OLC? @man-git007 can you run a query to check if there are still any of these issues?

[2020-06-18 08:29] man-git007 commented on #1096
@charlesyoung So in that case, we do not show the contract in the subsite and has to be re-indexed from admin. As for the contracts on the admin side. There are two contracts of id `109` and `3655` with such a case. Could you please verify those contracts?

[2020-06-18 08:50] charlesyoung commented on #1096
Thanks @man-git007

@SamCCSI can you please look at below main contract which needs to be published.

http://admin.resourcecontracts.org/contract/3655

[2020-06-18 08:57] man-git007 commented on #1270
@jedm and @charlesyoung

The **workflow** of the page version is like this.

1. Upon creating a new page, the version of that page is V0 by default.
2. When the user needs to create a new version of that page then the user needs to edit the page and save as a new version.
3. Users can edit delete the pages and its version as well.
4. Users cannot delete the page if that page is published in the li

[2020-06-18 10:58] man-git007 commented on #1249
@charlesyoung The site has been moved to [production](https://ivorycoast.resourcecontracts.org/) .
We will add the fav icon by tomorrow. The fav icon should have initials `IC` or `CI`

cc @anjesh @nirvanalama

[2020-06-18 12:12] charlesyoung commented on #1249
Thanks

Please make the fav icon IC

[2020-06-18 12:26] SamCCSI commented on #1096
Yes, we've changed all of these now, so the number should be zero.

Thanks, just re-published this one.

[2020-06-18 12:50] man-git007 commented on #1290
@charlesyoung We have implemented the changes and deployed in staging. Issue #1289  also have been incorporated. Could you please verify

cc @birendragurung

[2020-06-18 13:08] charlesyoung commented on #1290
OK great. Lets park this for now.

I'm chatting with @anjesh about adding more on this ticket.

[2020-06-19 03:47] man-git007 commented on #1105
@charlesyoung Is the excel sheet you have provided is final?

[2020-06-19 05:31] man-git007 commented on #1249
@charlesyoung Is this fav icon OK?

![Group 77](https://user-images.githubusercontent.com/23434972/85099846-41261800-b21e-11ea-8d05-a77b182aabbe.png)

[2020-06-19 07:43] charlesyoung commented on #1249
That's great thanks. I've uploaded the image.

[2020-06-19 07:45] charlesyoung commented on #1282
@anjesh just confirming that YI is working on the implementation and deployment of the home pages.

[2020-06-19 08:03] charlesyoung commented on #1105
Yes thanks, NA and blank means leave out.

Their is only 1 related hydrocarbon category.

The list is basically final so you can start working on the ticket.

Below is what we envisage.

![image](https://user-images.githubusercontent.com/13888372/85110987-00c19c80-b214-11ea-962b-16c5e69449ea.png)

[2020-06-19 10:49] jedm commented on #1282
@anjesh, for homepage text, as discussed, we’d like to make the following
small changes for the current (pre-admin-editing) text:

- in top right, change “GUIDES” to “USING THIS SITE”
- change heading “CONTRACT TERMS EXPLAINED” to “UNDERSTANDING CONTRACT
TERMS”

Also for “contract terms” carousel, please confirm if:

- it is a carousel and the user advances to next slide (term) by clicking
manuall

[2020-06-22 10:20] #1264 closed

[2020-06-22 10:23] charlesyoung commented on #1282
@jed I can check but I'm not sure that NRGI will have funds for this.

@anjesh will there be any hours left from the buffer funds once S24 is totally done?

[2020-06-23 05:45] adinuca opened #1300 "Exception in logs: Undefined property: stdClass::$result_total"
## Why
This error has started appearing in the logs for OLC on the 20th of June.

## What
- [ ] Cause of the errors is determined and fixed.

## Notes
This reproduces when trying to view the last page of results for some searches:
- first page works: https://guinea.resourcecontracts.org/search/group?order=desc&sortby=resource
- last page crashes: https://guinea.resourcecontracts.org/search/group?o

[2020-06-23 05:47] adinuca commented on #1300
Hi @charlesyoung , could YIPL have a look at this? It is a recent error.

[2020-06-23 07:43] man-git007 commented on #1282
@jedm and @charlesyoung We have deployed the new design in the staging server. Could you all please verify. As for the carousel, it is autoplay. We have also added the feature to edit components ko homepage. For your assistance, I have attached some screenshots of the admin side.

![Screenshot from 2020-06-23 12-12-10](https://user-images.githubusercontent.com/23434972/85374983-57511280-b555-11ea-

[2020-06-23 08:35] charlesyoung commented on #1282
Thanks @man-git007

Some comments / questions.
- Extend the sky from the background image to cover the top white space
![image](https://user-images.githubusercontent.com/13888372/85377004-c3714d80-b538-11ea-8e00-99480dd6f4db.png)
- Add the RC title to the top left
![image](https://user-images.githubusercontent.com/13888372/85377608-a0936900-b539-11ea-8a5e-5b8b4941dee6.png)
- I still feel that the

[2020-06-24 06:25] charlesyoung commented on #1282
@SamCCSI @jedm any comments on the home page?

[2020-06-25 06:31] charlesyoung commented on #1282
@man-git007

I want to move things on for the RC home page. Can you please apply these changes **ONLY** to RC.

- Extend the sky from the background image to cover the top white space (same as the current RC home page)
- Add the RC title to the top left (same as the current RC home page)
- Make the blue space around the world map the same distance between bottom and top as the current RC home page

[2020-06-26 10:18] charlesyoung commented on #1270
@man-git007 I don't see the 'Add New page' button.

![image](https://user-images.githubusercontent.com/13888372/85847042-13554c00-b7a7-11ea-817e-dc4fae98f65d.png)

[2020-06-26 10:23] man-git007 commented on #1270
@charlesyoung The `Add New Page` button is there.

![Screenshot from 2020-06-26 16-07-55](https://user-images.githubusercontent.com/23434972/85847528-427bb580-b7c7-11ea-808e-3f437d81a397.png)

[2020-06-26 10:24] charlesyoung commented on #1282
@jedm we could possibly be interested in sharing the cost to expand the homepage edit options. What exactly will be added?

[2020-06-26 10:26] charlesyoung commented on #1270
Not for me. Same issue using Incognito.

![image](https://user-images.githubusercontent.com/13888372/85847637-0dac3600-b7a8-11ea-829e-365300980e2d.png)

[2020-06-26 10:27] man-git007 commented on #1282
@charlesyoung We have implemented the changes you had suggested. The changes are

1. Extend the sky from the background image to cover the top white space (same as the current RC home page)
2. Add the RC title to the top left (same as the current RC home page)
3. Make the blue space around the world map the same distance between bottom and top as the current RC home page
4. Reduce the size of the

[2020-06-26 10:30] man-git007 commented on #1270
@charlesyoung Might be the issue of browser. Could you please send us the browser version.

[2020-06-26 10:32] charlesyoung commented on #1270
Not sure if its a browser issue. I'm using Chrome version 83.0.4103.116 (64-bit).

[2020-06-26 10:39] man-git007 commented on #1270
@charlesyoung The `Add New Page` button is shown to admin user only.

[2020-06-26 10:40] charlesyoung commented on #1270
I am an administrator

![image](https://user-images.githubusercontent.com/13888372/85848884-40572e00-b7aa-11ea-9078-20e3f3764d39.png)

[2020-06-26 10:49] charlesyoung commented on #1282
Many thanks. I will get back to you on Monday.

Some of the map parts are cut off. I feel that we are still wasting too much space compared to the current site but let me first get comments form @SamCCSI and @jedm before you apply updates.

![image](https://user-images.githubusercontent.com/13888372/85848613-be670500-b7a9-11ea-8a40-9bada480099f.png)

![image](https://user-images.githubusercontent.

[2020-06-26 20:19] SamCCSI commented on #1282
Having corresponded with @jedm and @charlesyoung , here are our agreed upon requests / reactions for @nirvanalama and YI team. Very exciting to see it on staging!

- Site feels too zoomed in. Rather than seeing only the below, it would be nice for the user to see at least part of the colored boxes below. Please adjust the page design and code so that page loads with a layout much closer to the amo

[2020-06-29 08:17] man-git007 commented on #1282
@SamCCSI Thank you for feedback, we will work on it asap. I have some questions regarding the 1st and 2nd comments. In the first comment, are you, saying that the page should show some part of the boxes? Are you suggesting to make font size small in 2nd comment?
After we have clarity on these two comments, we will make changes in design and share it with you all.

cc @charlesyoung @jedm @anjesh @n

[2020-06-29 08:53] charlesyoung commented on #1282
@man-git007 can you please in the meantime look at why we cannot see the ‘Add new page’ link. Thanks

[2020-06-29 12:10] jedm commented on #1282
Dear @manishgs - Thank you for these questions, I can answer them.

No, it is a more overall question about the scale of the page view. It loads too large in most browsers. (This what we mean by "zoomed in" vs. "zoomed out.") Can you change the coding or layout so that when user first loads the page they see more of the page and the proportions are more like the comp design (this will also allow t

[2020-06-30 05:53] man-git007 commented on #1282
@charlesyoung The `Add New Page` link should be there now. Could you please verify?

[2020-06-30 06:46] charlesyoung commented on #1282
Thanks @man-git007

I can now add a new page but I don't see it in the page footer. I also get a 404 error when clicking on the View Page link.

![image](https://user-images.githubusercontent.com/13888372/86092656-1d7c9080-baae-11ea-8ebb-5b1618950863.png)

[2020-06-30 06:56] man-git007 commented on #1282
@charlesyoung We need to preset these routes in code itself. Can you provide us the new pages list? Also, it would be better to discuss this in #1270 issue

[2020-06-30 07:02] charlesyoung commented on #1270
From @man-git007
@charlesyoung We need to preset these routes in code itself. Can you provide us the new pages list?

[2020-06-30 07:03] charlesyoung commented on #1270
I don't understand. Do you still have to update the code for new pages so its not a dynamic process.

[2020-06-30 07:08] man-git007 commented on #1270
@charlesyoung No, we don't need to update the code for the new pages but need to point the page to a specific route. Like https://staging.resourcecontracts.org/research-and-analysis, the  `research-and-analysis` needs to be pointed to research and analysis page

[2020-06-30 07:14] charlesyoung commented on #1270
OK

I however get a 404 error when clicking https://staging.resourcecontracts.org/research-and-analysis

I'm assuming that the new page should be added to the footer without the route.

[2020-06-30 07:26] adinuca opened #1301 "Elasticsearch version reached EOL"
## Why
We received an email from Elastic cloud informing us that the version of ES that we are using has reached end of life and needs to be upgraded.

## What
- [x] Risks corresponding to the upgrade are identified (YI)
- [x] Code changes required for the upgrade are identified (YI)
- [x] Upgrade is scheduled
- [x] Code changes are tested against an upgraded ES deployment
- [x] Changes are moved

[2020-06-30 07:31] charlesyoung commented on #1301
Thanks @adinuca

@anjesh what is the impact for RC and OLC?

[2020-06-30 07:35] adinuca opened #1302 "Abby pages expire on the 30th of July"
## Why
We buy a small package of 100 pages for ABBYY to extend the validity of the existing pages (6677) from the previous package.

## What
- [ ] Dev is reminded on the 29th of July to buy a 9.99 package for ABBYY
## Notes
![Screenshot 2020-06-30 at 10.34.40.png](https://images.zenhubusercontent.com/59816b15f8b79f8376e1a068/188fe506-d8a5-4346-a2ef-cca2f78287a9)

[2020-07-02 13:46] charlesyoung opened #1303 "Publishing crash"
@anjesh has anything changed at the backend. I get below error now when I want to publish new contracts.

Is this related to #1301?

![image](https://user-images.githubusercontent.com/13888372/86366291-e5767880-bc7a-11ea-8eac-1f7c054bbe91.png)

[2020-07-02 17:18] charlesyoung commented on #1303
Could it be a file size issue. I can publish smaller docs but this one is 90 MB.

https://drive.google.com/file/d/1FEjMyW5UZMXdWXQ3MEch5iIab_3tRo5x/view?usp=sharing

[2020-07-03 05:48] charlesyoung commented on #1282
@man-git007 just checking the status of this ticket.

[2020-07-03 05:48] charlesyoung commented on #1270
@man-git007 just checking the status of this ticket.

[2020-07-03 07:55] man-git007 commented on #1282
@charlesyoung @SamCCSI @jedm Hello all, we have implemented changes you all have provided. Please go through the staging sites [rc](https://staging.resourcecontracts.org/) and [olc](https://staging.openlandcontracts.org/). If anything missing or confusion please let us know.

cc @sweta-shrestha @nirvanalama

[2020-07-03 08:03] charlesyoung commented on #1282
Thanks @man-git007 I will wait for feedback from @SamCCSI and @jedm

Can I ask if you can clarify that below text has been predefined as uppercase, sensitive case, etc?

![image](https://user-images.githubusercontent.com/13888372/86446366-25d60500-bd14-11ea-85e3-b45dceb93af0.png)

Also I can only see the changes in an Incognito window. Have tried a hard refresh but that doesn't work.

[2020-07-03 08:11] man-git007 commented on #1282
@charlesyoung No, the text hasn't been predefined. Also, the changes from the admin side seem working in a normal window as well.

[2020-07-03 08:17] man-git007 commented on #1270
@charlesyoung I am confused with the comment `I'm assuming that the new page should be added to the footer without the route.`
Are you suggesting to add `research-and-analysis` link in the footer as well? As for the new page, we can add/create a new page from the admin side but need to manually add the route `https://staging.resourcecontracts.org/research-and-analysis` in the code. Therefore, if t

[2020-07-03 08:43] charlesyoung commented on #1270
Surely the 'Add new page' function should add the new page text i.e. Research & Analysis to the footer otherwise whats the point. I understand that the route needs to be added manually.

[2020-07-03 10:01] charlesyoung commented on #1282
Thanks. This is what I see in a 'normal window'.

![image](https://user-images.githubusercontent.com/13888372/86455168-83704e80-bd20-11ea-90eb-b6d30c64addf.png)

[2020-07-03 13:29] charlesyoung commented on #1282
Something small but I don't see the moving on when the text changes.

![image](https://user-images.githubusercontent.com/13888372/86473815-e6bea880-bd41-11ea-8143-6891b689f8d5.png)

[2020-07-06 09:18] #1255 closed

[2020-07-06 09:38] charlesyoung commented on #1301
@anjesh can you please contact @candrei to get the ES Cloud details.

Can you also review the code base to check the impact of the update.

[2020-07-06 09:45] man-git007 commented on #1282
@charlesyoung We have fixed the issues you have mentioned. If all good are we good to deploy to live site?.

cc @SamCCSI @jedm @anjesh @sweta-shrestha @nirvanalama

[2020-07-06 09:56] charlesyoung commented on #1282
Thanks @man-git007

@SamCCSI will post any related updates.

Do you know why I don't see the updated site through a normal Chrome view? I can only see the updates on an Incognito window.

[2020-07-06 11:05] jedm commented on #1282
Hi all. @SamCCSI and @charlesyoung do we want it to say "EXPLORE CONTRACTS BY COUNTRIES" (plural) or "EXPLORE CONTRACTS BY COUNTRY" (singular)?

Also, @man-git007 - is the visual balance of fonts and font sizes and how much of the page is visible now in its final state?

[2020-07-06 11:13] charlesyoung commented on #1282
Thanks @jedm

We can change this text from the admin tool. I have changed RC to say "EXPLORE CONTRACTS BY COUNTRY"

[2020-07-06 11:22] jedm commented on #1282
Thanks Charles. @samccsi is OPENLAND CONTRACTS in upper corner the correct
color?

On Mon, Jul 6, 2020 at 7:14 AM Charles Young <notifications@github.com>
wrote:

--
Jed Miller | @jedmiller <http://twitter.com/jedmiller>
m +1.917.584.2349 | s @jedbmiller
www.jedmiller.com

[2020-07-06 11:38] man-git007 commented on #1282
@charlesyoung Might be due to browser caching?
@jedm Yes the overall design is in its final stage

cc @sweta-shrestha @nirvanalama

[2020-07-06 13:51] SamCCSI commented on #1282
Final comments / requests:
- Change "EXPLORE CONTRACTS BY COUNTRIES" (plural) to "EXPLORE CONTRACTS BY COUNTRY" (singular)?
- Remove the below View link from the “Understanding contract terms” field. It is not necessary as the text is obviously hyperlinked. But please retain the View links on the 4 below boxes.
![image](https://user-images.githubusercontent.com/12913915/86600546-2ff34000-bf6e-11ea

[2020-07-06 13:53] SamCCSI commented on #1282
Yes it is ok -- black on home page and then green on subsequent search pages

[2020-07-06 14:07] charlesyoung commented on #1282
I've updated the map text

![image](https://user-images.githubusercontent.com/13888372/86602294-be81b480-bfa2-11ea-96d0-9153f16bffdd.png)

[2020-07-06 14:09] charlesyoung commented on #1282
So its just removing the View link as noted above.

[2020-07-07 04:19] man-git007 commented on #1282
@charlesyoung @SamCCSI @jedm After removing the `View` link. We will deploy to the live server.

[2020-07-07 06:46] charlesyoung commented on #1282
@man-git007 please dont deploy yet.

[2020-07-07 06:50] charlesyoung commented on #1282
I first want to work out which 3 links need to be added to the revolving window.

[2020-07-07 08:18] charlesyoung opened #1304 "Add predefined text to the “Clause Summary” column for tagged contracts"
Predefined text needs to be inserted to the “Clause Summary” column when contracts have been tagged and not annotated because tagging doesn’t capture the clause summary information. The text needs to be added on the Clipping page as well as to the spreadsheet export. The predefined text is “Clause summaries have not been prepared for this document”.

[2020-07-07 08:19] charlesyoung opened #1305 "Design and implement a Research and Analysis page"
Details of the Research and Analysis page are outlined in the ToR.

[2020-07-07 08:23] charlesyoung commented on #1296
Change the “Annotation Category” search field name to “Key Clauses”
Also want to change the title of “Annotated Contracts Only” filter but still need to decide to what.

cc @SamCCSI

[2020-07-07 08:24] charlesyoung commented on #1297
A Research and Analysis page link should be added at the bottom of each page along with the other pages of the site.

[2020-07-07 08:28] charlesyoung commented on #1290
Some additions.

Additional columns need to be include in the Clipping spreadsheet export with existing column names also needing to be changed.

Clipping spreadsheet export columns:
Document > Unchanged
Country	 > Unchanged
New column > Resource
Year > Unchanged
Annotation Category > Key Clause
New column > View Clause
Text > Clause Summary

Clipping web page columns:
Document > Unchanged
Categor

[2020-07-07 08:43] man-git007 commented on #1270
@charlesyoung I got the point. If any new page has been added via the admin site, we need to add a link to the footer or somewhere in the site which will be done manually in code. Now regarding this ticket, the functionality for page versioning has more or less completed however this ticket also includes the guide page design. I suggest this ticket be deployed on the live site and closed. Regardin

[2020-07-07 08:44] man-git007 commented on #1290
@charlesyoung OK we will start working on it.

[2020-07-07 08:49] charlesyoung commented on #1270
Thanks @man-git007

Sprint 25 is managed by CCSI so I will ask @SamCCSI and @jedm to comment.

[2020-07-07 08:50] charlesyoung commented on #1303
@anjesh please confirm if there is a doc size limitation.

[2020-07-07 09:06] #1302 closed

[2020-07-07 09:12] charlesyoung commented on #1299
@anjesh how easy will it be to do below for the country home pages based on the new design?
- Remove the world map from the new design
- Not sure what to do with the countries box

@SamCCSI dos CCSI have any country sites?

[2020-07-07 11:30] anjesh commented on #1297
Duplicate of https://github.com/NRGI/resourcecontracts.org/issues/1305

[2020-07-07 11:31] anjesh commented on #1305
Here's the detail from the TOR.

----

The Research and Analysis page should be roughly designed like this page: https://resourcegovernance.org/topics/coronavirus

There should be a heading, description (which may be contained in a simple rectangular coloured box that spans the page in lieu of the photograph in the example above), three boxes (which partially overlap with the rectangle) that can c

[2020-07-07 11:36] anjesh commented on #1301
@candrei What would be the new version of ES in the ES cloud?

[2020-07-07 12:02] charlesyoung commented on #1297
@anjesh can we keep this ticket because there are 2 separate issues noted in the ToR. 1 to create the page and the other to design it.

[2020-07-07 12:06] candrei commented on #1301
@anjesh ideally we'd want to upgrade to the most recent one v7.8 at the moment. We can also aim for 7.7 or 7.6 to get at least one year of support (see the `Maintenance tables` from https://www.elastic.co/support/eol).

[2020-07-07 12:57] SamCCSI commented on #1296
Have changed title of ticket to reflect that this is only for RC -- OLC is sticking with existing wording for annotations.

[2020-07-07 17:43] jedm commented on #1270
Agree with @man-git007 suggestion to complete the add page portion and move completion of Guide page(s) and admin to separate ticket.

[2020-07-08 04:00] man-git007 commented on #1270
@charlesyoung @jedm So we will deploy this functionality to live site by today.

cc @anjesh @birendragurung

[2020-07-08 06:18] charlesyoung commented on #1270
Thanks @man-git007

Please close this ticket when done and create a new guide page design ticket under Sprint 25.

[2020-07-08 07:25] charlesyoung commented on #1282
@man-git007 please deploy the new homepage to the RC Prod site.

Please note that @SamCCSI will need to give the green-light to move the new OLC homepage to Prod.

[2020-07-08 11:26] man-git007 commented on #1282
@charlesyoung Code wise it would complicate things, so I suggest the site to be deployed at once rather than for RC and OLC afterward.
@SamCCSI Are we good to deploy in live site?

cc @anjesh

[2020-07-08 11:29] charlesyoung commented on #1282
Makes sense, thanks.

[2020-07-08 12:29] SamCCSI commented on #1282
OLC can also be deployed. Thanks for everyone's hard work!!

On Wed, Jul 8, 2020 at 7:29 AM Charles Young <notifications@github.com>
wrote:

[2020-07-08 21:43] candrei commented on #1301
@anjesh when do you estimate that you'll complete your research?

[2020-07-09 07:54] charlesyoung commented on #1096
I've experienced this a couple of times. Shows 2 docs but nothing listed when doing a free text search.

![image](https://user-images.githubusercontent.com/13888372/87012454-97f19280-c1c9-11ea-958c-757a2be3704c.png)

Shows the correct docs on a companies search

![image](https://user-images.githubusercontent.com/13888372/87012674-ddae5b00-c1c9-11ea-8fca-ad32622137bb.png)

But then shows no docs wh

[2020-07-09 08:21] man-git007 commented on #1282
@charlesyoung @jedm @SamCCSI We have deployed it in live [RC](https://resourcecontracts.org/) and [OLC](https://openlandcontracts.org/) sites. Please update the text and background images.

**cc** @anjesh @sweta-shrestha @nirvanalama

[2020-07-09 08:28] charlesyoung commented on #1282
@man-git007 pls check.

I don't understand why we need to update the image a text. Can you pls copy the text and image that was on the staging site.

[2020-07-09 09:10] charlesyoung commented on #1282
@man-git007 can you pls check below inconsistency.

![image](https://user-images.githubusercontent.com/13888372/87020810-ad1fee80-c1d4-11ea-84bd-696c41b8c2a1.png)

![image](https://user-images.githubusercontent.com/13888372/87020846-ba3cdd80-c1d4-11ea-9d59-4f7ff1847fc2.png)

[2020-07-09 09:42] charlesyoung commented on #1282
Getting a 'ResourceContracts.org is temporarily unavailable' error when trying to update the contacts page.

![image](https://user-images.githubusercontent.com/13888372/87024264-2c172600-c1d9-11ea-86f6-1b27b43d8527.png)

[2020-07-09 09:48] man-git007 commented on #1282
@charlesyoung We need to run migration command in RC and OLC server. Have mailed to vitamin about this

[2020-07-09 11:21] candrei commented on #1282
The migration was successfully executed under RC and OLC environments.

[2020-07-09 11:30] man-git007 commented on #1282
@charlesyoung The search and document count has been resolved. If all OK we can now close this ticket

[2020-07-09 11:31] man-git007 commented on #1270
Closing this ticket and creating a new ticket for Guide page design

cc @charlesyoung @SamCCSI @jedm @anjesh

[2020-07-09 11:36] man-git007 opened #1307 "Guide Page Design"
## Why
Guide page design matching the current new homepage

## What
Design guide page and provide the user with the ability to change the basic layout of the page from the admin side

## Notes

@nirvanalama Please provide us the new design for the guide page with the theme of the new homepage. After the design, we will work on it.
@jedm Please provide feedback after nirvana provide us the design m

[2020-07-09 11:40] man-git007 commented on #1105
@charlesyoung The changes are been implemented in the staging site. Could you please verify?

[2020-07-09 12:14] man-git007 commented on #1290
@charlesyoung We have implemented the changes you have suggested and deployed in the staging site. Please verify and if anything missing please let us know.

cc @birendragurung

[2020-07-09 12:27] charlesyoung commented on #1282
Thanks @man-git007 but lets wait for @SamCCSI to confirm before closing the ticket.

One thing I have noticed is the slow display speed with RC at 59 and OLC at 63 on the pagespeed test. @SamCCSI how do you find the speed of both sites?

[2020-07-09 12:47] charlesyoung commented on #1105
Thanks. Three things please.

- Can you please check your query, there are 1654 docs. Hydrocarbons group = 941 and the minerals group = 557 which totals 1498 (156 short).
- Why when I deselect a resource like Barite does the cursor move to the end of the list?
- Can you double the length of the line break.

[2020-07-09 13:04] SamCCSI commented on #1282
Is it possible to change "Text" to "Home page text" for ease of reference in the back-end?

[2020-07-09 13:13] charlesyoung commented on #1290
OK I will test. Can you however look at why the clips are not shown by default. See below, there are 3 existing clips but its only shown when clicking on the clips icon. The number of clips, if any, should be shown by default to the user.

![image](https://user-images.githubusercontent.com/13888372/87044039-46abc800-c1f6-11ea-80e6-9d378b08e201.png)

![image](https://user-images.githubusercontent.c

[2020-07-09 13:26] charlesyoung commented on #1290
Can we try get the resources on the same line? Also the View Clause column has no links to click on.

![image](https://user-images.githubusercontent.com/13888372/87045408-24b34500-c1f8-11ea-8c14-1fb1568023dc.png)

[2020-07-09 13:53] charlesyoung commented on #1282
@man-git007 the map spacing (before and after) isn't the same as what's on the Staging site. Can you make the spacing on the Prod site the same as the Staging site?

[2020-07-09 14:12] SamCCSI commented on #1282
When you click on any of the four squares or click on search, some rectangle boxes (abstract site elements) appear on a white background before the next page loads. I couldn't capture it as a screen shot but this never used to happen. Might be linked to the speed issues @charlesyoung mentioned

[2020-07-09 14:32] SamCCSI commented on #1282
French text doesn't auto-capitalize in two spots where it should:

![image](https://user-images.githubusercontent.com/12913915/87053038-798e9580-c1cf-11ea-9925-5c42dfd472a7.png)
![image](https://user-images.githubusercontent.com/12913915/87053055-7e534980-c1cf-11ea-9385-15d6038ae11f.png)

[2020-07-09 14:34] SamCCSI commented on #1282
Deleted point about capitalization -- I changed that manually

[2020-07-09 14:39] charlesyoung commented on #1282
Related to above I see a white strip at the bottom of the page flash quickly when accessing and refreshing RC.

[2020-07-10 05:10] man-git007 commented on #1282
@charlesyoung The map spacing seems to be OK. This might be due to the cache. For easiness to all, I have added a route to clear the cache in [RC](https://resourcecontracts.org/admin/cache-clear) and [OLC](https://openlandcontracts.org/admin/cache-clear).

cc @sweta-shrestha

[2020-07-10 06:51] birendragurung commented on #1105
@charlesyoung by line break, do you mean line breaks between selected list or drop-down list?

[2020-07-10 07:03] charlesyoung commented on #1282
@man-git007 there is some serious caching issues.

This is from the normal window

![image](https://user-images.githubusercontent.com/13888372/87125992-b7e98a80-c28b-11ea-8432-9bab79f2dc68.png)

This is from an Incognito window

![image](https://user-images.githubusercontent.com/13888372/87126011-c3d54c80-c28b-11ea-9c15-65bb9abdeae7.png)

[2020-07-10 07:08] charlesyoung commented on #1105
I'm referring to below. Take a look at above image to see what is envisaged.

![image](https://user-images.githubusercontent.com/13888372/87126577-b8ceec00-c28c-11ea-8e34-e4f4e6a9f3ff.png)

[2020-07-10 07:31] charlesyoung commented on #1282
@man-git007 the drawing speed is really poor. Below is from a pageview test.

https://www.resourcecontracts.org/
![image](https://user-images.githubusercontent.com/13888372/87128497-000aac00-c290-11ea-813d-64ba6c84c4cf.png)

https://www.resourcecontracts.org/contract/ocds-591adf-9278224152/view#/pdf
![image](https://user-images.githubusercontent.com/13888372/87128480-f84b0780-c28f-11ea-90d1-ad0411

[2020-07-10 08:51] birendragurung commented on #1105
The default behavior is to let user type something to search resources and select from drop-down list.

[2020-07-10 11:37] birendragurung commented on #1290
@charlesyoung We have implemented above mentioned changes on staging server. Please verify and let us know if any thing needs to be improved.

cc @man-git007

[2020-07-10 12:17] charlesyoung commented on #1290
Thanks @birendragurung

I however don't see the changes. Seems to be a caching issue again even in an Incognito window.

[2020-07-13 08:54] nirvanalama commented on #1307
@SamCCSI @jedm @charlesyoung  Hello, here is the updated guide page design
https://www.figma.com/file/OK1BSOpfKTokEoBZYQCXss/RC__UI_v2?node-id=515%3A2921

[2020-07-13 12:55] birendragurung commented on #1290
@charlesyoung Please verify the recent changes and let us know if anything is missing.

cc: @man-git007

[2020-07-13 13:19] charlesyoung commented on #1290
Thanks @birendragurung

The resource info looks good but why is there no view clause info?

![image](https://user-images.githubusercontent.com/13888372/87308783-0745ea00-c51c-11ea-9704-30f0f60d8604.png)

The info is in the xls but not on the site.

![image](https://user-images.githubusercontent.com/13888372/87308858-20e73180-c51c-11ea-90e0-fac131a67c70.png)

[2020-07-13 13:33] birendragurung commented on #1290
@charlesyoung Is it missing on Incognito too? I found it visible on both general and incognito mode. Might be the cache issue here.

[2020-07-13 13:45] charlesyoung commented on #1290
Not sure whats going on with my Chrome. I can now see it in incognito mode but clicking on the view clause causes a crash.

[2020-07-14 08:34] birendragurung commented on #1290
@charlesyoung Do you mean the chrome crashes or is just the page?

[2020-07-14 08:53] charlesyoung commented on #1290
I cannot even test at the moment, below just turns.

![image](https://user-images.githubusercontent.com/13888372/87405642-01a1e000-c5c0-11ea-90b5-ddbee699e0ef.png)

This is my speedtest results, there should be no speed issue.

![image](https://user-images.githubusercontent.com/13888372/87405739-21d19f00-c5c0-11ea-9e8f-58f77750be68.png)

This is from pagespeed.

![image](https://user-images.github

[2020-07-14 11:18] birendragurung commented on #1290
@charlesyoung We have fixed the issues. Please verify changes and let us know if we're ready to go for production deployment

cc @man-git007

[2020-07-14 13:18] alexg0581 opened #1308 "Business-humanrights.org / ResourceContracts.org API Integration"
## Why
We’re currently in the process of a substantial website rebuild of business-humanrights.org, and are looking to also rebuild our integration with the ResourceContracts / OpenLandContracts API. Currently when you carry out a search on our website, the query terms are also passed to RC / OLC and the filtered search results returned. However, in reimplementing the feature we’re having some tro

[2020-07-14 16:40] charlesyoung commented on #1282
@man-git007 have you had time to look at the speed issues.

Add some of the RC URLs, especially the search pages, into https://developers.google.com/speed/pagespeed/insights/?url and you will noticed poor results.

[2020-07-15 06:58] anjesh commented on #1282
@charlesyoung few concerns with the pagespeed issue. I understand that this needs to be improved; @man-git007  and @sweta-shrestha  spent couple of hours yesterday looking into this. Now that you have raised pagespeed issue in pdf view as well, it looks like this might take some good amount of refactoring. We don't know why the speed issue appears now, especially after recent changes. We will need

[2020-07-15 07:27] charlesyoung commented on #1282
OK will reopen #1284.

@SamCCSI still has an open question (which could be related to the speed issue) on the home page.

[2020-07-15 07:28] man-git007 commented on #1308
@alexg0581 The `warning` message in API endpoint has been fixed.

cc @anjesh

[2020-07-15 07:33] charlesyoung commented on #1284
@anjesh I have been running pagespeed in the desktop view.

[2020-07-15 09:03] alexg0581 commented on #1308
Fab, thank you!

[2020-07-15 09:03] #1308 closed

[2020-07-15 10:30] charlesyoung commented on #1290
Thanks @birendragurung, looks good.

Lets however deploy this ticket when #1289 has also been developed and tested.

[2020-07-15 10:33] bezunakarmi commented on #1290
@charlesyoung We have already worked on ticket #1289 along with this ticket and deployed to staging server. Please proceed with testing and verification and let us know if anything can be improved.

cc @man-git007

[2020-07-15 10:36] birendragurung commented on #1290
@charlesyoung We have already worked on ticket #1289 along with this ticket and deployed to staging server. Please proceed with testing and verification and let us know if anything can be improved and deploy on production.

cc @man-git007

[2020-07-15 10:53] charlesyoung commented on #1289
It works for some like YIPL-Mturk-Test-2, Company-Company Contract, 2020 and crashes (404) on others like ETAP, YNG, Concession Permis Araifa - Tunisia, 2013.

![image](https://user-images.githubusercontent.com/13888372/87536136-e48d1000-c698-11ea-8c7e-dd1921c8dc37.png)

Also the documents aren't the same. Look at below popup window document from the Clips page compared to the original document.

[2020-07-16 07:44] charlesyoung commented on #1249
The IC country site now shows 0 contracts ..... This seems to be affecting all the country sites.

![image](https://user-images.githubusercontent.com/13888372/87641709-c848ac00-c748-11ea-87de-90c66382128b.png)

[2020-07-16 08:15] birendragurung commented on #1105
@charlesyoung We checked on the resource data and there are some resources other than in - Hydrocarbons and Minerals categories as well as Methane and 'Other minerals'. So the remaining contract count is from non-categorized resources.

Also, the gap in the dropdown is added. Please verify and let us know about improvements.

[2020-07-16 08:26] man-git007 commented on #1249
@charlesyoung We are working on it. Are there other country sites in staging server? So that we could test it on other staging country sites.

[2020-07-16 08:34] charlesyoung commented on #1249
https://staging.guinea.resourcecontracts.org
https://staging.zambia.resourcecontracts.org

[2020-07-16 09:15] charlesyoung commented on #1105
OK thanks. The gap was fine, please set to what it was, its the line (shown in red above) that needs to be made longer. Like below.

![image](https://user-images.githubusercontent.com/13888372/87653255-8ffb9a80-c755-11ea-989a-96a3ea87ae11.png)

[2020-07-16 10:10] charlesyoung commented on #1290
@birendragurung the only comment is change the xls name from clipped_annotation_DATE to Clipped clauses DATE. Do we need the underscores in the file name?

[2020-07-16 11:08] birendragurung commented on #1289
@charlesyoung I checked from admin panel, seems like the documents were not saved properly and also pdf was not found for these contracts in admin panel too.

@man-git007

[2020-07-16 11:19] birendragurung commented on #1289
This has been fixed. Please go through #1289 and #1290 and let us know if we are ready for deploying these changes.

[2020-07-16 11:20] birendragurung commented on #1290
@charlesyoung The download file name has been changed. Please verify and let us know if we're ready to go for deployment.

cc @man-git007

[2020-07-16 12:10] charlesyoung commented on #1290
OK thanks. Lets only deploy to prod once #1289 and #1304 has also been completed.

[2020-07-16 12:16] charlesyoung commented on #1289
I added a new contract on staging.

https://staging.resourcecontracts.org/contract/ocds-591adf-8233962448/view#/pdf/page/1/annotation/25871

I cannot test the zoom feature because I get below error when clicking on the View Clause link.

![image](https://user-images.githubusercontent.com/13888372/87669652-a7934d00-c76e-11ea-8d53-d30b810cd88d.png)

[2020-07-16 12:25] charlesyoung commented on #1290
Also please apply the file name changes to the zip file to keep to a standard.

1. Should be 'Clipped clauses DATE' (xls)
2. Should be 'Clipped clauses DATE' (PDF)
3. Should be 'Clause contract pages' (PDF)

![image](https://user-images.githubusercontent.com/13888372/87669996-48820800-c76f-11ea-9569-38a11b8b8906.png)

[2020-07-16 12:34] birendragurung commented on #1296
@charlesyoung What should be the title for "Annotated Contracts Only"?

[2020-07-16 12:43] birendragurung commented on #1289
@charlesyoung The problem in popup view has been resolved.

[2020-07-16 12:50] charlesyoung commented on #1296
Change the “Annotation Category” search field name to “Key Clauses”.
Change the title of “Annotated Contracts Only” filter to “Tagged Contracts Only”

[2020-07-16 12:52] charlesyoung commented on #1289
OK I will test.

[2020-07-16 19:45] candrei commented on #1301
@anjesh do you have an update on your research?

[2020-07-16 20:27] SamCCSI opened #1309 "Search results problem -- tally wrong and irrelevant main doc not grayed out"
In this filter search, the main doc is not a decree, so should be greyed out.

And the tally should read 3, not 0.
https://www.openlandcontracts.org/search/group?q=&company_name%5B%5D=SG+Sustainable+Oils+Cameroon+PLC&company_name%5B%5D=Sithe+Global+Sustainable+Oils+Cameroon+Limited&document_type%5B%5D=Decree
![image](https://user-images.githubusercontent.com/12913915/87719372-432db900-c781-11ea-9a

[2020-07-16 20:28] SamCCSI commented on #1309
cc @charlesyoung @anjesh does this problem come from the new grouping functionality?

[2020-07-17 06:47] charlesyoung commented on #1309
I think it does relate to the new grouping functionality. I logged below issue where the tally shows 2 docs but there is nothing in the list, when running a free text search.

![image](https://user-images.githubusercontent.com/13888372/87756820-e5917f00-c809-11ea-88c4-a95793ef3e05.png)

[2020-07-20 05:18] birendragurung commented on #1105
@charlesyoung The changes have been sent to staging server. Please check and verify.

cc: @man-git007

[2020-07-20 06:40] nirvanalama commented on #1297
@charlesyoung Here is the design for research and analysis page https://www.figma.com/file/OK1BSOpfKTokEoBZYQCXss/RC__UI_v2?node-id=552%3A0
The second box is empty please provide the content. Also, the banner image for research and analysis page.

[2020-07-20 06:45] charlesyoung opened #1310 "Security advisory on lodash"
@candrei will you be able to look at below security issues.

https://github.com/NRGI/resourcecontracts.org/network/alert/package-lock.json/lodash/open

cc @anjesh

[2020-07-20 08:25] man-git007 commented on #1307
@charlesyoung @SamCCSI @jedm
Is there any feedback regarding the design? If this is final we can start working on it.

cc @anjesh

[2020-07-20 08:42] man-git007 commented on #1249
@charlesyoung The fixes have been deployed to staging server but the staging country sites are pointing to production API. This needs to be fixed.

[2020-07-20 09:01] charlesyoung commented on #1249
Let me know when I can test. Still shows zero.

[2020-07-20 09:04] charlesyoung commented on #1307
This is for @jedm to provide comment.

[2020-07-20 09:05] jedm commented on #1307
Hi @man-git007  thank you for these.

The text next to each image needs to be much longer, so we can give more instructions to the user at each step.

Also, where can I test the editing of the other pages? We need to confirm that the CSS is working on all guide and static pages so that they are sufficiently similar and easy to edit while maintaining styles.

Thank you,

Jed

@SamCCSI

[2020-07-20 11:19] charlesyoung commented on #1297
Many thanks @nirvanalama

I will revert with comments.

[2020-07-20 23:33] candrei commented on #1310
@anjesh I think you're better suited to decided how to mitigate the security warnings related to the software packages in use within the app. Over to you, please see the complete list below:
<img width="1040" alt="Screen Shot 2020-07-20 at 7 31 55 PM" src="https://user-images.githubusercontent.com/6289513/87996292-b73cc980-cabf-11ea-85c5-17e823805d2c.png">

[2020-07-21 06:25] charlesyoung commented on #1105
@birendragurung please deploy to the Prod site. Thanks

[2020-07-21 06:28] man-git007 commented on #1249
@charlesyoung The API issue has been fixed. Please check the staging country sites.

[2020-07-21 06:34] charlesyoung commented on #1249
Great, can you please deploy to the Prod country sites.

[2020-07-21 07:11] man-git007 commented on #1249
@charlesyoung Deployed to live sites.

[2020-07-21 07:14] charlesyoung commented on #1249
Thanks

[2020-07-21 07:16] nirvanalama commented on #1299
@charlesyoung @man-git007 @sweta-shrestha New Country page design
https://www.figma.com/file/OK1BSOpfKTokEoBZYQCXss/RC__UI_v2?node-id=578%3A108

[2020-07-21 08:10] man-git007 commented on #1299
@SamCCSI Can you provide the staging or production country site for OLC?

[2020-07-21 08:50] birendragurung commented on #1105
@charlesyoung This has been deployed to production.

cc: @man-git007

[2020-07-21 09:33] charlesyoung commented on #1105
Thanks. Please check why when selecting the Minerals group the display isn't the same as its shown on the Staging site.

Prod
![image](https://user-images.githubusercontent.com/13888372/88037984-e72eb000-cb45-11ea-8ac9-aff41e48d0c2.png)

Staging
![image](https://user-images.githubusercontent.com/13888372/88037936-d4b47680-cb45-11ea-8bb2-99ff18694e78.png)

[2020-07-21 09:34] charlesyoung commented on #1299
Thanks @nirvanalama

I would like to mimic the new home page design as much as possible.
- Replace the top half with the latest design so that we carry the flexibility of updating text, etc
- I'm not sure what we do with the 3 boxes. We need to shows documents and resources but I'm not sure that we should show the Recent Documents box. How can we only show 2 boxes?

[2020-07-21 10:36] charlesyoung commented on #1297
This is linked to #1305

[2020-07-21 10:37] charlesyoung commented on #1297
@nirvanalama how much of the text, titles, etc will we be able to update / add?

[2020-07-21 11:28] man-git007 commented on #1299
@charlesyoung Don't we need recent documents for country site? If yes we will need that Recent Document card in homepage. If not then we will show only the Document and Resources card.
@SamCCSI Could you also provide some feedback regarding the new country site?

cc @nirvanalama

[2020-07-21 11:30] birendragurung commented on #1105
@charlesyoung This has been fixed.

[2020-07-21 11:40] man-git007 commented on #1297
@charlesyoung Let's discuss the design in #1305  issue and after the design has been finalized, we will discuss the functionality in this issue.

[2020-07-21 11:42] charlesyoung commented on #1299
I don't want the Recent Docs box on the country sites. It works on the generic site but for instance we have not published a contract for Sierra Leone for over a year so I don't want the Recent Docs box to reflect 0.

Are there any OLC country sites?

[2020-07-21 11:43] charlesyoung commented on #1297
This issue is just to create the R&A link at the bottom of the pages.

![image](https://user-images.githubusercontent.com/13888372/88051005-3251be80-cb58-11ea-8cde-9393ac48d2c1.png)

[2020-07-21 11:46] man-git007 commented on #1305
@charlesyoung The link to design is https://www.figma.com/file/OK1BSOpfKTokEoBZYQCXss/RC__UI_v2?node-id=552%3A0. Is the page layout fine?

[2020-07-21 11:47] charlesyoung commented on #1305
I'm busy getting feedback.

[2020-07-21 11:59] birendragurung commented on #1105
@charlesyoung This has been fixed and this issue can be closed if everything's ok.

![Screenshot from 2020-07-21 17-41-58](https://user-images.githubusercontent.com/13505748/88052141-828d4880-cb79-11ea-9a18-abcd28c57fcf.png)

[2020-07-21 12:58] SamCCSI commented on #1299
OLC doesn't have any country sites, so we wont offer feedback. But very happy to answer any questions.

[2020-07-21 13:16] SamCCSI commented on #1309
Another example of both problems

![image](https://user-images.githubusercontent.com/12913915/88059400-cb6dde80-cb32-11ea-8b6b-d0e7b08e8fed.png)

[2020-07-21 14:44] SamCCSI commented on #1282
It looks like the [new OLC guides page](https://www.openlandcontracts.org/guides) has a different URL from the [old page, which is still live](https://openlandcontracts.org/page/resources)

On the new page, none of the document links work (see below):

@anjesh @man-git007 could this issue be fixed?

![image](https://user-images.githubusercontent.com/12913915/88069080-0249f180-cb3f-11ea-85ac-612d6d

[2020-07-22 03:59] nirvanalama commented on #1299
@charlesyoung @SamCCSI @man-git007  Here is the updated design https://www.figma.com/file/OK1BSOpfKTokEoBZYQCXss/RC__UI_v2?node-id=578%3A108

[2020-07-22 06:54] birendragurung commented on #1290
@charlesyoung The changes have been made according to your request. Please verify recent changes on staging server and let us know for any improvements.

cc: @man-git007

[2020-07-22 06:55] #1105 closed

[2020-07-22 07:15] birendragurung commented on #1304
@charlesyoung We have added predefined text for those that have empty annotation text on Clipping page as well as spreadsheet export.
![Screenshot from 2020-07-22 12-39-25](https://user-images.githubusercontent.com/13505748/88146003-021f2400-cc1b-11ea-8c2e-7af209f49532.png)

In spreadsheet, it's looks as follow:
![Screenshot from 2020-07-22 12-41-50](https://user-images.githubusercontent.com/13505

[2020-07-22 07:24] birendragurung commented on #1296
@charlesyoung Now RC site's search section will look as follows.
![Screenshot from 2020-07-22 13-01-33](https://user-images.githubusercontent.com/13505748/88146384-82de2000-cc1b-11ea-906a-4415f7357f9b.png)

Also there's a concern regarding RC and OLC with regard to this https://github.com/NRGI/resourcecontracts.org/issues/1290#issuecomment-654687731
We have applied the name changes regardless of R

[2020-07-22 07:46] charlesyoung commented on #1290
Thanks. Can we also change the zip file name. The test I did created a 'pdf-1595403888' file name which doesn't make any sense.

[2020-07-22 07:48] birendragurung commented on #1290
@charlesyoung Can you suggest any proper name for the zip file? Maybe we could use clipped clauses.zip if it's appropriate.

[2020-07-22 07:51] charlesyoung commented on #1290
Lets use the standard used for the xls, 'Clipped clauses [date].zip'

[2020-07-22 08:07] charlesyoung commented on #1296
Just checking with @SamCCSI

So on OLC we will retain the Annotation text as shown below.

![image](https://user-images.githubusercontent.com/13888372/88150524-caf04900-cc01-11ea-93d6-c83fc8799764.png)

The clipping headings have however changed.

![image](https://user-images.githubusercontent.com/13888372/88150883-3fc38300-cc02-11ea-923f-4fcdca562f01.png)

@birendragurung can we not retain the ol

[2020-07-22 08:12] birendragurung commented on #1296
@charlesyoung Yes we can do it on `Clipping page`. These changes are also done in spreadsheet download files as well. So, the general idea must be changing the term only on RC right?

cc: @man-git007

[2020-07-22 08:15] man-git007 commented on #1299
@charlesyoung Is the design provided OK? If all good we will start working on it.

[2020-07-22 08:22] man-git007 commented on #1307
@jedm Could you provide us the text so that we can add it to design.

cc @nirvanalama

[2020-07-22 08:35] charlesyoung commented on #1299
Can you please also look at replacing the top half of the page with the latest design so that we carry the flexibility of updating text, etc.

[2020-07-22 08:35] charlesyoung commented on #1296
Yes please.

cc @SamCCSI

[2020-07-22 09:08] charlesyoung commented on #1304
Thanks, will test and revert.

[2020-07-22 09:59] charlesyoung commented on #1305
Comments below.

**Introduction paragraph** (to be updated)
Governments, civil society, companies and other actors can use ResourceContracts to conduct various kinds of research and analysis. Such research can inform policy making or contract negotiations. It can also empower oversight actors to monitor whether companies and governments are fulfilling their obligations under contracts, and to take

[2020-07-22 10:20] charlesyoung commented on #1296
You can update the 'Key clause' and 'Clause summary' labels on the **RC** production site when ready.

[2020-07-22 10:25] #1284 closed

[2020-07-22 12:57] SamCCSI commented on #1296
Correct -- for OLC we are not making any changes in this regard and want to keep "annotation" terminology

[2020-07-23 05:36] charlesyoung commented on #1249
@man-git007 I was just asked by the client to add password protection to the IC site for now. Can you please add this to the Prod site. Thanks

[2020-07-23 06:27] birendragurung commented on #1296
@SamCCSI Should we retain the old terminologies for all country sites as well?

cc: @man-git007

[2020-07-23 06:57] birendragurung commented on #1304
@charlesyoung Can you provide the predefined text for sites other than RC?
This is with reference to this https://github.com/NRGI/resourcecontracts.org/issues/1296#issuecomment-662437244

cc: @man-git007

[2020-07-23 07:29] charlesyoung commented on #1296
No, there are for now only RC country sites so the new terminologies should also be added to the country sites.

We just need to remember to retain the old terminologies for future OLC country sites.

[2020-07-23 10:31] man-git007 commented on #1299
@charlesyoung Regarding the text updates for country sites, it might take some time as we had developed this feature considering the RC and OLC sites only.

[2020-07-23 10:33] charlesyoung commented on #1299
Can you note use most of the code developed for the RC and OLC sites?

[2020-07-23 14:02] charlesyoung commented on #1304
Please deploy to the RC production site.

[2020-07-23 14:03] charlesyoung commented on #1290
Once the zip file name has been changed please deploy to the RC production site.

[2020-07-23 14:03] charlesyoung commented on #1289
Please deploy to the RC production site.

[2020-07-23 14:53] SamCCSI commented on #1282
Here's an example of what I see before contract view page loads:
![image](https://user-images.githubusercontent.com/12913915/88301539-bdef5a80-ccd2-11ea-95a3-ae1359c4eb0c.png)
https://www.openlandcontracts.org/contract/ocds-591adf-0315234670/view#/

[2020-07-23 14:57] SamCCSI commented on #1270
Reopening this page, as the OLC logo still has "Beta". Can this please be removed? @nirvanalama @man-git007

[2020-07-23 16:11] charlesyoung commented on #1282
I raised this issue yesterday and it seems to relate to the stylesheet (CSS). YI will look at the issue.

[2020-07-24 05:50] birendragurung commented on #1290
@charlesyoung The zip file name looks as follows.

![Screenshot from 2020-07-24 11-31-43](https://user-images.githubusercontent.com/13505748/88363969-4e946c00-cda1-11ea-97c3-24bf8a0acd86.png)

[2020-07-24 07:47] birendragurung commented on #1296
@charlesyoung We are deploying changes made in this issue along with #1290 , #1289 and #1304
Please verify these changes and we can deploy it to production thereafter.

cc: @man-git007

[2020-07-24 08:03] charlesyoung commented on #1290
Thanks, why however do we have the 159... number added? What does that mean? Can we not just have the name and date?

[2020-07-24 08:05] birendragurung commented on #1290
@charlesyoung We need to distinguish each files uniquely.

[2020-07-24 08:10] charlesyoung commented on #1290
I dont understand, the date adds to the unique file name. It should be the same as the xls download that only has the name and date.

[2020-07-24 08:12] charlesyoung commented on #1296
#1290 can be deployed once the zip file name is done
#1289 can be deployed
#1304 can be deployed

[2020-07-24 08:13] birendragurung commented on #1290
@charlesyoung Let's for instance consider two users have requested for the zip file download. In such case, the number will distinguish the files created for each user.

cc: @man-git007

[2020-07-24 08:16] charlesyoung commented on #1290
Why dont we need the number for the xls download?

[2020-07-24 08:27] birendragurung commented on #1290
@charlesyoung Zip file download has a different process than xls file. Hence this was mandatory due to technical circumstances.

[2020-07-24 22:42] SamCCSI commented on #1096
2 small issues with recent documents page:

1. Docs aren't listed in order of date published. The two OLAM contracts were published earlier this month, the other two contracts were published today. So shouldn't the top listed OLAM doc be listed 3rd or 4th?

2. Recent docs button on home page lists 3 recent docs, but there are 4.

![image](https://user-images.githubusercontent.com/12913915/88440919

[2020-07-27 02:53] jedm commented on #1307
Hi @man-git007,

For text and other last design feedback, here are notes:

- Per your request for text to insert into the design, attached is approved text for two of the instruction blocks in the new Guides page. Please confirm that we can add the others ourselves in the editable pages. **(See attached.)**
- Also regarding the design, our draft notes in #1270 include request for consistency in CS

[2020-07-27 07:35] birendragurung commented on #1290
@charlesyoung We've made changes to maintain same naming for the zip file. We are ready to deploy this on production.

cc: @man-git007

[2020-07-27 08:43] birendragurung commented on #1290
@charlesyoung This has been deployed to production.

[2020-07-27 08:44] birendragurung commented on #1289
@charlesyoung This has been deployed to production.

cc: @man-git007

[2020-07-27 08:44] birendragurung commented on #1296
@charlesyoung This has been deployed to production.

cc: @man-git007

[2020-07-27 08:45] birendragurung commented on #1304
@charlesyoung This has been deployed to production.

cc: @man-git007

[2020-07-27 09:47] #1304 closed

[2020-07-27 09:49] #1290 closed

[2020-07-27 09:49] #1289 closed

[2020-07-27 09:50] charlesyoung commented on #1301
@anjesh do you have an update on your research?

[2020-07-27 09:51] charlesyoung commented on #1249
@man-git007 will it be possible to add password protection to the IC site?

[2020-07-27 09:52] charlesyoung commented on #1282
@anjesh just checking on the status of checking if these issues relate to the CSS.

[2020-07-27 09:54] charlesyoung commented on #1096
@anjesh can your team look at above noted issues. I had a user contact me on Friday also noting incorrect query results.

[2020-07-27 09:56] man-git007 commented on #1249
@charlesyoung We are working on it. There seems to be an issue in staging deployment.

[2020-07-27 09:57] man-git007 commented on #1096
@charlesyoung We are working on it.

[2020-07-27 09:58] charlesyoung commented on #1249
We just need the password on the prod site and not on staging.

[2020-07-27 11:29] man-git007 commented on #1299
@charlesyoung We have deployed the new design in the staging country site. Please check the other country site.

cc @sweta-shrestha

[2020-07-27 12:23] charlesyoung commented on #1299
Many thanks @man-git007, commnets below.

- Will it be possible to add 'Search and review petroleum and mining contracts to understand the key terms and provisions' and 'Learn how to get started' (like the generic site) to the home page? Looks very 'empty' compared to the new generic home page.
- I'm not convinced that the boxes work. What about something like below?

![image](https://user-images.

[2020-07-27 15:58] SamCCSI commented on #1061
Mobile view of new site has visual noise / some design elements that to be improved. For example:
- "Learn how to use this site" should be in White text
- Annotation boxes appear as numbers in a bubble - not clear what they are
- there are view icons over the map

cc @anjesh @man-git007 @charlesyoung

![IMG_7241](https://user-images.githubusercontent.com/12913915/88563627-30787700-d000-11ea-8fe8-c

[2020-07-27 21:20] SamCCSI commented on #1096
Another bug with "Recent documents" page. This contract was created and published 8 hours ago but still doesn't appear on recent docs page.

![image](https://user-images.githubusercontent.com/12913915/88593391-7a2b8680-d02d-11ea-9234-f7d7618ac893.png)
http://admin.resourcecontracts.org/contract/4252
https://www.openlandcontracts.org/contract/ocds-591adf-1054510190/view#/pdf

[2020-07-28 04:27] nirvanalama commented on #1305
@charlesyoung The orange boxes and the background color do not go well at all. We would suggest to use the background image and orange color for the box.
https://www.figma.com/file/OK1BSOpfKTokEoBZYQCXss/RC__UI_v2?node-id=552%3A0

[2020-07-28 06:13] man-git007 commented on #1307
@jedm Thank you for your feedback. As from the wireframe, we need to add the Introduction, How to Guides, Training Library as well. Just for the heads up upon the addition of these content, the page will have a long scroll. Nirvana will update the design and provide you the design.

cc @nirvanalama

[2020-07-28 09:45] charlesyoung commented on #1305
Thanks @nirvanalama

Will get back with feedback.

[2020-07-29 03:50] man-git007 commented on #1249
@charlesyoung The authentication in the [IvoryCoast](https://ivorycoast.resourcecontracts.org/) country site has been implemented. I have forwarded a mail containing the credentials.

cc @birendragurung

[2020-07-29 05:59] nirvanalama commented on #1307
@charlesyoung @jedm Updated guide page.
https://www.figma.com/file/OK1BSOpfKTokEoBZYQCXss/RC__UI_v2?node-id=669%3A0

[2020-07-29 06:44] man-git007 commented on #1096
@charlesyoung The search result and search count have been fixed and deployed in live site.

[2020-07-29 06:55] man-git007 commented on #1096
@SamCCSI The contract you have published is a supporting contract and its main contract has been first published in the year 2016. That's why this is not showing in the list. So if we need to show, we need to work on it and might take some time.
Also regarding the sorting, the sorting is done via signature year not via published date. I suggest the default sort of recent document be done via signa

[2020-07-29 07:50] charlesyoung commented on #1249
Many thanks @man-git007

[2020-07-29 08:46] charlesyoung commented on #1096
Thanks @man-git007

My understanding was that the recent published search includes main and supporting documents. It wouldn't make sense not to include a newly published supporting document even if the main document was published 10 years ago.  My feeling is that the sorting should be on signature year as is the standard when displaying all the documents.

[2020-07-29 08:55] man-git007 commented on #1096
@SamCCSI @charlesyoung If that is the case, we do not need to change the code.

[2020-07-29 09:56] man-git007 commented on #1299
@charlesyoung The changes you had mention have been done and deployed in the staging server.
https://staging.ivorycoast.resourcecontracts.org/
https://staging.guinea.resourcecontracts.org/

cc @sweta-shrestha

[2020-07-29 09:57] man-git007 commented on #1282
@charlesyoung @SamCCSI  The CSS issue has been fixed and deployed in the staging server.

[2020-07-29 09:58] man-git007 commented on #1061
@SamCCSI The mobile view has been updated and deployed in live server

[2020-07-29 10:47] charlesyoung commented on #1299
Thanks, couple things.

1. Can somehow highlight the Guinea language links
![image](https://user-images.githubusercontent.com/13888372/88790588-ac0d2c00-d198-11ea-914a-63af6df25709.png)

2. Also the IC site doesn't look right.
![image](https://user-images.githubusercontent.com/13888372/88791136-859bc080-d199-11ea-951d-11ccde125b21.png)

[2020-07-29 10:50] man-git007 commented on #1299
@charlesyoung have just deployed fixes in staging server. Please do hard refresh after a while

cc @sweta-shrestha

[2020-07-29 10:53] charlesyoung commented on #1299
Which fixes?

[2020-07-29 11:08] man-git007 commented on #1299
@charlesyoung Please check the staging site. Is there anything missing?

[2020-07-29 11:19] jedm commented on #1299
Hi @charlesyoung. I would suggest adding a transparency over the homepage
image so that it is faded by 15-25%. This will make it easier to read the
words and controls.

On Wed, Jul 29, 2020 at 7:08 AM Manish Pradhan <notifications@github.com>
wrote:

--
Jed Miller | @jedmiller <http://twitter.com/jedmiller>
m +1.917.584.2349 | s @jedbmiller
www.jedmiller.com

[2020-07-29 11:46] charlesyoung commented on #1299
Thanks @man-git007

Thanks @jedm, that could work especially for the Guinea site where its difficult to read all the text. @man-git007 can you look at applying a 15-25% transparency over the homepage image?

[2020-07-29 12:17] man-git007 commented on #1299
@charlesyoung The background transparent has been done. Please verify. If all good we can deploy to live country site.

cc @sweta-shrestha @anjesh

[2020-07-29 12:30] charlesyoung commented on #1299
Great. Please deploy to the IC and Guinea prod country sites.

Also note that the Tunisia and Zambia sites also need to be updated. Don't worry about applying to the staging sites first, you can do it straight on the Prod sites.

@candrei is busy working on the DRC site issues that has the code on the Ministries domain. Can we update the DRC site as well?

[2020-07-29 12:44] jedm commented on #1307
Thank you, @nirvanalama!

- Because we like the "inline" image very much from the original comp, can you or @man-git007 tell us what happens if the text is longer than the image height? Will it "wrap around" the image?

 - Do we have the power to change the images ourselves in the admin/editor? Do we have the power to add "blocks?"

- Finally, for the "Training Library" section under the How-To se

[2020-07-29 13:37] charlesyoung commented on #1299
One change please. The map box shouldn't be clickable.

![image](https://user-images.githubusercontent.com/13888372/88806831-382b4d80-d1b1-11ea-8fcf-5a87bc35add6.png)

[2020-07-29 13:38] SamCCSI commented on #1061
thanks @man-git007 -- this looks really nice.

Inside the search box the "Search [#] contracts and..." is cut off. Should we just remove the text there? Or change it to "Search [#] documents" ?

[2020-07-29 13:41] SamCCSI commented on #1282
Thanks @man-git007 it is definitely smoother now, with the search box and one view buttons the first things to load.

Has the general load time for this page also improved, or is it still slower than when we had the old home page? (If slower, are there ways to fix?)

[2020-07-29 13:44] SamCCSI commented on #1096
Thanks both.

1. Happy for sorting to remain by signature year if Charles feels strongly.

2. We still need to show associated docs here. It would make sense to list them with the main doc grayed out, as we do in search results. An alternative would be just to show the associated doc, but I think that would be inconsistent with the prevailing approach the site has on other search pages.

[2020-07-29 13:45] SamCCSI commented on #1282
3. Also, right now there are only 7 docs showing in OLC's recent docs page but the tally (on the home page and on the top right of re ent docs page) says there are 9 recent docs.

![image](https://user-images.githubusercontent.com/12913915/88807926-3e550600-d180-11ea-9b49-d8f53bc8f0ad.png)

[2020-07-29 13:46] charlesyoung commented on #1096
Agree that new associated docs should be listed with the main doc grayed out.

[2020-07-29 14:08] jedm commented on #1096
Agree.

On Wed, Jul 29, 2020 at 9:47 AM Charles Young <notifications@github.com>
wrote:

--
Jed Miller | @jedmiller <http://twitter.com/jedmiller>
m +1.917.584.2349 | s @jedbmiller
www.jedmiller.com

[2020-07-30 05:13] man-git007 commented on #1096
@SamCCSI Showing just like the search makes sense, we will work on it.

[2020-07-30 05:15] man-git007 commented on #1282
@SamCCSI The issue you have mentioned is related to this [issue](https://github.com/NRGI/resourcecontracts.org/issues/1096#issuecomment-665471887). We will work on it.

[2020-07-30 05:39] nirvanalama commented on #1307
@jedm I don't think the admin can change the image, @man-git007 do you have anything to add?
I have. have added few comments on figma, please have a look and reply. Press "C" on figma to comment and reply.

[2020-07-30 07:41] man-git007 commented on #1096
@SamCCSI The recent document is shown just like the search list. Also, the count has been fixed. These changes have been deployed to the live site. If all good we can close this issue.

cc @charlesyoung

[2020-07-30 07:56] man-git007 commented on #1299
@charlesyoung Do we need to remove the hover effect from map card?
![Screenshot from 2020-07-30 13-31-46](https://user-images.githubusercontent.com/23434972/88897045-6751c580-d26a-11ea-86e2-1aeccb3bb3b2.png)

[2020-07-30 08:00] charlesyoung commented on #1299
Yes please. It serves no purpose and doesn't open a new link. The hover and clickability needs to be removed from the map.

[2020-07-30 08:39] charlesyoung commented on #1305
@nirvanalama please see questions and comments below.

- We are still debating the box colour scheme
- Is font in the box on the right smaller than the box on the left
- Are the titles in the boxes bold. Please bold them if not, but not the titles in the list below
- Will the boxes enlarge when you hover over as on the home page

[2020-07-30 11:53] anjesh opened #1311 "Update DRC country site"
## Why

DRC country site is hosted in a different domain in a separate server https://www.mines-rdc.cd/resourcecontracts/. The source code is updated manually there and was lasted updated in 2017 only. The site is not working as there's recent changes in the API and in the homepage.

## What

We need to investigate the server compatibility and update the code to reflect the new changes and make th

[2020-07-30 12:07] charlesyoung commented on #1311
@anjesh how long will this take? We can possibly look at using a couple of hours from the budget buffer.

[2020-07-30 12:12] man-git007 commented on #1311
@charlesyoung We need to upgrade the PHP version and enable the mechanism of auto-deployment. Another way is that we can clone the project itself in the server and git pull every time change in the master branch. Ideally PHP version upgrade can be to any version but the minimum upgrade should be php5.5. Also, we might need to upgrade the composer version as well.

cc @anjesh

[2020-07-30 12:13] man-git007 commented on #1299
@charlesyoung The country sites have been upgraded. Need to add text in all country homepage.

[2020-07-30 12:15] man-git007 commented on #1270
@SamCCSI beta tag has been removed from the live site. Please verify, if anything missing please let us know

[2020-07-30 12:21] charlesyoung commented on #1299
Thanks. I've added text to the sites. Will close this ticket once the DRC site has been updated.

[2020-07-30 12:23] anjesh commented on #1311
@charlesyoung the issue is its current php version in the DRC server. They already have other apps installed in the same shared server so php upgrade might be tricky.

[2020-07-30 12:26] charlesyoung commented on #1311
Is this the time I need to chat to the client and suggest that we host the DB and the code?

Can you give me some info that could strengthen our case?

[2020-07-30 12:40] jedm commented on #1307
Thank you, @nirvanalama - I see two comments in Figma - one about text extending beyond image, one about the adjustment to make the Training Library section similar to current guides page. Both are OK!

- Please make the headline/H2 sizes slightly bigger

Can you and @man-git007 please confirm that:

- Admin can add extra blocks/entries in the How-To section and in the Training Library section
- A

[2020-07-30 13:32] SamCCSI commented on #1270
Working. Thank you!

[2020-07-30 13:32] #1270 closed

[2020-07-30 13:35] SamCCSI commented on #1096
Thanks @man-git007 . Two more issues to resolve:
1. Main doc is not recent so should be greyed out.
2. Tally should not include non-recent greyed out main doc. So tally should be 8 total, not 9.

![image](https://user-images.githubusercontent.com/12913915/88929348-031e0a00-d248-11ea-80d7-f4a106da88ef.png)

[2020-07-30 19:57] candrei commented on #1311
@anjesh @charlesyoung as far as I can tell there are multiple PHP versions on that server. The mines-rdc.cd project runs on top of PHP 7.3: https://www.mines-rdc.cd:2083/cpsess0898305670/frontend/paper_lantern/multiphp_manager/index.html#/config/
<img width="1543" alt="Screen Shot 2020-07-30 at 3 53 26 PM" src="https://user-images.githubusercontent.com/6289513/88968123-d6d0b080-d27c-11ea-9a3a-006b

[2020-07-31 03:53] man-git007 commented on #1307
@charlesyoung Confirming your points

- Yes, Admin can add extra blocks/entries in the How-To section and in the Training Library section.

- Yes, Admin can change the image/pdf but has to provide an URL rather than upload itself.

- We will maintain the style according to the new guide page in the rest of the static pages

cc @sweta-shrestha

[2020-07-31 06:55] charlesyoung commented on #1311
Thanks @candrei

So we don't have to upgrade the versions of PHP or Composer as previously anticipated? How can we move this forward? The Minister of Mines was asking yesterday how quickly we can get the site up and running because he is giving a presentation to cabinet on contact disclosures on Monday.

[2020-07-31 07:20] man-git007 commented on #1096
@SamCCSI Both the feedback you have provided has been deployed to the live server. If all good we can close this issue

[2020-07-31 07:23] charlesyoung commented on #1299
I just noticed the placement of the Recent Docs tick box. Can it be moved in line with the Tagged Contracts Only tick box? Also, the Annotation Category and Annotated Contracts Only labels need to change to Key Clauses and Tagged Contracts Only.

Also are updates to #1096 being applied to the country sites?

![image](https://user-images.githubusercontent.com/13888372/89010273-89048880-d30e-11ea-87

[2020-07-31 08:25] charlesyoung commented on #1305
More comments.

- The image, compared to the solid colours, is preferred.
- Can we please see mockups of orange, green (already done) and blue (countries box on home page) boxes?
- Where do you suggest we place the R&A link? We feel it might be lost at the bottom of the page. Would it make sense to put it at the top right of the page like the Using the Site link on OLC? Other suggestions?

[2020-07-31 08:28] charlesyoung commented on #1282
A question @man-git007

While we can change the homepage get started text from the admin tool can we also change the link?

![image](https://user-images.githubusercontent.com/13888372/89016184-99216580-d318-11ea-8bfe-68a185978849.png)

[2020-07-31 09:10] man-git007 commented on #1311
@candrei As I was working on DRC, I found out that we need to have PHP 7.0. Could you please install the PHP 7.0.

cc @anjesh @charlesyoung

[2020-07-31 10:12] man-git007 commented on #1311
@charlesyoung  We have fixed the [DRC](https://www.mines-rdc.cd/resourcecontracts/) country site. Could you please verify. As the deployment of this site is manual, we need to rethink the deployment of this site. For now, any changes in this country site would have to be done manually which is inefficient.

@candrei  Regarding the installation of PHP7.0, ignore this for now.

cc @anjesh

[2020-07-31 10:21] charlesyoung commented on #1311
Thanks @man-git007

The site was deployed in 2017 and I think we have had to sort out issues only twice so I don't think its a major problem. The Ministry wants to host the site so we don't have much of a choice.

Some issues noted
- The home page background has changed and is incorrect (seems like an OLC image). Can you please add the original RC DRC background image.
- The fonts look different f

[2020-07-31 11:10] man-git007 commented on #1282
@charlesyoung No, we cannot change the link for now.

[2020-07-31 11:14] man-git007 commented on #1311
@charlesyoung Could you provide me the image. So that it can be uploaded from the admin site.

[2020-07-31 11:42] man-git007 commented on #1299
@charlesyoung The label has been updated and the checkbox alignment also has been fixed.

[2020-07-31 11:59] charlesyoung commented on #1282
Thanks, so should I send you new links to update if we what to change the URL?

[2020-07-31 12:08] charlesyoung commented on #1311
I don't have it. Why can't you find the original image?

[2020-07-31 12:17] charlesyoung commented on #1311
![DRC Home page](https://user-images.githubusercontent.com/13888372/89034073-84ed6080-d338-11ea-8ca5-74874540f333.jpg)

here it is although I also get the AWS Access Key Id you provided does not exist in our records error

[2020-07-31 12:18] charlesyoung commented on #1311
The error message "The AWS Access Key Id you provided does not exist in our records" indicates that there's an issue with the credentials that you're using. The access key that you're using might have been deleted, or the associated AWS Identity and Access Management (IAM) role or user might have been deleted.

[2020-07-31 12:20] charlesyoung commented on #1299
Many thanks

[2020-07-31 12:24] man-git007 commented on #1311
@charlesyoung For now, the image has been updated manually. Need to work on the AWS credentials in the env file.

cc @anjesh

[2020-07-31 12:27] charlesyoung commented on #1311
OK thanks, I might find a better image next week. Have a good weekend.

[2020-07-31 13:14] SamCCSI commented on #1096
Working well, thanks!

[2020-08-04 05:02] man-git007 commented on #1249
@charlesyoung If this is all done, we can close this issue.

[2020-08-04 05:02] man-git007 commented on #1299
@charlesyoung Can we close this issue?

[2020-08-04 05:03] man-git007 commented on #1282
@charlesyoung Please send the links for each country site.

[2020-08-04 05:40] man-git007 commented on #1307
@jedm For the text wrap around the image, we can have the read more option in the text.

cc @sweta-shrestha @nirvanalama

[2020-08-04 06:39] jedm commented on #1307
Thanks, Manish. But I think @nirvanlama solution in the design is ok. Does
that work for you?

On Tue, Aug 4, 2020 at 1:41 AM Manish Pradhan <notifications@github.com>
wrote:

--
Jed Miller | @jedmiller <http://twitter.com/jedmiller>
m +1.917.584.2349 | s @jedbmiller
www.jedmiller.com

[2020-08-04 07:20] charlesyoung commented on #1282
@SamCCSI are you happy for us to close this ticket?

[2020-08-04 07:21] #1299 closed

[2020-08-04 07:22] charlesyoung commented on #1249
I will close it for now but will request the removal of the password protection when the client gives the approval.

[2020-08-04 07:23] charlesyoung commented on #1301
@anjesh @candrei what is the latest re this ticket?

[2020-08-04 07:24] charlesyoung commented on #1309
@SamCCSI is this still a problem?

[2020-08-04 07:33] man-git007 commented on #1307
@jedm Yes, it does. We will work on it.

[2020-08-04 10:19] man-git007 commented on #1305
@charlesyoung Do we need this page in FR and AR language?

[2020-08-04 10:22] charlesyoung commented on #1305
Let me check and come back to you.

[2020-08-04 10:24] charlesyoung commented on #1282
@man-git007 is there anything we can do about page caching. Nicola was asking me yesterday why her site text updates weren't reflecting and I have had this on numerous occasions. The only way to see the updates is to clear the cache which is far from ideal.

[2020-08-04 10:28] nirvanalama commented on #1305
@charlesyoung If the research and analysis page is very important it can be placed at the top right otherwise it would be appropriate in the footer section.

We think the blue or the green color would be better for the boxes, we do not suggest using orange as it is a very prominent color.

Here is the final design:
https://www.figma.com/file/OK1BSOpfKTokEoBZYQCXss/RC__UI_v2?node-id=553%3A49

[2020-08-04 10:38] charlesyoung commented on #1305
Many thanks, I will get back to you with comments.

[2020-08-04 11:46] candrei commented on #1301
@charlesyoung the upgrade is straightforward on our end, the biggest risk would be the possible incompatibilities of the application with the most recent version of Elasticsearch.

@anjesh could we support you in giving Elasticsearch 7.6+ a try? We could set up a clone version of the staging instance running the most recent version of Elasticsearch and give it a go with on staging for a couple of

[2020-08-04 12:07] birendragurung commented on #1297
@charlesyoung We have developed the backend for managing research links. Please go through the admin panel and provide us feedback about any improvements.

cc: @man-git007

Main page
![Screenshot from 2020-08-04 17-50-06](https://user-images.githubusercontent.com/13505748/89291854-fc91f700-d67a-11ea-9296-7765dbb76548.png)

Text configuration page (for heading and description)
![Screenshot from 202

[2020-08-04 13:31] charlesyoung commented on #1297
Is this just to create the 3 R&A boxes? I created 3 titles but how do I add descriptions to each title (if I understand it correctly)?

![image](https://user-images.githubusercontent.com/13888372/89299603-2e00c780-d667-11ea-8ef7-18d5d24c70e4.png)

[2020-08-05 04:58] birendragurung commented on #1297
@charlesyoung
- As discussed in the TOR in #1305 , the admin can add/edit URL with title that will be shown in research and analysis page.
- These links can be set as featured by going to `Featured` page which will then be shown in the 3 boxes on the page.

cc: @man-git007

[2020-08-05 06:54] charlesyoung commented on #1297
OK. I will test once we have a page where I can see the results.

[2020-08-05 07:53] charlesyoung commented on #1305
Comments below.

- FR and AR language translations will be required
- Will the boxes enlarge when you hover over as on the home page (question asked before)
- Box colour should be blue
- We will get back re the link location but it will most probably be on the top right

[2020-08-05 08:04] charlesyoung commented on #1282
@man-git007 any ideas on page caching.? I had another NRGI person contact me this morning asking about changes not reflecting. I don't have this issue on other sites I manage.

[2020-08-05 08:04] man-git007 commented on #1282
@charlesyoung We can either remove the cache for homepage or we can reduce the duration of caching

[2020-08-05 08:33] man-git007 commented on #1305
@charlesyoung Yes, the boxes will enlarge upon hover, same as that of on the new homepage.

[2020-08-05 09:46] charlesyoung commented on #1282
I'm no technical expert but removing cache completely is surely a poor suggestion. So we remove the cache and it allows administrators to see updates but negativity impacts 99% of the other users of the site.

Can you please consider a more elegant approach? Can we not run a backend script to remove cache, of a specific page, every time a update is activated? I know that this is done on other site

[2020-08-05 09:50] man-git007 commented on #1282
@charlesyoung I am also suggesting removing cache on the homepage. We can remove the cache just for the text updates on the homepage. The rest of the caching we will leave as it is.

[2020-08-05 10:14] charlesyoung commented on #1296
@birendragurung I have been asked to find out if it will be simple to change reference to annotated and annotation_category in the search results URLs.

- Selecting the 'Tagged Contracts only' [box](https://www.resourcecontracts.org/search/group?q=&annotated=1)
- Selecting a key clause from the drop down [menu](https://www.resourcecontracts.org/search/group?q=&annotation_category%5B%5D=Arbitration

[2020-08-05 10:17] charlesyoung commented on #1282
So just to confirm, will removing cache (for the text) only happen when an update takes place or each time?

[2020-08-05 10:49] charlesyoung commented on #1296
It also relates to other parts if the site like below.

![image](https://user-images.githubusercontent.com/13888372/89403689-01a58380-d719-11ea-8070-767988c0e87d.png)

[2020-08-05 11:34] charlesyoung commented on #1307
Guys how close are we to implementing the new guides page?

[2020-08-05 18:22] jedm commented on #1282
It would be good to see several screenshots of preview for how partial page
load will look for admins and non-admins before we deploy a workaround like
this.

On Wed, Aug 5, 2020 at 6:17 AM Charles Young <notifications@github.com>
wrote:

--
Jed Miller | @jedmiller <http://twitter.com/jedmiller>
m +1.917.584.2349 | s @jedbmiller
www.jedmiller.com

[2020-08-06 03:50] man-git007 commented on #1282
@charlesyoung We have deployed the removal of cache upon text update. Could you please check on the live server by changing the text. If the text changes without any hard refresh on the site, then it is working.

[2020-08-06 03:55] man-git007 opened #1312 "Child contract reindex in ES upon change in admin side"
## Why
Child contract may vary in subsite listing page

## What
Child contract should be reindexed in ES if its parent contract changes

## Notes
Need to automate the indexing of child contract or need to manually reindex from admin site via publish/unpublish feature

[2020-08-06 05:55] birendragurung commented on #1296
@charlesyoung Do we replace the term 'Annotations' with 'Tags'?

[2020-08-06 07:48] charlesyoung commented on #1096
@man-git007 I was asked a couple of weeks ago and forgot to raise it but the same question was raised again yesterday.

Can we update the Excel metadata download file to mimic the document grouping? The current download presents a random list of contracts that aren't grouped.

@anjesh we can use buffer funds for this task. How much time will be required?

[2020-08-06 08:10] charlesyoung commented on #1282
Thanks, will test and revert.

[2020-08-06 08:46] charlesyoung commented on #1296
Thanks @birendragurung

Can you also please check the export of a key clause search to Excel. When I run a search on a key clause like bonuses, as noted below, it finds 185 documents but the download Excel file is empty.

![image](https://user-images.githubusercontent.com/13888372/89511211-e6e31580-d7d1-11ea-975e-2bfbd18ed620.png)

[2020-08-06 12:18] charlesyoung commented on #1301
@anjesh ??

[2020-08-06 12:20] #1109 closed

[2020-08-06 12:22] charlesyoung commented on #1102
@JesseCCSI can this ticket be closed?

[2020-08-06 12:45] charlesyoung commented on #1061
@man-git007 ??

[2020-08-06 12:45] #996 closed

[2020-08-06 12:46] #987 closed

[2020-08-07 07:45] charlesyoung commented on #1305
Will it be possible to get your design feedback on placing the R&A box on the top right of the box. See attached PowerPoint with 2 examples. The first example could be a bit more translucent like the popular searches box. Right now it’s fully opaque so that might affect the look.

[RA title location-NW.pptx](https://github.com/NRGI/resourcecontracts.org/files/5039958/RA.title.location-NW.pptx)

[2020-08-07 07:51] birendragurung commented on #1297
@charlesyoung Can you provide the background image for this page?
Also, should the admin be able to change the background image or will it be static?

[2020-08-07 08:32] charlesyoung commented on #1297
A background image for the top area or the entire page?

[2020-08-07 08:35] birendragurung commented on #1297
@charlesyoung It's the one illustrated on the design here in https://github.com/NRGI/resourcecontracts.org/issues/1305#issuecomment-668516649

[2020-08-07 08:40] charlesyoung commented on #1297
Let me find out.

[2020-08-07 10:11] man-git007 commented on #1061
@charlesyoung The search filed placeholder mentioned by @SamCCSI has been updated and deployed in live server. The screenshots are attached below.
![Screenshot from 2020-08-07 15-54-09](https://user-images.githubusercontent.com/23434972/89635243-6a7e2e80-d8c6-11ea-9689-975bc85103b7.png)
![Screenshot from 2020-08-07 15-55-47](https://user-images.githubusercontent.com/23434972/89635292-7d90fe80-d8c6

[2020-08-07 11:23] man-git007 commented on #1307
@charlesyoung @SamCCSI @jedm
We have completed the guide page and deployed it in RC and OLC staging sites. Please check it once and provide the feedback.

**The steps to edit new guide page are mentioned below**

You can edit the text from the editor itself. But to change the styling we need to update via source code which is in the `Tools` section in the editor.

The changes that can be done are

[2020-08-07 14:16] charlesyoung commented on #1307
Thanks @man-git007 Is there a way to reduce the space between the sections?

![image](https://user-images.githubusercontent.com/13888372/89654472-001abd80-d8c9-11ea-9a9d-3ac32fbe5f3c.png)

[2020-08-10 06:05] anjesh opened #1313 "Mimicing document grouping in Excel download (RC only)"
Followup from https://github.com/NRGI/resourcecontracts.org/issues/1096#issuecomment-669769539, document grouping is implemented in the main site however in excel download, the documents are listed randomly. It would be good to have similar listing in the excel.

[2020-08-10 06:05] anjesh commented on #1096
Created new issue to discuss document grouping in Excel https://github.com/NRGI/resourcecontracts.org/issues/1313 and closing this issue.

[2020-08-10 06:05] #1096 closed

[2020-08-10 06:08] anjesh commented on #1313
@charlesyoung could you give us some idea on how you are thinking about grouping in excel. Just maintain the order only or have some kind of grouping within excel (need to think what that would look like though).

cc @man-git007

[2020-08-10 06:30] anjesh commented on #1301
We haven't looked into this. Will be doing research this week and see what are the changes that needs to be done for the upgrade.

[2020-08-10 06:39] anjesh commented on #1311
@charlesyoung just that you know this is manually fixed for now, so any changes in future needs to be manually fixed again, unless it gets auto-deployed along with other country sites. We spent 5 hours in getting this site updated and fixed.

[2020-08-10 06:42] anjesh commented on #1312
This fix will ensure that when the parent contract changes child contracts, the child contracts also get auto-indexed without having to find the child contracts and manually re-publish it inorder to list it under new parent contracts. Currently this has caused some confusions in the search result.

[2020-08-10 07:06] anjesh commented on #1307
I thought the guide page was for OLC only. Is RC also looking to have similar structure, @charlesyoung?

[2020-08-10 12:31] SamCCSI commented on #1309
The tally problem has been resolved.

But when the main doc is not a search result it should appear greyed out -- right now it is in black.

![image](https://user-images.githubusercontent.com/12913915/89782734-d689ae00-dae3-11ea-859f-218f28b76a27.png)
![image](https://user-images.githubusercontent.com/12913915/89782747-da1d3500-dae3-11ea-8f27-3479f162bdcb.png)

[2020-08-10 13:10] SamCCSI commented on #1282
@charlesyoung confirming that the issues I flagged about home page loading and listing of recent docs appear to be working nicely now.

[2020-08-10 13:46] charlesyoung commented on #1282
Yes @SamCCSI the issues you noted looks good.

Just want to keep this open to run final tests on the caching update.

[2020-08-10 13:49] charlesyoung commented on #1307
I was asked to provide feedback so I did. Anyway I wound comment on this ticket again.

Is this not built on shared code?

[2020-08-10 14:15] anjesh commented on #1307
Yes, it's just the HTML/CSS using editor in the subsite admin. I just wanted to ensure that we don't update RC content in production when staging is finalized.

[2020-08-10 14:16] charlesyoung commented on #1313
This is how it currently downloads the data (random)

![image](https://user-images.githubusercontent.com/13888372/89789889-803b6000-db21-11ea-9f6e-3ac8a180c57b.png)

We could look at removing the Category column and replacing it with a new column named 'Association' which notes either Main or Supporting. Signature Date could also be moved. The ordering, etc should be the same as how the document g

[2020-08-10 14:21] SamCCSI commented on #1307
@anjesh for text edits to guides page how much would it cost to build in a user-friendly text edit function, like we have for current / older guides page? Asking because if we edit code, there is the risk that we introduce errors (and we're not trained in coding)

[2020-08-10 14:22] SamCCSI commented on #1307
cc @man-git007

[2020-08-10 14:26] jedm commented on #1307
@anjesh, I like @samccsi question. We have emphasized CSS and styles in our
specifications about the Guides because the goal is to make it easy to add
blocks that are automatically in format (including body text styles,
colors, links, line spacing, margins, etc.). Is it possible/easy to make
format rules more automatic?

On Mon, Aug 10, 2020 at 10:22 AM SamCCSI <notifications@github.com> wrote:

-

[2020-08-11 06:07] charlesyoung commented on #1297
@birendragurung we are happy with the current image but would want a backend tool allowing us to update the image in the future.  

[2020-08-11 12:23] #1311 closed

[2020-08-11 12:27] charlesyoung commented on #1301
@anjesh how much time will your research require?

[2020-08-12 03:56] birendragurung commented on #1297
@charlesyoung The new design has been deployed to staging server. Please review and provide feedbacks.

cc: @man-git007

[2020-08-12 03:58] birendragurung commented on #1296
@charlesyoung The above mentioned changes regarding annotation terms have been deployed to staging server. Please review and let us know if to deploy to production.

cc: @man-git007

[2020-08-12 05:45] birendragurung commented on #1297
@charlesyoung We added the link for the page on top right position of the page. On mobile layout, the link does not look good. Could we add it only to the footer and sidebar?

Here are the screen shots on how it appears on the screen.

Added on top right:
![Screenshot from 2020-08-12 11-24-26](https://user-images.githubusercontent.com/13505748/89979061-94e93680-dc8e-11ea-9b6a-e556cc2a848a.png)

On

[2020-08-12 07:48] charlesyoung commented on #1297
Thanks @birendragurung

How much control do we have over the mobile display? The issue is that its not that obvious in the footer.

[2020-08-12 08:00] charlesyoung commented on #1296
Thanks. Please deploy to Prod.

[2020-08-12 08:15] birendragurung commented on #1297
@charlesyoung Alternatively we can hide the link on smaller screens.

[2020-08-12 08:19] charlesyoung commented on #1297
So that's what I'm asking. Can we show the R&A link differently on mobile devices? I wouldn't hide the link with 35% of users (in 2020) accessing RC on mobile devices.

[2020-08-12 08:28] charlesyoung commented on #1296
Sorry please hold. Only noticed your 'Do we replace the term 'Annotations' with 'Tags'?' question now.

[2020-08-12 08:31] charlesyoung commented on #1296
So 'Annotations' should be names 'Key Clauses'.

[2020-08-12 13:18] anjesh commented on #1307
@SamCCSI @jedm  That's a very good idea, but the content is not structured and different pages might have different requirements.

## Option 1

If we are able to make the content structured, then it might be bit easy to develop such CMS. For example, we did specific CMS for this page https://staging.resourcecontracts.org/research-and-analysis where the admin enters each link and can choose which l

[2020-08-12 13:19] anjesh commented on #1301
We are planning to spend around 6-8 hours on the research part. @man-git007 has already started and will have something to share by early next week.

[2020-08-12 13:22] birendragurung commented on #1296
@charlesyoung 'Annotation category' is replaced by 'Key clauses'. Will it be same for 'Annotation' also?

[2020-08-12 13:25] charlesyoung commented on #1301
@anjesh we only have 5 hours left of savings. Can @candrei not help out?

[2020-08-12 13:34] charlesyoung commented on #1296
We need to keep things consistent. The search page notes 'Key Clauses'
![image](https://user-images.githubusercontent.com/13888372/90021024-fd490f80-dcb0-11ea-8fcd-b2385db24e71.png)

So this needs to be replicated below.
![image](https://user-images.githubusercontent.com/13888372/90021078-0cc85880-dcb1-11ea-9570-3a14a871e5fe.png)

[2020-08-12 15:28] candrei commented on #1301
@charlesyoung we can help if needed yet I think it would be inefficient to split the investigation between both teams. I would try to find a solution where YI can fully complete the research since they are the most knowledgeable of the code.

[2020-08-13 04:24] man-git007 commented on #1312
@anjesh Deployed to the production site and issue closed.

[2020-08-13 04:24] #1312 closed

[2020-08-13 05:17] anjesh commented on #1312
spent around 6 hours of work in fixing this.

[2020-08-13 05:18] anjesh commented on #1313
This might take around 7-10 hours.

[2020-08-13 05:52] birendragurung commented on #1297
@charlesyoung
Since the header feels compact on mobile device screens, we have three possible solutions for what you are proposing:

1. Can we rename to 'Research links' such that it occupies less space on the header?
2. We can add the link to sidebar hamburger menu also and mobile screens will be able to view the link there.
3. Another alternative would be to rethink and redesign the header such

[2020-08-13 06:08] charlesyoung commented on #1312
Thanks. OK so we have used up all of the buffer budget.

[2020-08-13 06:09] charlesyoung commented on #1313
Please hold.

[2020-08-13 06:37] charlesyoung commented on #1297
OK thanks, let me get back to you. Can you confirm that for the mobile view you could only have the R&A link in the side menu?

Can you in the interim look at below.
- Do we open the window in a new window or open in the current window?
- Which of the 2 options in attached PowerPoint works?
- Can you remove the 'underline', like the language links, when clinking on the link

![image](https://user-

[2020-08-13 06:45] birendragurung commented on #1297
@charlesyoung
1. Currently the link opens in the same window.
2. Could you explain more about this?
3. Yes, it can be done.

[2020-08-13 06:50] charlesyoung commented on #1297
@birendragurung
1. What do you suggest?
2. Which option is preferred from a design point of view? @nirvanalama

![image](https://user-images.githubusercontent.com/13888372/90102940-f8806c00-dd41-11ea-933b-295b87d8145a.png)

![image](https://user-images.githubusercontent.com/13888372/90102961-033b0100-dd42-11ea-8ba8-1da825e22e62.png)

[2020-08-13 06:53] birendragurung commented on #1297
@charlesyoung
1. I would suggest to open on new window.

[2020-08-13 06:59] charlesyoung commented on #1297
Agree

[2020-08-13 09:45] man-git007 commented on #1061
@charlesyoung @SamCCSI Is there anything left in this ticket? If not let's close this ticket.

[2020-08-13 09:50] charlesyoung commented on #1061
@SamCCSI ??

[2020-08-13 12:47] #1061 closed

[2020-08-14 05:25] nirvanalama commented on #1297
@charlesyoung Option two looks good but with the RC system font "Open sans" @birendragurung oPEN

[2020-08-14 05:30] birendragurung commented on #1297
@charlesyoung
- We can hide the 'Research and analysis' link in header in mobile view and show in sidebar (in both desktop and mobile view).

- Also, we'll implement this on the link in header.

![](https://user-images.githubusercontent.com/13888372/90102961-033b0100-dd42-11ea-8ba8-1da825e22e62.png)

[2020-08-14 06:52] charlesyoung commented on #1297
Thanks both. Good that I know that we can hide the link on the mobile view. Can I ask that you include it for now so that I can get internal agreement that it should be hidden. Thanks

[2020-08-14 08:00] birendragurung commented on #1297
@charlesyoung Do you mean we do not hide the link on mobile screens for now?

[2020-08-14 08:02] charlesyoung commented on #1297
Yes please. I would first like to show NRGI the mobile view as is before we hide the link.

[2020-08-14 12:50] birendragurung commented on #1297
@charlesyoung
We have made changes according to your suggestions. Following things have been implemented:
- Research and analysis link on top right of the screen with border
![Screenshot from 2020-08-14 18-21-06](https://user-images.githubusercontent.com/13505748/90249894-fb22b480-de5a-11ea-9c08-fe43d4c9936b.png)

- The Research and analysis link is visible in all screen sizes (mobile and desktop)

[2020-08-14 12:53] birendragurung commented on #1296
@charlesyoung The term 'Annotation' has been replaced by 'Key clauses' for RC as per your suggestion. Please let us know if we are ready to go for deployment to production

cc: @man-git007