[2015-12-18 06:21] #661 closed

[2015-12-18 09:23] anjesh commented on #565
This [spreadsheet](https://docs.google.com/spreadsheets/d/15k-7NCkgu1p2eKgWGZnykASLQoa4gR6fOLskV8mdOhY/edit?ts=566690b1#gid=509295652) contains the changes that need to be done in the annotations categories.

There are few annotations for which the annotation header is selected and these needs to be mapped. The [spreadsheet is here](https://docs.google.com/spreadsheets/d/15k-7NCkgu1p2eKgWGZnykASLQ

[2015-12-18 09:51] charlesyoung commented on #565
We will need further discussion on the Philippines EITI annotations request.

[2015-12-18 13:44] anderspeders commented on #744
Deploy test docker - using slice for Sierra Leone...

[2015-12-18 14:10] anderspeders opened #745 "Translated Contract - document type?"
What is best practise for indicating when a contract appear as a translation of the original.

Use case:
As X government agency we wish to publish contracts and related documents in the official language and in the language of locally impacted comminities.

@jpmckinney Any thought here?

[2015-12-18 14:12] anderspeders opened #746 "Document type: contract --> contractSigned?"
OCDS seems to have a taxonomy for that includes signed contract. this should fit with RC right?

http://ocds.open-contracting.org/standard/r/1__0__RC/en/schema/codelists/#document-type

@jpmckinney ?

[2015-12-18 14:48] jpmckinney commented on #746
Sure. In general I'm not too picky about what makes it into a code list. Some criteria are:

* Is it needed by a clear use case? (Will the value of the system be lower for that use case if the code is missing? Will its absence prevent some use cases?)
* Is it clearly distinct from other codes? (Is its meaning clear? Will people accidentally use this code when they should be using another? Is it, i

[2015-12-18 14:55] jpmckinney commented on #745
In the schema, there is currently a boolean property `translation_from_original` (proposed renaming to is_translation). However, this doesn't establish any link between the translation and the original.

In general, it depends on whether the two versions of the contract have the same force. In Canada, laws are in English and French, and both have the same force. In some jurisdictions, they may tra

[2015-12-18 17:19] anderspeders commented on #745
I would assume that most of the use cases will relate to "was derived from".

@samCCSI @KaitlinCCSI ?

[2015-12-18 21:29] anderspeders commented on #548
Closing

[2015-12-18 21:29] #548 closed

[2015-12-18 21:37] anderspeders commented on #694
As requested by @KaitlinCCSI, please provide mock ups of:
a) How this would look on the front end and
b) How  on the back end for an annotating user including workflow

[2015-12-18 21:39] anderspeders commented on #713
This will be addressed with a call based on group approved changes in this document:
https://docs.google.com/spreadsheets/d/15k-7NCkgu1p2eKgWGZnykASLQoa4gR6fOLskV8mdOhY/edit#gid=1269728352

Once changes are signed off in the document YI will implement.

[2015-12-18 21:41] anderspeders commented on #725
Thanks @SamCCSI

Change requests should go here for sign off by RC-group:
https://docs.google.com/spreadsheets/d/15k-7NCkgu1p2eKgWGZnykASLQoa4gR6fOLskV8mdOhY/edit#gid=509295652

[2015-12-18 21:42] anderspeders commented on #721
These corrections will need to go into this sheet for change requests:
https://docs.google.com/spreadsheets/d/15k-7NCkgu1p2eKgWGZnykASLQoa4gR6fOLskV8mdOhY/edit#gid=509295652

[2015-12-18 21:45] anderspeders commented on #706
It would be great to hear the view of Perrine and team,

I would tend to vote Document type above Contract type, but do not have a strong opinion.

[2015-12-18 21:48] anderspeders commented on #677
I just checked all pages and it loaded fine for me. Could you confirm if this is still an issue?

[2015-12-18 21:50] anderspeders commented on #565
All change requests in this thread should be tracked in this google doc: https://docs.google.com/spreadsheets/d/15k-7NCkgu1p2eKgWGZnykASLQoa4gR6fOLskV8mdOhY/edit#gid=509295652

[2015-12-20 02:08] jpmckinney commented on #729
See also #730

[2015-12-21 00:43] SamCCSI commented on #725
Thanks @anderspeders I've added this request to Row 16 of the tab entitled "Annotation category"

[2015-12-21 00:55] SamCCSI commented on #745
There are some DRC RC contracts where both ENG and FRE versions are listed as official versions & presumably therefore have the same force.

We also have unofficial translations of contracts, which, as Anders suggests would come within the "derived from" category.

One question: we can only have one "main contract", so how do we decide on which is the "main" contract in circumstances like the DRC

[2015-12-21 13:37] anderspeders opened #747 "OCID identifiers: two types of ids"
My understanding is that the RC.org system will need two types of OCID:
- an overall OCID which covers the entire contract with all documents related to the document
- a "release ID" (not sure if this is the correct term, which would provide OCID for each document within a contract group (for example an Environmental Impact Assessment)

I recall that @anjesh might have outlined a process for this,

[2015-12-21 13:38] anderspeders opened #748 "What happens to the OCID if a contract is changed from Main document to associated document?"
We need clarity, and possibly rules, on what will happen with OCID if a contract is changed from Main Document to Associated Document or vice-versa.

cc @jpmckinney @anjesh

[2015-12-21 13:55] jpmckinney commented on #748
It depends on the semantics of the field, but my understanding is that it is used to identify the contracting process to which the document is associated, in which case it doesn't change.

[2015-12-21 15:25] KaitlinCCSI commented on #677
Not happening today. Checked a second one as well and seems fine now.

Note requested change to message as well. The message should be changed to "Loading PDF page X" rather than "Loading pdf pageX". In other words, PDF should be all caps, and there should be a space between "page" and the number.

[2015-12-21 15:52] jpmckinney commented on #736
`documentcloud_url` should be moved here as another `url` and `media_type` block, with `media_type` of `text/html`.

[2015-12-21 16:10] jpmckinney commented on #733
For compatibility with OCDS, `contract_id` and `Document.id` can remain strings.

[2015-12-21 17:56] jpmckinney commented on #740
I'm thinking `is_ocr_reviewed` should be a property of the `text/plain` entry in the file list described in https://github.com/NRGI/resourcecontracts.org/issues/736 in which case perhaps `is_reviewed` is more reusable.

[2015-12-21 19:15] jpmckinney opened #749 "What is the source for the resource code list?"
In the [draft Extractives extension](https://docs.google.com/document/d/1uPXFXTRXXc2zi3vo_arrWm_c_gW6KSPG5aAlD2ri5rw/edit#heading=h.fa1zfnxxx6m7), I note that the IMF recommends the [Central Product Classification (CPC) Ver.2.1](http://unstats.un.org/unsd/cr/registry/cpc-21.asp).

/cc @anderspeders

[2015-12-21 19:53] jpmckinney commented on #721
Note that there is no overlap with the [OCDS code list](http://ocds.open-contracting.org/standard/r/1__0__0/en/schema/codelists/#document-type), although there could be greater overlap with some simple renaming. (OCDS doesn't use spaces in its codes.)

[2015-12-21 19:54] jpmckinney commented on #720
Note that there is no overlap with the [OCDS code list](http://ocds.open-contracting.org/standard/r/1__0__0/en/schema/codelists/#document-type), although there could be greater overlap with some simple renaming. (OCDS doesn't use spaces in its codes.)

See also the [code list that was prepared as part of the draft Extractives extension](https://docs.google.com/spreadsheets/d/1nniKoHvLdpctJq19l8-VY

[2015-12-22 00:03] jpmckinney commented on #747
Hmm, I don't think that's how release ID works. Release ID is only if you are following the specific data publication process anticipated by OCID - which this project is not. I think this project can only implement `ocid`.

[2015-12-22 00:56] SamCCSI commented on #706
This is to confirm that Document Type should be mandatory.

If it is possible to make contract type mandatory only when document type = contract, that would be ideal. Otherwise, contract type should not be mandatory (and we will stress in guidance that annotators must fill in contract type when document type = contract).

[2015-12-22 21:52] jedm commented on #708
Dear @anjesh,

I think this is a very good direction to explore for the annotation plugin you are working on.

My recommendation for priorities would be 1) simplicity of UX for selecting "parallel" locations in the text and PDF image (maybe with 2 panes open at same time, for instance) and 2) maximum ease and stability on the back end for saving locations in images and corresponding location in te

[2016-01-04 00:38] SamCCSI opened #750 "Display of associated documents"
If a main contract has 4 related contracts (contracts A, B, C, D), all 4 will appear as "Associated documents" on the main contract's contract view page.

1. If I click on contract A, the main contract will be will appear under "Associated documents" on the contract's contract view page. Contracts B, C and D should also appear as Associated documents to contract A. (These three contracts are relat

[2016-01-05 10:46] anjesh commented on #692
Font size included in the editor
![image](https://cloud.githubusercontent.com/assets/120488/12113277/d0ff09ee-b3c9-11e5-9701-137b5205c7a3.png)

[2016-01-05 19:11] jedm commented on #116
@anjesh and @anderspeders Am now completing slides to recommend UX for pinning and comparison (merged under the term "Clipping"). Regarding the above thread, do we assume each user has their own Pins? If so, is this based on cookies? Otherwise we are creating the need for user login, yes? Because how would the system know whose pins are whose?

[2016-01-07 08:06] sadhakbj commented on #739
You can see the last API for metadata here http://rc-api-stage.elasticbeanstalk.com/api/contract/1152/metadata

[2016-01-07 08:06] #739 closed

[2016-01-07 08:07] #738 closed

[2016-01-07 08:08] sadhakbj commented on #737
- Done
The new API can be checked on the link: http://rc-api-stage.elasticbeanstalk.com/api/contract/1152/metadata

[2016-01-07 08:08] #737 closed

[2016-01-07 08:08] sadhakbj commented on #736
- Done
Check the API on the following link:
http://rc-api-stage.elasticbeanstalk.com/api/contract/1152/metadata

[2016-01-07 08:08] #736 closed

[2016-01-07 08:09] sadhakbj commented on #735
- Done
Check the latest API on the following link:
http://rc-api-stage.elasticbeanstalk.com/api/contract/1152/metadata

[2016-01-07 08:09] #735 closed

[2016-01-07 08:28] sadhakbj commented on #734
The peoperties are renamed as:
[code]
The link to the API is: http://rc-api-stage.elasticbeanstalk.com/api/contract/1152/metadata

[2016-01-07 08:28] #734 closed

[2016-01-07 08:31] sadhakbj commented on #733
Done.
Link to the wiki of our API Page:
https://github.com/NRGI/resourcecontracts.org/wiki/Contract-Metadata-API

[2016-01-07 08:41] sadhakbj commented on #732
Fixed.

Please check the latest API here:
http://rc-api-stage.elasticbeanstalk.com/api/contract/1152/metadata

[2016-01-07 08:43] sadhakbj commented on #731
Done.

[2016-01-07 08:43] #731 closed

[2016-01-07 08:43] #729 closed

[2016-01-07 08:44] #728 closed

[2016-01-07 08:44] #727 closed

[2016-01-07 08:47] sadhakbj commented on #700
- Fixed.
![700_issue_fixed](https://cloud.githubusercontent.com/assets/5828622/12166097/7aabe322-b54b-11e5-9f36-1462fd40636a.png)

[2016-01-07 08:47] #700 closed

[2016-01-07 08:48] #654 closed

[2016-01-07 08:54] sadhakbj commented on #672
![Uploading log_implemented.png…]()
- Log Implemented.

[2016-01-07 08:54] #672 closed

[2016-01-07 09:05] sadhakbj commented on #741
The new API can be viewed on the following link: http://rc-api-stage.elasticbeanstalk.com/api/contract/1152/metadata

[2016-01-07 09:05] #741 closed

[2016-01-07 09:06] sadhakbj commented on #740
Link to new API: http://rc-api-stage.elasticbeanstalk.com/api/contract/1152/metadata

[2016-01-07 09:31] anjesh commented on #665
This OCID doesn't exist in the system, this must have been there during the testing of OCID generation. Now there are 5 TZ (tanzania) contracts and don't have this OCID in any one of them.

[2016-01-07 09:31] #665 closed

[2016-01-07 10:15] charlesyoung opened #751 "Loading a contract"
Issue when loading a contract.

http://www.resourcecontracts.org/contract/ocds-591adf-CD7524880304RC/view

[2016-01-07 13:22] jpmckinney commented on #733
It looks like booleans are still `0` and `1` instead of `true` and `false`.

[2016-01-07 13:23] jpmckinney commented on #732
I still see `deal_number` and `matrix_page` - and no one has explained what those are for.

[2016-01-07 13:24] jpmckinney commented on #730
Why was the term `supporting` chosen in favor of `related`?

[2016-01-07 13:26] jpmckinney commented on #740
I thought `category` was being removed from the API response, so that it would only exist in the API query string parameters?

[2016-01-07 14:08] jpmckinney opened #752 "amla_url and source_url"
I don't know why `amla_url` and `source_url` were collected under `url` as `amla` and `source`. Those two properties do not form an object in terms of modeling. They are just two properties of the document (there is no new intermediate object in terms of modeling). So, there are two options:

1. Keep `amla_url` and `source_url` as top-level properties as before
2. Change the `url` property to a `l

[2016-01-07 14:40] jpmckinney commented on #733
New issues:

* `parent.id` and `supporting.id` should be `integer` like `id`
* `share` is inconsistently a string or a number
* `concession.name` is sometimes `null`, whereas similar properties use the empty string `""`

[2016-01-07 15:00] jpmckinney opened #753 "Rename participation.company.opencorporates_link"
Rename `participation.company.opencorporates_link` to `participation.company.opencorporates_url` to be consistent with other URL properties.

[2016-01-07 16:26] KaitlinCCSI commented on #732
Perhaps one/both related to "Land Matrix ID", which we haven't yet begun
filling out but will do this month for OLC?

On Thu, Jan 7, 2016 at 7:23 AM, James McKinney <notifications@github.com>
wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and Agriculture**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
435 West 116th St. New York, NY 10027
|

[2016-01-08 05:54] SamCCSI commented on #713
Hi all,

We have made changes to the document based on the following understanding of columns D and E:

1 - "annotation category" means the name of an annotation field. So, we only fill that in if the annotation name is changing -- see eg. Row 8. For the clusters, we leave this column blank, unless the name is changing like in Row 16. I have therefore deleted the entries of all clusters (except Ro

[2016-01-08 11:56] charlesyoung opened #754 "Annotation zooming"
The annotation box remains where it is, so when the document is zoomed, the box is misplaced as shown below.

![image](https://cloud.githubusercontent.com/assets/13888372/12197416/7e0e17d2-b60f-11e5-968e-1cb1d145307e.png)

![image](https://cloud.githubusercontent.com/assets/13888372/12197423/8e3984a2-b60f-11e5-9227-ad411edfbca9.png)

[2016-01-08 11:57] charlesyoung commented on #754
Linked to case #356

[2016-01-08 14:16] charlesyoung opened #755 "Associated documents"
Says 'No associated documents available' when there are well associated documents.

![image](https://cloud.githubusercontent.com/assets/13888372/12199719/143fe75e-b623-11e5-9bdc-d21a18e8e486.png)

[2016-01-10 23:14] SamCCSI commented on #713
Another question that has arisen re "New cluster":

Right now this column contains new substantive clusters that will be publicly displayed on the site (eg "General"). It also contains the cluster TYPE "organizational", which presumably will not be displayed on the site. Is this correct?

We have never defined cluster TYPEs before, so we want to make sure what the implications of this are before w

[2016-01-11 04:18] anjesh commented on #740
It's not clear whether the contract needs to be shown as RC or OLC in the country subsite. If it's not required, then we may remove it from the response.

[2016-01-11 04:22] anjesh commented on #732
Yes both are related to "Land Matrix" here https://github.com/NRGI/resourcecontracts.org/issues/606 and it's for OLC only and is displayed in the OLC site.

[2016-01-11 04:22] #732 closed

[2016-01-11 04:27] anjesh commented on #730
"related" sounds fit here and "is_associated_document" can also be changed to "is_related_document"

[2016-01-12 06:59] anjesh commented on #101
The new commenting UI fix is done. Please check and re-open if any issue.

![image](https://cloud.githubusercontent.com/assets/120488/12256965/2bb2a534-b92a-11e5-88de-086d885b0a1f.png)

[2016-01-12 06:59] #101 closed

[2016-01-12 07:03] anjesh commented on #752
I agree. Will go with option 1 then.
Keep amla_url and source_url separate.

[2016-01-12 07:06] anjesh commented on #751
@manishgs can you check why are we getting this
![image](https://cloud.githubusercontent.com/assets/120488/12257061/2422acaa-b92b-11e5-97d5-cb4755e8c5d6.png)

[2016-01-12 07:13] anjesh commented on #748
Associated document sets OCID using parent_id-release_id to identify with the main contract it is associated with. See https://github.com/NRGI/resourcecontracts.org/issues/583

If associated document is changed to main, then it gets new OCID following the https://github.com/NRGI/resourcecontracts.org/issues/173

[2016-01-12 07:25] anjesh commented on #743
@manishgs we have implemented the unicode in the workflow, can you check if this particular page is created before or after that implementation.

[2016-01-12 07:59] manishgs commented on #485
We have done following optimization to seed up page loading.

- Gzip enable on server by using .htaccess file [check here] (http://checkgzipcompression.com/?url=http%3A%2F%2Fresourcecontracts.org)
-  css and js files are bundled and  minified.

[2016-01-12 08:10] anjesh commented on #751
It appears that only the metadata for this contract is published and hence we are getting this error (though the error message is not meaningful here). Perhaps we can change the msg to something like "The contract text is not published yet. Please see the --link-to-summary-page-- metadata --link-end-- for now."

[2016-01-12 08:28] anjesh commented on #717
So far we haven't seen any instances of such errors now. Please re-open if you are not able to approve/reject the HIT assignment.

[2016-01-12 08:28] #717 closed

[2016-01-12 08:33] anjesh commented on #716
Are you still having this issue? I can't replicate this particular shifting of the page when viewing the contract view from the seach list.

[2016-01-12 08:43] anjesh commented on #704
This is done on purpose. The reason being if we show all the instances of the "search word" from the page, the results list will get long with the same page appearing multiple times. I am not sure if this can be considered best practice but it helps to narrow down the results list. perhaps more discussion is needed to decide how best to list the search results.

[2016-01-12 08:46] anjesh commented on #701
This particular mistakenly typed type is removed, but for full contract type list, consultation is needed as mentioned by anders. Will close this for now.

[2016-01-12 08:46] #701 closed

[2016-01-12 09:06] anjesh commented on #681
"Contract type" takes multiple values. If you select only "Other", then you will get a text-box to enter value for "Other" only. However if type already has some value than "Other", then the free-text box is not shown.

Previously we have a box where you may either select the values or type any open-text and later introduced separate text-box for the "other" selection. It's slightly confusing at t

[2016-01-12 09:08] anjesh commented on #680
You may change the category directly from the back end contract page. We have deployed this couple of months back and forget to get back.

![image](https://cloud.githubusercontent.com/assets/120488/12259210/3458190a-b93c-11e5-89d8-c406653f29d2.png)

[2016-01-12 09:08] #680 closed

[2016-01-12 09:10] anjesh commented on #678
Still showing some incorrect links in the google.

[2016-01-12 09:26] sadhakbj commented on #753
-Fixed.
https://github.com/NRGI/resourcecontracts.org/wiki/Contract-Metadata-API

[2016-01-12 09:26] #753 closed

[2016-01-12 10:12] sadhakbj commented on #733
- Fixed.

[2016-01-12 10:12] #733 closed

[2016-01-12 10:15] sadhakbj commented on #752
- Done.
You can check the API here: http://rc-api-stage.elasticbeanstalk.com/api/contract/1152/metadata

[2016-01-12 10:15] #752 closed

[2016-01-12 10:16] sadhakbj commented on #730
- Done.

[2016-01-12 10:16] #730 closed

[2016-01-12 10:51] sadhakbj commented on #469
- Done
![view_all](https://cloud.githubusercontent.com/assets/5828622/12261656/94eb7cc2-b94a-11e5-93dd-f8af3eaa052f.png)

[2016-01-12 10:51] #469 closed

[2016-01-12 14:11] charlesyoung commented on #751
Thanks @anjesh.

How many contracts have published metadata but not the contract text?

[2016-01-12 15:42] jpmckinney commented on #733
Some `year_signed` are still `""` instead of `null`.

[2016-01-13 06:22] manishgs commented on #743
We've implemented the unicode on sep 21, 2015. [commit] (https://github.com/manishgs/mTurkTask/commit/13c2a2f0022d5f02e554c7bb4d71ff2397919ec3)
The hit submitted on 2015-12-04 after unicode implementation.  [see detail here] (https://requester.mturk.com/mturk/manageHIT?HITId=3L2OEKSTW9YKQOQWZFX6580BWLI8YN)
When i tested last time on sandbox, unicode text were working fine.

[2016-01-13 07:45] charlesyoung commented on #751
It seems however that you can download both the text and PDF contract although it still needs to be published which is an issue.

http://www.resourcecontracts.org/search?q=DRC%2C+G%C3%A9camines%2C+MMR%2C+%5BSecakat%5D+-+Busanga+-+JVA+Amend+1%2C+2010&country=cd

[2016-01-13 08:01] charlesyoung opened #756 "Duplicate contracts"
Should we allow for the capture of duplicate contracts?

![image](https://cloud.githubusercontent.com/assets/13888372/12288373/854522ea-b9dc-11e5-8fb7-92f9c29136f2.png)

[2016-01-13 08:06] charlesyoung opened #757 "Contracts not available publicly"
I cannot find below contracts on the public RC site although metadata and some text are published.

![image](https://cloud.githubusercontent.com/assets/13888372/12288422/06b89a3c-b9dd-11e5-92b3-5055fc4b8fdf.png)

[2016-01-13 10:32] charlesyoung commented on #694
@anjesh can we get mock ups as requested? I had a call with Perrine and Joan Serrano today about annotating contracts for the Philippines and this was raised as a problem that needs to be addressed as soon as possible. We should also include Perrine in this discussion.

[2016-01-13 17:40] JesseCCSI commented on #692
Many thanks @anjesh - just also noticed that it looks like we can't change the font style anymore either. Is this a bug, as with the previous editor we did have the ability to change fonts? I've tried making additions to the FAQs today and they appear in a different style, which I can't change using the editor.

[2016-01-13 18:44] KaitlinCCSI commented on #704
More discussion would help, as it's not intuitive to me. Interested in thoughts from @jedm @byndcivilization @samccsi

[2016-01-13 18:45] KaitlinCCSI commented on #716
No longer having this problem.

[2016-01-13 18:46] #716 closed

[2016-01-13 18:52] jedm commented on #116
@anjesh any thoughts on this?

[2016-01-13 19:26] byndcivilization commented on #704
One option might just be to list the number of hits per page. Another might be to limit surrounding text to a shorter chunk.

[2016-01-13 19:28] JesseCCSI opened #758 "Contract text view > text not appearing"
When you click to view the text of certain contracts, the text does not appear - instead, a series of rectangles appears in place of text (see below). I've noticed this happening with a number of contracts, including the following:

- http://www.openlandcontracts.org/contract/ocds-591adf-LR8097649233OL/view#/text
- http://www.openlandcontracts.org/contract/ocds-591adf-ET5881570901OL/view#/text
- h

[2016-01-13 19:33] JesseCCSI opened #759 "Changes to annotations on backend not appearing on front end"
I added an annotation to this contract (http://www.openlandcontracts.org/contract/ocds-591adf-CD4492231156OL/view) on the backend about an hour ago - the change has still not appeared on the front end. I have clicked "publish all" several times on the backend, but this doesn't seem to have made a difference.

Many thanks.

[2016-01-13 19:54] JesseCCSI commented on #759
FYI I've also made changes to annotations of the following contracts, none of which have appeared on the front end:

- http://www.openlandcontracts.org/contract/ocds-591adf-KH3856397364OL/view
- http://www.openlandcontracts.org/contract/ocds-591adf-ET4854285702OL/view

[2016-01-13 21:10] jedm commented on #704
Agree with @byndcivilization re showing # of hits. Some sites use phrasing like "... and [X] more ..."

[2016-01-14 03:45] sadhakbj commented on #755
- Done
![755_done](https://cloud.githubusercontent.com/assets/5828622/12315296/6d8bf654-baa1-11e5-977b-8b59ca472395.png)

[2016-01-14 03:45] #755 closed

[2016-01-14 09:06] hello-deepak commented on #756
These two contracts have same title but they contain different pdf .
You can view here .

http://resourcecontracts.elasticbeanstalk.com/contract/1582/review
http://resourcecontracts.elasticbeanstalk.com/contract/1583/review

User can't upload same contract pdf twice but contract may have same title and other metadata. currently, we are only validating pdf file for contract duplication.

[2016-01-14 11:24] hello-deepak commented on #758
Recenty we have updated the api but the changes of "is_ocr_reviewed" has not reflected in subsite .
 So we have updated subsites and the problem is fixed now.

[2016-01-14 11:24] #758 closed

[2016-01-14 11:26] #756 closed

[2016-01-14 11:29] hello-deepak commented on #757
This is fixed. Now we can see these contracts in subsites.

[2016-01-14 11:29] #757 closed

[2016-01-14 12:41] anjesh commented on #744
Country subsite Docker is maintained in a separate repo here https://github.com/younginnovations/docker-rc-country-subsite and documentation in the same repo.

Demo site is here http://rc-site-demo.elasticbeanstalk.com/country/public/ but design and content  discussion is needed here.

[2016-01-15 03:57] anjesh commented on #759
This should be fixed now. Can you try once @JesseCCSI
We have recently updated our API metadata fields names and structures as per recommedations by James. And a minor system setting was missed. Thanks for pointing out. Please try and let us know if you still face issue. Closing this for now.

[2016-01-15 03:57] #759 closed

[2016-01-15 10:15] anjesh commented on #675
We are using uptimerobot to check if the system is running or not. It sends email to the group when the system goes down.

[2016-01-15 10:15] #675 closed

[2016-01-15 10:16] anjesh commented on #671
This shouldn't happen anymore.

[2016-01-15 10:16] #671 closed

[2016-01-15 10:19] anjesh commented on #670
This is fixed. Now there's only one edit/delete link

[2016-01-15 10:19] #670 closed

[2016-01-15 10:27] anjesh commented on #668
@anjhero lets discuss on this. I think we need to change the layout/structure of the header section (containing title, back link, breadcrumb, view document) to show the full title.

[2016-01-15 10:29] anjesh commented on #667
We will have both PDF and word download here.

[2016-01-15 10:32] anjesh commented on #658
We check for the pdf file for duplication. So there can't be two contracts with the same pdfs but they can have same contract name. This issue can be superceded by https://github.com/NRGI/resourcecontracts.org/issues/649. There has been discussion of standarding title.

[2016-01-15 10:32] #658 closed

[2016-01-15 10:35] anjesh commented on #657
We use "Associated Document" labels in subsites and also fixed the API field names.

[2016-01-15 10:35] #657 closed

[2016-01-15 10:47] anjesh commented on #645
This page content/messages need to be updated. Currently it says "We're sorry, there is a problem loading the contract. Please contact info-resourcecontracts@resourcegovernance.org to let us know, or check back later." when the contract text/pdf is not published. This needs to be changed.

When the text/pdf is not published, show this message

When the is_ocr_review flag is set to false, then we a

[2016-01-15 10:51] anjesh commented on #644
Fixed.
![image](https://cloud.githubusercontent.com/assets/120488/12351506/11cb97c4-bba6-11e5-90ca-fffec806d24c.png)

[2016-01-15 10:51] #644 closed

[2016-01-15 10:56] anjesh commented on #638
Currently we are showing this message
![image](https://cloud.githubusercontent.com/assets/120488/12351551/687500a6-bba6-11e5-868d-f4e6ac018e22.png)

learn more links to /faqs
Do we still want the above message you mentioned?

[2016-01-15 10:56] anjesh commented on #635
Fixed.

[2016-01-15 10:56] #635 closed

[2016-01-15 10:57] anjesh commented on #678
duplicate of https://github.com/NRGI/resourcecontracts.org/issues/678

[2016-01-15 10:57] #678 closed

[2016-01-15 11:00] anjesh commented on #633
We will create sitemap for both RC and OLC for fix this issue and this needs to be submitted to goggle indexing https://support.google.com/webmasters/answer/183668?hl=en&ref_topic=4581190#sitemapformat

[2016-01-15 11:04] anjesh commented on #628
Duplicate of https://github.com/NRGI/resourcecontracts.org/issues/47
Further discussion there.

[2016-01-15 11:04] #628 closed

[2016-01-15 11:08] anjesh commented on #621
In RC, there are now 888 contracts. Loading of all contracts in a single page will be resource consuming. Need to discuss on this.

[2016-01-15 11:10] anjesh commented on #620
Duplicate of https://github.com/NRGI/resourcecontracts.org/issues/458

[2016-01-15 11:10] #620 closed

[2016-01-15 11:12] anjesh commented on #618
Added "Approve all" button.

[2016-01-15 11:12] #618 closed

[2016-01-15 11:13] anjesh commented on #613
I agree. Discussion here https://github.com/NRGI/resourcecontracts.org/issues/614

[2016-01-15 11:13] #613 closed

[2016-01-15 11:19] anjesh commented on #609
This doesn't seem good from UI perspective and not sure if the use case is strong enough. Would like to hear others' thoughts.

[2016-01-15 11:24] anjesh commented on #600
Fixed. There's a separate tab for different stages of Mturk contracts.

[2016-01-15 11:24] #600 closed

[2016-01-15 11:24] #598 closed

[2016-01-15 11:25] anjesh commented on #597
This has been fixed long back

![image](https://cloud.githubusercontent.com/assets/120488/12352062/d9022566-bbaa-11e5-8585-e28be21d3b1b.png)

[2016-01-15 11:25] #597 closed

[2016-01-15 11:26] anjesh commented on #596
Should be fixed to certain extend. Details here https://github.com/NRGI/resourcecontracts.org/issues/485#issuecomment-170831573
duplicate of #485

[2016-01-15 11:26] #596 closed

[2016-01-15 11:27] anjesh commented on #586
Duplicate of https://github.com/NRGI/resourcecontracts.org/issues/720

[2016-01-15 11:27] #586 closed

[2016-01-15 11:29] anjesh commented on #580
Shall we put the language option in the advanced search? Please confirm.

[2016-01-15 11:31] anjesh commented on #579
Shouldn't be a problem now. We have added some compression mechanism in web server. And also in search results page, now we have hidden the search filter block until the page is loaded.

[2016-01-15 11:31] #579 closed

[2016-01-15 13:50] JesseCCSI commented on #759
Thanks @anjesh , this seems to be working now - will let you know if I notice otherwise.

[2016-01-16 00:15] jedm commented on #750
We spec-ed this in September/October for the Main Document to always be listed first in the "Associated" list for any of its children. See attached. Also related to #470 and #624.

![rcolc_ui_contract_mockup_addendum_jmkc_assoc](https://cloud.githubusercontent.com/assets/2153664/12368747/1fbd4984-bba3-11e5-9d04-b4f5eb51eaf1.jpg)

[2016-01-16 00:42] jedm commented on #694
Small question - I think for @JesseCCSI - are we still using *contract page numbers* in the citations? There seems to be a greater risk of confusion if we were to default to using *PDF page numbers* (ie, whatever number the page is in the PDF, even if the page number shown in the original contract doc is different).

On the other hand, if this policy has already been set the other way, it's defini

[2016-01-18 03:54] sadhakbj commented on #677
- Done
![pdf_loading](https://cloud.githubusercontent.com/assets/5828622/12382885/49331cbe-bdc7-11e5-8e3f-1b0618d0c395.png)

[2016-01-18 03:54] #677 closed

[2016-01-18 03:57] sadhakbj commented on #677
- Done
![pdf_loading](https://cloud.githubusercontent.com/assets/5828622/12382922/d6f3067c-bdc7-11e5-8940-130d411e620e.png)

[2016-01-18 05:01] anjesh commented on #568
This shouldn't be a problem now, the annotation-edit-box appears in such a way that it doesn't get cut off.

![image](https://cloud.githubusercontent.com/assets/120488/12383621/3fd459fe-bdd0-11e5-8054-5811aa9b033d.png)

[2016-01-18 05:01] #568 closed

[2016-01-18 05:08] anjesh commented on #566
Spell check is enabled in the annotation edit. It highlights the mis-spelled words e.g.
![image](https://cloud.githubusercontent.com/assets/120488/12383738/911a0614-bdd1-11e5-966f-d76dd6cabd65.png)

As for the comments, we can now comment in individual annotation category

![image](https://cloud.githubusercontent.com/assets/120488/12383748/afeedc04-bdd1-11e5-97a2-2e59e144b7b7.png)

[2016-01-18 05:08] #566 closed

[2016-01-18 05:11] anjesh commented on #564
This is fixed now.

[2016-01-18 05:11] #564 closed

[2016-01-18 05:13] anjesh commented on #563
The list is now included in the left-column during annotation process.

[2016-01-18 05:13] #563 closed

[2016-01-18 05:14] anjesh commented on #560
Fixed.

[2016-01-18 05:14] #560 closed

[2016-01-18 05:16] anjesh commented on #556
Closing this, please reopen if you are still getting this issue.

[2016-01-18 05:26] anjesh commented on #554
Fixed the following 3
Change: "Resource Type" --> "Resource"
Change: "Contract with" --> "Contracts for"
Change: "P" and "Pg" --> "Page"

Need to replace "Find contracts in Aluminium" with "Search within Aluminium contracts" in the following page

![image](https://cloud.githubusercontent.com/assets/120488/12383906/f71e0184-bdd3-11e5-9ed6-342e7ec4aa83.png)

[2016-01-18 05:29] anjesh commented on #552
User request 2 is fixed. The annotations (if annotation-category selected in the search filter) are now part of the csv download.

User request 1 to be done.

[2016-01-18 05:34] anjesh opened #760 "Improvement in MTurk Interface"
Include the search by HIT-id in the RC-Mturk admin interface. Currently we have to query in the database to find the give HIT-id (e.g. https://github.com/NRGI/resourcecontracts.org/issues/551)

Include the Amazon MTrurk HIT link in the RC-Mturk admin interface (below) to quickly find the HIT in the amazon Mturk. Ideally when we are viewing the HIT, there should be link called "View HIT in Amazon".

[2016-01-18 05:34] anjesh commented on #551
Not sure if this still is valid. Created new issue to help this particular issue https://github.com/NRGI/resourcecontracts.org/issues/760

[2016-01-18 05:34] #551 closed

[2016-01-18 05:42] anjesh commented on #543
Will be taken care of when parent annotation is introduced - https://github.com/NRGI/resourcecontracts.org/issues/694

[2016-01-18 05:42] #543 closed

[2016-01-18 05:42] #542 closed

[2016-01-18 05:43] anjesh commented on #531
@byndcivilization can you confirm which one to use?

[2016-01-18 05:49] anjesh commented on #519
Open by default on the text doc and not the PDF doc
- now it opens pdf by default

Spell check all categories i.e. Community
- there's a separate issue to review all the categories

Different font, size between the English and French categories
- this should be taken care of during localisation implementation. The current design was shared and implemented.

Page not opened when clicking on the lin

[2016-01-18 05:49] #519 closed

[2016-01-18 05:51] anjesh commented on #510
Already live and assuming this is reviewed.

[2016-01-18 05:51] #510 closed

[2016-01-18 05:55] anjesh commented on #501
The search text is highlighted now.

[2016-01-18 05:55] #501 closed

[2016-01-18 06:03] anjesh commented on #492
This could be discussed in the general annotation category fix issue https://github.com/NRGI/resourcecontracts.org/issues/565

[2016-01-18 06:03] #492 closed

[2016-01-18 06:06] anjesh commented on #483
Ideally it would be good to use S3 and put the link in the editor.

[2016-01-18 06:06] #483 closed

[2016-01-18 06:08] anjesh commented on #477
We will have multi lingual support.
Duplicate of https://github.com/NRGI/resourcecontracts.org/issues/47

[2016-01-18 06:08] #477 closed

[2016-01-18 06:10] anjesh commented on #470
Shall we decide on this particular issue - whether we are to do this or not?

[2016-01-18 06:13] anjesh commented on #458
Now " works and gives less results when without "

![image](https://cloud.githubusercontent.com/assets/120488/12384499/b0eac81c-bdda-11e5-952c-ef0a7a9d62e3.png)

[2016-01-18 06:13] #458 closed

[2016-01-18 06:16] anjesh commented on #453
This will be fixed when we have annotation linking to multiple pages (https://github.com/NRGI/resourcecontracts.org/issues/694) is completed. And we will need to do manual fixing of these annotations and select the proper parent annotation.

[2016-01-18 06:16] #453 closed

[2016-01-18 06:23] anjesh commented on #433
Any updates on this?

[2016-01-18 06:28] anjesh commented on #406
Lets review how this can work. Maybe have a collapsible annotation list on the right will help and that gets auto-collapsed when there's no annotations. @manishgs

[2016-01-18 06:29] anjesh commented on #391
This will be taken care of in this issue https://github.com/NRGI/resourcecontracts.org/issues/694 when we do the implementation of parent annotation, we will have the option to mention the section info as well. We will do the auto-filling of this field and later needs to be manually looked into/fixed.

[2016-01-18 06:29] #391 closed

[2016-01-18 06:35] anjesh commented on #743
Lets open if there's issue with the new HIT assignment.

[2016-01-18 06:35] #743 closed

[2016-01-18 07:24] anjesh opened #761 "Search input above "Annotations List" should search both annotations and text"
Currently the "search input" searched for text content only as shown below.
![image](https://cloud.githubusercontent.com/assets/120488/12385453/549d214a-bde4-11e5-9a1b-01f5ca2fb7d5.png)

As per this issue https://github.com/NRGI/resourcecontracts.org/issues/367, it should search for both annotation and text. The searched results will be listed by page, with one result per page. The annotations wil

[2016-01-18 07:25] anjesh commented on #367
Created new issue to enable searching for both annotation and text in the same left side box.
https://github.com/NRGI/resourcecontracts.org/issues/761

[2016-01-18 07:25] #367 closed

[2016-01-18 07:31] anjesh commented on #324
This will be fixed when we have the internalisation enabled in the subsite. Will be carried out in this sprint https://github.com/NRGI/resourcecontracts.org/issues/47

[2016-01-18 07:31] #324 closed

[2016-01-18 07:32] anjesh commented on #322
Duplicate of https://github.com/NRGI/resourcecontracts.org/issues/761

[2016-01-18 07:32] #322 closed

[2016-01-18 07:33] anjesh commented on #319
This is fixed. The search text gets highlighted now.

[2016-01-18 07:33] #319 closed

[2016-01-18 07:35] anjesh commented on #311
I am not sure if we are still on for the odesk work. I am closing this for now, do open and discuss if we want this again.

[2016-01-18 07:35] #311 closed

[2016-01-18 07:38] anjesh commented on #291
Right now the editor box shows red underline under misspelled words.
![image](https://cloud.githubusercontent.com/assets/120488/12385666/7c2997fa-bde6-11e5-87d0-09e959e279d2.png)

The user has to manually correct it or some browser (like chrome, firefox) gives suggestions on right click as shown below.

![image](https://cloud.githubusercontent.com/assets/120488/12385680/968fcaa6-bde6-11e5-889c-54b

[2016-01-18 07:38] #291 closed

[2016-01-18 07:44] anjesh commented on #247
This will be part of the overall documentation we will develop in sprint 13 #417

[2016-01-18 07:44] #247 closed

[2016-01-18 07:47] anjesh commented on #225
This is the numbers as provided in the list. If needed we can discuss https://github.com/NRGI/resourcecontracts.org/issues/565

[2016-01-18 07:47] #225 closed

[2016-01-18 07:48] anjesh commented on #216
I think the codelist needs to go through the rc consulation. So this might not make sense. I am closing this for now.

[2016-01-18 07:48] #216 closed

[2016-01-18 07:51] anjesh commented on #177
We need to now work on this while working on the subsite docker. Right now the country site follows the structure of the RC and OLC but the front page needs new look/design.

[2016-01-18 07:54] anjesh commented on #186
I want to review the home page design for the subsites. We will work on something that will also address couple of other design related issues here.
https://github.com/NRGI/resourcecontracts.org/issues/524
https://github.com/NRGI/resourcecontracts.org/issues/631
https://github.com/NRGI/resourcecontracts.org/issues/486

[2016-01-18 07:55] anjesh commented on #196
duplicate as mentioned by james.

[2016-01-18 07:55] #196 closed

[2016-01-18 07:58] anjesh commented on #146
commenting for each metadata field is enabled here https://github.com/NRGI/resourcecontracts.org/issues/101

[2016-01-18 07:58] #146 closed

[2016-01-18 08:02] anjesh commented on #160
Will be taken care of here https://github.com/NRGI/resourcecontracts.org/issues/47

[2016-01-18 08:02] #160 closed

[2016-01-18 08:03] anjesh commented on #141
Closing this. This might not make sense as we have publish all functionality.

[2016-01-18 08:03] #141 closed

[2016-01-18 08:08] anjesh commented on #569
This is superceded by https://github.com/NRGI/resourcecontracts.org/issues/113 and can be addressed there if it's clear.

[2016-01-18 08:08] #569 closed

[2016-01-18 08:10] anjesh commented on #37
This is also part of https://github.com/NRGI/resourcecontracts.org/issues/47

[2016-01-18 08:10] #37 closed

[2016-01-18 08:11] anjesh commented on #372
Duplicate of https://github.com/NRGI/resourcecontracts.org/issues/22

[2016-01-18 08:11] #372 closed

[2016-01-19 06:34] charlesyoung opened #762 "Admin Module: Type of contract drop down list"
The 'Type of Contract' drop down list isn't shown. You can access the values but its not clear that there are drop down values.

![image](https://cloud.githubusercontent.com/assets/13888372/12411427/390db1bc-be87-11e5-98d4-d007a1895a88.png)

[2016-01-19 15:08] JesseCCSI commented on #694
Hi @jedm - Apologies for the delayed reply. The page numbers that appear on OLC under the annotations are PDF page numbers - annotators using the Excel template to annotate contracts also used PDF page numbers when signalling the location of relevant provisions.

Hope this answers your question?

[2016-01-19 15:15] jedm commented on #694
Hi Jesse - if that is the consistent practices for all future documents in all RC/OLC repositories and subsites then I guess that's ok, but it will certainly confuse some people sometimes -- especially for the (hopefully small number?) of documents that happen to have original page numbers visible that do not correspond.

I can see the value of doing it this way, but, again, should be enforced for

[2016-01-19 15:33] byndcivilization commented on #531
MIT

[2016-01-19 15:34] byndcivilization commented on #470
I would still rather a cleaner interface.

[2016-01-19 15:37] byndcivilization commented on #433
@anderspeders ?

[2016-01-19 15:45] jedm commented on #470
@byndcivilization In this case I think the utility of including the two lines considerably outweighs any relative clutter of this bit. Plus it's what we put forth as the recommendation - per above - but I'll defer to the group.

[2016-01-19 15:50] byndcivilization commented on #470
I still dont see the utility of segregating hyperlinks. If anything its an inefficient use of space that underestimates users ability to navigate.

[2016-01-19 16:28] jedm commented on #470
Let's see what others think, Chris.

[2016-01-19 19:22] JesseCCSI commented on #694
Many thanks @jedm - we could switch to using the contract page numbers, but this would require a lot of retro-fitting (particularly for RC), so we'll likely stick with the PDF page numbers. Some contracts don't have page numbers, and at least this way the page number under the annotation will match the number in the box at the top of the PDF (hopefully this reduces user confusion!).

Both RC and O

[2016-01-19 19:24] SamCCSI commented on #694
Hi all,

I can confirm that this has been the consistent practice for both RC and
OLC.

On Tue, Jan 19, 2016 at 2:22 PM, JesseCCSI <notifications@github.com> wrote:

--

*SAM SZOKE-BURKE*
*Legal Researcher**Columbia Center on Sustainable Investment*
Columbia Law School | The Earth Institute, Columbia University
435 W116th St. New York, NY 10027
| (+1)(212) 854-2635 <+1212-854-2635> | (+1)(646) 630

[2016-01-20 07:26] sadhakbj commented on #561
- Fixed now. Clicking on the specific annotation on sidebar now takes to specific annotation.
![561](https://cloud.githubusercontent.com/assets/5828622/12442343/420ed21e-bf77-11e5-95a4-3a119d520fcf.png)

[2016-01-20 07:26] #561 closed

[2016-01-20 07:28] sadhakbj commented on #561
Fixed now.

![561](https://cloud.githubusercontent.com/assets/5828622/12442378/8ff44856-bf77-11e5-8f28-2477079d2f62.png)

[2016-01-20 07:31] sadhakbj commented on #554
- Replaced the message to "Search within tag contracts"
![554](https://cloud.githubusercontent.com/assets/5828622/12442424/f24fff7c-bf77-11e5-999c-c6f68928506e.png)

[2016-01-20 07:31] #554 closed

[2016-01-20 07:39] sadhakbj commented on #711
- Fixed.
![Uploading 711_edited.png…]()

[2016-01-20 07:39] #711 closed

[2016-01-20 07:44] sadhakbj commented on #471
- Fixed.
![561](https://cloud.githubusercontent.com/assets/5828622/12442633/a8a9d85a-bf79-11e5-832b-8ebe707683d4.png)

[2016-01-20 07:44] #471 closed

[2016-01-20 07:51] sadhakbj commented on #567
- Fixed.

[2016-01-20 07:51] #567 closed

[2016-01-21 09:58] sadhakbj commented on #712
- Fixed.

[2016-01-21 09:58] #712 closed

[2016-01-21 10:06] sadhakbj commented on #695
- Fixed.

[2016-01-21 10:06] #695 closed

[2016-01-22 05:49] sadhakbj commented on #754
- Fixed now.
Initially:
![initial](https://cloud.githubusercontent.com/assets/5828622/12503396/0b885fd6-c0fc-11e5-8079-8eca65099f5c.png)

After Zooming:
![after_zoom](https://cloud.githubusercontent.com/assets/5828622/12503403/199f1c7c-c0fc-11e5-9a98-43f96e2a6859.png)

[2016-01-22 05:49] #754 closed

[2016-01-23 23:34] jedm commented on #667
This was discussed at length in #318

[2016-01-23 23:34] jedm commented on #667
This was discussed at length in #381

[2016-01-25 10:49] charlesyoung opened #763 "Annotation comment box paragraphing feature"
Can we allow for paragraphing in the annotation comment box as this is currently not allowed?

Request from PH-EITI.

[2016-01-25 23:44] jedm commented on #723
Hi, @jpmckinney - really great to see you here!

I defer to @anderspeders and @KaitlinCCSI on how to make this call but it is worth noting again, as you have already, that to date RC operates with individual documents as single nodes and to date hasn't had any protocol or heuristics for altering documents. As Kaitlin's comment indicates, the Guinea site posts subsequent documents, even if they are

[2016-01-26 00:11] jedm commented on #389
@anjesh - it is really fantastic to see nearly all the functions described above working as requested. With the completion of the [direct-links for Annotations](http://www.resourcecontracts.org/contract/ocds-591adf-YE3941604679RC/view#/pdf/page/31/annotation/13288) it makes for excellent usability and added opportunities for users. Great work!

[2016-01-26 14:17] KaitlinCCSI commented on #580
I think yes. @anderspeders @jedm , any objections?

[2016-01-26 14:24] KaitlinCCSI commented on #609
Not sure about this suggestion, as there is something nice about having at least some things listed out rather than another dropdown. But if it is too many steps to find a specific country, could the "View all" instead function to expand the full list within the left sidebar, rather than taking user to another page?

(A bigger problem is that the existence of this left sidebar is still not obvious

[2016-01-26 14:52] KaitlinCCSI commented on #638
@anjesh, is it possible to add in anchor links to the FAQs page, so that the hyperlink on "Learn more" takes you directly to the part of the FAQ page that is relevant? The current utility of the hyperlink is limited as the user then needs to scroll through a lot of text to get supplemental info.

[2016-01-26 14:52] KaitlinCCSI commented on #692
Re-opened for Jesse's comment above.

[2016-01-26 15:06] KaitlinCCSI commented on #667
As a reminder, only for RC -- at this point, Word docs containing text
extracted from PDFs should not be downloadable from OLC.

On Fri, Jan 15, 2016 at 4:29 AM, Anjesh <notifications@github.com> wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and Agriculture**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
435 West 116th St. New York, NY 1002

[2016-01-26 15:19] jedm commented on #667
Do @byndcivilization and @jimc33 still feel that pre-MTurk documents should be available in Word? cc @anderspeders

[2016-01-27 05:09] anjesh commented on #588
API documentation for JDA http://joinedupdata.org/PoolParty/api
Need to verify that otherwise need to implement sparql http://joinedupdata.org/PoolParty/sparql/NRGI

[2016-01-27 10:12] sadhakbj commented on #265
We have implemented and deployed the social sharing button on demo sub site. Please check once and give review.
![social_sharing](https://cloud.githubusercontent.com/assets/5828622/12610231/a614eaa4-c50e-11e5-9b83-6db9040c1a48.png)

[2016-01-27 16:02] jedm commented on #638
Important to include this disclaimer in the MS Word download too, ideally as a footer.

[2016-01-27 18:15] anderspeders commented on #667
For RC; the NRGI position is stil that OCR-ed text (pre-MTurk) should be available as download along with the PDF. We are providing a sufficient disclaimer so there should be no legal liability issues around this.

[2016-01-27 18:50] KaitlinCCSI commented on #470
Discussed internally. See pros/cons of both approaches, but still have preference for sticking with recommendation in specs so long as we can keep these lines short ("More in [Country]" on one line; "More in [Resources]" ideally on one line as well: e.g., "More for Cobalt | Copper").

[2016-01-27 19:02] KaitlinCCSI commented on #667
Per this convo https://github.com/NRGI/resourcecontracts.org/issues/653, I thought that NRGI was ok with only providing a Word doc once it has gone through MTurk _IF_ it is slated for MTurk. (In other words, doesn't apply to all docs, but to a subset that have been identified as needing MTurk.)

And per this comment https://github.com/NRGI/resourcecontracts.org/issues/381#issuecomment-144157021, I

[2016-01-27 20:50] jedm commented on #265
In terms of visuals, would suggest the icons be the same height as the download icon and that they be grouped alongside the download icon for better IA.

Also, will this be implemented on mobile too?

Thanks for the preview. Assuming the tools will be global, it would be good to know where placement will be on other pages/page types.

Non-visual question: Do we definitely want GooglePlus? Maybe Li

[2016-01-27 20:59] anderspeders opened #764 "Correct CSV export"
The CSV export is not able to export what appear to be French characters.

![image](https://cloud.githubusercontent.com/assets/120488/12871756/a960963a-cdb1-11e5-9b66-4ab6b9cfde20.png)

by @anjesh - Replaced with the smaller image for quick load.

[2016-01-27 21:12] SamCCSI commented on #244
Please replace the disclaimer with the following text:

**While such text will be of use to some users – for example, those who seek to search within contract text – the text may contain errors and differences from the contract’s original PDF file. Learn More.**

"Learn more" should link to http://www.openlandcontracts.org/faqs or to an appropriate anchor link if that is implemented, as per @Kaitl

[2016-01-27 21:14] SamCCSI commented on #244
Previous entry updated to include RC and OLC links

[2016-01-27 21:14] anderspeders commented on #244
Assigning to sprint 13.

[2016-01-27 21:49] SamCCSI commented on #244
Apologies -- I have again updated the above wording of the disclaimer in my second last previous entry.

[2016-01-27 21:52] KaitlinCCSI commented on #244
(Anchor link requested here: https://github.com/NRGI/resourcecontracts.org/issues/638)

[2016-01-27 21:58] KaitlinCCSI commented on #265
Can you also please provide preview of what will be shared -- A link to page user is viewing? With an image or not? Any default message? Anders' instruction was for sharing a specific section or a specific annotation, and I can't tell from visual how s specific section/annotation would be shared through these buttons, which don't seem to be linked to specific sections/annotations.

No preference o

[2016-01-28 03:40] anjesh commented on #265
The social media button will share the link of the page - could be contract view link or the annotation link and pulls the image from the homepage ( in FB and G+) and meta info (in which we have put the contract title). What else do we need to share through these media?

[2016-01-28 03:54] sadhakbj commented on #265
Sharing on facebook:

![fb_share](https://cloud.githubusercontent.com/assets/5828622/12634533/731534d0-c5a2-11e5-8a22-4e808204691f.png)

Sharing on Google Plus:

![google_share](https://cloud.githubusercontent.com/assets/5828622/12634565/d4288862-c5a2-11e5-870c-03c7c7b5f5d1.png)

- Both of the them link to: http://rc-site-demo.elasticbeanstalk.com/olc/public/contract/ocds-591adf-CD8594810060OL/vie

[2016-01-28 13:50] KaitlinCCSI commented on #265
When I visit that link, I can't tell which specific annotation is being highlighted; it seems like it is just linking to a specific contract view page.

However, I don't have a strong opinion on how this should look, because I don't fully understand the user case here. Maybe @jedm or @anderspeders have further ideas on whether it is necessary or not to share a specific annotation, as opposed to ju

[2016-02-01 10:01] sadhakbj commented on #356
Zoom feature has been improved and has been deployed in demo sub site. Please check it once.

http://rc-site-demo.elasticbeanstalk.com/rc/public/contract/ocds-591adf-NG5057885784RC/view#

![100](https://cloud.githubusercontent.com/assets/5828622/12714107/cb60e868-c8fa-11e5-9665-d363e31b8f8e.png)
![150](https://cloud.githubusercontent.com/assets/5828622/12714106/cabf7b22-c8fa-11e5-963f-6b677853f51d

[2016-02-01 10:04] sadhakbj commented on #667
Word download feature has been added and deployed in sub site. Word download option appears in RC. Please check it once on demo sub site.
![word_download](https://cloud.githubusercontent.com/assets/5828622/12714194/55415810-c8fb-11e5-9d7a-7111de2d39fa.png)

[2016-02-01 10:15] sadhakbj commented on #552
Request 1:  Annotation download at Contract View Page has been implemented in demo sub site.  Please check it once on:
![annotation](https://cloud.githubusercontent.com/assets/5828622/12714451/f5b7940c-c8fc-11e5-9368-1a72b0d794d2.png)

http://rc-site-demo.elasticbeanstalk.com/rc/public/contract/ocds-591adf-NG5057885784RC/view#

[2016-02-01 12:13] anjesh commented on #580
@anderspeders please assign this issue to Sprint 13 if you are ok with this.

[2016-02-01 12:18] anjesh commented on #763
By paragraphing, do you mean editor (where one can type ENTER) instead of textarea that we currently have?

[2016-02-01 12:44] charlesyoung commented on #763
Yep

[2016-02-01 15:34] KaitlinCCSI commented on #552
1. How does this interact with pinning/comparison feature? cc @jedm
If we move forward with this, then:
2. This excel doesn't include metadata.
3. What does "annotations type" in column F mean, and is it necessary?
4. What is "Quote" in column C?
5. Is Page Number in column E the page number of PDF? Should probably clarify (i.e., "PDF Page NumbeR"
6. The categories listed in Row 1 should match the

[2016-02-01 19:26] KaitlinCCSI commented on #356
I think this works better than older version; thanks.

On Mon, Feb 1, 2016 at 4:01 AM, Bijaya Prasad Kuikel <
notifications@github.com> wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and Agriculture**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
435 West 116th St. New York, NY 10027
| +1 (917) 658 5172
| kaitlin.cordes@law.columbia.edu
| ww

[2016-02-01 20:48] JesseCCSI opened #765 "Contract PDF not loading"
The contract below isn't loading (error message appears: We're sorry, there is a problem loading the contract. Please contact info@openlandcontracts.org to let us know, or check back later)

The PDF was in "draft" on the back end -- I published it, but this hasn't fixed the problem.

http://www.openlandcontracts.org/contract/ocds-591adf-LR3558292037OL/view

[2016-02-02 05:01] anjesh commented on #633
The following titles/descriptions are to be updated in the meta headers in the pages so that the search engine shows the text accordingly.

For OLC Index page,
Title: OpenLandContracts.org
Description: OpenLandContracts.org is an online repository of publicly available contracts for large-scale land, agriculture, and forestry projects. The repository includes the full text of contracts; plain lang

[2016-02-02 05:06] sadhakbj commented on #356
It has been implemented on stage.

[2016-02-02 05:06] #356 closed

[2016-02-02 05:16] anjesh commented on #552
Do we want metadata here and mix with the annotations list? Please confirm.

Annotation type is either pdf or text based on where the annotation is done. Since you raised this, this looks redundant now and no use to general audience.

Quote is selected text in OCR content only and won't be present in PDF. This can also be removed if you think this is redundant.

This could be page number of either

[2016-02-02 09:48] sadhakbj commented on #761
- It's fixed now.
![761_done](https://cloud.githubusercontent.com/assets/5828622/12745594/26dc7078-c9c2-11e5-8145-fd270ae4f4ff.png)

[2016-02-02 09:48] #761 closed

[2016-02-02 10:03] sadhakbj commented on #667
- It's fixed and deployed.

[2016-02-02 10:41] sadhakbj commented on #702
- It's fixed now.
![Uploading after_clicking.png…]()
![before_clicking](https://cloud.githubusercontent.com/assets/5828622/12747021/b6212fa6-c9c9-11e5-99ae-30149aaf954c.png)

[2016-02-02 10:41] #702 closed

[2016-02-02 11:54] anjesh commented on #694
With regards to the original issue of this particular issue (i.e. linking one annotation to multiple page), i have prepared a wiki page on the potential solution. This is doable solution compared to https://github.com/NRGI/resourcecontracts.org/issues/708 where it appears that we will need to do lot of work (need to do estimatation).

See https://github.com/NRGI/resourcecontracts.org/wiki/Annotati

[2016-02-02 15:27] KaitlinCCSI commented on #552
- Metadata - @anderspeders, that was in your user case at top, which is why I had asked.
- Yes, would delete column F.
- Column C Quote - I think this goes to question of whether everything will be annotated to both text and PDF, or just one or the other, and also whether we are MT-ing Ks before quoting from them. As we are currently proceeding (annotating to 1 or the other, not MTing a lot of Ks)

[2016-02-02 15:37] jedm commented on #552
@anderspeders and I worked on a sample download CSV format for the "Clippings" function being spec-ed (function to combine Compare and Pin).

We should make sure the sample he and I made and the format for this one are the same.

[2016-02-02 17:33] anderspeders opened #766 "Add teminology section to wiki"

[2016-02-02 17:45] anderspeders commented on #667
To summarize from email exchange with RC group,

1) Word download option will be available if OCR text is rendered: "Acceptable"

This currently would mean that the following contracts should be available as word download: http://resourcecontracts.elasticbeanstalk.com/contract?type=ocr&status=1

2) This means that contracts that are marked either: Needs editing, Not acceptable or are not reviewed

[2016-02-02 18:55] KaitlinCCSI commented on #667
Anders's instructions are correct. Assume that a document will automatically switch from the second category into the first category once all MTurk pages are approved and published? If not, there should be a clear way for the person approving publication of OCR text from MTurk to note that the Word download can be made available.

[2016-02-02 23:35] SamCCSI commented on #694
Regarding the Wiki for the Annotation Module:

This looks great. We would suggest the following changes:

1. **We don't need to have more than one annotation per category.** In fact, we have a policy of having only one annotation per category, so please do not create this functionality.  A single annotation may draw content from multiple annotations, which is why we need to attach one annotation t

[2016-02-02 23:35] SamCCSI commented on #694
(That last comment was from Jesse and Sam on behalf of CCSI)

[2016-02-03 06:21] charlesyoung commented on #667
Should the 'Text Type' ( Acceptable, Needs Editing and Needs Full Transcription) not be required to be selected?

[2016-02-03 06:23] charlesyoung opened #767 "Publishing order"
Should the publishing of the PDF text be allowed without publishing the metadata? There is currently no restriction on the publishing order.

[2016-02-03 06:32] charlesyoung opened #768 "Admin Module: Signature Year"
Only 2015 and 2016 is in the signature year drop down list.

![image](https://cloud.githubusercontent.com/assets/13888372/12774718/2a9a751e-ca50-11e5-918a-3d3154585710.png)

[2016-02-03 07:52] sadhakbj commented on #605
Now the contract view page has a space for Contract Note which appears only if contract note exists for a particular contract. We have added ellipsis (...) in the contract view page.

(Image below: from demo site)

![show_more](https://cloud.githubusercontent.com/assets/5828622/12776094/464be25e-ca7b-11e5-9d18-50b5addaa19e.png)

[2016-02-03 07:52] #605 closed

[2016-02-03 08:10] sadhakbj commented on #760
We have improved the MTurk Interface in the admin site.
Now we can search the contracts by HIT ID. (as seen in picture below).
![mturk_1](https://cloud.githubusercontent.com/assets/5828622/12776263/a2eced22-ca7c-11e5-9aa1-149f37992476.png)

After I provide HIT ID i am taken to another page:

(We can see that we have added see on amazon link which takes to Amazon task link.
![mturk_2](https://cloud

[2016-02-03 08:10] #760 closed

[2016-02-03 10:22] charlesyoung opened #769 "Published annotations not showing"
PH-EITI completed their first annotated contract.

http://resourcecontracts.elasticbeanstalk.com/contract/76

The annotations are displayed on the PH-EITI site.

http://contracts.ph-eiti.org/contract-view.html?contractId=76&contractTitle=Krominco,%20Incorporated%20-%20MPSA%20No.%20291-2009-XIII%20(Surigao%20Mineral%20Reservation),%202009&totalPages=21

But not on the RC site.

http://www.resourcec

[2016-02-03 16:30] anderspeders commented on #715
There are two required actions involved with this ticket:

1) [Metadataform] Add metadata fields as part of metadata form: "Yes; No; Unknown":
pages_missing
annexes_missing

2) [UI] If value appears as Yes - place the following text prominently on the contractpage:
"Pages missing from copy" Checked --> "This document is missing one or more pages."
"Annexes missing from copy" Checked --> "This docu

[2016-02-03 16:48] KaitlinCCSI commented on #715
- Don't know what you mean by "completetion is confirmed"? Do you mean if "No" is checked for either of those fields? If that is what you mean, then no, we _only_ want a statement to appear when we have noted (by selecting "Yes") that pages are missing or annexes are missing. If we have selected "No" or "Unknown", no statement should appear.

- For UI placement: perhaps at bottom of metadata colum

[2016-02-03 20:54] SamCCSI commented on #626
More links to pages "unable to approve":
http://resourcecontracts.elasticbeanstalk.com/mturk/1156/4852
http://resourcecontracts.elasticbeanstalk.com/mturk/1156/4853

[2016-02-04 07:27] hello-deepak commented on #768
Signature year is not drop down list ,it is  input field. 2015 and 2016 appears due to cache of your browser.

Issue of signature year https://github.com/NRGI/resourcecontracts.org/issues/695 .

[2016-02-04 07:27] #768 closed

[2016-02-04 07:28] hello-deepak commented on #769
Its fixed now.

http://www.resourcecontracts.org/contract/ocds-591adf-PH7733849609RC/view

[2016-02-04 07:28] #769 closed

[2016-02-04 08:59] charlesyoung commented on #769
@jerico please take note.

[2016-02-04 09:18] anjesh commented on #694
I have updated the wiki as per your comments https://github.com/NRGI/resourcecontracts.org/wiki/Annotation-Module that addresses points 1,2,3,4,5,6.

With regards to 7,

The page number could be changed from the annotation listing page. It can't be changed during the annotation edit process in the annotation editor.

Article Reference could be changed from the Annotation editor as well as annotati

[2016-02-04 09:26] anjesh commented on #694
With this new model, we need to migrate the existing annotations to fit into that model - there are annotation categories which contains two different types "Annotation Text". That won't fit into the new model. We need to define the logic to fix those annotations. We will prepare the list of all the annotations, do some analysis and send you the list to decide on how to go about these annotations

[2016-02-04 14:59] charlesyoung opened #770 "Metadata: Company name not published"
Company names for Sierra Leone contracts are captured and published.

http://resourcecontracts.elasticbeanstalk.com/contract/701

Although its not showing on the public site.

http://www.resourcecontracts.org/contract/ocds-591adf-SL0498783225RC

[2016-02-04 15:03] anderspeders opened #771 "Tracking missed imports of annotations"
One missing flagged from Mongolia:
https://www.documentcloud.org/documents/1097724-investment-agreement-oyu-tolgoi.html

Need to follow up on Afghanistan contracts as well.

[2016-02-05 03:31] anderspeders opened #772 "Harmonization of annotations currently loaded"
YI has now been able to review the options for the harmonization required for annotations which does not have the same text. This relates to the implementation of this ticket: https://github.com/NRGI/resourcecontracts.org/issues/694

The new annotation model requires harminization of the current annotation data available in the following cases:
The <annotation text> field from previously loaded an

[2016-02-05 04:06] KaitlinCCSI commented on #772
Before weighing in on preferred option, is there a way (1) to understand how many contracts are in this situation of having more than 1 annotation in a field? And (2) regardless of which option is chosen, to document which contracts _and_ annotation fields this affects and to save an older version of the annotations somewhere before they are changed? This would help us to go in and fix annotations

[2016-02-05 05:11] sadhakbj commented on #584
- It's fixed now.

![584 issue](https://cloud.githubusercontent.com/assets/5828622/12838508/1ca5a1ec-cbf7-11e5-857a-05ce6ad49666.png)

[2016-02-05 05:11] #584 closed

[2016-02-05 05:15] sadhakbj commented on #552
Column C and F are deleted , we have changed to PDF Page Number and Cluster to Topic and the CSV file has name as Annotations--Contract_name--DownloadDate.csv (Date consists of Year Month Date Hour Second ) eg.
[code]

[2016-02-05 05:27] jedm commented on #552
Others know better than I do but should commas be omitted from autocreated filenames? @anderspeders @jpmckinney

[2016-02-05 05:39] anjesh commented on #552
Correct. This might be standard, but i would suggest replacing all the characters (besides text and numbers) to underscore ie punctuations and spaces.

We will replace all the select (punctuations, space) characters to underscore and if there are two or more underscores in tandem, they will be replaced with one underscore.

[2016-02-05 17:10] SamCCSI commented on #694
This bug just occurred for me again. Clicking page back, and then page forward got it to appear the right way though.
![image](https://cloud.githubusercontent.com/assets/12913915/12853313/717c968a-cc01-11e5-89dc-aac807b6b67a.png)

[2016-02-05 17:11] JesseCCSI commented on #694
Thanks @anjesh

Kaitlin, Sam and I discussed this today -- it would really help us if you could provide an estimate of the cost and time involved in implementing the following:

1. having the ability to change the location of the yellow annotation box on the page; and
2. having the ability to re-size the annotation box.

Re point (2), we were looking at how this contract (http://www.resourcecontra

[2016-02-05 17:19] JesseCCSI commented on #584
Thanks @sadhakbj

We noticed today that sometimes the pop ups don't appear. We were looking at this contract http://www.resourcecontracts.org/contract/ocds-591adf-PH7733849609RC/view#/pdf/page/10/annotation/26427

In some cases, the pop ups appeared on every page. However, we noticed that if we clicked outside of one of the annotation boxes (i.e. anywhere else on the contract page), the pop ups di

[2016-02-05 19:09] SamCCSI opened #773 "Zooming affects location of annotation marker"
The marker does not stay circled over the correct text when you zoom in.

We plan to use the markers this way, so this needs to be addressed.

The screenshots were from the back-end. I couldn't find an example on the live site to try this on because the PH EITI site that contains this contract has no zoom bars: http://contracts.ph-eiti.org/contract-view.html?contractId=76&contractTitle=Krominco,%2

[2016-02-07 02:01] anderspeders commented on #772
Anjesh has confirmed he will provide an overview in a spreadsheet.

[2016-02-07 02:06] anderspeders commented on #762
We are allowing multiple types of contract, and thus there is no drop down menu.

This is for example the case when a contract is: Expliration license; Explitation license

[2016-02-07 02:06] #762 closed

[2016-02-07 02:18] anderspeders commented on #747
Thanks @jpmckinney,

So is the conclusion here that the current process for issuing OCID in RC is sufficient?

[2016-02-07 02:28] anderspeders opened #774 "Add <Document type> to the advanced search page"
As per request of @SamCCSI in contract annotation document.

[2016-02-07 02:29] anderspeders commented on #774
Duplicate.

[2016-02-07 02:29] #774 closed

[2016-02-07 02:31] anderspeders commented on #746
Thanks, closing

[2016-02-07 02:31] #746 closed

[2016-02-07 02:32] anderspeders opened #775 "<Document type> should appear before <Contract type> on the backend"
<Document type> should appear before <Contract type> on the backend, as <Contract type> is a sub set of <Document type> (which is a broader group).

This is to ensure clarity of process in the mind of the annotator:
- Step 1: Select <Document Type>
- Step 2 (if applicable) select <Contract Type>

As per request of @SamCCSI in contract annotation document.

[2016-02-07 02:44] anderspeders opened #776 "Change <Document type> to mandatory, change <Contract type> to non-mandatory"
As per contract tally proposal from @KaitlinCCSI @SamCCSI.

[2016-02-07 02:52] jpmckinney commented on #747
It looks sufficient to me.

[2016-02-07 02:56] anderspeders opened #777 "Add information on Main contract and Associated document to right bar in contract view page"
Add the following information to the right bar for the contract view page:

**Main contract**: This will state the parent contract if there is any
**Associated documents**: This will list the <Associated documents> in relation to the contract

As per contract tally proposal from @KaitlinCCSI @SamCCSI. Could you confirm that this is correctly understood?

Adding below what was listed in the doc:
Co

[2016-02-07 09:25] anjesh commented on #762
This particular case is due the simple looking and easy combolist UI library we are using https://select2.github.io/examples.html#multiple

[2016-02-07 09:29] anjesh commented on #776
These two codelist related issues should also be addressed along with this issue https://github.com/NRGI/resourcecontracts.org/issues/721 and https://github.com/NRGI/resourcecontracts.org/issues/720

Here's the codelists for [contract-type](https://docs.google.com/spreadsheets/d/15k-7NCkgu1p2eKgWGZnykASLQoa4gR6fOLskV8mdOhY/edit?ts=566690b1#gid=0) and [document-type](https://docs.google.com/spreads

[2016-02-07 09:32] anjesh commented on #777
Do you think adding some icon for main contracts and associated documents in this contract view would be helpful to users? Hovering over the icon will show the help text (like this is main contract). We can use the same icons in the search results page when listing the documents (contract vs associated documents).

[2016-02-07 09:36] anjesh commented on #748
This can be closed.

[2016-02-07 09:36] #748 closed

[2016-02-07 09:37] anjesh commented on #747
This question is answered. Closing.

[2016-02-07 09:37] #747 closed

[2016-02-07 09:41] anjesh commented on #765
API was updated incorporating the suggestions from James, and we created new index for new API, to avoid break PH-site tempoarily. There has been a mistake in index-name, and the publishing didn't publish to the new index and hence new API. It's fixed now. I republished again and it's now showing.

[2016-02-07 09:41] #765 closed

[2016-02-07 09:51] anjesh commented on #751
This particular bug is same as for https://github.com/NRGI/resourcecontracts.org/issues/765#issuecomment-180984102

As for your question - How many contracts have published metadata but not the contract text?
There are (75 + 1) contracts for which metadata is published but not the contract text.

![image](https://cloud.githubusercontent.com/assets/120488/12871724/69c8f63a-cdb0-11e5-83c9-60d946805a

[2016-02-07 09:51] #751 closed

[2016-02-07 09:58] anjesh commented on #681
Wil there be a case where there are contract-type defined  and also "Other"? That would be conflicting. If you want to enter free-text, then you only have to select "Other" and nothing else.
Please re-open if there's confusion.

[2016-02-07 09:58] #681 closed

[2016-02-07 10:02] anjesh commented on #764
This csv unicode seems to be working now in the MS-excel, Linux libre office doesn't have this problem. However now the comma needs to be used as a separator now - all the columns are shown in the same column now.
adding `sep=,` at the top of the csv file correctly parses the column data. @manishgs

[2016-02-07 10:04] anjesh commented on #775
Duplicate of https://github.com/NRGI/resourcecontracts.org/issues/706
will be addressed in that issue.

[2016-02-07 10:04] #775 closed

[2016-02-07 10:05] anjesh commented on #776
Again duplicate of https://github.com/NRGI/resourcecontracts.org/issues/706.
It has more information on the mandatory of contract-type if the document-type is contract. Lets address this in that issue.

[2016-02-07 10:06] anjesh commented on #706
Copying comments from https://github.com/NRGI/resourcecontracts.org/issues/776.

[2016-02-07 10:10] anjesh commented on #740
I don't see any use-case for the use of category in the subsite. So lets remove the category field from the API response. @sadhakbj

[2016-02-07 10:15] anjesh commented on #555
There's a number of issues regarding the contract-type and document-type codelist.
https://github.com/NRGI/resourcecontracts.org/issues/706#issuecomment-180989726
https://github.com/NRGI/resourcecontracts.org/issues/721
https://github.com/NRGI/resourcecontracts.org/issues/720
https://github.com/NRGI/resourcecontracts.org/issues/745
Needs addressing all these soon and first need to finalize these 2

[2016-02-07 10:17] anjesh commented on #719
@anderspeders who will do the editing of the page to add these info the resources page http://www.resourcecontracts.org/page/resources

[2016-02-07 10:40] anjesh commented on #694
having the ability to re-size the annotation box.

I totally get this point. However as I have mentioned in couple of other issues, this changing location and re-sizing abiliy in the plugin we are using is not easily doable due to the way the plugin is developed, as far as i have seen the insides of the working-code. I can't come up with effort required and hence cost at this moment. We still need

[2016-02-07 10:43] anjesh commented on #708
I am closing this in favour of https://github.com/NRGI/resourcecontracts.org/issues/694
As per my earlier discussion with Anders, we will not be developing any new plugins from scratch but try best to make use of other open source libraries. The new mechanism to achieve multiple-page-linking-annotation is documented in wiki https://github.com/NRGI/resourcecontracts.org/wiki/Annotation-Module

[2016-02-07 10:43] #708 closed

[2016-02-07 11:12] anjesh opened #778 "Scoping: Revisit the backend workflow with regards to publishing workflow."
The current publishing workflow is confusing to many users, hence many bugs are reported due to the confusion in the workflow. We need to revisit the UX and the flow of the workflow. First we need to do the scoping and then move on with the changes.

This should also address https://github.com/NRGI/resourcecontracts.org/issues/767

[2016-02-07 11:12] anjesh commented on #767
This will be discussed in here https://github.com/NRGI/resourcecontracts.org/issues/778

[2016-02-07 11:12] #767 closed

[2016-02-08 01:38] anderspeders commented on #555
Suggest we go with the following for harmonization:
- Document type
- Contract type

[2016-02-08 01:57] jedm commented on #777
For easy references, see mockup [in comment here in #750](https://github.com/NRGI/resourcecontracts.org/issues/750#issuecomment-172134523]), also #624 and #470 .

[2016-02-08 10:38] anjesh commented on #772
Here's the list of all the harmonized annotations in the database. There's a field "Merge Required" - which has Yes if that particular annotation needs to be fixed/merged with another annotation-category of the same contract. There are altogether 249 annotations that need harmonisation.
[annotations-fixing.xlsx](https://github.com/NRGI/resourcecontracts.org/files/121420/annotations-fixing.xlsx)

[2016-02-08 14:43] anderspeders commented on #715
Thanks @KaitlinCCSI,

1) So to confirm that in UI only "Yes" will appear.

I suggest the following full sentences in case of Yes-values:
"Pages missing from document"
"Annexes missing from document"

@KaitlinCCSI: Could you please confirm or suggest alternative as a full sentence including ""?

 2) Agree that bottom of right bar sounds good.

@anjesh @manishgs: Please implement this

[2016-02-08 16:51] anderspeders commented on #771
@anjesh has confirmed that an overview will be provided so that the review can be systematised.

[2016-02-08 17:05] anderspeders commented on #771
Example: I did a review of Liberia contracts:

Documentcloud includes 25 annotated contracts: https://www.documentcloud.org/search/Group:%20miningoilcontracts%20Countries:%20%22Liberia%22
RC.org holds: 13 annotated contracts: http://www.resourcecontracts.org/search?q=&country%5B0%5D=lr&page=1

That is a miss rate in migration of ~ 50%

Now, some of these might only hold minimal metadata - but many

[2016-02-08 19:19] SamCCSI commented on #777
Thanks all, I think we are all on the same page.

@jedm & @KaitlinCCSI : the only thing the mockups don't cover is how we will signpost  if a main contract is listed, other than listing it at the top of the list of "Related". Underlining the main contract had previously been suggested, and @anjesh has suggested icons above. Any thoughts? I think bold or underlining + hover as described by Anjesh c

[2016-02-08 20:48] anderspeders commented on #603
From this we can implement the addition of Type fo Document to the search bar.

As for the additional bubble in the right side. Is it a good idea to present multiple numbers to the user? I think I would prefer to rephrase the language currently displayed and thus avoid adding another bubble while still projecting factually correct information.

[2016-02-08 21:38] jedm commented on #777
Agree that bold and hover should be enough. Would not do underline b/c of natural confusion with links.

Another option would be indents, eg,

• Main Contract
  • Related 1
  • Related 2
  • Related 3

[2016-02-08 21:48] anderspeders commented on #777
Both options sound good to me.

To clarify further regarding links: Do we agree that we do not simply *list* the documents but also *hyperlink* them? That would be my suggestion anyways given that users would be expected to want to navigate between contracts.

[2016-02-08 22:02] anderspeders commented on #744
Therefore closing this issue.

[2016-02-08 22:02] #744 closed

[2016-02-08 22:03] anderspeders commented on #749
Resource source list is available here: https://eiti.org/files/scoping_study_for_eiti_data_standards_2015.pdf

I will also add this to the documentation.

[2016-02-08 22:10] anderspeders commented on #745
Getting to this a bit late.

I would suggest that the uploader can make an executive decision? I would not find this very controversial.

[2016-02-08 22:22] jpmckinney commented on #749
Can you specific the specific section? That document doesn't have "timber" or many other values used for the resource field.

[2016-02-08 22:23] anderspeders commented on #719
Now updated. Closing.

@charlesyoung: I have shared editing details with you in email.

[2016-02-08 22:23] #719 closed

[2016-02-08 22:26] anderspeders commented on #633
@KaitlinCCSI @samCCSI can you confirm the language above?

If not, please provide full text for any corrections.

[2016-02-08 22:27] anderspeders commented on #621
@JesseCCSI Currently a full download option is available, which would address this.

I suggest that we wait dealing with this until we have fixed some of the core priorities.

[2016-02-08 22:29] anderspeders commented on #578
@KaitlinCCSI I just checked the two contracts mentioned above. Is this issue still relevant? If not I suggest that we close.

[2016-02-08 22:31] anderspeders commented on #588
Could you share an update on the status here @sadhakbj?

[2016-02-08 22:33] byndcivilization commented on #745
agree with @jpmckinney but can't we just have a single flag for "derived". Relationship is basically binary (i.e. equal or not). On new contract load for the translation we can add "derived" and "translation_of" of data to new contract record and update existing contract record with appropriate "derived" and "translation_of" data.

[2016-02-08 22:36] jpmckinney commented on #749
Full list of missing values:

* Acacia
* Agroindustry
* Aluminum
* Ananas comosus (Pineapple plant)
* Bananas
* Base metals
* Bauxite-Aluminum
* Biofuels
* Castor oil (Ricinus communis)
* Cereal crops
* Citrus
* Coffee
* Cotton
* Eucalyptus
* Food crops
* Gas
* Grain legumes (Pulses)
* Groundnuts
* Hydrocarbons
* Jatropha curcas
* Maize (Corn)
* Medicinal plants
* Oil
* Oil crops
* Oil palm or pal

[2016-02-08 22:38] anderspeders commented on #531
This is not urgent. Leaving for next sprint.

[2016-02-08 22:44] anderspeders commented on #749
Thanks,

OLC resources have until now been updated based on customized CCSI requests.

@KaitlinCCSI @samCCSI: Could you state if you'd like the resource types above added?

(for what it's worth my recommendation would be that the list above could be a good opportunity to get a standardized list once and for all - while avoiding that your current resource list would need further additions in the fu

[2016-02-08 22:48] anderspeders commented on #503
Postponing this for now - based on prioritization.

[2016-02-08 22:52] anderspeders commented on #265
I do not have further suggestions here. I am happy to implement the above.

[2016-02-08 22:56] anderspeders commented on #365
I am unsure what this relates to.

@samCCSI @KaitlinCCSI: Do you recall?

[2016-02-09 13:07] SamCCSI commented on #777
I agree hyperlinking to the docs makes sense.

On Mon, Feb 8, 2016 at 5:09 PM, Anders <notifications@github.com> wrote:

--

*SAM SZOKE-BURKE*
*Legal Researcher**Columbia Center on Sustainable Investment*
Columbia Law School | The Earth Institute, Columbia University
435 W116th St. New York, NY 10027
| (+1)(212) 854-2635 <+1212-854-2635> | (+1)(646) 630-4123 <+1646-630-4123>
| s.burke@columbia.edu

[2016-02-09 15:31] anderspeders commented on #705
Just to confirm here that the request is focusing on improving deep linking for both **text in the search field** and **annotations**:

[2016-02-09 15:47] anderspeders commented on #777
Thanks. Sounds good.

@anjesh: I think this should now be ready for implementation

[2016-02-09 18:31] jedm commented on #22
_Per recent call with @anderspeders, posting re UI/IA missing pieces:_

Several places require hovers to help guide users, in particular in the main toolbar on the single Contract page, but also in Annotations left bar (per #22, #372, #389).

Other places that could especially benefit are the search tools, the right bar with Associated/Related docs.

Is there a tech challenge to hovers? If not, ma

[2016-02-09 18:46] jedm commented on #265
The icons are no longer showing at the above links from the demo site, but would still be good to see:

- all share/download tools next to each other for better IA
- sample of sharing link placement on other pages (eg Search results)
- sample of what text appears in a Twitter post when you click to tweet
- email option and sample of what the email looks like (eg, great opportunity for a footer mes

[2016-02-09 19:18] anderspeders commented on #778
Agree that we need to deal with this, but let's focus on current issues scheduled in the sprint. If some ideas could be ready for sprint 14 that would be great.

[2016-02-09 20:06] jedm commented on #493
@anjesh please note the direct connection between Clippings functions/path and use of Annotations in Search results.

Because Clippings function also requires disaggregation of individual annotations and display of annotation text, the display of annotations in Search results and the display of annotations in Clipping select/deselect should be very similar or identical and the design, UI and funct

[2016-02-09 20:21] KaitlinCCSI commented on #365
Anders, I think you had suggested it to provide alternative pathways for people to access interesting groups of contracts (I think you had just used OLC b/c it was launching first). Don't see this as a priority.

(However, I do see as a high priority providing a clear path to the advanced search page from the home page, which we don't yet do.)

[2016-02-09 20:23] #578 closed

[2016-02-09 20:35] jedm commented on #698
_Hi, per conversation with @anderspeders, adding questions to existing threads where possible..._

When clicking between results, contract page and contract metadata, Back button changes its function: When you go from Search results to a Contract page, Back goes back to results.

But after you view that contract's Metadata page, when you return to its Contract page, the Back button on goes back to

[2016-02-09 20:37] anderspeders commented on #365
Thanks @KaitlinCCSI,

On the issue of a path to advanced search we have: https://github.com/NRGI/resourcecontracts.org/issues/524

I am therefore closing this.

[2016-02-09 20:37] #365 closed

[2016-02-09 20:38] anderspeders commented on #524
@anjesh @anjhero Can we pick up on this ticket to see what can be done here?

[2016-02-09 20:43] jedm opened #779 "Drop-down Search bar exits the contract you're in"
Experiencing an issue from [a single contract page](http://www.resourcecontracts.org/contract/ocds-591adf-GN2128614408RC) where, when you click the site Search at very top of page, Canceling the drop down pulls you out of the page you're in and back to a full-site search results page with all contracts.

![search_cancel_bug1](https://cloud.githubusercontent.com/assets/2153664/12929931/8443e968-cf2

[2016-02-09 20:46] jedm commented on #779
Relevant to #524 also.

[2016-02-09 21:38] KaitlinCCSI commented on #715
Can we use "Page(s) missing from document" and "Annex(es) missing from document"

[2016-02-09 21:40] anderspeders commented on #715
Thanks @KaitlinCCSI
Yes, that works.

**"Page(s) missing from document"**
**"Annex(es) missing from document"**

@anjesh @manishgs: This is ready for implementation!

[2016-02-10 02:44] JesseCCSI commented on #621
Thanks @anderspeders -- I'm not sure that the full download option fully addresses this, but I understand that other priorities are more urgent.

[2016-02-10 07:59] anjesh commented on #531
But it's just a matter of updating readme file, and it's already done.

[2016-02-10 08:10] anjesh commented on #715
Admin form should have the following fields
"Page(s) missing from document" ( )Yes ( ) No (x) Not Available
"Annex(es) missing from document" ( )Yes ( ) No (x) Not Available

Not Available will be selected by default and gives null value.
Yes -> True
No -> False

```Page(s) missing from document```
```Annex(es) missing from document```
will be shown in contract view page if only "Yes", otherwise t

[2016-02-10 08:12] anjesh commented on #779
This is a bug.

[2016-02-10 08:30] anjesh commented on #777
For now, we will just list all the associated documents. If we are viewing the associated document, the main contract will be the first one in the list. All the files will be listed with links. Titles will be shortened to certain number of characters to fit in the two lines, followed by ellipsis.

We will look into the possibility of adding icon near the associated document (could be as simple as

[2016-02-10 08:32] anjesh commented on #22
No this is not technically challenging. Please do prepare the list.

[2016-02-10 11:56] hello-deepak commented on #779
Fixed.

[2016-02-10 11:56] #779 closed

[2016-02-10 12:12] anderspeders commented on #771
I would suggest an overview such as this as spreadsheet: https://docs.google.com/spreadsheets/d/1kxSqanKv53secCRxjVGtM94tDw5JbzIUnNItsdlnNXI/edit#gid=0

We will need some way to verify if each contract had the annotations successfully migrated.

[2016-02-10 14:54] jedm commented on #777
Based on the comments above, the use of bold on the "main contract" or indent for the "non-main" docs is preferable to the icon.

(Others please comment if the icon is preferred.)

[2016-02-10 16:18] KaitlinCCSI commented on #772
Thanks, Anjesh. We'll go with Anders's option B: Merge the various annotation texts: [Annotation text 1; Annotation text 2; etc.]

[2016-02-10 22:05] anderspeders commented on #531
OK, did not catch that. Closing.

[2016-02-10 22:05] #531 closed

[2016-02-10 22:07] anderspeders commented on #772
Thanks @kaitlin,

@anjesh: Please initiate implementation.

[2016-02-10 22:13] anderspeders commented on #715
Looks good,

@KaitlinCCSI?

[2016-02-10 22:18] anderspeders commented on #740
I did not see this and would like to jump in.

As  I understand NRGI is using the external API for analysis and do indeed need to distinguish if contracts are grouped under rc or olc. So I am not keen to approve that we remove this until I am certain that there are no consequences.

@jpmckinney: What type of renaming would you suggest?

[2016-02-10 22:21] anderspeders commented on #745
Sounds good to me.

@anjesh: Is this significant direction?

[2016-02-10 22:31] KaitlinCCSI commented on #715
Looks good; thanks.

On Wed, Feb 10, 2016 at 4:13 PM, Anders <notifications@github.com> wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and Agriculture**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
435 West 116th St. New York, NY 10027
| +1 (917) 658 5172
| kaitlin.cordes@law.columbia.edu
| www.ccsi.columbia.edu | @CCSI_Columbia <https://tw

[2016-02-10 22:35] KaitlinCCSI commented on #777
Agree with Jed. If bold for "main contract" looks okay, would go with that
to ensure that less of the "non-main" doc titles are cut off (which would
happen if we indented).

On Wed, Feb 10, 2016 at 8:54 AM, jedm <notifications@github.com> wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and Agriculture**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia Univ

[2016-02-11 00:09] jpmckinney commented on #740
I don't know - maybe create an object named `__internal__` and then store any key-value pairs you like in there (you can keep the `category` name if you want). This property is not "about" the contract, so it shouldn't be confused for data, so flagging it as really outside the data under an `__internal__` object will avoid any confusion by downstream users.

[2016-02-11 04:03] sadhakbj commented on #705
We have implemented the click functionality in the search results page.
As seen in the image below:
![705](https://cloud.githubusercontent.com/assets/5828622/12969156/73c9f548-d0a4-11e5-976b-5844a7175300.png)

Please check at: http://rc-site-demo.elasticbeanstalk.com/olc/public/search?q=contract

[2016-02-11 04:47] sadhakbj commented on #588
Using the API provided we have generated a JSON file which stores all the all the government entities and identifier for the particular country. We will now implement in admin site. API provides the country's name and in our case we need the country code.
Sample of the json data generated based upon the API provided:
[code]

[2016-02-12 14:47] JesseCCSI opened #780 "Associated doc attached to wrong contract"
See below for screenshots -- I checked the back end and it doesn't appear that this document was associated with the Salala contract. When I click on the hyperlinked Mongolia Ivanhoe associated doc, error 404 appears.

http://www.openlandcontracts.org/contract/ocds-591adf-LR2859639544OL/view

![salala-associated docs](https://cloud.githubusercontent.com/assets/14910764/13009897/ed5f28c4-d16c-11e5-

[2016-02-14 07:41] anjesh commented on #770
Company name is now displayed.

[2016-02-14 14:25] anderspeders commented on #638
@anjesh has confirmed that they are working on the anchor link.

@jedm A disclaimer for the word download documents is already in place at the top of page 1.

[2016-02-14 16:08] jedm commented on #638
Anders I meant inside the downloaded file.

[2016-02-15 08:06] hello-deepak commented on #706
According to  [Contract-type-codelist](https://docs.google.com/spreadsheets/d/15k-7NCkgu1p2eKgWGZnykASLQoa4gR6fOLskV8mdOhY/edit?ts=566690b1#gid=0) , the contract-type which needs to be deleted contains following contract

Joint Venture Agreement
-> 61 Contracts
		http://admin.resourcecontracts.org/contract/1371
		http://admin.resourcecontracts.org/contract/709
		http://admin.resourcecontracts.org/

[2016-02-15 11:24] sadhakbj commented on #638
The disclaimer text has already been added to contract view page and also the downloaded word file.
The Learn More link on the contract text view page or in the downloaded document file anchors to the particular part of the FAQ page. i.e it links to :
 www.resourcecontracts.org/faqs#link_learn_more

[2016-02-15 11:39] sadhakbj commented on #705
We have improved and implemented this feature.
![705_done](https://cloud.githubusercontent.com/assets/5828622/13047684/ed96c0ec-d408-11e5-91e8-674dad415270.png)

[2016-02-15 20:47] SamCCSI commented on #772
@anderspeders @anjesh can you let us know when all annotation entries that have been merged, so that we can efficiently go through the spreadsheet and harmonize as needed?

cc @KaitlinCCSI

[2016-02-16 03:39] sadhakbj commented on #780
- It's fixed now.
![780_sub_site](https://cloud.githubusercontent.com/assets/5828622/13066531/09af84e0-d48f-11e5-8017-8dae9394def0.png)

[2016-02-16 03:39] #780 closed

[2016-02-16 03:45] sadhakbj commented on #777
This has been implemented now as per the decision:
The main contract is bold and other contracts are displayed as normal:

![associated_doc_bold](https://cloud.githubusercontent.com/assets/5828622/13066585/c4c7ac12-d48f-11e5-9a97-84de79c47242.png)

[2016-02-16 04:37] sadhakbj commented on #715
This has been implemented.

Admin site has the following input option:
![715_admin](https://cloud.githubusercontent.com/assets/5828622/13067315/e6fbd360-d496-11e5-8297-8f6d6b35ef2c.png)

And if "Yes" is selected for both the cases then in the sidebar of the contract view page we can see:
![715_subsite](https://cloud.githubusercontent.com/assets/5828622/13067334/1729139a-d497-11e5-9c66-3b64ecb0b84c

[2016-02-16 05:05] sadhakbj commented on #693
- It's fixed now.
![annotate_top](https://cloud.githubusercontent.com/assets/5828622/13067679/1c0ae1be-d49b-11e5-9ecb-232b2e42544d.png)

[2016-02-16 05:05] #693 closed

[2016-02-16 05:10] sadhakbj commented on #633
We have updated the information and the following result is displayed now:

For OLC:
![olc_google](https://cloud.githubusercontent.com/assets/5828622/13067722/a72d57f4-d49b-11e5-9293-943c38a40659.png)

For RC:
![rc_google](https://cloud.githubusercontent.com/assets/5828622/13067731/ce5d6e5e-d49b-11e5-909e-88c77c93181a.png)

[2016-02-16 05:11] sadhakbj commented on #443
It's fixed now:

![iiuse443-annotatin-scrolling fixed](https://cloud.githubusercontent.com/assets/5828622/13067742/ed04edd2-d49b-11e5-9b25-bb20699724a1.png)

[2016-02-16 05:11] #443 closed

[2016-02-16 05:13] sadhakbj commented on #244
Related to https://github.com/NRGI/resourcecontracts.org/issues/638

[2016-02-16 05:13] #244 closed

[2016-02-16 05:18] sadhakbj commented on #573
This is fixed now. Annotation page editing is available for PDF annotations only in the contract summary page.

![573](https://cloud.githubusercontent.com/assets/5828622/13067837/eee69fbe-d49c-11e5-9606-fde30ea81a84.png)

[2016-02-16 05:18] #573 closed

[2016-02-16 05:22] sadhakbj commented on #360
- Implemented now. Currently I am logged in as Research Associate and i have access to publish.

![publish_all](https://cloud.githubusercontent.com/assets/5828622/13067878/75139178-d49d-11e5-8d84-50380db84cd9.png)

[2016-02-16 05:22] #360 closed

[2016-02-16 16:13] anderspeders opened #781 "Contract quality dashboard - returning wrong results"
Example: Display all contracts with missing <Signature date>
http://resourcecontracts.elasticbeanstalk.com/contract?type=annotations&word=date-contract-signature&issue=present

Please review the dashboard for wrongly returned values.

[2016-02-16 16:31] anderspeders opened #782 "Auto-fit the width of the PDF contract to view"
![image](https://cloud.githubusercontent.com/assets/1101585/13082864/6dd16810-d4a0-11e5-9fda-72438d51f6da.png)

Feedback from a training with government agency in Mexico: Could we develop auto-fitting for the center window on the contract view page so that users do not have to scroll **horizontally** on the screen?

@samCCSI @KaitlinCCSI: Not sure if you have addressed this in previous issues?

[2016-02-16 22:54] SamCCSI commented on #633
Apologies for the slow reply. Our proposed language for each is attached.

One question for @jedm @byndcivilization @anderspeders: will including "OpenLandContracts.org" at the beginning of each title ever lead to the title being cut off as it is in this screenshot for RC
[For OLC Index page.docx](https://github.com/NRGI/resourcecontracts.org/files/133390/For.OLC.Index.page.docx)
:
![image](https:

[2016-02-17 01:51] jedm commented on #603
Strongly agree with @anderspeders

[2016-02-17 07:02] charlesyoung commented on #770
This is still an issue.

![image](https://cloud.githubusercontent.com/assets/13888372/13102188/a6f2fa3c-d554-11e5-9894-0b6d106c6bd1.png)

![image](https://cloud.githubusercontent.com/assets/13888372/13102242/0ecb0be0-d555-11e5-8886-4696a3e43e4d.png)

[2016-02-17 17:19] KaitlinCCSI commented on #603
Okay, we are working on rules that would allow us to have an accurate contract tally that would be the sole tally provided, label documents correctly, and not double-count, but it's complicated and taking us a bit of time, particularly since we've been told that we need to do this without having ability to manually adjust when something is counted/not counted for tally. Will send proposal via emai

[2016-02-17 17:34] anderspeders commented on #706
I suggest that these are all re-categorised from <Translated Contract> to <Contract> under <Document Type>.

Once <Translated contract> has been added as a field under <Contract Type> we will be able to assign this.

@SamCCSI @KaitlinCCSI Some of these are OLC contracts - so please confirm.

[2016-02-17 17:42] anderspeders commented on #470
Thanks @KaitlinCCSI,

So just to summarize these would appear:
- "More in [Country]"
- "More in [Resource] | [Resource II]"

Regarding keeping it on one line. As you see below this might be difficult once multiple resources are listed. I do not have a suggestion for this but wanted to flag it might be difficult to keep on oneline:
![image](https://cloud.githubusercontent.com/assets/1101585/1311874

[2016-02-17 17:45] anderspeders commented on #740
ok, I will check on this. Let's wait now on how we implement this.

[2016-02-17 18:01] anderspeders commented on #645
A few corrections, then this should be ready to implement.

@samCCSI @KaitlinCCSI: Any corrections to the text below before we go ahead with this?

When the text/pdf is not published, show this message
"The contract text or PDF has not been published yet. We are working to publish it soon. Please contact us at info-resourcecontracts@resourcegovernance.org for more information."

When the is_ocr_re

[2016-02-17 18:15] jedm commented on #470
As long as YI can make sure to keep a "hanging indent" if the multiple resources extend to muiltiple lines, I think this will be ok.

[2016-02-17 18:44] KaitlinCCSI commented on #470
Sounds okay to me. Just to clarify, this is only for country and resource -
so none of the other categories will appear in this list nor will they be
hyperlinked (eg, year, type of contract will no longer be hyperlinked).

On Wednesday, February 17, 2016, jedm <notifications@github.com> wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and Agriculture**Columbia Center on Sustainable Investment*
Columbi

[2016-02-17 19:14] KaitlinCCSI commented on #645
Is this message just for RC or also for OLC? (If also for OLC, then OLC email address should be used on OLC messages).

Re the messages, I would suggest:

![image](https://cloud.githubusercontent.com/assets/14825437/13121554/4c066a54-d578-11e5-891d-bb2349288a75.png)

[2016-02-17 19:16] anderspeders commented on #470
Thanks @KaitlinCCSI,

@anjesh: This is now ready to implement.

[2016-02-17 19:19] KaitlinCCSI commented on #633
Re-opened to address Sam's proposed language above. Didn't realize this would be implemented before we responded (though apologies for slow response).

[2016-02-17 19:52] SamCCSI commented on #706
Can you please hold off on progressing this for the moment -- we are still determining exactly how the rules for contract tally will work, and we are not sure if any further changes to the codelist will be needed. We will endeavor to get back to you as soon as possible.

[2016-02-17 19:53] anderspeders commented on #706
Sounds good.

[2016-02-18 11:26] sadhakbj commented on #770
- Its fixed on country site also:
![770_fixed](https://cloud.githubusercontent.com/assets/5828622/13142047/a4e6e244-d662-11e5-942c-b093302fa631.png)

[2016-02-18 11:26] #770 closed

[2016-02-18 11:39] anderspeders commented on #514
Thanks @charlesyoung for flagging this,

In principle I agree that this is a good idea.

I think however that one very concrete problem might be that it can take a few minutes or longer for the OCR process to complete. Requiring this as mandatory fields might therefore cause delay in uploading of contracts.

@samCCSI: Can you check with Perrine and CCSI team if there would be any barriers for addi

[2016-02-18 13:17] charlesyoung commented on #514
@anderspeders I agree that it will add time to the OCR process but the current method has resulted in over 400 'not available' text type OCR'ed contracts.

[2016-02-18 22:58] SamCCSI commented on #706
@hello-deepak those 6 contracts should be categorized as follows:
Document type = Contract.
Contract type = Translated Contract.

cc: @anderspeders

[2016-02-19 03:03] KaitlinCCSI commented on #782
I've never noticed this being an issue unless you're zoomed in?

On Tue, Feb 16, 2016 at 10:31 AM, Anders <notifications@github.com> wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and Agriculture**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
435 West 116th St. New York, NY 10027
| +1 (917) 658 5172
| kaitlin.cordes@law.columbia.edu
| www.c

[2016-02-19 15:26] anderspeders commented on #782
Ok, thanks @KaitlinCCSI,

Suggest not scheduling for current as we still have unfinished business from sprint 13.

[2016-02-19 15:59] KaitlinCCSI commented on #51
Have we progressed with fuzzy matching that addresses spelling mistakes? Similarly, is it possible for search to return results where there is a partial word that matches a full word? (For example, if the user searches only half of a word?) See for example these screenshots:

![screen shot 2016-02-19 at 9 55 00 am](https://cloud.githubusercontent.com/assets/14825437/13180736/4df01f0e-d6ef-11e5-827

[2016-02-19 16:41] JesseCCSI commented on #705
We noted the following issues today:

1. This feature functions differently on different computers. For @SamCCSI, the grey ovals (Text/ Annotation/ Metadata) were hyperlinked, while for @KaitlinCCSI and I they were not.
2. Similarly, when Sam clicked on the hyperlinked text or ovals that link to the contract view page (first and second links in your screenshot above), this directed him to the Text

[2016-02-19 16:50] KaitlinCCSI commented on #705
Re-opening to address comments above.

[2016-02-19 17:58] SamCCSI commented on #723
Have updated the first entry on this ticket as follows
Backend: "Agreement terminated [ ]"
Frontend (if box checked): "This agreement **may have** been terminated."

@anderspeders any updates on the progress of this item?

cc @KaitlinCCSI @jesseccsi

[2016-02-19 22:59] anderspeders commented on #705
Thanks @KaitlinCCSI,

@anjesh: Can you check up on this?

[2016-02-21 19:34] charlesyoung commented on #694
Relating to the the ability to change the location of the annotation box on the page mentioned by @SamCCSI and @KaitlinCCSI.

Sierra Leone contracts were annotated on the side and not over the text as shown below.

![image](https://cloud.githubusercontent.com/assets/13888372/13204851/b4c3b098-d8e2-11e5-8295-4a2884e41bfe.png)

The annotations will all have to be redone if the annotation boxes canno

[2016-02-22 22:58] SamCCSI commented on #715
One correction:

It should read "Annex(es)", not "Annexe(s)".

[2016-02-23 03:44] manishgs commented on #588
We have created [SpreadSheet](https://docs.google.com/spreadsheets/d/15k-7NCkgu1p2eKgWGZnykASLQoa4gR6fOLskV8mdOhY/edit?ts=566690b1#gid=1708686393) for Government entities lookup against sparql data.

Are we going to replace government identifier with sparql government identifier for matching government Entities?

[2016-02-23 03:50] manishgs commented on #771
[Spread sheet ](https://docs.google.com/spreadsheets/d/1kxSqanKv53secCRxjVGtM94tDw5JbzIUnNItsdlnNXI/edit#gid=0)has been updated.

Please note that following contracts have same pdf file so we linked to same contract ( which is [1215](http://admin.resourcecontracts.org/contract/1215))

http://www.documentcloud.org/documents/1710314-petroleum-agreement-kosmos-cap-boujdour-see.html
http://www.documen

[2016-02-23 06:56] anderspeders opened #783 "Returned Mech Turk is inserted with html text in introduction"
![image](https://cloud.githubusercontent.com/assets/1101585/13243922/67a27472-d9d0-11e5-9f1d-4c23aa420636.png)

http://www.resourcecontracts.org/contract/ocds-591adf-CD2705996019RC-1256/view#/text

It seems that the Mech Turk text itself is inserted nicely but that something is going wrong at the start of the text insert.

[2016-02-23 15:02] SamCCSI commented on #626
More links to pages "unable to approve":

http://resourcecontracts.elasticbeanstalk.com/mturk/1575?status=1&approved=0
http://resourcecontracts.elasticbeanstalk.com/mturk/1572?status=1&approved=0
http://resourcecontracts.elasticbeanstalk.com/mturk/1568?status=1&approved=0
http://resourcecontracts.elasticbeanstalk.com/mturk/1566?status=1&approved=0
http://resourcecontracts.elasticbeanstalk.com/mtur

[2016-02-23 15:06] KaitlinCCSI commented on #626
Reopened to address Sam's comment/question above.

[2016-02-23 20:46] SamCCSI commented on #782
I encounter this problem (at 100% zoom) on my screen at the office. On my
laptop screen (which is wider) it isn't a problem.

On Fri, Feb 19, 2016 at 10:26 AM, Anders <notifications@github.com> wrote:

--

*SAM SZOKE-BURKE*
*Legal Researcher**Columbia Center on Sustainable Investment*
Columbia Law School | The Earth Institute, Columbia University
435 W116th St. New York, NY 10027
| (+1)(212) 854-2

[2016-02-24 03:55] anjesh commented on #705
@JesseCCSI

This will be taken care of

With the links in the annotation and text in results, annotation link might point to pdf or text depending upon where the annotation is done. With the text result, it will always be linked to text view and not pdf view, as search is available and possible only in text-view.

[2016-02-24 05:19] sadhakbj opened #784 "Sub Site Admin Abilities."
Sub site (olc , rc and country) needs to have admin abilities. So that the admin can
 * Add New Pages
* Delete the Pages
* Change Homepage Image , Sidebar Image
* Change the basic colors.

[2016-02-24 06:06] charlesyoung commented on #514
@samCCSI just confirming that you managed to discuss this case with Perrine and co.

[2016-02-24 14:17] SamCCSI commented on #514
Apologies all -- we will be in touch about this shortly.

[2016-02-24 15:29] anderspeders commented on #514
So to clarify I think the challenge here is the following:

The actual OCR processing might take anything from a few seconds to several minutes for larger size contracts. So I suspect that there might be technical issues with making it a required field.

A possible **work flow* solution could be that CCSI as part of the contract load review that each contract is reviewed for this field.

[2016-02-24 21:21] SamCCSI commented on #763
Related request (based on CCSI's experience liaising with those entering metadata): Can we change the color scheme so that it is more obvious when there is a comment to be responded to? It is confusing to have the comment box red when there is no comment and when there is an unresolved comment.

![image](https://cloud.githubusercontent.com/assets/12913915/13301323/5f72325e-db12-11e5-9815-ecc8bb4b1

[2016-02-24 22:20] SamCCSI commented on #577
Another instance of PDF and text not properly linked.

1. I am in page 3 of the PDF view.
2. I search for "operator".
3. Search results take me to p. 14 of text version.
4. I click PDF (wanting to see the PDF p. 14).
5. The system shows me page 3 of the PDF but says that it is page 14.

![image](https://cloud.githubusercontent.com/assets/12913915/13303006/cfe0dd6c-db1a-11e5-9829-7bf423893b49.png)

[2016-02-25 05:02] hello-deepak commented on #771
The annotation of following contract has been migrated.

http://admin.resourcecontracts.org/contract/175
http://admin.resourcecontracts.org/contract/705
http://admin.resourcecontracts.org/contract/9
http://admin.resourcecontracts.org/contract/706
http://admin.resourcecontracts.org/contract/18
http://admin.resourcecontracts.org/contract/1185

[2016-02-25 05:02] #771 closed

[2016-02-25 07:37] charlesyoung commented on #514
@anderspeders we also need to take into account country sites where CCSI won't be loading the contracts.

[2016-02-25 21:28] KaitlinCCSI commented on #524
Do we have a time frame for addressing this?

[2016-02-25 21:38] KaitlinCCSI opened #785 "Annotations download csv"
The "annotations download" CSV files should be re-thought. Having all info (category, topic, annotation text, PDF page number) in the same column makes it very difficult to read, particularly given that the categories are all in English and French. Is there a reason why we couldn't make it like the other CSV files, with different types of info provided in separate columns?
![screen shot 2016-02-25

[2016-02-25 21:49] JesseCCSI commented on #705
Thanks @anjesh

This seems fine, but re this comment:

_With the links in the annotation and text in results, annotation link might point to pdf or text depending upon where the annotation is done. _

Kaitlin, Sam and I were getting different results on different computers for the same contract (i.e. Sam was directed to the text view, and Kaitlin and I were directed to the PDF view). Is there a wa

[2016-02-25 22:44] KaitlinCCSI commented on #698
Still having this problem of an endless loop between contract page and metadata page; would be great to fix it soon.

[2016-02-26 04:47] anjesh commented on #667
Currently the text-type is just used to select whether the text is good, needs editing or needs to send to Mturk. Besides that the option is not used for any other purpose. We have "Show-pdf-text" to show the text contract view and to download the word.

For eg. this particular contract can be downloaded as word as it has "show pdf text" to true.

![image](https://cloud.githubusercontent.com/asset

[2016-02-26 04:47] #667 closed

[2016-02-26 04:58] anjesh commented on #626
It appears that these assignments are approved by Mturk as no action was taken in a month after submission of the assignment, as can be seen for one such assignment below.

![image](https://cloud.githubusercontent.com/assets/120488/13343537/933e2138-dc75-11e5-944e-e8b376194c81.png)

As per discussion with Anders, we will approve these assignments (which are auto approved by the system due to inact

[2016-02-26 05:08] anjesh commented on #588
For those government entities (which are already present in the RC database) and if found match with the jda, we will need to replace the government-id in the RC db.

[2016-02-26 05:13] anjesh opened #786 "Confusion over Government entity JDA"
Currently it uses the country full name which makes it difficult to query. It could be made easier using the ISO 3166-1 country code (see http://iatistandard.org/201/codelists/Country/). And also the names of the narrower concepts are in lower case. Is there any specific reasons for this?

From the db, we see that entity is mentioned as "PERUPETRO S.A." which matches against "perupetro sa" in the

[2016-02-26 05:29] anjesh commented on #785
Will be fixed after this issue https://github.com/NRGI/resourcecontracts.org/issues/764

[2016-02-26 05:35] anjesh commented on #725
Is this confirmed to update in the db?

[2016-02-26 05:38] anjesh commented on #723
@anderspeders  Please confirm if we are to start implementing this.

[2016-02-26 05:40] anjesh commented on #709
@anderspeders  please confirm on this one.

[2016-02-26 05:48] anjesh commented on #689
This is fixed.

[2016-02-26 08:06] upasna01 commented on #577
Annotation is not present in the contract above. When this issue was tested, it seems PDF and text are properly linked, the search link takes you to the desired Text and PDF (as shown below).
Please verify and provide your comments.
![resourcecontracts org septa energy nigeria limited nigeria 2010-00](https://cloud.githubusercontent.com/assets/11477899/13346512/f1130b66-dc8e-11e5-865e-dbe58a6f6e6a

[2016-02-26 08:55] upasna01 commented on #713
Annotations and cluster categories are used as defined in the following spreadsheet.
https://docs.google.com/spreadsheets/d/1K0wlloEAPFncrNA_mwBjqvW81A5xRpFlK0qlv-j5ZYo/edit#gid=1612543715
Please review

[2016-02-26 08:55] #713 closed

[2016-02-26 09:20] upasna01 commented on #714
We have followed the code list present in the spreadsheet.Thank you for your help.

[2016-02-26 09:46] upasna01 commented on #724
The error have been fixed, please verify.
![openlandcontracts org liberia ej j investment corporation forest management contract 6 october 2008](https://cloud.githubusercontent.com/assets/11477899/13348811/c7b6ded2-dc9d-11e5-89bf-873586d155ba.png)

[2016-02-26 09:46] #724 closed

[2016-02-26 09:48] JesseCCSI commented on #724
Many thanks @upasna01 just checked and this seems to be fixed -- will let you know if we notice otherwise.

[2016-02-26 10:22] upasna01 commented on #571
Annotations and contracts are linked at present. So, I think this issue can be closed.

[2016-02-26 10:22] #571 closed

[2016-02-26 10:48] upasna01 commented on #49
This issue is resolved. Please verify.
![resourcecontracts org london mining company limited sierra leone 2012](https://cloud.githubusercontent.com/assets/11477899/13350150/7d1b0dcc-dca6-11e5-9fe5-0ae5166e8c05.png)

[2016-02-26 10:48] #49 closed

[2016-02-26 11:01] upasna01 commented on #78
Thank you for your suggestions.

[2016-02-26 11:01] #78 closed

[2016-02-26 11:58] charlesyoung commented on #694
Tested the new annotation module.

The link is http://resourcecontracts-demo1.elasticbeanstalk.com/contract/785/annotate#/pdf/page/1/annotation/8134

Results as follows:

**A. Admin Module**
1. Using the same tag for multiple annotations works but I picked up minor issues that will be logged later.
2. Editing an annotation category doesn't work. I added GANOUB EL-WADI HOLDING PETROL
COMPANY as the

[2016-02-26 12:16] anderspeders commented on #580
I think there is agreement to go ahead on this,

@anjesh: Could you show where you would suggest to place the language search field - before deploying?

[2016-02-26 13:45] KaitlinCCSI commented on #725
Yes

On Thu, Feb 25, 2016 at 11:35 PM, Anjesh <notifications@github.com> wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and Agriculture**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
435 West 116th St. New York, NY 10027
| +1 (917) 658 5172
| kaitlin.cordes@law.columbia.edu
| www.ccsi.columbia.edu | @CCSI_Columbia <https://twitter.com/CCSI_

[2016-02-26 13:57] JesseCCSI opened #787 "Amending title of item in the "Company" box (on Summary Page)"
Please see the screenshot below -- this should be **OpenCorporates ID** (i.e. please add an "s" at the end, and remove the space between "Open" and "Corporates").

Many thanks.

![screen shot 2016-02-26 at 13 46 19](https://cloud.githubusercontent.com/assets/14910764/13354105/c973337c-dc90-11e5-9bd5-b6fee5106053.png)

cc @SamCCSI @KaitlinCCSI

[2016-02-26 14:04] SamCCSI commented on #709
@anderspeders This is part of our Proposal that covers contract tallies, auto-naming, associated docs, etc.

[2016-02-26 14:04] SamCCSI commented on #580
Remember also our intention to have "Document Type" as another advanced search field: https://github.com/NRGI/resourcecontracts.org/issues/709

[2016-02-26 14:20] SamCCSI commented on #577
Thanks @upasna01

This was an example of text search, not annotation search.

The problem still persists for this contract -- I just followed my above steps again and had the same problem.
http://www.resourcecontracts.org/contract/ocds-591adf-IQ2330277046RC/view#/pdf

[2016-02-29 10:44] charlesyoung commented on #694
Related annotations for multiple annotations don't always show all the page numbers. In below screenshot page 11 isn't shown which could be correct because the user is on page 11.

![image](https://cloud.githubusercontent.com/assets/13888372/13390866/a9f4ad46-ded9-11e5-8a8a-bd59c21593aa.png)

But then on page 5 the related annotation on page 11 is displayed.

![image](https://cloud.githubuserconte

[2016-02-29 15:36] lisssek commented on #786
we create concepts in a consistent manner: all lower case, no punctuations for the uniformity of our database and URIs (we use the concept names to create our URIs ). The name "as is" or was found within your db can be found under altLabel. We can change the preferred name from country name to ISO, this is up to you.

[2016-02-29 16:43] SamCCSI commented on #694
We have started to test this module as well. Some initial reactions:

1. Please change display of page refs in the annotation window to make it the same as in the left column. I.e. include all pages and art refs.
![image](https://cloud.githubusercontent.com/assets/12913915/13399059/5dc851d4-decf-11e5-8c73-2e39ef46a3ef.png)
![image](https://cloud.githubusercontent.com/assets/12913915/13399080/814e0

[2016-02-29 18:02] SamCCSI opened #788 "PDF page not showing on MT approval page"
The PDF page preview for me to compare the Mechanical Turk contracts is not appearing for any of the contracts I am reviewing on either Chrome or Firefox. Please see attached screenshot.
![screen shot 2016-02-29 at 12 22 11 pm](https://cloud.githubusercontent.com/assets/12913915/13403751/97522ee2-dee4-11e5-9100-50308699a665.png)

[2016-02-29 20:57] SamCCSI commented on #626
There are still some MT entries that haven't been auto approved, and some rejections that haven't been automatically reset.

I was not able to approve this:
http://resourcecontracts.elasticbeanstalk.com/mturk/1278/3281

Also, I cannot reject the pages on this URL:
http://resourcecontracts.elasticbeanstalk.com/mturk/161?status=1&approved=0

[2016-03-01 04:00] upasna01 commented on #552
This is fixed now. Please review the changes.

[2016-03-01 04:00] #552 closed

[2016-03-01 04:30] upasna01 commented on #705
The issue have been fixed. Please review changes. Here is the screenshot for search links.
![search-links](https://cloud.githubusercontent.com/assets/11477899/13417697/62b33516-df96-11e5-9414-10b00fa1d187.png)

[2016-03-01 04:30] #705 closed

[2016-03-01 05:13] upasna01 commented on #679
This issue will be fixed on new annotations module.

[2016-03-01 05:13] #679 closed

[2016-03-01 05:14] upasna01 commented on #764
This issue is fixed now. Please the changes.

[2016-03-01 05:14] #764 closed

[2016-03-01 05:15] upasna01 commented on #785
This issue have been fixed. Please review changes.

[2016-03-01 05:51] sadhakbj commented on #788
- It's working. It might have been temporary problem (from the google). Closing for now. Reopen if the problem persists again.

![788](https://cloud.githubusercontent.com/assets/5828622/13418905/dd755b70-dfa1-11e5-99e3-6af5ddf3cf19.png)

[2016-03-01 05:51] #788 closed

[2016-03-01 05:54] #720 closed

[2016-03-01 05:54] manishgs commented on #781
Could you please provide us more information or screenshot that displaying wrong results so that we can fix the issue?

[2016-03-01 06:02] sadhakbj commented on #706
@SamCCSI
Contract - [#1036]( http://admin.resourcecontracts.org/contract/1036 ) could'nt be updated because this contract contain any resource which is a mandatory field to edit / create a contract. Please review this particular contract while other 5 contracts have been updated.

Closing the issue for now.

[2016-03-01 06:02] #706 closed

[2016-03-01 06:05] sadhakbj commented on #588
It's implemented.
![588](https://cloud.githubusercontent.com/assets/5828622/13419090/b55c7e82-dfa3-11e5-8373-52506eddb649.png)

[2016-03-01 06:05] #588 closed

[2016-03-01 06:10] upasna01 commented on #645
The issue have been fixed. Please review changes. The screenshot for the message is shown below.
![resourcecontracts org search contracts](https://cloud.githubusercontent.com/assets/11477899/13419132/f41e3c14-dfa3-11e5-9752-08bcd13fa20c.png)

[2016-03-01 06:17] upasna01 commented on #722
The issue have been fixed. Please review changes. Here is the snapshot of the change.
![please save](https://cloud.githubusercontent.com/assets/11477899/13419357/70cc8828-dfa5-11e5-821c-74abf0dc797f.png)

[2016-03-01 06:17] #722 closed

[2016-03-01 07:53] sadhakbj commented on #633
The changes has been updated. Google will take some time to update the details. Closing for now.

[2016-03-01 11:51] manishgs opened #789 "Clipping feature for annotations"
I've created mocks to illustrate clipping feature for annotation. [Click here](https://app.moqups.com/manish.singh@yipl.com.np/SBjO9Tl4/view) to see the UI. Please review the mocks and we can further discuss clipping feature here is this issue

@anderspeders  @anjesh

[2016-03-01 13:04] anderspeders commented on #626
Thanks - @manishgs please review

[2016-03-01 13:05] KaitlinCCSI commented on #645
Thanks. For OLC, though, the email needs to be info@openlandcontracts.org. Reopening so this can be changed on OLC only.

[2016-03-01 13:09] KaitlinCCSI commented on #785
Looks much better; thanks. I don't know if you can control this, but if you can make Column A more narrow and Column C more wide, it would be even easier to read, as currently there is a lot of blank space in Column A and then the annotations are scrunched together in Column B.

![screen shot 2016-03-01 at 7 08 18 am](https://cloud.githubusercontent.com/assets/14825437/13427899/8853d128-df7c-11e5-

[2016-03-01 15:09] SamCCSI commented on #721
Thanks @sadhakbj @anjesh one small change.

Contract type should be "Subcontract", not "Sub Contract".

[2016-03-01 15:26] SamCCSI commented on #776
@anjesh thank you for making Document type mandatory.

Please make contract type non-mandatory as discussed in this ticket.

(Explanation: some document types are not contracts, hence there will be no contract type).

CC @anderspeders and @KaitlinCCSI

[2016-03-01 15:28] KaitlinCCSI commented on #776
Reopening to address Sam's comment above

[2016-03-01 15:28] KaitlinCCSI commented on #721
Reopening to address Sam's comment above

[2016-03-01 15:30] anderspeders opened #790 "Dealing with joint venture company within company field"
For contracts in Dem. Rep. Congo we have a particular issue related to the company structure behind contracts:

The procedure is the following:
- A series of companies *and* the national mining company forms a joitn venture company which becomes the sole owner of the contract.

For example:
http://www.resourcecontracts.org/contract/ocds-591adf-CD4652553506RC

**Kamoto** as joint venture is formed

[2016-03-01 15:45] SamCCSI commented on #721
I've amended my comment -- this all looks good, and issue can be closed.

[2016-03-01 15:56] SamCCSI commented on #790
Would it be possible to create an additional metadata field: "Name of the company created"?

This would align with the annotation field with a similar name, and would allow for clarity and more accurate metadata, as opposed to just including JVs as companies (which would incorrectly imply that they are signatories), or excluding them.

[2016-03-01 18:21] jpmckinney commented on #790
I'm not clear on the issue. @SamCCSI : You write that the JVs are not signatories. So who are the signatories?

In the Kamoto Mine example, it sounds like the JV is the signatory. In that case, it makes sense to treat it as a company. The question of company hierarchy/control is perhaps out-of-scope.

[2016-03-01 18:24] SamCCSI commented on #694
Illustrating Charles' point 4, above. We need to be able to expand / contract the annotation:

![image](https://cloud.githubusercontent.com/assets/12913915/13437187/e0aae526-dfb0-11e5-97ff-0f07da779f43.png)

[2016-03-01 18:39] anderspeders opened #791 "Mock up requested for new annotation module - how will this look on the front end?"

[2016-03-01 19:41] anderspeders commented on #552
I will be sharing an update on the schema for the download file.

[2016-03-01 19:42] anderspeders commented on #776
@anjesh @manishgs Please make <contract type> **non-mandatory** as discussed in this ticket.

[2016-03-01 19:49] anderspeders commented on #51
@anjesh: Could we include a review of the search functionality in sprint 14. Multiple tickets are open but this one would be a good place to start.

[2016-03-01 19:53] anderspeders commented on #524
Could we get 1-2 suggestions on how users can be guided from the front page to the advanced search page?

[2016-03-01 19:55] anderspeders opened #792 "Improve appearance of side bar"
The appearance of the sidebar is currently not clear to users. Could it be more prominently displayed?

cc @KaitlinCCSI

[2016-03-01 20:09] KaitlinCCSI opened #793 "annotations buggy"
In this contract, the annotation boxes at the top of the page only work sometimes -- clicking on them will occasionally link to the relevant annotation in left, but other times clicking on them does nothing.

http://www.openlandcontracts.org/contract/ocds-591adf-SS5768196941OL/view#/pdf/page/2/annotation/25408

[2016-03-01 22:35] SamCCSI opened #794 "Migirated OLC contract missing last ten pages"
Online version has 39 pages. It should have 49 pages.
http://www.openlandcontracts.org/contract/ocds-591adf-CM4083500829OL/view#/pdf/

Here is PDF: https://www.dropbox.com/s/q0kv5en5h2abexa/SGSOC%20Cameroon.pdf?dl=0

Annotations appear on pages after p. 39.

Added complication: this has already been through MT for 38 of the 39 pages, so we don't want to lose those transcriptions once the PDF is re

[2016-03-02 04:02] upasna01 commented on #627
This issue have been fixed. Please review the changes. Here is the snapshot of it.
![olc](https://cloud.githubusercontent.com/assets/11477899/13450288/c0cf6366-e05b-11e5-9464-6b2a69214477.png)

[2016-03-02 04:02] #627 closed

[2016-03-02 04:21] upasna01 commented on #750
List of associated contracts will be shown if the existing contracts have related documents. Here is the snapshot for it. I assume this issue can be closed for now.
![associated-doc](https://cloud.githubusercontent.com/assets/11477899/13450486/eeaed314-e05d-11e5-8cbc-4d65b71b3be4.png)

[2016-03-02 04:21] #750 closed

[2016-03-02 04:26] jedm commented on #750
I believe that the formatting and the header title are not as we had requested, but @anderspeders can confirm.

[2016-03-02 10:19] charlesyoung commented on #694
1. This isn't new but it's cumbersome to have two vertical scroll bars.

![image](https://cloud.githubusercontent.com/assets/13888372/13456710/29521e18-e06d-11e5-8c46-b42bc28eacbe.png)

2. Category hyperlink removed. Is this by design?

![image](https://cloud.githubusercontent.com/assets/13888372/13457101/f8d03f02-e06e-11e5-9aa9-00d48e710e8b.png)

Existing site.

![image](https://cloud.githubuserc

[2016-03-02 10:23] timgdavies commented on #790
As others have noted [in the OCDS thread](https://groups.google.com/a/open-contracting.org/forum/?utm_medium=email&utm_source=footer#!msg/standard-discuss/K6DReV3SwEU/qiDzwYnbBAAJ), it is important not to confuse information about the **legal entity** that is party to the contract (the Joint Venture) with it's ownership information.

Ideally, in a world of joined up data, company hierarchy informa

[2016-03-02 10:37] manishgs commented on #626
Now system handles HIT that auto approved by MTurk due to no action was taken for 30 days after assignment submitted by the worker.

If user approve HIT, the HIT status updated to `Approved` and following message will be shown.

`HIT already approved on Mechanical Turk since no action was taken for 30 days after assignment submission.`

If user reject HIT, the HIT status updated to `Approved` and

[2016-03-02 10:37] #626 closed

[2016-03-02 11:10] charlesyoung commented on #694
Linked to case #791

[2016-03-02 11:20] charlesyoung commented on #694
Will we need to provide annotation support for other languages like Spanish and if so how will this be presented in an already 'full' category drop down list?

![image](https://cloud.githubusercontent.com/assets/13888372/13458919/ded088e6-e078-11e5-8bc0-2701080196a8.png)

[2016-03-02 11:24] manishgs commented on #794
We've added missing pdfs in s3 and pages in database.

Confirm the  pages [here](http://admin.resourcecontracts.org/contract/1150/annotate)

We have also created [MTurk HITs](http://admin.resourcecontracts.org/mturk/1150) for missing pages

You can send text to RC once transcription completed of all missing pages.

[2016-03-02 11:24] #794 closed

[2016-03-02 11:40] charlesyoung commented on #694
Annotation boxes are not displayed on the correct place when flipping between pages.

![image](https://cloud.githubusercontent.com/assets/13888372/13459420/1ec6c23c-e07c-11e5-8481-96c6d71475ec.png)

[2016-03-02 11:46] upasna01 commented on #776
This issue is fixed, please review the change. Here is the snapshot for it.
![contract-type](https://cloud.githubusercontent.com/assets/11477899/13459547/85e85a0a-e09c-11e5-8d8f-23d9c8a3fa1f.png)

[2016-03-02 11:46] #776 closed

[2016-03-02 12:36] anjesh commented on #791
The annotation frontend will be same as that of admin. Hovering over any annotation will show the links to the related annotations to other pages as well.

![image](https://cloud.githubusercontent.com/assets/120488/13460374/3da2a222-e0a2-11e5-8b0a-3fab3ecfbcac.png)

We haven't made that change to the frontend as of now, as we are waiting for the final decision on the data model and process at the

[2016-03-02 15:48] SamCCSI commented on #776
Thanks @upasna01 this seems to work well.

[2016-03-02 16:05] SamCCSI commented on #794
Thanks @manishgs this is great.

One problem: I got the "Assignment could not be approve." error message when trying to approve one of those MT pages that had been transcribed.

[2016-03-02 22:03] SamCCSI opened #795 "MT did not auto reset"
For some reason this contract has been sitting untranscribed, but did not auto-reset. Can you fix this for this contract and every other idle contract?

http://resourcecontracts.elasticbeanstalk.com/mturk/681

Also, I checked a box in the warning pop-up when manually resetting page 1 and now I can't reset any other buttons (no warning pop up appears). Is there an easy way to get these pop ups back

[2016-03-02 22:11] SamCCSI commented on #795
Another example of the exact same problem: http://resourcecontracts.elasticbeanstalk.com/mturk/682

Do you know why these aren't auto-resetting?

[2016-03-03 07:28] manishgs commented on #794
Its fixed now.

[2016-03-03 07:32] jedm commented on #577
@anjesh, we would like to add a visual indicator for a selected Annotation when it rolls to the top of the left column. Currently, selecting an Annotation in the left column updates the viewer (center) area to the proper location in the contract and shows the popup/balloon hovering over the yellow box. When you select an Annotation using the viewer (center) area, there is no popup or visual indica

[2016-03-03 07:56] manishgs commented on #791
Below is the screenshot displaying how annotations are listed in contract summary page.

![screenshot from 2016-03-03 13 27 52](https://cloud.githubusercontent.com/assets/3942999/13487683/e438cce6-e143-11e5-9fac-2478a6981cec.png)

We've a confusion for annotation count. Can you please confirm the total annotations (4 or 3) from above image?

[2016-03-03 11:32] manishgs commented on #795
We had auto reset HIT feature (cron) for expired HIT but we disabled it because we got lots of error messages from mturk due to not enough balance in mturk account. Now we are thinking manual reset HITs of a contract instead of auto-reset. We'll have a button to reset all expired HIT and the tasks which haven't HIT yet.

![screenshot from 2016-03-03 17 08 21](https://cloud.githubusercontent.com/as

[2016-03-03 11:44] manishgs commented on #51
We've implemented fuzzy search and deployed in demo. Please review [here](http://rc-site-demo.elasticbeanstalk.com/olc/public/search?q=karutur) once and let us know your feedback.

[2016-03-03 12:00] upasna01 commented on #709
Please review the sample mock up for the search page and do comment if any changes required.
![searchh](https://cloud.githubusercontent.com/assets/11477899/13493701/b01539a8-e167-11e5-9eff-55334c399956.png)

[2016-03-03 12:00] manishgs commented on #782
We can't auto-fit the width of pdf to view.  We've increase the width of pdf view so that scroll will not be shown on the screen which is more than 1250px. To support less than 1250px screen we need to hide metadata section on page load then there will be toggle button to show/hide the section.

[2016-03-03 12:08] anderspeders commented on #709
@SamCCSI Any thoughts?

[2016-03-03 12:11] upasna01 commented on #645
Email in OLC have been changed, please review the change.
![rc](https://cloud.githubusercontent.com/assets/11477899/13493904/0e941f5c-e169-11e5-8680-3670f0469096.png)

[2016-03-03 12:14] upasna01 commented on #783
The issue have been fixed, please review the change.
![dd](https://cloud.githubusercontent.com/assets/11477899/13493978/a106ffa8-e169-11e5-9882-dd4471949764.png)

[2016-03-03 12:14] #783 closed

[2016-03-03 12:16] anderspeders commented on #772
@SamCCSI @KaitlinCCSI:

Here is my understanding of where we are at in the process.

YI has identified all contracts where there are multiple annotations for the same category.

In the sheet below you will find these listed. I have filtered the document to show annotation where merge / harmonization is required. Column A provides the contract.

Document is here:
https://docs.google.com/spreadsheet

[2016-03-03 13:53] charlesyoung opened #796 "Company name drop down list"
Should there not be a drop down list of existing companies allowing the Uploader to select the company name, if already in the database, rather than creating duplicate companies like below.

![image](https://cloud.githubusercontent.com/assets/13888372/13496213/99cff5ee-e157-11e5-88c2-7b84cdd1af18.png)

![image](https://cloud.githubusercontent.com/assets/13888372/13496163/5ba83ba0-e157-11e5-901b-ba

[2016-03-03 14:48] charlesyoung opened #797 "Cannot open PDF's"
Not sure if this is just on my side but no PDF's are loading.

[2016-03-03 15:13] anderspeders commented on #796
I think there are a few options here:

1) @anjesh: Could you implement a "pick list" from excitsting company names (in the  ResourceContracts database) on the back end?
2) Charles: We should harmonize names that are obviously the same. I will create a new ticket for this.

[2016-03-03 15:15] SamCCSI commented on #795
@anderspeders I liked the auto-reset idea -- Much less manual review needed. Is it not an option to always have a larger buffer of MT credit?

[2016-03-03 15:16] SamCCSI commented on #795
@manishgs any suggestions for the second part of my query? _ I checked a box in the warning pop-up when manually resetting page 1 and now I can't reset any other buttons (no warning pop up appears). Is there an easy way to get these pop ups back?_

[2016-03-03 15:17] anderspeders opened #798 "Harmonize company names that are identical"
Example here:
https://cloud.githubusercontent.com/assets/13888372/13496213/99cff5ee-e157-11e5-88c2-7b84cdd1af18.png

This could likely be done by having a review of the full dataset.

[2016-03-03 15:20] charlesyoung commented on #796
Relating to case #798

[2016-03-03 16:12] KaitlinCCSI commented on #51
Thanks, @manishgs. It would be great to get feedback from @byndcivilization and @jedm on this. Two initial impressions:
1. I'm not sure how the site decides when to match/not match, but, for example, "Karutu" returns a contract for Karuturi, but "Karut" does not return anything. Is there a good reason for this difference, or is it just that you've manually entered in a few misspellings that you th

[2016-03-03 16:23] SamCCSI commented on #709
This looks great.

Only requested change is for "Year Signed" to be moved two places to the right.

[2016-03-03 16:52] anderspeders commented on #709
Sounds good,

Anjesh: please go ahead and implement. This guidance be clear enough so that no mock is required.

[2016-03-03 18:50] SamCCSI commented on #772
@anderspeders to confirm that we will hold of the auto-harmonization for now.

@anderspeders @anjesh Is it possible for you to produce a similar spreadsheet of annotations needing harmonization for OLC? This would be very useful for us.

[2016-03-03 19:33] SamCCSI commented on #791
@manishgs 3

[2016-03-03 19:36] SamCCSI commented on #694
As discussed with @anderspeders we are happy for this module to be deployed once the 3 issues I mention above are incorporated, with the understanding that future changes / fixes may be needed. Can you please let me know when this is ready?

If I start an annotation now. Can I amend it once the new module is running, or do I need to start from scratch?

[2016-03-03 21:09] jedm commented on #51
If others are confident that the similar word list can be curated on the back end to account for multiple languages AND misspellings all in one feature, then I think this is a great solution. It will entail both vigilance and multilingual knowledge or research by all uploaders, however!

And I agree exactly with @KaitlinCCSI suggestion. The "similar word" list is highly useful for back-end and not

[2016-03-04 04:06] manishgs commented on #795
I did reset for couple of HIT. I can see warning alert box and HIT reset successfully.

![screenshot-resourcecontracts elasticbeanstalk com 2016-03-04 09-46-16](https://cloud.githubusercontent.com/assets/3942999/13517692/20fc73da-e1ee-11e5-8836-85d0d3647502.png)

Can you please try again? It should work.

[2016-03-04 04:17] manishgs commented on #797
Which page are you referring? Could you please share the screenshot?

[2016-03-04 04:44] upasna01 commented on #787
Change have been implemented. Here is the snapshot for it. Please do review.
![opencorporats](https://cloud.githubusercontent.com/assets/11477899/13518208/9b4c7824-e1f3-11e5-9e1b-09b53fe6fef3.png)

[2016-03-04 04:44] #787 closed

[2016-03-04 06:50] charlesyoung commented on #797
Its the whole document. Can you open this PDF?

http://www.resourcecontracts.org/contract/ocds-591adf-PE6396832160RC/view

[2016-03-04 06:59] charlesyoung commented on #798
@anjesh will it be possible to create a xls that lists all the companies which will allow me to check for duplicate companies and harmonize where required?

[2016-03-04 08:32] manishgs commented on #798
I've generated unique companies from database .
[company_name_data.xlsx](https://github.com/NRGI/resourcecontracts.org/files/158337/company_name_data.xlsx)
Let us know you when you complete the harmonization.

[2016-03-04 08:55] manishgs commented on #797
This contract was already deleted from admin on "2016-01-07 17:02:53" but wasn't removed from subsite. We'll remove this contract from subsite and we will verify and remove other contracts which was deleted from admin but still shown in subsite.

[2016-03-04 09:01] charlesyoung commented on #797
What is the workflow re deleting contracts from admin and the resulting impact on the RC public site? It's concerning that deleted contracts are still visible on the RC public site.

[2016-03-04 09:57] sadhakbj commented on #784
Its implemented in demo site. Please check it here. http://rc-site-demo.elasticbeanstalk.com/country/public/admin/theme

[2016-03-04 10:24] charlesyoung commented on #798
Thanks @manishgs. Can I ask you to add the relevant contract name in attached xls (highlighted cells) because I will need to check the contracts to determine the correct company name.

Question; are companies captured in upper case (CAMAC ENERGY KENYA LIMITED) compared to capitalized case (CAMAC Energy Kenya Limited) recorded as two different companies?

[company_name_data.xlsx](https://github.com

[2016-03-04 10:37] charlesyoung commented on #784
Just updated the background image but it hasn't changed. Is it cached?

![image](https://cloud.githubusercontent.com/assets/13888372/13524737/c44bed24-e205-11e5-8a99-2925691dde37.png)

[2016-03-04 10:38] charlesyoung commented on #784
OK works.

[2016-03-04 11:41] charlesyoung commented on #784
Looking good, two questions.

1. I don't think the secondary colour works.

![image](https://cloud.githubusercontent.com/assets/13888372/13526015/b7d0e506-e20d-11e5-89b7-b99f6e8cd155.png)

2. The Resource and FAQ's pages aren't  shown on the site. How can these pages be made visible?

![image](https://cloud.githubusercontent.com/assets/13888372/13526081/3f6889ba-e20e-11e5-914c-dc37a8367f5c.png)

[2016-03-04 11:48] manishgs commented on #797
When we delete contract from admin it also get deleted from elastic-search database and it will not show in subsite.

Some were not deleted due to mismatched of indexing api in admin site. We will be deleting those contracts from elasticsearch database.

We found following contracts were deleted from admin but still showing in subsite.
http://www.resourcecontracts.org/contract/1298/view
http://www

[2016-03-04 11:55] charlesyoung commented on #797
Thanks @anjesh. How can we ensure that this doesn't happen again?

[2016-03-04 11:58] anjhero commented on #186
Hi all,

Here're a new design of the homepage. This design solves few issues mentioned above and in the other issue pages ( #524 , #631 , #486  ). Please take a look:

![homepage i](https://cloud.githubusercontent.com/assets/528549/13526327/5d3cc84a-e22f-11e5-95bf-445b882181a7.png)
![homepage ii](https://cloud.githubusercontent.com/assets/528549/13526339/6907dad4-e22f-11e5-88fe-d00a6f154fed.png)

[2016-03-04 12:05] charlesyoung commented on #186
Looking good. I think that the second map looks better. Is the map updated dynamically? Also is the map and graph only showing contracts (main) or does it include associated documents?

[2016-03-04 12:25] charlesyoung commented on #784
Is the secondary colour the colour when clicking on the search button? If this is the case then how can the side bar colour be changed?

[2016-03-04 14:38] SamCCSI commented on #795
@manishgs working now, many thanks.

@anderspeders your thoughts on auto-reset?

[2016-03-04 15:02] KaitlinCCSI commented on #186
I like the direction this is going, but a few points:
- It seems busy, and I think some things could potentially be cut. For example, not sure if the language above the search bar "This repository of mining ..." is necessary?
- I like having the pages in the top right -- I think they're easier to find -- but don't think they need to be at both the top and in the footer. Can we keep at the top, and

[2016-03-04 16:04] anderspeders opened #799 "Requests for additional document types"
EITI Philippines have asked that the following document types are added. These would all be associated documents:

MRFC – Mine Rehabilitation Fund Committee
MMT – Multi Partite Fund Committee
EIS – Environmental Impact Statement
SDMP – Social Development and Management Plan
EPEP – Environmental Protection and Enhancement Program
MRDP – Mining Rehabilitation and Decommissioning Plan
ISHES – Integra

[2016-03-04 16:54] SamCCSI commented on #787
Looks great, thanks @upasna01

[2016-03-06 13:55] KaitlinCCSI opened #800 "Word in dropdown menu cut off again (on advanced search page)"
![screen shot 2016-03-06 at 7 53 59 am](https://cloud.githubusercontent.com/assets/14825437/13554566/bda52ee2-e370-11e5-9e45-3ddc216dbbb6.png)

[2016-03-06 15:51] KaitlinCCSI opened #801 "Annotation box cut off when arriving through advanced search page"
When clicking into a contract through an annotation search on the advanced search page, the annotation box is cut off; should be fixed. When clicking in the annotations column on the left of the contract view page, the annotation box is not cut off.

For example, when clicking on the page number where annotation is found to arrive at that annotation in the contract view page:
![screen shot 2016-03

[2016-03-07 06:00] anjhero commented on #186
To answer your comments:

@charlesyoung Yes, the map and the graph will update dynamically as and when changes are made in the system. They also include the main contracts and associated documents as well.

@KaitlinCCSI

- Yes, it should be okay if we remove the sentence "The repository of mining and ...". It will make the UI look less busy.

- The reason they're in the footer is that in some case

[2016-03-07 08:00] manishgs commented on #798
Could not update the excel sheet you have attached as contract data has been updated on server. I've regenerated the excel sheet with contract name.
[company_name_data.xlsx](https://github.com/NRGI/resourcecontracts.org/files/160940/company_name_data.xlsx)

Regarding you question yes they are treated differently and recorded as two different companies.

[2016-03-07 10:43] manishgs commented on #784
Secondary color used in hover color like search button and anchor link color in footer.

![screenshot- domain date time 1](https://cloud.githubusercontent.com/assets/3942999/13567087/43e59062-e481-11e5-80c8-6d087597203e.png)

[2016-03-07 11:06] charlesyoung commented on #784
Will it be possible to add an option to change the side bar colour?

Are you factoring in the the new homepage design?

[2016-03-07 12:29] anderspeders commented on #795
This sounds good to me.

[2016-03-07 12:41] anderspeders opened #802 "Technical documentation on how OCIDs are assigned"
Currently we have - as I understand it - the following process in place.

1) A main contract is assigned an OCID which will cover the full instance of the main contract and associated documents

2) Associated documents are assigned a sub-OCID which will identify the specific document as a part of the "contract group" belonging to the main contract.

We need this process documented in the wiki.

Be

[2016-03-07 12:52] anderspeders opened #803 "Suggestion: Add country drop down to front page"
We discussed the front page search on the last call.

One way to give the front page a more user friendly entry point for search could be to add a **country** drop down to the search. See below how OpenCorporates offers a country dropdown as part of the front page search.

![image](https://cloud.githubusercontent.com/assets/1101585/13569923/09c179e8-e439-11e5-8d11-cc6b0f561a88.png)

@SamCCSI @Kait

[2016-03-07 13:16] anderspeders commented on #790
Here are my view on the options:

1) We define the JV as the legal signatory party towards the state: In this case the JV should be the sole signatory party. The rest of the company information could be added in the **notes field** as long as we do not include beneficial ownership information.

This option seems to be rejected by Perrine.

2) We define that the companies who are party to the JV ac

[2016-03-07 14:28] anderspeders opened #804 "Update API v.2 documentation"
As far as I understand the API documentation has not been updated to reflect the latest changes.

Could we please proceed with this: https://github.com/NRGI/resourcecontracts.org/wiki/API

I suggest that this ticket also should deal with the need for keeping documentation for the old (still maintained API) v.1.

[2016-03-07 14:31] JesseCCSI commented on #627
Thanks @upasna01 this looks good - will let you know if we notice any further issues

[2016-03-07 16:11] anderspeders commented on #781
I will need to review this as I cannot see issues at the moment. Will reopen once I find it.

[2016-03-07 16:11] #781 closed

[2016-03-07 16:12] anderspeders commented on #791
@manishgs: Please let us know if you need additional feedback here?

[2016-03-07 16:32] SamCCSI opened #805 "BUG: Upside down / back to front PDF on backend"
This error happens almost every time I click back or forth quickly on the back end. It is impairing our ability to review contracts quickly. @anderspeders

![image](https://cloud.githubusercontent.com/assets/12913915/13575699/33f62816-e458-11e5-98e4-7c8fd8a9b9f9.png)

[2016-03-07 18:58] jpmckinney commented on #790
Where is any of Perrine's content? I haven't seen it.

[2016-03-07 19:04] jpmckinney commented on #802
To clarify, an OCID identifies a contracting **process**, not an individual contract. A process can have multiple contracts and multiple documents.

Once you relate a contract or document to a process (thus relating it to that process' OCID), there's no reason to ever change that OCID, unless you made a mistake and there was, in fact, no relation between that contract and that process (e.g. the co

[2016-03-07 19:58] KaitlinCCSI commented on #694
Hi @anjesh do you know when this will be deployed? We are hoping to start annotating again this week.

[2016-03-07 20:01] JesseCCSI opened #806 "Adding anchor links"
We've been trying to create a table of contents on the FAQ page, and to use anchor links to link each question in the ToC to the answer lower down on the page.

The anchor links don't seem to be working (nothing happens when I click on test link).

What is the best way to add these?

[2016-03-07 20:48] KaitlinCCSI commented on #790
Perrine is not on Github, so her comments have come via email and other
conversations.

Am jumping in to respond to Anders's suggestions/comments:

Using the Kamoto example: the contract is a Convention de Joint-Venture, so
the signatory parties are Gecamines and Kinross. Kamoto (the joint venture)
is NOT a signatory, but rather the JV created through the contract.

The current metadata fields are

[2016-03-07 21:17] SamCCSI commented on #795
@anderspeders are you saying auto-reset sounds good? If so, can we put this into action again and top up the amount of credits sitting in MT so that we don't exhaust funds?

[2016-03-07 21:20] jpmckinney commented on #790
I think, in all cases, reality should win. If a JV is formed and then the JV signs a contract, then the JV shows up in the company field. If the JV is only formed through a contract or after a signature, then the JV does not show up in the company field, but the actual signatory.

So, there should be no hard rule about where JVs show up. They may be signatories. They may not be. You can only tell

[2016-03-07 21:27] JesseCCSI opened #807 "Source URLs and "Other" Disclosure Mode not showing on front end"
We've added source URLs on the back end to most of the contracts for OLC, but they are not showing up on the front end.

See e.g.

http://www.openlandcontracts.org/contract/ocds-591adf-LR8579251623OL // http://resourcecontracts.elasticbeanstalk.com/contract/1382/edit

http://www.openlandcontracts.org/contract/ocds-591adf-ET4854285702OL // http://resourcecontracts.elasticbeanstalk.com/contract/1027

[2016-03-07 21:29] KaitlinCCSI commented on #790
Thanks, @jpmckinney, all sounds sensible. Perrine wasn't opposed to putting the JV name in as company name when the JV is the signatory; she was only considering the option where the JV is not the signatory (my understanding is that this is the situation with all of the DRC contracts?).

The only slight complication re the DRC context, which I forgot to mention before: apparently the JV name is us

[2016-03-07 21:44] JesseCCSI commented on #807
Following up on previous comment, when we select "Other" for "Disclosure Mode", this does not save and does not appear on the front end.

[2016-03-07 21:50] jpmckinney commented on #790
As a compromise for autonaming, could there be a new field added, along the lines of "autonaming affix", which would allow editors to add some additional text to be prefixed, suffixed or otherwise affixed to the autoname? That way, autonaming is still automatic, but allows the addition of other text that isn't sourced from the standard fields.

[2016-03-07 22:01] JesseCCSI opened #808 "Homepage > "View all resources""
See screenshot below -- this should be changed to match the left hand box ("View All Countries")

![view all resources](https://cloud.githubusercontent.com/assets/14910764/13584784/128b4c1e-e486-11e5-9b1f-e185e4e1b0ce.png)

[2016-03-07 22:07] JesseCCSI commented on #705
Thanks @upasna01 this appears ok, except for the bug highlighted by @KaitlinCCSI regarding the annotation boxes (in issues #801 and #793)

[2016-03-07 22:08] JesseCCSI commented on #793
FYI none of the annotation boxes and yellow annotation markers appear for me when viewing this contract

[2016-03-07 22:18] KaitlinCCSI commented on #807
@anderspeders @anjesh can we prioritize fixing these two issues this week? Presumably won't take long, and would like to get this fixed before WB land conf starting next week. Thanks.

[2016-03-07 22:21] KaitlinCCSI commented on #790
That sounds like an excellent option. @anderspeders, might this proposal for autonaming work for you?

[2016-03-08 02:50] anderspeders commented on #790
Happy to go with manual edits of auto-naming (I believe we've already discussed this on a call).

@KaitlinCCSI: In terms of this specific issue re. JVs - should we go with @jpmckinney's summary above and add this to the Administrator Guide following either option 1) or 2) outline above based on the reality of the situation.

[2016-03-08 02:52] anderspeders commented on #795
@SamCCSI: As I understand we currently have enough funds on the account.

@manishgs: Can we set up a notification when the cash available is getting low?

[2016-03-08 02:56] anderspeders commented on #802
My impression was that the OCID process setup for RC did accommodate this scenario.

@anjesh: Could you please verify and ensure that this is clearly documented in the wiki?

[2016-03-08 03:00] anderspeders commented on #805
@anjesh @manishgs: Can you please check what is happening here?

This example seems to relate to contract 924

[2016-03-08 03:05] anderspeders commented on #186
@anjhero: One additional comment from NRGI side is to distribute the **Menu** on the right side (vertical view) to the bottom of the screen (horizontal view).

[2016-03-08 03:08] anderspeders commented on #808
@anjhero Please include this while you upgrade the front page.

[2016-03-08 03:09] anderspeders commented on #186
Additionally - flagging the option that we could add "Country" to the search on the front page. More here:  https://github.com/NRGI/resourcecontracts.org/issues/803

[2016-03-08 03:12] anderspeders commented on #807
@KaitlinCCSI: Flagged now as priority!

[2016-03-08 03:45] jedm commented on #186
Hi @anjesh and @anderspeders - these are all good upgrades to the page! A few additional thoughts on UI and UX:

- The space under the 3 big numbers is an excellent teaching and promotional space. Instead of using it for the trend of year signed, recommend it be used to link to a sample contract, a sample country page, a featured term in the glossary or, eventually, a "tour" that shows the top 5 t

[2016-03-08 06:00] manishgs commented on #795
@anderspeders  We already had that feature. If balance is less than 50 then system will send email to  resourcecontracts@yipl.com.np.

[2016-03-08 11:49] sadhakbj commented on #784
Yes it's possible to update the side bar color. This has already been implemented and deployed in the demo site. Please check it once.

[2016-03-08 14:21] anderspeders commented on #798
Thanks @manishgs, We'll have a look

[2016-03-08 14:23] anderspeders commented on #786
@anjesh: What is your recommended path forward here?

[2016-03-08 16:56] SamCCSI commented on #790
Confirming @anderspeders 's proposal (_put whatever organization (or organizations) is actually a signatory in the company field, and put any other companies you want to track in the notes field._)

To be more explicit, the rule will be: Where there is a joint venture (JV) involved in the agreement, the JV should only be listed as a signatory where the JV's own representative signs the contract. W

[2016-03-08 17:14] SamCCSI commented on #723
@anderspeders any updates on whether this is included?

[2016-03-08 17:59] KaitlinCCSI commented on #186
A few other things:

- For left bar: we still think it is too hard for users to understand with "Menu". "Explore" might work, but I'm not sure that it's intuitive enough. Is it possible to maybe have an arrow with "Find Contracts" or "Explore Contracts" rather than the menu icon?

- For left bar: Perrine asked whether the three categories (countries, commodities, signature years) could be collapsi

[2016-03-08 19:03] jedm commented on #186
@KaitlinCCSI, personally I think the left bar is duplicative of Search and the left menu should be repurposed as site navigation, which is missing, but if others think it is useful (any analytics on its usage, @byndcivilization?) then definitely not advocating for arbitrary change.

One bug I found in the left bar is that if I click on it then go back in my browser, I return to the homepage with l

[2016-03-08 19:12] KaitlinCCSI commented on #186
Yes, it is fairly duplicative. The only main benefits I see of this left bar as compared with other options for reaching Ks from front page are: (1) this bar is one of the only places that provides counts for all different types of contracts; and (2) it allows quick navigation to specific countries/resources/years without having to go first to country page or resource page. But for point (1), I'm

[2016-03-08 19:20] jedm commented on #186
I the top navigation is going to be implemented, I recommend deleting the left bar. From a web standards perspective, the icon with three lines (hamburger) stands for "nav menu" so it will be strange to have it provide something else - also, a nav menu is now proposed for the top of the page, so that is also likely to be confusing/duplicative.

Regarding the navigation bar across top of page:

- w

[2016-03-08 19:46] anderspeders commented on #186
A few quick notes here:
- Traffic on left bar: We have very light traffic overall (as I recall 50-100) hits a day so there's little point in parsing this. NRGI would be glad to see left bar go but understand if CCSI wish to keep this on. @KaitlinCCSI Please confirm.
-  Harmonization of menu across <-- Agree
- "It seems strange to have the little Advanced Search text where the Search button often i

[2016-03-08 20:05] jedm commented on #186
For this question, great point about promoting the country sites - maybe even worth a full "bar/section" in the single-page scroll.

I interpreted "Publish Contracts" as note to users that they can propose new contracts to add, which is a bit different.

[2016-03-08 21:00] anderspeders commented on #178
Closing for now.

[2016-03-08 21:00] #178 closed

[2016-03-08 21:02] anderspeders commented on #786
I'd suggest the following:
@anjesh: Pull a list of all government entities | contract ID

We will then harmonize the list and return it to YI for upload (as we will do for the companies list). Does this sound good?

[2016-03-08 21:05] anderspeders commented on #790
Excellent,

@SamCCSI: Could you possibly add this to the documentation?

We can then close this ticket.

[2016-03-08 21:06] anderspeders commented on #709
cc @upasna01

[2016-03-08 21:16] anderspeders commented on #745
Re-capping this conversation so that we can move this forward.

Decisions:
- RC / OLC contain normally only one ruling contract. Therefore the relationship is **derived** not **same as**
-  `is_translation` will be used for this
- document the change in the wiki

@anjesh, @manishgs: please confirm that we can move this forward.

[2016-03-09 04:33] KaitlinCCSI commented on #186
Re left bar: I think CCSI is fine dropping this.

Once we have consensus on moving forward, do we know when these changes will be implemented? Can they be implemented by the end of this week? We're putting together a how-to-use-the-OLC-site video that we had been planning on releasing before the WB conf next week, so a timeframe would be helpful in understanding how to proceed on the video, and if

[2016-03-09 05:01] manishgs commented on #694
We are working on fixing issues which are reported on comments. We haven't work on API and subsite to reflect new annotation module. Once @anderspeders  confirm this annotation process is ready to go then will work on API, Subsite and annotation harmonization.

We'll harmonize the existing annotations to fit on new annotation module. you don't need to start form scratch.

[2016-03-09 05:08] manishgs commented on #791
We are waiting for your confirmation on new annotation module. if you are okay with this then we can work on API and subsite to reflect new annotation module

[2016-03-09 06:05] anjhero commented on #186
Hi all, to sum up:

- We're dropping left sidebar. So we will not have the menu hamburger icon (3 lines icon) and simply have the logo and the top navigation items (Contracts, Resources, About ...) - confirmed
- Have top navigation only in homepage. The top navigation will appear in the left sidebar for rest of the pages. The left bar will appear on clicking hamburger icon for pages other than hom

[2016-03-09 06:28] jedm commented on #186
Responding only re. Search button, suggestion from me + @anderspeders was (emphasis added):

_Suggest a **slightly smaller** Search button flush **right** with **[ie, under]** the search box, with Advanced Search text below that, in more traditional place." <-- Agree_

[2016-03-09 07:30] anjhero commented on #186
Sorry, I meant to the right of the search box.

[2016-03-09 08:29] upasna01 commented on #493
The issue is related to issue [610](https://github.com/NRGI/resourcecontracts.org/issues/610l) . Further discussion will be done in there.

[2016-03-09 08:29] #493 closed

[2016-03-09 08:38] charlesyoung opened #809 "Resource list containing similar values (like Other, other, ...)"
Although 'other' has been removed from the backend resource drop down list there are however still contracts with 'Other', 'other', 'Other minerals' and 'other minerals' resources. Should we change these to 'Other Minerals'?

![image](https://cloud.githubusercontent.com/assets/13888372/13629528/5f1e78aa-e5e2-11e5-9648-a99c84e0ec66.png)

[2016-03-09 08:42] charlesyoung opened #810 "Type of Contract and Document Type drop down lists"
Sort the backend 'Type of Contract' and 'Document Type' drop down lists alphabetically.

![image](https://cloud.githubusercontent.com/assets/13888372/13629687/7473f0b2-e5e3-11e5-8d7c-3982ed9f2c93.png)

[2016-03-09 08:48] charlesyoung opened #811 "Contract Type list"
The Contract Type list includes 'Investment Promotion Agreement' (10) and 'Investment Promotion Agreements' (144). There is only an option for 'Investment Promotion Agreement' from the backend so should we change all 'Investment Promotion Agreements' to 'Investment Promotion Agreement'?

![image](https://cloud.githubusercontent.com/assets/13888372/13629788/0fba6402-e5e4-11e5-8fd9-f5f2407a8b0e.png)

[2016-03-09 08:56] charlesyoung opened #812 "Duplicate Annotations Category in drop-down list"
The 'Annotations Category' list seems to display duplicates i.e. Bonuses and Bonuses // Primes.

![image](https://cloud.githubusercontent.com/assets/13888372/13629981/536e2fc0-e5e5-11e5-848d-3b356521b4f6.png)

[2016-03-09 09:03] hello-deepak commented on #797
We have deleted above contracts from elasticsearch database.

This is due to mismatch of elasticsearch index api during deployment . We have taken some preventive measure while deploying, so it wont happen again.

[2016-03-09 09:03] #797 closed

[2016-03-09 09:42] lisssek commented on #786
We are happy to do the upload for you the harmonized list of gov entities  and even create a new project with rules defined by you if needed (ISO as URIs).

[2016-03-09 11:36] sadhakbj commented on #804
The API Documentation has been updated. Please view it [here.](https://github.com/NRGI/resourcecontracts.org/wiki/API)

[2016-03-09 13:40] charlesyoung commented on #694
Couple of minor points relating to below image.

1. 'Click on hyperlink to edit' and not 'Double click to edit'.
2. Should the page numbers not also be hyperlinked?
3. Do we not show the summary annotation info anymore?

![image](https://cloud.githubusercontent.com/assets/13888372/13636593/55333c1c-e60b-11e5-8261-aa47e3412884.png)

[2016-03-09 14:55] SamCCSI commented on #790
@anderspeders done.

[2016-03-09 14:56] SamCCSI commented on #795
Thanks @manishgs. In line with @anderspeders' instructions can you please confirm when you have re-enabled the auto-reset feature?

[2016-03-09 16:12] anderspeders opened #813 "Full list of organizationl entities - for review and harmonization"
@anjesh @manish: Can you please pull a full organizational entities in xlsx format?

We will then conduct a review and return a formatted version.

[2016-03-09 19:36] SamCCSI opened #814 "French accents appearing as symbols on OLC frontend"
If possible can this be fixed quickly? We plan to present on this next week at a conference.

![image](https://cloud.githubusercontent.com/assets/12913915/13647930/52c0c848-e604-11e5-89a5-4fcbb304e457.png)

[2016-03-09 19:38] SamCCSI commented on #814
The system lists the accent properly in some nodes (see yellow circle), but not in others (red circles):

![image](https://cloud.githubusercontent.com/assets/12913915/13647980/90f645a2-e604-11e5-9f8d-bd1ece68a31e.png)

[2016-03-09 19:42] SamCCSI opened #815 "Request for standard sized annotation box"
There will be instances where we plan to circle a term that is the source of an annotation.

However, where the annotation source text spans several lines, we will place a small boz to the left. These boxes need to be standardized for uniformity / presentation. Currently, it is very hard to get them looking identical (below is my best attempt). Can we build in a feature for this (in addition to ha

[2016-03-09 19:47] SamCCSI commented on #51
Another example of fuzzy searching:

Searching for "Ivoire" produces zero results on OLC, even though we have a contract tagged as from "Côte d'ivoire"

[2016-03-09 19:55] jedm commented on #51
This may relate to [conversation from Issue 367](https://github.com/NRGI/resourcecontracts.org/issues/367#issuecomment-144914674) regarding what text is being searched, annotation titles, summaries, raw text or all three.

[2016-03-09 19:57] SamCCSI opened #816 "Eng vs French spellings of countries"
1. Right now, Côte d'Ivoire (rather than the Eng version 'Ivory Coast') appears in the main list of countries, which all seem to be in English. It is preferable for the English version to appear alongside all other English terms of countries, and for it to automatically switch to the French term if/when we have a French version of the site.

2. When sorting alphabetically by country, the system se

[2016-03-09 20:42] SamCCSI opened #817 "Add resource type "Not specified" to metadata"
Occasionally a contract grants an investor a concession over land but does not specify the resource.

Eg. This contract allows the company to use the land for its "corporate purpose." http://www.openlandcontracts.org/contract/ocds-591adf-CI6564507137OL/view

Yet resource is a required metadata field. It would therefore be useful to have as a resource type "Not specified," so that such contracts ca

[2016-03-09 20:47] anderspeders commented on #814
@anjesh: The display of "Ivory Coast" appear to be "Côte d'Ivoire", so I think this is an error in the country code list.

Please change this so that "Ivory Coast" is the default value projected on front end for both **Country** and **Jurisdiction of incorporation**

[2016-03-09 22:20] SamCCSI commented on #633
Google does not seem to be presenting the pages as we had planned. Is there anything further we can work on for this?

Here is how RC displays on google:
![image](https://cloud.githubusercontent.com/assets/12913915/13652626/37b2ece0-e61b-11e5-8a28-0070dea234e0.png)

Here is how OLC displays on google:
![image](https://cloud.githubusercontent.com/assets/12913915/13652612/1899b140-e61b-11e5-857f-be0

[2016-03-09 22:26] anderspeders commented on #790
Fantastic. Closing issue.

[2016-03-09 22:26] #790 closed

[2016-03-09 23:01] KaitlinCCSI commented on #633
Re-opening until we can confirm that we've made all changes necessary, in light of Sam's comment.

[2016-03-09 23:23] SamCCSI commented on #814
Thanks @anderspeders

This accent problem will likely appear again when we initiate a French version of the site, so it might be worth resolving the accent problem with those fields, as well as changing the entry to appear as "Ivory Coast"?

[2016-03-10 11:42] manishgs commented on #795
We are going to incorporate following changes on existing auto-reset command.
1. reset task which has not HIT ID yet.
2. reset HIT on 31st days from created date
3. If HIT is already approved by Mturk due to no action taken for submitted assignment for 30 days then task will set to approved.
4. Check for sufficient balance before resetting HIT.

[2016-03-10 12:10] manishgs commented on #791
Mockup for Annotation listing on contract summary page

![annotations-doc-summary](https://cloud.githubusercontent.com/assets/3942999/13668931/227fd176-e6e8-11e5-9f2e-631487487b80.png)

**The annotation section will act as follows:**

Left side of the screen has a navigation block that will help to navigate to a specific cluster.  This block will remain fixed in the left side of the browser and wi

[2016-03-10 12:30] anderspeders commented on #791
@SamCCSI @KaitlinCCSI: Could you have a look?

[2016-03-10 21:26] JesseCCSI commented on #807
Just checking in on the status of this? Looks like the Source URLs and Disclosure Mode when "Other" is selected are still not appearing on the front end.

[2016-03-11 04:09] manishgs commented on #813
Here is the link of google spreadsheet
https://docs.google.com/spreadsheets/d/15k-7NCkgu1p2eKgWGZnykASLQoa4gR6fOLskV8mdOhY/edit?ts=566690b1#gid=1708686393

[2016-03-11 07:15] charlesyoung opened #818 "Document type entities"
@anjesh can you pls pull a list of all the contracts with the associated document type in a spreadsheet?

[2016-03-11 08:16] sadhakbj commented on #818
All the contracts with their associated document type is presented in this spreadsheet.
[Document_type_list.xlsx](https://github.com/NRGI/resourcecontracts.org/files/168678/Document_type_list.xlsx)

[2016-03-11 10:39] upasna01 commented on #807
The Source URLs issue is fixed but not yet deployed.
In case of Disclosure mode, after selecting 'Other', one should fill the text-box. here is the snap-shot for it.
![disclosure-mode](https://cloud.githubusercontent.com/assets/11477899/13699917/a5394a12-e7a5-11e5-823e-54b7600828ff.png)

[2016-03-11 12:17] JesseCCSI commented on #807
Thanks @upasna01 -- Will the Source URLs fix be deployed by Monday?

In the case of Disclosure Mode, does this mean that the free text box becomes a mandatory field when we select "Other"? It's not marked as mandatory

cc @KaitlinCCSI @SamCCSI

[2016-03-11 12:50] anderspeders commented on #795
Thanks @manishgs,

@SamCCSI: this process should now be confirmed. I have just reconfirmed available funds.

Closing this ticket.

[2016-03-11 13:02] anderspeders opened #819 "Clarify if login feature will be required for clipping feature?"

[2016-03-11 13:30] JesseCCSI commented on #806
Just checking if there is a quick fix for this? We'd like to make changes to the FAQ page before the World Bank conference next week. Thanks.

cc @KaitlinCCSI

[2016-03-11 13:31] anderspeders opened #820 "When MTurk task returned (completed) to RC - change setting"
When MTurk task is returned (completed) to RC [MTurk task Completed]

change the value of [Text type]:

From: **Needs transcription**
To: **Acceptable**

Reason: This is to avoid that contracts are properly categorized.

[2016-03-11 14:32] anderspeders opened #821 "Missing data fields under company from API"
The company data in te API is missing as far as I can tell:

 company: {
        name: String,
        address: String,
        founding_date: String,
        corporate_grouping: String,
        opencorporates_url: String,
        identifier: {
          id: String,
          creator: {
            name: String,
            spatial: String

A number of fields are missing from the API:
[Jurisdictio

[2016-03-11 14:36] anderspeders commented on #804
Did this need update as well: https://github.com/NRGI/resourcecontracts.org/wiki/contracts

[2016-03-11 14:47] anderspeders opened #822 "Document type - missing from API"
http://rc-api-stage.elasticbeanstalk.com/api/contract/ocds-591adf-NG0817821030RC/metadata

[2016-03-11 16:55] SamCCSI opened #823 "Text search (of annotations) does not include annotation titles / fuzzy searching needs improvement"
A problem identified by @JesseCCSI. Open this contract: http://www.openlandcontracts.org/contract/ocds-591adf-SL9115158300OL/view#/pdf/page/12/annotation/24904

I want to find the expropriation clause, so I text search "expropriation".

The OCR text hasn't been returned from MT yet, so the text search applies to the annotations only.

No results are returned. This is because the annotation itself

[2016-03-11 17:03] SamCCSI commented on #795
This doesn't appear to be functioning yet -- still finding contracts with many pages as not being reset. Also the 'reset all' button isn't present for some of these?

Eg: http://resourcecontracts.elasticbeanstalk.com/mturk/683

[2016-03-11 17:05] KaitlinCCSI commented on #795
Re-opening to address Sam's comment

[2016-03-11 17:31] giorgiacek opened #824 "Document_type in master"
Would be great to have document_type in the master section as well (and not only in the metadata), so that it's easier to filter with ES and R.

[2016-03-11 18:44] JesseCCSI opened #825 "In-text search results in contract view page missing "view more" option"
When you run an in-text search in contract view mode, the search returns results in the format below -- no option is provided to view the full search result in the left hand column (e.g. there is no more/ less option that is included when viewing annotations).

Can this option be added?

![untitled](https://cloud.githubusercontent.com/assets/14910764/13711956/29457bd0-e78f-11e5-933a-9c2939993862.p

[2016-03-12 02:50] KaitlinCCSI commented on #186
One more point to follow up on earlier discussion: the "Resources" page at the top should be changed to "Additional resources". If that's too long, it could be called "Guides", though not everything on that page is a guide. @anderspeders @jedm any suggestions? We're fine with either.

Whenever you rename this page, can you **please make sure** that this URL --> http://www.openlandcontracts.org/pag

[2016-03-12 04:49] jedm commented on #186
"Guides" is best. Says what you mean, preserves the word "resources" to consistently mean natural resources.

[2016-03-12 21:13] KaitlinCCSI commented on #186
Works for us. Can you please change that page to "Guides" on both RC and
OLC, but please make sure that the old URLs redirect and do not break.
Thanks.

On Fri, Mar 11, 2016 at 10:49 PM, jedm <notifications@github.com> wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and Agriculture**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
435 West 116t

[2016-03-14 01:10] anderspeders commented on #186
Thanks for the summary,

One addition:
"Publish Contracts" should be changed to: "Country sites" as this will showcase the country subsites.

[2016-03-14 01:26] KaitlinCCSI commented on #186
Please only change "Publish Contracts" to "Country sites" on RC. For now,
please keep as is on OLC, because we have more info on that page than just
country sites.

Thanks.

On Sun, Mar 13, 2016 at 8:10 PM, Anders <notifications@github.com> wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and Agriculture**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia Un

[2016-03-14 04:15] anjhero commented on #186
Hi all,

Thank you for the input. We still need confirmation (and contents in some) on following to work on design of the homepage:

- Have top navigation only in homepage. The top navigation will appear in the left sidebar for rest of the pages. The left bar will appear on clicking hamburger icon for pages other than homepage. We feel this might make the site look inconsistent for the users. - ne

[2016-03-14 05:25] hello-deepak commented on #824
We will cover adding of document_type in this issue https://github.com/NRGI/resourcecontracts.org/issues/709.

[2016-03-14 05:25] #824 closed

[2016-03-14 05:38] hello-deepak commented on #821
We have changed the company data API accordingly as suggested by @jpmckinney . https://github.com/NRGI/resourcecontracts.org/issues/737

[2016-03-14 05:47] hello-deepak commented on #822
Document type has renamed to "type".
 ![rc api stage elasticbeanstalk com api contract ocds 591adf ng0817821030rc metadata](https://cloud.githubusercontent.com/assets/7577697/13735986/2d8d67e8-e9d8-11e5-9e72-8100d19b9ebb.png)

As discussed in this issue https://github.com/NRGI/resourcecontracts.org/issues/734 .

[2016-03-14 11:04] manishgs commented on #789
Following mockups illustration the workflow for clipping annotations

There will be a menu called "Clip" in header section on every page which shows the current no. of  clipped annotations.

![screenshot from 2016-03-14 14 59 17](https://cloud.githubusercontent.com/assets/3942999/13741900/f829075a-ea00-11e5-9826-9509dfeb3195.png)

User can clip individual annotation or all annotations at once in c

[2016-03-14 11:10] charlesyoung opened #826 "RC admin user rights"
I want to clarify the RC admin user rights.

@anjesh am I correct in the following:
1. 'Admin' has rights to add all contracts as well as publish all contracts
2. 'Research Associate' has rights to add all contracts but not publish contracts
3. 'Country Admin' has rights to add contracts as well as publish contracts but only for a specific country
4. 'Country Researcher' has rights to add contract

[2016-03-14 12:56] jpmckinney commented on #821
* Founding date is incorporation date
* Identifier is number
* Registration agency is the creator of the identifier
* Participation share is not a fact about a company, but about their participation in a project

[2016-03-14 13:09] charlesyoung commented on #186
@anjhero the draft RC country sites content can be found in below Google doc.

https://docs.google.com/document/d/1sgR4LxITP0bICn8Pjd9zFSRKprpqS3n6M-AWB9gmWN0/edit#

[2016-03-15 03:54] manishgs commented on #806
I've created sample html file for this. Please change the file extension to html and open in browser.
[faq.txt](https://github.com/NRGI/resourcecontracts.org/files/173232/faq.txt)

Create Faq menu links
[code]

Faq Text
[code]

Let me know if you have any confusion.

[2016-03-15 05:39] sadhakbj commented on #47
We have generated the google sheet which contains the code list to be translated. Please check it [here](https://docs.google.com/spreadsheets/d/1aLnUIKyi6uHb0Ai8Zl3S21wn2ekOapciMUguTCjddig/edit#gid=1810864825) and update the contents for french accordingly..

[2016-03-15 07:09] charlesyoung commented on #815
@SamCCSI just a follow up on above question relating to the placement of annotation boxes not covering the text. NMA from Sierra Leone also asked the question.

[2016-03-15 09:33] upasna01 commented on #816
The issue have been fixed.Here is the snapshot for it.
![search](https://cloud.githubusercontent.com/assets/11477899/13773392/1a6ac900-eac1-11e5-8f19-daa40ddf0c58.png)

[2016-03-15 09:33] #816 closed

[2016-03-15 09:36] upasna01 commented on #814
The issue have been fixed. Here is the snapshot for it.
![search](https://cloud.githubusercontent.com/assets/11477899/13773490/8ac302da-eac1-11e5-869e-693eef3f6eed.png)

[2016-03-15 09:36] #814 closed

[2016-03-15 09:52] upasna01 commented on #807
Thank you for the correction. 'Other' is marked mandatory now and will be deployed soon. Source URLs have been fixed.

[2016-03-15 11:39] upasna01 commented on #800
The issue is fixed. Please find the snapshot here.
![cuoff](https://cloud.githubusercontent.com/assets/11477899/13776535/be8f35b4-ead2-11e5-8506-61344f21ba41.png)

[2016-03-15 11:39] #800 closed

[2016-03-15 12:18] charlesyoung commented on #796
@anjesh I noticed that this ticket has been tagged as done. Is it deployed on the demo site?

[2016-03-15 12:45] anjesh commented on #47
@anderspeders @KaitlinCCSI @SamCCSI
Please note that we have started the localisation of the site parallelly and almost ready once we get the french text for the given codelist shared by @sadhakbj. You will see multiple sheets in this [google docs](https://docs.google.com/spreadsheets/d/1aLnUIKyi6uHb0Ai8Zl3S21wn2ekOapciMUguTCjddig/edit#gid=1810864825) all of which needs to be translated.

[2016-03-15 17:33] anderspeders opened #827 "Regional listing --> then alphabetic within regions"
For country lists on ResourceContracts (only):

![image](https://cloud.githubusercontent.com/assets/1101585/13787448/61402ec4-eab2-11e5-8723-d6613bcfc660.png)

a) Suggested breakdown by continents:
1) Africa
2) Asia
3) Europe
4) Latin America
5) North America
6) Oceania

b) Then alphabetically:

@anjesh: Do you know a good ISO-defined continent group system?

This is based on feedback from ALSF.

[2016-03-15 17:36] anderspeders opened #828 "Remove AMLA link from contract with resource="hydrocarbon", "oil", "gas""
Current rule for linking to AMLA on RC.org:

If country= in Africa then link to AMLA

Change this to:
If country = in Africa *and* resource *is not* "hydrocarbon", "oil", "gas" then link to AMLA

Request from ALSF/AMLA-team

[2016-03-16 05:31] anjhero commented on #186
@charlesyoung Thanks. I was referring to a section in the homepage (landing page) itself (to promote the country sites) rather than their own page content.

We're still waiting for confirmation and content on following:
- ```Have top navigation only in homepage. The top navigation will appear in the left sidebar for rest of the pages. The left bar will appear on clicking hamburger icon for pages o

[2016-03-16 07:05] charlesyoung opened #829 "Admin: Error when opening contracts from the backend"
Cannot open below contracts from the backend.

Carmen Copper Corporation - MPSA No. 264-2008-VII, 2008
Philsaga Mining Corporation - MPSA No. 262-2008-XIII, 2008
SR Metals, Incorporated - MPSA No. 261-2008-XIII, 2008

![image](https://cloud.githubusercontent.com/assets/13888372/13804315/9155516e-eb54-11e5-867e-01c31ad799ae.png)

[2016-03-16 07:06] charlesyoung commented on #514
@samCCSI any feedback?

[2016-03-16 10:00] hello-deepak commented on #51
###  Fuzzy Logic

Elasticsearch fuzzy matching in fulltext search deals with typos and spelling mistakes.
Fuzzy matching treats two words that are “fuzzily” similar as if they were the same word by substitution, insertion, deletion or transposition of character. Here is the [link](https://www.elastic.co/guide/en/elasticsearch/guide/current/fuzziness.html) for detail explanation.

So it find certai

[2016-03-16 12:05] manishgs commented on #789
Any feedback? @anderspeders

[2016-03-16 20:42] anderspeders opened #830 "Enable multiple countries to be added to country field"
Please enable multiple countries to the <Country> field. Currently only one country can be added.

[2016-03-17 07:43] charlesyoung commented on #829
More contracts flagged with the same issue.

TVI Resource Development Philippines, Incorporated - MPSA No. 054-96-IX, 1996
Cagdianao Mining Corporation - MPSA No. 078-97-XIII (Surigao Mineral Reservation), 1997
Rio Tuba Nickel Mining Corporation - MPSA No. 114-98-IV, 1998
Filminera Resources Corporation - MPSA No. 095-97-V, 1997
Filminera Resources Corporation- MPSA No. 255-2007-V, 2007
Filminera

[2016-03-17 08:40] charlesyoung commented on #826
@anjesh as discussed can you please remove the rights of the 'Country Researcher' to publish contracts. Can you also please change 'Country Researcher' to 'Country Uploader'.

[2016-03-17 09:16] charlesyoung opened #831 "Mechanical Turk"
Mechanical Turk discussion points.
1. PH-EITI requested that they are allowed to approve or reject their specific MT pages. There is currently no restriction on the country user MT access control. They however haven't been assigned this task. This could possibly also speed up the MT processing.
2. We currently allow for 10 days of time from when the worker chooses the HIT to when the task needs to

[2016-03-17 09:46] sadhakbj commented on #804
@anderspeders  https://github.com/NRGI/resourcecontracts.org/wiki/contracts page has been updated as well.

[2016-03-17 09:48] sadhakbj commented on #829
It's fixed now.

[2016-03-17 09:55] charlesyoung commented on #829
Thanks @sadhakbj

It sounds like the issue was related to the deletion of the user who added those contracts. Have we built in checks to ensure that this won't happen again?

[2016-03-17 10:27] manishgs commented on #829
Currently we are not checking anything before deleting a user. Now we need to check user activities before deleting them. If user who has added contract, commented .. etc can't be deleted they can be disabled and user who has not involved in any activities can to be deleted.

[2016-03-17 12:50] charlesyoung commented on #829
OK thanks.

[2016-03-17 12:50] #829 closed

[2016-03-17 12:56] charlesyoung opened #832 "Document types"
1. ‘Stabilization Agreement’ was supposed to be deleted but it still remains in the drop down list. Just to confirm that this can be deleted.
2. Can we change ‘Environmental Impact Assessment’ to ‘Environmental Impact’ so as to conform to the OC standard?
3. Is there any difference between ‘Social Impact Assessment’ and ‘Social Agreement’?
4. Should contract annexes not rather be noted as a docume

[2016-03-17 12:57] SamCCSI opened #833 "Request for spreadsheet of all corporate groupings"
From one of our researchers: _Looking at the corporate grouping issue, is there anyway to get a spreadsheet similar to the one used for harmonizing company names but that also has a column for corporate grouping? That would at least allow for harmonizing corporate groupings which would cut down on the number of names, and also make it a lot easier to find and remove the smaller names. Especially b

[2016-03-17 13:25] #796 closed

[2016-03-17 18:10] SamCCSI commented on #833
The researcher has also requested a similar list be generated for Government entities.

CC @anderspeders

[2016-03-18 10:50] anderspeders commented on #833
@anjesh @manishgs Please do go ahead with this.

[2016-03-18 10:56] anderspeders commented on #827
To clarify this is for: http://www.resourcecontracts.org/countries

To recap I tink there might be two options:
1) Provide by alphabetical (as now)
2) Provide by regional breakdown
3) Provide both alphabetic listing *and* regional listing

Any thoughts: @KaitlinCCSI @jedm @samCCSI

[2016-03-18 11:52] manishgs commented on #772
Any progress on harmonization process? We need to confirm the process ASAP as we already deployed   new annotation module in [admin demo](http://resourcecontracts-demo1.elasticbeanstalk.com) ([subsite](http://rc-site-demo.elasticbeanstalk.com/rc/public/)) without harmonizing the annotations.

[2016-03-18 11:54] manishgs commented on #694
Latest work deployed in [admin](http://resourcecontracts-demo1.elasticbeanstalk.com/) and [subsite](http://rc-site-demo.elasticbeanstalk.com/rc/public/) demo server.  Please review once and let us know your feedback and comment.

[2016-03-18 14:18] jedm commented on #827
@anderspeders I like the idea of having two options (like we do with viewing Annotations by page or by topic). If this does not add too much developer time, I would recommend this approach.

And if we go with that, suggest that the regions are listed with Expand/Collapse functions.

[2016-03-18 16:59] SamCCSI commented on #833
The researcher is hoping to work on this over the weekend if possible. I know you have competing demands, but if this could be produced today that would be immensely helpful.

Many thanks!

[2016-03-21 07:32] upasna01 commented on #833
Here is the link for [Corporate Group] (https://docs.google.com/spreadsheets/d/15k-7NCkgu1p2eKgWGZnykASLQoa4gR6fOLskV8mdOhY/edit?ts=566690b1#gid=2013179925) and for the [Government entities](https://docs.google.com/spreadsheets/d/15k-7NCkgu1p2eKgWGZnykASLQoa4gR6fOLskV8mdOhY/edit?ts=566690b1#gid=1708686393) .

[2016-03-21 09:23] manishgs opened #834 "Validate before deleting a user in admin"
In current system,  there is not extra checking for deleting a user. If deleted user was involved in contract activities (like add/update contract, publish, comment etc) then user data will be lost and may produce errors. So we should not allow admin to delete user unless user is not involved in contract activities. Those user can be disabled and user who has not involved in any activities can to

[2016-03-21 11:29] hello-deepak commented on #778
Here is [link](https://github.com/NRGI/resourcecontracts.org/wiki/Workflow-of-publishing-contract .) mock up for contract publishing workflow

Please review and do provide feedback.

[2016-03-21 17:45] giorgiacek opened #835 "metadata inconsistencies when using ES aggregations and filters"
I think there are some issues with missing metadata that cause me problems when using filters and aggregations with ES queries (within the "master" type).
These are examples:
1. When aggregating based on  the field "language" I can retrieve only 922 contracts
2. When aggregating based on the field "signature_year" I get only 866 contracts

[2016-03-21 18:13] JesseCCSI opened #836 "72 contracts on OLC - contract tally incorrect?"
The contract tally on the front end is displaying 72 contracts (on the homepage, advanced search page, all contracts page, etc.). No one at CCSI has added new contracts to OLC over the past week, so the count should be 70.

Could you please explain why this happened, and make necessary fixes as needed? Thanks.

cc @KaitlinCCSI @SamCCSI

[2016-03-21 20:36] SamCCSI commented on #694
This is looking great. Some things to be improved:

1. Change "Related Annotations" to "See also":
![image](https://cloud.githubusercontent.com/assets/12913915/13933161/1ef1f56e-ef82-11e5-83cd-a9e3c9d1c8ba.png)

2. Article references need to be save-able and amendable. Right now, when I manually amend an article reference it currently does not update anywhere. E.g. For above screen shot, I changed

[2016-03-21 21:23] SamCCSI opened #837 "Request to export country numbers to excell"
Request from Perrine:

Do you know if we can extract from the site how many contracts we have per country ?

I know that there is the left side bar but don't know how to get the numbers to be copied and pasted on excel from there.

[2016-03-21 23:42] SamCCSI commented on #694
I have just significantly edited the above comment -- please re-read. Thank you!

[2016-03-21 23:55] anderspeders commented on #837
This can all be done through the downloaded file from the search page:

1) Download the dataset from the advanced search page with all contracts (right side)
2) Create a pivot table (rows=country, value=count, filter; document type="contract")

[2016-03-22 12:27] charlesyoung commented on #778
Initial comments re the new publish contracts workflow.

1. Should the 'Last Published Date' field not be left blank if not yet published rather than showing 'Not Published'?
2. What is the 'Comment' field for?
3. How is the user notified that the text type needs to be completed?

It's good to see that if the text type is "Needs Editing" or "Needs Full Transcription" the PDF text won't be publishe

[2016-03-22 16:10] KaitlinCCSI commented on #832
There is a difference between Social Impact Assessment and Social
Agreement. cc'ing @Samccsi re the annexes.

On Thu, Mar 17, 2016 at 7:56 AM, Charles Young <notifications@github.com>
wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and Agriculture**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
435 West 116th St. New York, NY 10027
| +1 (917)

[2016-03-22 16:30] KaitlinCCSI commented on #51
Can't you show the result using fuzzy logic without showing what the misspelled words are? For example, the second screenshot that shows 148 contracts related to "stabilisation", "stabilization" "stabilisatioh" but without that line that says "Also showing results for: ..."?

[2016-03-22 16:38] jedm commented on #51
Agree with @KaitlinCCSI. Same question came up 3 weeks ago in this thread.

[2016-03-22 17:41] giorgiacek commented on #835
Additionally, when aggregating by resource iron ore gets divided into "Iron" and "ore" so worth looking at the strings.

[2016-03-22 18:29] SamCCSI opened #838 "Metadata changes not reflected on frontend"
From our researcher:

Under “Resources” we shifted all “platinum” tags to “platinum group metals”. However, one contract still appears on the frontend as “platinum”. If you go into that same contract though on the backend, it is clearly tagged “platinum group metals”

Frontend: http://www.resourcecontracts.org/contract/ocds-591adf-PH9167186836RC/view
Backend: http://resourcecontracts.elasticbeanst

[2016-03-22 19:06] SamCCSI commented on #832
@charlesyoung The reasoning behind having annexes as a contract type is that they create legally binding obligations (with regard to, for instance, investment commitments, locations of the concession, etc.) and hence should be regarded as a contract type.

[2016-03-22 19:12] SamCCSI commented on #778
I disagree with  "To complete Annotations, Metadata and PDF Text must be in published". Often the text will still be processing, but the user can annotate the PDF.

We have found that whenever we publish metadata, or annotations, we have to click "publish all" even where they display as "published." Not sure why this is needed - it might be a bug.

[2016-03-22 19:16] SamCCSI commented on #772
@manishgs  Checking with our researcher - will be in touch.

[2016-03-22 19:18] SamCCSI commented on #514
Apologies for the delay. From our researchers:

_For the shorter contracts the OCR process takes about 15 minutes or less, however it takes enough time for me to move on to next contract without reviewing the OCR. For the bigger contracts this could take more than 30 minutes to be OCR processed. My approach is to upload all the metadata of the contract and afterwards return and review the OCR.

I

[2016-03-22 19:20] SamCCSI commented on #815
@charlesyoung I will send you our proposal for using annotation markers, previously sent to @anderspeders to give you a better sense of how we plan to proceed. Best to continue the discussion via email. Thanks!

[2016-03-22 19:37] SamCCSI commented on #772
@manishgs our researcher has completed the harmonization of annotations, but did not touch PH EITI annotations, as they are under the control of PH EITI staff.

**Please note: Any auto-harmonization must not apply to the PH EITI annotations for this reason.
**
Before giving you the go-ahead, is it possible for you to generate another spreadsheet to identify any instances of more than one entry for

[2016-03-22 20:04] JesseCCSI commented on #694
Thanks, this seems to be working well. I noticed the following:

1. When I changed the annotation category, this didn't seem to work -- it removed the relevant annotation attached to the particular article reference for which I edited the category, and the new category I selected then appeared at the bottom of the page (without an annotation underneath) -- see screenshot below. I suggest that we a

[2016-03-22 21:56] KaitlinCCSI commented on #694
Just a note that changing location/size of yellow markers very important
for cleaning up current annotations as well as for reviewing
annotations moving forward. See this as key to having a workable site for
the long term.

On Tuesday, March 22, 2016, JesseCCSI <notifications@github.com> wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and Agriculture**Columbia Center on Sustainable Investment*
Columb