[2017-01-13 11:31] charlesyoung commented on #1011
As discussed with Perrine a new contract type (Cahier des Charges) will be added to accommodate the Tunisia mining contracts.

cc @SamCCSI

[2017-01-13 12:58] anjesh commented on #1003
implemented in admin

![image](https://cloud.githubusercontent.com/assets/120488/21930809/18474236-d9c0-11e6-8cae-6dcfb9a6bb63.png)

[2017-01-13 12:58] #1003 closed

[2017-01-13 13:00] anjesh commented on #884
Vitamin might have taken care of this with their existing setup (without newrelic), just need to discuss with them once.

[2017-01-13 13:22] anjesh commented on #83
Lets discuss on this as well. I get the point Sam is trying to make here, but it would be good to hear if others also has any say. I am also wondering if it's possible to talk with one or two annotators/researchers about this process to get their perspective on the templates and especially the location points.

[2017-01-13 14:01] charlesyoung commented on #994
Please relook at the SL site. The document number is cut off and the advance searching also looks wrong.

![image](https://cloud.githubusercontent.com/assets/13888372/21932435/43780e3e-d9a9-11e6-89a4-31a43e6b2e1c.png)

![image](https://cloud.githubusercontent.com/assets/13888372/21932489/73cc8736-d9a9-11e6-84a5-f195916d24ee.png)

[2017-01-13 14:02] SamCCSI commented on #259
I experience the same issue as @jedm – when I click zoom in, it zooms in and skips back a page

[2017-01-13 14:04] SamCCSI commented on #259
Separate question for @manishgs / @anjesh / @charlesyoung how will this feature impact on users with low internet connectivity? We will need to address this point – presumably related to #984

[2017-01-13 14:48] SamCCSI commented on #1017
@charlesyoung If there is space, it could go below the following (starting on a new line): "This site provides summaries of contracts and their terms to facilitate understanding of important provisions in the documents. These summaries are not interpretations of the documents. Neither the summaries nor the full contracts are complete accounts of all legal obligations related to the projects in que

[2017-01-13 15:07] SamCCSI commented on #1027
@manishgs @charlesyoung This is quite confusing. There is only ever ONE annotation per category, even if there are multiple markers for each annotation category. I think we should have the front end display "total annotations calculated on the basis of annotation category" as well. Please let me know if I have not understood something.

Thanks @charlesyoung for flagging.

[2017-01-13 15:32] SamCCSI commented on #1001
Another question from a colleague re lay-out of home page: would it save space to have the Partners and Donors headings to the left of the first logo?
See below - left is current lay-out, right is proposed new lay-out:
![image](https://cloud.githubusercontent.com/assets/12913915/21935409/6f3d797e-d97b-11e6-807d-2d621480a682.png)

This would also buy us space if we need to add additional partners o

[2017-01-13 15:42] KaitlinCCSI commented on #1025
No, because it was just emailing a page link to the Contract View Page - so not relevant to clips or annotations at all. I guess it should say something like "Email Page Link" or "Email Contract View Page", but @jedm might have ideas for refining that.

[2017-01-13 18:01] SamCCSI opened #1028 "Bug: Annotation hover / bubble appears above contract page"
Bug: when clicking on this [link](http://www.openlandcontracts.org/contract/ocds-591adf-2248245813/view#/pdf/page/3/annotation/9926), colleague's screen looked like this. The annotation hover/bubble appeared above the contract.

![image](https://cloud.githubusercontent.com/assets/12913915/21939936/0c7ef898-d990-11e6-9a9c-a769b53fb45a.png)

More generally, the page appeared with footer in full view

[2017-01-13 21:23] KaitlinCCSI commented on #406
If this is not undertaken and we keep status quo for annotation column, then the message when there are no annotations should change -- please use "document" rather than "contract" (ie "There are no annotations associated with this document."), as not all documents are contracts. See screenshot.
![screen shot 2017-01-13 at 3 20 01 pm](https://cloud.githubusercontent.com/assets/14825437/21946021/19

[2017-01-13 23:29] SamCCSI commented on #1028
Bug occurred using Chrome Version 55.0.2883.95 (64-bit) for macbook

[2017-01-14 00:21] SamCCSI opened #1029 "Workflow bug: at least 4 contracts are in draft mode, but appear on the front-end site"
I think there is a change needed to the workflow: when contract's State is 'Draft' or 'Completed', that means it is not published. Therefore the user should not have to click 'Unpublish' under 'Published info' to ensure it is not published.

Not sure how many other contracts this has happened to on RC.

I found 4 contracts like this; State is 'Draft' or 'Completed'; but they are currently publishe

[2017-01-14 00:38] SamCCSI opened #1030 "BUG: Annotation markers have moved several pixels upwards and now block the words of the contract"
Annotation markers have moved several pixels upwards and now block the words of the contract. This has happened on contracts annotated by different people, to the point where I am fairly sure that it is not the annotator, but rather some automatic bug:

Examples:

http://resourcecontracts.elasticbeanstalk.com/contract/1871
![image](https://cloud.githubusercontent.com/assets/12913915/21950296/671cf

[2017-01-15 17:11] charlesyoung commented on #1028
Strange because it works for me on the same Chrome version on an iMac.

I however noticed that PDF docs aren't opening on Safari.

[2017-01-15 23:42] JesseCCSI opened #1031 "Change "All Contracts" to "All Documents" in Sidebar menu"
The "All Documents" page lists both contracts and associated docs. The link in the sidebar menu should thus be changed to "All Documents" (currently reads "All Contracts")

cc @KaitlinCCSI

[2017-01-16 08:09] manishgs commented on #1029
These four contracts are already published by user therefore you can see "Unpublish" button and there are changes on contracts' data so the state is updated to 'Draft' or 'Completed' which means new changes are not published on subsite.

If contract is in 'draft' or 'completed' state and there is 'unpublished' button, that means contract is published but new changes are not published yet.

Let me

[2017-01-16 08:13] #983 closed

[2017-01-16 08:34] manishgs commented on #1027
@SamCCSI
So the total annotations in frontend will be same as rc-admin which is calculated on the basis of annotation category.

[2017-01-16 08:57] saugatyipl commented on #1001
@SamCCSI if we follow your suggestion (have the Partners and Donors headings to the left of the first logo), it will not fit in medium sized screens and will be hard to maintain the responsiveness of the design. instead we came up with another options.

**Option 1**
we can reduce the size of logos and take off some free space in between which gives up extra space for one more logo.
![testhomepage-

[2017-01-16 09:12] jedm commented on #1001
Personally, I like Option 2 very much.

On 2017-01-16 0:57, saugatyipl wrote:

--

Jed Miller
jed@jedmiller.com | @jedmiller
+1.917.584.2349
www.jedmiller.com [7]

Links:
------
[1] https://github.com/SamCCSI
[2]
https://cloud.githubusercontent.com/assets/22634006/21976009/ce2de152-dbf7-11e6-8ae6-e4f6e0e32f32.png
[3]
https://cloud.githubusercontent.com/assets/22634006/21976240/048a00fe-dbf9-11e6-8

[2017-01-16 12:46] #994 closed

[2017-01-16 16:02] charlesyoung commented on #1001
@manishgs what is the demo site URL?

http://rc-site-demo.elasticbeanstalk.com/rc/public/ doesn't work.

[2017-01-16 17:00] manishgs commented on #1001
These are the new URL for staging/demo subsite.
http://staging.resourcecontracts.org/
http://staging.openlandcontracts.org/

These subsite url will no longer work.
http://rc-site-demo.elasticbeanstalk.com/rc/public/
http://rc-site-demo.elasticbeanstalk.com/olc/public/

[2017-01-17 04:55] manishgs commented on #1004
French translation enabled on RC and OLC site. Please check the static pages they are not translated.

@charlesyoung
Should we enable Arabic on RC site?

[2017-01-17 05:29] charlesyoung commented on #1004
Yes please.

[2017-01-17 05:39] manishgs commented on #1001
@charlesyoung @SamCCSI @KaitlinCCSI
Could you please confirm which option do we implement ?

[2017-01-17 05:41] charlesyoung commented on #1001
I agree with @jedm, option 2.

[2017-01-17 10:48] anjesh commented on #884
Just learned that vitamin is using AWS metrics for the same purpose. We can close this ticket now.

[2017-01-17 10:48] #884 closed

[2017-01-17 10:51] manishgs commented on #1030
PDF page is shifted down by 5px due to progress bar. This issue is fixed.

[2017-01-17 10:52] #1030 closed

[2017-01-17 10:53] manishgs commented on #1029
@SamCCSI  Do you have any confusion? or we can close this issue?

[2017-01-17 12:27] anjesh commented on #1004
fr and ar enabled in http://resourcecontracts.org/
fr enabled in http://www.openlandcontracts.org/

[2017-01-17 12:27] #1004 closed

[2017-01-17 12:30] charlesyoung commented on #948
Closing ticket. Will update the guidelines doc when required.

[2017-01-17 12:30] #948 closed

[2017-01-17 13:26] SamCCSI commented on #1001
I am circulating this to colleagues after a public holiday yesterday. Will
revert asap.

*SAM SZOKE-BURKE*
*Legal Researcher**Columbia Center on Sustainable Investment*
Columbia Law School | The Earth Institute, Columbia University
435 W116th St. New York, NY 10027
| (+1)(646) 630-4123 <+1646-630-4123>
| s.burke@columbia.edu
| ccsi.columbia.edu <http://www.ccsi.columbia.edu/> | @CCSI_Columbia
<htt

[2017-01-17 13:35] SamCCSI commented on #1027
Thanks @manishgs -- could you let us know when this change is made?

[2017-01-17 13:40] SamCCSI commented on #1029
@manishgs I unpublished all four contracts last week but they are still live on the front-end. Shouldn't they disappear from front-end after I click 'unpublish'?

http://www.openlandcontracts.org/search?q=&country%5B%5D=br&country%5B%5D=pe

[2017-01-17 13:51] SamCCSI commented on #1001
CCSI also happy with option 2 for RC, provided that users don't have to scroll down to see the logos?

Please note: The World Bank logo should be one of the Partners, not one of the Donors.

[2017-01-17 13:51] charlesyoung commented on #1001
@manishgs please note that the World Bank logo should be under the partner heading.

[2017-01-17 14:37] charlesyoung commented on #587
Duplicated with ticket 'Add *project name* as category to advanced search bar' #986

[2017-01-17 14:37] #587 closed

[2017-01-17 14:39] #168 closed

[2017-01-17 14:40] #187 closed

[2017-01-17 14:40] #188 closed

[2017-01-17 14:41] #202 closed

[2017-01-17 14:41] #433 closed

[2017-01-17 14:42] #435 closed

[2017-01-17 14:42] #745 closed

[2017-01-17 14:43] #827 closed

[2017-01-17 14:43] #867 closed

[2017-01-17 14:44] #908 closed

[2017-01-17 14:44] #766 closed

[2017-01-17 14:44] #786 closed

[2017-01-17 14:45] #740 closed

[2017-01-17 14:46] SamCCSI opened #1032 "Annotations with multiple page refs changed to single page ref?"
It seems that some annotations with multiple page references have been changed to only having a single page reference. Was this caused by the developers by accident?

Example:

Screenshot from 2015 (taken from training module so ignore the read text) (annotation on page 4 and page 18):
![image](https://cloud.githubusercontent.com/assets/12913915/22024928/b9960614-dc99-11e6-8b9e-77d46c15f114.png)

[2017-01-17 14:53] manishgs commented on #896
@SamCCSI
There was an issue with fetching data in safari which has been fixed.

[2017-01-17 14:59] manishgs commented on #1031
fixed.

[2017-01-17 14:59] #1031 closed

[2017-01-17 15:02] JesseCCSI commented on #1031
great, thanks @manishgs

[2017-01-17 15:06] manishgs commented on #1025
Popup title updated to  "Email Page Link" .

[2017-01-17 15:07] SamCCSI opened #1033 "Country pages contain ALL contracts"
Example: OLC Cambodia page. Should only list Cambodian contracts, but currently lists all 167 OLC contracts:
http://www.openlandcontracts.org/countries/kh
![image](https://cloud.githubusercontent.com/assets/12913915/22025433/8edfd60a-dc9b-11e6-9296-1b3b386c889d.png)

[2017-01-17 15:35] manishgs commented on #1001
Thanks @SamCCSI  @charlesyoung
To be clear, Are we going to use same background image for production which is currently on staging?
http://staging.resourcecontracts.org/

[2017-01-17 15:41] manishgs commented on #1033
fixed.

[2017-01-17 15:41] #1033 closed

[2017-01-17 15:41] manishgs commented on #1024
fixed.

[2017-01-17 15:41] #1024 closed

[2017-01-17 16:20] SamCCSI opened #1034 "Contract zoomed too far in, even when I have zoomed out as much as possible"
The below is after I have zoomed out as much as the site will let me. I still can't see the full width of the PDF.

Is this issue appearing because of changes to PDF display (e.g. because of work done on PDF scrolling?)

http://www.openlandcontracts.org/contract/ocds-591adf-7804618381/view#/pdf/page/9/annotation/3072
![image](https://cloud.githubusercontent.com/assets/12913915/22028896/c5e130e4-dc

[2017-01-17 16:28] jedm commented on #1025
Sounds very techie.

How about "Share by Email"?

[2017-01-17 16:34] KaitlinCCSI commented on #1025
@jedm suggestion fine with me. (Do you think that it will be clear to users what they are sharing if we don't add "Page"?)

[2017-01-17 16:38] jedm commented on #1025
Yes.

[2017-01-17 16:38] KaitlinCCSI commented on #1025
Okay, let's please change to "Share by Email"

[2017-01-17 20:00] SamCCSI opened #1035 "Some contract text with french accents still appears as a [?] symbol"
1. Some contract text with french accents still appears as a [?] symbol
http://www.openlandcontracts.org/contract/ocds-591adf-8844454518/view#/text

![image](https://cloud.githubusercontent.com/assets/12913915/22037357/d2f08b90-dcc4-11e6-981c-6c813b8e3e66.png)

2. This is carried over to word document downloads.

3. CSV downloads of annotations also have symbols in place of accents in some cases

[2017-01-17 20:26] SamCCSI commented on #714
@upasna01 @anjesh would it be possible to move the annotation category "Size of concession area" to under the "General" annotation cluster? (It currently is under the 'Legal rules' category, which makes less sense).

![image](https://cloud.githubusercontent.com/assets/12913915/22038412/11a1a69a-dcc9-11e6-86cc-ec7a626af8c0.png)

cc @charlesyoung

[2017-01-18 05:36] manishgs commented on #1034
We are working on different git branch for PDF scrolling which will not affect the current functionality.

Regarding PDF zoom if you check the pdf of the contract [here](https://resourcecontracts-nrgi.s3-us-west-2.amazonaws.com/1179/1179-sierra-leone-addax-bioenergy-sierra-leone-ltd-memorandum-of-understanding-and-agreement-9-february-2010.pdf) which is larger than the normal pdf size [here](https

[2017-01-18 05:38] manishgs commented on #1029
@SamCCSI  It should removed from frontend. We'll look into this.

[2017-01-18 05:39] charlesyoung commented on #1001
That's correct. Thanks

[2017-01-19 02:42] JesseCCSI opened #1036 "Updates to OLC Guides page not appearing on frontend for certain users"
We published a new training module on OLC today and made other edits the Guides page (openlandcontracts.org/guides). The edits appear on the frontend when viewed using a PC (Chrome Version 55.0.2883.87 m) - see screenshot (which shows how the page should now look) - but not when using a Mac (Chrome Version 55.0.2883.95 64 bit - up to date).

We're announcing the launch of the training module tomor

[2017-01-19 05:30] manishgs commented on #1001
Home page updated. Please review http://staging.resourcecontracts.org/.

[2017-01-19 05:57] manishgs commented on #1036
It is due to browser cache. Please clear browser cache and try again.

[2017-01-19 08:24] charlesyoung opened #1037 "Country name in export table"
Any idea why when I download the contracts list below country names are in French while the rest of the DRC and Tunisia contracts have an English country name.

![image](https://cloud.githubusercontent.com/assets/13888372/22098814/060004a8-de31-11e6-88b4-276ba245fdcb.png)

[2017-01-19 12:42] JesseCCSI commented on #1036
Thanks @manishgs but both @KaitlinCCSI and I cleared our browser cache and are still having this problem on both our Macs.

Might something else be the cause?

[2017-01-19 14:57] SamCCSI commented on #1036
Reopening to address @JesseCCSI 's comment

[2017-01-20 04:59] manishgs commented on #1001
@SamCCSI @charlesyoung
Let me know if we are ready to deploy on live?

[2017-01-20 05:57] charlesyoung commented on #1001
I will get final approval from the group today.

[2017-01-20 06:29] charlesyoung commented on #484
Linked to 'Add geo-data metadata in the Admin interface' #942

[2017-01-20 06:29] #484 closed

[2017-01-20 10:57] manishgs commented on #1036
@JesseCCSI @SamCCSI
There are two containers/instances running to serve subsite, one container has updated content and another has cached content which was not flushed yet.  So for some user's browser showing old content were due to serving from cached container. For now we have cleared the cache on both containers. I've talked with **Vitamin** regarding the issue. They will work on it to resolve

[2017-01-20 15:15] anderspeders commented on #1035
Would be good to get @anjesh view here.

@SamCCSI: 3. Is this occuring for annotations only or for the metadata text as well?

[2017-01-20 16:02] #968 closed

[2017-01-20 16:04] SamCCSI commented on #696
Anjesh has explained this -- not a bug, search just works as though 'e' and 'é' are the same, which is the norm

[2017-01-20 16:04] #696 closed

[2017-01-20 20:14] #749 closed

[2017-01-20 21:06] SamCCSI commented on #896
For 2 and 3 - @manishgs working for me now, thanks. cc @KaitlinCCSI @JesseCCSI any issues?

For 1 - my understanding is that there is supposed to be a link at the top, so that the user can skip the annotations and go straight to the contract file. I don't see any link. @jedm @JesseCCSI Is my understanding correct? If so, @manishgs can you please let us know if this is still on YI's to do list?

[2017-01-20 21:20] SamCCSI opened #1038 "Delete 'Transfer of risk' from Annotation categories"
Please delete 'Transfer of risk' from Annotation categories codelist. We do not plan to use this annotation category at all for either RC or OLC.

[2017-01-20 21:22] SamCCSI opened #1039 "Change "Stabilization clause" annotation category to "Stabilization""
Please reword the "Stabilization clause" annotation category to "Stabilization."

(Justification: some annotations under this category talk about clauses that *prevent* stabilization, rather than actually being stabilization clauses. It is therefore more accurate to refer to this clause as "stabilization")

[2017-01-20 21:30] SamCCSI commented on #1039
Once this change is made, can we also ensure URLs containing the old annotation category name still work?

E.g. make sure that anytime an RC or OLC URL has **search?q=&annotation_category%5B%5D=Stabilization+clause** in it, it should act as though the search query is just for "stabilization"?

[2017-01-20 21:42] KaitlinCCSI commented on #896
Contracts load for me.

I also thought that the buttons at the top were supposed to allow you to skip to correct place on page (so that if you click on PDF icon, the page scrolls so you can see the contract). Seems like they don't work in that fashion. Is it possible to add such functionality if it doesn't yet exist? (Also, when I am looking at contract PDF on phone and then click annotation butto

[2017-01-23 06:02] manishgs commented on #896
@SamCCSI  @KaitlinCCSI

For 1  - We've updated mobile view design. Please test on [staging](http://staging.resourcecontracts.org/contract/ocds-591adf-2500469277/view#/text) and let us know your feedback.

[2017-01-23 06:08] charlesyoung commented on #1001
@manishgs please deploy on the Production site.

[2017-01-23 06:10] charlesyoung commented on #126
Ticket not prioritized. When @jedm conducts use case research he could look into user demand for this.

[2017-01-23 06:11] charlesyoung commented on #83
Ticket not prioritized.

[2017-01-23 06:12] charlesyoung commented on #259
Try improve on the PDF image quality to determine if the scrolling will work.

[2017-01-23 06:15] charlesyoung commented on #830
Although this ticket will not to be included in S19 it is noted that CCSI hopes that it can be included in the future.

cc @SamCCSI @KaitlinCCSI

[2017-01-23 06:18] charlesyoung commented on #986
@anderspeders to discuss with Perrine before the ticket is prioritized.

[2017-01-23 06:51] charlesyoung commented on #22
@SamCCSI @jedm can we try wrapping this up in January?

[2017-01-23 07:52] charlesyoung opened #1040 "Tunisia annotation on incorrectly rotated contract"
One of the local experts in Tunisia started annotating a [contract ](http://resourcecontracts.elasticbeanstalk.com/contract/2279)that needs to be rotated. Will the 11 captured annotations be lost if I update the contract with below correctly positioned one?

[protocoledaccordashtart.pdf](https://github.com/NRGI/resourcecontracts.org/files/722895/protocoledaccordashtart.pdf)

[2017-01-23 09:36] charlesyoung commented on #1040
@manishgs I did update the contract with the correctly positioned one but it didn't apply the change.

[2017-01-23 10:42] charlesyoung opened #1041 "PDF not loading"
PDF not loading although published.

[Backend](http://resourcecontracts.elasticbeanstalk.com/contract/2015)
[Frontend](http://www.resourcecontracts.org/contract/ocds-591adf-6186641258/view#/pdf)

[2017-01-23 14:40] SamCCSI commented on #896
Looking good @manishgs many thanks.

When looking at an annotation pop-up on the PDF view, the **_>>_** hyperlink back to the full annotation does not work.

Example:

![image](https://cloud.githubusercontent.com/assets/12913915/22208168/ec45b78e-e14f-11e6-993a-fa73694400bc.png)

[2017-01-23 15:06] SamCCSI commented on #1029
Updated list of contracts in draft mode that have been unpublished but still appear on the front-end:

http://resourcecontracts.elasticbeanstalk.com/contract/2193
http://resourcecontracts.elasticbeanstalk.com/contract/2194
http://resourcecontracts.elasticbeanstalk.com/contract/2302

http://resourcecontracts.elasticbeanstalk.com/contract/2196
http://resourcecontracts.elasticbeanstalk.com/contract/1

[2017-01-23 15:38] SamCCSI commented on #1035
@anderspeders I haven't seen metadata text having this problem

[2017-01-23 15:43] anderspeders commented on #1035
Thanks @SamCCSI,

@anjesh @manishgs Could you have a look?

[2017-01-23 15:54] JesseCCSI commented on #896
Many thanks @manishgs - it looks like the clipping function may not be working on the mobile site - when I turn the clipping tool on and add individual annotations (or "clip all") they don't appear on the View Clips page, and the number of clippings displayed in the View Clips icon remains at 0.

(am using iOS 10.2)

[2017-01-23 16:38] SamCCSI commented on #896
More feedback: Can we please make the PDF view (not the text view) the default? This is consistent with how the main site functions.

[2017-01-24 04:10] shashikhanal commented on #1038
There are [8 contracts](http://admin.resourcecontracts.org/contract?type=annotations&word=transfer-of-risk&issue=present) which currently use 'Transfer of risk' annotation category. Please, update those contracts' annotation category first.

[2017-01-24 08:00] manishgs commented on #1001
updated on live site.

[2017-01-24 08:00] #1001 closed

[2017-01-24 08:18] manishgs commented on #1026
Filter added on activity log page.

[2017-01-24 14:44] SamCCSI commented on #1026
@manishgs I can't see those two new filters yet on the activity log page. Has this gone live yet? Thanks.

![image](https://cloud.githubusercontent.com/assets/12913915/22251677/a8976c60-e219-11e6-81b8-95ecfb09782e.png)

[2017-01-24 15:32] manishgs commented on #1026
Yes. Please check filter options on live.

[2017-01-24 16:54] Tehtena commented on #1001
Hi @manishgs I am using Chrome and the 'Partners' and 'Donors' text is cut off and the logos are much larger and not on the same line. Don't think it is happening on other computers.
![rc screenshot -](https://cloud.githubusercontent.com/assets/25327382/22257337/bafc656a-e22b-11e6-9f60-1cd810257706.png)

[2017-01-24 19:48] JesseCCSI commented on #991
Per previous conversations with @charlesyoung and @anjesh, I'm listing the following issues here:

- Does YI have all the information needed to create OLC sub-domains? During our call in December, @anjesh mentioned that YI would test credentials and confirm they have all they need.

- We are waiting to receive a signed MoU for the DRC subsite - once we receive this, we'll need to create a DRC subd

[2017-01-24 19:51] JesseCCSI opened #1042 "Additional country subsite request (for S19 planning)"
Per previous conversations with @charlesyoung, I'm logging this ticket for S19 planning purposes - we are currently in early discussions with government partners regarding the establishment of a Tanzanian OLC subsite - if this proceeds, we'll need to establish a subdomain and demo site.

[2017-01-24 19:55] #1042 closed

[2017-01-24 19:56] JesseCCSI opened #1043 "Additional country subsite request (for S19 planning)"
Per previous conversations with @charlesyoung, I'm logging this ticket for S19 planning purposes - we are currently in early discussions with partners regarding the establishment of an additional OLC subsite - if this proceeds, we'll need to establish a subdomain and demo site.

[2017-01-25 05:02] manishgs commented on #1001
It may be due to browser cache so could you please refresh your browser (ctrl +R)?

To prevent from Browser cache for UI update, we'll implement dynamic css filename.  Whenever we update UI, we'll update the version of css file (style.css?v=[version number]) so that browser render updated css file.

[2017-01-25 15:53] SamCCSI commented on #1026
Working nicely at this URL: http://admin.resourcecontracts.org/activities

Can you make these appear here too: http://resourcecontracts.elasticbeanstalk.com/activities – this is where I am directed when I click on 'activity log' so it would be helpful to have those options working there.

[2017-01-26 05:03] manishgs commented on #1026
http://resourcecontracts.elasticbeanstalk.com is replaced with http://admin.resourcecontracts.org. It will no longer maintain and will be removed in future so now onward please use http://admin.resourcecontracts.org .

[2017-01-26 05:20] manishgs commented on #1041
There was an issue with signature date format. Elastic search failed to parse the date format (2011-5-27). I have updated signature date (2011-05-27). Now it is showing on frontend.

[2017-01-26 05:36] charlesyoung commented on #1026
@manishgs should we not redirect http://resourcecontracts.elasticbeanstalk.com to http://admin.resourcecontracts.org to avoid possible confusion?

[2017-01-26 05:39] charlesyoung commented on #1041
Thanks @manishgs. Please check that other contracts don't have the same issue.

[2017-01-26 07:48] anjesh commented on #984
This is how the message appears in low bandwidth.
---
![image](https://cloud.githubusercontent.com/assets/120488/22323486/55e3aa16-e3cb-11e6-966e-c2facdc774a0.png)
---
Once the user gets the text view, they can alway click pdf to get the pdf view and download pdf - do we still need to mention that they can download pdf @KaitlinCCSI?.

Just confirming the final change in the message. Instead of exi

[2017-01-26 08:31] charlesyoung commented on #1026
Thanks @manishgs, the old site now redirects.

Closing, @SamCCSI please reopen if required.

[2017-01-26 08:31] #1026 closed

[2017-01-26 08:49] anjesh commented on #1026
FYI - The old site  http://resourcecontracts.elasticbeanstalk.com will stop working once we close the AWS instance, since we have all systems moved to NRGI infrastructure. We don't own that domain and is part of AWS, using that domain for redirection only will also cost money as it requires a server instance.

[2017-01-26 09:38] charlesyoung commented on #896
@SamCCSI, the PDF view is opened by default except on a slow connection where the text view will be opened.

[2017-01-26 09:54] charlesyoung commented on #896
@anjesh I noticed that when clicking on the article link it opens more of the annotation text captured. Should it not open the tag on the actual doc?

[2017-01-26 13:57] charlesyoung opened #1044 "Contracts not annotated noted as annotated"
Search for all Tunisia contracts annotated shows 54 contracts on both the [public ](http://www.resourcecontracts.org/search?q=&country%5B%5D=tn&annotated=1)and [country ](http://tunisia.resourcecontracts.org/search?q=&annotated=1)site.

The issue is that the search is displaying contracts that haven't been annotated like this [contract](http://admin.resourcecontracts.org/contract/2270).

[2017-01-26 21:59] SamCCSI commented on #996
1. 'Ordering' arrows don't work on All clips page.
![image](https://cloud.githubusercontent.com/assets/12913915/22352025/70ac5830-e3e8-11e6-80b6-b00c9bd60532.png)

- category arrow does not order by category – it always separates by contract so that if you select two annotation categories and two contracts, it wont let you see 'arbitration' annotations for each contract followed by 'Audit' annotat

[2017-01-30 08:04] charlesyoung commented on #984
@KaitlinCCSI @jedm I'm keen to wrap-up S18 tickets. Are you happy with above suggestion?

cc @anjesh

[2017-01-30 08:09] charlesyoung commented on #896
@anjesh you have time to look at this, I want to close all non S19 ASAP.

[2017-01-30 13:50] charlesyoung commented on #1044
@anjesh can you please prioritize this ticket.

It also relates to contracts from other countries besides Tunisia.

[2017-01-31 09:19] manishgs commented on #1027
Total number of annotations is updated on frontend.

[2017-01-31 09:20] manishgs commented on #1025
Text updated.

[2017-01-31 09:20] #1025 closed

[2017-01-31 09:25] charlesyoung commented on #1027
I notice that the annotations are now [unpublished](http://admin.resourcecontracts.org/contract/2277) so it shows 0 on the frontend. How many contracts are affected by this?

[2017-01-31 13:41] SamCCSI commented on #984
1. @anjesh please change the low bandwidth loading / text view message to "Connection slow. Loading text view ..."

2. The standard loading message for the site should still just say "Loading..." as Jed suggests.

3. For @KaitlinCCSI's suggestion re pointing the user to the ability to download, @jedm says this "should display at the top of the area like other "system messages", and not in the loca

[2017-01-31 13:44] SamCCSI commented on #1034
@manishgs is there a way to auto-adjust the PDF's size so that it is entirely visible?

Not a priority for current sprint but flagging now.

cc @charlesyoung @anjesh

[2017-01-31 14:47] jedm commented on #984
@SamCCSI @anjesh I'm suggesting that message look like this:

![screen shot 2017-01-31 at 9 45 24 am](https://cloud.githubusercontent.com/assets/2153664/22469504/3fad5d14-e79a-11e6-8146-651d4034b464.png)

[2017-01-31 17:00] SamCCSI commented on #984
Thanks Jed. Looking forward to @anjesh's thoughts.

[2017-02-01 04:07] manishgs commented on #1036
Now we have single container for the subsite so this issue will not happen again.

[2017-02-01 04:07] #1036 closed

[2017-02-01 04:14] manishgs commented on #1027
@charlesyoung  Could you please provide more detail about the issue?

When I visit the link,  annotations are published and total number of annotations on frontend is same as rc- admin.

[2017-02-01 04:26] manishgs commented on #1032
@charlesyoung

If you check the annotations of this contract on admin, http://admin.resourcecontracts.org/contract/1173,  all annotations have only one ref.

We have not updated to change multiple refs to single ref. Here are some contracts which have multiple refs.

http://www.resourcecontracts.org/contract/ocds-591adf-3986673209/view#/pdf/page/24/annotation/2241

http://www.resourcecontracts.org

[2017-02-01 04:34] manishgs commented on #1041
We have updated signature date format of all contracts and implemented date validation.

[2017-02-01 04:34] #1041 closed

[2017-02-01 05:31] charlesyoung commented on #1027
Very strange. Closing for now.

[2017-02-01 05:31] #1027 closed

[2017-02-01 05:33] charlesyoung commented on #1032
cc @SamCCSI

[2017-02-01 05:45] #1040 closed

[2017-02-02 08:33] anjesh commented on #1038
@charlesyoung @SamCCSI please let us know to which category does this "transfer of risk" map to, or we simply delete this annotation?

[2017-02-02 10:12] manishgs commented on #1039
"Stabilization clause" changed to Stabilization.

http://resourcecontracts.org/search?q=&annotation_category%5B%5D=Stabilization+clause

[2017-02-02 10:12] #1039 closed

[2017-02-02 10:14] manishgs commented on #1044
fixed.

[2017-02-02 10:14] #1044 closed

[2017-02-02 10:18] manishgs commented on #1029
Fixed. Please reopen this issue If you encounter again.

[2017-02-02 10:18] #1029 closed

[2017-02-02 10:18] manishgs commented on #990
fixed and deployed.

[2017-02-02 10:18] #990 closed

[2017-02-02 10:58] manishgs commented on #259
@SamCCSI

If we use image instead of pdf then pdfjs.js (138 KB) & pdf.worker.js (582 KB) are not required and request will be decreased by 720 KB. It will definitely decrease the page loading time which means, on slow connection, page will load faster than before.

For Image quality, I have used this pdf [176-dwm-petroleum-ag-block-d-e-psa-2007.pdf](https://github.com/NRGI/resourcecontracts.org/fi

[2017-02-02 11:22] charlesyoung opened #1045 "New feature display"
I have heard on numerous occasions that users are unaware of new RC functionality. Should we not add a note, like below website, on the home page to inform users of new functionality? The clipping functionality stands out and users could be notified of the new feature and be pointed to the clipping guide for reference.

https://fts.unocha.org

cc @jedm @SamCCSI

[2017-02-02 14:48] charlesyoung commented on #953
@anjesh, I'm putting this ticket on-hold for now.

[2017-02-02 23:33] SamCCSI opened #1046 "Bug: site not allowing any changes or new uploads"
![image](https://cloud.githubusercontent.com/assets/12913915/22573210/ee6a86f6-e975-11e6-9043-08ad9b101b40.png)

Happened to a researcher and to me today. Apparently it happened on Monday as well. The above message occurs when they try to upload a new document and when either of us try to amend the metadata of a contract.

For me it happened for this contract: http://admin.resourcecontracts.org/co

[2017-02-03 06:04] manishgs commented on #1016
fixed

[2017-02-03 06:04] #1016 closed

[2017-02-03 07:31] manishgs commented on #1046
fixed.

[2017-02-03 07:31] #1046 closed

[2017-02-03 13:29] SamCCSI commented on #1032
Thanks @manishgs I'll investigate further at our end.

[2017-02-03 13:29] #1032 closed

[2017-02-03 13:48] SamCCSI commented on #1038
Thanks @anjesh @shashikhanal we are investigating these further and will be back in touch

[2017-02-03 14:52] SamCCSI commented on #259
Thanks. Could you please prepare mock-ups of page 17 of that contract,
instead of page 1, so that we can see how the compression affects smaller
text?

[2017-02-08 23:27] SamCCSI opened #1047 "Translation to French not working"
When I have a contract and I want to translate the listing to French, the name generator still uses the English term for the document type, instead of the French:

![image](https://cloud.githubusercontent.com/assets/12913915/22762217/3c7793e2-ee2c-11e6-852b-490cace29cc3.png)

[2017-02-08 23:46] SamCCSI opened #1048 "Add 'Cahier des charges' as contract type"
Please add Add 'Cahier des charges' as another contract type
- needed by Tunisian country importers cc @charlesyoung
- also relevant for OLC

[2017-02-09 04:32] manishgs commented on #1037
When user is browsing rc-admin in FR and user updates a contract then country name stored in french. This issue is now fixed.

[2017-02-09 04:32] #1037 closed

[2017-02-09 04:37] manishgs commented on #985
@SamCCSI
Please provide the category list for RC and OLC, we'll update the checklist according to RC/OLC contract.

[2017-02-09 04:44] manishgs commented on #1017
@charlesyoung  @SamCCSI
Could you please confirm below text which we'll add after this line "This site provides summaries of contracts ..."?

"Photo credits, home page: View from Entoto Mountain, Ethiopia (Arne Hoel/World Bank Photo Collection) Compagnie des Bauxites de Guinée, Sangarédi, Guinée (RWI); Oil rig worker, Niger Delta, Nigeria (Ed Kashi)"

[2017-02-09 04:53] manishgs commented on #896
@SamCCSI @charlesyoung Please test the contract view page in mobile.
@JesseCCSI clipping issue will be addressed in issue #996

[2017-02-09 05:39] manishgs commented on #1035
Following pages contains [?] symbol. All the pages transcribe from mTurk. Not all the pages from contracts have this issue.
143 - 19
143 - 27
143 - 30
143 - 83
143 - 90
747 - 20
1044 - 9
1044 - 10
1044 - 13
1044 - 20
1044 - 29
1044 - 30
1044 - 31
1044 - 32
1044 - 35
1044 - 36
1044 - 38
1044 - 39
1044 - 41
1046 - 4
1046 - 7
1046 - 21
1046 - 24
1046 - 26
1046 - 27
1046 - 28
1046 - 31
1046 - 35
1046

[2017-02-09 09:08] charlesyoung commented on #1048
This has already been added to allow for the Tunisia Mining contracts import.

[2017-02-09 13:16] charlesyoung commented on #984
@anjesh can you try finish the outstanding issues of this ticket?

[2017-02-09 13:17] SamCCSI opened #1049 "Error for two Ukrainian contracts"
From a partner organization:

I was "playing" with the API and I found this issue:

There are 2 contracts listed using the API (also can be searchable in
the web) that cannot be accessed

http://www.resourcecontracts.org/search?q=ocds-591adf-3556799773

http://www.resourcecontracts.org/search?q=ocds-591adf-9306866843

If I try to access to the contract, I get an error:
http://www.resourcecontracts

[2017-02-09 13:31] SamCCSI commented on #1048
@charlesyoung

I don't see it on the list, and it looks like the Tunisian cahiers des charges are being uploaded as 'mining contracts':  example: http://admin.resourcecontracts.org/contract/2490

![image](https://cloud.githubusercontent.com/assets/12913915/22785412/2a4d07da-eea2-11e6-8897-79509ac16175.png)

[2017-02-09 13:32] SamCCSI commented on #1035
@manishgs are you saying that the <?> symbol comes from the transcribers and not from a problem with the RC system?

[2017-02-09 14:27] SamCCSI opened #1050 "API listing a different number of published contracts to the front-end"
There are 171 on the OLC front-end but only 167 returned through the API. From a partner organization that is pulling information on published OLC contracts:

I developed a program to retrieve the full metadata for each contract (available on github under MIT license).
https://github.com/landportal/data/blob/master/landlibrary/importers/OLC/olc-get-all-contracts-metadata.py

I have re-run the scri

[2017-02-09 14:42] SamCCSI commented on #896
Hyperlink working nicely, and I can toggle back and forth between an annotation and where it appears on the PDF.

Will it be difficult to allow the user to zoom in and out of the PDF document using two fingers on their phone screen (the way most image zooms work on smart phones)? I ask because right now, the screen can only fit half the width of a contract on the default view:

![image](https://cl

[2017-02-09 14:47] charlesyoung commented on #1048
We had agreed with Perrine that the English translation for  'Cahier des Charges' is 'Mining Contract':

[2017-02-10 04:26] manishgs commented on #1050
http://rc-api-stage.elasticbeanstalk.com/api/contracts?category=olc&per_page=500
This API URL is old which is no longer maintained. We have moved the API URL to http://api.resourcecontracts.org/contracts?category=olc. Please use the new one.

@charlesyoung
Could you please confirm Philippines subsite is using new API URL so that we can remove the old  API URL?

[2017-02-10 10:44] manishgs commented on #1049
The issue was that both the contract's parent was the contract itself, so there was endless loop in API. I've removed the parent contract, now it is fixed. Please update the parent/associate contract.

[2017-02-10 10:44] #1049 closed

[2017-02-10 13:18] SamCCSI commented on #1050
Can we make this information public? E.g. on the page of the old API can we
notify users that this is the case.

*SAM SZOKE-BURKE*
*Legal Researcher**Columbia Center on Sustainable Investment*
Columbia Law School | The Earth Institute, Columbia University
435 W116th St. New York, NY 10027
| (+1)(646) 630-4123 <+1646-630-4123>
| s.burke@columbia.edu
| ccsi.columbia.edu <http://www.ccsi.columbia.edu

[2017-02-10 16:21] SamCCSI opened #1051 "More problems with obsolete elasticbeanstalk URL refs"
Again, reported from a partner org:

just to say that, after run the script (with the updated API URL) to obtain all the metadata from resourcecontracts, the are some references to "elasticbeanstalk" that maybe you would like to curate and update.

Please, find attached the file with all the metadata that could help that in that process.
https://www.dropbox.com/s/h8xeok79rv2q4u2/rc-contracts-metad

[2017-02-13 18:57] JesseCCSI opened #1052 "Changes to French OLC homepage recorded in Google doc"
FYI - some of these changes reflect previous requests in tickets #971 and #873.

All changes have been recorded on the OLC hompage tab in this doc: https://docs.google.com/spreadsheets/d/1FYGpCtUDczJzUtzmBn97zJH4BeGL2aO4VeBIKMnRWMo/edit?ts=5874b615#gid=1944805571

Some changes are also relevant for RC (as mentioned to @charlesyoung via email).

[2017-02-13 20:47] SamCCSI commented on #1048
Thanks @charlesyoung

[2017-02-13 20:47] #1048 closed

[2017-02-15 01:11] SamCCSI commented on #985
1. Thanks @manishgs here is the revised checklist: https://docs.google.com/a/columbia.edu/spreadsheets/d/1buks6Aa8LNCaB-czZouyCC1luxURRNzU-GiMNhYGmn8/edit?usp=sharing

2. Can the categories be sorted alphabetically under each cluster category?

[2017-02-16 05:35] charlesyoung commented on #1010
@manishgs please import the DRC contracts.

Google [sheet](https://docs.google.com/spreadsheets/d/1lYhLhjbZbveWLrzFepOzn1QbaIPlEMOIbyoWbUiM_9I/edit#gid=143366580).

[2017-02-16 05:50] charlesyoung commented on #1011
The 'Participation Share' was incorrectly captured in the Google sheet (0.1 rather than 1).

@manishgs can you please update the imported mining contracts accordingly?

[2017-02-16 07:43] charlesyoung commented on #995
@anjesh can we discuss this before you spend time working on this ticket.

[2017-02-16 07:48] charlesyoung commented on #985
@manishgs can you please look at Sam's question above.

[2017-02-16 07:49] charlesyoung commented on #259
@manishgs can you please prepare mock-ups as requested.

[2017-02-16 07:50] charlesyoung commented on #1038
@SamCCSI any feedback?

[2017-02-16 21:44] anjesh commented on #995
sure.

[2017-02-17 08:20] charlesyoung commented on #1051
@manishgs can you please take a look at this.

[2017-02-17 08:21] charlesyoung commented on #1050
@manishgs the Philippines is using the new API URL.

[2017-02-17 19:55] SamCCSI commented on #1034
Any updates @manishgs @charlesyoung ?

Also see screenshot for this contract: it looks like when it was annotated it was not so zoomed in on the site; the markers here (including the standard sized markers) are also zoomed in indicating that when they were added the contract was on a normal ratio / zoom. Would that mean that a recent change to the site is what caused this zoom-in bug?

![image](ht

[2017-02-17 21:40] SamCCSI commented on #785
I just performed this search: http://www.openlandcontracts.org/search?q=&document_type%5B0%5D=Contract&annotation_category%5B0%5D=Signatories%2C+State&order=asc&sortby=country

I then tried to download a csv file with all of these results by clicking the download button, but the CSV was blank.

![image](https://cloud.githubusercontent.com/assets/12913915/23084320/b90f2f64-f52f-11e6-893a-ae34733ce4

[2017-02-20 08:32] anjesh commented on #1017
@charlesyoung could you please get back to this issue? Thanks.

[2017-02-20 08:53] anjesh commented on #1051
Users are writing elasticbeanstalk url in opencorporates metadata and also mentioning these links in the notes section e.g.

![image](https://cloud.githubusercontent.com/assets/120488/23117922/1d582f60-f77a-11e6-9428-fcd33554949a.png)

![image](https://cloud.githubusercontent.com/assets/120488/23117936/30474fca-f77a-11e6-9467-42f1fba0edff.png)

This is the issue with data entry itself and not with

[2017-02-20 08:55] manishgs commented on #1050
Wiki has been updated. We'll remove the old API from next week.

[2017-02-20 08:55] #1050 closed

[2017-02-20 13:40] #1017 closed

[2017-02-20 13:47] SamCCSI commented on #1038
@anjesh @shashikhanal these have been deleted, and we are now ready to entirely delete the Transfer of Risk annotation category.

Best,
Sam

[2017-02-21 04:13] manishgs commented on #995
Currently, system have predefined Role and Permissions,  To leverage user's permissions, we can add functionality to add new **Role** so that admin can create different role having different permissions.

**Add Role**
Admin (user having right to create user/role) can create user's role with pre-defined permissions.

Following are the permissions which user can select while creating a new role.
- A

[2017-02-21 04:45] manishgs commented on #1035
@SamCCSI  Yes the symbol comes from Mturk (from the transcribers).  If you check the other pages of same contract, french accents are correct.  The pages that I've listed above need to be corrected by manual editing.

[2017-02-21 05:00] manishgs commented on #704
As per above discussion, search results will be look like below.

**Pg 9** L’etat de cessation de paiement du concessionnaire constitue une cause de decheance et entraine la resiliation du present **contrat**. Article 24: Les infractions mentionnees a ... _and 3 matches more on this page_

--------

**Pg 1** REPUBLIQUE DEMOCRATIQUE DU CONGO Ministre de L'environnement, Conservation de la Nature et

[2017-02-21 05:30] manishgs commented on #604
There are two options to obtain the design of FAQ page as shown in above screenshot,

**1. Edit on existing text editor**
User have to update text in defined style which means Title should be wrap with `<h2>` tag and description text should wrap with `<div>` tag. Below is the html structure of FAQ page look like:

[code]
....

It can be implement on existing functionality and quick to implement. b

[2017-02-21 05:40] manishgs commented on #985
@SamCCSI

1. We have a confusion regarding implementing the RC/OLC list, are we also going to update category dropdown according to RC/OLC contract while adding annotation?

2. yes, we can.

[2017-02-21 06:12] charlesyoung commented on #604
@manishgs we have budgetary constraints so need to implement option 1.

[2017-02-21 06:13] charlesyoung commented on #995
Thanks @manishgs. How long will it take to develop?

[2017-02-21 07:39] manishgs commented on #259
Here is the detail for page 17 of the contract.

|Density/Quality  | File | Image Width | Size (kb) | Total gif size (mb)|
|----------|:-------------:|------:|------:|------:|
|120 | [Preview](https://cloud.githubusercontent.com/assets/3942999/23154867/0594198e-f838-11e6-84fa-a90fa4213f8b.gif) | 1020 | 37.7 |  2.4|
|150 | [Preivew](https://cloud.githubusercontent.com/assets/3942999/23154872/0a60e3

[2017-02-21 11:39] charlesyoung commented on #723
Should we resurrect discussion on this ticket?

Comments from Perrine; This is something important that will always be known in the context of countries whereas its more difficult to know at the global level. At the country site level this is fundamental to know.

cc @SamCCSI @KaitlinCCSI

[2017-02-21 13:10] SamCCSI commented on #985
@manishgs

1. No, you don't need to do that; we just want the left column checklist on the backend to change according to the code list.

2. Thanks!

[2017-02-21 13:11] SamCCSI commented on #1035
@manishgs okay, thanks, we will take care of this.

[2017-02-21 13:11] #1035 closed

[2017-02-21 14:41] KaitlinCCSI commented on #723
Sure. I do see an extremely strong rationale for this feature. We discussed in last call, however, when it was agreed to wait to see what OCDS would do? But I am more than happy to consider implementing now -- at least on the backend, per OCDS helpdesk suggestion above, and think we could also consider doing so on the frontend, though would want to discuss again with OCDS helpdesk to figure out ho

[2017-02-21 14:50] JesseCCSI commented on #995
Thanks @manishgs looks good. Will it be possible to create country-specific roles/ permissions?

[2017-02-21 17:50] SamCCSI commented on #259
@manishgs we think 150 would be best, taking into account loading time and quality.

To confirm, when users download the PDF, it is  still a PDF file, and not an image file—is that right?

[2017-02-22 04:43] manishgs commented on #259
@SamCCSI
Yes, users download the PDF file not an image file.

[2017-02-22 04:51] manishgs commented on #995
@charlesyoung
It will take 30-40 hrs for development and testing.

@JesseCCSI
There will be country dropdown (which is optional field) in user form, if country selected then user will have country-specific roles/permissions.

[2017-02-22 06:27] charlesyoung commented on #995
@manishgs we definitely don't have the budget to develop this so please hold all work on this ticket.

@JesseCCSI lets arrange a time to chat.

[2017-02-22 07:28] charlesyoung opened #1053 "API update"
@anjesh, as discussed can you please update the API with associated documentation.

[2017-02-22 07:56] manishgs commented on #1011
Participation Share updated to 1. Please review and publish the contracts.

[2017-02-22 08:02] charlesyoung commented on #1011
Thanks @manishgs

Is there no way you can do an auto publish of those contracts? I'm not that keen to manually publish 40 contracts.

[2017-02-22 10:14] manishgs commented on #1011
All 40 imported mining contracts are published. 4 contracts are in draft so they are not published.

[2017-02-22 10:24] charlesyoung commented on #1011
Many thanks @manishgs

Please send me the names of the 4 draft contracts.

[2017-02-22 14:28] manishgs commented on #1011
Cahier des Charges Jbel Essif
Cahier des Charges Bled El Adla  Delete
Cahier des Charges Jebel Hameima
Cahier des Charges Jebel Djerissa

[2017-02-23 08:55] manishgs commented on #1052
French Text has been changed according to Google Sheet. Please do verify.

[2017-02-23 13:50] #1011 closed

[2017-02-23 14:46] JesseCCSI commented on #1052
Thanks @manishgs looks good - just removed some extra spaces in cell C5.

[2017-02-23 21:23] SamCCSI opened #1054 "Associated documents not displaying for main contract"
http://www.openlandcontracts.org/contract/ocds-591adf-5399370669/view#/
http://admin.resourcecontracts.org/contract/682

This contract has multiple associated documents but they are not displaying on the right hand column of the contract page.
![image](https://cloud.githubusercontent.com/assets/12913915/23279826/ca3e8528-f9e4-11e6-9325-2ed387e899c0.png)

[2017-02-24 18:28] SamCCSI opened #1055 "Back-end annotation bug"
Sometimes, for no reason, the Art. references of an annotation move up to the previous annotation.

E.g. here. Infrastructure has references of Art. 3.1.3 and 8.2. But in the screenshot, those references are given to "Income tax" and Infrastructure has references to Art. 17, which are actually for the "Language" category, below.

![image](https://cloud.githubusercontent.com/assets/12913915/2331562

[2017-02-24 18:40] SamCCSI commented on #1055
Update: it seems to be caused when an earlier annotation is deleted on the back-end.

It can be solved by hitting refresh. But this still seems very buggy, so a fix, if not too time-intensive, would be good to keep the system stable, and to avoid our annotators being distracted.

[2017-02-24 20:12] SamCCSI opened #1056 "Make OpenCorporates link open in new tab / window"
Make OpenCorporates link open in new tab / window. (Right now it opens in the existing window, so the user loses the RC page).

[2017-02-27 03:53] #1052 closed

[2017-02-27 12:04] manishgs commented on #604
@charlesyoung @JesseCCSI

Option one has been implemented. Please review on [staging](http://staging.resourcecontracts.org/faqs)

**Note**
To make title appear on the left navigation, Question Title text should be in bold (i.e wrap with <strong> tag).

[2017-02-27 12:46] manishgs commented on #1010
**42 contracts imported out of 52 contracts on [staging](http://admin-staging.resourcecontracts.org/home) (contract with created date on Feb 27)**

Please check the json file to verify the contracts' metadata.
[import.txt](https://github.com/NRGI/resourcecontracts.org/files/803640/import.txt)

**Following contracts are already exist on RC system.**

contract name : Convention de joint venture expl

[2017-02-27 14:48] JesseCCSI commented on #604
Thanks @manishgs this looks good - one question regarding the bullet lists - the alignment appears slightly off (see screenshot below). Is there a way to rectify this? Thanks.

![image](https://cloud.githubusercontent.com/assets/14910764/23365651/cdbd45d2-fcd1-11e6-8c69-b63a8e32c2b5.png)

[2017-02-28 04:39] man-git007 commented on #1047
The "Generate Contract Name" is now translating to preferred language (French or Arabic) on selecting language in "Contract Information Translation" in "Edit Metadata" page for any contract.
![french](https://cloud.githubusercontent.com/assets/23434972/23391865/09232208-fda0-11e6-96f7-946e4ae62dbd.png)

[2017-02-28 06:13] manishgs commented on #785
This issue was on category names which consist of comma (,). Now it is fixed.

[2017-02-28 06:13] #785 closed

[2017-02-28 07:44] manishgs commented on #604
Numbering is based of the title, if title doesnot contain number then it will not display on the left navigation menu. In OLC site FAQ titles doesn't contain number so it will not display on the nav menu.

Alignment is fixed. Please review FAQs page on [RC](http://staging.resourcecontracts.org/faqs) and [OLC](http://staging.openlandcontracts.org/faqs) and let us know if we are ready to deploy on l

[2017-02-28 09:28] charlesyoung opened #1057 "OpenLandContracts.com"
OpenLandContracts.com currently opens the Tunisia RC country site. Please point it to OpenLandContracts.org.

[2017-02-28 10:08] charlesyoung commented on #1054
I'm having the same problem. @manishgs can you please investigate and resolve.

[2017-02-28 11:24] manishgs commented on #1054
This issue happens when user publish a contract which has associated documents and these are already published on subsite. When user publish a contract, system publish its metadata only not all the associated document metadata therefore other associated documents will not show latest published contract on the list.
To fix this issue, we need to publish other associated documents as well.

[2017-02-28 11:40] manishgs commented on #896
You can zoom pdf with phone's built-in zoom feature with two fingers. We have added fullscreen mode and enabled zoom button for pdf view. Could you please test this feature and let us know if this helpful to view pdf. It also works on mobile.
![screenshot-staging resourcecontracts org 2017-02-28 17-10-49](https://cloud.githubusercontent.com/assets/3942999/23403838/16703dbc-fdda-11e6-9470-d6930daa7

[2017-02-28 11:41] charlesyoung commented on #1054
@manishgs I'm not sure that I follow you, I never had this issue when publishing associated documents on the Sierra Leone country site. Anyway this needs to be resolved so can you please address the issue.

[2017-02-28 12:23] charlesyoung commented on #1010
Thanks @manishgs.

Can you however please check the 3 associated documents because they aren't linked to the related main contract?

An [example](http://admin-staging.resourcecontracts.org/contract/2138).

[2017-02-28 13:11] SamCCSI commented on #1047
When I click 'generate contract name' it still reverts to the English version of the doc type:
http://admin.resourcecontracts.org/contract/2355/edit/fr

![image](https://cloud.githubusercontent.com/assets/12913915/23406535/69903fd0-fd8d-11e6-8b5e-55b42765d7a4.png)

[2017-02-28 13:22] SamCCSI commented on #896
Nice feature.

1. I have to click the button twice to enter fullscreen mode, and twice to exit it. Makes sense for entering fullscreenmode, as you have that hover that explains what the button does, but for exiting it should just be one click.

2. It would be great to zoom out more than the system currently allows me (e.g. to 50%), so that I can see the full contract on the screen, without having

[2017-02-28 13:27] SamCCSI commented on #785
Thanks @manishgs -- now working for me too.

[2017-02-28 13:28] JesseCCSI commented on #604
Just reviewed OLC and this is working well, many thanks @manishgs  - also working nicely on mobile.
Cc'ing @charlesyoung in case you have further comments re RC?

[2017-03-01 07:51] charlesyoung commented on #991
@JesseCCSI just checking if the DRC multi-sectoral country subsite will need to be done by the end of March because all S19 tickets has to be closed by the 31 March.

[2017-03-01 07:52] charlesyoung commented on #1043
@JesseCCSI just checking if the additional country subsite will need to be done by the end of March because all S19 tickets has to be closed by the 31 March.

[2017-03-01 09:32] manishgs commented on #1057
done.

[2017-03-01 10:35] manishgs commented on #1053
API Wiki updated.

[2017-03-01 10:35] #1053 closed

[2017-03-01 13:13] JesseCCSI commented on #1043
Thanks @charlesyoung can we discuss on Friday? (and same for the DRC ticket)?

[2017-03-01 13:15] SamCCSI commented on #1057
Thanks @manishgs

We really just want the .com URL to redirect to the.org URL. Right now if a user goes to the .com URL and then finds contracts, the URL remains .com, which is confusing / not ideal.

Example:
![image](https://cloud.githubusercontent.com/assets/12913915/23461247/1d50a5f4-fe57-11e6-992a-ed8ceb6612ac.png)

Could you please make it so that .com redirects to .org (so that users copyin

[2017-03-01 13:24] charlesyoung commented on #1057
@iprunache will you be able to assist with this request?

[2017-03-01 16:27] JesseCCSI commented on #604
Hi @manishgs @charlesyoung re-opening this ticket as it looks like there are some issues with the FAQ page on the live site:

1. The table of contents appears different to the version on the staging site, which scrolled and was a more distinct box (grey versus white).
2. The alignment of the page is different - the FAQ should all be in one column, and not wrap around the FAQ table of contents.
3.

[2017-03-01 18:50] iprunache commented on #1057
@charlesyoung we'll look at this tomorrow

[2017-03-02 11:34] anjesh commented on #1051
I am closing this as this is to be fixed by users themselves in the data.

[2017-03-02 11:34] #1051 closed

[2017-03-02 11:35] man-git007 commented on #1047
It is now done. Please check @SamCCSI

[2017-03-02 12:11] iprunache commented on #1057
@SamCCSI @charlesyoung I've implemented a 301 redirect from .com to .org. Could you please check again? Thanks!

[2017-03-02 12:39] SamCCSI commented on #1057
@iprunache many thanks! Working perfectly.

[2017-03-02 12:39] #1057 closed

[2017-03-02 13:21] charlesyoung commented on #22
@SamCCSI what is still outstanding on this ticket?

[2017-03-02 13:22] charlesyoung commented on #984
@anjesh can you try finish the outstanding issues of this ticket?

[2017-03-02 13:23] charlesyoung commented on #1015
@anjesh what is the status of this ticket?

[2017-03-02 13:24] charlesyoung commented on #996
@anjesh what is the status of this ticket?

[2017-03-02 13:25] charlesyoung commented on #704
@jedm @KaitlinCCSI you happy with the wording?

[2017-03-02 13:26] charlesyoung commented on #1019
@anjesh what is the latest with this ticket?

[2017-03-02 13:27] charlesyoung commented on #985
@manishgs what is the latest with this ticket?

[2017-03-02 13:28] charlesyoung commented on #1028
@anjesh what is the latest with this ticket?

[2017-03-02 13:29] charlesyoung commented on #1038
@shashikhanal can you please attend to this ticket?

[2017-03-02 13:32] jedm commented on #704
If it is searching ONLY ONE PAGE, suggest change to:

and X more matches on this page

If it is searching ENTIRE DOCUMENT, suggest change to:

and X more matches in this document

[2017-03-02 17:51] KaitlinCCSI commented on #704
I agree with @jedm suggestion. Also, if there is only 1 more match, then can it say "and 1 more match on this page" or "in this document" (rather than "matches")?

[2017-03-02 21:35] SamCCSI commented on #1047
@man-git007 Thanks! Working now.

[2017-03-02 21:35] #1047 closed

[2017-03-03 03:30] manishgs commented on #1010
DRC mining contracts imported on live.

[2017-03-03 03:30] #1010 closed

[2017-03-03 03:33] manishgs commented on #996
@SamCCSI  @charlesyoung
Please check the clipping improvements on [staging](http://staging.resourcecontracts.org/search?q=&annotated=1)

[2017-03-03 04:29] manishgs commented on #604
FAQ page working fine for me. Could you please clear browser cache and retry?
![screenshot-www openlandcontracts org 2017-03-03 10-12-47](https://cloud.githubusercontent.com/assets/3942999/23538250/046a1af8-fffa-11e6-8916-2acfc04a67fa.png)

[2017-03-03 04:45] manishgs commented on #896
1. We have removed the tooltip for mobile UI now user can go to full screen and exit on one tap.
2. If you zoom out to max which is 50% you can see the full pdf on the view you don't have to scroll.
3. Fixed.
4. Fixed.

@SamCCSI Let me know if we can deploy on production.

[2017-03-03 04:59] manishgs commented on #1028
@SamCCSI
We pushed the annotation popup backward and it will appear under the contract.
Please review on [staging](http://staging.openlandcontracts.org/contract/ocds-591adf-3647297493/view#/pdf/page/3/annotation/3075)

[2017-03-03 08:27] manishgs commented on #984
@SamCCSI @jedm @KaitlinCCSI

Message text and design have been updated.

![screenshot-bpconcjcammlapcogcnnelfmaeghhagj 2017-03-03 13-33-55](https://cloud.githubusercontent.com/assets/3942999/23542591/36dac5b6-0016-11e7-80d4-397cf3a8e2c2.png)

[2017-03-03 08:37] manishgs commented on #1056
fixed.

[2017-03-03 08:37] #1056 closed

[2017-03-03 08:59] manishgs commented on #1038
"Transfer of Risk annotation" category removed from category codelist.

[2017-03-03 08:59] #1038 closed

[2017-03-03 12:14] manishgs commented on #1019
![screenshot-localhost-8000 2017-03-03 17-51-51](https://cloud.githubusercontent.com/assets/3942999/23550656/53d3b6b8-003a-11e7-9b1b-4b6870120843.png)

[2017-03-03 12:15] #1019 closed

[2017-03-03 13:30] SamCCSI commented on #1019
Thanks @manishgs this now works nicely.

[2017-03-03 13:36] charlesyoung commented on #995
To be discussed during the next group tech call.

Removing from S19.

[2017-03-03 13:38] SamCCSI commented on #1028
Thanks @manishgs I am not sure I understand what I am reviewing / looking for?

[2017-03-03 13:50] SamCCSI commented on #896
1. Thanks, works well.

2. It won't let me zoom out to 50%. See screenshots:
This is how far I can zoom out:
![image](https://cloud.githubusercontent.com/assets/12913915/23553214/e3e314da-ffed-11e6-886d-c9516d5272a2.png)

This is how far I might want to zoom out to see the whole page:
![image](https://cloud.githubusercontent.com/assets/12913915/23553233/f0099d74-ffed-11e6-82db-bd2148fe3e34.png)

3

[2017-03-03 13:53] SamCCSI commented on #996
@manishgs @charlesyoung all ordering arrows working well, thanks.

[2017-03-03 14:00] charlesyoung commented on #996
Thanks @SamCCSI

@manishgs how much of the 'continue from issue #893' (top of the ticket) items have been addressed?

[2017-03-03 14:02] charlesyoung commented on #22
@jedm, will you have time to look at the queries relating to the hover wording?

[2017-03-03 14:08] jedm commented on #22
Charles - is next week an acceptable time frame?

[2017-03-03 14:12] charlesyoung commented on #22
No problem, thanks Jed!!

[2017-03-03 14:44] manishgs commented on #1028
@SamCCSI

We fixed the design.  When you scroll down, annotation popup will appear under tab/pagination bar.
![screenshot-staging openlandcontracts org 2017-03-03 20-25-10](https://cloud.githubusercontent.com/assets/3942999/23555089/a9437e70-004f-11e7-9148-b6b1fd83cde3.png)

Are you still getting this issue?

[2017-03-03 14:49] SamCCSI commented on #1028
@manishgs the problem only was seen with the specific contract I linked to at the top of this thread, and that contract doesn't have annotations on the staging site so it is not possible to replicate in staging to see if problem has been solved

[2017-03-03 14:52] manishgs commented on #996
@charlesyoung

Most of issues are fixed. We are testing on staging and planning to deploy on production by March 8.

Could you please help us to provide sample csv file?

[2017-03-03 14:59] manishgs commented on #1028
Do you see this issue on other contracts on live/staging because when I click on the link, the page focus on the contract, not on the footer.

[2017-03-03 15:00] JesseCCSI commented on #604
Many thanks @manishgs cleared my browser cache and this is working now. One small issue I noticed in the scrolling table of contents - there seems to be an extra space between question 25 and 26. Could this be removed? Thanks again.

![image](https://cloud.githubusercontent.com/assets/14910764/23555770/2db3b4ca-fff8-11e6-9a5b-632316af0b98.png)

[2017-03-03 16:27] SamCCSI commented on #1028
@manishgs the problem appears to have been resolved on the live site. Thanks.

[2017-03-06 07:27] charlesyoung commented on #1028
@SamCCSI can we close this ticket?

[2017-03-06 08:47] manishgs commented on #604
fixed.

[2017-03-06 08:47] #604 closed

[2017-03-06 13:15] #1028 closed

[2017-03-06 16:17] JesseCCSI commented on #996
Just flagging that we are presenting OLC at a series of events during the week of March 20, so if all clipping improvements could be deployed/ tested by then, that would be great.

[2017-03-07 06:02] manishgs commented on #985
@SamCCSI

Categories  have been showing under headings on Admin which is not mentioned on google sheet.

![screenshot-admin resourcecontracts org 2017-03-07 11-32-37](https://cloud.githubusercontent.com/assets/3942999/23643427/cd3c3510-0329-11e7-9ecf-7c21516fa332.png)

I have added new sheet "All" in the google sheet which contains all the categories and headings which we are using on our code-lis

[2017-03-07 19:26] SamCCSI commented on #985
Thanks @manishgs

We want to get rid of the current headings, which is why hey were not added to the codelist.

On the existing pages (for RC and OLC), the red text fields should be the headings now, to make it consistent with the front end.

Example:
First heading is called 'General'

![image](https://cloud.githubusercontent.com/assets/12913915/23673880/e573583a-0341-11e7-827e-3bbe2112b815.png)

[2017-03-08 14:18] charlesyoung commented on #1054
@manishgs what is the status re this ticket?

[2017-03-08 14:21] charlesyoung commented on #259
@manishgs @SamCCSI how do we progress this ticket?

[2017-03-08 14:23] charlesyoung commented on #1015
@anjesh is this already on the staging site so that we can test?

[2017-03-08 14:26] charlesyoung commented on #984
@SamCCSI @jedm @KaitlinCCSI, any comments?

[2017-03-08 14:28] charlesyoung commented on #22
@jedm just checking if you have had time to look at this ticket?

[2017-03-08 15:52] SamCCSI commented on #984
This appears to be resolved.

This appears to be resolved.

This might still be outstanding? cc @jedm @manishgs

[2017-03-09 04:11] manishgs commented on #984
@SamCCSI @KaitlinCCSI
Could you please suggest text message to indicate users have option to download pdf file when user in slow bandwidth?

[2017-03-09 04:12] manishgs commented on #1015
We are working on this feature. We'll update on staging soon.

[2017-03-09 04:25] jedm commented on #984
1) Here is a draft suggested text for the slow-connection message. Feel free to revise:

"If your internet connection is slow, or the view below is not loading, please try downloading this document as a PDF using the the download button [gif] to the right."

2) For the "Loading" message in middle of PDF view pane, please remove the yellow background color.

The request for the yellow color was mad

[2017-03-09 05:38] charlesyoung opened #1058 "Add the DRC site to the bottom of RC home page"
Please add the DRC country [site ](https://www.mines-rdc.cd/resourcecontracts/)to the bottom of RC home page.

[2017-03-09 05:58] charlesyoung commented on #259
@manishgs as noted 150 is suitable so can we implement.

cc @SamCCSI

[2017-03-09 06:48] jedm commented on #22
@charlesyoung and @manishgs - I have updated the Clippings tab of YI's spreadsheet with new text for hovers and a few revisions to old text. Please see next comment for related questions about Clips functions and UX/UI.

[2017-03-09 07:01] jedm commented on #22
Questions/requests re Clips features/UI:

1. In any Contract page, if user has selected ALL CLIPS in left column, the link that says “Clip All” at top of left (Annotation) column should change to “Clear All” not “Clip All”

2. In All Clips page, link that says “Clear All Clips” should be changed from:
**[black clip icon] Clear All Clips**
to
**Clear All [orange clip icon] [checkmark]**
This will m

[2017-03-09 12:05] manishgs commented on #704
Search Result text updated on live.

[2017-03-09 12:07] manishgs commented on #996
@SamCCSI @jedm @JesseCCSI @charlesyoung
Clipping bug fixes and improvements updated on live. Please review once and let us know your comment.

[2017-03-09 12:11] manishgs commented on #1058
DRC Image added in Country Partners section.

[2017-03-09 12:11] #1058 closed

[2017-03-09 12:14] manishgs commented on #1054
@SamCCSI @charlesyoung
Please check again we have fixed on production.

[2017-03-09 12:47] charlesyoung commented on #1054
Works for me.

Just two minor things.

There seems to be a difference on how the text of the associated documents is noted.

The associated document text for this [contract](http://resourcecontracts.org/contract/ocds-591adf-0858102407/view#/) is aligned correctly and is in bold

The associated document text for this [contract ](http://resourcecontracts.org/contract/ocds-591adf-4460143117/view#/pdf

[2017-03-09 13:13] SamCCSI commented on #1054
Working for me, thanks.

@charlesyoung Bold means main doc and unbold and more narrow allignment means it is an associated doc.

E.g. In the screenshot, the first doc is main, the rest are associated.

![image](https://cloud.githubusercontent.com/assets/12913915/23751599/13637f72-04a0-11e7-9515-ded041e13bae.png)

[2017-03-09 13:13] #1054 closed

[2017-03-09 13:28] SamCCSI commented on #704
@jedm 's suggestion has not been implemented.

[2017-03-09 15:27] manishgs commented on #704
Text is searching on entire document but we are displaying hits per page so we are using the word "and X more matches on this page" rather than "and X more matches in this document".

[2017-03-09 15:43] SamCCSI commented on #704
Thanks @manishgs

I think it would be better if the "and X more matches..." text starts on a new line, so that it is recognizable by users. Right now it belnds into the surround text.

@jedm any other thoughts on how this is presented? E.g. right now the X other matches can't be identified by clicking on that line of text. It just informs us that there are other matches. Maybe that's fine but inte

[2017-03-10 05:20] jedm commented on #704
I would like to experiment with this a little more before making a
suggestion. It is a bit confusing to split matches-shown and total-matched
so completely. Probably solvable with language, however.
On Thu, Mar 9, 2017 at 7:43 AM SamCCSI <notifications@github.com> wrote:

[2017-03-10 05:24] jedm commented on #996
Please see my new comments here in Issue #22 (a nice low number - brings
back memories!):

https://github.com/NRGI/resourcecontracts.org/issues/22#issuecomment-285271870

On Thu, Mar 9, 2017 at 4:07 AM Manish Gopal Singh <notifications@github.com>
wrote:

[2017-03-10 08:28] JesseCCSI commented on #996
Many thanks @manishgs I will add comments before Monday.

[2017-03-10 09:17] manishgs commented on #984
@jedm @SamCCSI
1. text updated.
![screenshot-staging resourcecontracts org 2017-03-10 14-38-30](https://cloud.githubusercontent.com/assets/3942999/23789301/59b2aa4a-05a2-11e7-8ffe-6bc4a9886945.png)

2. fixed

[2017-03-10 10:31] jedm commented on #984
My understanding was this text only appears if a slow connection is
detected or if the image fails to appear after a certain time. Is that
correct.

The example is confusing because it shows the slow-connection message
beneath the OCR message and I do not think we would want this and I cannot
immediate imagine the UX sequence that would create it.
On Fri, Mar 10, 2017 at 1:17 AM Manish Gopal Singh

[2017-03-11 11:42] JesseCCSI commented on #991
Please go ahead and set up this demo site (as discussed offline). For the moment, the URL can be drc.openlandcontracts.org. For the demo site, we can start with the DRC docs that are already available on OLC (http://openlandcontracts.org/countries/cd).

Prior to proceeding, could YI please confirm that the URL can be changed at a later date if needed (e.g. changed to rdc.openlandcontracts.org rath

[2017-03-11 12:42] JesseCCSI commented on #996
Thanks again @manishgs my comments as follows:

1. In terms of clipping individual search results, I had imagined that a check box or clip icon would appear on the very left of the search result, allowing you to clip each individual search result. In its current position, the clip icon gets lost in the rest of the text.

2. We also need a "clip all" option for search results, as many users will wa

[2017-03-13 04:30] manishgs commented on #996
3. yes, These icons have different actions, one for clipping all annotations of contract and another is for clipping specific annotation found from search.
@SamCCSI @jedm @KaitlinCCSI
Let us know your thought to remove the option to clip all annotations in a particular contract from the search results page

[2017-03-13 04:54] manishgs commented on #996
3. Yes, These icons have different actions, one for clipping all annotations of contract and another is for clipping specific annotation.

@SamCCSI @jedm @KaitlinCCSI
Let us know your thought on removing the option to clip all annotations in a particular contract from the search results page

4. Yes, The popup only contains detail for selected annotation and pdf file so that user can quickly compa

[2017-03-13 13:20] JesseCCSI commented on #996
Many thanks @manshigs. Defer to the rest of the teams on point 3 regarding the different actions.

Re point no. 4: I think it makes sense for the popup to only contain detail for selected annotation and pdf files, but am just curious as to why page 9 appears in the popup (where arts. 25-30 are listed), rather than page 3 (where the first relevant article for the annotation - art. 7 - is listed) an

[2017-03-13 14:06] jedm commented on #980
@kaitlinccsi @anderspeders Hello. Before I add last suggestions on clippings for search results I am tracking the origin of this request. My recollection is that clipping was removed from all pages unrelated to annotations to avoid complications in UX and clarity of use cases. Do you or @manishgs @Anjesh recall how request resurfaced?

[2017-03-13 16:31] jedm commented on #980
See also comment here: https://github.com/NRGI/resourcecontracts.org/issues/893#issuecomment-223736128 Clippings was NOT planned for non-Contract pages as of June 2016. Did we reverse this request? And if so when?

[2017-03-14 04:16] manishgs commented on #980
@jedm
Yes, Clipping was not planned to add clip button on search result during initial phase. We've issue #1022 to add clip button on search result so we've addressed this feature on #996 clipping improvement issue.

[2017-03-14 05:11] jedm commented on #980
Thank you @manishgs. My question was about how and why the requirement was brought back after we decided not to have it.

Separate question: if we do have this feature, what does it do when you clip a contract instead of an individual Annotation?

@anderspeders @kaitlinccsi if you can provide any context on origin of latest request that may help us clarify.

[2017-03-14 06:09] jedm commented on #1022
@anderspeders Yes, I believe that together the full group decided not to include Clipping on/off switch on Search results pages. Specifically, we decided that you can only turn on Clipping and select Clips from the Contract View/Summary pages because those are the only pages that display individual Annotations. A search results page displays a combination of full contracts and single annotations,

[2017-03-14 07:26] anjesh commented on #1022
We have shared this feature during demo as well, but we didn't get any feedback so thought this is part of the overall clipping improvement. We will hide this on search page for now till we hear back from the group on whether to re-enable this or not.

[2017-03-14 08:10] manishgs commented on #991
@JesseCCSI  URL can be changed later but we need to ask Vitamin to update subdomain.

Do we need to set it up on openlandcontracts.com (drc.openlandcontracts.com) too?

[2017-03-14 09:52] manishgs commented on #985
Annotation categories updated in checklist section. Please review on [staging](http://admin-staging.resourcecontracts.org/contract/173/annotate)

[2017-03-14 12:46] SamCCSI commented on #985
@manishgs this looks great. Please deploy.

[2017-03-14 13:13] JesseCCSI commented on #1043
Please go ahead and set up this demo site (as discussed offline). Please see the Country Subsite Details Google Doc for details (URL etc.).

Many thanks.

(cc @charlesyoung @KaitlinCCSI)

[2017-03-14 13:14] JesseCCSI commented on #991
Thanks @manishgs - just to clarify, do you mean setting up on openlandcontracts.com so that it re-directs to the .org site? If so, does that take much additional time?

[2017-03-15 03:40] manishgs commented on #991
Currently openlandcontracts.com is redirected to openlandcontracts.org. In a same way, Do you want to redirect drc.openlandcontracts.com to drc.openlandcontracts.org too?

[2017-03-15 05:02] manishgs commented on #985
Deployed on production.

[2017-03-15 05:02] #985 closed

[2017-03-15 11:53] manishgs commented on #996
@JesseCCSI
Now showing all the article references of a annotation category. Could you please check in the [staging](http://staging.resourcecontracts.org/clip)

![screenshot-localhost-8001 2017-03-15 17-32-32](https://cloud.githubusercontent.com/assets/3942999/23947283/2ee16d1c-09a6-11e7-871f-78ec3c27d729.png)

[2017-03-15 12:01] manishgs commented on #704
@jedm @SamCCSI
We can change the color of the 'and X more matches...' text like shown in the screen. Let us know what do you think.

![screenshot-localhost-8001 2017-03-15 17-32-32](https://cloud.githubusercontent.com/assets/3942999/23947392/b2804bca-09a6-11e7-9354-4ae4428ba0b7.png)

[2017-03-15 12:32] manishgs commented on #984
@jedm

detected or if the image fails to appear after a certain time. Is that
correct.

Yes, This message only appears when user is in slow connection.

Please review the design for the message and let us know your feedback.

![screenshot-s3-ap-southeast-1 amazonaws com 2017-03-15 18-10-38](https://cloud.githubusercontent.com/assets/3942999/23948382/e2f503dc-09aa-11e7-8ed9-b96a1c726d2d.png)

[2017-03-15 12:41] JesseCCSI commented on #996
Thanks @manishgs looks like it's working well.

[2017-03-15 12:42] JesseCCSI commented on #991
Yes, thanks @manishgs

[2017-03-15 12:54] jedm commented on #984
@manishgs, The example is confusing because it shows the slow-connection message beneath the OCR message and I do not think we would want this and I cannot imagine the UX sequence that would create it. Wouldn't this message only appear on the PDF view, not the text view?

Also please make the message color yellow not blue.

[2017-03-16 05:17] manishgs commented on #991
DRC OLC subsite is now live.  drc.openlandcontracts.com / drc.openlandcontracts.org

[2017-03-16 08:11] charlesyoung commented on #704
@jedm @SamCCSI any comments?

[2017-03-16 08:15] charlesyoung commented on #991
@manishgs the DRC site is an OLC and not RC site so all reference to RC needs to be replaced with OLC. Also I don't think we will need Arabic on this site.

@JesseCCSI do you have a suitable image that we could use for the home page background?

[2017-03-16 11:05] manishgs commented on #984
If slow connection is detected then user redirect to Text View instead of PDF view so message will only appear on Text View.

@jedm Do you want to display this message on PDF view too?

[2017-03-16 11:29] JesseCCSI commented on #991
Thanks @manishgs is this site public already? We just want to launch a demo site for now that isn't public.

@charlesyoung thanks - will provide an image asap this week.

[2017-03-16 11:30] JesseCCSI commented on #1043
Please note that this site should not be made public - please launch as a demo site.

[2017-03-16 11:45] manishgs commented on #991
@JesseCCSI
Yes, it is public, anyone can view drc.openlandcontracts.org.  Do you want to setup drc-staging.openlandcontracts.org for demo purpose?

Please review the static page content and let us know any changes needed.

[2017-03-16 12:41] manishgs commented on #1015
Please review annotation localization workflow on admin site.

You can choose language from dropdown in annotation popup.
![screenshot-admin-staging resourcecontracts org 2017-03-16 18-20-47](https://cloud.githubusercontent.com/assets/3942999/23996448/842338ee-0a75-11e7-806b-101d42ae499b.png)

You can view and update annotation text and article ref. in difference language from contract view.
![scr

[2017-03-16 12:45] manishgs commented on #991
Please view the DRC demo site on this url http://staging.drc.openlandcontracts.org/

[2017-03-16 12:47] charlesyoung commented on #1015
Just to note that its on the admin [staging ](http://admin-staging.resourcecontracts.org)site.

[2017-03-16 13:08] JesseCCSI commented on #991
Thanks @manishgs for setting up the demo site. A few initial comments:

1. This is an OLC subsite, so references to RC should be removed. Format of references should follow the OLC format, e.g. use term "online repository" rather than "directory" of contracts on homepage and elsewhere.
2. The logo footer on the About, etc. pages should follow the OLC not RC format. Screenshot:

![image](https://cl

[2017-03-17 07:39] charlesyoung commented on #704
@jedm any feedback?

[2017-03-17 07:39] charlesyoung commented on #984
@jedm any feedback?

[2017-03-17 14:17] jedm commented on #984
Suggestion: if the slow connection warning is related to user attempt to view PDF not text view, then the behavior should be:

- slow connection detected
- PDF load stopped
- PDF view pane displays empty pane with slow connection message
- message suggests switch to text view (with link) or download of PDF

This makes more sense than automatically displaying text view with two messages, which I th

[2017-03-17 15:31] KaitlinCCSI commented on #984
If it's possible to have these actions arising ONLY when user attempts to view PDF (not text view) in slow environment (which presumably is every user in a slow environment, since PDF is default?), then I would suggest:

- slow connection detected
- PDF load stopped
- PDF view pane displays empty pane with "Connection slow. Loading text view ..." message as discussed above WHILE text view is loadi

[2017-03-17 15:40] KaitlinCCSI commented on #1022
Agree with @jedm - let's please go with 2016 group decision of NOT enabling clipping button on Search pages. (If I'm remembering correctly, I think decision was partly b/c we decided that clipping was for annotations and not for saving full contracts, and all search results can be saved by just downloading the CSV files, so the clipping functionality didn't add much to this page.)

[2017-03-17 16:07] JesseCCSI commented on #996
Just flagging re point no. 3 above on different actions that I think it's fine to keep both, so no need to amend for now. Thanks. (cc @manishgs)

[2017-03-17 16:14] KaitlinCCSI commented on #1022
Sorry to reverse my stance so quickly, but have been persuaded that we might need to revisit this. Think we should take convo offline to quickly discuss whether it is possible to have clips on search results page that would allow clipping specific annotations searched? If not, seems like there is no way for a  user to efficiently search for, and then work inside clipping functionality with, annota

[2017-03-20 11:28] anjesh commented on #984
Auto-switching to text view from pdf view takes place when the pdf view takes time to load for the benefit of the users in slow bandwidth environment, instead of making them wait. In that case, the user sees this message, while the content is being loaded in the background.

```Connection slow. Loading text view ...```

![image](https://cloud.githubusercontent.com/assets/120488/24097060/658fbbb8-0

[2017-03-20 12:58] manishgs commented on #1015
Please review on [Frontend](http://staging.resourcecontracts.org/search?q=french) and let us know your feedback.

[2017-03-20 13:00] manishgs commented on #991
Changes have been made. Please review again.

[2017-03-20 13:05] KaitlinCCSI commented on #984
Thanks, Anjesh. Sorry for the confusion. Can we keep process as is but just
switch message to:
"You've been redirected to text view because of a slow internet connection.
The PDF document is available to download using button [with image] to the
right."

On Mon, Mar 20, 2017 at 6:28 AM Anjesh <notifications@github.com> wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and AgricultureLead: Human Rights

[2017-03-20 13:09] jedm commented on #984
It needs to say "the button to the right" not "button to the right"

If it is possible to have this message above the OCR message that is preferable to below.

I recommend all system messages be in same yellow color and not adding  a new blue color.

Thanks!

[2017-03-20 20:22] jedm commented on #704
My recommendations below and in jpg illustration. Thanks.

1) Change “Search result” to “Search results”

2) Add two lines below “Search results” message:
    “**X** matches in document”
    “**Y** matches on current page”
— text shoud be black like the line above it
— make numbers boldface
— second number changes dynamically based on page shown in viewer

3) “and X more matches” language is good,

[2017-03-20 20:28] jedm opened #1059 "Toolbar fixes"
1) When user switches between PDF and TXT view, Toolbar icon must switch to bold to show which view is live.

2) Per previous requests, please make clip icon same weight as Share and Download icons. (See https://github.com/NRGI/resourcecontracts.org/issues/893#issuecomment-255961987)

![screen shot 2017-03-20 at 1 23 51 pm](https://cloud.githubusercontent.com/assets/2153664/24120227/1106ec4e-0d71-

[2017-03-21 00:34] jedm commented on #1022
Yes, the Clips button should not be on the Toolbar anywhere except Contract View/Summary pages until we resolve this. Especially on live site.

I will return to the many notes we have on this idea from last year and try to circulate some thoughts this week.

@charlesyoung, if we end up doing a phone call would suggest Anjesh also could join to discuss capabilities.

[2017-03-21 04:55] manishgs commented on #896
Tested on both chrome and safari in iPhone 4, 6. It is working for me.
Could you please test again zooming out to 25%?

![17391982_10210662498972885_838693122_n](https://cloud.githubusercontent.com/assets/3942999/24132779/11d21234-0e20-11e7-9d4e-f7b25a66d698.jpg)

Nexus 5
![0-02-06-71f525bf0e2f85209632cd4ffc0008e59ce0b0066dbb374c2f639df61c519edf_full](https://cloud.githubusercontent.com/assets/394

[2017-03-21 14:42] manishgs commented on #704
@jedm Thank you for you feedback.

Search result also shows the annotation text. so we have also added annotation matches. Please review the below mockup and let me know your feedback.

![screenshot- 2017-03-21 20-22-44](https://cloud.githubusercontent.com/assets/3942999/24152617/438feeaa-0e74-11e7-9161-5d3da883ab09.png)

[2017-03-21 14:56] manishgs commented on #984
Please review on staging.
![screenshot-staging resourcecontracts org 2017-03-21 20-33-09](https://cloud.githubusercontent.com/assets/3942999/24153136/b6b4eb82-0e75-11e7-9f6c-618844df8ba2.png)

[2017-03-21 15:02] manishgs commented on #996
@JesseCCSI
Please review point no. 5 and 6 on [staging](http://staging.resourcecontracts.org/clip)

[2017-03-21 22:35] jedm commented on #704
Hi, @manishgs - This not advised. I would use the phrasing suggested previously:

“X matches in document”
“Y matches on current page”

To further clarify:
- User made their search "in document" so it will be confusing to make distinction between "document" and "annotation" in display at top of column.
- The matches "on current page" means the number of matches on PAGE CURRENTLY DISPLAYED IN VIEWER

[2017-03-22 07:36] charlesyoung commented on #1015
@SamCCSI @JesseCCSI will you have time this week to review the annotation localization workflow?

[2017-03-22 17:52] SamCCSI commented on #1015
Backend:
1. If you set the language to French or Arabic, the drop down for annotation categories should appear in that language, not in english.

2. If the contract metadata language is French or Arabic, then can we make it so that the annotation language is automatically set to the right language as well?

Frontend
- seems to be working well.
- Only problem is that you can only set the language o

[2017-03-22 18:03] SamCCSI commented on #896
Finger zooming does not zoom the PDF: it zooms the whole page, which isn't helpful. Makes it look like this:
![image](https://cloud.githubusercontent.com/assets/12913915/24213248/2e0f4a14-0f08-11e7-9e41-eef2d6468a18.png)

We need it so that finger zooming on the PDF only affects the zoom of the PDF display rather than the whole webpage.

[2017-03-22 18:31] jedm commented on #984
Looks right. Is the full download icon showing? The bottom is cut off in
the sample.

On Tue, Mar 21, 2017 at 7:56 AM Manish Gopal Singh <notifications@github.com>
wrote:

[2017-03-23 07:31] anjesh commented on #1043
There's no contract for the given country. Can we make sure that there's atleast one to deploy?

[2017-03-23 08:20] charlesyoung commented on #1043
@anjesh we can upload a test / demo doc but it will have to be on the staging site.

cc @JesseCCSI

[2017-03-23 10:08] charlesyoung opened #1060 "Partner logo"
@anjesh can you please add the OpenOil logo I sent you to the RC [staging ](http://staging.resourcecontracts.org/)site. The logo should appear under 'Partners' and be placed to the right of the World Bank logo.

[2017-03-23 10:29] charlesyoung commented on #996
@JesseCCSI apologies as I realise that you are at a conference this week but could you look at this ticket when you have time because we have to close all tickets by next Friday due to the closing of the S19 development budget cycle. Thanks

[2017-03-23 10:29] charlesyoung commented on #991
@JesseCCSI apologies as I realise that you are at a conference this week but could you look at this ticket when you have time because we have to close all tickets by next Friday due to the closing of the S19 development budget cycle. Thanks

[2017-03-23 10:40] charlesyoung commented on #984
@jedm can we move any additional requirements, besides what you noted above, to a new ticket because all S19 tickets have to be done by next Friday to align with the closing of this dev budget cycle.

[2017-03-23 11:43] charlesyoung commented on #896
@SamCCSI can we move additional requirements, besides any critical items, to a new ticket because all S19 tickets have to be done by next Friday to align with the closing of this dev budget cycle.

[2017-03-23 12:25] manishgs commented on #1015
Backend:
1. fixed.
2. fixed.

Frontend

The language switcher is located at buttom of the page for inner pages. You don't need to go to home page for switching language.

@SamCCSI
Let us know if you found any issue.

[2017-03-23 15:10] JesseCCSI commented on #1043
Thanks @charlesyoung @anjesh I meant to upload a test doc at the weekend - I can do so tonight, unless you plan to upload one? Apologies for delay.

[2017-03-23 21:42] jedm commented on #984
Nothing additional required as far as I can tell.

[2017-03-24 01:08] JesseCCSI commented on #996
Thanks @manshigs this is working nicely!

cc @charlesyoung

[2017-03-24 01:23] JesseCCSI commented on #991
Many thanks @manishgs. A few points:

1. I know the name had been changed to Democratic Republic of the Congo, as I looked at the site a couple of days ago and it had been changed, but today it seems to have reverted to "Congo, the Democratic Republic of the" - not sure why this happened? Cleared my cache and was still having the same issue (screenshot below).

![image](https://cloud.githubusercon

[2017-03-24 06:09] charlesyoung commented on #984
Thanks @jedm

@manishgs can you please look at the comment re the download icon so that we can close this ticket?

[2017-03-24 06:12] charlesyoung commented on #996
Thanks @JesseCCSI. Can we close this ticket?

cc @jedm

[2017-03-24 06:22] jedm commented on #996
For **All Clips** page, if @charlesyoung and @anjesh approve the restored Select box in the left column, then I recommend:
1) remove trash icon in right column
2) change header for right column back to "VIEW"

I recommend the rest of the ideas in items 2, 3 and 5 be put on hold until next sprint because discussion of connection between Search and Clips is not concluded among the group.

[2017-03-24 07:22] manishgs commented on #984
The download button was cut off. Now it's fixed.
Deployed to production.

[2017-03-24 07:22] #984 closed

[2017-03-24 12:59] charlesyoung commented on #896
Closing this ticket but will create a new ticket for additional mobile issues.

[2017-03-24 12:59] #896 closed

[2017-03-24 13:00] charlesyoung opened #1061 "Mobile design"
Address any outstanding issues noted in #896

[2017-03-24 13:00] charlesyoung commented on #896
Link to 'Mobile design #1061'

[2017-03-24 13:02] JesseCCSI commented on #996
Many thanks @charlesyoung @jedm I'll send thoughts back on clipping this afternoon. If we can keep this ticket open for now, that would be helpful.

[2017-03-24 14:48] manishgs commented on #1060
Logo is added in RC site.

[2017-03-24 15:03] manishgs commented on #991
@JesseCCSI
Changes had been done and was deployed 4 days ago but DRC change was not deployed at the time when you are reviewing the site. Sorry for the confusion. Now you can see the changes on DRC staging site. Let us know if there are any changes that need to be done.

[2017-03-24 15:05] manishgs commented on #1043
@charlesyoung @JesseCCSI
I've updated staging site url on google doc. Please review the site and let know your comments.

[2017-03-27 05:21] manishgs commented on #22
@jedm

1. fixed.
2. fixed.
3 & 4. PDF renamed to Zip which will download PDF bundle and xls file
5. fixed
6. fixed
7 & 8.  We've removed the trash icon as individual annotation can be removed by using select checkbox.
9. action column renamed to view.
10. fixed.

[2017-03-27 05:50] charlesyoung commented on #1060
Thanks @manishgs

I will close the ticket once we get the green light to update the prod site.

[2017-03-27 08:15] charlesyoung commented on #22
Thanks @manishgs

@jedm can we close this ticket and create a new one for additional requirements?

[2017-03-27 10:27] charlesyoung commented on #991
@JesseCCSI can we close this ticket?

[2017-03-27 10:28] charlesyoung commented on #704
@manishgs have you had time to look at above comments?

[2017-03-27 10:30] charlesyoung commented on #1015
@SamCCSI you happy with the updates?

[2017-03-27 12:26] JesseCCSI commented on #932
Hi all - it looks like free text searches aren't picking up annotation titles (as requested above) - not sure if this is a bug, or if changes discussed above haven't been fully deployed?

See e.g. screenshot below - that contract has a "stabilization" annotation, but searching for "stabilization" gives 0 results.

![image](https://cloud.githubusercontent.com/assets/14910764/24356193/f9def510-12c6-

[2017-03-27 12:35] JesseCCSI commented on #991
Thanks @manishgs and @charlesyoung all looks good.

One quick question - the original photo looks brighter than the version on the site (assume it's to do with the filter applied on top). Is it possible to brighten the photo?

Other than that, we can close this ticket. We can leave as a demo site for now, so please don't deploy the live version. Many thanks.

[2017-03-27 12:37] SamCCSI commented on #1015
Yes looks good. I couldn't find a French language contract to test 2 above (all were still in processing mode) but I think we can roll this out now and report back if any issues.

[2017-03-27 12:41] charlesyoung commented on #1015
Thanks @SamCCSI

@manishgs can you please deploy on the prod site?

We will close this ticket once deployed and create a new one to note any issues.

[2017-03-27 12:52] JesseCCSI commented on #1043
Many thanks @manishgs @charlesyoung  just sent an email to you (copying Charles) with comments. After these comments have been addressed, we can close this ticket for now (leaving the site in demo site mode).

[2017-03-27 18:54] jedm commented on #22
Before we close, please:

- change Clip icon in main toolbar to BLUE not ORANGE when Clipping is on (see attached)

- confirm that hover requests in Google spreadsheet have NOT been implemented. If YI has implemented these, then please confirm because some are not correct.

Thanks.
![screen shot 2017-03-27 at 11 41 57 am](https://cloud.githubusercontent.com/assets/2153664/24372811/0f41710e-12e4-11

[2017-03-28 07:01] charlesyoung commented on #991
@JesseCCSI I'm going to close this ticket and we can always look at sharpening the photo later. We are under pressure to finish all open tickets by Friday.

[2017-03-28 07:01] #991 closed

[2017-03-28 10:20] charlesyoung commented on #996
@JesseCCSI just checking if you have any further input on this ticket.

[2017-03-28 11:20] manishgs commented on #991
We've brighten the photo but still have 10% black overlay.

[2017-03-28 11:22] manishgs commented on #1043
Text and background image updated.

[2017-03-28 11:27] manishgs commented on #22
change Clip icon in main toolbar to BLUE not ORANGE when Clipping is on (see attached)
- fixed and deployed on live

confirm that hover requests in Google spreadsheet have NOT been implemented. If YI has implemented these, then please confirm because some are not correct.
- We haven't implemented hover text so We'll address this feature in coming sprint.

[2017-03-28 11:29] manishgs commented on #996
We've deployed following comments on production.

Point no. 4,5, 6 of @JesseCCSI 's comments.

[#22 comment](https://github.com/NRGI/resourcecontracts.org/issues/22#issuecomment-285271870)

Please open new ticket if you have any issue regarding clipping feature.

[2017-03-28 11:46] JesseCCSI commented on #996
Sorry for delay - we have been discussing internally. I will send comments this morning. Re-opening for now.

[2017-03-28 11:47] JesseCCSI commented on #1043
Thanks @manishgs looks like the CCSI logo disappeared from the footer?

[2017-03-29 10:54] manishgs commented on #1043
Yes the logo was removed on staging, Now showing CSSI logo on the footer.

[2017-03-29 10:55] manishgs commented on #1015
Deployed to production.

[2017-03-29 10:55] #1015 closed

[2017-03-29 11:05] charlesyoung commented on #259
@manishgs just confirming that this tickets development work is done and all that remains will be to convert the documents to images.

[2017-03-29 11:48] manishgs commented on #1034
fixed and deployed to production.

[2017-03-29 11:48] #1034 closed

[2017-03-29 11:48] manishgs commented on #1059
fixed.

[2017-03-29 11:48] #1059 closed

[2017-03-29 11:49] manishgs commented on #704
@jedm Your suggestions have been implemented. Please review on production and let us know your comment.

[2017-03-29 13:58] jedm commented on #704
Hi @manishgs it does not seem to be functioning right. See attached example where matches are found but totals are blank.

Other errors:

- English syntax is incorrect. It should be "0 matches in document" (with "es")
- System messages should be in the same form, i.e.: "0 matches in document" "0 matches in current page"
- Remove period at end of phrases
- Reduce vertical space between first messag

[2017-03-29 16:50] JesseCCSI commented on #1043
Thanks @manishgs just two quick things: (1) the issue I flagged re "Voir par Resource" hasn't been addressed - I think this applies to all French sites, i.e. should be "Voir par Ressource"; (2) there's something strange going on with the name of the site in the box and along the top of the header when the site is in FR mode - the name of the country repeats itself.

[2017-03-30 12:07] SamCCSI commented on #723
OCDS have now provided some guidance on this issue, though it remains not entirely resolved.

The solution we would like YI to implement is:

- for early termination of a contract: backend metadata field: **contract.statusDetails** | entry for that field: earlyTermination | front-end text: "This agreement may have been terminated."
- for expiration of contract at end of term: metadata field: **con

[2017-03-30 14:33] charlesyoung commented on #723
Many thanks @SamCCSI

We can look at the details once we have a better understanding of the development budget for 2017.

[2017-03-30 15:20] manishgs commented on #1043
1. Fixed
2. Fixed. On mobile view, we have change the country name to short name.

[2017-03-30 15:23] #1043 closed

[2017-03-30 15:44] manishgs commented on #704
We are using fuzzy logic for text search that's why total matches doesn't give the exact count for the searched query but we are working on this issue. We've few things to confirm.

1. The search functionality also search for annotations text. Currently the total count is showing only for pdf text matches, annotation text matches not included while calculating the total matches.

2. If search resu

[2017-03-30 16:40] jedm commented on #704
@anjesh can you help us clarify this? I am not sure I fully understand.

[2017-03-30 17:28] JesseCCSI commented on #996
Given offline discussions and due to need to close all tkts by tomorrow (March 31), we will postpone addressing the issue of clipping on the search results page until a later date and prioritize improvements at that time.  Points 1, 2, 3 in my comment above from March 11 can thus be discussed/ addressed at a later date.

(cc @charlesyoung @jedm @KaitlinCCSI)

[2017-03-30 17:29] JesseCCSI commented on #1022
See comment in #996

[2017-03-30 17:34] charlesyoung commented on #996
Thanks @JesseCCSI

Changing milestone to unscheduled but labeling as priority.

[2017-03-31 05:18] anjesh commented on #704
Lets say contract has 8 instances of dispute and its annotations has 2 instances of dispute. When you search for dispute, you will see the following now.
[code]
Now the problem is it doesn't include annotations matches.  As you have suggested, the annotation count is not added.

Question 1: do we add annotation count in the above message. If we don't and if "dispute" is found in annotations but no

[2017-03-31 05:37] jedm commented on #704
Thanks for the clarifications! Two replies:

Please use second option - so total matches "in document" will actually include in text and in annotation.

The message should not be hidden. The message should be displayed until the user clicks the red X or clicks away from the document. Is this possible?

[2017-03-31 05:56] manishgs commented on #704
If we are not hiding the message then when user click on annotation result the count will include only the matches found in the current annotation as follow.
[code]
but for text view it will show the total number of matches found in current text as before as shown below.

[code]

[2017-03-31 06:07] jedm commented on #704
No. The message stating total matches on page should always display the total number matches on current page in viewer, INCLUSIVE of text and annotations/PDF.

Message stating total matches on page should NOT change if user switches between text and PDF view of same page.

Message with number of total matches on page should change ONLY when user moves to DIFFERENT PAGE.

Is this behavior possible?

[2017-03-31 06:18] manishgs commented on #704
Yes, its possible. So if page 1 has 4 matches in Text and it has 3 annotations with 2 matches in each annotation, the total count will be 10 (4+3*2) and the message will be same if user switch between text and PDF of page as below

``` 10  matches in current page.```

[2017-03-31 13:37] jedm commented on #704
Yes. Because the left column will show all matches in document and icons will distinguish between text matches and annotation matches I think that will be most clear to users. Thank you!

[2017-03-31 14:28] manishgs commented on #259
Please review the scrolling pdf on [staging](http://staging.resourcecontracts.org/contract/ocds-591adf-6516161736/view#/pdf). There are still some known issues (like zooming)  We'll work to fix these issues.
I've ran the command to generate gif from pdfs which is still running so may see loading..  message on pdf view.

[2017-03-31 14:31] charlesyoung commented on #932
@manishgs will you be able to look at this ticket today?

[2017-03-31 15:44] KaitlinCCSI opened #1062 "specific URLs to support sharing of specific annotations"
It's possible to get specific URLs for a specific annotation of a specific contract when you use the advanced search functionality. See eg this link:
http://openlandcontracts.org/contract/ocds-591adf-5399370669/view#/pdf/page/66/annotation/6993

However, if you're looking at the contract itself (eg http://openlandcontracts.org/contract/ocds-591adf-5399370669/view#/pdf) and come across an annotatio

[2017-03-31 15:48] KaitlinCCSI commented on #996
FYI clips doesn't always turn on for me. Just tried to turn it on from this page http://openlandcontracts.org/contract/ocds-591adf-5399370669/view#/pdf/page/66/annotation/6993 (which was accessed through link next to annotation on Advanced Search page) and turning it does nothing except making it blue -- there are no clip icons next to annotations. I can get the clip icons if I access the same con

[2017-04-03 15:11] manishgs commented on #704
@jedm Please review on [live](http://resourcecontracts.org/contract/ocds-591adf-3757991515/view#/search/participations).

[2017-04-03 21:48] jedm commented on #704
@manishgs - I suggest deleting the extra line break between the two totals (document and page)

Also please say "on page" not "in page"

Other comments and functionality problems discovered to come Tuesday/Wednesday

Thank you

[2017-04-05 12:07] charlesyoung opened #1063 "Cannot review contract text"
Get a blank page when clicking on the 'Review Contract Text' button.

[Example](http://admin.resourcecontracts.org/contract/2575)

[2017-04-06 15:07] SamCCSI commented on #259
@manishgs the scrolling itself is working nicely. I found some bugs with other functionality though.

**Bug 1** : When I click on the annotation reference hyperlink in the left column, it transports me to the correct page, but then scrolls back up several pages.

E.g. Click on Art. 5 in "Work and Investment Commitments" -- it takes me to correct page but then automatically scrolls back up to page

[2017-04-08 15:49] manishgs commented on #1063
fixed.

[2017-04-08 15:49] #1063 closed

[2017-04-08 20:52] jedm commented on #1062
When I try these steps (at least, I think I'm trying the same steps!), I
click on an annotation in Advanced Search results and it takes me from the
results directly to that Annotation, with the Annotation URL in the browser
window, ie,:

searching here:
http://openlandcontracts.org/search?q=assign

yields a match in Annotation as second result first contract shown (Salala
Rubber 1959)

then click

[2017-04-08 21:56] jedm commented on #704
Final comments on display, performance, bugs:

1) When you search in single contract, matches in text show page number in results list, but matches in Annotation/PDF do not show page number - see first image below

2) Number of current page matches listed in results does not always match the number shown in results column below it. Please research if this is because of additional matches in Annota

[2017-04-10 06:29] charlesyoung opened #1064 "Admin site down"
@iprunache can you please take a look at the [backend ](http://resourcecontracts.elasticbeanstalk.com/contract) site because its down. Should we not get a notification when the sites go down?

![image](https://cloud.githubusercontent.com/assets/13888372/24848586/b7a3525c-1dc7-11e7-98ee-b7a692c1caa8.png)

[2017-04-10 08:13] anjesh commented on #1064
@charlesyoung you should be using http://admin.resourcecontracts.org/ and not http://resourcecontracts.elasticbeanstalk.com/, which is using instance from our account, which is now discontinued.

[2017-04-10 08:13] #1064 closed

[2017-04-11 01:27] KaitlinCCSI commented on #1062
Yes--those steps were slightly different than mine, but essentially the same as what I described in first para. Hadn't been able to replicate when working directly within a contract (without having accessed through link in advanced search), but now am able to do so (by clicking on hyperlinked Art. number at end of annotation) -- so either was just being buggy when I tried, or I somehow missed this

[2017-04-11 01:27] #1062 closed

[2017-04-12 18:59] KaitlinCCSI opened #1065 "clipping not working"
I turned clips functionality on by clicking on the clip icon, but clips don't appear by any of the annotations.
![screen shot 2017-04-12 at 1 57 17 pm](https://cloud.githubusercontent.com/assets/14825437/24974554/290c201a-1f88-11e7-845c-07dc379f0fe5.png)

[2017-04-13 20:13] SamCCSI opened #1066 "Search by "Community consultation" dropdown not working"
Search by "Community consultation" annotation category dropdown produces zero results:
![image](https://cloud.githubusercontent.com/assets/12913915/25022478/07a978f0-2064-11e7-84e1-ca968d233d4b.png)

But this is not accurate. Here is at least one example of a contract that does have that annotation category. http://www.openlandcontracts.org/contract/ocds-591adf-8175739156/view#/pdf/page/17/annotat

[2017-04-13 21:40] KaitlinCCSI opened #1067 "OLC name/logo in top left was changed - please change back"
The "OPENLAND" part of the name has been italicized without our requesting that. Not sure why that happened, but could you please revert back to original version, which was not italicized?

current version:
![screen shot 2017-04-12 at 4 20 38 pm](https://cloud.githubusercontent.com/assets/14825437/25025368/93c0cbec-2067-11e7-84f2-fb4d4982b18e.png)

original version (upper left corner):
![image](ht

[2017-04-14 04:10] jedm commented on #1067
This is an even smaller matter, and up to @KaitlinCCSI, but would recommend
consistency between prose title and logotype with the spacing -- ie, CCSI
should choose between "OpenLand" and "Open Land"

On Thu, Apr 13, 2017 at 2:40 PM KaitlinCCSI <notifications@github.com>
wrote:

[2017-04-21 14:32] moman822 opened #1068 "API limited to 100"
The API will only return 100 contracts at a time, even if setting the `per_page` argument to greater than 100.

See (lack of) difference between:

`http://api.resourcecontracts.org/contracts?country_code=pe&per_page=300`

&

`http://api.resourcecontracts.org/contracts?country_code=pe&per_page=100`

Unsure if this is by design.

[2017-04-21 15:08] KaitlinCCSI commented on #1067
Thanks, Jed. @anjesh - At the very least, we would like to revert OPENLAND to its original non-italicized version. If possible, could you please also add a small space between OPEN and LAND, so that the two words are slightly separated but still aligned with the CONTRACTS on the line below?

[2017-04-27 15:13] charlesyoung opened #1069 "New contract type inclusion"
Perrine has requested the inclusion of a new contract type; 'Share Purchase Agreement'.

[2017-06-20 12:13] SamCCSI commented on #930
http://admin.resourcecontracts.org/mturk/2524

Page 11 has been pending for a long time. I tried to reset it and got this error message.

![image](https://user-images.githubusercontent.com/12913915/27332563-45cf88d4-5590-11e7-8fff-581c961aeba8.png)

Could you please reset it so that it can be transcribed? all of the other 71 pages have already been processed.

[2017-06-20 12:19] charlesyoung commented on #930
@SamCCSI I had the same issue recently and had to ask @manishgs to recreated the HIT.

[2017-06-20 19:40] JesseCCSI opened #1070 "OLC - link to LM page is redirecting to OLC"
Re this contract: http://openlandcontracts.org/contract/ocds-591adf-9381136422/view#/pdf

We've added a link to the Land Matrix page, but when we click on the hyperlinked Land Matrix number on the front end, the link re-directs (in a new window) back to the OLC contract view page, without going to the relevant Land Matrix page (http://www.landmatrix.org/en/get-the-detail/by-target-region/central-a

[2017-06-21 22:32] JesseCCSI commented on #1070
Thanks @charlesyoung this appears to be working now - when I click on the hyperlinked LM deal number (5021), it opens a new window with the relevant LM page. Thanks to whomever addressed this!

[2017-06-21 22:33] #1070 closed

[2017-07-28 06:36] charlesyoung commented on #676
504 Gateway Time-out error when clicking download contracts.

[2017-08-21 19:34] charlesyoung opened #1071 "Annotation display on Countries page"
Annotation display on Countries page not showing annotation count or link.

![image](https://user-images.githubusercontent.com/13888372/29534960-511c99e4-86b8-11e7-8318-475aa8e70803.png)

[2017-08-24 11:13] charlesyoung opened #1072 "Other document type"
Remove the option of capturing free-text when selecting the 'Other' document type. This is to stop new document types being added creating an unstandardized list.

![image](https://user-images.githubusercontent.com/13888372/29663946-cc886ec0-88cd-11e7-8408-79d451e76337.png)

[2017-08-24 11:15] charlesyoung opened #1073 "Standardize document types"
Update document types as noted in below Google Sheet.

https://docs.google.com/spreadsheets/d/1Gcki2iL95trnMFvJI44iDW4wZvtwBVKe84Ca8anNxxA/edit#gid=1236274355

[2017-08-24 11:16] charlesyoung opened #1074 "Add new contract type (Tunisia)"
Add a new contract type 'Memorandum of Obligations' to allow for the batch update of all 'Mining Contract' contract types in Tunisia

[2017-08-24 13:09] SamCCSI commented on #1073
For most of these I suggest we use existing categories. This will keep in harmony with our original thinking on doc and contract types, and will reduce having too many very similar doc and contract types, which will reduce utility of drop-down lists:

1 - Suggest using *Doc type = Private contract*
2 - Suggest using *Doc type = contract*; *Contract type = Contract Annex*
4 - Whenever Doc type = Co

[2017-08-24 13:11] charlesyoung commented on #1073
@SamCCSI below is the suggestions from Perrine. We need to reduce and standardize the exiting doc types.

https://docs.google.com/spreadsheets/d/1Gcki2iL95trnMFvJI44iDW4wZvtwBVKe84Ca8anNxxA/edit#gid=1236274355

[2017-10-23 10:37] charlesyoung opened #1075 "Hit batching"
Batch hits instead of creating individual hits.

[2017-11-01 11:59] adinuca opened #1076 "Staging recurring errors in logs"
In resourcecontracts.org application there are some log messages that are constantly reoccurring.

Attached, you can find a few of the logs :
[resource_contracts.log](https://github.com/NRGI/resourcecontracts.org/files/1434015/resource_contracts.log)

[2017-11-01 12:57] charlesyoung commented on #1076
Thanks @adinuca

What do these error messages actually mean?

cc @iprunache

[2017-11-01 13:19] iprunache commented on #1076
@charlesyoung staging.resourcecontracts.org was unavailable because the ElasticSearch instance it was using for indexing the contracts was no longer accessible.

Compose.io which is hosting the ES instance has changed the connection parameters so we had to update them. This is fixed now.

[2017-11-01 13:19] #1076 closed

[2017-11-02 05:03] anjesh opened #1077 "Setup Guinea RC country site"
guinea.resourcecontracts.org currently points to resourcecontracts.org. This should be similar to tunisia.resourcecontracts.org.

[2017-11-02 05:03] anjesh opened #1078 "Setup Tanzania RC country site"
http://tanzania.resourcecontracts.org/

[2017-11-02 05:06] anjesh opened #1079 "Verify the guinea contracts document count"
http://www.contratsminiersguinee.org/#documents has 83 documents while http://guinea.resourcecontracts.org/search?q=&country%5B%5D=gn shows 77. We need to sort the discrepancies between these 2 sites and add the missing contracts to rc.org

[2017-11-02 06:56] charlesyoung commented on #1077
Just a note that we will be using the existing URL - www.contratsminiersguinee.org, so will need to provide the site administrator with the required redirect details.

[2017-11-02 06:58] anjesh commented on #1077
sure guinea.resourcecontracts.org will be setup anyways and get redirected to the existing url

[2017-11-02 07:27] iprunache commented on #1077
What's the plan for deploying the Guinea site? We have the `guinea.resourcecontracts.org` domain pointing to the subsite container now but the subsite is not defined yet.

@charlesyoung to use the existing URL the administrator will have to define it as a CNAME that points to `rc-subsite-master-lb-882022876.us-east-1.elb.amazonaws.com`. But that's after we get the site online.

[2017-11-02 07:30] charlesyoung commented on #1077
Thanks @iprunache.

@anjesh will YI define the subsite?

[2017-11-02 07:59] adinuca opened #1080 "Tunisia subsite was down again - 02.11.2017"
## Why
We are aiming for a 99.9% uptime and tunisia.resourcecontracts.org was down twice for a few seconds in 2 weeks.

## What
- [ ] prevent tunisia.resourcecontracts.org from being unresponsive.

[2017-11-02 08:05] anjesh commented on #1077
we will be deploying the guinea subsite next week and will let you know when it's ready.

[2017-11-02 08:08] charlesyoung commented on #1077
Thanks @anjesh.

Please first deploy on a staging site (staging.guinea.resourcecontracts.org) so that I can test and update the home page as well as not preempt the launch.

[2017-11-02 08:16] adinuca commented on #1080
Logs from the time the site was down:
[tunisia.log](https://github.com/NRGI/resourcecontracts.org/files/1436911/tunisia.log)

[2017-11-02 10:00] anjesh commented on #1079
Out of [83 contracts in documentcloud](https://docs.google.com/spreadsheets/d/1GAEg_VeJbXwDIVUcwpHo74I3Sx5uOkZfAU_6mVP1wPg/edit#gid=925538363), 13 are not found in rc.org based on the pdf-file-hash (highlighted red). We need to import only 13 contracts in rc.org. After import there will be 78+13 = 91 contracts in guinea RC subsite.

@charlesyoung Please confirm these 13 contracts - the linkages ar

[2017-11-02 10:25] charlesyoung commented on #1079
Thanks @anjesh.

Yes no need to worry about the 9 contracts on RC but not in documentcloud.

Please hold on importing the 13 contract because some seem to be Codes not relevant to RC i.e. Forest Code, Tax Code, Pastoral Code, etc. I will check and get back to you.

[2017-11-02 13:34] iprunache commented on #1078
It looks like we were previously trying to set this up as `tanzania.openlandcontracts.org`.

Sample from `config/init.sh` in the subsite repo:
[code]

Are we sticking with tanzania.resourcecontracts.org now?

[2017-11-02 13:37] iprunache commented on #1078
We only lacked the DNS record for http://tanzania.openlandcontracts.org. I've added that and the site is now accessible but seems broken.

[2017-11-02 14:28] charlesyoung commented on #1078
@iprunache this is a RC and not OLC site. So should be http://tanzania.resourcecontracts.org.

The OLC site was a demo site from what I can remember.

[2017-11-03 07:32] charlesyoung commented on #1079
@anjesh are you sure the documentcloud API is pulling the correct language data because see below. The Google sheet notes that this contract is in English.

![image](https://user-images.githubusercontent.com/13888372/32363686-2bd92ae4-c079-11e7-8139-47be1a9c3238.png)

[2017-11-03 08:35] anjesh commented on #1079
API seems correct. I checked and there are only 3 French lang mentioned but in different columns. Not sure what that language:eng means.

![image](https://user-images.githubusercontent.com/120488/32365428-ebd91002-c0a1-11e7-902d-534668d7bdee.png)

[2017-11-06 05:57] charlesyoung commented on #1078
Please hold this ticket until further notice.

cc @anjesh

[2017-11-06 06:33] charlesyoung commented on #1079
A note that this ticket needs to be completed by the 15/11.

[2017-11-06 06:33] charlesyoung commented on #1077
A note that this ticket needs to be completed by the 15/11.

[2017-11-06 06:34] charlesyoung commented on #1073
A note that this ticket needs to be completed by the 15/11.

[2017-11-06 06:34] charlesyoung commented on #1074
A note that this ticket needs to be completed by the 15/11.

[2017-11-06 06:34] charlesyoung commented on #1072
A note that this ticket needs to be completed by the 15/11.

[2017-11-06 07:19] anjesh commented on #1079
I think this should have been 30/11

[2017-11-06 07:19] anjesh commented on #1072
All these should have been 15/12 except for the subsites.

[2017-11-06 13:42] charlesyoung commented on #1079
Relating to the Google [Sheet](https://docs.google.com/spreadsheets/d/1GAEg_VeJbXwDIVUcwpHo74I3Sx5uOkZfAU_6mVP1wPg/edit?ts=59faf395#gid=925538363).

1. Migrate contracts noted on lines 20 and 24
2. Do not migrate documents noted on lines 30-39 & 69 because they are not contracts and are already on the ministries website for download

[2017-11-10 06:05] anjesh commented on #1075
Looks like batching is not available through API. This has details https://forums.aws.amazon.com/thread.jspa?messageID=422027#422027

**Can HITs created through the API be grouped into batches?**

@charlesyoung do you have access to RC Mturk account? I can't access with the one i have.

[2017-11-10 08:27] charlesyoung commented on #1075
There must be a way because we have had so many complaints from people requesting that we change from individual to batch HITs.

Do we do it through the API or publishing interface (see below)?

http://docs.aws.amazon.com/AWSMechTurk/latest/RequesterUI/PublishingYourBatchofHITs.html

I will get the RC Mturk account details.

[2017-11-13 09:19] charlesyoung commented on #1077
Just checking on the status of the Guinea country site development.

cc @anjesh @manishgs

[2017-11-15 08:51] adinuca opened #1081 "Shippable build fails because of -f flag used with docker tag"
## Why
Newest versions of docker do not support -f flag with docker tag.

## What
- [ ] remove -f flag when doing docker tag -f in .shippable

## Notes
https://forums.docker.com/t/force-tag-f-option-removed/18782
Shippable build broken by this : https://app.shippable.com/github/NRGI/resourcecontracts.org/runs/1591/1/console

[2017-11-15 10:55] iprunache opened #1082 "Use polling instead of inotify for remote_syslog on RC containers"
## Why
`remote_syslog` exhausts all inotify instances available on the container instance and starts reporting that it cannot track new log files.

More details on issue NRGI/nrgi-dcos#240.

## What
- [x] `remote_syslog` is started with the `--poll` flag or `logrotate` is configured to use `copytruncate` on all RC containers
- [x] `remote_syslog` is started with the `--poll` flag or `logrotate` is

[2017-11-16 09:58] adinuca opened #1083 "Add --cache-from when building docker image"
## Why
--cache-from flag allows docker to use  the specified image as a cache when building the new image, which speeds up the build.

## What
- [ ] add --cache-from  in the docker build command `docker build --cache-from nrgi/rc-admin:$BRANCH -t nrgi/rc-admin:$BRANCH.$COMMIT .` - from .shippable.yml

## Notes

[2017-11-17 07:42] manishgs commented on #1077
I've submitted pull request. @iprunache Please review.
https://github.com/younginnovations/resourcecontracts-rc-subsite/pull/6/files

Please add two new env variables in rc-subsite.
GN_TRACKING_ID - I'll send code in email.
GN_CONTACT_MAIL - Charles will provide the email.

@charlesyoung
Please provide the admin email to Vitamin.

[2017-11-17 07:51] charlesyoung commented on #1077
Just to confirm as noted above please first deploy a staging site (staging.guinea.resourcecontracts.org).

[2017-11-17 07:56] charlesyoung commented on #1077
@manishgs just to confirm, what admin email is required?

cc @iprunache

[2017-11-17 08:19] manishgs commented on #1077
Admin email is site owner's email address and will display on the site. Visitor will use this email to contact site admin for feedback and comments.

[2017-11-17 08:20] charlesyoung commented on #1077
Will follow up with the client and revert.

[2017-11-17 09:28] iprunache commented on #1077
We can change the email later on when Charles determines what email to be used. Until then we'll use Charles' email.

@manishgs I've reviewed the changes and they look good. The only thing is the build fails because of updates to the `alpine` image we use for the container. I've left a comment on the PR to change that to `alpine:3.4` and see if the build succeeds.

The guinea.resourcecontracts.org

[2017-11-17 10:46] charlesyoung commented on #1077
Ministry of Mines and Geology
Boulevard du Commerce – BP 295
Quartier Almamya / Kaloum
Conakry, Republic of Guinea
Phone. (+224) 625 215 567 /  625 215 568
Email : info@mines.gov.gn

[2017-11-17 13:21] charlesyoung commented on #1077
@manishgs do we have the correct filters setup on the staging site.

RC site shows [40 ](http://resourcecontracts.org/search?q=&country%5B%5D=gn&annotated=1)annotated contracts
Guinea staging site shows [13 ](http://staging.guinea.resourcecontracts.org/search?q=&annotated=1)annotated contracts

Also there are 77 Guinea contracts on RC and 96 on the Guinea staging site.

[2017-11-17 13:23] charlesyoung commented on #1077
As noted in ticket #1079 do not migrate documents noted on lines 30-39 & 69 because they are not contracts and are already on the ministries website for download.

[2017-11-17 13:33] manishgs commented on #1077
Guinea staging site is using staging api so its showing 13 annotated contacts.
you can compare from staging site.
http://staging.resourcecontracts.org/search?q=&country%5B%5D=gn&annotated=1
http://staging.guinea.resourcecontracts.org/search?q=&annotated=1&lang=en

[2017-11-17 13:35] charlesyoung commented on #1077
@manishgs can you update the staging DB with the prod DB to allow me to run proper tests.

[2017-11-17 17:13] iprunache commented on #1077
I think Vitamin needs to do this. @manishgs what should we copy?

[2017-11-20 09:08] manishgs commented on #1077
@iprunache Did you updated env variable to use production API?

[2017-11-20 09:17] iprunache commented on #1077
@manishgs I've just added the new ENV variable and triggered a rebuild on staging. Deploy should complete in less than 10 minutes.

[2017-11-20 11:57] charlesyoung commented on #1077
@iprunache just checking if the Guinea staging site is referencing the prod DB?

cc @manishgs

[2017-11-20 15:43] iprunache commented on #1077
@charlesyoung It's still using the staging DB.

I think @manishgs has to merge the Guinea updates to staging again for it to switch using the production DB. At the moment the changes are only on development branch.

[2017-11-21 05:39] manishgs commented on #1077
@charlesyoung Please check the staging site. It is using production API.

[2017-11-21 07:22] charlesyoung commented on #1077
Many thanks @manishgs

[2017-11-21 07:23] charlesyoung commented on #1077
Linked ticket #1079

[2017-11-23 08:26] iprunache commented on #1082
@manishgs are the GitHub repos for RC still mirrors of your GitLab repos? We would need to push some code on all of them for this issue and wanted to make sure we do it the right way. Thanks!

[2017-11-23 13:55] charlesyoung commented on #1079
@manishgs just checking when the missing contracts will be migrated.

[2017-11-27 04:24] manishgs commented on #1082
@iprunache
We've discard mirroring gitlab-github repos so you can push to github.

[2017-11-28 10:40] anjesh commented on #1079
Hi Charles, since it's just 2 contracts, we will manually add these to the system. It will be easy and time-saver than writing a migration script. Please confirm that it's only 2 contracts.

[2017-11-28 10:49] charlesyoung commented on #1079
Thanoks @anjesh

Yes its 2 contracts.

[2017-12-01 09:27] charlesyoung commented on #1077
Please redirect guinea.resourcecontracts.org to staging.guinea.resourcecontracts.org

cc @iprunache @manishgs @anjesh

[2017-12-01 09:51] charlesyoung opened #1084 "Official Gazette documents backend import"
https://docs.google.com/spreadsheets/d/1rfhydJ8K07PIBbih0pk0vEK9E1788CYLULbXjtDafZs/edit#gid=0

[2017-12-04 07:53] iprunache commented on #1077
@charlesyoung just to make sure, you want an actual redirect, like 302 status code, and not to actually show the staging content on guinea.resourcecontracts.org? Is that correct?

[2017-12-05 09:46] charlesyoung opened #1085 "Configure the Guinea subsite"
Configure the Guinea subsite to also work on the contratsminiersguineea.org domain

cc @iprunache

[2017-12-05 09:46] charlesyoung opened #1086 "Merge Guinea subsite changes"
Merge Guinea subsite changes to the master branch so it gets deployed to production

cc @iprunache

[2017-12-05 09:46] charlesyoung opened #1087 "Copy Guinea static content from staging to production"
Copy FAQ and other static content from staging to production.

cc @iprunache

[2017-12-05 09:46] charlesyoung opened #1088 "Point contratsminiersguinee.org to guinea.resourcecontracts.org"
cc @iprunache

[2017-12-06 08:56] iprunache commented on #1085
Done here: https://github.com/younginnovations/resourcecontracts-rc-subsite/commit/dd7889be876f51e99b300830fd0495c43ee230cd

[2017-12-06 08:56] #1085 closed

[2017-12-06 08:57] iprunache commented on #1088
Sent details to Assia DIALLO, waiting for confirmation.

[2017-12-06 10:13] manishgs commented on #1087
We've one database which is used for both production and staging country site therefore we don't need to copy content. However s3 bucket is different so I'v copied files from staging to production.

[2017-12-06 10:20] iprunache commented on #1087
@manishgs then can we merge the 1077 branch to master? Is there anything else left to do?

[2017-12-06 10:25] manishgs commented on #1087
@iprunache  yes. we can merge the branch. Did you setup DNS for production site?

@charlesyoung Are we ready to live Guinea site? So that I can merge and deploy to production.

[2017-12-06 10:27] iprunache commented on #1087
Yes, http://guinea.resourcecontracts.org/ is set up. Once we merge the branch to master the nginx config for the Guinea subsite will handle that domain name.

[2017-12-06 10:35] charlesyoung commented on #1087
Can we get the http://guinea.resourcecontracts.org site live?

[2017-12-07 05:24] manishgs commented on #1087
Guinea site is live.

[2017-12-07 05:25] manishgs commented on #1086
changes has been merged and pushed to production. Now site is live.

[2017-12-07 05:25] #1086 closed

[2017-12-07 10:03] iprunache commented on #1082
This also affects the Shiny containers since there are a lot of files created there too.

[2017-12-07 10:07] iprunache commented on #1082
A better solution may be to instruct `logrotate` to use `copytruncate` to rotate logs: https://github.com/papertrail/remote_syslog#log-rotation .

[2017-12-12 09:28] anjesh commented on #1073
@charlesyoung
Looked at the database and it has different types than the ones listed in the sheet above. Created a [new sheet](https://docs.google.com/spreadsheets/d/1Gcki2iL95trnMFvJI44iDW4wZvtwBVKe84Ca8anNxxA/edit#gid=655013550) with existing doc.types as per database and need to fill the missing NA (Not Available)

[2017-12-12 09:39] iprunache commented on #1082
This is becoming a bigger problem as we're deploying more containers to the same instance, and not just for RC. An example below.

List of processes using inotify instances:
[code]

And the actual processes:
[code]

We may have to increase the limit for inotify watches on the container instances in addition to optimizing `logrotate` and `remote_syslog` usage.

[2017-12-12 12:10] charlesyoung commented on #1073
Thanks @anjesh

Can you please check your list because I have 'Annulation de permis' and 'Private Contract' noted as a Company-State Contract while you have it as NA.

Also please only list RC doc types and not OLC doc types.

[2017-12-20 07:14] iprunache commented on #1082
Fixed this by using the just released v0.20 of `remote_syslog`.

https://github.com/papertrail/remote_syslog2/issues/212

[2017-12-20 07:14] #1082 closed

[2017-12-22 05:13] anjesh commented on #1073
I have re-generated the list again here https://docs.google.com/spreadsheets/d/1Gcki2iL95trnMFvJI44iDW4wZvtwBVKe84Ca8anNxxA/edit#gid=973523524 for RC only there are still few missing labels. @charlesyoung please have a look.

[2018-01-11 10:20] anjesh commented on #1079
Both the contracts have been published
http://www.resourcecontracts.org/contract/ocds-591adf-0484705559
http://www.resourcecontracts.org/contract/ocds-591adf-3032468364

[2018-01-12 07:56] anjesh commented on #1074
`Mining Contract` is the english translation of the contract-type = `Cahier des Charges`

See http://resourcecontracts.org/contract/ocds-591adf-9274016935/view?lang=fr#/ and http://resourcecontracts.org/contract/ocds-591adf-9274016935/view?lang=en#

Here are the translations
https://github.com/NRGI/resourcecontracts.org/blob/7ece6948faf80f507657b707280f8057f483e067/resources/lang/en/codelist/contr

[2018-01-12 07:58] anjesh commented on #1069
@charlesyoung we need [ar](https://github.com/NRGI/resourcecontracts.org/blob/7ece6948faf80f507657b707280f8057f483e067/resources/lang/ar/codelist/contract_type.php#L7) and [fr](https://github.com/NRGI/resourcecontracts.org/blob/365661f600b101e33234d7ec9684b699edee9cde/resources/lang/fr/codelist/contract_type.php#L3)  translations for 'Share Purchase Agreement'

[2018-01-12 08:41] anjesh commented on #1073
@charlesyoung

I tried to map with the existing [doc-type codelist](https://github.com/NRGI/resourcecontracts.org/blob/master/resources/lang/fr/codelist/documentType.php) and here's the [situation](https://docs.google.com/spreadsheets/d/1Gcki2iL95trnMFvJI44iDW4wZvtwBVKe84Ca8anNxxA/edit#gid=1022966203)

There are 4 new proposed doc-types compared to linked codelist above.
[code]
* Do we include the

[2018-01-12 13:37] charlesyoung opened #1089 "Government entities"
Please update government entities based on below xls.

https://docs.google.com/spreadsheets/d/1DxG8fKnMLvTAtT9t5xVYEJ5PDhfuqW5SiOOULGJqmt8/edit?ts=599b1bd4#gid=1402387954

[2018-01-12 13:52] charlesyoung commented on #1073
1. Yes, needs to be added to the codelist. Will get the translations
2. What is the ratification contract name because this was added to the main contract and unpublished
3. Will get back to you
4. Yes

[2018-01-12 13:55] charlesyoung commented on #1074
Yes we need to delete 'Cahier des Charges' and replace with 'Memorandum of Obligations'.

Will get the translations.

[2018-01-16 15:01] charlesyoung commented on #1074
What I noted above is incorrect. The following should be followed.

1. Add a new contract type 'Memorandum of Obligations'
2. Batch update all docs with 'Mining Contract' contract type to 'Memorandum of Obligations'
3. Delete 'Mining Contract' contract type
4. Translations below

English: Memorandum of Obligations
French: Cahier des Charges
Arabic: كراس شروط

[2018-01-17 05:35] adinuca commented on #1080
Closing this as the site has not been unresponsive for more than 2-3 minutes in the last 2 months. Will investigate it in case it appears again.

[2018-01-17 05:35] #1080 closed

[2018-01-17 15:11] adinuca commented on #1083
Tests done on this has shown that the builds work faster when this is enabled.

[2018-01-17 15:11] #1083 closed

[2018-01-18 23:20] SamCCSI opened #1090 "Change "contracts" to "documents" on country page"
http://openlandcontracts.org/countries

http://resourcecontracts.org/countries

Please change "contracts" to "documents" on country page. The numbers refer to the number of documents for each country, not numbers of contracts.

![image](https://user-images.githubusercontent.com/12913915/35126620-5b3bf74c-fd02-11e7-8ea3-297872e6b87f.png)

[2018-01-24 09:56] charlesyoung commented on #1079
Add a filter to exclude resource = hydrocarbon from the Guinea country site. Only mining contracts should be displayed.

[2018-01-26 06:36] charlesyoung opened #1091 "Guinea - Update resource and company name"
[Guniea contracts update.xlsx](https://github.com/NRGI/resourcecontracts.org/files/1666847/Guniea.contracts.update.xlsx)

[2018-02-05 15:52] iprunache opened #1092 "Renew SSL certificate for `*.resourcecontracts.org`"
## Why
The SSL certificate for `*.resourcecontracts.org` has expired and users receive a warning when accessing RC sites over HTTPS.

MTurk users are not able to complete their tasks on RC because of the certificate warning.

## What
- [x] generate a new AWS SSL certificate for `*.resourcecontracts.org`
   - [x] use DNS validation to validate the certificate
- [x] set up all load balancers serving

[2018-02-05 18:35] charlesyoung commented on #1092
Many thanks @iprunache

[2018-02-07 07:47] iprunache commented on #1088
Looks like this is done.

[2018-02-07 07:47] #1088 closed

[2018-02-08 05:24] adinuca commented on #1092
Only admin.resourcecontracts.org was configured to use the certificate. This is now using the new certificate.

[2018-02-08 05:40] adinuca commented on #1092
Sites done:
- api.resourcecontracts.org
- admin.resourcecontracts.org
- index.resourcecontracts.org

Sites not done because the CSS does not render correctly over HTTPS:
- https://tunisia.resourcecontracts.org/
- https://guinea.resourcecontracts.org/
- https://resourcecontracts.org/
Will raise another issue for the last 3.

[2018-02-08 05:56] adinuca opened #1093 "Configure SSL for RC subsites"
## Why
When renewing the certificate(#1092 ) for RC we have noticed that resourcecontracts.org, guinea.resourcecontracts.org and tunisia.resourcecontracts.org do not work properly over HTTPS, some of the CSS being loaded over HTTP.

## What
- [x] CSS files are requested based on the protocol that is used to load the website
- [x] SSL certificate *.resourcecontracts.org is configured for RC subsite

[2018-02-08 05:56] adinuca commented on #1092
Raised #1093 for RC subsites.

[2018-02-08 05:59] adinuca commented on #1092
Hi @charlesyoung , this has been done for the sites that previously had SSL configured.  Can you please confirm if MTurk users can now perform their tasks?

[2018-02-08 11:07] iprunache commented on #1092
@adinuca according to this we may risk automatic renewal to fail if we don't get `resourcecontracts.org` to work over https: https://docs.aws.amazon.com/acm/latest/userguide/how-domain-validation-works.html#how-automatic-domain-validation-works

If I understand correctly, to check that the old certificate is in use, ACM will do a request to resourcecontracts.org and compare the returned certificat

[2018-02-08 11:56] adinuca commented on #1092
@iprunache you are right. I will prioritise the issue that I raised for resourcecontracts.org and subsites for next week. Probably this is why the certificate was not renewed automatically.

[2018-02-12 06:34] #1092 closed

[2018-02-13 12:26] adinuca commented on #1093
The site works fine on both https and https. Resources are loaded on the site based on the header sent by the load balancer. If `X-Forwarded-Proto` is set to https, the URL of the assets will be https, else the URL will be with http protocol.

There are still links to other pages of the website using http protocol, but the website will work fine with them. I will raise another issue for this as we

[2018-02-13 15:06] adinuca commented on #1093
The debugbar is only loaded when the  APP_DEBUG is set to true, so for Staging. This is loaded dynamically  as a ServiceProvider.

Currently searching for a way for the resources of the debugbar to be loaded on https instead of https.

[2018-02-14 08:38] adinuca commented on #1093
The issue is that Lumen/Laravel/Symphony do not know if the request was made over HTTP or HTTPS so it generates all URLs using HTTP. This is mostly a problem for third party modules used that generate code(like `laravel-debugbar`) and URL's generated from the code, like form target endpoints(`http://staging.resourcecontracts.org/search`).

What I have tried so far was:
- to force the schema on gen

[2018-02-14 08:59] adinuca commented on #1093
We could create another method for most of the route URLs to generate them with https if the header is sent from the load balancer.
This will still not fix the debugbar.

[2018-02-14 18:24] adinuca commented on #1093
After speaking with @candrei we decided to try to more things
- check if the URLGenerator class is singleton or not by logging the 'url' object
- create a middleware and register it to change http to https for each request

If the 2 methods above to not give any results, I will create a new method `generate_route` that will check for` X-Forwarded-Proto` header and set the schema based on the heade

[2018-02-16 13:25] adinuca commented on #1093
URLGenerator is created each time url() or route() or another method that generates  a URL is used. This is done in helpers.php from Lumen framework source code

[2018-02-19 09:07] adinuca commented on #1093
[Trusted proxy](https://github.com/fideloper/TrustedProxy) can be used to determine if the request was done from HTTP or HTTPS only if the exact IP of the load balancer is set as proxy IP.

[2018-02-19 09:09] adinuca commented on #1093
There still are a few URLs that have HTTP schema, but although the application is running on beta.resourcecontracts.org domain, the URLs are set to staging.resourcecontracts.org domain. Still investigating where these are coming from.

[2018-02-19 11:41] adinuca commented on #1093
Ip received by the application is the private IP of the Load balancer. If we get the IP based on the ELBs hostname, the IP of the request will not match the one of the ELB.

[2018-02-19 14:27] adinuca commented on #1093
Generating new RC certificate to cover  <subdomain.resourcecontracts.org>, resourcecontracts.org, staging.guinea.resourcecontracts.org, staging.tunisia.resourcecontracts.org.

[2018-02-19 14:28] adinuca commented on #1093
There still are errors on Staging , regarding to the debugbar:
[code]

Laravel debugbar is not enabled in production.

[2018-02-19 15:15] adinuca commented on #1093
Changed certificates for all sites:
admin.resourcecontracts.org
api.resourcecontracts.org
index.resourcecontracts.org
guinea.resourcecontracts.org
tunisia.resourcecontracts.org
resourcecontracts.org

Tested in production and all work fine over https and http.

[2018-02-19 15:15] #1093 closed

[2018-02-19 15:16] adinuca commented on #1093
ECS instances are configured to allow all TCP traffic only from instances in the security group used by the load balancers.

[2018-02-28 06:15] #1077 closed

[2018-02-28 06:16] #1079 closed

[2018-02-28 06:20] charlesyoung commented on #1078
Please also add password protection to the tanzania.resourcecontracts.org site

[2018-02-28 06:23] #1087 closed

[2018-02-28 06:26] charlesyoung opened #1094 "Philippines documents backend import"
Import documents from a template

[2018-02-28 06:27] charlesyoung opened #1095 "Zambia country site"
Create a Zambia RC country site

[2018-02-28 06:28] charlesyoung opened #1096 "Documents display / grouping"
https://docs.google.com/document/d/1_Mkx7BRUWFhuKzrh-XWIC9D6S1ZIClQBxMZrO0Dr6bE/edit#

Document display and grouping specs to be added here.

cc @jedm @SamCCSI @anjesh

[2018-03-02 08:51] adinuca opened #1097 "Investigate RC annotation errors"
## Why
RC Admin is sending error emails when something goes wrong. In the 1st of March, there were 15 errors generated when hitting the annotations endpoint.

## What
- [ ] investigate why the errors occur

## Notes
Stacktrace sent by email : [https://app.zenhub.com/files/36373515/3d295f44-b13d-492b-a6fd-3b10f92e0270/download](https://app.zenhub.com/files/36373515/3d295f44-b13d-492b-a6fd-3b10f92e0

[2018-03-02 12:28] adinuca commented on #1097
The problem is that the **article_reference_en** is not provided in the form when trying to save an annotation.

Even if article_reference_en is provided, the exception might still occur if **article_reference_fr** and **article_reference_ar** are not provided.

[2018-03-02 12:30] charlesyoung commented on #1097
Thanks @adinuca

We never had this problem before. Any idea what changed to introduce this error?

[2018-03-02 12:37] adinuca commented on #1097
It is not a new issue, I have checked the emails received in the past and my oldest email regarding this is from November and from what I can see from the code, the functionality was added on the 28th of March 2017.
I am not familiar with how rc-admin works, but if you could provide me with an account I can check where the API calls are made from and why we don't have that field set.

Sorry we did

[2018-03-02 12:43] charlesyoung commented on #1097
Thanks. I will send you an email with the details.

[2018-03-02 12:44] adinuca commented on #1097
Received, thank you.

[2018-03-02 12:46] adinuca commented on #1097
It's interesting, I couldn't log in first time when I first tried and an error was generated.

[2018-03-02 14:12] adinuca commented on #1097
The requests are triggered when updating an annotations. They are triggered from the front end, Javascript and they all happened for the same user - Dechert.
If any error occurred on the site when he updated the annotation, it might have triggered an incomplete request. I am unable to reproduce it for the moment.

[2018-03-02 14:15] adinuca commented on #1097
I will send an email to Chelsea.Fish@dechert.com, to find out what is the behaviour that causes the errors.

[2018-03-02 14:15] charlesyoung commented on #1097
Thanks @adinuca

[2018-03-02 17:23] adinuca commented on #1097
Hi @charlesyoung, I have sent the email and will update the issue as soon as I get an answer.

Do you think YIPL team could take over the investigation? Our budget is quite low and also they have more knowledge on how the application works.

[Papertrail logs](https://github.com/NRGI/resourcecontracts.org/files/1776035/rc-admin-papertrail-logs.txt) and [error email](https://github.com/NRGI/resource

[2018-03-05 11:12] adinuca commented on #1097
Here is Katharine's response:

[2018-03-06 07:19] adinuca commented on #1097
Hi @charlesyoung , can you please confirm if YIPL can take over the investigation?
There has been one more error yesterday and one more today which seems to be from a different reason, but still related to annotations.

[2018-03-07 09:03] adinuca commented on #1097
As agreed with Charles, we will monitor this through March to see if there is a pattern for its occurrence.

[2018-03-08 09:17] charlesyoung opened #1098 "Philippines download URLs"
Change the current document download URLs to point to AWS.

[2018-03-08 10:07] adinuca commented on #1097
Error from 8th of March happened for user `Dechert`.

[2018-03-08 13:15] SamCCSI commented on #1097
Hi @adinuca Can you please delete the email and other contact information (including surnames) for Chelsea and Katharine that are noted in two of your messages above? I am mindful that this is a public site, and don't want to have their contact information published without their consent. Many thanks!

[2018-03-08 13:18] adinuca commented on #1097
Sorry, I didn't realise this. Removed.

[2018-03-08 13:19] SamCCSI commented on #1097
Thanks @adinuca for the prompt response! Much appreciated.

[2018-03-12 04:18] adinuca commented on #1097
It has happened 11 times on the 11th of March. User `Dechert`.

[2018-03-12 12:11] charlesyoung commented on #1078
The site might also need to point to the staging DB for now.

[2018-03-13 08:37] charlesyoung commented on #1074
@anjesh required translations added.

[2018-03-15 13:18] #953 closed

[2018-03-15 13:20] #799 closed

[2018-03-19 06:03] adinuca commented on #1097
The errors from the 16th of March were caused by the actions of the user `Sam Szoke-Burke`. There were 16 error emails.

[2018-03-19 12:28] SamCCSI commented on #1097
That's me. I can confirm that these occur when trying to edit the text of annotations or the size of the yellow annotation markers.

Most times that I tried to edit text, the edit would not save and sometimes an error message would appear. I would have to reload the entire page and try again.

[2018-03-19 13:46] SamCCSI commented on #1097
Chrome

Mac OS X Yosemite v 10.10.5

On Mar 19, 2018, at 9:16 AM, Adina-Dumitrita Petrean <
notifications@github.com> wrote:

Hello @SamCCSI <https://github.com/samccsi>,

Can you tell us what browser you are using and on what operating system?
This might help us narrow down the problem.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://

[2018-03-19 13:47] adinuca commented on #1097
Thank you!

[2018-03-28 08:50] anjesh commented on #1078
Please create staging.tanzania.resourcecontracts.org in the DNS @iprunache

[2018-03-28 09:06] adinuca commented on #1078
Hi @anjesh , I have set up the DNS but the application is responding with the resourcecontracts site.
This might be because of the following line in [init.sh](https://github.com/younginnovations/resourcecontracts-rc-subsite/blob/e993806a70b03362e99f335b5a019a4b9712f12c/config/init.sh):
[code]

[2018-03-28 11:35] anjesh commented on #1078
Hi @adinuca we won't be needing tanzania.openlandcontracts.org. OLC is just a demo and mightn't be needed anymore.

http://staging.tanzania.resourcecontracts.org is working but not http://tanzania.resourcecontracts.org/

[2018-03-28 11:43] adinuca commented on #1078
Both our set up now. I will check the logs to see what is happening.

[2018-03-28 11:46] anjesh commented on #1078
Thanks. I just pushed to the staging branch to check the staging site. Since TZ is already configured, i reckoned that the ENV variable for TZ are already present.

[2018-03-28 11:48] anjesh commented on #1078
Also Charles wants this site to be password-protected. Updates in dockerfile with regards to htpasswd?

[2018-03-28 11:52] adinuca commented on #1078
For the site to be password protected, the NGINX config for TZ needs to be changed and credentials need to be generated, also the build pipeline needs to be updated.

[2018-03-28 12:10] adinuca commented on #1078
staging.tanzania.resourcecontracts.org works now and tanzania.resourcecontracts.org as well, it will serve tanzania subsite, once you push the changes to production.

To have it password protected, you will have to create a new nginx config file and configure tanzania to use it, something like the following:
[code]

You will have to change the Dockerfile to copy inside the container the newly crea

[2018-03-28 12:26] charlesyoung commented on #1078
Thanks both.

Can you please however change below

![image](https://user-images.githubusercontent.com/13888372/38028575-a3381532-3293-11e8-9c53-6a6bb2c5987a.png)

to this:

A directory of
Resource Contracts from Tanzania

Like we do for the other country sites.
http://www.contratsminiersguinee.org/?lang=en

[2018-03-28 12:37] anjesh commented on #1078
Yes Charles. That's old configuration. So working on that.

@adinuca Updated the dockerfile, init, and added nginx template. And pushed to staging. Now need to create .htpasswd - you do that from your end?

[2018-03-28 12:38] adinuca commented on #1078
Thank you @anjesh , doing it now.

[2018-03-28 13:01] adinuca commented on #1078
Done, for both staging and master. Only user created so far is admin@nrgi.com/password . I can change it to another user, or add additional users if you need it.

I have also configured the certificate for tanzania.resourcecontracts.org, same for staging.

[2018-03-28 13:05] JesseCCSI commented on #1078
Hi @charlesyoung i just emailed you about the TZ OLC site - hoping you catch that before more work is done on this.

[2018-03-28 13:25] charlesyoung commented on #1078
Thanks @anjesh and @adinuca.

@JesseCCSI the http://tanzania.openlandcontracts.org site is still operational. We are setting up a RC Tanzania country site.

[2018-03-28 13:30] JesseCCSI commented on #1078
thanks @charlesyoung for clarifying - it looks like a few things have been changed so would be useful to clarify those (e.g. the original link we had for the staging site no longer works). will write offline now so as not to spam this ticket.

[2018-03-28 13:33] charlesyoung commented on #1078
@anjesh and @adinuca can you please take a look at the PDF and Text documents display. They don't seem to be displaying as shown below.

![image](https://user-images.githubusercontent.com/13888372/38032155-3aedc846-329d-11e8-9a6c-580c1d023cf0.png)

[2018-03-28 13:34] adinuca commented on #1078
http://tanzania.openlandcontracts.org  will no longer work once the changes made by @anjesh will reach production. That is the reason why staging does no longer work.

[2018-03-28 13:36] charlesyoung commented on #1078
We need to keep http://tanzania.openlandcontracts.org as well as have http://staging.tanzania.resourcecontracts.org. These are 2 different sites.

[2018-03-28 13:47] adinuca commented on #1078
The issue with the PDF, text not showing is because the user needs to be authenticated when accessing any resources of the website, but some of the resources on the website are loaded by some libraries, that do not take into account the fact that the user is logged in.

@charlesyoung why did you ask for the website to be protected by login? We could protect only the main pages and leave the '/api'

[2018-03-28 13:50] charlesyoung commented on #1078
Thanks @adinuca. tanzania.openlandcontracts.org displays open land contracts (agriculture, etc) while staging.tanzania.resourcecontracts.org will display extractives contracts (mining, etc).

Protecting only the main pages and leaving the '/api' endpoints unprotected will be ok.

[2018-03-28 13:59] adinuca commented on #1078
OK, that means we need 2 different instances, we need the old configuration and a new one for resourcecontracts.org. I will try to add it back now.

[2018-03-28 15:51] adinuca commented on #1078
The issue with text/PDF is now fixed on staging.

There are now 2 instances, one for RC and one for OLC, but  for me they look the same. @anjesh could you please take a look and see what I missed.

@anjesh , I did my changes on 1078-set-up-tanzania-rc-subsite branch, which I merged  with staging, should I merge it with master as well?

[2018-03-29 13:29] charlesyoung commented on #1078
Thanks @adinuca. Just one request please. The Open Land Contracts site should preferably be http://staging.tanzania.openlandcontracts.org because its only a demo site. We only remove the staging part when the site is live to the public.

[2018-03-29 17:16] adinuca commented on #1078
Hi @charlesyoung, so you don't want neither of the 2 Tanzania production sites, the tanzania.openlandcontracts.org or the tanzania.resourcecontracts.org to be available for now?

[2018-03-29 17:19] charlesyoung commented on #1078
That's correct, both are demo sites.

So the site should be http://staging.tanzania.openlandcontracts.org and http://staging.tanzania.resourcecontracts.org

Thanks

[2018-03-29 17:25] charlesyoung commented on #1078
Many thanks.

[2018-04-02 07:35] anjesh commented on #1078
@charlesyoung the current system seems to be designed in a way that there can be only one country subsite i.e. either RC or OLC for a given country. The reason we are seeing RC tagline in tz-OLC site is because of that. This needs to be handled as well if we are targetting both RC and OLC for TZ and might require a day or so to fix and handle this situation. If OLC is not of that priority, we can

[2018-04-02 15:37] KaitlinCCSI commented on #1078
We need to handle this, as there are multiple countries where this could
become an issue.

On Mon, Apr 2, 2018 at 2:35 AM, Anjesh <notifications@github.com> wrote:

[2018-04-03 07:15] charlesyoung commented on #1078
Agree that we need to address this issue because we could have multiple countries requiring both a RC and OLC country site.

[2018-04-03 07:37] anjesh opened #1099 "Fix the code to enable separate RC and OLC sites for a given country."
## What

- [ ] update code to enable the possibility of RC and OLC for the given country
- [ ] fix the code to reflect this change for the existing subsites tunisia.resourcecontracts.org, drc.openlandcontracts.org, guinea.resourcecontracts.org, tanzania.openlandcontracts.org and tanzania.resourcecontracts.org

## Why

Current code structure doesn't allow two subsites (RC and OLC) for a given count

[2018-04-03 07:38] anjesh commented on #1078
We will handle only TZ RC subsite in this issue. For addressing the RC and OLC site for any given country, I have created a new issue https://github.com/NRGI/resourcecontracts.org/issues/1099

[2018-04-06 11:43] charlesyoung commented on #1095
Implement a production country site for Zambia (zambia.resourcecontracts.org) by the 27/04.

cc @anjesh

[2018-04-16 07:56] charlesyoung commented on #1073
Translations completed.

cc @anjesh

[2018-04-16 08:00] charlesyoung commented on #1069
Fr = Convention de Vente d’Actions
Ar = اتفاقية شراء حصة

[2018-04-26 04:40] anjesh commented on #1095
@adinuca please create staging.zambia.resourcecontracts.org

[2018-04-26 05:29] adinuca commented on #1095
Hi @anjesh , I have created the zambia staging site, but when I tried to test it, I noticed that staging is not working. Do you know what the problem is?
![screen shot 2018-04-26 at 08 28 49](https://user-images.githubusercontent.com/3942821/39287326-df6dcc5a-492b-11e8-951d-7a801540a87b.png)

[2018-04-26 05:31] adinuca commented on #1095
Checked the logs, it looks like Elasticsearch is causing issues:
[code]

[2018-04-26 06:41] adinuca commented on #1095
Staging is back up. The hostname that we were to connect to Elasticsearch was no longer available. I have changed it to one that is available.

I will contact the provider that we are using for Elasticsearch to understand what has happened.

[2018-04-26 10:10] adinuca commented on #1095
Hi @charlesyoung , I will add the production site this week, protected by password. Will let you know when it is done.

[2018-04-26 10:40] anjesh commented on #1095
For ease, i have made the staging protected as well. Same previous credentials works admin@nrgi.com/password
Production should run once production site is created and branch pushed to master.

[2018-04-26 10:55] adinuca commented on #1095
https://zambia.resourcecontracts.org has been set up. It is now serving the resourcecontracts.org site, but once the subsite gets to production,  the correct site will be served and it will be protected by password.

[2018-04-27 15:04] adinuca commented on #1095
Hello,

Just wanted to let you know that Staging was broken from the 23rd till the 26th of April due to the fact that the SSL certificate for the Elasticsearch node could not renew automatically. All has been fixed now.
This is the message that we have received from Compose support, the Elasticsearch provider:

I've renewed this one already.

Production has not been affected by this issue and Stag

[2018-04-29 12:53] charlesyoung commented on #1095
Thanks @adinuca

When will the production site be operational?

[2018-05-02 06:25] adinuca opened #1100 "Investigate Curl error"
## Why
There have been a few emails and a few Papertrail alerts regarding "Curl error"
 coming from rc-admin

## What
- [ ] cause for  "Curl error" is found
- [ ] issues to fix the "Curl error" are raised

## Notes

[2018-05-02 12:39] anjesh commented on #1095
https://zambia.resourcecontracts.org/ ready with credentials admin@nrgi.com/password

[2018-05-03 03:41] anjesh commented on #438
Resolved through email comms.

[2018-05-03 03:41] #438 closed

[2018-05-03 06:53] charlesyoung commented on #1073
@anjesh just checking when this will be done.

https://docs.google.com/spreadsheets/d/1Gcki2iL95trnMFvJI44iDW4wZvtwBVKe84Ca8anNxxA/edit#gid=1022966203

cc @SamCCSI

[2018-05-04 12:03] charlesyoung commented on #1073
Please note that the updates should only apply to RC and not OLC.

cc @KaitlinCCSI @SamCCSI @anjesh

[2018-05-06 13:02] charlesyoung commented on #1091
Updated

[2018-05-06 13:02] #1091 closed

[2018-05-08 08:56] anjesh commented on #1095
@adinuca could you please check if ELASTIC_SEARCH_HOST=http://api-staging.resourcecontracts.org is set in the staging instance or not?

[2018-05-08 09:06] adinuca commented on #1095
Hi @anjesh , these 2 environment variables are set :
[code]

[2018-05-08 09:15] anjesh commented on #1095
Thanks @adinuca.

@charlesyoung Can you see if it's working?
http://api-staging.resourcecontracts.org/contracts?country_code=zm and http://api.resourcecontracts.org/contracts?country_code=zm gives 8 contracts. Let us know if the changes are reflected or not.

[2018-05-08 09:32] charlesyoung commented on #1095
I don't see the change. Below doc shows on the staging RC global site but not on the staging country site.

http://admin-staging.resourcecontracts.org/contract/2283

http://staging.resourcecontracts.org/search?q=&country%5B%5D=zm

[2018-05-08 09:56] adinuca opened #1101 "Enable ABBYY in staging"
## Why
Charles is giving training in Zambia and he needs ABBYY activated on the staging site.

## What
- [x] enable ABBYY in rc-admin staging

## Notes

[2018-05-08 14:42] charlesyoung commented on #1095
Any luck looking at this issue?

cc @anjesh @adinuca

[2018-05-08 15:50] anjesh commented on #1095
@adinuca could you also set GN_ELASTIC_SEARCH_HOST to http://api-staging.resourcecontracts.org in staging server. It looks like that value of GN_ELASTIC_SEARCH_HOST is set as ELASTIC_SEARCH_HOST when .env for Zambia is created, hence it's showing the production numbers.

tanzania staging is working though.

[2018-05-08 16:01] adinuca commented on #1095
Hello, I will check first why this doesn't work. From the code it looks like it should be set to ELASTIC_SEARCH_HOST.

[2018-05-08 16:10] adinuca commented on #1095
The issue is that .env for Zambia is generated after the one for Guinea, after setting ELASTIC_SEARCH_HOST to GN_ELASTIC_SEARCH_HOST. If you move the generation  of the .env for Zambia before the one for Guinea, it should work as expected.
[code]

[2018-05-08 16:19] anjesh commented on #1095
thanks. It looks like production API was set for temporary testing in GN https://github.com/NRGI/resourcecontracts.org/issues/1077#issuecomment-345245172. I am going to remove `export ELASTIC_SEARCH_HOST=${GN_ELASTIC_SEARCH_HOST}` line from .env template and ZN staging should work.

[2018-05-08 16:41] anjesh commented on #1095
http://staging.zambia.resourcecontracts.org/ count matches with api staging http://api-staging.resourcecontracts.org/contracts?country_code=zm
@charlesyoung have a look

[2018-05-08 16:53] charlesyoung commented on #1095
Thanks both, it's working.

[2018-05-09 05:36] adinuca commented on #1101
This has been completed.

[2018-05-09 05:36] #1101 closed

[2018-05-18 17:55] JesseCCSI opened #1102 "Fixing errors introduced to OLC TZ staging site"
When OLC TZ staging site was accidentally changed to an RC staging site (see #1078), the name of the site was changed (to "A directory of Resource Contracts from Tanzania, United Republic of") and other aspects of the site were changed.

Is it possible for the staging site to revert in full to how it was prior to the mix up? If not, these issues should be fixed. Issues include:
- name should be "A

[2018-05-23 08:08] #942 closed

[2018-05-24 08:57] charlesyoung opened #1103 "Language options"
Seems that all the country site language options were for some reason switch off.

It also seems that the documents are displayed in English even if French or Arabic translations have been created.

Example below, the English document is displayed when selecting French but there is a French version available.
DRC, Société Minière de Bakwanga SARL, BHP Billiton World Exploration Inc, Concession, 20

[2018-06-11 07:52] charlesyoung opened #1104 "Mechanical Turk repeat"
Seems like there are 2 docs where the same 2 pages are repeatedly being processed through Mechanical Turk.

![image](https://user-images.githubusercontent.com/13888372/41217472-48e60d1e-6d58-11e8-866f-cbdee13d0172.png)

[2018-06-11 08:54] anjesh commented on #1060
open oil logo displayed in production @anderspeders

![image](https://user-images.githubusercontent.com/120488/41221865-220946ca-6d85-11e8-8839-2e7aaacd99b4.png)

[2018-06-13 03:48] anjesh commented on #1060
@anderspeders reverted back

[2018-06-18 10:37] anderspeders opened #1105 "Add "minerals" filter option - beyond the current selection"
## Why

As a user I would like to not have to browse the full list of minerals but simply be able to filter all minerals contracts.

## What

This would potentially require an additional category.

## Notes

[2018-06-19 21:48] SamCCSI opened #1106 "Annotations not always saving; listing wrong categories"
## Why
Bug reporting

## What
Our pro bono annotators have been entering annotations but (i) some annotations don't save, so they lose their work and (ii) for those that DO save, initially, in the back-end they are listed in the left column but the heading is for a different annotation category.
@anjesh is there anything you can do to help?

## Notes
Here is the contract that was being annotated:

[2018-06-20 09:54] #1060 closed

[2018-06-22 05:57] adinuca commented on #1097
This has been raised again as part of #1106.

Closing this as duplicate.

[2018-06-22 05:57] #1097 closed

[2018-07-10 15:07] SamCCSI opened #1107 "OLC Search by annotation category bug"
## What
When I search for contracts with the "Community consultation" annotation category, I get zero results.
![screenshot 2018-07-10 11 05 12](https://user-images.githubusercontent.com/12913915/42519049-29263efa-8431-11e8-9a15-005f331fbe24.png)

But there *are* contracts with these annotation category. E.g. http://www.openlandcontracts.org/contract/ocds-591adf-8366243767/view#/pdf/page/17/annota

[2018-07-11 17:04] adinuca commented on #1106
Hi @anjesh , there have been a few emails today, regarding errors when saving notifications.  Have you had a chance to look at this issue yet? Maybe the stacktrace from the emails will be helpful.

[2018-07-12 16:47] SamCCSI commented on #1106
I am also noticing that some (older) annotated contract don't let me edit existing annotations in the annotation view at all. I make a change to the annotation, save it, it notifies me that the annotation is saved but the changes don't register, even when i refresh the page.

So instead i have to go to the metadata page, scroll down to the annotations and edit them there, which is more laborious.

[2018-07-12 19:30] jedm commented on #1107
Hi @SamCCSI and everyone. Sam, is there any chance that this is one of the contracts or annotations that has been changed since the other annotation problems (#1097 and  #1106) were occurring? Or more likely fully unrelated?

[2018-07-13 14:29] SamCCSI commented on #1107
@jedm It is a different contract from the other ones I had issues with in #1097 and #1106, but the problem is the same. So they are related insofar as they are examples of the same bugs in the annotation function

[2018-07-20 11:11] charlesyoung opened #1108 "License identifier"
Allow for the representation of license identifiers with a backslash, dash, slash, etc (examples: SML 44/99 and 20584-HQ-LML) to allow for future linkages to the relevant cadastre public map portals.

[2018-07-20 14:06] charlesyoung opened #1109 "Renewable energy contracts"
For discussion, inclusion of renewable energy contracts.

[2018-07-20 14:20] SamCCSI commented on #1109
This is a question the OLC team has been reflecting on, as well. We would therefore love to be kept in the loop on this.

OLC already has 3 biofuels contracts http://www.openlandcontracts.org/resource/Biofuels and 2 Buchanan renewables contracts http://www.openlandcontracts.org/search?q=buchanan

[2018-07-23 07:15] charlesyoung commented on #1075
I received below messages today relating to batching hits. We will need address this issue.
---------------------------
Hello, um can't you just condense your surveys in hits. The license read survey can have many different hits condense in their one survey. One survey with 400+ hits. Not one survey per one hit.
---------------------------
Please put these up as one hit group.  You putting up 1000

[2018-07-23 12:45] SamCCSI commented on #1075
@charlesyoung this is at our end; my apologies. We had a group of new documents all needing transcription, and hadn't realized (or remembered) that this was a concern. Will try to limit it to one new doc at a time to avoid creating these problems for MT workers again

[2018-07-23 13:00] charlesyoung commented on #1075
No problem @SamCCSI. I think we need to in any case look at this issue because it have been raised on numerous times by Turkers.

[2018-07-26 13:25] charlesyoung opened #1110 "Mturk page mismatch"
![image](https://user-images.githubusercontent.com/13888372/43265030-ee504c12-90e7-11e8-85de-5ee4a507202f.png)

[2018-07-27 16:06] adinuca opened #1111 "Propose a solution for Elasticsearch from RC staging scaling up"
## Why
The Elasticsearch deployment used by RC staging keeps scaling up which involved an increase in costs.

## What
- [x] investigation is done on the increase of memory usage which cause the deployment to scale up
- [x] findings are communicated to Anders, Frank and the RC team

## Notes
The deployment has been scaled down in April from 10GB and 1GB memory to 5GB disk space and 510MB memory. Si

[2018-07-30 07:48] charlesyoung commented on #1111
@adinuca can you please keep me in the loop on your findings. How much time will you need to run your investigation?

[2018-07-30 08:14] adinuca commented on #1111
Hi @charlesyoung , all my findings will be added on this issue. I will try to tackle it tomorrow. I have added a 5h estimate on this.

[2018-07-31 10:47] adinuca commented on #1111
Findings on the issue:
- we are using an Elasticsearch version that has reached end of life on the 28th of February, 2018([Elasticsearch documentation](https://www.elastic.co/support/eol)), we should upgrade to a newer version
- normal usage of memory is close to the limit or a bit above the limit. Whenever the application is used intensively, hitting Elasticsearch, the amount of memory used incre

[2018-07-31 10:50] charlesyoung commented on #1111
Thanks @adinuca.

What is involved upgrading to the new version?

Will the new version handle memory usage better?

[2018-07-31 10:56] adinuca commented on #1111
My advice for now would be to scale the staging deployment up to 10GB of disk space and 1GB of RAM to avoid downtime for RC staging.

On the long term, my advice is to update index.resourceontracts.org and api.resourcecontracts.org to use a newer version of Elasticsearch, this will involve code changes, migrating Elasticsearch to a newer version and also lots of testing. The transition will have t

[2018-07-31 11:02] charlesyoung opened #1112 "Elasticsearch update"
For discussion.

Update index.resourceontracts.org and api.resourcecontracts.org to use the latest version of Elasticsearch.

[2018-07-31 11:06] adinuca commented on #1112
Thank you @charlesyoung .
The version that we are currently using is 2.4 which is no longer maintained since the beginning of this year. The latest version is 6.3.

Activities involved would be :
- updating Elasticsearch cluster
- updating the PHP Elasticsearch client used by index.resourcecontracts.org and api.resourcecontracts.org
- fixing incompatibilities between versions
- testing

[2018-07-31 12:09] adinuca commented on #1111
Sent email to the team.

[2018-07-31 12:09] #1111 closed

[2018-08-02 09:38] charlesyoung opened #1113 "Legal Entity Identifier"
For discussion.

Inclusion of the Legal Entity [Identifier ](https://www.gleif.org/en/about-lei/introducing-the-legal-entity-identifier-lei)as a unique identification of legal entities participating in financial transactions.

[2018-08-03 06:08] adinuca commented on #1112
Email from Compose from the 2nd of August:

[2018-08-06 14:41] charlesyoung commented on #1073
@anjesh just following up on the status of this ticket.

[2018-08-15 14:40] charlesyoung opened #1114 "Contract Import CSV / Excel file"
Extend the contract import CSV / Excel file to include additional data like if its a main or supporting document, document URL, etc.

[2018-08-29 09:25] adinuca opened #1115 "Use a single Load balancer for staging and production"
## Why
We would save ~$70 each month if we would use one Load Balancer to serve requests for Staging and Production.

## What
- [x] RC subsites for staging and production are served from the same ELB
- [x] RC index for staging and production are served from the same ELB
- [x] RC API for staging and production are server from the same ELB
- [x] RC Admin for staging and production are served from th

[2018-08-29 16:45] adinuca commented on #1115
http://api-staging.resourcecontracts.org/, http://index-staging.resourcecontracts.org/, https://staging.resourcecontracts.org/ and https://admin-staging.resourcecontracts.org/ are all served from the same load balancer. This change will save approximately $50/month for the AWS bill.

We could further decrease the costs by moving all RC applications to the same ELB. I will be investigating the adva

[2018-08-30 06:48] adinuca commented on #1115
I could not find any disadvantages. I will raise another issue for this.

[2018-08-30 06:48] #1115 closed

[2018-08-30 06:51] adinuca opened #1116 "Move all RC applications to the same load balancer"
## Why
To decrease the costs for AWS we can configure one ALB to serve all RC applications. This would save approximately $80/months from the AWS bill.

## What
- [x] All targetgroups for RC are moved to resource-contracts-lb

## Notes
This might cause a few minutes of downtime for each of the applications. The RC team should be notified before moving them.

[2018-08-30 15:33] SamCCSI opened #1117 ""Error in processing: NotEnoughCredits""
Just uploaded a contract to OLC and got this message when I tried to look at text version. "Error in processing: NotEnoughCredits"

@charlesyoung

http://admin.resourcecontracts.org/contract/2858
http://admin.resourcecontracts.org/contract/2859

[2018-09-03 08:28] adinuca opened #1118 "Investigate and fix "Undefined index order" error from RC Subsites"
## Why
There are lots of error messages with "Undefined index  error" in the logs, every day.  We should fix the problem producing the logs or stop logging it as an error

## What
- [ ] Error found in the logs are investigated and the issue is fixed or the message is logged using another log level

## Notes
Error appears for RC Subsites, production.
[code]

[2018-09-03 08:31] adinuca commented on #1118
Hi @anjesh, could you please take a look at this issue. The error is present only in the Production logs, but this might be because Staging is not used as much.

Thank you!

[2018-09-05 09:02] anjesh commented on #1073
@charlesyoung this is the status after updates in staging site.

document.type | olc | rc
-- | -- | --
Amendment to Social Agreement of Contract   Specifications | 1 | NA
Annulation de permis | NA | 1
Clause sociale | 1 | NA
Company-Company Contract | NA | 4
Company-State Contract | NA | 1514
Company-State Model Contract | NA | 71
Contract | 214 | NA
Decree | 6 | NA
Document Summary | 6 | 1
Enviro

[2018-09-05 13:30] charlesyoung commented on #1073
I know this is still on the staging site but there are 47 documents with contract document type which should be Company-State Contract.

[2018-09-05 16:13] anjesh commented on #1073
Can you list those contracts - with the URLs? Are you referring to staging-admin or staging-subsite. If it's staging-subsite, you might be right because staging-subsite is using ES-index which is updated for the newly updated contracts. There shouldn't be issue with the data in staging-admin.

[2018-09-06 09:44] anjesh commented on #1073
"Annulation de permis" and "Ratification" still appear here as it doesn't have substitution. They are to be removed as per [this](https://docs.google.com/spreadsheets/d/1Gcki2iL95trnMFvJI44iDW4wZvtwBVKe84Ca8anNxxA/edit#gid=1022966203) @charlesyoung

[2018-09-07 07:08] anjesh commented on #1073
Updated in production now. @charlesyoung

[2018-09-07 09:12] charlesyoung commented on #1073
Thanks @anjesh

Just noticed that there is 1 [doc ](http://www.resourcecontracts.org/search?q=&document_type%5B%5D=Model+Contract)still noted as doc type = model contract while in the [backend ](http://admin.resourcecontracts.org/contract/2174)it is correctly noted as Company-State Model Contract.

Also strange that its even displayed on the global site because it hasn't been published yet.

[2018-09-07 10:08] anjesh commented on #1073
I am not sure how this happened. The reason it's appearing in global site with different doc-type is because we can't re-publish that contract from the interface. I will see if that could be removed from ES index.

[2018-09-07 10:41] charlesyoung commented on #1073
@anjesh I can always delete, re-add the metadata and republish the model contract if that will be easier.

[2018-09-07 10:46] anjesh commented on #1073
Thanks - that would be easier :)

[2018-09-07 11:54] charlesyoung opened #1119 "The AWS Access Key Id you provided does not exist in our records."
@adinuca any idea why I'm getting this error?

![image](https://user-images.githubusercontent.com/13888372/45217705-60e88800-b2a5-11e8-8cf3-4ca4ca34bde5.png)

[2018-09-07 11:55] adinuca commented on #1119
Hi @charlesyoung , no idea but I can check. Can you tell me where are you seeing this, on which page?

[2018-09-10 07:10] anjesh commented on #1073
working now.

[2018-09-10 07:10] #1073 closed

[2018-09-10 14:53] charlesyoung commented on #1073
Thanks @anjesh

[2018-09-10 18:47] adinuca commented on #1116
api.resourcecontracts.org(and api-production.resourcecontracts.org) and admin.resourcecontracts.org have been moved to the new load balancers.

index.resourcecontracts.org and resourcecontracts.org(and subsites) still need to be moved.

[2018-09-11 07:15] adinuca commented on #1116
Leaving resourcecontracts.org as it is because there are domains which are not handled in AWS and point to the rc-subsites application.

[2018-09-12 12:42] charlesyoung commented on #1116
@adinuca can I close this ticket?

[2018-09-12 14:54] adinuca commented on #1116
Hi @charlesyoung , I haven't done index.resourcecontracts.org. I need to check if I can do it without causing any downtime.

[2018-09-12 15:30] adinuca commented on #1116
@charlesyoung , I will move this for next week. I will close it once it is done.

[2018-09-12 15:33] charlesyoung commented on #1116
Thanks @adinuca

[2018-09-12 15:33] adinuca opened #1120 "Add GTM for RC"
## Why
Julie Goopta:

## What
- [x] GTM snippet is added on every page of RC

## Notes
[code]

[2018-09-12 16:57] charlesyoung opened #1121 "Update RC description"
Change from: An online repository of publicly available contracts for large-scale land, agriculture, and forestry projects. The repository includes the full text of contracts; plain language summaries of each contract’s key social, environmental, human rights, fiscal, and operational terms; and tools for searching and comparing contracts.

To: An online repository of publicly available oil, gas, a

[2018-09-13 09:16] adinuca commented on #1120
Requests to GTM are failing with 404, as if the ID is not correct.

[2018-09-13 11:41] adinuca commented on #1120
The GTM ID is set only for resourcecontracts.org. The subsites can be configured after, each having a specific ENV variable.

[2018-09-13 11:41] #1120 closed

[2018-09-17 14:53] anderspeders opened #1122 "RC.org not secure, SSL certificate issue?"
## Why
![image](https://user-images.githubusercontent.com/1101585/45630989-e28ba300-ba67-11e8-9a24-e8132fddc9a1.png)

## What

## Notes

[2018-09-17 14:56] adinuca commented on #1122
Same as https://github.com/NRGI/national-resource-governance-index/issues/139 .

[2018-09-17 15:01] adinuca opened #1123 "Redirect requests coming on http to https"
## Why
Resourcecontracts.org is flagged as `not secure` when it is accessed using http protocol.

## What
- [x] http://resourcecontracts.org is redirected to https://resourcecontracts.org
- [x] the above is applied to all subsites
## Notes
This was flagged by Anders in #1122

[2018-09-18 14:18] adinuca opened #1124 "Potential security vulnerability in one of your dependencies ."
## Why
GitHub is reporting a potential security vulnerability in [RC subsites](https://github.com/younginnovations/resourcecontracts-rc-subsite) because of the jquery version that we are using.

## What
- [ ] Jquery is upgraded to the recommended version

## Notes
![Screen Shot 2018-09-18 at 17.17.02.png](https://images.zenhubusercontent.com/59816b15f8b79f8376e1a068/0b761d1d-4506-488f-a093-c145f10

[2018-09-19 08:18] adinuca opened #1125 "Migrate Elasticsearch from Compose to elastic.co"
## Why
- We want to move away from Compose as their customer support is not the best and they to not have an alerting system to let you know if your deployments have scaled up. This has caused huge unexpected invoices in the past.
- Elasticsearch version currently used is no longer maintained and Compose will no longer support it starting with October 31st

## What
- [x] Elasticsearch is upgraded

[2018-09-19 08:18] adinuca commented on #1112
Created #1125 for handling the migration.

[2018-09-19 08:18] #1112 closed

[2018-09-19 08:26] adinuca opened #1126 "Migrate Elasticsearch deployment for RC Staging away from Compose"
## Why
- We want to move away from Compose as their customer support is not the best and they to not have an alerting system to let you know if your deployments have scaled up. This has caused huge unexpected invoices in the past.
- Elasticsearch version currently used is no longer maintained and Compose will no longer support it starting with October 31st

## What
- [ ] RC Staging Elasticsearch d

[2018-09-20 10:02] charlesyoung commented on #1100
@adinuca just checking if this issue has been resolved.

[2018-09-20 10:04] adinuca commented on #1100
I haven't seen it recently but I don't think it has been fixed.

[2018-09-20 10:33] charlesyoung commented on #1100
@adinuca can you please take a look so that we can either address the issue or close the case. Thanks

[2018-09-20 11:43] adinuca commented on #1100
The error last occurred in Production on the 3rd of July and there hasn't been a fix for it.

We can close it for now and investigate if it occurs again.

[2018-09-20 13:12] #1100 closed

[2018-09-20 13:14] charlesyoung commented on #1118
@adinuca could you investigate more or do you need YI's help?

[2018-09-20 15:30] adinuca commented on #1118
Hi @charlesyoung ,

We can investigate this but it would probably take us a bit longer to fix it than it would take YI.

[2018-09-21 06:09] charlesyoung commented on #1126
@adinuca just checking on the timing of the migration so that I can be ready to do the testing.

[2018-09-21 06:20] adinuca commented on #1126
Hi @charlesyoung . I am expecting it to be ready for testing in the second week of October. I will let you know if the plan changes in any way.

Thank you!

[2018-09-21 07:51] adinuca commented on #1119
Waiting for more instructions regarding the server where the application is running.

[2018-09-21 10:56] adinuca commented on #1116
We have decreased the number of load balancers used from 13 to 5 and the costs with approximately $150/month.

RC index application has not been moved as it doesn't work properly if 2 instances are started in the same time. Will raise a separate issue for it.

[2018-09-21 10:56] #1116 closed

[2018-09-21 11:00] adinuca opened #1127 "Investigate why 2 instances of RC-index don't work in parallel"
## Why
It is ideal if 2 instances of the same application could work in parallel because the number of containers could be scaled up if needed, to handle more requests.

## What
- [ ] Investigation is done to understand why only the first instance of rc-index that is started shows results when using the /logger endpoint

## Notes
This was found while trying to move rc-index to the RC load balancer

[2018-09-24 06:39] adinuca opened #1128 "Investigate changes needed to migrate to latest version of Elasticsearch"
@adinuca commented on [Mon Sep 24 2018](https://github.com/NRGI/nrgi-dcos/issues/327)

## Why
- We want to move away from Compose as their customer support is not the best and they to not have an alerting system to let you know if your deployments have scaled up. This has caused huge unexpected invoices in the past.
- Elasticsearch version currently used is no longer maintained and Compose will no

[2018-09-24 16:39] anderspeders commented on #1123
👍

[2018-09-24 16:40] anderspeders commented on #1121
👍

[2018-09-24 16:51] anderspeders commented on #1113
As follow up:

1) Should we add both the ID and the URL to the ID on the LEI site?

2) Is it worth adding a few examples from the current RC.org database?

[2018-09-24 17:15] adinuca commented on #1123
This has been deployed to production.

Also, certificates have been generated for openlandcontracts.org and openladcontracts.com.

[2018-09-24 17:15] #1123 closed

[2018-09-25 07:08] adinuca commented on #1128
RC-API changes required:
- Docker needs to be build using a different base image to support the required version of Elasticsearch library - `php:7.1.22-apache-jessie` would do the trick
- libraries that are used inside the application need to be updated
- elasticsearch library needs to be updated to version 5 and after testing is done and the data is migrated to Elasticsearch 6, it should be updat

[2018-09-25 09:44] charlesyoung commented on #1119
@adinuca while we recommend hosting RC country sites some governments, like Sierra Leone and DRC, have requested that they host the country site. Can we arrange a call to discuss the implications?

[2018-09-25 09:56] charlesyoung commented on #1113
We could follow the RC OpenCorporates method by just adding the URL.

As an example.
Randgold Resources Limited on [RC](https://www.resourcecontracts.org/contract/ocds-591adf-4498305521/view#/pdf).
Randgold Resources Limited on [LEI](https://www.gleif.org/lei/2138002TSG2FEQZOYH72).

[2018-09-25 11:46] adinuca commented on #1119
Hi @charlesyoung , I am available either today or tomorrow for a chat. Let me know what works best for you.

[2018-09-25 12:33] adinuca opened #1129 "Update RC API Staging to use Elasticsearch 5"
## Why
- We want to move away from Compose as their customer support is not the best and they to not have an alerting system to let you know if your deployments have scaled up. This has caused huge unexpected invoices in the past.
- Elasticsearch version currently used is no longer maintained and Compose will no longer support it starting with October 31st

## What
- [x] RC-API now works with Elas

[2018-09-25 13:25] adinuca opened #1130 "Update RC-API to use Elasticsearch 6"
## Why
- We want to move away from Compose as their customer support is not the best and they to not have an alerting system to let you know if your deployments have scaled up. This has caused huge unexpected invoices in the past.
- Elasticsearch version currently used is no longer maintained and Compose will no longer support it starting with October 31st

## What
- [ ] RC-API now works with Elas

[2018-09-25 13:27] adinuca opened #1131 "Update RC Index to work with Elasticsearch 6"
## Why
- We want to move away from Compose as their customer support is not the best and they to not have an alerting system to let you know if your deployments have scaled up. This has caused huge unexpected invoices in the past.
- Elasticsearch version currently used is no longer maintained and Compose will no longer support it starting with October 31st

## What
-  [ ] RC-Index works with Elast

[2018-09-25 13:29] adinuca opened #1132 "Move Elasticsearch for RC Staging from Compose to elastic.co"
## Why
- We want to move away from Compose as their customer support is not the best and they to not have an alerting system to let you know if your deployments have scaled up. This has caused huge unexpected invoices in the past.
- Elasticsearch version currently used is no longer maintained and Compose will no longer support it starting with October 31st

## What
-  [x] Data from Compose deploym

[2018-09-25 13:31] adinuca opened #1133 "Document plan for upgrading and moving Elasticsearch in Production"
## Why
- We want to move away from Compose as their customer support is not the best and they to not have an alerting system to let you know if your deployments have scaled up. This has caused huge unexpected invoices in the past.
- Elasticsearch version currently used is no longer maintained and Compose will no longer support it starting with October 31st

## What
-  [x] Plan is created for migra

[2018-09-25 13:50] adinuca commented on #1128
RC-Index - same changes are required as for RC-API to migrate to Elasticsearch v5

[2018-09-25 14:44] adinuca opened #1134 "Update RC-Index to work with Elasticsearch 5"
@adinuca commented on [Tue Sep 25 2018](https://github.com/NRGI/nrgi-dcos/issues/328)

## Why
- We want to move away from Compose as their customer support is not the best and they to not have an alerting system to let you know if your deployments have scaled up. This has caused huge unexpected invoices in the past.
- Elasticsearch version currently used is no longer maintained and Compose will no

[2018-09-25 15:06] adinuca commented on #1128
Elasticdump can be used for moving data from Compose to elastic.co . Tried it for the staging data.

[2018-09-26 04:46] adinuca commented on #1128
It took approximately one hour to move one index from Compose to elastic.co . There are 2 indices.

[2018-09-26 05:10] adinuca commented on #1127
2 Instances of rc-index can work in parallel.

The issue is that there are no log files on disk when the application starts, log files are created while the application is in use and they are lost when an application is redeployed.

@charlesyoung  do you know if http://index.resourcecontracts.org/logger is used by anybody? They will only see the logs since the application was deployed.

[2018-09-26 05:15] adinuca opened #1135 "Investigate remote_syslog - illegal seek error"
## Why
The logs are full with the illegal seek error:
[code]
## What
- [x] investigation is done on why the error occurs
- [x] further issues are raised to fix the issue
## Notes

[2018-09-26 07:28] adinuca commented on #1127
This will not get fixed as the page is not in use.

[2018-09-26 07:28] #1127 closed

[2018-09-26 08:37] adinuca commented on #1128
For migrating from version 5 to version 6, only the version of the ES library needs to be upgraded.

More issues might be found during testing.

[2018-09-26 08:43] adinuca opened #1136 "Create Beta environment"
## Why
- We want to move away from Compose as their customer support is not the best and they to not have an alerting system to let you know if your deployments have scaled up. This has caused huge unexpected invoices in the past.
- Elasticsearch version currently used is no longer maintained and Compose will no longer support it starting with October 31st

## What
- [ ] Beta service is created fo

[2018-09-26 08:54] adinuca commented on #1125
The migration will have 3 stages:
   - create beta environment( to be able to compare with production) #1136
1. Upgrade ES from version 2.4 to version 5
   - update rc-api to use ES library v5 #1129
   - update rc-index to use ES library v5 #1134
   - migrate the data from ES from version 2 to version 5
   - updadate nrgi-dcos with new config for ES
   - deploy to staging
   - test and ask Charles

[2018-09-26 08:55] adinuca commented on #1133
Plan has been documented on #1125 .

[2018-09-26 08:55] #1133 closed

[2018-09-26 09:00] adinuca opened #1137 "Migrate Elasticsearch to version 5 in Production"
## Why
- We want to move away from Compose as their customer support is not the best and they to not have an alerting system to let you know if your deployments have scaled up. This has caused huge unexpected invoices in the past.
- Elasticsearch version currently used is no longer maintained and Compose will no longer support it starting with October 31st

## What
- [x] rc-admin is taken down or

[2018-09-26 09:06] adinuca opened #1138 "Move Elasticsearch data for RC production, from Compose to elastic"
## Why
- We want to move away from Compose as their customer support is not the best and they to not have an alerting system to let you know if your deployments have scaled up. This has caused huge unexpected invoices in the past.
- Elasticsearch version currently used is no longer maintained and Compose will no longer support it starting with October 31st

## What
- [x] Deploy to production is sc

[2018-09-26 09:13] adinuca commented on #1128
All issues have been raised.

[2018-09-26 09:13] #1128 closed

[2018-09-26 09:14] adinuca commented on #1126
This is no longer needed as the migration will be made in 3 steps, as documented on #1125 .

[2018-09-26 09:14] #1126 closed

[2018-09-26 11:28] adinuca commented on #1129
Query format has changed and `fields` has been removed and `_source` should be used.

[2018-09-26 17:00] adinuca commented on #1129
Hi @charlesyoung . Staging is ready for testing.

Please let me know if you find any issues.

Thank you!

[2018-09-27 06:12] charlesyoung opened #1139 "Guinea country site"
Filter out hydrocarbon documents on the Guinea country site

[2018-09-27 07:38] charlesyoung commented on #1129
@adinuca I did some backend checks and all looks good. The public global staging site however seems down.

![image](https://user-images.githubusercontent.com/13888372/46130229-09509300-c239-11e8-9bbf-8ee9573ff7de.png)

[2018-09-27 07:40] adinuca commented on #1129
@charlesyoung thank you. Which is the global staging site? What is the URL?
https://staging.resourcecontracts.org/ works fine for me.

[2018-09-27 07:41] charlesyoung commented on #1129
Try running a search.

[2018-09-27 07:42] adinuca commented on #1129
Thank you, I will take a look.

[2018-09-27 11:46] adinuca opened #1140 "Free search returns all documents"
## Why
The search on the main screen of staging.researchcontracts.org returns all documents. It should filter them by the searched term.

## What
- [x] Search returns relevant results
## Notes
Steps to reproduce:
1. Go to staging.resourcecontracts.org
2. In the search bar, type `gold`

Expected results:
Only resources related to the search term should be returned

Actual results:
All resources are

[2018-09-28 13:29] adinuca commented on #1135
A workaround has been applied for both rc-api and rc-index. The logs for apache are written in the supervisord log folder and are then sent to Papertrail.

[2018-09-28 13:29] #1135 closed

[2018-09-30 14:41] adinuca commented on #1140
This issue has been fixed on branch #1129 .

[2018-09-30 14:41] #1140 closed

[2018-10-01 03:57] adinuca commented on #1129
Hi @charlesyoung ,

The search issue should be fixed. Please take a look and let me know if you find any other problems.

Thank you!

[2018-10-02 06:00] charlesyoung commented on #1129
Thanks @adinuca; the search issue seems resolved.

Can you however please check the number of contracts because it seems lower than what's published in the backend.

[2018-10-02 07:13] adinuca opened #1141 "RC-API Contracts count throws an error(staging)"
## Why
- We want to move away from Compose as their customer support is not the best and they to not have an alerting system to let you know if your deployments have scaled up. This has caused huge unexpected invoices in the past.
- Elasticsearch version currently used is no longer maintained and Compose will no longer support it starting with October 31st

## What
- [x] Count endpoint(`/contracts

[2018-10-02 07:40] adinuca commented on #1141
This has been fixed and deployed to staging. It has been merged in the branch related to #1129 .

[2018-10-02 07:40] #1141 closed

[2018-10-02 07:43] adinuca commented on #1129
Hi @charlesyoung , I did indeed find an issue related to counting the documents, but I am not sure this is related to the issue you reported.

Could you please tell me how you checked the number of contracts and what are you expecting this to be?

Thank you!

[2018-10-02 09:11] charlesyoung commented on #1129
All good, thanks.

[2018-10-02 18:47] anderspeders commented on #1137
Thanks - it is great to see this plan shape up!

[2018-10-03 10:19] adinuca commented on #1121
Hi @charlesyoung , should the description change only for resourcecontracts.org or for olc, drc and country sites as well?

[2018-10-03 10:35] charlesyoung commented on #1121
@adinuca the changes should only apply to RC and the RC country sites and not OLC. See below examples.

![image](https://user-images.githubusercontent.com/13888372/46405411-7b791a00-c708-11e8-899f-00f8da5a4e39.png)

![image](https://user-images.githubusercontent.com/13888372/46405463-9e0b3300-c708-11e8-81ae-d41b66be6be3.png)

[2018-10-03 12:53] adinuca commented on #1121
The changes have been made for Staging. Waiting for Google to pick them out to be able to test this.

[2018-10-04 13:01] charlesyoung opened #1142 "Mexico documents import"
Backend import of Mexico documents.

[2018-10-04 13:02] #102 closed

[2018-10-05 03:54] adinuca commented on #1121
Changes haven't been done for Google, for Staging yet. Moving it for next week.

[2018-10-05 04:03] adinuca opened #1143 "Error with malformed query in Staging logs"
@adinuca commented on [Fri Oct 05 2018](https://github.com/NRGI/nrgi-dcos/issues/331)

## Why
The migration of Elasticsearch 2.4 to 5 should not pe deployed to production while there are errors logged.

## What
- [ ] Issue from the bellow logs is investigated and fixed

## Notes
Logs:
[code]

[2018-10-05 04:05] adinuca commented on #1137
Because of the errors in the logs(#1143), this issue has been postponed for next week.

[2018-10-05 06:15] #1117 closed

[2018-10-05 07:28] adinuca commented on #1121
Hi @charlesyoung, I just wanted to make sure I changed the right thing. Changes came through for staging so I am going to deploy it to production now.

[2018-10-05 07:29] adinuca commented on #1121
Will close this issue once the changes are available in search engines for resourcecontracts.org and subsites.

[2018-10-05 08:44] adinuca commented on #1143
Following request generates the log
[code]

[2018-10-08 10:03] adinuca commented on #1143
Found the fix here: https://github.com/elastic/elasticsearch-php/issues/495

[2018-10-08 16:04] adinuca commented on #1137
Hi @charlesyoung ,

I would like to try and migrate Elasticsearch in Production on Thursday morning. Would that be OK?

The biggest risk factor is Compose not working properly, if this happens I will have to abort and retry at another time. It happened a few times with the other migrations.

Let me know what hour would be best for this.

As previously mentioned, no downtime is expected for resourc