[2015-10-01 16:52] anjesh commented on #427
When the contract is uploaded, the pdf goes through processing - splitting pdf pages, OCR those pages (through pdftotext cmd or abby) and saves to the database. So we have deliberately not allowed re-upload pdf. Reuploading means first deleting three sets of data - whole pdf file, split pdf pages, and text content. That means if annotations are already added, then there might be problems with anno

[2015-10-01 16:54] anderspeders commented on #428
thanks for clarifying

[2015-10-01 16:57] anderspeders commented on #431
@charlesyoung I think many of these are indeed from the Philippines.

Could you ask the team at PH-EITI to make these edits (by adding the category to be ResourceContracts)?

[2015-10-01 17:02] byndcivilization commented on #347
Anyone? @jedm @SamCCSI @KaitlinCCSI ? Would like to push this and some other changes to @anjesh .

[2015-10-01 17:06] JesseCCSI commented on #429
Many thanks, @anjesh !

[2015-10-01 17:07] jedm commented on #347
I suggest no box background. This way lacks design.

[2015-10-01 17:21] anderspeders opened #432 "RC: Data cleaning and harmonization of metadata"
Pull data fields for the following:

- Company Name
- Resource
- Contract type

- Annotation category

These will all require mapping to current codelists.

@anjesh Can you provide an expot so that we can begin the data mapping?

[2015-10-01 18:13] byndcivilization opened #433 "Create loose link between open corporates and company group"
We need to better implement the company grouping data model. Currently it is a free text field. It should piggy back on Open Corporates existing corporate grouping model:
https://opencorporates.com/corporate_groupings/royal%20dutch%20shell
When a user is uplaoding metadata, the admin site should let the user select from a list of existing OC corporate groupings. This can be don via Open Corporates

[2015-10-01 18:14] byndcivilization commented on #433
Ideally this can be used to also help get better metadata in relation to company name.

[2015-10-01 18:17] anderspeders commented on #433
Same lookup against OC should be enabled for the metadata field "Company name".

[2015-10-01 18:38] anderspeders opened #434 "For RC.org: Publish all contracts"
A few hundred contracts have been loaded without being published, thus:

If contract category = ResourceContracts --> Publish all

[2015-10-01 18:49] anderspeders opened #435 "Entity extraction to enhance metadata quality"
For the limited amount of contracts hosted for-profit API services could be considered:

1) http://saplo.com/api
2) http://nerd.eurecom.fr/
3) Overview / open calais?

the folowing metadata fields could benefit for suggestions from entity extraction:
- Company name
- Company address
- Resource
  (- Directors / signatories)

[2015-10-01 21:09] JesseCCSI opened #436 "Problems adding and editing text in content editing modules (About, FAQs, etc)"
Hi @anderspeders

I'm having the following issues re the above:

1. I added text to the About page, and then clicked the blue tick button to save. This looked like it worked, but when I later logged back in, the text was gone and had reverted to what was there before.
2.  I can't select text and change the text size, or change the paragraph settings etc. When I click on the relevant editing button

[2015-10-01 22:49] KaitlinCCSI commented on #347
Sorry, was stuck in meetings/conference all day. Agree with Jed - no box
background would look better.

Also, I've asked this before, but is there any way to make the
About/FAQs/etc more easily accessible? I had previously suggested putting
in the upper right corner, but another option is to put it at the top of
the left expanding column when you click the icon in the top left. I think
either of t

[2015-10-01 23:07] byndcivilization commented on #347
addressed in pull request

[2015-10-01 23:11] byndcivilization commented on #353
Looks good to me. Anyone comes across anything you can open it back up. Thanks!

[2015-10-01 23:11] #353 closed

[2015-10-01 23:13] byndcivilization commented on #347
I forgot, do we still want to add the footer to contract/annotation view page? @anderspeders @KaitlinCCSI

[2015-10-01 23:14] byndcivilization commented on #423
@anderspeders are we addressing associated docs this sprint or can we move it until 10

[2015-10-01 23:22] KaitlinCCSI commented on #347
Global footer should be there. And then the ORC disclaimer is now above the text. Thanks.

[2015-10-01 23:23] KaitlinCCSI commented on #430
That sounds fine to me, Anjesh.

On Thu, Oct 1, 2015 at 6:28 PM, Anjesh <notifications@github.com> wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and Agriculture**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
435 West 116th St. New York, NY 10027
| +1 (917) 658 5172
| kaitlin.cordes@law.columbia.edu
| www.ccsi.columbia.edu | @CCSI_Columbia

[2015-10-01 23:34] KaitlinCCSI commented on #414
Okay. I was definitely talking about annotations, because it was the newer
excel template that was the problem. Thanks for trying to find a way for us
to fix this ourselves.

On Thu, Oct 1, 2015 at 12:26 AM, Anders <notifications@github.com> wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and Agriculture**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia U

[2015-10-02 02:59] #428 closed

[2015-10-02 03:01] anjesh commented on #423
This particular UI bug is fixed.

[2015-10-02 03:01] #423 closed

[2015-10-02 03:01] anjesh commented on #425
cc @byndcivilization @anderspeders

[2015-10-02 03:03] anjesh commented on #411
@anderspeders ?

[2015-10-02 03:05] anjesh commented on #382
@anjhero can you think and see how to addreess this visibility of the static pages?

[2015-10-02 03:08] anjesh commented on #333
What @anderspeders is talking about the advanced search page? Not sure how practical would this be, as with every click, the page needs to be refreshed. This might be annoying to users if they are trying to select multiple options and do search.

![image](https://cloud.githubusercontent.com/assets/120488/10238685/d7504fba-68e2-11e5-86e9-402ff07c7450.png)

[2015-10-02 03:26] anjesh commented on #367
The search results will still appear, as we are hiding the text with "Show text" option only. We will fix the search result as well. Thanks for pointing it out.

[2015-10-02 03:31] anjesh commented on #204
@anderspeders @byndcivilization We need to make sure that pdf are available for these contracts need to unpublish them for RC launch.

[2015-10-02 03:35] jedm commented on #367
Would be useful to know if the temporary fix involves omitting the raw text from searches on a per-contract basis or using some other method.

(And per a question to Anders a few weeks ago, would be good to have confirmation of what is being searched by default (i.e., Annotation text, Annotation titles, Metadata categories, Clusters) and with what weighting. Explanation of this highly useful but n

[2015-10-02 03:38] anjesh commented on #433
Company group is not free text. It shows the list from open corporates. See https://github.com/NRGI/resourcecontracts.org/issues/179#issuecomment-139477406

There is a problem with the OC public API, last time we made 10 calls, then I think we are barred from making further calls on that day. So our script pulls the data once every day (one call allows only 100 rows, so need to make 8 calls to get

[2015-10-02 03:41] anjesh commented on #367
Right now the search in the contract view page is to search the pdf-text only, and clicking will scroll to the particular page. I haven't had any discussion regarding searching annotations and metadata. cc @anderspeders

[2015-10-02 04:31] jedm commented on #367
It would be a surprise if Annotation text is not being searched, since it is of especially high value because it's been created via expert review. Please do confirm at your convenience what is searched and what is not. (Also, by pdf-text do you mean OCR text or something else?)

Again, this is important to understand but not time-sensitive.

[2015-10-02 04:48] KaitlinCCSI commented on #333
This is how the old platform works, and seem more intuitive than current
set-up (particularly when it comes to "x"ing out of an option). Though if
refreshing takes an extremely long time, then that could be a concern. If
it's more seamless, like with old platform, then I don't think it's
annoying.

On Fri, Oct 2, 2015 at 5:08 AM, Anjesh <notifications@github.com> wrote:

--

*KAITLIN Y. CORDES*

*

[2015-10-02 04:53] KaitlinCCSI opened #437 "Change photo in top of expandable left column for OLC"
This is an extractives photo; please swap out with photo of land/ag. Screen shot attached, as well as suggested photo.
![screen shot 2015-10-02 at 6 49 37 am](https://cloud.githubusercontent.com/assets/14825437/10239711/13fc6040-68d2-11e5-9c14-cab00ecff995.png)
![moz photo](https://cloud.githubusercontent.com/assets/14825437/10239713/1d647082-68d2-11e5-9174-d2c49d86020a.jpg)

[2015-10-02 04:53] KaitlinCCSI commented on #437
@jesseccsi

[2015-10-02 05:38] byndcivilization commented on #204
Sorry I missed this one. Where are these coming from? Our s3 or doc cloud s3?

[2015-10-02 06:23] SamCCSI opened #438 "Google analytics for OLC"
Has google analytics been set up for the new OLC site? We need to be able to track users from day 1 for funding purposes.

@byndcivilization @anderspeders @KaitlinCCSI

[2015-10-02 06:29] SamCCSI opened #439 "Pre-launch landing page for OLC"
Can we please place a landing page on openlandcontracts.org that has the same background photo as the new site's home page and says the following (centered text):

Open Land Contracts

A New Global Repository of Large-Scale Land, Agriculture and Forestry Contracts

Site Launching October 7, 2015

Attend the launch of OpenLandContracts.org in New York [Hyperlink this line with the following: http:/

[2015-10-02 10:24] charlesyoung commented on #431
I looked at one contract http://resourcecontracts.elasticbeanstalk.com/contract/76 which seemed to not have the category noted but it was actually clicked but not showing. Am I missing something here?

![image](https://cloud.githubusercontent.com/assets/13888372/10244523/45d087ee-6900-11e5-882c-d10f5b702ce5.png)

![image](https://cloud.githubusercontent.com/assets/13888372/10244539/53c4fbaa-6900-1

[2015-10-02 10:24] anderspeders opened #440 "For RC: Add: "Become a contract publisher" as an additional page"
1-2 page of text about how a gov agency or an EITI office can become a contract publisher using RC.org.

[2015-10-02 10:39] charlesyoung commented on #440
Sure, can I get to you at the end of next week? Lot's going on with Philippines and I still need to work on the Pretoria workshop report and way forward. I'm going to note this in my report because it was raised at the workshop; must it be a Gov or EITI agency or can it also be a NGO who can become a contract publisher?

[2015-10-02 11:02] anderspeders commented on #411
@anjesh Please go ahead!

[2015-10-02 11:04] anderspeders commented on #436
@manishgs @anjesh Adding a priority label here, as text editing is important to fix.

[2015-10-02 11:08] anderspeders commented on #439
@SamCCSI I will check with @anjesh about the time requirements for this as we have not initially  planned this for the pre-launch sprint.

[2015-10-02 11:24] anderspeders opened #441 "Contract disclosure overview page"
Create an easy overview country by country on how contract disclosure - by government or by companies.

Example:
https://docs.google.com/spreadsheets/d/1qu_UkuDY3XiQfh1Mjlq1HOVToErlEcPqHqaCeKw8zAQ/edit#gid=0

[2015-10-02 11:32] anderspeders commented on #439
@SamCCSI With several other pending tickets there will not be time to do this. Closing this ticket.

[2015-10-02 11:32] #439 closed

[2015-10-02 11:33] byndcivilization commented on #438
@anjesh this is in there right? I think you just need the correct GA code. Has anyone at ccsi set up the GA acct?

[2015-10-02 11:40] anjesh commented on #438
Yes it's in place https://github.com/NRGI/resourcecontracts.org/issues/176
I have just shared with Chris with admin privilege, couldn't add yours. Need google account to add the users.

[2015-10-02 12:13] anjesh commented on #436
@JesseCCSI can you try now? The problem was the button was small and sometimes it tends to miss the click event while saving. We have enlarged the save button now. Reopen this if you still get difficulty saving the content.

[2015-10-02 12:13] #436 closed

[2015-10-02 12:21] anjesh commented on #410
Please have a look http://alpha.openlandcontracts.org/contract/108/view

[2015-10-02 12:25] JesseCCSI commented on #436
Thanks @anjesh - unfortunately I just tried and am having the same problem. I add text, click the blue button, it looks like it saves after that (see second screenshot below), but when I return to the page later the changes have disappeared (third screenshot).

![screen shot 2015-10-02 at 08 22 13](https://cloud.githubusercontent.com/assets/14910764/10246419/15d55112-68df-11e5-8624-7481c4dfa443.pn

[2015-10-02 12:29] JesseCCSI opened #442 "Problems adding and editing text - ongoing (related to issue #436)"
Thanks @anjesh - unfortunately I just tried and am having the same problem (#436). I add text, click the blue button, it looks like it saves after that (see second screenshot below), but when I return to the page later the changes have disappeared (third screenshot). I also still can't edit the format of the text (change size, change paragraph format, etc.).

![screen shot 2015-10-02 at 08 22 13](

[2015-10-02 12:33] JesseCCSI commented on #442
Looks like I can save text on the FAQ page, but not on the About or Contact Us pages. The formatting problem remains on all three pages.

@anjesh

[2015-10-02 12:38] anjesh commented on #442
Yes i just realized that as well. About page was getting saved into contact page. Made temporary fix. You should be able to save now

[2015-10-02 12:43] JesseCCSI commented on #442
Many thanks @anjesh - do you think the text formatting issues might be resolved today?

[2015-10-02 14:11] byndcivilization commented on #433
Yeah i sort of thought this was taken care of. @anderspeders do you think we can get Chris to lift the throttle?

[2015-10-02 14:31] SamCCSI commented on #424
Hi Anjesh,

Is there a way to check whether this contract was previously submitted to
MT? There is no record of it now, but our intern charles is relatively
certain that he submitted a Megabois contract to MT, and now cannot find it.

http://resourcecontracts.elasticbeanstalk.com/contract/36

Charles says:
*This is the one titled "Test Megabois DRC".  I thought this was just a
contract uploaded to

[2015-10-02 14:40] SamCCSI opened #443 "Auto-scrolling of annotations bar sometimes a bit off"
cc @KaitlinCCSI @jesseccsi

When I am looking at annotations:
![screen shot 2015-10-02 at 4 36 19 pm](https://cloud.githubusercontent.com/assets/12913915/10249114/db8fad5a-6923-11e5-895b-93b2f33d7124.png)

And I want to click on, eg. "Cancellation or termination", it takes the PDF to the correct spot, but the left column scrolls too far down, cutting off the first half of the annotation:
![screen

[2015-10-02 14:44] SamCCSI commented on #410
Page refs are perfect. This issue can be closed. Thank you @anjesh !!

On Fri, Oct 2, 2015 at 2:21 PM, Anjesh <notifications@github.com> wrote:

--

*SAM SZOKE-BURKE*
*Legal Researcher**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
Level 1, Warren Hall, 410 W116th St. New York, NY 10027
| (212) 854-2635 <212-854-2635> | (646) 630-4123 <64

[2015-10-02 14:54] SamCCSI opened #444 "Annotation category incorrect"
http://resourcecontracts.elasticbeanstalk.com/mturk/108

Annotation listed as "Other"; should be listed as "Other - financial/fiscal", as set out in row 90 of the excel file: https://www.dropbox.com/s/gkszrat9ior882b/Salala_Liberia.xlsx?dl=0

![screen shot 2015-10-02 at 4 42 37 pm](https://cloud.githubusercontent.com/assets/12913915/10249319/f652aeac-6924-11e5-9152-0aa29c821511.png)

[2015-10-02 14:56] SamCCSI commented on #438
Thanks @byndcivilization - can you please add my google account to this as an admin, so I can add Kaitlin and Jesse: samszokeburke@gmail.com

And thanks @anjesh for already having it in place!

[2015-10-02 16:47] JesseCCSI opened #445 "Adding media (other than jpeg images) to posts"
Hi @anderspeders ,

I'm trying to include an option for users to download a PDF and Excel file (our Guidance Note for annotating contracts and Excel Annotation Template) from the FAQ page. While there is an 'add image' option, I don't see an option to add other forms of media. I'd like to include them in a similar format to resourcecontracts.org (screenshot below).

Many thanks in advance for your

[2015-10-02 17:11] byndcivilization commented on #333
@anjesh where is the js for the advanced search page?

[2015-10-02 17:28] byndcivilization commented on #438
done

[2015-10-02 21:31] anderspeders opened #446 "Metadata review and admin interface workflow: input from PH-EITI"

[2015-10-02 21:31] anderspeders opened #447 "Add geo-coordinates to metadata form - to enable PH-EITI map. Field name: deliveryLocation"

[2015-10-02 21:34] anderspeders opened #448 "Review annotation workflow from admin interface"

[2015-10-02 21:47] anderspeders commented on #329
Pushing this 10

[2015-10-02 21:48] anderspeders commented on #247
Moving to sprint 10.

Not sure how much work is needed on this.

[2015-10-02 21:49] KaitlinCCSI commented on #440
Can we have that page for OLC too? We'll create the text soon; would be
great if we could have it before launch date if possible? If not, we'll
update whenever page is available.

On Friday, October 2, 2015, Charles Young <notifications@github.com> wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and Agriculture**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Col

[2015-10-02 22:16] anderspeders commented on #431
Yes, agree @charlesyoung,

It looks like an non-manual error.

[2015-10-03 06:28] SamCCSI commented on #438
Thanks everyone, GA is working for me and I've added other CCSI users to
the account.

On Fri, Oct 2, 2015 at 7:28 PM, Chris Perry <notifications@github.com>
wrote:

--

*SAM SZOKE-BURKE*
*Legal Researcher**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
Level 1, Warren Hall, 410 W116th St. New York, NY 10027
| (212) 854-2635 <212-854-2635>

[2015-10-03 09:02] #410 closed

[2015-10-03 16:49] SamCCSI commented on #420
@anjesh is it possible 'unpublish' the following unannotated contracts, so
that they stay in the system but are not yet live and publicly available? I
tried but couldn't figure out how.

http://rc-site-stage.elasticbeanstalk.com/olc/public/contract/1131/view
http://rc-site-stage.elasticbeanstalk.com/olc/public/contract/1132/view
http://rc-site-stage.elasticbeanstalk.com/olc/public/contract/1133/vi

[2015-10-03 16:51] KaitlinCCSI commented on #445
Will this and text editing (issue #442 - ability to format, etc) be resolved before OLC launch? Both are important for how the site is perceived at launch, and we have been noting that the site will provide guides to contracts, etc, so our ability to upload these guides is important.

@anjesh

[2015-10-03 16:54] KaitlinCCSI commented on #445
Ideally we would also be able to have anchor tags on these pages. Is this possible?

[2015-10-03 17:04] KaitlinCCSI opened #449 "Annexes missing from copy & Pages missing from copy shouldn't be in annotations category dropdown"
Per discussions from earlier around mapping, "Annexes missing from copy" and "Pages missing from copy" should ideally be metadata rather than annotations category, and at the very least should not show up in the Annotations Category dropdown menu.
![screen shot 2015-10-03 at 12 00 22 pm](https://cloud.githubusercontent.com/assets/14825437/10264011/bc503574-69c6-11e5-99d7-19f67460186b.png)
![screen

[2015-10-03 17:24] KaitlinCCSI opened #450 "Incorrect mapping of annotations to "other" category"
See Liberia Tree & Trading Company (http://alpha.openlandcontracts.org/contract/1173/view) as an example of a number of important annotations that have been grouped under "Other" instead of allocated to proper category. If we note all of these following OLC launch, can they be fixed during Sprint 10? In the meantime, is it possible to at least fix this contract?

Sorting out how to fix annotations

[2015-10-03 17:35] SamCCSI commented on #450
sam issue as https://github.com/NRGI/resourcecontracts.org/issues/444

[2015-10-03 17:35] SamCCSI commented on #450
*same

[2015-10-04 01:09] KaitlinCCSI commented on #450
Sorry, my third arrow should have said "Sacred, cultural, or historical sites" rather than "Environmental protections".

Note that I just checked the original excel sheet that CCSI provided and the information was correctly mapped in our spreadsheet, so I don't know why these are appearing under "Other."

[2015-10-04 01:14] KaitlinCCSI commented on #407
Please order so that most recent contracts show up first.

[2015-10-04 01:22] KaitlinCCSI opened #451 "Resource dropdown on OLC needs to be fixed"
Dropdown seems to be alphabetized except for "Rice products", which appears first on the list, but should instead appear under "Rice".
![screen shot 2015-10-03 at 8 19 48 pm](https://cloud.githubusercontent.com/assets/14825437/10265979/6879b7cc-6a0c-11e5-8611-302b2c08e5d0.png)

[2015-10-04 01:28] KaitlinCCSI commented on #451
In addition, "Other crops" and "other crops" should be merged.
![screen shot 2015-10-03 at 8 22 58 pm](https://cloud.githubusercontent.com/assets/14825437/10265989/b110a19e-6a0c-11e5-8495-2ab1c872cfd4.png)

[2015-10-04 13:47] KaitlinCCSI opened #452 "PDF contract is zoomed in so much that it looks like a blank page"
PDF for this contract is zoomed in too much, so when you load the page it just looks like a blank screen.
http://alpha.openlandcontracts.org/contract/1179/view

What it looks like when you open page:
![screen shot 2015-10-04 at 8 43 06 am](https://cloud.githubusercontent.com/assets/14825437/10268121/5dbbc9fc-6a74-11e5-8127-2f4aa1dd5fcf.png)

What it looks like when you scroll to the side, which is

[2015-10-04 13:47] anderspeders commented on #445
@anjesh Could you confirm what our options are here with regards to links from the content pages?

[2015-10-04 13:58] KaitlinCCSI opened #453 ""Name of company executing document" repeats in annotations sidebar"
I just opened up 5 contracts to check; 3 out of 5 have the name repeating:
http://alpha.openlandcontracts.org/contract/683/view
http://alpha.openlandcontracts.org/contract/1034/view
http://alpha.openlandcontracts.org/contract/1179/view

Assume that many other annotations have this issue as well. Do we need to go through every single contract to note which ones have this problem?

See examples in s

[2015-10-04 14:08] KaitlinCCSI opened #454 "Navigation buttons not intuitive: Back arrow button in left corner not intuitive, and it's also missing on summary page"
ON THE CONTRACT VIEW PAGE: I had assumed the back arrow button in the top left corner was a "back" button that would take you to the previous page you were on, but instead it takes you to the home page. This does not seem intuitive to me. It means that after you do a search on the advanced search page and click on a contract to view it, if you want to go back to the advanced search page to see you

[2015-10-04 14:17] KaitlinCCSI opened #455 "extra space between government entities and separating commas"
On Summary page, there is an extra space between the names of government entities and the commas separating the names - there should not be a space between the name and the following comma, only a space between a comma and the subsequent name.

For example, it should be "Ministry of Agriculture, Ministry of Finance, National Investment Commission"  and not "Ministry of Agriculture , Ministry of Fi

[2015-10-04 14:23] anderspeders commented on #453
Hi @KaitlinCCSI, the text you are requesting to be removed is "annotation content" not actual annotation categories. This means that these as text pices are very difficult to remove aotumatically from the display. They would need manual removal. YI is working on enabling the editing module on the backend so that you can make these edits in the annotation content.

In the effort of providing a clea

[2015-10-04 14:30] anderspeders commented on #455
Good catch @KaitlinCCSI

@anjesh It seems that with correct data entry of *multiple government entities* the display on the summary page will need correction.

[2015-10-04 14:35] anderspeders commented on #454
Thanks Kaitlin,

Summarising:
- Fix back button on Contract page
- Add back button on Summary page that will take you to Contract page. (Here we already have Document view button - but agree that a back button would likely be intuitive to have as well)

[2015-10-04 14:38] KaitlinCCSI commented on #453
I assume this is the same or a similar problem to the one we had with
annotation content being repeated on the summary page, which was not due to
errors from CCSI but to the fact that some annotations list more than one
page reference.

I don't know what you want me to do with the guide - these repeats are not
errors on our part, but errors introduced through the uploading process.

Enabling the e

[2015-10-04 14:43] #161 closed

[2015-10-04 15:49] jedm commented on #454
Similar issues exist in other paths. If I [search "bauxite Africa"](http://alpha.resourcecontracts.org/search?q=bauxite+africa&country%5B%5D=gn) for instance, I get 93 results, but if I click and go to [one of the listed Contracts](http://alpha.resourcecontracts.org/contract/928/view), there is no way to return to my results list. Plus, as Kaitlin noted, the icon in upper left (an arrow, which is

[2015-10-04 18:38] charlesyoung commented on #431
Any ideas? I have a call with Philippines on Tuesday.

[2015-10-04 20:14] KaitlinCCSI commented on #347
Don't see the disclaimer on any of the pages

[2015-10-04 22:26] byndcivilization commented on #347
@anjesh what happened to he code I pushed last week that had this and the more concise meta data navigation.

[2015-10-04 23:11] KaitlinCCSI opened #456 "When there are 0 documents returned, should say "0 Contracts""
When there are 0 documents returned, should say "0 Contracts" and not "0 Contract"
![screen shot 2015-10-04 at 6 10 02 pm](https://cloud.githubusercontent.com/assets/14825437/10270806/4fde2d62-6ac3-11e5-9504-b780fc225c9b.png)

[2015-10-05 01:20] KaitlinCCSI opened #457 "Repeated annotations on summary page"
There are still repeated annotations on the summary pages. I thought we had developed a fix for this? See screenshot example pulled from http://rc-site-stage.elasticbeanstalk.com/olc/public/contract/1046#annotations
![screen shot 2015-10-04 at 8 19 03 pm](https://cloud.githubusercontent.com/assets/14825437/10271463/41a495da-6ad5-11e5-9edf-ee9bb32a0ba2.png)

cc @anderspeders @jedm @samccsi

[2015-10-05 01:24] KaitlinCCSI commented on #394
Re-opening to address Sam's question above.

[2015-10-05 07:16] anjesh commented on #431
That's correct. Before it was checkbox because we thought contract could belong to both. Later we changed to radio-button so one option is ticked (RC by default) when contract is added (edited even if category is missing), so such missing category wouldn't happen for new contracts from now on. For the above missing ones, one has to go in the contract edit and save to insert the category into the d

[2015-10-05 07:23] charlesyoung commented on #431
Thanks @anjesh. Can I please ask you to recreate the list of contracts which don't have a category noted but add a column for country.

[2015-10-05 10:46] anjesh commented on #394
Fixed. rejected page is reverted.

[2015-10-05 10:46] #394 closed

[2015-10-05 10:48] anjesh commented on #420
We are adding "Unpublish" button in the contract page now, admin should be able to do the unpublish now.

[2015-10-05 10:51] anjesh commented on #424
There's any log on the submission of contract 36 to Mturk as can be seen here.

Otherwise there should be entry on Mturk in the activity log

![image](https://cloud.githubusercontent.com/assets/120488/10278691/07663fb8-6b7f-11e5-9447-f33378684028.png)

[2015-10-05 10:51] anjesh commented on #424
Here's the activity log http://resourcecontracts.elasticbeanstalk.com/activities?contract=36 which doesn't have entry on Mturk.

[2015-10-05 11:03] anjesh commented on #437
You might have to hard-refresh to see the change in image.

[2015-10-05 11:05] anjesh commented on #347
We have made minor change in the layout of the footer-text - mad left-aligned the text to adjust for the wide screen.

[2015-10-05 11:07] anjesh commented on #402
Can you verify this once more?

[2015-10-05 11:11] anjesh commented on #407
Contracts descending ordered by signature-year

[2015-10-05 11:11] #407 closed

[2015-10-05 11:12] anjesh commented on #411
Fixed.

[2015-10-05 11:12] #411 closed

[2015-10-05 11:14] anjesh commented on #420
Added unpublish button now in contract view page in admin. And unpublished above 4 contracts.

![image](https://cloud.githubusercontent.com/assets/120488/10279079/55eaa4be-6b82-11e5-9541-c1998e48bb9c.png)

[2015-10-05 11:14] #420 closed

[2015-10-05 11:23] anjesh commented on #442
Text-formatting enabled now. Please check.

[2015-10-05 11:23] #442 closed

[2015-10-05 11:28] charlesyoung opened #458 "RC Searching Results"
I searched for a contract with title 'Platinum Group' (not the full title) through the simple search presented on the RC landing page. The resulting contract is only shown on the last page (5 pages) of the search results with the first 4 pages showing contracts which contain the word 'group'. I would have thought that the search should first identify matching words ('Platinum Group') than single w

[2015-10-05 11:29] anjesh commented on #451
Fixed. Was due to space inserted before "Rice Products" when inserted as free text. Will also ensure that the spaces are trimmed while saving the contract metadata.

[2015-10-05 11:29] #451 closed

[2015-10-05 11:36] anjesh commented on #450
When we first migrated the annotations, every mis-matched category goes to "other" and some were missed after mapping was done. We have fixed those mis-matched now. Please verify.

[2015-10-05 11:37] anjesh commented on #449
Are now removed from the dropdown.

[2015-10-05 11:37] #449 closed

[2015-10-05 11:38] charlesyoung opened #459 "Philippines subsite"
@jerico I know the subsite is a work in progress but below are two points to note. The inclusion of a % sign in the search results and the alignment of the metadata.

![image](https://cloud.githubusercontent.com/assets/13888372/10279446/16b8550a-6b66-11e5-954f-7293f04dc7bc.png)

[2015-10-05 11:45] #437 closed

[2015-10-05 11:50] SamCCSI commented on #420
Thanks very much Anjesh.

All 8 have been taken care of in one way or another so this issue can be
closed.

On Mon, Oct 5, 2015 at 7:14 AM, Anjesh <notifications@github.com> wrote:

--

*SAM SZOKE-BURKE*
*Legal Researcher**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
Level 1, Warren Hall, 410 W116th St. New York, NY 10027
| (212) 854-263

[2015-10-05 11:59] SamCCSI opened #460 "Date of signature displayed on search page different from metadata and annotations"
The first two contracts are listed with incorrect dates, yet when I check the back-end, their metadata and annotations list the correct signature dates and years.

![screen shot 2015-10-05 at 7 53 48 am](https://cloud.githubusercontent.com/assets/12913915/10279809/a230c944-6b36-11e5-91b4-68b0e9a9c314.png)

Metadata displays incorrectly on live site
![screen shot 2015-10-05 at 7 57 04 am](https://c

[2015-10-05 12:12] SamCCSI commented on #450
THose changes look good on this document, thanks @anjesh

I found two other problems though:

1. This contract's OCR text is very low quality and so it needs to be removed from public view. I changed the "show PDF text" field to "no", and now it says the Metadata is in draft form but the text is still published. And I can't see how to submit this contract to mechanical turk.

![image](https://clou

[2015-10-05 12:27] SamCCSI commented on #402
I checked the search annotations category and the 2 categories don't appear there - is that what you mean?

[2015-10-05 12:29] SamCCSI commented on #394
Thanks - will let Charles know.

On Mon, Oct 5, 2015 at 6:46 AM, Anjesh <notifications@github.com> wrote:

--

*SAM SZOKE-BURKE*
*Legal Researcher**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
Level 1, Warren Hall, 410 W116th St. New York, NY 10027
| (212) 854-2635 <212-854-2635> | (646) 630-4123 <646-630-4123>
| s.burke@columbia.edu
| w

[2015-10-05 13:08] KaitlinCCSI commented on #347
Why wouldn't it just stretch across the entire screen? That would look
better.

On Mon, Oct 5, 2015 at 6:38 AM, Anjesh <notifications@github.com> wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and Agriculture**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
435 West 116th St. New York, NY 10027
| +1 (917) 658 5172
| kaitlin.cordes@law.columbi

[2015-10-05 13:09] KaitlinCCSI commented on #437
Thank you!

On Mon, Oct 5, 2015 at 6:46 AM, Anjesh <notifications@github.com> wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and Agriculture**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
435 West 116th St. New York, NY 10027
| +1 (917) 658 5172
| kaitlin.cordes@law.columbia.edu
| www.ccsi.columbia.edu | @CCSI_Columbia <https://twitter.com/

[2015-10-05 13:17] KaitlinCCSI commented on #450
Hi @anjesh - do you need us to provide more information to fix the "Other" mapping in the 27 contracts that Sam identified? If so, please let us know what information you need.

[2015-10-05 13:26] JesseCCSI opened #461 "Question re internal hyperlinks"
Hi @anderspeders @anjesh

If I want to include internal links, e.g. hyperlink certain terms in the 'About' text letting users go directly to the FAQ, Home or Search pages, can I include the links as they currently stand or will the links be different once public? E.g. if I use this link http://rc-site-stage.elasticbeanstalk.com/olc/public/  for the Home page, will it work once the site is live?

M

[2015-10-05 13:26] SamCCSI commented on #424
Thanks.

Ok, I have 'unpublished' the contract, and then re-published metadata and annotations. But the PDF does not display.

![screen shot 2015-10-05 at 9 26 21 am](https://cloud.githubusercontent.com/assets/12913915/10281549/3419f158-6b43-11e5-8c26-38b19dd181c1.png)

How do I republish the PDF itself, without also displaying the PDF text (that needs to be MT'ed first)?

![screen shot 2015-10-05

[2015-10-05 13:32] anderspeders commented on #460
Hi @SamCCSI, @KaitlinCCSI,

This is a format issue. Even if you type in the year "2009", the platform will not read it until you provide a fully standardized date field: YYYY-MM-DD (I don't know why - and agree this is unfortunate)

I have now changed the date to: 2009-01-01 and the display has changed on the front end.

![image](https://cloud.githubusercontent.com/assets/1101585/10281643/e92b235a

[2015-10-05 13:35] SamCCSI commented on #460
Thanks for explanation Anders! I have made same change to the other incorrect contract and it all looks good now.

[2015-10-05 13:35] #460 closed

[2015-10-05 13:57] byndcivilization commented on #347
@anjesh something happened with the css for the footer note. Also @KaitlinCCSI can you confirm that you wanted footer present on contract annotation view pages. Here for example:
http://alpha.openlandcontracts.org/contract/1162/view

[2015-10-05 13:59] anderspeders commented on #459
@byndcivilization @jerico Would it make sense to have a repo for handling PH-EITI country site issue tickets? Or do we already have this?

[2015-10-05 14:00] KaitlinCCSI commented on #347
Yes, want footer at the bottom of the contract view page. Important to have
disclaimer on this page, but I think it's also useful to have the links to
other pages and the logos here.

On Mon, Oct 5, 2015 at 8:57 AM, Chris Perry <notifications@github.com>
wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and Agriculture**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institut

[2015-10-05 14:06] anderspeders commented on #453
Annotation content is added in the left bar and given that the company names are leaded as content not metadata it will display in the left column.

As for the guide: I expect that CCSI supports maintaining and updating the guide as we add features and document data entry practises.

I agree that this important. I however also need to note that sprint 10 will have as core priority to *make RC.org

[2015-10-05 14:08] anderspeders commented on #347
Excellent, @anjesh can you please push the footer through.

Additionally, should we add a seperate ticket for the following: "Add the links to
other pages and the logos here."

@anjesh @byndcivilization ?

[2015-10-05 14:16] anjesh commented on #424
You also have to publish PDF text for pdf to make it appear. OCR Text view is controlled by "Show Pdf text" option - which is currently set to "No". I just republished all and pdf is now showing, but not the text.

[2015-10-05 14:21] SamCCSI commented on #424
Thanks for clarifying, Anjesh. Much appreciated.

On Mon, Oct 5, 2015 at 10:16 AM, Anjesh <notifications@github.com> wrote:

--

*SAM SZOKE-BURKE*
*Legal Researcher**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
Level 1, Warren Hall, 410 W116th St. New York, NY 10027
| (212) 854-2635 <212-854-2635> | (646) 630-4123 <646-630-4123>
| s.burk

[2015-10-05 14:26] anjesh commented on #450
"Show PDF Text" is part of the metadata, so any change in metadata requires re-publishing of metadata to be reflected in the subsite, then text will not appear. To submit to MTurk, you have to choose "Text Type" to "Need Full transcription".

I understand that the options that are being added have created some confusion, but to ease the process of publishing/unpublishing contracts and its componen

[2015-10-05 14:29] SamCCSI commented on #450
Re: display of OCR text: Thanks Anjesh. I understand now and have made it so text is not public but everything else is.

[2015-10-05 14:32] anjesh opened #462 "Add valid date format help text besides the signature year metadata"
See https://github.com/NRGI/resourcecontracts.org/issues/460#issuecomment-145528685

![image](https://cloud.githubusercontent.com/assets/120488/10283125/f03ef5e0-6b9d-11e5-9269-1afd97631bce.png)

[2015-10-05 14:32] anjesh commented on #460
Thanks Anders. Datepicker should appear when you click in that input field, and the date format is clear. Just wondering if it's not appearing in your browser. Let me know if that's the case.

In any case we will add the format-help-text besides the label to avoid confusion. https://github.com/NRGI/resourcecontracts.org/issues/462

![image](https://cloud.githubusercontent.com/assets/120488/1028307

[2015-10-05 14:33] SamCCSI commented on #460
date picker appeared for me

On Mon, Oct 5, 2015 at 10:32 AM, Anjesh <notifications@github.com> wrote:

--

*SAM SZOKE-BURKE*
*Legal Researcher**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
Level 1, Warren Hall, 410 W116th St. New York, NY 10027
| (212) 854-2635 <212-854-2635> | (646) 630-4123 <646-630-4123>
| s.burke@columbia.edu
| www.

[2015-10-05 14:33] anjesh commented on #459
Yes i think it would be better to have separate repo for PH-EITI to avoid confusion with the issues we have here.

[2015-10-05 14:39] anjesh commented on #461
Lets use the link alpha.openlandcontracts.org though later we will have openlandcontracts.org, and we can always redirect alpha.openlandcontracts.org to openlandcontracts.org.

Also http://rc-site-stage.elasticbeanstalk.com/olc/public/  doesn't load the css properly because of folder structure. Please use alpha.openlandcontracts.org.

[2015-10-05 14:43] JesseCCSI commented on #461
Many thanks @anjesh - so if I use the alpha links for all pages (Home, Advanced Search, About, etc.), can these be redirected for the launch to the public pages? I want to make sure that we don't get any error messages during the demonstration of the site.

[2015-10-05 14:50] anjesh commented on #458
That is because we sorted the results by year by default as per request from Kaitlin, and 1992 went last. Otherwise the results appear by relevancy as processed by the elasticsearch engine. I think we might need to rethink the default sorting feature. We still need to add the sorting functionality in the list page.

Just to add to your query, the search supports binary search meaning AND/OR.
By de

[2015-10-05 14:53] anjesh commented on #461
What do you mean by public pages? alpha.openlandcontracts.org will not have any problems at all.
I don't know whether domain would be openlandcontracts.org or alpha.openlandcontracts.org for the launch. @byndcivilization should be able to add on this.

[2015-10-05 15:02] byndcivilization commented on #461
I think what @JesseCCSI is asking is if links are added, will they manually managed or will links that are alpha. change automatically if and when we move from alpha.olc.org to olc.org. My guess is that the full url is being entered, the links will have to be updated by hand.

[2015-10-05 15:19] JesseCCSI commented on #461
Many thanks for clarifying @byndcivilization and apologies for not explaining myself clearly @anjesh - we essentially just need to make sure that the internal links we use now (i.e. alpha.olc.org links) will work once the site goes live

[2015-10-05 15:22] KaitlinCCSI commented on #461
@byndcivilization - assume that on Wednesday when we go live, the site will
just be "www.openlandcontracts.org" rather than "
www.alpha.openlandcontracts.org"?

Since Jesse is manually adding some links into the text, can she just drop
the "alpha" and assume that this will be fine and the links won't break?
For example, if she wants to link to "About" page, can she use the link "
http://openlandco

[2015-10-05 15:33] KaitlinCCSI commented on #458
I agree rethinking search feature in later sprints would be useful. I had
requested that contracts be sorted on advanced search page by year simply
because there didn't seem to be any rationale behind how contracts were
displayed when you just went to the list of all contracts. But in terms of
returning search results as in Charles's example, agree with Charles that
it would be useful to have the

[2015-10-05 15:40] byndcivilization commented on #461
Yes we're actually moving things over tomorrow just to make sure we have a smooth wednesday.

That sounds right on links to me. You're hardcoding links so you would just have to re-hard code them tomorrow when we move over. Better just to point them to the future link now.

[2015-10-05 15:41] KaitlinCCSI commented on #450
Okay, thanks @anjesh. We'll take a look at the list once it's available.

On Mon, Oct 5, 2015 at 9:26 AM, Anjesh <notifications@github.com> wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and Agriculture**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
435 West 116th St. New York, NY 10027
| +1 (917) 658 5172
| kaitlin.cordes@law.columbia.edu

[2015-10-05 16:03] anderspeders opened #463 "Redirect alpha.openlandcontracts.org to openlandcontracts.org"
Scheduled for Tuesday.

[2015-10-05 16:04] KaitlinCCSI commented on #461
Okay, great. So Jesse will point to the future links for now, and then
we'll check tomorrow to make sure that nothing is broken. Could you please
let us know when things have been moved over tomorrow so we know when we
can start checking the links? Thanks.

On Mon, Oct 5, 2015 at 10:40 AM, Chris Perry <notifications@github.com>
wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and Agriculture**Columbia

[2015-10-05 17:29] SamCCSI opened #464 "Back-end and front end are showing contradictory statuses"
For contract 1150, the back-end says there is no text or annotations.

![screen shot 2015-10-05 at 1 28 39 pm 2](https://cloud.githubusercontent.com/assets/12913915/10288167/337fd984-6b65-11e5-8652-6c5d089306a3.png)

Yet the front-end is showing the contract with metadata and annotations.

![screen shot 2015-10-05 at 1 27 04 pm 2](https://cloud.githubusercontent.com/assets/12913915/10288097/d72dd0

[2015-10-05 17:30] SamCCSI commented on #464
I edited this to show you the correct screenshot

[2015-10-05 17:39] JesseCCSI opened #465 "Search page > Contract Type and Annotations Category dropdowns"
Hi @anderspeders @anjesh - I can't click on the Contract Type or Annotations Category dropdown menus when using Chrome on a PC (not having this issue using Chrome on a Mac).

cc @KaitlinCCSI

[2015-10-05 17:49] KaitlinCCSI commented on #445
Being able to upload documents is a high priority before OLC launch, as we have Guidance Documents for understanding contracts that are meant to be on the site. Please confirm whether we can do this.

[2015-10-05 17:56] anderspeders commented on #464
Yes, agree this looks weird.

Correct link to front end (with annotation) should be: http://alpha.openlandcontracts.org/contract/1150/view#/pdf

Suggest that we slate for sprint 10 to ensure that backend and front end are alligned across.

[2015-10-05 17:58] anderspeders commented on #465
I am accessing this fine via chrome. For example I've browsed through both dropdowns to reach this search result:
http://alpha.openlandcontracts.org/search?q=&contract_type%5B%5D=Contrat+de+Concession+Foresti%C3%A8re&annotation_category%5B%5D=Arbitration+and+dispute+resolution%2F%2FArbitrage+et+r%C3%A8glement+des+diff%C3%A9rends

Can you provide screen shot?

[2015-10-05 18:02] KaitlinCCSI commented on #465
Just a note that I also had this happen to me last week (and had logged a
ticket), but then it appeared to resolve itself on its own. So seems like
there might be some kind of bug here.

On Mon, Oct 5, 2015 at 12:58 PM, Anders <notifications@github.com> wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and Agriculture**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute

[2015-10-05 18:04] JesseCCSI commented on #465
Hi @anderspeders - unfortunately the issue doesn't show up well on screenshots (the mouse icon disappears when I screenshot), but this is the issue...
- Nothing happens when I try to click on the Annotations Category or Contract Type dropdown (mouse icon remains an arrow)
- Whereas when I move my mouse to other dropdowns, the arrow changes to a cursor and allows me to either type or select a menu

[2015-10-05 18:08] anderspeders commented on #465
Thanks @JesseCCSI,

@anjesh: Any suggestions for fixes here?

[2015-10-05 18:13] KaitlinCCSI commented on #453
Yes, I understand that it is annotation content. I meant that I thought it was the same problem, or a related problem, to the repeated annotation content that we see on the summary page, for which I thought we had agreed on a solution, and which I logged again here (https://github.com/NRGI/resourcecontracts.org/issues/457) when I realized that this problem has not yet been fixed and annotation con

[2015-10-05 18:14] KaitlinCCSI commented on #347
@anders I had mentioned that because the other pages and logos are currently in the footer, so I assumed that including the footer on this page would automatically include the links to other pages and the logos. Makes sense to me to have same footer throughout site. If this is the case, then assume no separate ticket needed.

[2015-10-05 18:46] SamCCSI opened #466 "Countries page not up to date"
I just updated a contract's metadata to set its country as Timor-Leste (this had previously been omitted).
But the country page still doesn't show it as a country for which we have contracts:
http://alpha.openlandcontracts.org/countries

![image](https://cloud.githubusercontent.com/assets/12913915/10290034/bfccfcf0-6b6f-11e5-9716-60f1d2bc53dc.png)

[2015-10-05 18:48] SamCCSI commented on #466
Here's the TImor-Leste contract: http://alpha.openlandcontracts.org/contract/1032/view

[2015-10-05 18:56] SamCCSI commented on #466
Timor does show up when filtering by specific resources:
![screen shot 2015-10-05 at 2 56 03 pm](https://cloud.githubusercontent.com/assets/12913915/10290294/4c94ee6c-6b71-11e5-8d1a-5f9c0045dbec.png)

[2015-10-05 19:33] anderspeders commented on #466
Just checked it in my browser where it looks good (below). I assume that this is a cache issue. Can you check in another browser or clear cache and test again?

![image](https://cloud.githubusercontent.com/assets/1101585/10291163/49481158-6b76-11e5-96b7-0fe55494ad60.png)

[2015-10-05 19:39] SamCCSI commented on #466
Working on mine now, thanks

[2015-10-05 19:39] #466 closed

[2015-10-05 19:41] anderspeders commented on #204
Doc cloud, I think. These are from the initial migration from RC.org which we did back in August...

[2015-10-05 20:22] SamCCSI opened #467 "RC/OLC - should source URL be auto-hyperlinked?"
Should the source URL be automatically hyperlinked? Or is there a reason we have not made it so?

![screen shot 2015-10-05 at 4 20 53 pm](https://cloud.githubusercontent.com/assets/12913915/10292410/2146ee20-6b7d-11e5-9d65-f078feb9508d.png)

[2015-10-05 20:46] SamCCSI opened #468 "Poorly OCR'ed text visible in free text searches"
For contracts that have not been MT'ed: even when PDF text is not published, the search results for free text searches display poorly OCRed text:
![image](https://cloud.githubusercontent.com/assets/12913915/10293059/81646f14-6b80-11e5-9e6a-283117ab4be2.png)

cc @KaitlinCCSI

[2015-10-05 20:47] SamCCSI commented on #468
touched on peripherally in this issue: https://github.com/NRGI/resourcecontracts.org/issues/367

[2015-10-05 21:09] KaitlinCCSI commented on #440
Is this page available for us to populate now? Don't see it on the backend, and don't think we have the ability to create pages ourselves?

[2015-10-05 21:15] SamCCSI commented on #464
another example:
![screen shot 2015-10-05 at 5 14 24 pm](https://cloud.githubusercontent.com/assets/12913915/10293830/bb79dd02-6b84-11e5-9b3b-ca0534602edb.png)
![screen shot 2015-10-05 at 5 14 14 pm](https://cloud.githubusercontent.com/assets/12913915/10293829/bb79c56a-6b84-11e5-8ff2-61466d6da23a.png)

[2015-10-05 21:16] SamCCSI commented on #464
On the above second example: Annotations are displayed on front-end, but back-end has them in draft status

[2015-10-05 21:16] SamCCSI commented on #464
Link for 2nd example: http://resourcecontracts.elasticbeanstalk.com/contract/1036

[2015-10-05 21:21] JesseCCSI opened #469 "Sidebar menu > missing 'View All' under country list"
When I click on the the sidebar, the 'View All' option that is available under the resource list is not available under the Country list (see screenshot below).  Is it possible to have this option for all three lists in the sidebar (Country, Resource, Year)?

![image](https://cloud.githubusercontent.com/assets/14910764/10293894/1a62ae52-6b85-11e5-9be4-897ed6270d81.png)

![image](https://cloud.gith

[2015-10-05 22:09] JesseCCSI commented on #442
Many thanks @anjesh this is working now

[2015-10-05 23:02] KaitlinCCSI commented on #469
As clarification - this is so there is another way to visit country and resource lists, aside from only from the bottom of the home page. Not pressing, though, so have moved to sprint 11.

[2015-10-06 01:25] jedm commented on #458
Would be good to see any instructions given to date re search approach, weighting, what is search and what isn't. (Also raised in #367)

[2015-10-06 02:11] KaitlinCCSI opened #470 "More from [Country] & More for [Resource] has disappeared"
Links used to be in bottom right corner. They've disappeared. Have checked a few different contracts; none of them have this anymore.

What it used to look like:
![image](https://cloud.githubusercontent.com/assets/14825437/10298495/6be1617c-6ba5-11e5-8bd2-314541504702.png)

Currently:
![screen shot 2015-10-05 at 9 07 27 pm](https://cloud.githubusercontent.com/assets/14825437/10298497/72f71f06-6ba5

[2015-10-06 02:45] anjesh commented on #445
Guidance and other documents that are to be linked with the page should be in Amazon s3 like our existing contracts, or it could be in some other external servers (like dropbox).
For now putting these documents in dropbox and providing the direct download link to dropbox would be quick option.

[2015-10-06 02:45] anjesh commented on #463
@byndcivilization could you do point the openlandcontracts.org to the same CNAME as for alpha

[2015-10-06 02:48] anjesh commented on #465
Not sure when the problem is random. It's fine in the mac and linux chrome, firefox and safari here. Haven't checked in PC though. Will do and see if we could replicate the same.

[2015-10-06 02:52] anjesh commented on #466
That's correct. We are caching the result for 5 minutes in this country page to minimize the server calls especially when clicking filter-options quickly, for smooth results.

[2015-10-06 02:55] anjesh commented on #467
It must have been missed - it will be hyperlinked.

[2015-10-06 02:59] anjesh commented on #468
Thanks for pointing this out. Will look into this.

The reason for this result is "Contract Text" can't be published independently from "Contract Pdf pages" - the way we have designed this component, so we introduced "Show Text" option to hide the text only.

[2015-10-06 03:02] anjesh commented on #440
You can't create these pages from the backend. The frontend sites are independent from the backend system. We will create the page and you will be able to edit just like any other pages.

Is this page going to linked at the bottom besides the existing links? is "Become a contract publisher" the page title?

[2015-10-06 03:09] anjesh commented on #464
For the first case we will look into the issue.

For the second case, that's possible. The subsite is independent from the backend. Once you publish any of the three (metadata/published/draft), they will appear in the subsite. But once you edit any one of them, the edits will not reflected in the subsite unless you re-publish the changed set again. The idea is any mistake you make in the backend w

[2015-10-06 03:16] anjesh commented on #469
The idea is the list shows 10 items, if more than 10, then "View all" link is enabled like in case of "Resources". But once you are in any country page, there's link to "Countries" page in the breadcrumb.

[2015-10-06 03:21] anjesh commented on #470
I see that @byndcivilization has hidden the code to display these more documents block in one of hit PR https://github.com/younginnovations/resourcecontracts-rc-subsite/pull/4/files#diff-4d6821d723a5c3e12768bbf7b619a1f1L258

@byndcivilization ?

[2015-10-06 03:27] anjesh commented on #465
@sweetanzell can you see if you can replicate this in the PC chrome?

[2015-10-06 03:29] anjesh commented on #457
This is how it appears now http://alpha.openlandcontracts.org/contract/1046

![image](https://cloud.githubusercontent.com/assets/120488/10299509/9ff93e52-6c0a-11e5-9e43-5f2940821c61.png)

[2015-10-06 03:29] #457 closed

[2015-10-06 03:31] #424 closed

[2015-10-06 03:32] anjesh commented on #430
This is how it appears now for all the contract

![image](https://cloud.githubusercontent.com/assets/120488/10299554/1156625a-6c0b-11e5-861f-1e8da3ecd9b1.png)

[2015-10-06 03:41] anjesh commented on #388
url added to csv.

[2015-10-06 03:41] #388 closed

[2015-10-06 03:45] anjesh commented on #444
Fixed for 108.

[2015-10-06 05:18] anjesh commented on #450
We have found the following categories which are tagged as "Other" in the database. I think most of the these are migrated from RC as well. We might have missed few misses from the mapping you have done. Sometimes it gets hard to keep up with the changes. I hope once this is fixed, we shouldn't have any mis-mapped category appearing in the site.

https://docs.google.com/spreadsheets/d/1CQJsDOXoSKn

[2015-10-06 06:04] jerico commented on #459
Hi @anjesh @anderspeders @charlesyoung

I created a repo for PH-EITI codebase: https://github.com/jerico/ph-eiti-contracts-portal

I'll this issue there and address it. Thanks!

[2015-10-06 06:04] #459 closed

[2015-10-06 07:57] anjesh commented on #461
Closing this. We are good to go once https://github.com/NRGI/resourcecontracts.org/issues/463 is done.

[2015-10-06 07:57] #461 closed

[2015-10-06 09:04] anjesh commented on #347
The footer is now added to the contract view page.

[2015-10-06 09:04] #347 closed

[2015-10-06 09:06] anjesh commented on #454
Back link enabled for both contract view and contract summary page. In contract summary page, "View Document" link changes to "Back to Document" when clicked from contract view page.

[2015-10-06 09:08] anjesh commented on #452
Fixed scaling for the pdf whose pages are larger than the normal pdfs.
http://alpha.openlandcontracts.org/contract/1179/view

[2015-10-06 09:08] #452 closed

[2015-10-06 09:12] charlesyoung commented on #440
Just want to make sure what type of doc is required @KaitlinCCSI @anderspeders. Take a look at the country implementation doc that I'm working on (especially sections 1 - 3) and let me know if this is what you are looking for. If not then please elaborate on the details. Tx

https://docs.google.com/document/d/1V2u1_Q3Y9bJ7eDJwZsqskb5ZgLN06RHXJYyUF89PekA/edit?usp=sharing

[2015-10-06 09:12] anjesh commented on #455
Removed comma and enabled bullets for the government entities.

![image](https://cloud.githubusercontent.com/assets/120488/10304541/9155e3d4-6c3a-11e5-85e6-830b40bb6cdf.png)

[2015-10-06 09:12] #455 closed

[2015-10-06 09:16] anjesh commented on #468
Fixed. Now if the "Show text" option is set to Off in metadata, then those texts are not indexed in ES and the search results shouldn't list those results.

[2015-10-06 09:16] #468 closed

[2015-10-06 10:30] anderspeders commented on #425
Agree with @charlesyoung here,

Either contract (or associated contract) should appear with link or it should not appear at all.

@anjesh: This possibly addresses the issue that there is no use case for having contract with only published metadata but no published contract in PDF or text.

[2015-10-06 11:00] anjesh commented on #465
Yes we found the problem, it was due to some CSS thing when the browser size is reduced. Fixed now.

[2015-10-06 11:00] #465 closed

[2015-10-06 11:01] KaitlinCCSI commented on #234
Comparison function is not supposed to be on OLC when it launches, and should not be deployed until better functionality is built, per comment above. Comparison function is currently still on OLC.

Note that comparison function should not be deployed on OLC until it has been improved - I don't know what that means in terms of workflow, but once OLC is live, putting up early prototypes that need mu

[2015-10-06 11:01] KaitlinCCSI commented on #234
@anderspeders @anjesh I don't want to change this to sprint 9, but removing comparison function from OLC should be done now, in sprint 9.

[2015-10-06 11:05] anjesh opened #471 "Annotation UI - popup when annotation clicked"
Following up for next sprint from https://github.com/NRGI/resourcecontracts.org/issues/389#issuecomment-143728872

[2015-10-06 11:05] KaitlinCCSI opened #472 "Capitalization on Contract View page"
"see summary" should be capitalized ---> "See Summary"

"year" in "Signature year" should be capitalized --->
![screen shot 2015-10-06 at 6 02 43 am](https://cloud.githubusercontent.com/assets/14825437/10306934/247edb66-6bf0-11e5-9ea3-4b8132b90dbf.png)
 "Signature Year"

[2015-10-06 11:05] anjesh opened #473 "Annotation UI - add section information in annotations list"
Follow up point 2 from https://github.com/NRGI/resourcecontracts.org/issues/389#issuecomment-143728872

[2015-10-06 11:06] anjesh commented on #389
Creating followup issues for next sprint. Closing this.
https://github.com/NRGI/resourcecontracts.org/issues/471
https://github.com/NRGI/resourcecontracts.org/issues/473

[2015-10-06 11:06] #389 closed

[2015-10-06 11:16] anderspeders commented on #458
+1 on making search results appear by relevancy in elasticsearch engine rather than year.

Not aware of any weighting, but the search is being made across annotations, text and metadata:
![image](https://cloud.githubusercontent.com/assets/1101585/10307079/ad0c9a8c-6bf9-11e5-9667-00acae5b7fb3.png)

[2015-10-06 11:19] KaitlinCCSI commented on #440
@anjesh Can you call the page "Publish Contracts", and make it appear in between "Glossary" and "Contact"?

@charlesyoung I'm not sure what Anders wants for RC. For OLC we are going to use something much shorter. Will hopefully be on site soon so you can take a look.

[2015-10-06 11:20] anderspeders commented on #453
Fully agree that we want the backend to enable these types of fixes and that we should prioritize this in sprint 10.

[2015-10-06 11:22] anderspeders commented on #333
Are we good here @anjesh?

[2015-10-06 11:24] KaitlinCCSI commented on #347
Fine to close for now, but for sprint 10 can we try to stretch footer text out across footer? I think it would look better. cc @byndcivilization

[2015-10-06 11:32] KaitlinCCSI commented on #450
Okay, do you need us to map this list to the code list?

And are you sure that these are the only things mapping to "Other"? In the
example with the screenshot that I gave at the start of this ticket, the
annotation content for correct annotation fields (ie ones that are included
in code list) had been placed in the "Other" category, so the issue wasn't
that the annotation fields in the excel shee

[2015-10-06 11:37] KaitlinCCSI commented on #457
Great, thanks. This was fixed for all contracts, right, and not just this
specific contract?

On Mon, Oct 5, 2015 at 10:29 PM, Anjesh <notifications@github.com> wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and Agriculture**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
435 West 116th St. New York, NY 10027
| +1 (917) 658 5172
| kaitlin.cor

[2015-10-06 11:39] KaitlinCCSI commented on #469
Let's close for now and re-assess later. I understand why View All is only
enabled for longer lists, but also see value in being able to access
countries page from more than just the bottom of the home page. Don't think
this is a priority though.

On Mon, Oct 5, 2015 at 10:16 PM, Anjesh <notifications@github.com> wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and Agriculture**Columbia Center on Sust

[2015-10-06 12:28] jedm commented on #430
Please change icon from pencil to speech balloon so it matches the icon recently selected for Annotations in the Contract view page.

[2015-10-06 12:30] SamCCSI commented on #454
One additional point in Kaitlin's original post on this issue that was not summarized in Anders' bullet points:
"have the name of the site included on every page in the top left corner (like it is on the advanced search page), which would be hyperlinked to the home page (and which I have suggested previously)"

This would mean having the OLC button (below) on top left corner somewhere, and having

[2015-10-06 12:36] SamCCSI commented on #444
Another annotation is still nestled under "Other". This should be re-assigned to "Other - operational".

Apologies for not pointing this out last time.

![screen shot 2015-10-06 at 8 36 00 am](https://cloud.githubusercontent.com/assets/12913915/10308662/5a893818-6c05-11e5-82eb-a54f0bb29a3e.png)

[2015-10-06 12:36] SamCCSI commented on #444
(same contract)

[2015-10-06 12:38] SamCCSI commented on #464
Ok, thank you for that clarification. Good to know.

cc @kaitlinccsi

On Mon, Oct 5, 2015 at 11:10 PM, Anjesh <notifications@github.com> wrote:

--

*SAM SZOKE-BURKE*
*Legal Researcher**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
Level 1, Warren Hall, 410 W116th St. New York, NY 10027
| (212) 854-2635 <212-854-2635> | (646) 630-4123 <64

[2015-10-06 12:39] SamCCSI commented on #466
No worries. Thanks all!

On Mon, Oct 5, 2015 at 10:52 PM, Anjesh <notifications@github.com> wrote:

--

*SAM SZOKE-BURKE*
*Legal Researcher**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
Level 1, Warren Hall, 410 W116th St. New York, NY 10027
| (212) 854-2635 <212-854-2635> | (646) 630-4123 <646-630-4123>
| s.burke@columbia.edu
| www.ccsi

[2015-10-06 13:26] charlesyoung opened #474 "OCR process"
What happens to graphics like organisational charts during the OCR process?

[A question from the Pretoria Workshop]

[2015-10-06 13:27] charlesyoung opened #475 "Mobile devices"
The RC site doesn't seem to be working optimally on mobile devices.

[A question from the Pretoria Workshop]

[2015-10-06 13:29] charlesyoung opened #476 "Separate and and resources portals"
Why are there two separate portals (land and resources) as it would make more sense to incorporate the sites?

[A question from the Pretoria Workshop]

[2015-10-06 13:31] charlesyoung opened #477 "Multilingual support"
Will the RC site include multilingual support?

[A question from the Pretoria Workshop]

[2015-10-06 13:32] charlesyoung commented on #447
Was also asked (adding coords) at the Pretoria Workshop.

[2015-10-06 13:38] charlesyoung opened #478 "Rethink "RC home page" title"
The public RC home page title is misleading as it shouldn’t only note petroleum & mineral contracts, what about gas contracts, etc.

[A question from the Pretoria Workshop]

[2015-10-06 13:44] KaitlinCCSI commented on #476
One big site was original idea, but NRGI didn't have land within scope of
what org would work on, so we needed a separate site. We had spoken in the
past about ways to ensure better linkages between sites - at very least
prominent hyperlinks, but we had other ideas about stronger integration too
- but those seem to have been lost along with other institutional memory
and joint decisions/priorities

[2015-10-06 14:10] KaitlinCCSI commented on #475
Have also flagged this as serious concern. Mobile use was key part of what
we had originally wanted for new platforms. Another example of group wish
not making it into priorities - or even discussion - during
process. Strongly suggest revisiting post launches.

On Tuesday, October 6, 2015, Charles Young <notifications@github.com
<javascript:_e(%7B%7D,'cvml','notifications@github.com');>> wrote:

-

[2015-10-06 14:12] anderspeders commented on #430
Agree @jedm,

@anjesh would be great if this could be done before launch.

[2015-10-06 14:13] anderspeders commented on #382
@anjesh Do we have a status on this one?

[2015-10-06 14:17] anderspeders commented on #474
Graphics are not transcribed in the current OCR process. The charts will for the time being only be available from the PDF-version of the contract.

[Can you add the above to a google doc with FAQ for the site?]

[2015-10-06 14:23] charlesyoung commented on #474
Yep that was my reply as well at the workshop. Added to the admin guide.

[2015-10-06 14:57] anjesh commented on #382
We missed this in today's deployment.

[2015-10-06 14:58] anjesh commented on #430
Sure. cc @hello-deepak

[2015-10-06 15:29] anjesh commented on #457
Yes.

[2015-10-06 15:34] byndcivilization commented on #470
Anders wanted to move all of that up into the main metadata block. Made sense since we're double listing things. Idea was to just put the links directly in metadata.

[2015-10-06 15:37] anjesh commented on #454
The space is expensive in this view and esp in that top bar. We will see how it could fit there without hurting the available space.
cc @sweetanzell @anjhero

[2015-10-06 15:40] anjesh commented on #464
And for the first case, the pdf-processing started and some how processing crashed with few pages left, so that status for annotation/pdf-text shows nothing though it has data. We re-ran the processing and it's fine now.

[2015-10-06 15:40] #464 closed

[2015-10-06 15:41] jedm commented on #470
When this was proposed was it understood that it would hide the "more docs" from their place in the lower right?

Not sure I see the logic of call this metadata because it's not about the doc it's about /other/ docs and is driven by metadata.

However, if that is the recommendation from NRGI team then it definitely requires a change to the template so that this related material from our site and o

[2015-10-06 15:44] anjesh commented on #444
Got it.
 cc @mojbenzcar

[2015-10-06 15:49] anderspeders commented on #470
@jedm the hyperlinks serve essentially the same function as the "more docs" section while making the right bar cleaner.

It will also additionally free up space in the bar which will enable us to add other relevant sections if we decide to do so at a later stage - for example: associated documents...

[2015-10-06 15:55] anjesh commented on #475
I did have some discussion with Anders on this. Except for the contract view page, the site is responsive. We do have plans to fix this page as soon as it gets stable. In sprint 10, we will take care of contract view page.

[2015-10-06 16:01] anjesh commented on #333
No we haven't done this. This page doesn't make ajax calls so any 'x'ing means the whole page gets reloaded rather than the search results only. Lets first see it in demo (with the current setup of entire page reloading) and then move to production if that's ok. Will work on this tomorrow.

[2015-10-06 16:09] anjesh commented on #463
http://www.openlandcontracts.org/ up and running cc @JesseCCSI

[2015-10-06 16:09] #463 closed

[2015-10-06 16:10] SamCCSI commented on #464
Thanks @anjesh for clearing this up!

I have just submitted the text to MT.

[2015-10-06 16:15] jedm commented on #470
@anderspeders and @byndcivilization

In terms of UX, that's a mistake if we seek to help users easily understand their options and more clearly promote the depth of content on the site. Also, see @anderspeders note from 12 days ago that [we do not want to link people immediately away from the Contract page](https://github.com/NRGI/resourcecontracts.org/issues/364#issuecomment-142983675)

Also can

[2015-10-06 16:16] anderspeders commented on #447
This issue will need to fullfil the following requirements / users:

a) On single project coordinated:
- Be compliant with the Open Contracting Data Standard and ResourceProjects.org on project location

See: https://github.com/open-contracting/standard/issues/250

b) On multiple geo-coordinates for mapping contract areas
Follow guidelines from technical scoping delivered by Cadasta.org

[2015-10-06 16:39] anderspeders commented on #470
In my opinion the current design carries forward the requested functionalities of the right bar as discussed before - just in a cleaner way. And clean design is important when we already have a crowded page.

[2015-10-06 16:42] jedm commented on #470
Fewer things is always cleaner but it's certainly not as discussed before.

[2015-10-06 17:01] anderspeders commented on #472
Thanks for noting this and for added screen shot @KaitlinCCSI

[2015-10-06 17:12] KaitlinCCSI commented on #475
Thanks, Anjesh.

On Tuesday, October 6, 2015, Anjesh <notifications@github.com> wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and Agriculture**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
435 West 116th St. New York, NY 10027
| +1 (917) 658 5172
| kaitlin.cordes@law.columbia.edu
| www.ccsi.columbia.edu | @CCSI_Columbia <https://twitter.co

[2015-10-06 17:14] anderspeders opened #479 "OLC: Tweak to crop and design of image on front page"
As discussed in #203, the image on OLC front page will need some design tweaks.

@samCCSI @KaitlinCCSI will provide guidance on requested adjustments.

[2015-10-06 17:15] anderspeders commented on #203
A new ticket for specific design tweaks to front page image has now been created #479,

Thus closing this ticket on partner logos.

[2015-10-06 17:15] #203 closed

[2015-10-06 17:29] JesseCCSI commented on #463
Many thanks @anjesh !

[2015-10-06 18:42] SamCCSI opened #480 "Contract uploaded with wrong annotations"
http://resourcecontracts.elasticbeanstalk.com/contract/1036

Contract is from Sudan, and has been erroneously paired with annotations from a South Sudanese contract (this one - http://www.openlandcontracts.org/contract/1180/view)

We want to keep contract 1036 because it has already been through MT.

Will it be possible to just delete all annotations, so that we can enter them onto site once manua

[2015-10-06 18:45] anderspeders commented on #480
Post-launch: We want to  enable editing of annotations from the backend - so yes this should become possible - hopefully in sprint 10.

Pre-launch: You could publish PDF/text and metadata without publishing the annotations to at least get it up, right?

[2015-10-06 18:57] SamCCSI commented on #480
Thanks, Anders.

I have unpublished it for now, as we only want to feature contracts with
full annotations.

But great that we can change this post-launch, once the annotation editing
module is live.

On Tue, Oct 6, 2015 at 2:45 PM, Anders <notifications@github.com> wrote:

--

*SAM SZOKE-BURKE*
*Legal Researcher**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute

[2015-10-06 20:56] anderspeders opened #481 "Change front end text in search field"
Change from: "Type here to search for contracts..."
To: "Search [INSERT RC CONTRACT AMOUNT] contracts"

(for example for RC today: "Search 395 contracts"

![image](https://cloud.githubusercontent.com/assets/1101585/10322161/92fdab26-6c4a-11e5-85bc-99f3e4cb502f.png)

@KaitlinCCSI @samCCSI: please confirm if this would also be useful for OLC as well?

[2015-10-06 20:56] JesseCCSI opened #482 "Advanced search page > annotation category boxes"
When you select some items from the annotations category dropdown, the grey 'boxes' sometimes spill over (screenshot below gives much better explanation).

![screen shot 2015-10-06 at 16 53 32](https://cloud.githubusercontent.com/assets/14910764/10322304/221739a8-6c4b-11e5-9ea1-5629772449f6.png)

[2015-10-06 21:55] JesseCCSI opened #483 "Editing/ formatting thumbnails"
Hi @anderspeders this isn't a priority pre-launch but I noticed that when you add an image to a post (e.g. on http://www.openlandcontracts.org/page/resources) you can't hyperlink from the thumbnail, move the thumbnail easily around the page (so that it appears alongside text rather than solely above/ below, etc). Would be great to have the ability to make these edits.

Many thanks.

[2015-10-06 22:36] anderspeders opened #484 "Add normal address field to contract area location. Field name: deliveryAddress"
For contracts which does not have a detailed contract area defined by lat, long it is recommended that a basic address is provided.

Suggested field name to ensure compliance with OPCD: _deliveryAddress_

[2015-10-06 23:04] anderspeders commented on #475
Thanks all,

Let's assign this for sprint 10 tentatively. I am aware that we are aggregating a long issue list for the coming sprint, so we might need to push this forward.

[2015-10-06 23:05] anderspeders commented on #425
Pushing this to sprint 10,

@anjesh Do make sure you have ask if any of this is unclear.

[2015-10-06 23:08] anderspeders commented on #290
@charlesyoung Did this get solved? If not could you flesh out a more detailed recommendation for the metadata form (or the documentation)?

[2015-10-06 23:11] anderspeders commented on #317
Suggest here that we adjust the guidance text in the metadata form. Is the change below helpful @charlesyoung?

From: "please enter a value less than or equal to 1"

To: "Please enter the percentage value of the participation share. For example: 32% is 0.32)"

[2015-10-07 01:28] KaitlinCCSI commented on #440
@anjesh Can you let us know when this page is created so that we can add content to it? Thanks!

cc @jesseccsi

[2015-10-07 01:38] KaitlinCCSI commented on #333
Can you please make sure that when you work on things moving forward, any
testing/demo-ing won't affect OLC live site? Thanks.

On Tue, Oct 6, 2015 at 11:01 AM, Anjesh <notifications@github.com> wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and Agriculture**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
435 West 116th St. New York, NY 10027

[2015-10-07 01:50] KaitlinCCSI commented on #470
As Jed mentioned, I thought we had decided that we didn't want to divert
people from the contract with these types of hyperlinks in the metadata.
Also, as a user, these links seem a bit confusing, because the hyperlinks
in left column take you to the place in contract where information is
found, but the hyperlinks in right column take you to a separate page and
completely away from the contract. H

[2015-10-07 01:51] KaitlinCCSI opened #485 "Contract view page loading slowly - optimization"
Just tried to open http://www.openlandcontracts.org/contract/1162/view and entire contract view page opened very slowly (not just PDF loading slowly) - much more slowly than normal. Anything that can be done to speed it up?

[2015-10-07 02:43] anjesh commented on #482
@JesseCCSI which browser are you using and OS?

[2015-10-07 02:57] anjesh commented on #483
Hi @JesseCCSI you could do that directly from the code (by clicking on code view), but requires some very basic HTML knowledge. For now i have made quick fixes there just to verify that it works.

![image](https://cloud.githubusercontent.com/assets/120488/10328050/4087c810-6ccf-11e5-8bd1-28c33e8cb9f5.png)

[2015-10-07 03:06] JesseCCSI commented on #483
Great many thanks @anjesh

[2015-10-07 03:07] JesseCCSI commented on #482
@anjesh Mac OS X and Chrome

[2015-10-07 03:26] anjesh commented on #485
This particular contract opened in about 3 seconds at my end. Sometimes it does get stuck - and i assume it's mostly the bandwidth as the page when loaded, makes 4 different ajax calls to the API, which sometimes might get affected and need to be reloaded. And sometimes some of these pdf pages might be of big size because they are scanned. We have split the pages of pdf for loading rather than ent

[2015-10-07 03:45] anjesh commented on #482
I am using the same and it appears fine. Haven't seen such in any browser so far. Strange.

[2015-10-07 03:51] anjesh commented on #333
Definitely.

[2015-10-07 03:53] anjesh commented on #402
Yes. I think we could close this now.

[2015-10-07 03:53] #402 closed

[2015-10-07 04:58] anjesh commented on #379
We fixed this. Now the search area is hidden until the page loads.

[2015-10-07 04:58] #379 closed

[2015-10-07 05:37] anjesh commented on #443
It was due to the auto-expansion and shortening of the annotation-text when that particular annotation is clicked. That off position happened because one of the longer text is now shortened, taking the lower annotations to the top during render. Will try to see the fix.

[2015-10-07 05:46] anjesh commented on #376
This is the current process.
The pdf gets uploaded to S3, then goes through the splitting process (which sometimes take some good time (minutes) for large pdfs containing hundreds of pages), and then goes to Abbyy if the document is scanned. To give the smooth experience, we have setup queues for these process. So the user doesn't have to wait for the completion of the contract and start adding me

[2015-10-07 07:56] anjesh commented on #440
@jesseccsi http://www.openlandcontracts.org/publish-contracts created

[2015-10-07 07:56] #440 closed

[2015-10-07 07:59] anjesh commented on #454
Added home link

![image](https://cloud.githubusercontent.com/assets/120488/10331980/74607180-6cf9-11e5-8ee7-cbc771328c2c.png)

[2015-10-07 08:00] anjesh commented on #430
Fixed annotation icon in contract summary page.

[2015-10-07 08:00] #430 closed

[2015-10-07 08:01] anjesh commented on #234
Comparison function checkbox hidden

[2015-10-07 08:04] anjesh commented on #444
Fixed this particular annotation.

[2015-10-07 08:04] #444 closed

[2015-10-07 08:06] anjesh commented on #450
Yes these are the only remainings. Once mapped and fixed, should solve all the possible mis-mapped other category issues.

[2015-10-07 08:12] anjesh commented on #382
This is how it appears now in 404.

![image](https://cloud.githubusercontent.com/assets/120488/10332174/4505d338-6cfb-11e5-8293-ad55061bd132.png)

[2015-10-07 08:12] #382 closed

[2015-10-07 08:18] anjesh commented on #333
Moving this to Sprint 10. We will ofcourse have this in demo before making change in live site.

[2015-10-07 08:19] anjesh commented on #367
By pdf-text, i mean OCR text. Lets discuss what else to expose in this search. Taking off Sprint 9.

[2015-10-07 08:21] anjesh commented on #347
The footer text is stretched now.

[2015-10-07 09:04] charlesyoung commented on #317
Yep the text update looks good. A question though; what is the complexity to allow for full percentage capture?

[2015-10-07 10:36] anderspeders commented on #470
Sounds good,
Let's review in sprint 10.

[2015-10-07 10:47] anderspeders commented on #445
@KaitlinCCSI: Am I correct that this has been fixed for now with links to the relevant PDF-documents?

If that is the case we can close this.

[2015-10-07 10:47] #445 closed

[2015-10-07 11:08] KaitlinCCSI commented on #445
Yes, we have uploaded using Amazon s3 link. Not sure if that's a long term
solution or not (?), but can close this ticket.

On Wed, Oct 7, 2015 at 5:47 AM, Anders <notifications@github.com> wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and Agriculture**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
435 West 116th St. New York, NY 10027
| +1

[2015-10-07 11:10] KaitlinCCSI commented on #347
Excellent; thanks.

[2015-10-07 11:11] KaitlinCCSI commented on #333
Thanks, Anjesh.

On Wed, Oct 7, 2015 at 3:18 AM, Anjesh <notifications@github.com> wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and Agriculture**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
435 West 116th St. New York, NY 10027
| +1 (917) 658 5172
| kaitlin.cordes@law.columbia.edu
| www.ccsi.columbia.edu | @CCSI_Columbia <https://twitter

[2015-10-07 11:15] KaitlinCCSI commented on #382
Fine for now - thanks - but I am going to open another ticket for Sprint 11, because I still think it might be useful to make these pages more easy to access, including from other pages (not just 404 page).

[2015-10-07 11:18] KaitlinCCSI opened #486 "Making About, FAQ, and other pages easier to find/access"
When I look at the site on my laptop, it's hard to find the About, FAQ, contact, and other pages that are listed in the bottom left of the footer. Is it possible to make them easier to find?

(As noted in #382 , for which 404 page was then adjusted, but no other changes made.)

[2015-10-07 11:25] KaitlinCCSI commented on #485
Okay. Just tried to open two other pages this am and both also loaded fairly slowly - about 30 seconds of just a blank page until you could see that there were different columns, maybe another 5 seconds for annotations column to load, and then a few more seconds for PDF to load. Not sure how fast my internet is now, but no other pages on any other website I've used have loaded noticeably slowly.

[2015-10-07 11:37] KaitlinCCSI commented on #482
I just checked the 2 in Jesse's example - Arbitration didn't do it, but local procurement did. Am on a Mac and using Chrome.

![screen shot 2015-10-07 at 7 36 29 am](https://cloud.githubusercontent.com/assets/14825437/10336353/3972fdaa-6cc6-11e5-9833-406ba7f44d26.png)

[2015-10-07 11:41] anjesh commented on #485
We should be able to  optimise the loading time by bundling js files and compressing them. Will do that in early sprint 10.

[2015-10-07 11:41] KaitlinCCSI commented on #454
Thanks. I think it might be useful for summary page to have the same back button in same place as other page (rather than a "Back to document" button on right side). Can we address in sprint 10?

[2015-10-07 12:03] charlesyoung commented on #290
Its still not resolved as shown below.

The most optimal solution will be to allow uploaders the option of selecting if its the main contract or supporting document directly under the 'Contract File' location. If the main contract then the uploader completes capturing the information as per normal but if its supporting documentation then another options needs to be presented allowing for the selec

[2015-10-07 13:58] KaitlinCCSI opened #487 "Wrong country for contract in metadata"
Can this be fixed in next 30 minutes? Should be Sierra Leone; it says Liberia.

Heading to launch now, but wanted to show this page and so would be good to have correct results. @anderspeders @anjesh @byndcivilization

http://www.openlandcontracts.org/contract/1043/view

![screen shot 2015-10-07 at 9 55 12 am](https://cloud.githubusercontent.com/assets/14825437/10339523/c4fa83d0-6cd9-11e5-9d72-e00

[2015-10-07 14:04] anjesh commented on #487
Fixed and re-published.

[2015-10-07 14:04] #487 closed

[2015-10-07 14:15] anderspeders commented on #448
- Are the annotation categories updated?
- Are they saved properly?
- Do they display properly to the front end?

[2015-10-07 15:05] charlesyoung opened #488 "Project location reference information / geo-location latitude longitude"
Philippines want to capture project location reference (region, province and municipality) information as metadata. Could this be added in later Sprints?

[2015-10-07 15:27] byndcivilization commented on #376
The real bottleneck is probably abbyy right? Are you shipping pages in bulk? I wonder if you shipped pages individually if it would help. Not sure what their stack is but possible its multiple servers behind a load balancer which would mean you could parallelize the process... Other than that not sure what can be done.

[2015-10-07 19:18] anderspeders opened #489 "Country name consistency"
Libya
Bolivia
Tanzania

needs to have "normal names"

[2015-10-07 19:22] anderspeders opened #490 "Country page needs download function"
![image](https://cloud.githubusercontent.com/assets/1101585/10348461/37836048-6d07-11e5-9117-819fae6feecd.png)

[2015-10-07 19:24] anderspeders opened #491 "Return from cluster category to top in left bar"
![image](https://cloud.githubusercontent.com/assets/1101585/10348505/720ce900-6d07-11e5-9e3d-6837df013b8e.png)

[2015-10-07 19:26] anderspeders opened #492 "Reconsider cluster category anes: "General", "Other"?"
Suggestion from Patrick to consider different terms...

[2015-10-07 19:47] KaitlinCCSI commented on #492
Think that would be a good idea. Did he have specific suggestions?

On Wednesday, October 7, 2015, Anders <notifications@github.com> wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and Agriculture**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
435 West 116th St. New York, NY 10027
| +1 (917) 658 5172
| kaitlin.cordes@law.columbia.edu
| www.c

[2015-10-07 20:13] anderspeders opened #493 "Add annotation content to annotation category search results"
As a user when I search for annotation categories - eg. bonuses - I want the annotation text to appear in the search result in *a seperate column* (instead of underneath the contract name):

![image](https://cloud.githubusercontent.com/assets/1101585/10349599/4d612908-6d0d-11e5-81ba-43beec133370.png)

1) Suggesting the following order on the site:
Contract name | Annotation category | Annotation c

[2015-10-08 03:05] anjesh commented on #493
From the UI perspective it mightn't look good. First of all annotation category can get very long, then annotation text is also long. And when there are multiple categories selected, it gets even difficult to manage the space.

[2015-10-08 03:07] anjesh commented on #489
We are using the names from this list. Shall we just rename the names for these 3?

[2015-10-08 03:10] anjesh commented on #326
This has been fixed.

[2015-10-08 03:10] #326 closed

[2015-10-08 03:46] KaitlinCCSI commented on #493
Agree this should be thought through carefully; would be nice to get this
info more quickly, but think this could look fairly overwhelming and messy.
Perhaps @jedm might have some ideas on this?

On Wednesday, October 7, 2015, Anjesh <notifications@github.com> wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and Agriculture**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth In

[2015-10-08 06:19] charlesyoung opened #494 "RC public site country list"
How is the RC public site country list generated? I noticed that Albania isn't in the list although there are 13 contracts uploaded.

![image](https://cloud.githubusercontent.com/assets/13888372/10359058/fdf3d5ae-6d94-11e5-95a6-c45ba31febb1.png)

[2015-10-08 06:24] charlesyoung opened #495 "Data cleanup"
Will there be a data cleanup exercise before the launch?

![image](https://cloud.githubusercontent.com/assets/13888372/10359150/ebc70b98-6d95-11e5-92c9-a71447b4c789.png)

[2015-10-08 06:36] #474 closed

[2015-10-08 06:48] charlesyoung commented on #59
Should this not be expanded to include 'Language', 'Resource', 'Type of Contract', 'Company Name', 'Jurisdiction of Incorporation' and 'Disclosure Mode'?

[2015-10-08 07:25] anjesh commented on #495
We will do the RC contracts cleanup. Follow this issue https://github.com/NRGI/resourcecontracts.org/issues/432

[2015-10-08 07:25] #495 closed

[2015-10-08 08:19] anjesh commented on #494
I just published one AL contract and Albania is appearing now.  http://alpha.resourcecontracts.org/countries/al

[2015-10-08 08:24] charlesyoung commented on #494
Thanks but this isn't just about Albania but how countries are generally displayed on the RC public site. Argentina also isn't shown RC public site while 1 contract has been published.

[2015-10-08 08:31] anjesh commented on #494
I just re-published Argentina contract again and it's showing up now http://alpha.resourcecontracts.org/search?q=&country%5B%5D=ar
Though you might have seen that it's published in the contract view, it's not published. It's pretty early uploaded contract in Jul. It must have been published before and we have re-indexed OLC contracts several times and must have been somehow missed.

[2015-10-08 08:31] anjesh commented on #494
In any case, we will be republishing every RC contracts soon and everything should appear in alpha.resourcecontracts.org

[2015-10-08 08:33] charlesyoung commented on #494
Great, thanks.

[2015-10-08 08:33] #494 closed

[2015-10-08 09:05] charlesyoung opened #496 "Contracts Sent for Mturk Page"
Include a column for country. Although the country is normally noted in the contract name there are time when it's not. The country column will provide a good overview.

[2015-10-08 09:11] charlesyoung opened #497 "Contracts Sent for Mturk Page"
Approved contracts, denoted as 'Sent to RC', should be removed from the MT list so that only  contracts that are being transcribed or still need approval are displayed? A separate tab could be added to the Mturk page to show approved contracts if required.

[2015-10-08 10:30] jedm commented on #493
@KaitlinCCSI and @anderspeders - I agree with @anjesh

Suggestion attached for adding Annotation category and Section/Reference/Page next to excerpt. This avoids adding a column. Also suggest adding ellipses around each excerpt.

And recommend deleting "Found in" just like we deleted "Sort by" in Contract page. The "Text/Annotation/Metadata" sprites are clear without the extra words on page.

![rc

[2015-10-08 10:31] jedm commented on #493
@anjesh and @byndcivilization Is there a way to include number of matches per document in Search results? When I go to a result and search the same word again, there are many more matches than just two, which could be confusing.

[2015-10-08 10:32] jedm commented on #493
Attached PDF includes above fixes and a half-dozen other fixes and recommendations for consistency and clearer UX in Search page.

[RCOLC_UI_search_pg.pdf](https://github.com/NRGI/resourcecontracts.org/files/9979/RCOLC_UI_search_pg.pdf)

[2015-10-08 10:34] anjesh commented on #432
Here are the spreadsheets for the different unmapped codelist

* [Company names](https://docs.google.com/spreadsheets/d/1Ytw6N6AvJCUnTEiCl7TMipP_afpRAgVV6-9lpN9Xc_w/edit?ts=5615fad5#gid=0)
* [Resources] (https://docs.google.com/spreadsheets/d/1Ytw6N6AvJCUnTEiCl7TMipP_afpRAgVV6-9lpN9Xc_w/edit?ts=5615fad5#gid=767430250)
* [Contract Types] (https://docs.google.com/spreadsheets/d/1Ytw6N6AvJCUnTEiCl7TM

[2015-10-08 10:34] anjesh commented on #450
Will be handling this in data cleanup for RC https://github.com/NRGI/resourcecontracts.org/issues/432#issuecomment-146490346

[2015-10-08 10:34] #450 closed

[2015-10-08 10:38] anjesh commented on #485
Moving to next sprint for the possible optimisation

[2015-10-08 10:38] anjesh commented on #454
Moving to 10 for this fix.

[2015-10-08 11:05] anderspeders opened #498 "Admin interface: Annotation category selected but not recognized in the right bar"
![image](https://cloud.githubusercontent.com/assets/1101585/10364599/def099a8-6d8a-11e5-8f09-e5cb8bc21c20.png)

[2015-10-08 11:07] anderspeders opened #499 "Admin interface: Remove "tag field" (serves no purpose), Update annotation category list"
![image](https://cloud.githubusercontent.com/assets/1101585/10364649/34b74b70-6d8b-11e5-91fb-b27b3587c164.png)

[2015-10-08 11:50] anderspeders commented on #215
Pushing this to post-RC launch

[2015-10-08 11:52] anderspeders commented on #204
@byndcivilization @anjesh Let's make sure we find a fix here. Are we any closer on a diagnosis of why they could not migrate?

[2015-10-08 12:00] charlesyoung opened #500 "OCR Text with issues, need process for publishing"
Are Uploaders sufficiently trained to vet and approve the PDF text? Below example needed editing before being published. This will become more critical when Uploaders are using the OCR text to create the annotations.

![image](https://cloud.githubusercontent.com/assets/13888372/10365567/a6c4a8e6-6dc4-11e5-936f-3880c9c2b60c.png)

[2015-10-08 12:08] charlesyoung commented on #484
Should we not rather add project location reference information (case #488) to contacts with no coords than a basic address?

[2015-10-08 12:13] anjesh commented on #434
@anderspeders
All the RC contracts are published, there are few contracts that didn't get indexed because there were problems with the signature date (like incomplete dates like 2007-11-00). They weren't indexed.

Need to go through these contracts and edit dates to make them appear in alpha.rc

* Contrat de Partage de Production Entre La Republique Democratique du Congo Et L'Association South Afr

[2015-10-08 13:16] charlesyoung opened #501 "Annotation searching in the RC Admin Module"
Clicking on the annotation search results opens the relevant contract page but not the actual section of text that is being searched. Can this be refined to display the section of text and not just the page? Can the search text also be highlighted to make it easier to locate. This will assist when annotating an OCR contract.

[2015-10-08 13:23] charlesyoung opened #502 "Annotation list"
It's not that obvious how a user can return to the annotation list once a search has been performed. The way back is to click on the text / PDF icons but its not that obvious.

![image](https://cloud.githubusercontent.com/assets/13888372/10367318/01838e0e-6dd0-11e5-829a-bf867a48dfc5.png)

[2015-10-08 13:54] anderspeders opened #503 "English - French translation"
Working document:
https://docs.google.com/spreadsheets/d/1GjnhV9fLFl_-9EHyQdpPO9X7yYysIJJkAhakWXEnOT0/edit#gid=0

1) YI will prepare list of string text that needs translation
2) Anders will follow up with @samCCSI @KaitlinCCSI on translation to French
3) YI will implement

[2015-10-08 13:56] anderspeders commented on #475
We will improve the mobile responsiveness of the *contract view page*. This will be done in sprint 10.

[2015-10-08 14:20] anderspeders opened #504 "Automatic reset of not-submitted tasks in Mechnical turk after 10 days"
This is addressing an old issue we have wanted to fix for a while.

[2015-10-08 14:25] anderspeders opened #505 "Draft Mechanical Turk workflow"

[2015-10-08 22:25] anderspeders commented on #489
Yes, please do.

[2015-10-08 22:28] anderspeders commented on #434
@charlesyoung COuld you lent a hand to review these contracts *signatory date* to a) ensure that each will fit the date format and then b) publish.

[2015-10-08 22:33] anderspeders commented on #483
Consider this covered. Closing.

[2015-10-08 23:48] anderspeders commented on #432
OK, the following categories are now mapped:
Company names
Resources
Contract Types

in this spreadsheet: Green columns are mapped and ready for import:
https://docs.google.com/spreadsheets/d/1Ytw6N6AvJCUnTEiCl7TMipP_afpRAgVV6-9lpN9Xc_w/edit?ts=5615fad5#gid=1593729422

I will create a separate ticket for mapping of annotation categories.

[2015-10-08 23:50] anderspeders opened #506 "RC: Mapping and harmonization of annotation categories"
This sheet was prepared for ticket #432 but is incomplete as it only covers annotation mapping errors under "Others":
https://docs.google.com/spreadsheets/d/1CQJsDOXoSKnv3abSDfFA-J6r_Tmn2Nxzk0A6mYyMrRI/edit?ts=56135030#gid=0

Please provide a full list of all annotation categories in RC.org which are non-compatible with the current annotation code list.

[2015-10-09 01:40] anderspeders opened #507 "Auto-generate metadata for supporting document based on parent document"
This is a user request documented by PH-EITI. cc @charlesyoung

@anjesh: When would it be possible to implement this?

[2015-10-09 03:10] anjesh commented on #506
This is the full list of categories in the database. Other categories are mapped during OLC data cleanup.

[2015-10-09 04:08] anjesh commented on #59
cc @anderspeders

[2015-10-09 04:30] anjesh commented on #462
Need frontend validation.

[2015-10-09 06:27] charlesyoung commented on #434
Feedback:

1. Republique de Guinea Royalty and Production Sharing Agreement between the Republic of Guinea and USOil Corporation -  the contract only mentions 2002 which is why the person captured 2002-00-00

2. Mauritania Contrat de Partage de Production Entre La Republique Islamique de Mauritanie et International Petroleum Grouping (Block 11) - the contract text has been published although a ful

[2015-10-09 07:01] charlesyoung commented on #458
@anderspeders any chance that this update can be done in Sprint #10?

[2015-10-09 08:58] charlesyoung opened #508 "New site available publicly"
Not sure this is intentional but the beta site is available publicly.

![image](https://cloud.githubusercontent.com/assets/13888372/10389818/7d4140be-6e74-11e5-9eba-d6822c5198bc.png)

[2015-10-09 09:47] anjesh commented on #432
There are few contract type that is not present in the codelist. Please see red-highlighted types. https://docs.google.com/spreadsheets/d/1Ytw6N6AvJCUnTEiCl7TMipP_afpRAgVV6-9lpN9Xc_w/edit?ts=5615fad5#gid=748511877

[2015-10-09 09:48] charlesyoung commented on #507
linked to 'Associated Documents - Metadata', case #289

[2015-10-09 10:31] charlesyoung commented on #500
Not sure if this is part of the data QC exercise but I checked more OCR'ed contracts that have been published but still need text editing making it not ready for public consumption.

[2015-10-09 11:25] anjesh commented on #508
We create rc.yipl.com.np to test first (though it points to openlandcontracts.org), we will remove that, and the google should clear that from their index sometimes later.

[2015-10-09 11:25] #508 closed

[2015-10-09 11:26] anderspeders opened #509 "NRGI logo at bottom of page: Link to ResourceGovernance.org - not RC.org"

[2015-10-09 11:26] anjesh commented on #508
I meant alpha.resourcecontracts.org

[2015-10-09 11:27] anderspeders opened #510 "FAQ and other pages - review"

[2015-10-09 11:28] anderspeders opened #511 "Map on the front page in confusing - does not represent actual contract availability"
An updated world map with country coverage- some countries aren't shaeded that perhaps should be e.g. Sierra Leone.

[2015-10-09 11:40] anderspeders opened #512 "RC: Add CC-BY-SA license badge and text in footer"
Ad CC-BY-SA badge on all relevant pags including frontpage

https://licensebuttons.net/l/by-sa/3.0/88x31.png

Text with link:
[Content is licensed under Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)] link: https://creativecommons.org/licenses/by-sa/4.0/

[2015-10-09 11:43] anderspeders opened #513 "RC: Footer link to API documentation"
An API button in the bottom navbar linking to API documentation page: https://github.com/NRGI/resourcecontracts.org/wiki/API

[2015-10-09 11:48] charlesyoung opened #514 ""Text Type" needs renaming in Admin Interface?"
I don't think that the wording 'Text Type' is descriptive enough.

Also can we not force the selection of one of the three text types before publishing the PDF text? Below is an example of published PDF text without a selected text type.

![image](https://cloud.githubusercontent.com/assets/13888372/10392954/e41d0da6-6e8b-11e5-9178-5bc86b5fc767.png)

[2015-10-09 13:10] SamCCSI commented on #483
Anders, this issue is not ready for closing. We at CCSI don't have html
knowledge, so that would mean that we would need to contact YI every time
we need to add an image or do other formatting, which is not efficient.

Fine for this to not be an immediate priority but I don't think it should
be closed.

On Thu, Oct 8, 2015 at 6:33 PM, Anders <notifications@github.com> wrote:

--

*SAM SZOKE-BURKE*

[2015-10-09 20:41] SamCCSI opened #515 "Activity log - possible to hyperlink?"
Request from our metadata uploaders:

Can we make the contracts listed on the activity log hyperlinked? Will aid everyone's ability to see docs quickly.

http://resourcecontracts.elasticbeanstalk.com/activities

[2015-10-10 13:52] SamCCSI opened #516 "Glitch re corporate grouping field"
From an uploader:

For a small number of contracts, where no corporate grouping is entered in respect of a company, the database reads the blank field (which says “Select”) as a corporate grouping called “Select”. Eg
http://alpha.resourcecontracts.org/contract/1200
http://alpha.resourcecontracts.org/contract/1201

[2015-10-11 18:38] jedm commented on #502
I cannot reproduce the above view, so it may be from an older staged site, but if this view is possible then I agree it's not ideal UI. Does this also connect to #406 ?

[2015-10-12 03:51] sadhakbj commented on #204
2) Contract Name : Griffiths Energy (Tchad) Ltd - Tchad, 2011, French
File Name : 1372269-psc-griffiths-energy-chad-ltd-and-chad-jan-2011.json
Pdf Link: https://s3.amazonaws.com/s3.documentcloud.org/documents/1372269/psc-griffiths-energy-chad-ltd-and-chad-jan-2011.pdf (WORKING)

3) Contract Name : Griffiths Energy (DOH) Ltd - Tchad, 2011, French
File Name : 1372270-psc-griffiths-energy-doh-ltd-and

[2015-10-12 04:42] anjesh commented on #299
Duplicate of https://github.com/NRGI/resourcecontracts.org/issues/432

[2015-10-12 04:42] #299 closed

[2015-10-12 07:01] charlesyoung commented on #502
I also now cannot reproduce the issue. On a side, I've added 5 annotations to a test contract but can only click on the 'Resource' and 'Project Title'.

http://resourcecontracts.elasticbeanstalk.com/contract/1203/annotate

[2015-10-12 08:28] anjesh commented on #502
We are re-doing this UI in admin. Will be deployed today, it will reflect the UI as of subsite.

[2015-10-12 08:45] anjesh commented on #515
That sounds good.

[2015-10-12 08:51] anjesh commented on #516
"Select" also appeared at one of the items in the list - that have been scrapped from the opencorporates. Need to remove from the list and fix the "Select" selected contracts metadata. http://alpha.resourcecontracts.org/search?corporate_group=Select
cc @sadhakbj

[2015-10-13 04:46] anjesh opened #517 "Setup ES in https://aws.amazon.com/elasticsearch-service/"
Current ES instance in AWS is having some problems with high usage. Need to setup https://aws.amazon.com/elasticsearch-service/

Reported at https://github.com/younginnovations/resourcecontracts-api/issues/4#issuecomment-147181169

[2015-10-13 05:32] anjesh commented on #339
There are the fields proposed by @anderspeders  for the import template. Multiple-value fields are to be separated by comma in each column, e.g. resource will have coal,oil. We have excluded the supporting documents and parent documents from the template as it's not possible to link them with the imported contract. Ideally IDs of these contracts would be needed for linkage. Or use of title would b

[2015-10-13 05:50] anjesh commented on #367
@anderspeders so we need to have search for annotation as well in the current search box

![image](https://cloud.githubusercontent.com/assets/120488/10446817/66501466-719e-11e5-8b42-2add672a253c.png)

Currently it searches only OCR text (if available), now with annotations, they will be listed side-by-side differentiated with annotation and text icons besides the results.

[2015-10-13 06:22] anjesh commented on #493
My understanding here is

When you do free-text search, say searching for convention, then it just shows the text where it finds in the index. To make the search fast and less cumbersome, we have concatenated all the OCR text as one, and all annotations as one. So we just need to make one query to see if the query-text is present or not.

![image](https://cloud.githubusercontent.com/assets/120488/

[2015-10-13 07:28] anjesh commented on #467
Fixed.

[2015-10-13 07:28] #467 closed

[2015-10-13 07:30] anjesh commented on #513
API included in the footer.
![image](https://cloud.githubusercontent.com/assets/120488/10448419/79aa7c82-71ac-11e5-8ea9-19df0417c23d.png)

[2015-10-13 07:30] #513 closed

[2015-10-13 08:34] anjesh commented on #425
Fixed. Only published suppporting/parent documents are listed.

[2015-10-13 08:34] #425 closed

[2015-10-13 08:35] anjesh commented on #456
Fixed the wording.

[2015-10-13 08:35] #456 closed

[2015-10-13 08:37] anjesh commented on #481
Fixed the text in both olc and rc.

[2015-10-13 08:37] #481 closed

[2015-10-13 08:38] anjesh commented on #489
Fixed for these 3 countries.

[2015-10-13 08:38] #489 closed

[2015-10-13 08:38] anjesh commented on #509
Fixed link.

[2015-10-13 08:38] #509 closed

[2015-10-13 08:40] anjesh commented on #490
Added download links for both country and resource page.

[2015-10-13 08:40] #490 closed

[2015-10-13 08:44] anjesh commented on #516
"Select" item removed from the list in the admin and fixed for the contracts. But now there are few other contracts that have "Select" as Corporate Group. http://alpha.resourcecontracts.org/search?corporate_group=Select
Now they could be easily removed from the admin and re-published and will be fixed.

[2015-10-13 08:44] #516 closed

[2015-10-13 08:49] anjesh commented on #499
Tag removed from annotations UI.

[2015-10-13 08:49] #499 closed

[2015-10-13 09:30] anjesh commented on #511
That map was not intended to be the coverage map of the contracts and it's small for that. We will replace the map without intended selected countries. But we will have interactive coverage map later.

[2015-10-13 09:39] anjesh commented on #507
We might need to change the flow here for the supporting documents in this case. I am thinking of the following process.

There will be a new link/button called "Add supporting document" in the contract page or there could also be the link in the contract listing page.
Step 1: User clicks on "Add supporting document".
Step 2: Users will see the parent contract being selected in the list of contrac

[2015-10-13 09:48] charlesyoung commented on #507
Sounds good. Can the list of parent contracts somehow be sorted or searched by country? You don't want a user to have to wade through 600 contracts, and counting, to locate the relevant parent contract.

[2015-10-13 10:48] anjesh commented on #349
Added edit profile link.

![image](https://cloud.githubusercontent.com/assets/120488/10452941/23b9abb0-71c8-11e5-8c0e-d0652d5b630e.png)

[2015-10-13 10:48] #349 closed

[2015-10-13 10:50] anjesh commented on #370
We tested with the unicode chars in the MTurk sandbox and it's working now. We have fixed the encoding to utf-8 in the transcription form. The french chars should be good now.

[2015-10-13 10:54] anjesh commented on #421
We have updated the annotation UI in admin. Please have a look, this should fix previous issues here and there. It follows the subsite annotation UI.

[2015-10-13 10:54] anderspeders commented on #507
Sounds good.

@charlesyoung We might have time to circle this suggested workflow by PH-EITI if relevant?

[2015-10-13 11:00] anjesh commented on #377
OCID now part of the URI http://www.openlandcontracts.org/contract/683-ocds-591adf-CD0848066778OL/view

[2015-10-13 11:00] giorgiacek opened #518 "APIs not working"
time outs

[2015-10-13 11:01] anjesh commented on #473
Duplicate of https://github.com/NRGI/resourcecontracts.org/issues/391

[2015-10-13 11:01] #473 closed

[2015-10-13 11:09] anderspeders commented on #377
Looking at this again I do think that adding the internal identifier makes little sense in URL, as it essentially makes external users unable to reproduce calls and links. (I understand the small winfrom an admin point of view but think the overall setup appears to be a loss with the user being unable to fetch a consistent URL).

@byndcivilization thoughts?

[2015-10-13 11:19] anjesh commented on #518
Where did you get the timeout?

[2015-10-13 11:23] giorgiacek commented on #518
http://rc-elasticsearch.elasticbeanstalk.com/api/contract/999/text

[2015-10-13 11:26] anjesh commented on #518
Correct. Please use IP http://54.173.9.19/ for the timebeing.

We are looking to change the current infrastructure for the API  https://github.com/NRGI/resourcecontracts.org/issues/517

[2015-10-13 11:29] charlesyoung commented on #507
Will be good but I however do think that all the available time should be spent ensuring that the site is stable and fast before the launch.

[2015-10-13 11:35] anjesh commented on #166
PDF zoom enabled in annotation ui (admin).

[2015-10-13 11:35] #166 closed

[2015-10-13 14:38] charlesyoung opened #519 "Annotation module"
1. Open by default on the text doc and not the PDF doc
2. Spell check all categories i.e. Community
3. Different font, size between the English and French categories
4. Page not opened when clicking on the link on the relevant annotation
5. What is ‘See all Annotations’ suppose to do as it takes you back to the general publishing page?
6. Searching for 'tax' through RC admin site returns 2 results

[2015-10-13 16:50] byndcivilization commented on #517
In addition, there seems to be only limited ES functionality exposed. For instance:
```curl  -XGET "http://54.173.9.19/api/_mapping/"```

gets you this:
```<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">```
```<html><head>```
```<title>301 Moved Permanently</title>```
```</head><body>```
```<h1>Moved Permanently</h1>```
```<p>The document has moved <a href="http://54.173.9.19/_mapping">here</a>

[2015-10-14 03:24] anjesh commented on #517
54.173.9.19 IP is the http one, which exposes the limited API only. It's not ES.

[2015-10-14 04:11] byndcivilization commented on #517
Do we have a way to expose the full es api? Will need this for analytics at some point. Maybe oauth?

[2015-10-14 04:12] anjesh commented on #377
We will make change in the API to fetch the contract based on ocid or just simply id. cc @hello-deepak

[2015-10-14 04:20] anjesh commented on #485
We have enabled gzip in all components. need to bundle the js files and compress them for more optimizisation.

[2015-10-14 04:32] anjesh opened #520 "Contract Annotations Edit/Delete functionality"
Now once the annotations are created, they can only be edited/deleted in the annotation UI only. This can be little inconvenient when we want to make quick change. We will have the functionality to make quick edits on annotation text and change annotation category in the annotation listing page itself. These edits will be inline in this interface.

![image](https://cloud.githubusercontent.com/asse

[2015-10-14 09:04] anjesh commented on #505
@anderspeders @byndcivilization
I have drafted the workflow for MTurk here https://github.com/NRGI/resourcecontracts.org/wiki/Mechanical-Turk-Workflow

[2015-10-14 09:44] anderspeders opened #521 "Make particiation share appear as percentage"
Metadata entry for the field "participation share" is numerical.

For the front end display - please project the participation share as percentage.

For example:
.4 --> 40%

[2015-10-14 09:45] anderspeders opened #522 "Remove generic text on associated documents - when documents appear"
![image](https://cloud.githubusercontent.com/assets/1101585/10480181/b2f89bce-7236-11e5-8598-05365f5ef133.png)

[2015-10-14 09:46] anderspeders opened #523 "Adjust search result view in contract view page"
![image](https://cloud.githubusercontent.com/assets/1101585/10480216/ec689f8a-7236-11e5-8fe1-a94e1ba8192d.png)

[2015-10-14 12:36] SamCCSI commented on #367
cc @kaitlinccsi

On Tue, Oct 13, 2015 at 1:50 AM, Anjesh <notifications@github.com> wrote:

--

*SAM SZOKE-BURKE*
*Legal Researcher**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
Level 1, Warren Hall, 410 W116th St. New York, NY 10027
| (212) 854-2635 <212-854-2635> | (646) 630-4123 <646-630-4123>
| s.burke@columbia.edu
| www.ccsi.columbi

[2015-10-14 12:36] SamCCSI commented on #493
cc @kaitlinccsi

On Tue, Oct 13, 2015 at 2:22 AM, Anjesh <notifications@github.com> wrote:

--

*SAM SZOKE-BURKE*
*Legal Researcher**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
Level 1, Warren Hall, 410 W116th St. New York, NY 10027
| (212) 854-2635 <212-854-2635> | (646) 630-4123 <646-630-4123>
| s.burke@columbia.edu
| www.ccsi.columbi

[2015-10-14 12:42] SamCCSI commented on #421
Sorry, not following this - Is the 'edit annotation' functionality ready
for testing by CCSI?

cc @kaitlinccsi

On Tue, Oct 13, 2015 at 6:54 AM, Anjesh <notifications@github.com> wrote:

--

*SAM SZOKE-BURKE*
*Legal Researcher**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
Level 1, Warren Hall, 410 W116th St. New York, NY 10027
| (212) 85

[2015-10-14 12:47] SamCCSI commented on #520
Again, we are happy to test this functionality - let us know when it's
ready.

cc @kaitlinccsi

On Wed, Oct 14, 2015 at 12:32 AM, Anjesh <notifications@github.com> wrote:

--

*SAM SZOKE-BURKE*
*Legal Researcher**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
Level 1, Warren Hall, 410 W116th St. New York, NY 10027
| (212) 854-2635 <212-854

[2015-10-14 13:04] KaitlinCCSI commented on #493
I don't think this solution makes sense for a user. I would never intuitively think to do a free text search, see the results, and then do another search using the dropdowns to narrow my previous search results further. I would have assumed that I should do a free text search OR use the dropdowns to search, but not that I should layer the searches in this way.

While it would be very nice to have

[2015-10-14 13:08] KaitlinCCSI commented on #367
Can you provide a mockup of what this will look like? Unclear to me.

[2015-10-14 13:44] charlesyoung commented on #521
Yep so 1 below should be 100%

![image](https://cloud.githubusercontent.com/assets/13888372/10485438/6756f48c-728a-11e5-92ec-cb7aa15a784c.png)

[2015-10-14 15:10] SamCCSI commented on #370
Great news.

I just checked some of the existing MTs of French language contracts and
the symbols are still there. Will your fix apply to past MT'ed contracts as
well?Eg. http://resourcecontracts.elasticbeanstalk.com/mturk/1126

Also, is there a French MT service we could use, so that transcribers know
that we need to keep in the accents. See this example, where the
transcriber has done a great jo

[2015-10-14 17:58] anderspeders commented on #142
Company group has now been completed as look up table.

For the [license_name] we should in similar ways create a lookup table against the Open Oil Concession API. Documentation here: http://openoil.net/openoil-api/

[2015-10-15 01:19] KaitlinCCSI commented on #483
Re-opened per Sam's comment

[2015-10-15 01:53] KaitlinCCSI opened #524 "Need clear way to get to advanced search page"
As far as I can tell, the only way to get to the advanced search page is to click on the "Search contracts" button on the home page. It is not at all intuitive that clicking on this button without typing into the search bar would bring you to this search page, so it seems like the only option for searching is to type into the search bar. Yet many users might prefer having easy access to the dropdo

[2015-10-15 03:04] anjesh commented on #370
The past MTs will not be fixed as those would have been lost even if they had typed correctly. This should only correct the new ones only.

I don't think there could be something like French MT service. It's upto the transcribers to ensure that they type the correct accented chars.

[2015-10-15 03:39] anjesh commented on #523
it's not appearing at our end though. Will try to see if this could be replicated cc @sweetanzell

[2015-10-15 03:40] anjesh opened #525 "Update the CSS for resourcecontracts.org"
Currently the CSS colors are mixing up in resourcecontracts. It should be all orange.

![image](https://cloud.githubusercontent.com/assets/120488/10504297/9de22c80-731e-11e5-985f-c13765355820.png)

[2015-10-15 04:57] anjesh commented on #517
We will have a way to expose full ES api. Right now, we are just replacing the existing ES with Amazon ES service

[2015-10-15 05:32] anjesh commented on #491
Top arrow now appears when you scroll down.

![image](https://cloud.githubusercontent.com/assets/120488/10505546/3534cd40-732e-11e5-9910-9d961027a996.png)

[2015-10-15 05:44] anjesh commented on #339
The following text to be updated in the import page

![image](https://cloud.githubusercontent.com/assets/120488/10505610/ded46630-732e-11e5-8a63-af8e28cf37a4.png)

Open Oil Contract Import should be "Contract Bulk Import"

Put the following instruction instead of

New instruction in import page

cc @manishgs

[2015-10-15 07:42] anjesh commented on #391
The section info is displayed in the contract view

![image](https://cloud.githubusercontent.com/assets/120488/10507487/7cc8e53a-7340-11e5-9d6e-c5485a68e638.png)

[2015-10-15 07:59] anjesh commented on #204
We looked into these documents again.

There's one pdf with access denied.

* 1173874-western-cluster-limited-liberia.json
https://s3.amazonaws.com/s3.documentcloud.org/documents/1173874/western-cluster-limited-liberia.pdf

There are 5 documents which contains the same pdf (content wise) as 1385899-kosmos-energy-suriname-block-45-2011.json  https://s3.amazonaws.com/s3.documentcloud.org/documents/1

[2015-10-15 08:04] anjesh commented on #431
All the contracts have now category mentioned.

![image](https://cloud.githubusercontent.com/assets/120488/10507896/93402906-7343-11e5-8fc2-168a480f60e5.png)

[2015-10-15 08:04] #431 closed

[2015-10-15 08:21] anjesh commented on #506
Fixed these in database in admin. Need to republish to reflect them in subsites.

[2015-10-15 08:23] #472 closed

[2015-10-15 08:32] anjesh commented on #432
Fixed in admin, need to republish all contracts to reflect in subsite.

[2015-10-15 08:39] anjesh commented on #517
https://aws.amazon.com/elasticsearch-service/ in place and new endpoint for API is now http://rc-elasticsearch-api.elasticbeanstalk.com/api

[2015-10-15 08:39] #517 closed

[2015-10-15 08:50] anjesh commented on #377
Now only OCID is used. Internal id removed from the URLs.

[2015-10-15 08:50] #377 closed

[2015-10-15 09:06] anjesh commented on #524
cc @anjhero

[2015-10-15 09:25] anjesh opened #526 "Create api.resourcecontracts.org and map to CNAME"
@byndcivilization could you please create subdomain api.resourcecontracts.org and CNAME to  http://rc-elasticsearch-api.elasticbeanstalk.com

Then we will have stable url for the API as well.

[2015-10-15 09:35] anjesh commented on #517
Draft docu https://github.com/NRGI/resourcecontracts.org/wiki/Elasticsearch-and-API

[2015-10-15 09:42] charlesyoung commented on #519
More details re the the 'By Page' and 'By Category' links.

Works on the user site:

![image](https://cloud.githubusercontent.com/assets/13888372/10510187/c1812764-7331-11e5-833a-2fed51ad8d08.png)

Not however on the admin site:

![image](https://cloud.githubusercontent.com/assets/13888372/10510204/dd1c51a6-7331-11e5-9fab-c4861b80b170.png)

[2015-10-15 09:45] charlesyoung commented on #519
99 annotations captured: http://resourcecontracts.elasticbeanstalk.com/contract/69/annotate

98 annotations shown on the public site: http://alpha.resourcecontracts.org/contract/ocds-591adf-PH4623081838RC/view#/text

[2015-10-15 09:48] charlesyoung commented on #519
The actual main document shouldn't be shown as a related doc.

![image](https://cloud.githubusercontent.com/assets/13888372/10510319/83326e22-7332-11e5-85f3-1afc1b5e79a9.png)

[2015-10-15 10:13] charlesyoung commented on #519
On page 16 (text doc) of the contract. Clicking on an annotation link doesn't just not take me to the relevant page but opens page 1 of the PDF doc. This is for all annotation links.

http://alpha.resourcecontracts.org/contract/ocds-591adf-PH4623081838RC/view#/text

[2015-10-15 10:37] giorgiacek opened #527 "Description of index/mapping for elastic search"
(I know this is not an issue, but rather a question)
I am trying to run some searches in R/elasticsearch (but I am new in this), can I have the description of the index?
So the index is "nrgi" and what is the doc_type of the contracts?
Is it pdf_text?

[2015-10-15 10:53] charlesyoung opened #528 "Annotation presentation"
![image](https://cloud.githubusercontent.com/assets/13888372/10511718/94e8216c-733b-11e5-86a3-6b8b4dda8880.png)

[2015-10-15 12:25] KaitlinCCSI opened #529 "Increasing font size and ensuring that line doesn't cut through "See Summary" when site zoomed in"
When site is zoomed in (which I always do because font is so small), the line under Metadata goes through "See Summary".
1. Can this be fixed so that when site is zoomed in to 125%, this isn't an issue?
2. Can we make the font size slightly bigger for annotations and metadata? I know that we are trying to squeeze in a lot of information, but I think the current size is just too small to read comfo

[2015-10-15 12:33] KaitlinCCSI opened #530 "Clicking on annotation cluster category doesn't do anything"
When I click any of the annotation cluster categories at the top of the annotation bar, nothing happens. I just checked the first 4 contracts listed on OLC and this is broken on all of them:

http://www.openlandcontracts.org/contract/ocds-591adf-CD4492231156OL/view
http://www.openlandcontracts.org/contract/ocds-591adf-CD0848066778OL/view
http://www.openlandcontracts.org/contract/ocds-591adf-ET4854

[2015-10-15 12:35] KaitlinCCSI commented on #491
I don't see an arrow? And cluster categories at top now not linking to
place in column where annotations in that category start

On Thu, Oct 15, 2015 at 12:32 AM, Anjesh <notifications@github.com> wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and Agriculture**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
435 West 116th St. New York, NY 100

[2015-10-15 12:37] KaitlinCCSI commented on #370
Okay, thanks. Can we include that in instructions to transcribers that
accented characters should be fixed?

On Wed, Oct 14, 2015 at 10:04 PM, Anjesh <notifications@github.com> wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and Agriculture**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
435 West 116th St. New York, NY 10027
| +1 (917) 658 51

[2015-10-15 12:55] anderspeders opened #531 "Add open source license terms to readme"
@byndcivilization We use MIT right?

Add to readme.

[2015-10-15 13:06] charlesyoung opened #532 "Annotation summary info"
Missing annotation summary info.

http://alpha.resourcecontracts.org/contract/ocds-591adf-PH4623081838RC#annotations

![image](https://cloud.githubusercontent.com/assets/13888372/10514248/fad9566a-734c-11e5-8b91-98f431ecb59f.png)

![image](https://cloud.githubusercontent.com/assets/13888372/10514484/3ae0a744-734e-11e5-9544-89ffdc09b353.png)

[2015-10-15 13:10] KaitlinCCSI commented on #59
I would not include "Jurisdiction of incorporation", as it's possible the contract might not include that data, and so making this a mandatory field could be problematic.

[2015-10-15 13:19] anderspeders commented on #209
This is what I get now. To me this looks ok.

---

From: NRGI [mailto:nrgi@mail187-15.suw11.mandrillapp.com] On Behalf Of NRGI
Sent: Thursday, October 15, 2015 9:00 AM
To: Anders Pedersen
Subject: Mturk assignments for your action for [Liberia, Salala Rubber Corporation, Concession, 1 August 1959]

Liberia, Salala Rubber Corporation, Concession, 1 August 1959
click here to check
•	Total tasks: 20

[2015-10-15 13:20] charlesyoung commented on #530
Linked to Annotation module #519

[2015-10-15 14:01] byndcivilization commented on #531
I've been using GPL. I kind of forget at this point why, but if I remember correctly it says that modified versions must also remain open and non-commercial.

[2015-10-15 14:10] byndcivilization commented on #526
Set

[2015-10-15 14:13] byndcivilization commented on #526
Actually http://rc-elasticsearch-api.elasticbeanstalk.com is giving me a 403.

[2015-10-15 14:14] byndcivilization commented on #526
oh yeah that probably due to the vhost. Let DNS flush to make sure everything is good.

[2015-10-15 14:38] byndcivilization commented on #526
okay api.resourcegovernance.org is giving me a 403 now also.

[2015-10-15 15:14] jedm commented on #391
That's fantastic, @anjesh! Great work. To save space and create consistency, I would strongly recommend putting section info and page # on same line, separating with a comma, making them both the gray color, and deleting the colon from page reference.

[2015-10-15 15:27] SamCCSI opened #533 "Have all Mechanical Turk notifications sent to the following people"
Whenever the system auto-generates an email notifying us of a completed mechanical turk document, can it please be sent to the following people (in addition to the person who submitted the MT task):

For OLC: Sam (s.burke@columbia.edu) and Rashida Williams (rkw2119@columbia.edu)

For RC: Sam (s.burke@columbia.edu) and Charles Nkurunziza (charles.nkurunziza@columbia.edu)

@KaitlinCCSI

[2015-10-15 15:31] SamCCSI commented on #209
Apologies: I just started a new issue that should probably rolled into this issue: https://github.com/NRGI/resourcecontracts.org/issues/533

[2015-10-15 15:35] SamCCSI commented on #391
For multiple art. refs: judging from Chris's screenshot, they currently
appear with "and" or "et" between each reference. I suggest they be
separated by commas instead, and "Art." be changes to "Arts.".

so "Art 2 and Art 3 and Art 4" becomes "Arts. 2, 3, 4"

On Thu, Oct 15, 2015 at 11:14 AM, jedm <notifications@github.com> wrote:

--

*SAM SZOKE-BURKE*
*Legal Researcher**Columbia Center on Sustai

[2015-10-15 16:21] jedm commented on #391
@samccsi bear in mind that this section info is extracted verbatim as one string of text from where reviewers put it in the annotation body. Not sure it can be made "smarter" with a quick revision.

However, I'd suggest that new formats for these can be defined and observed for all future annotations.

cc @kaitlinccsi @anderspeders

[2015-10-15 16:35] byndcivilization commented on #526
ahh i see, the api directive is at http://api.resourcecontracts.org/api

[2015-10-15 17:04] SamCCSI opened #534 "Please 'revert' previously rejected MT page"
Please 'revert' previously rejected MT pages of these two contracts so that we can keep the changes the annotator made and amend it to make it publishable.

http://resourcecontracts.elasticbeanstalk.com/mturk/1025
http://resourcecontracts.elasticbeanstalk.com/mturk/1044

Can you please notify us when done?
Thanks,
Sam

[2015-10-15 17:29] SamCCSI opened #535 "Insert Category (RC or OLC) on Mechanical Turk Page"
http://resourcecontracts.elasticbeanstalk.com/mturk

This page does not list whether a contract's category is RC or OLC. Right now the only solution is to search for each contract in the main database, which takes a lot of time.

We have different staff members working on MT for OLC and RC, so we need them to be able to quickly determine which contracts are within their purview.

Proposed solution

[2015-10-15 17:39] KaitlinCCSI opened #536 "Wrong associated documents (coming from RC) are now on live OLC site"
See example in screenshot - two RC contracts have been added as an associated document for an Ethiopian ag contract on OLC. This is highly problematic and needs to be fixed ASAP - at least as of now, NO documents from RC should be associated to documents on OLC, or vice versa.

![screen shot 2015-10-15 at 12 35 34 pm](https://cloud.githubusercontent.com/assets/14825437/10522186/7e72f846-7339-11e5-

[2015-10-15 17:59] anderspeders commented on #536
Hi @KaitlinCCSI,

If I understand the issue reported this is a data entry error which can be fixed from the backend (see below). Can I ask that for future data errors you encounter that you first check if you can do the corrections in the administrator backend before reporting them.

Issue is now corrected.

![image](https://cloud.githubusercontent.com/assets/1101585/10522616/198816b8-7344-11e5-96

[2015-10-15 17:59] #536 closed

[2015-10-15 18:04] KaitlinCCSI commented on #536
Thank you for fixing. How did this happen, though - why would this be a
data entry error if no new data is being entered to OLC for this sprint? Do
we have to assume that data being entered for RC is erroneously being added
to OLC, and do we thus have to go through every contract on OLC to make
sure that it hasn't happened for other contracts?

In terms of what we can fix on the backend: can you p

[2015-10-15 18:16] anderspeders commented on #421
@SamCCSI @KaitlinCCSI,

Yes, editing of PDF-annotations is now available as a feature from the backend. Please, as always, file detailed issue reports for things that are not working.

Once you have issues to report we will reopen this ticket.

![Uploading image.png…]()

[2015-10-15 18:16] #421 closed

[2015-10-15 18:36] SamCCSI opened #537 "Editing annotations"
Thank you for adding this feature!

Do we need to click "Publish all" after editing an annotation?

For this contract: http://resourcecontracts.elasticbeanstalk.com/contract/1025

I edited the resource type (annotation). The public site did not auto-update so I clicked publish all. Then there were two entries for resource type that were identical except one said p. 1 and one p. 3. I clicked publis

[2015-10-15 18:38] SamCCSI commented on #391
Absolutely: if this is how it originally was entered by our annotators,
then I agree it's not an issue that needs a tech fix.

On Thu, Oct 15, 2015 at 12:21 PM, jedm <notifications@github.com> wrote:

--

*SAM SZOKE-BURKE*
*Legal Researcher**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
Level 1, Warren Hall, 410 W116th St. New York, NY 10

[2015-10-15 18:54] KaitlinCCSI commented on #391
Agree. Was this screenshot from OLC or RC? We do provide guidance in our Guidance Documents on using the format Sam suggested, but very possible that some slipped through without being standardized.

[2015-10-15 21:55] anderspeders commented on #506
![image](https://cloud.githubusercontent.com/assets/1101585/10528711/d477a076-7365-11e5-9ea8-5f73e2ef0fc7.png)

We seem to still be short of harmonized metadata on RC.org?

[2015-10-16 03:00] anjesh commented on #432
Following from https://github.com/NRGI/resourcecontracts.org/issues/506#issuecomment-148533120

I think that happened because the spellings are correct except for the case. As you may see here http://alpha.resourcecontracts.org/resources. They could be corrected directly from the admin. Will correct those. cc @sadhakbj

![image](https://cloud.githubusercontent.com/assets/120488/10532827/2ad0901e-7

[2015-10-16 03:01] anjesh commented on #506
Following in the relevant issue https://github.com/NRGI/resourcecontracts.org/issues/432#issuecomment-148584423

[2015-10-16 03:05] anjesh commented on #391
@jedm We did put section info and page # on the same line, but there were couple of instances where the section info is long and where there are quite a number of pages, which broke the line into 2 lines. So we put those in two separate lines, i agree that they need to be consistent and in proximity. Do you still think we put these in a  single line?

[2015-10-16 03:16] anjesh commented on #520
Yes it's ready. This interface is designed to make easy edits (resource and annotation text in case of simple spellings mistakes) without going into the annotation interface. Double click on the category or the text and you will be able to save edits. You will need to go to annotation interface to create annotations though.

![image](https://cloud.githubusercontent.com/assets/120488/10533019/09369

[2015-10-16 03:18] anjesh commented on #537
Yes Sam. You need to re-publish after every edits - metadata, annotation or OCR text. You could just follow the process "complete and publish" for each component or do "publish all" to re-publish all 3.
Do you mean that you edited one resource in page 3 and it appeared for page 1 as well? I see there are 2 entries for "Resource" and they appeared under one annotation as both annotations have the s

[2015-10-16 03:19] anjesh commented on #421
We also created this interface in the metadata edits for quick edits/deletes of the annotations https://github.com/NRGI/resourcecontracts.org/issues/520#issuecomment-148588058 though you have to go to annotation ui for adding new ones.

[2015-10-16 03:22] anjesh commented on #535
Sounds good. We will be revisiting the MTurk flow and interface as well in next sprint. I have documented some change concepts here https://github.com/NRGI/resourcecontracts.org/wiki/Mechanical-Turk-Workflow
Will add this one as well.

[2015-10-16 03:26] anjesh commented on #526
Thanks @byndcivilization we need to create the vhost entry for api.rc. Will do that @hello-deepak

[2015-10-16 03:27] jedm commented on #391
My opinion is that a line-break is fine, as long as the left margin of the second line is the same as the first. If you can then have no-space comma and a space followed by the Page number, that is what I would do. @byndcivilization what do you think?

[2015-10-16 03:28] anjesh commented on #531
What shall we use? I am up for MIT as well.

[2015-10-16 03:32] anjesh commented on #532
I think that is because it's text based annotation. The annotator didn't type anything in the box and just selected the text in the text-view. Will fix that. Thanks for noting.

[2015-10-16 03:34] anjesh commented on #529
Sure. Sounds good.

[2015-10-16 03:36] anjesh commented on #525
Fixed. Appropriate colors are now displayed in olc and rc.

[2015-10-16 03:36] #525 closed

[2015-10-16 03:36] anjesh commented on #523
This view is fixed now.

[2015-10-16 03:36] #523 closed

[2015-10-16 03:37] anjesh commented on #512
CC license added in the footer

![image](https://cloud.githubusercontent.com/assets/120488/10533323/5f1ee7bc-73e7-11e5-9d22-4aa1251f9a66.png)

[2015-10-16 03:38] anjesh commented on #511
Replaced the existing map now
![image](https://cloud.githubusercontent.com/assets/120488/10533338/8c5bccc2-73e7-11e5-9d07-7feab67d48ec.png)

Later we will have interactive and dynamic map

[2015-10-16 03:38] #511 closed

[2015-10-16 03:40] anjesh commented on #482
Thanks @KaitlinCCSI for noticing this one - we had this particular category only out of boundary in our browser as well. Fixed now. Do check.

![image](https://cloud.githubusercontent.com/assets/120488/10533362/d4782c94-73e7-11e5-80f8-c54e64e35142.png)

[2015-10-16 03:40] #482 closed

[2015-10-16 03:42] anjesh commented on #454
Back button in place in summary page.
![image](https://cloud.githubusercontent.com/assets/120488/10533371/f9c60eee-73e7-11e5-9d7a-a0b6a8af6309.png)

[2015-10-16 03:42] #454 closed

[2015-10-16 03:46] anjesh commented on #475
Try resizing contract view page. Though there might be few other improvements in that small view, the page doesn't get distorted when viewed in small screens.

![image](https://cloud.githubusercontent.com/assets/120488/10533411/79e6dd06-73e8-11e5-8e9f-ea542fae0e16.png)

[2015-10-16 03:46] #475 closed

[2015-10-16 03:56] anjesh commented on #522
Fixed.

[2015-10-16 03:56] #522 closed

[2015-10-16 03:56] anjesh commented on #521
Fixed.

[2015-10-16 03:56] #521 closed

[2015-10-16 04:01] #462 closed

[2015-10-16 04:04] anjesh commented on #399
Added some space to fix that overlap
![image](https://cloud.githubusercontent.com/assets/120488/10533590/1dc1df5a-73eb-11e5-8bdb-7c497bd5ff2b.png)

[2015-10-16 04:04] #399 closed

[2015-10-16 08:39] anjesh commented on #526
Mixed in Vhost. Updated in https://github.com/NRGI/resourcecontracts.org/wiki/API

[2015-10-16 08:39] #526 closed

[2015-10-16 08:41] anjesh commented on #335
Added sort

![image](https://cloud.githubusercontent.com/assets/120488/10537481/db91dc4e-7411-11e5-8b41-fffc2904770a.png)

[2015-10-16 08:41] #335 closed

[2015-10-16 09:20] charlesyoung commented on #475
Just checking that by closing this case you are implying that the RC public site is fully operational. Still some funnies as shown below.

![image](https://cloud.githubusercontent.com/assets/13888372/10538259/9cb36a48-73f7-11e5-9377-e2420c1fb859.png)

![image](https://cloud.githubusercontent.com/assets/13888372/10538248/87969fcc-73f7-11e5-9a7f-42eb1791652e.png)

[2015-10-16 09:24] anjesh commented on #527
Index: rc_nrgi
Doc types: metadata, annotations and pdf_text

I will share the url separately. It's not protected yet.

[2015-10-16 09:24] #527 closed

[2015-10-16 09:27] anjesh commented on #475
By closing i am implying it should be working in smaller screens. There might be few issues here and there, but the page shouldn't get distorted. Do open up issues if you find any specific issue. Thanks.

[2015-10-16 09:39] manishgs opened #538 "Insufficient fund in Mturk"
While creating new Mturk HIT got following error message. We need to add fund on mturk site in order to create new mturk tasks.

[Code] => AWS.MechanicalTurk.InsufficientFunds
[Message] => This Requester has insufficient funds in their account to complete this transaction. (1444988036599)

[2015-10-16 09:42] charlesyoung opened #539 "Mobile devices - search page with some issue"
Still some funnies on a mobile device as shown below.

Public RC site from a PC:
![image](https://cloud.githubusercontent.com/assets/13888372/10538259/9cb36a48-73f7-11e5-9377-e2420c1fb859.png)

Public RC site from a mobile device: (missing tab)
![image](https://cloud.githubusercontent.com/assets/13888372/10538248/87969fcc-73f7-11e5-9a7f-42eb1791652e.png)

[2015-10-16 09:44] anjesh commented on #538
For your action @anderspeders @byndcivilization

[2015-10-16 10:05] charlesyoung opened #540 "Displaying metadata first"
Would it not make more sense to first display the metadata info than the actual doc when clicking on the contract name link? I would like to first get general info of the contract before actually opening it.

@anderspeders thoughts?

[2015-10-16 10:08] charlesyoung opened #541 "Loading PDF page is still very slow"
Actually not sure if its working because just noted 'Loading pdf page 1'

[2015-10-16 10:12] charlesyoung opened #542 "Contract title text"
Where is below text generated from?

![image](https://cloud.githubusercontent.com/assets/13888372/10539329/1ff6487e-73ff-11e5-9887-eefc5de422e6.png)

[2015-10-16 10:18] anjesh commented on #534
Done.

[2015-10-16 10:18] #534 closed

[2015-10-16 10:19] anjesh commented on #541
We realize this. We were compressing  js files and there's some minor issue. Fixing this.

[2015-10-16 10:26] anjesh commented on #432
fixed for resources.
Please change the contract type for this http://resourcecontracts.elasticbeanstalk.com/contract/871 we don't seem to have mapping for this. And publish it to reflect in subsite.

[2015-10-16 10:27] anjesh commented on #434
All RC contracts republished again.

[2015-10-16 10:27] #434 closed

[2015-10-16 10:34] anjesh commented on #537
Closing this. Please reopen if you find any issue here.

[2015-10-16 10:34] #537 closed

[2015-10-16 10:34] anjesh commented on #520
The annotations are now sorted. This is working now.

[2015-10-16 10:34] #520 closed

[2015-10-16 10:35] anjesh commented on #506
Have fixed this. Please reopen if you find any issue with the annotation category.

[2015-10-16 10:35] #506 closed

[2015-10-16 10:36] anjesh commented on #532
Now annotations quote part (selected text) is now displayed.

[2015-10-16 10:36] #532 closed

[2015-10-16 10:39] anjesh commented on #491
This is fixed now. Please reopen if you still find issue here.

[2015-10-16 10:39] #491 closed

[2015-10-16 10:41] anjesh commented on #504
We have functionality in place now. We deleted the tasks old than 10 days and when tried to create, couldn't create new HIT tasks in Mturk as insufficient fund in Mturk https://github.com/NRGI/resourcecontracts.org/issues/538

[2015-10-16 10:42] charlesyoung commented on #532
Why are there still two page numbers shown?

![image](https://cloud.githubusercontent.com/assets/13888372/10539880/5b287f8a-7403-11e5-8759-22f2fee9d325.png)

[2015-10-16 10:46] charlesyoung opened #543 "Annotation heading and text distinction"
Will it be possible to highlight the annotation headings (e.g. name of company executing document) in a different colour or make it bold so that there is a distinction between the headings and text.

Also should the order not rather be annotation heading, text and page number than annotation heading, page number and text?

![image](https://cloud.githubusercontent.com/assets/13888372/10539903/81281

[2015-10-16 10:48] anjesh commented on #427
Reupload is now included in edit functionality. User can re-upload file by clicking "change" link

![image](https://cloud.githubusercontent.com/assets/120488/10539964/81c42d0e-7423-11e5-9266-5e2f40093255.png)

[2015-10-16 10:48] #427 closed

[2015-10-16 11:09] anjesh commented on #541
Fixed now.

[2015-10-16 11:09] #541 closed

[2015-10-16 11:14] anjesh commented on #539
Can you verify it once more? should appear like this

![image](https://cloud.githubusercontent.com/assets/120488/10540387/3466919c-7427-11e5-8fc7-1e25c45c212f.png)

[2015-10-16 11:18] anjesh commented on #530
Fixed.

[2015-10-16 11:18] #530 closed

[2015-10-16 11:18] charlesyoung commented on #539
I was mainly pointing out, sorry I wasn't that clear, that the public RC site (from a PC) shows the text tab while that's not shown on the mobile version.

[2015-10-16 11:48] anjesh commented on #539
That should be showing now.

![image](https://cloud.githubusercontent.com/assets/120488/10540879/ea0b29a0-742b-11e5-8536-74096f1875a0.png)

[2015-10-16 11:48] anjesh commented on #339
@anderspeders please verify and reopen if any issue.

[2015-10-16 11:48] #339 closed

[2015-10-16 12:20] KaitlinCCSI opened #544 "OpenLandContracts.org is DOWN"
when you try to open OpenLandContracts.org, it says "Service Temporarily Unavailable"
![screen shot 2015-10-16 at 7 18 33 am](https://cloud.githubusercontent.com/assets/14825437/10541392/44da918c-73d6-11e5-9982-262700e429f9.png)

cc @anderspeders @anjesh @byndcivilization

[2015-10-16 12:21] SamCCSI commented on #535
Thank you, Anjesh.

On Thu, Oct 15, 2015 at 11:23 PM, Anjesh <notifications@github.com> wrote:

--

*SAM SZOKE-BURKE*
*Legal Researcher**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
Level 1, Warren Hall, 410 W116th St. New York, NY 10027
| (212) 854-2635 <212-854-2635> | (646) 630-4123 <646-630-4123>
| s.burke@columbia.edu
| www.ccsi.col

[2015-10-16 12:26] SamCCSI commented on #540
I think this issue has already been through significant discussion with the developers and UI team, with the conclusion being that contract view should appear, not metadata summary.

CC @jedm @KaitlinCCSI

[2015-10-16 12:29] SamCCSI commented on #537
Thanks @anjesh. We will report any bugs as we start to use this.

On Thu, Oct 15, 2015 at 11:18 PM, Anjesh <notifications@github.com> wrote:

--

*SAM SZOKE-BURKE*
*Legal Researcher**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
Level 1, Warren Hall, 410 W116th St. New York, NY 10027
| (212) 854-2635 <212-854-2635> | (646) 630-4123 <646-6

[2015-10-16 12:30] anderspeders commented on #540
Yes agree.

[2015-10-16 12:30] #540 closed

[2015-10-16 12:31] anderspeders commented on #544
Anjesh - can you check?

[2015-10-16 12:34] anjesh commented on #544
Yes. We are fixing the API now.

[2015-10-16 12:36] SamCCSI commented on #427
can you please change the wording from "Change" to "Replace file"?

That is more clear and is what is used by, eg, Soundcloud: [image: Inline
image 1]

On Fri, Oct 16, 2015 at 6:48 AM, Anjesh <notifications@github.com> wrote:

--

*SAM SZOKE-BURKE*
*Legal Researcher**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
Level 1, Warren Hall, 410

[2015-10-16 12:36] SamCCSI commented on #427
![image](https://cloud.githubusercontent.com/assets/12913915/10541693/03c10752-73e1-11e5-9c9a-989eab6255f5.png)

[2015-10-16 12:36] anderspeders commented on #539
Great thanks

[2015-10-16 12:40] anderspeders commented on #541
Thanks - these improvements to backend are important.

Charles: please reopen if load speed gets slow again so that we can follow up.

[2015-10-16 12:41] anjesh commented on #544
Please check. Is working now.

[2015-10-16 12:41] #544 closed

[2015-10-16 12:58] KaitlinCCSI commented on #544
Thanks; working now

On Fri, Oct 16, 2015 at 7:41 AM, Anjesh <notifications@github.com> wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and Agriculture**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
435 West 116th St. New York, NY 10027
| +1 (917) 658 5172
| kaitlin.cordes@law.columbia.edu
| www.ccsi.columbia.edu | @CCSI_Columbia <https://tw

[2015-10-16 13:09] KaitlinCCSI commented on #539
Anjesh, the contracts info on the search page looks good on mobile device, but the circle with the number of contracts covers up part of "results", as well as the search bar. Can this be addressed?
![img_1616](https://cloud.githubusercontent.com/assets/14825437/10542332/1e304e08-73dd-11e5-8fef-072b588cd86a.PNG)

[2015-10-16 13:12] KaitlinCCSI opened #545 "home pages of RC and OLC for mobile devices - change font size"
When you open the sites on a mobile device, the main words on the home page are too big for the lines, so the words are broken up oddly. Can you either make the font smaller or somehow squeeze the words together more for the mobile site ONLY? (Without changing font size for home page when looking on computer?)
![img_1618](https://cloud.githubusercontent.com/assets/14825437/10542413/9ed0416c-73dd-1

[2015-10-16 13:17] KaitlinCCSI opened #546 "Contracts and contracts view page not loading on mobile device"
I've now tried to load 3 contracts from OLC and 2 contracts from RC on my mobile device by clicking on their name on the advanced search page. None of them will load at all -- it just takes me to a blank screen with the footer at the bottom.

![img_1619](https://cloud.githubusercontent.com/assets/14825437/10542497/2ecbf1d0-73de-11e5-9a71-0710123a6957.PNG)

[2015-10-16 13:22] KaitlinCCSI opened #547 "Change message when site is down"
Can you please change the message that appears when the site is down? My suggestion, but interested in @jedm input:

- For OLC:
First line: OpenLandContracts.org is temporarily unavailable
Second line: We are working to fix this. Please contact resourcecontracts@yipl.com.np if the problem persists.

- For RC:
First line: ResourceContracts.org is temporarily unavailable
Second line: We are working

[2015-10-16 13:24] KaitlinCCSI commented on #475
As noted in #546, I now can't open any of the contract view pages at all
from a mobile device.

On Fri, Oct 16, 2015 at 4:27 AM, Anjesh <notifications@github.com> wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and Agriculture**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
435 West 116th St. New York, NY 10027
| +1 (917) 658 5172
| kaitlin.c

[2015-10-16 13:46] byndcivilization commented on #538
Added money. Is there an api method to check balance? Might be useful to display balance somewhere on the admin site or at least to fire off a notification to check when we're getting low.

[2015-10-18 18:51] anderspeders commented on #432
Done, closing. Will reopen new ticket if more issues are found.

[2015-10-18 18:51] #432 closed

[2015-10-18 18:52] anderspeders commented on #265
This is marked ready. Is it deployed?

[2015-10-18 18:54] anderspeders commented on #356
Zoom function is now updated. Closing this.

[2015-10-18 18:58] anderspeders commented on #524
Yes. Agree on this. I am not sure wht is best practise - but would be keen to see @anjhero share a proposal.

There seems to be two issues:
- getting to advanced search from home page
- getting to advanced search from other pages

[2015-10-18 18:59] anderspeders commented on #485
Sounds good. Will we ship this within sprint 10?

[2015-10-18 19:11] anderspeders commented on #204
Great. Closing this and reopening question of dealing with duplicate PDFs.

[2015-10-18 19:11] #204 closed

[2015-10-18 19:12] anderspeders opened #548 "Same PDF referring to mulitple contracts"
The issue below highlights that one PDF can refer to multiple PDFs.

Parked until a suitable solution is found.

There are 5 documents which contains the same pdf (content wise) as 1385899-kosmos-energy-suriname-block-45-2011.json https://s3.amazonaws.com/s3.documentcloud.org/documents/1385899/kosmos-energy-suriname-block-45-2011.pdf

1509885-kosmos-energy-block-c8-mauritania-2012.json https://s3.

[2015-10-18 19:13] anderspeders commented on #247
Is this synched with the work @jerico is working on to monitor the API stability and performance?

[2015-10-18 19:15] anderspeders commented on #376
Removing from sprint 10. Let's seek some further specifications on how slow it is.

[2015-10-18 19:16] anderspeders commented on #538
Closing this. Reopening ticket regarding notifications on balance.

[2015-10-18 19:16] #538 closed

[2015-10-18 19:18] anderspeders opened #549 "If balance < 50$ on mech turk account, ping Chris or Anders"
@byndcivilization suggested that there might be an api method to check balance?

Suggest that a notification is sent to check when we're getting low.

[2015-10-18 23:37] jedm commented on #524
Does this request mean the same thing as "Search all contracts?" Can't we put the same search bar already at the top of the Summary page also at the top of the View page?

![top_bar_glob_search](https://cloud.githubusercontent.com/assets/2153664/10567352/918d63ba-75b6-11e5-80ec-a33c678ec3fc.png)

[2015-10-19 00:41] KaitlinCCSI commented on #356
This still doesn't seem intuitive to me -- intuitive would be the ability
to slide the circle along the bar. (Or at the very least being able to
click on the - / + at the end of the bars.) I just checked on OLC and the
Alpha RC site, and I still can't do that - the only way it works is by
clicking on the 3 little lines or the 3 little circles.

This is fine for now but it should be fixed and made

[2015-10-19 00:45] KaitlinCCSI commented on #524
I see a difference between the search bar and the search dropdowns available on the advanced search page (in screenshot). I just realized that when you click on the search bar, it drops down the search dropdown categories, but I don't think that's intuitive - I would have assumed that this search bar is just a place to type in free text search. (The dropdowns also don't appear when you click on th

[2015-10-19 09:30] anjesh commented on #549
@byndcivilization are you using amazon payment in Mturk account? I think we talked about this. Perhaps it has some notifications in itself, otherwise we will see their APIs to get this notification.

[2015-10-19 12:55] SamCCSI opened #550 "MT not letting us reject pages that were submitted but weren't transcribed"
![screen shot 2015-10-19 at 8 55 02 am](https://cloud.githubusercontent.com/assets/12913915/10578277/27782166-763f-11e5-96d5-51739ef84eab.png)

[2015-10-19 13:03] SamCCSI commented on #550
Also, We have altered the PDF document to make it more readable / OCR processable. I assume it's ok to "change" the PDF to the new file, even with these MT pages pending? (OCR didn't work for the original file)

[2015-10-19 13:09] SamCCSI opened #551 "Can't identify specific MT HIT"
Hi Anders and Anjesh,

Are you able to help us with Charles' query below?

Sam

---------- Forwarded message ----------
From: Charles Nkurunziza <charles.nkurunziza@columbia.edu>
Date: Sat, Oct 17, 2015 at 4:53 PM
Subject: Re: Regarding Amazon Mechanical Turk HIT 3VGET1QSZ0NC15QDA9NC6BJ08QXW72
To: Sam Szoke-Burke <s.burke@columbia.edu>

Hi Sam,

I could not find this HIT in the MT: I checked every

[2015-10-19 13:16] jerico commented on #247
@anderspeders I used a separate service to monitor just the uptime of PH-EITI server and RC's API server. @anjesh's approached will give better information if something is not going right with the servers.

[2015-10-19 15:13] anderspeders commented on #550
Just to clarify, what does alter mean? Have you uploaded a new document?

(I was not even aware that this was possible).

[2015-10-19 15:16] anderspeders opened #552 "Bulk download of annotations across Advanced search and the specific contract view"
User request 1: As a user I would like to be able to download metadata and annotations for a contratcs in XLSX. This would likely be from the *contract view page*.

User request 2: As a user I would like to download annotations from the contracts I have captured in my search. This should be available form *advanced search*.

[2015-10-19 18:25] anderspeders opened #553 "Add disclaimer for French language for generic language to Mechanical turk"
DISCLAIMER - IF YOU ARE NOT A FRENCH SPEAKER PLEASE DO NOT COMPLETE TASKS FOR FRENCH LANGUAGE DOCUMENTS. DUE TO ERRORS BY PREVIOUS TRANSCRIBERS, WE ARE NOT IN A POSITION TO PAY FOR TRANSCRIPTIONS OF FRENCH LANGUAGE DOCUMENTS BY NON-FRENCH SPEAKERS.

[2015-10-19 19:40] byndcivilization commented on #479
just to be clear, as soon as possible this should not be something that falls to @anjesh and YI. Photo assests like the front page photo should be managed in the same way that FAQs and basic content are managed.

[2015-10-19 19:47] anderspeders commented on #479
Therefore @anjesh, could you please transfer the admin for the front page to CCSI. In this way CCSI can easily edit the last changes to the image on the front page, which is not acceptable at the moment.

[2015-10-19 21:19] SamCCSI commented on #550
Yes it's possible to replace the PDF. YI built in this feature recently.

@anjesh you are probably best placed to answer my query above? Thanks!

[2015-10-20 01:30] anjesh commented on #550
Yes the pdf could be replaced now as per this https://github.com/NRGI/resourcecontracts.org/issues/427#issuecomment-148681170

And it removes the existing pages (both pdf and text) and replaces them with the pages/text of the new pdf. Annotations and metadata remains as they are.

[2015-10-20 02:22] anderspeders commented on #234
What is the status here - can we have a check in on this feature?

[2015-10-20 02:26] anderspeders commented on #547
Will push this for sprint 11.

[2015-10-20 02:28] anderspeders commented on #542
As I understand this is where the search term "Philippines" has been found.

This would actually be a good screen shot to add to the admin guide and maybe the FAW section as well.

Could you add @charlesyoung?

[2015-10-20 02:31] anderspeders commented on #93
Have we pushed this to post-RC launch @byndcivilization @anjesh ?

[2015-10-20 05:35] jedm commented on #547
- Doesn't it make sense to have NRGI and CCSI as the contact, not YI? Unless they have an established CS function...?

- Period missing after first line of each message.

- I'd add a final line, "We apologize for any inconvenience."

[2015-10-20 05:48] jedm opened #554 "Consistency in reference to page #, section info and the word Resources"
@anderspeders and @byndcivilization, can we fix the varied formats and styling of page numbers and the widely variant use of the "Resource" category in the UI?

For the first, see these three screenshots. Should it be "Page" or "Pg" or "p?" Should the section info and page number be same or different color, use the colon or not? Though a small percentage of this is an artifact of the review proces

[2015-10-20 05:57] jedm commented on #554
Also, in the final screenshot above, note the two incorrect and also inconsistent search phrases. In the search box is says "Find a contract Hydrocarbons." I assume it should have a colon or add the word "in" or something. Please advise.

Then, below, the H2 says "Contracts of Hydrocarbons" (which sounds like a 1970s vinyl title or something). Maybe say "Contracts for Hydrocarbons" — which would b

[2015-10-20 12:04] anderspeders commented on #554
Thanks for flagging these,

I suggest the following streamlining. Let me know if I've missed something:
- Change: "Resource Type" --> "Resource"
- Change: "Contract with" --> "Contracts for"
- Change: "P" and "Pg" --> "Page"
- Change: "Find a contract [Resource]" --> "Find a contract in [Resource]"

As for "Contracts for Hydrocarbons" - I wonder if the best way would be to remove this sentence ent

[2015-10-20 12:38] SamCCSI commented on #550
Thanks Anjesh.

[2015-10-20 12:59] anjesh commented on #551
I couldn't find this task either. However the workers file is downloadable and was able to find this particular worker id

Customer ID: A22WGRWGSGRS18

![image](https://cloud.githubusercontent.com/assets/120488/10607598/5505e25a-775a-11e5-91c1-6017ffb2181d.png)

The work has neither been approved or rejected. Strange. Maybe we should ask the worker to send the screenshot of the HIT page with the p

[2015-10-20 13:16] anjesh commented on #547
That email is temporary only. Do provide the email address to replace that one.

[2015-10-20 13:19] anjesh commented on #542
That para is from the OCR text.

[2015-10-20 13:27] anjesh commented on #479
Right now there's some filter applied to the image in the CSS for olc. The image should have the proper dimensions. So you think it's ok to allow the admin to change the front page image directly?

[2015-10-20 13:55] anjesh commented on #485
Some of the pages have been optimized, and some normal js files are bundled and compressed. There are still some js (jsx ones from react) which need to be treated separately for compression.

[2015-10-20 13:57] SamCCSI commented on #551
Ok, @anderspeders could you please arrange for contact to be made with the MT operator as Anjesh suggests?

[2015-10-20 13:59] SamCCSI commented on #479
Hi Anjesh,

If your team tells us at CCSI exactly what you need, we can arrange for our
designer to deliver that to you. Whatever is easier - we just need to know
what info your team needs.

Many thanks!
Sam

On Tue, Oct 20, 2015 at 9:27 AM, Anjesh <notifications@github.com> wrote:

--

*SAM SZOKE-BURKE*
*Legal Researcher**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth

[2015-10-20 14:01] anjesh commented on #265
No. "Ready" means ready to begin working.

[2015-10-20 14:08] KaitlinCCSI commented on #479
And to provide further details - we are fine with how the image is cropped,
but we think it is now too dark. So we will be asking a designer to help us
figure out how to use the picture's original colors while ensuring the
words are legible. Hopefully it will be a simple fix.

On Tue, Oct 20, 2015 at 8:59 AM, SamCCSI <notifications@github.com> wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and Agric

[2015-10-20 14:09] KaitlinCCSI commented on #234
Also curious about this - haven't seen any further discussion about user needs/user stories and how comparison function will address these.

[2015-10-20 14:47] KaitlinCCSI opened #555 "Re-think metadata category - documents"
Need more thinking about how to explain distinction between "Document Type" and "Type of Contract", which is confusing for users. Any proposal from NRGI?

![screen shot 2015-10-20 at 9 31 18 am](https://cloud.githubusercontent.com/assets/14825437/10610906/70ba3348-770f-11e5-95ce-56d98c8ffabf.png)

[2015-10-20 22:11] SamCCSI commented on #480
This issue can be closed, thanks!

[2015-10-20 22:11] #480 closed

[2015-10-21 03:13] SamCCSI opened #556 "Bug has returned - reverse / upside down PDFs"
It didn't happen on these pages at first, but after typing in page number 23, and then typing number 3, when I hit enter it went to this back to front, upside down version:

![image](https://cloud.githubusercontent.com/assets/12913915/10626759/1d008f56-7780-11e5-826f-3fdfba51c4c2.png)

[2015-10-21 03:13] SamCCSI commented on #556
![image](https://cloud.githubusercontent.com/assets/12913915/10626765/26480530-7780-11e5-8044-2a4a2c54cc65.png)

[2015-10-21 03:26] SamCCSI commented on #556
This contract has the bug too. Again it happens when I type to, eg, the last page in contract, then click back to earlier pages: http://resourcecontracts.elasticbeanstalk.com/contract/1249/review

![image](https://cloud.githubusercontent.com/assets/12913915/10626945/f6fd0f6c-7781-11e5-9c2f-1ae4e678f769.png)

[2015-10-21 10:17] giorgiacek opened #557 "Elastic search filtered query returning no hits"
Not very experienced with elastic search, but trying to run a filtered query, and I get no hits, but yesterday morning it used to work, how is that possible?

    '{
    "query": {
    "filtered": {
    "query": {"term": { "signature_year": "2000"}},
    "filter": {
    "term": { "language": "english"}
    }
    }
    }
   }'

(sorry for bad styling)

[2015-10-21 11:24] #502 closed

[2015-10-21 11:26] charlesyoung commented on #458
@anderspeders any chance that this update can be done in Sprint #11?

[2015-10-21 11:27] charlesyoung commented on #448
Liked to Annotation module #519

[2015-10-21 11:27] #448 closed

[2015-10-21 11:28] #317 closed

[2015-10-21 11:28] #224 closed

[2015-10-21 14:12] anderspeders commented on #518
API seems to be out again. We really need a stable API (as soon as possible or) by Friday so that we can use this during the data dive next week.

@giorgiacek has more details.

[2015-10-21 14:35] jedm commented on #458
Whenever we are able to turn to this, there was good thinking by @anderspeders (in his OKF-consultant role) about user needs for search, sort and filtered results back in 2014. Those materials might be a good place to start.

[2015-10-21 14:41] anjesh commented on #518
http://api.resourcecontracts.org/ is working fine at my end. There's also second one http://rc-elasticsearch-api1.elasticbeanstalk.com/api/ which is different from http://api.resourcecontracts.org/ but both uses the same ES in the backend. ES is now scaled to 4 instances, so this should be stable.

By API out, what do you mean?

[2015-10-21 14:44] byndcivilization commented on #518
Did you do a reindex? Might have been an issue with unlucky timing. or maybe the call happened during the scaling event.
Seems to be working now.

[2015-10-21 14:46] giorgiacek commented on #518
It was definitely unlucky timing, it’s working again now.

[2015-10-21 14:47] anjesh commented on #518
we did re-indexing last friday and yes the index was changed because there required a remapping of some field. We will make sure that recent index is mentioned everytime it's changed here https://github.com/NRGI/resourcecontracts.org/wiki/Elasticsearch-Usage

Also we realize that when remapping is required for even one field, use of existing index gives some problems so we delete that one and crea

[2015-10-21 18:04] anderspeders commented on #505
thanks - looks good to me.

[2015-10-21 18:13] jedm commented on #528
Regarding the confusing two slashes (which, per earlier Issue) were not public-facing in our original site, can a fix be done either to hide or demote the second language as was done in left column of Contract view? @byndcivilization

[2015-10-21 18:14] jedm commented on #543
Suggest that search results have a UI more similar to annotation column for consistency.

[2015-10-21 18:18] jedm commented on #441
This is a fantastic idea! Would advise this page -- and other new pages -- be considered in the context of a plan to create real Navigation UX. Footer is already getting crowded. :)

[2015-10-21 21:42] JesseCCSI opened #558 "Source > Disclosure Mode"
Currently, we have three options from a dropdown under "Disclosure Mode": Government/ Corporate/ Other (first screenshot below). We'd like to make the following changes to give users more info:

1. Change "Corporate" to "Company"
2. Where we select "Other", please add a free text box to provide further details on the nature of the Source

Also, can we make the Disclosure Mode field appear on the c

[2015-10-21 21:59] JesseCCSI opened #559 "Associated documents box in summary view page"
Where there are no associated docs, can we change the phrase that appears in the box to "There are currently no publicly available associated documents" rather than the phrase that appears now (highlighted in screenshot)

cc @KaitlinCCSI @samCCSI

![screen shot 2015-10-21 at 00 16 33](https://cloud.githubusercontent.com/assets/14910764/10651416/69f252c0-781d-11e5-9418-67199b15cdd8.png)

[2015-10-22 01:47] SamCCSI opened #560 "Annotation module - Clicking on “by page” or “by category” doesn’t do anything."
Clicking on “by page” or “by category” doesn’t do anything.

[2015-10-22 01:47] SamCCSI opened #561 "Annotation module - Clicking on annotation category takes me to the page, but not to the highlighted part of the page."
Clicking on annotation category takes me to the page, but not to the relevant part of the page.

[2015-10-22 01:48] SamCCSI opened #562 "Annotation module - linking one annotation to multiple pages"
Still no way to link one annotation to multiple pages. The annotations column will group multiple annotations listed under the same category, but they still appear as separate annotations.

[2015-10-22 01:49] SamCCSI opened #563 "Annotation module - list of all annotations on the right hand column missing"
On back-end, The list of all annotations on the right hand column (with options to see which have been entered and which have not) is missing?

[2015-10-22 01:52] SamCCSI opened #564 "Annotation module - all annotations are listed as appearing on Page 1"
On back-end and front-end, all annotations are listed as appearing on Page 1, which is wrong.
This doesn’t appear to happen when you annotate the PDF rather than the OCR text.

![screen shot 2015-10-20 at 2 03 19 pm](https://cloud.githubusercontent.com/assets/12913915/10654926/f8e0e56c-783d-11e5-90bc-0f97a90e810c.png)

[2015-10-22 01:54] SamCCSI opened #565 "Annotation module - annotation categories are different from our approved list"
Some of the annotation categories are different from those on OLC’s front end - e.g. “3. Developers financial obligations” is not an annotation category. If it was one it should not have a “3. ” at the beginning and needs an apostrophe inserted so that it reads “developer’s”.

![screen shot 2015-10-20 at 2 33 19 pm copy](https://cloud.githubusercontent.com/assets/12913915/10654968/45fbdf14-783e-11

[2015-10-22 01:55] SamCCSI opened #566 "Annotation module - Other issues with current annotation workflow"
Other issues with current annotation workflow (that didn’t exist with our previous workflow):
1. No spell check feature - is this slated for inclusion?
2. Reviewers can only comment in one place for all annotations, as opposed to being able to comment on an individual annotation. Are you planning on building in the ability of reviewers to comment on individual annotations?
3. Is there a way to che

[2015-10-22 01:59] SamCCSI opened #567 "Annotation module - selected OCR text shows beside the Article number"
When I publish annotations, the selected OCR text (that has been selected for the purpose of adding the corresponding annotation) shows beside the Article number.

This is very messy and takes up valuable space.

Is this feature intended? Our preference is to not have the selected text appear in the left column.

cc @jesseccsi

[2015-10-22 02:00] SamCCSI opened #568 "Annotation module - annotation box isn’t easily moved around the page"
The annotation module box isn’t easily moved around the page - e.g. if you’re annotating something at the top of a page, the top of the box tends to be cut off. When you try to move the annotation box, it tends to jump around the page. See screenshot below.

![image](https://cloud.githubusercontent.com/assets/12913915/10655058/2ed038b6-783f-11e5-939c-32c6c7d69d5f.png)

[2015-10-22 02:05] SamCCSI commented on #568
cc @jesseccsi

[2015-10-22 02:59] anderspeders commented on #567
Thanks Sam,

Could you add a screen shot here off the text in question - to make sure we remove the right part?

[2015-10-22 03:06] anderspeders commented on #564
@anjesh do we know what happened here?

[2015-10-22 03:07] anderspeders commented on #561
this seems to be the same issue as for the front page.

[2015-10-22 03:09] anderspeders commented on #558
@anjhero Could you help accomodate the UI request here for the Contract view page right bar;
"Also, can we make the Disclosure Mode field appear on the contract view page in righthand column at bottom of metadata (under OCID) (second screenshot)."

![image](https://cloud.githubusercontent.com/assets/1101585/10656043/d266c450-7848-11e5-9bf9-c806e8680246.png)

[2015-10-22 03:11] anderspeders commented on #556
@anjesh Any idea how this has reappeared as an issue?

[2015-10-22 03:18] anderspeders commented on #559
Not to be picky, but would ask if we could find a more simplified language than: "There are currently no publicly available associated documents"

How about simply: "No associated documents available"?

[2015-10-22 03:29] anderspeders commented on #533
Has this been implemented?

[2015-10-22 07:20] anjesh commented on #533
Yes the notifications are now sent to those mentioned emails.

[2015-10-22 07:20] #533 closed

[2015-10-22 12:00] JesseCCSI commented on #567
Hi @anderspeders

Please see screenshot below. The text we'd like to remove is the text that comes after the article number (in this case Art. 5, starting with "Clause (5) - The Republic of Sudan..."). What seems to happen is that, after the article number, the highlighted OCR text is repeated.

The screenshot also shows that, despite having highlighted text over two pages, only one page appears i

[2015-10-22 12:21] SamCCSI commented on #533
Thanks, Anjesh.

Can we please alter this so that the MT notifications are NOT sent to the person who submitted them?

Only to the following people:

For OLC: Sam (s.burke@columbia.edu) and Rashida Williams (rkw2119@columbia.edu)

For RC: Sam (s.burke@columbia.edu) and Charles Nkurunziza (charles.nkurunziza@columbia.edu)

[2015-10-22 13:28] charlesyoung opened #569 "Fields duplicated between metadata and annotation"

[2015-10-22 13:29] charlesyoung opened #570 "Document Administrators Annotation Guide"
Requested by PH-EITI

[2015-10-22 14:26] JesseCCSI opened #571 "Annotation module - attaching annotations to corresponding OCR text and PDF"
When you annotate a contract by attaching annotations to the PDF, the annotation does not appear to attach to the corresponding OCR text (and the relevant OCR text is not highlighted). So if a user is reading the annotations alongside the OCR text, and clicks on e.g. Page 2 under an annotation in the left hand column, this will take them to the relevant PDF page, not the relevant OCR text.

The vi

[2015-10-22 14:28] JesseCCSI commented on #559
Thanks for the suggestion @anderspeders we'll go with your shortened version ("No associated documents available")

[2015-10-22 14:34] JesseCCSI commented on #562
A related point: when we are annotating a PDF, there doesn't appear to be a way to make the yellow marker extend over text that runs across multiple pages.

[2015-10-22 15:28] JesseCCSI commented on #483
Hi @anderspeders do you know if there is a solution for this yet? Many thanks.

[2015-10-22 15:32] anderspeders commented on #559
Sounds good.

Anjesh please go ahead.

[2015-10-22 15:45] SamCCSI commented on #562
One idea for how this could work:
add a button to the annotation window asking whether annotator would like to add another page / text selection to that specific annotation. Annotator clicks that button, and then can select more text / add in another PDF reference point. All age refs / text selection refs would then link back to the one annotation.

![screen shot 2015-10-22 at 11 41 15 am](https:/

[2015-10-22 15:47] SamCCSI commented on #562
Here is the same screenshot but for PDF annotation (rather than OCR annotation):

![screen shot 2015-10-22 at 11 45 34 am](https://cloud.githubusercontent.com/assets/12913915/10670240/a1199f16-78b2-11e5-8f9d-054e228218bc.png)

[2015-10-22 16:13] JesseCCSI opened #572 "Liberia Tarpeh Timber Corp > annotations mapping to non-existent page"
The "Signatories, state" and "Signatories, company" fields are mapping to page 38/37. They should map to page 37. I tried changing this through the annotation content editing module, but was unable to do so (as the yellow placemarkers for these annotation categories don't show up).

http://www.openlandcontracts.org/contract/ocds-591adf-LR2308129439OL/view#/pdf/page/38/annotation/25019

![screen sh

[2015-10-22 16:24] SamCCSI commented on #572
A related need:

As an annotator I need to be able to edit page numbers of previously entered annotations (both for text annotations and PDF annotations).

[2015-10-22 16:26] JesseCCSI opened #573 "Editing existing annotation page numbers"
Is it possible to change the page numbers to which existing annotations are mapping? Several annotations map to incorrect page numbers. Would be useful to have the ability to edit page numbers through the "annotation box", e.g. see screenshot.
![screen shot 2015-10-22 at 12 25 02](https://cloud.githubusercontent.com/assets/14910764/10671332/10fe9b74-78b8-11e5-9581-b3477e95a805.png)

cc @samCCSI

[2015-10-22 18:35] SamCCSI opened #574 "Time sensitive: replacing PDF file on already published contract"
http://resourcecontracts.elasticbeanstalk.com/contract/1154
http://www.openlandcontracts.org/contract/ocds-591adf-CD7865236004OL/view

The PDF file for this contract had a repeated page, which meant that all annotation page references were inaccurate.

We just clicked on "change" and uploaded a new PDF file. Initially after doing this, all metadata and annotations disappeared:

![image](https://cl

[2015-10-22 19:00] anderspeders commented on #574
I cannot tell but refer to Anjesh.

[2015-10-22 21:27] jedm commented on #265
If time permits, @anjesh , feel free to post a screenshot or sketch of the planned UI of share tools, in case we can save time and cycles by helping with comments before deployment.

[2015-10-23 01:18] KaitlinCCSI commented on #556
Please fix as soon as possible

[2015-10-23 01:58] JesseCCSI commented on #571
A couple of points to clarify the above:

1. We'd like the links to be "3-way", i.e. links between the annotations, the OCR text, and the PDF.
2. When a user clicks on a PDF annotation topic while in PDF view, ideally the contract would auto-scroll to where the annotation is located on the PDF. When the user switches to text view, this view should also automatically scroll to the specific part of

[2015-10-23 03:37] anjesh commented on #574
Replacing the pdf will not alter metadata and annotations. It just replaces the existing pages. When the pdf is uploaded, it deletes the existing text content as well and for the time being annotations will not appear because there are no references to these annotations - as the pages are missing. Once the pdf processing is complete, annotations will also appear.
It's safe to re-publish the contra

[2015-10-23 03:49] anjesh commented on #571
OCR text and pdf are different entities and there's no relation between the two except for the page number. Ideally all the annotations should have been done in the OCR text as per my original discussion. However we enabled PDF annotations to accommodate the previous resourcecontracts annotations.

That is because that particular annotation is done in the PDF. In Pdf annotation position is calcula

[2015-10-23 04:00] anjesh commented on #556
Page upside down is caused when the the pdfjs (library we used to render pdf) attempts to render the multiple pdf pages at the same time. We had fixed this by cancelling the pdf load (hence cancelling the pdf render) if the next page is clicked. However sometimes when the pdf is already loaded but not rendered yet, it can't be cancelled, and that might have caused the upside down render. I haven't

[2015-10-23 04:04] anjesh commented on #573
Currently you cant' do that. You will have to delete and create new one in new page.
The specific reason being the position of the annotation in the pdf. We could have this but the position will remain the same in the new page. We are thinking of adding the feature to move the annotation box (yellow rectangle) within the page - but that will take time to do.

cc @anderspeders

[2015-10-23 04:10] anjesh commented on #572
@JesseCCSI This might have been because annotation was imported from excel and pdf might have been changed/replaced from the original one. For now we can fix this directly from the backend. Shall we?

Editing page number for text annotation is not possible because of the way annotation is stored for text (as xpath). But this is something that could be done in pdf. Commented here https://github.com

[2015-10-23 04:16] anjesh commented on #562
One possibility here is to have the same text for these multiple annotations and the system will recognize the same text and show the multiple annotations as a single but referenced in different pages like this one (see Term)
![image](https://cloud.githubusercontent.com/assets/120488/10684428/9cf9bd7a-7912-11e5-825c-aef9884560e3.png)

The one @SamCCSI suggested is something @charlesyoung  and I ha

[2015-10-23 04:18] anjesh commented on #483
We will need to change the existing editor (or add plugins in the existing one). If there's anything urgent, let us know, otherwise we will have this covered in next sprint.

[2015-10-23 04:27] anjesh commented on #567
We added the selected text as well because there were few annotations (probably test ones) which doesn't have any annotation text. So we thought there might be just selected-text only and the category, and annotation text could be omitted.

It only shows page 1, because it's the continuation of the annotation from page 1. Adding page 2 to that annotation means there will be two entries of annotati

[2015-10-23 04:30] anjesh commented on #564
Can you also post the link when you are adding the screenshot from next time? It's difficult to get to the exact document from the screenshot only.

[2015-10-23 04:33] anjesh commented on #564
i can't this contract. Please share link.

[2015-10-23 10:08] jedm commented on #571
Hi, @anjesh. The desired "3-way" behavior was broken down in #389 . The primary user story is simply that as a government, civil society or other reader (e.g., researcher, journalist) I want to know the location AND the contents of a contract term so that I can better understand the meaning of the contract through reference to the original text by knowing the term's location in the original signed

[2015-10-23 12:01] KaitlinCCSI commented on #571
And to add to Jed's comment, annotations and their links to original
contracts are one of the most valuable features for all of the identified
user profiles, as the annotations help users understand the contract, but
the link between the annotations and the contract is crucial for a user's
ability to check and locate the original language.

On Fri, Oct 23, 2015 at 5:08 AM, jedm <notifications@gith

[2015-10-23 12:06] KaitlinCCSI commented on #567
Re adding selected OCR text - OCR text should never be included in the left-hand annotations column. If there are no annotations for a contract, the left column should just not include anything. Annotations are summaries of contract text, but they are not the contract text themselves, so auto-populating the annotation column with contract text does not make sense.

[2015-10-23 12:08] KaitlinCCSI commented on #573
Being able to move the annotation box within the page would be extremely useful.

[2015-10-23 12:14] JesseCCSI commented on #573
Thanks @anjesh - just to confirm - when we want to change the PDF page, we need to delete the annotation and create a new one on the correct page?

I'll defer to @KaitlinCCSI but one solution could be having both options that you mentioned and using them together, i.e. (i) having the option to change the PDF page with the position of the yellow rectangle remaining the same, and (ii) subsequently u

[2015-10-23 12:19] JesseCCSI commented on #574
Thanks @anjesh - when we replaced a contract yesterday, it took a couple of minutes but eventually the PDF was replaced with the new uploaded file without us clicking publish. The relevant contract (http://www.openlandcontracts.org/contract/ocds-591adf-CD7865236004OL/view#/pdf/page/1/annotation/22843) was already published before we changed the file - maybe that explains why the PDF was automatica

[2015-10-23 12:21] JesseCCSI commented on #572
Please do @anjesh thanks. Have commented re editing page numbers in #573

[2015-10-23 12:22] KaitlinCCSI commented on #573
I think finding some way to ensure that we can place annotation boxes
accurately is important; if Jesse's proposal is the only viable one, then I
would agree with it, though if there is a more simple way to do this, that
would obviously be preferable. Being able to change the annotation box
location is important for the reasons I mentioned in #571 - annotations are
valuable, and part of their valu

[2015-10-23 12:35] JesseCCSI commented on #562
Thanks @anjesh. Re this:

"A related point: when we are annotating a PDF, there doesn't appear to be a way to make the yellow marker extend over text that runs across multiple pages."

How do we make the yellow rectangle extend across more than one page?

[2015-10-23 12:43] anjesh commented on #562
I am afraid that can't be done with the existing annotation module we are using. Because of that feature lacking, we are not doing pdf-scroll like text-scroll (which was also used to be page-wise display for the texts). I think we should be able to extend the yellow box within the page only and not across, with the existing modules we are using.

cc @byndcivilization

[2015-10-23 12:46] anjesh commented on #573
I get that. This might take some time to implement but i will try to see if this could be done in Sprint 11 - atleast research or mock implementation will be done in sprint 11 if it appears to take time. Will keep you updated.

[2015-10-23 12:50] anjesh commented on #574
Ok I get you now. There's only one copy of pdf files in S3 server. If you change the pdf, then those pdf pages will change in both admin and subsite, as we are using pdf urls - which in this case is already published when text is published. Beside that,  text, annotations, metadata shouldn't get updated without re-publishing.

[2015-10-23 12:50] anjesh commented on #567
Ok. Will fix that.

[2015-10-23 12:52] SamCCSI opened #575 "search terms that contain "/" result in error"
I searched for jeb/2008 to try and find a DRC contract. it resulted in an error message.

![screen shot 2015-10-23 at 8 51 25 am](https://cloud.githubusercontent.com/assets/12913915/10693016/6702d3f4-7963-11e5-8d06-8079818374d4.png)
![screen shot 2015-10-23 at 8 51 33 am](https://cloud.githubusercontent.com/assets/12913915/10693017/68e3f216-7963-11e5-8b6a-b9b9a71b87c9.png)

[2015-10-23 12:53] SamCCSI commented on #564
Apologies - http://resourcecontracts.elasticbeanstalk.com/contract/1134/annotate

[2015-10-23 12:57] SamCCSI commented on #556
Radnom - Couldn't replicate it today

On Fri, Oct 23, 2015 at 12:00 AM, Anjesh <notifications@github.com> wrote:

--

*SAM SZOKE-BURKE*
*Legal Researcher**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
Level 1, Warren Hall, 410 W116th St. New York, NY 10027
| (212) 854-2635 <212-854-2635> | (646) 630-4123 <646-630-4123>
| s.burke@columbia.

[2015-10-23 12:57] SamCCSI commented on #556
*Random

On Fri, Oct 23, 2015 at 8:57 AM, Sam Szoke-Burke <s.burke@columbia.edu>
wrote:

--

*SAM SZOKE-BURKE*
*Legal Researcher**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
Level 1, Warren Hall, 410 W116th St. New York, NY 10027
| (212) 854-2635 <212-854-2635> | (646) 630-4123 <646-630-4123>
| s.burke@columbia.edu
| www.ccsi.columbia.e

[2015-10-23 13:14] anderspeders commented on #575
To understand where the error is: Can you point to a published OCR text or annottion where " jeb/2008" should be found?

I noticed that this DRC contract - for example - has not been published as text: http://www.openlandcontracts.org/contract/ocds-591adf-CD0848066778OL/view#/text

[2015-10-23 13:46] SamCCSI commented on #575
There may not be a contract containing that text yet, so no I can't.

I just wanted to bring to your attention that searches like that can
produce error pages, instead of the page that explains that there is no
contract that contains that search term. And surely if there is no contract
featuring the search term, that error page is not what we want users to be
presented with.

On Fri, Oct 23, 2015

[2015-10-23 13:52] anderspeders commented on #575
Ok, got it.

[2015-10-23 13:58] KaitlinCCSI commented on #573
Great, thank you!

On Friday, October 23, 2015, Anjesh <notifications@github.com> wrote:

--

*KAITLIN Y. CORDES*

*Head: Land and Agriculture**Columbia Center on Sustainable Investment*
Columbia Law School - The Earth Institute, Columbia University
435 West 116th St. New York, NY 10027
| +1 (917) 658 5172
| kaitlin.cordes@law.columbia.edu
| www.ccsi.columbia.edu | @CCSI_Columbia <https://twitter.

[2015-10-23 14:02] JesseCCSI commented on #574
Thanks for clarifying @anjesh so when we hit "Publish all" on this contract, the annotations and metadata that existed before will be retained, in addition to the new PDF? Want to make sure that the annotations and metadata don't disappear when we click publish.

http://resourcecontracts.elasticbeanstalk.com/contract/1154

![screen shot 2015-10-23 at 10 01 25](https://cloud.githubusercontent.com/a

[2015-10-23 14:10] SamCCSI opened #576 "Mechanical turk page not auto-refreshing"
I submitted 4 or 5 more contracts to MT yesterday evening, but these are still not displaying on the page of contracts submitted to MT:
http://resourcecontracts.elasticbeanstalk.com/mturk

This makes it very hard for us to keep track. Is there a way this could be improved?

[2015-10-23 14:28] anjesh commented on #576
Can you list those contracts here? I will have a look and try to send to Mturk. I am not sure how that is happening.

[2015-10-23 14:39] SamCCSI opened #577 "PDF page and OCR text page not automatically linked."
As a reader of the site, I want to be able to visit a PDF page and then click 'text' and be automatically taken to the same numbered page of the text file.

Right now if I am on, e.g. page 12 of PDF and then click to Text view, it takes me to p. 1. I want it to automatically take me to p. 12.

Experience taken from navigating this contract:
http://www.openlandcontracts.org/contract/ocds-591adf-CD4

[2015-10-23 14:45] SamCCSI commented on #576
Hi Anjesh,

I'm not sure if you did anything at your end, but I think the page is
displaying them now. (alternatively, I might just have been confused
because the contracts are not ordered by date submitted, or alphabetically).

One example is: Liberia, Sun Yeun Corporation, Timber Sale Contract, TSC
Area A-16, 21 July 2010
<http://resourcecontracts.elasticbeanstalk.com/mturk/1177> which I
submitt

[2015-10-23 14:45] #576 closed

[2015-10-23 16:01] anjesh commented on #576
I haven't done anything. I was also thinking if it's the sorting order. Will have sort functionality when we have the new interface for Mturk.

[2015-10-23 17:24] anjesh commented on #557
You have to use code for language. I tried this and it worked

[code]

I find this easy to follow - gives the same results
[code]

[2015-10-23 17:35] anjesh commented on #557
https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-bool-query.html

[2015-10-23 20:08] KaitlinCCSI opened #578 "Contract flashes error message before loading"
http://www.openlandcontracts.org/contract/ocds-591adf-LR9409426421OL/view#/pdf/page/18/annotation/24055

I opened this contract view page 2x; both times, an error message flashed and then the contract loaded. Is there a bug that makes this message appear if a PDF is loading slowly? Should be fixed - either no message, or a message saying that the contract is loading (not that there is an error).

[2015-10-23 20:13] KaitlinCCSI commented on #578
Actually it seems that every contract I open on OLC has this. There message is something along the lines of "We're sorry, there is a problem. Please check back later", which obviously is not useful in this situation since the contract then loads.

[2015-10-23 20:38] KaitlinCCSI opened #579 "advanced search dropdowns on advanced search page loading very slowly on RC alpha site"
Contracts themselves seem to load fast, but took a surprisingly long time for the dropdowns to load, and longer than I've noticed on OLC.

[2015-10-23 20:42] KaitlinCCSI opened #580 "Selecting contracts/annotations based on language"
It would be useful to present a way to find contracts in 1 or more specified languages. As a user, I might only want English-language contracts; French-language contracts; Spanish-language contracts; or some combination.

This could potentially be a dropdown on advanced search page, but presume there are also other ways to provide this filtering option.

[2015-10-23 21:49] anjesh commented on #574
Annotations and metadata don't disappear when you click publish. Make sure that the pdf is processed before you do the re-publishing just to ensure that there are no sideeffects.

[2015-10-23 21:51] JesseCCSI commented on #574
Great thanks for clarifying @anjesh

[2015-10-23 22:57] anjesh commented on #559
Fixed.

[2015-10-23 22:57] #559 closed

[2015-10-23 22:57] anjesh commented on #554
Consistent use of the words as mentioned above. Need to some styling in the annotations list page in contract summary page.

[2015-10-23 22:58] anjesh commented on #518
Please reopen if you find issues in api again.

[2015-10-23 22:58] #518 closed

[2015-10-23 23:02] jedm commented on #554
Looks like one of my messages didn't come through. I posted it by email which may have been the problem:

* On that last point, I think that the repetition is unfortunate but that the big empty white space would look worse. So I advise keeping it.

* Perhaps the gray text inside the search bar could be changed to only the search term, which is something that is pretty standard on other sites: disp

[2015-10-23 23:08] anjesh commented on #554
Are you talking about this page only http://www.openlandcontracts.org/resource/Agroindustry? Sorry I am confused over those points.

[2015-10-23 23:33] anderspeders commented on #580
I think this could be done quite easy through the advanced search page.

[2015-10-23 23:34] anderspeders commented on #579
Thanks for flagging!

[2015-10-24 02:26] jedm commented on #554
@anjesh, my apologies. I did not understand that in this scenario the search box is a search on results (a filter on a filter, sort of). In this case, the prompt next to the magnifying glass should say "Search within [TAG] contracts"

[2015-10-24 08:50] giorgiacek commented on #557
Hi Anjesh, yes eventually I figured that out. The problem that day was just bad timing because I think you were re-indexing or something. Even with that call, I would have empty results. But now it is working.

[2015-10-24 13:18] #574 closed

[2015-10-24 13:19] anjesh commented on #557
closing this now.

[2015-10-24 13:19] #557 closed

[2015-10-24 14:28] SamCCSI opened #581 "MT error - "Assignment could not be approve.""
System not letting me approve pages that have been processed in MT
http://resourcecontracts-demo1.elasticbeanstalk.com/mturk/36/1109
![screen shot 2015-10-24 at 10 26 10 am](https://cloud.githubusercontent.com/assets/12913915/10710936/ed5d14ce-7a39-11e5-9ffa-d9846dd4ac84.png)
![screen shot 2015-10-24 at 10 27 25 am](https://cloud.githubusercontent.com/assets/12913915/10710937/f16a43c0-7a39-11e5-9d

[2015-10-24 14:30] SamCCSI commented on #533
I just received a notification for an OLC contract that was only addressed to me, whereas it should have also been addressed to Rashida.

Can you check whether the system is sending each notification for OLC contracts to both of us as per my previous comment?

Many thanks,
Sam

[2015-10-24 19:45] anderspeders opened #582 "Random error when adding new contracts in the backend"
http://resourcecontracts.elasticbeanstalk.com/contract/1268 - should have been loaded but is unavailable.

[2015-10-24 22:34] anjesh opened #583 "OCID for supporting contracts should follow new structure"
When supporting documents are added, they shouldn't get new OCID but should be an extension of the parent OCID. It should follow the following structure.

`parentOCID-releaseid`

Release id could be anything. For ease, we could use auto-increment id assigned to each contract.

[2015-10-24 22:36] anjesh commented on #582
It appeared when edited and saved. However there seems to be some problem when adding new contract.

[code]

![image](https://cloud.githubusercontent.com/assets/120488/10713104/ae100a9c-7a75-11e5-961f-4afaf38461ed.png)

[2015-10-25 01:34] jedm commented on #577
@anjesh and @anderspeders I should have noted this in #389 (and your follow-up thread #471). If user tries to switch between TXT and PDF and loses his/her place, that's going to confuse them significantly. It's especially rough UX because the left column does _not_ drop back to top even thought the center pane does. Until this can be fixed, it may be good to flash message in same style as disclaim

[2015-10-25 01:42] jedm commented on #355
This is not working for me on RC (alpha) or OLC (live). Clicking into a specific contract gets a blank page with footer. (Safari 8.0.8, OS X 10.10.5)

http://alpha.resourcecontracts.org/contract/ocds-591adf-MA4899997941RC/view
http://alpha.resourcecontracts.org/contract/ocds-591adf-BI3799217198RC/view
http://www.openlandcontracts.org/contract/ocds-591adf-CD4492231156OL/view
http://www.openlandcont

[2015-10-25 02:00] KaitlinCCSI opened #584 "Annotation links to PDF not intuitive (particularly when annotation at bottom of page)"
When you click on an annotation field, it takes you to the correct page of the contract where the content annotated can be found (when working correctly). However, when the page pulls up, all you see are the yellow boxes, with no information unless you hover over the box. This is confusing when there are multiple yellow boxes on the page, as a user has to then hover over each yellow box to find th

[2015-10-25 02:06] KaitlinCCSI commented on #577
Ideally, user would not lose place when switching between PDF and OCR, and there would be no need for left column to drop back to beginning.

Until that can happen, I agree that message explaining "Returning to beginning of contract" would be useful IF each time you switch to OCR text you are actually taken to the beginning of the contract. I just checked, and it seems that switching between PDF a

[2015-10-25 12:58] anderspeders opened #585 "Update import contracts template"
The template should include all metadata fields excl.:
- OCID
- Contract identifier

[2015-10-25 16:48] anjesh commented on #585
During upload need to make sure that the date is stored as yyyy-mm-dd. There are instances when the date is stored as mm/dd/yyyy, hence breaking the es-indexing process.

[2015-10-25 17:25] anderspeders opened #586 "Review: Contract type metadata field"
Many contracts provided from uploaders show "contract types" which do not fit within the current taxonomy. It would be worth considering how the contracts can mapped without missing out on the country based context.

Exploration, Explotation Services Contract
Assessment, Development and Production services Contract
Exploration, Development and Production Services Contract
Exploration, Exploitation

[2015-10-25 17:27] anderspeders opened #587 "Project name lookup against RP.org"
Create a lookup function in the metadata form to match against "project name" and project aliases in ResourceProjects.org.

[2015-10-25 19:17] anjesh commented on #587
By Tim,

The following sparql query searches for projects with a given name (included in the bottom of the query)

[code]

Run this against http://alpha.resourceprojects.org/sparql/

[2015-10-25 19:23] anderspeders opened #588 "Government entity lookup against pool party sparql endpoint"
1) Beate at JDA to provide link
2) YI to implement

Government entity field also need an "Other" field.

[2015-10-25 19:25] anjesh commented on #586
See type of contract codelist here https://docs.google.com/spreadsheets/d/1tRRcib0VNynipkk83m4Be1vRaSslCKHzoIxmmC1oPLQ/edit#gid=0

[2015-10-25 20:32] anjesh commented on #587
Here's the dev api for the lookup, that gives the following response.

http://84.45.121.135:8081/project.json?country=PE&search=Ani

Here country is optional, but we will use it for the lookup to reduce the number of matches.

[code]

@anderspeders shall we disable project-identifier field and only allow the users to retreive from the rp api? The uploaders will have no idea of the identifier as it

[2015-10-25 21:12] anderspeders opened #589 "Add data field on "Total contract value""

[2015-10-25 22:17] anderspeders commented on #585
Yes, we need to provide a guide for data load.

Additionally on the load template I would suggest that we harmonize the headers to the current headers in the metadata download CSV file that users get from the advanced search page.